body{
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	-webkit-font-smoothing: antialiased;
	height: 100%;
	height: 100%;
	background: #ffffff;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	font-family: Lora, serif;
}

h1, h2, h3, h4, h5{
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	text-decoration: none;
	color: #336699;
}
a:hover{
	text-decoration: underline;
}

header{
	height: 1000px;
	height: 100vh;
	background: #1a1a1a;
	position: relative;
	color: #fff;
	margin-bottom: 4%;
	overflow: hidden;
}

h2 sup{
	font-size: 20px;
}

table td {
	vertical-align: top;
	padding: 15px;
}
table tr:nth-child(even){
	background-color: #EEE;
}

#coverList{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

#coverList li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: none;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

#coverList:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: rgba(0,0,0,0.35);
	 *, color-stop(.5,#333333) */
	background-image: -webkit-gradient(
	  linear, left top, left bottom, from(rgba(0,0,0,0.0)),
	    to(rgba(0,0,0,0.5))
		);
}

#overlay{
	position: absolute;
	bottom: 0;
	padding-bottom: 4vh;
	left: 0;
	width: 100%;
}

#overlay h1{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 40px;
	line-height: 6vw;
	color: #ddd;
	margin: 0 0 0 0;
	text-align: center;
	text-shadow: 2px 2px 8px #666;
}

#overlay .excerpt{
	font-family: Lora, serif;
	font-style: italic;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	color: #ddd;
	margin-bottom: 0;
	margin-top: 3vw;
	text-align: center;
	text-shadow: 2px 2px 8px #444;
}

#overlay .byline{
	font-size: 12px;
	letter-spacing: 2px;
	font-style: normal;
	text-transform: uppercase;
	text-align:center;
	text-shadow: 1px 1px 4px #444;
	margin-top: 2vw;
}



.date{
	font-size: 12px;
	letter-spacing: 2px;
	font-style: normal;
	text-transform: uppercase;
}

.half{
	width: 50%;
	float: left;
}

.clear{
	clear: both;
}

/*
.panel h2{
	font-family: Lora, serif;
	font-style: italic;
	font-size: 34px;
	margin-left: 2%;
	margin-right: auto;
	margin-bottom: 1%;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 1px;
	text-align: center;
}

.panel h3{
	margin-left: 2%;
	margin-bottom: 1%;
}
.panel .story{
	margin-left: 2%;
	margin-right: auto;
	margin-bottom: 2%;
	font-style: italic;
}
*/
.haiku{
	text-align: center;
	white-space: pre-wrap;
	margin-left: 2%;
	margin-right: auto;
	margin-bottom: 2%;
	margin-top: 2%;
	font-style: italic;
	font-size: 20px;
}

.square{
	width: 25%;
	padding-bottom: 25%;
	position: relative;
	overflow: hidden;
	float: left;
	box-sizing: border-box;
	background-color: #292525;
	background-position: center center;
	color: #FFF;
}

.square .haiku{
	padding: 30px 15px;
	margin: auto;
}

.square .bg{
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #303030;
	background-size: cover !important;
	background-position: center center;
	text-shadow: 2px 2px 3px #333;
}
.square a{
	text-decoration: none;
}

.square .description{
	top: initial;
	bottom: 0;
	height: 100%;
	padding: 60% 0 0 0;
	color: #fff;
	text-align: center;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

.square .description:hover{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,1.0) 100%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
}

.square h4{

	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 0;
	text-decoration: none;
	font-style: normal;
}

.square h5 {
	font-family: Lora, serif;
	font-style: italic;
	font-size: 15px;
	font-weight: 400;
	margin: 0 auto 2%;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fleuron{
	font-family: "Roboto Condensed", sans-serif;
	text-align: center;
	font-size: 26px;
	color: #444;
	margin-top: 40px;
	margin-bottom: 20px;
}
.fleuron::before{
	content: "\2766"; //&#10086;
}
.group{
	position: relative;
	text-align: left;
	width: 80%;
	margin: 0px auto;
	margin-bottom: 6%;
}
.group h2{
	line-height: normal;
	font-size: 39px;
	word-wrap: break-word;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 3px;
}
.group h3, .group h4{
	word-wrap: break-word;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
	color: #000;
}
.group .subline{
	font-size: 12px;
	letter-spacing: 1px;
	font-style: normal;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}

.group .story{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	text-align: justify;
}

.group .photoset{
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin-bottom: 3%;
}

.photoset.wide{
	margin-top: -4%;
	margin-bottom: 6%;
}


.photo{
	position: relative;
	float: left;
	overflow: hidden;
	cursor: pointer;
}
.photo .img {
	border: 5px solid #fff;
}

.group .videoset{
	margin-bottom: 3%;
}

.videoset img{
	cursor: pointer;
}

.video{
	width: 100%;
	margin: 5px 0 3% 0;
}

.video.cont{
	margin-top: -3%;
	padding-top: 10px;
}

.video iframe {
	height: 45vw; width:100%;
}

footer {
	margin-top: 6%
}
footer ul {
	list-style: none outside none;
}
footer ul li{
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
}

#copyright{
	text-align: center;
	padding: 20px 0;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-top: 1px solid #DDD;
}
#copyright a{
	text-decoration: none;
	color: #000;
}

.elvin {
	/*
	background-image: url(http://4.bp.blogspot.com/-mCIEAJG5-9w/VTMkg4iHR7I/AAAAAAAA6_s/A9SL7TL-ivg/s80/elvin80.jpg);
	*/
	background-image: url(https://2.bp.blogspot.com/-qaMNUDTeBe8/WAovzDWGx6I/AAAAAAABaOc/A08ya5a-RucDHG_Izic2tQbpmgWHyMjkwCLcB/s50/elvin.jpg);
	transition: background 0.1s linear;
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
	box-shadow: 4px 3px 15px #aaa;
	margin: 7px 15px 3px 7px;
	float: left;
}
.ellis {
	background-image: url(https://1.bp.blogspot.com/-uXc8kTCEhOw/V_jFF0kNMII/AAAAAAABaIE/PPBCrFtoMdU8_mlA7dNZG2a8UVn0IohEwCLcB/s50/ellis.jpg);
	transition: background 0.1s linear;
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
	box-shadow: 4px 3px 15px #aaa;
	margin: 7px 15px 3px 7px;
	float: left;
}
.quote{
	font-size: 25px;
	text-align: right;
}



@media (min-width: 1600px) {
	body {
		font-size: 21px;
		line-height: 42px;
	}

	#overlay h1{
		font-size: 70px;
	}

	#overlay .excerpt{
		font-size: 21px;
		margin-top: 14px;
	}

	#overlay .byline{
		font-size: 16px;
		margin-top: 14px;
	}

	.square {
		width: 25%;
		padding-bottom: 25%;
	}
	.square h4{
		font-size: 30px;
	}
	.square h5{
		font-size: 18px;
		line-height: 18px;
	}
	.date{
		font-size: 14px;
	}

	.group .story, .group h2, .group h3, .group h4, .group .subline {
		width: 960px;
	}
}

@media (min-width: 1920px) {
	.square {
		width: 20%;
		padding-bottom: 20%;
	}
}

@media (max-width: 1599px) {
	body {
		font-size: 21px;
		line-height: 42px;
	}
	#overlay h1{
		font-size: 60px;
	}
	#overlay .excerpt{
		font-size: 21px;
		margin-top: 14px;
	}

	#overlay .byline{
		font-size: 16px;
		margin-top: 14px;
	}

	.square {
		width: 33%;
		padding-bottom: 33%;
	}

	.square h4{
		font-size: 30px;
	}
	.square h5{
		font-size: 18px;
		line-height: 18px;
	}
	.date{
		font-size: 14px;
	}

	.group .story, .group h2, .group h3, .group h4, .group .subline {
		width: 68%;
	}
}

@media (max-width: 1200px){
	body {
		font-size: calc(9px + 1vw);
		line-height: calc(18px + 2vw);
	}
	#overlay h1{
		font-size: 50px;
	}

	#overlay .excerpt{
		font-size: 18px;
	}

	#overlay .byline{
		font-size: 14px;
	}

	.square h4{
		font-size: 25px;
	}
	.square h5{
		font-size: 16px;
		line-height: 15px;
	}
	.date{
		font-size: 14px;
	}


	.group .story, .group h2, .group h3, .group h4, .group .subline {
		width: 660px;
	}
}

@media (max-width: 770px) {
	body {
		font-size: 16px;
		line-height: 30px;
	}
	#overlay h1{
		font-size: 40px;
	}
	#overlay .excerpt{
		margin-top: 3vw;
	}

	#overlay .byline{
		margin-top: 2vw;
	}

	.square{
		width: 50%;
		padding-bottom: 50%;
	}
	.square h4{
		font-size: 20px;
	}
	.square h5{
		font-size: 15px;
		line-height: 14px;
	}

	.group{
		width: 100%
	}
	.group .story, .group h2, .group h3, .group h4, .group .subline {
		width: 85%;
	}
	.group h2{
		font-size: 30px;
	}

	h2 sup{
		font-size: 16px;
	}

}

@media (max-width: 400px) {

	.square {
		width: 100%;
		padding-bottom: 100%;
	}
	.square h4{
		font-size: 20px;
	}
	.square h5{
		font-size: 15px;
		line-height: 14px;
	}

	.group .story, .group h2, .group h3, .group h4, .group .subline {
		width: 90%;
	}
}
