body{
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	-webkit-font-smoothing: antialiased;
	height: 100%;
	height: 100%;
	background: #ffffff;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-size: 100%;
	font-family: Lora, serif;
}

h1, h2, h3, h4, h5{
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	text-decoration: none;
	color: #336699;
}
a:hover{
	text-decoration: underline;
}

header{
	height: 1000px;
	height: 100vh;
	background: #1a1a1a;
	position: relative;
	color: #fff;
	margin-bottom: 4%;
	overflow: hidden;
}

h2 sup{
	font-size: 20px;
}

table td {
	vertical-align: top;
	padding: 15px;
}
table tr:nth-child(even){
	background-color: #EEE;
}

#coverList{
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

#coverList li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: none;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

#coverList:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: rgba(0,0,0,0.35);
	 *, color-stop(.5,#333333) */
	background-image: -webkit-gradient(
	  linear, left top, left bottom, from(rgba(0,0,0,0.0)),
	    to(rgba(0,0,0,0.5))
		);
}

#overlay{
	position: absolute;
	bottom: 0;
	padding-bottom: 4vh;
	left: 0;
	width: 100%;
}
#overlay h1{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 5.2vw;
	line-height: 6vw;
	color: #ddd;
	margin: 0 0 0 0;
	text-align: center;
	text-shadow: 2px 2px 8px #666;
}
#overlay .excerpt{
	font-family: Lora, serif;
	font-style: italic;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	color: #ddd;
	margin-bottom: 0;
	margin-top: 5px;
	text-align: center;
	text-shadow: 2px 2px 8px #444;
}

#overlay .byline{
	font-size: 12px;
	letter-spacing: 2px;
	font-style: normal;
	text-transform: uppercase;
	text-align:center;
	text-shadow: 1px 1px 4px #444;
	margin-top: 5vh;
}


#cover{
	background: #565656;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: 0;
}
#cover:before{
	content:" ";
	display: block;
	height: 351px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	-webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	-ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}
#cover:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	-ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
	/* transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1); */
}
#cover #title{
	position: absolute;
	z-index: 6;
	text-align: center;
	color: #ddd;
	top: 54%;
	width: 100%;
	margin-top: -122px;
	padding: 0 15%;
	box-sizing: border-box;
}

#title {
}
#title h1{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 5.2vw;
	line-height: 6vw;
	margin: 0 0 1% 0;
	text-align: center;
}
#title h2{
	font-family: Lora, serif;
	font-style: italic;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 0;
	margin-top: 1%;
	text-align: center;
}

#cover #narrated{
	font-style: italic;
	font-size: 20px;
	margin-bottom: 25px;
	position: absolute;
	width: 100%;
	bottom: 3%;
	text-align: center;
	z-index: 3;
}

#narrated .author{
	font-family: "Roboto Condensed", sans-serif;
	font-size: 19px;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-left: 2px;
}
.date{
	font-size: 12px;
	letter-spacing: 2px;
	font-style: normal;
	text-transform: uppercase;
}

.half{
	width: 50%;
	float: left;
}

.clear{
	clear: both;
}

.panel h2{
	font-family: Lora, serif;
	font-style: italic;
	font-size: 34px;
	margin-left: 2%;
	margin-right: auto;
	margin-bottom: 1%;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 1px;
	text-align: center;
}

.panel h3{
	margin-left: 2%;
	margin-bottom: 1%;
}
.panel .story{
	margin-left: 2%;
	margin-right: auto;
	margin-bottom: 2%;
	font-style: italic;
}
.haiku{
	text-align: center;
	white-space: pre-wrap;
	margin-left: 2%;
	margin-right: auto;
	margin-bottom: 2%;
	font-style: italic;
	font-size: 20px;
}

.square{
	width: 25%;
	padding-bottom: 25%;
	position: relative;
	overflow: hidden;
	float: left;
	box-sizing: border-box;
	background-color: #292525;
	background-position: center center;
}

.square .bg{
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #303030;
	background-size: cover !important;
	background-position: center center;
}
.square a{
	text-decoration: none;
}

.square .description{
	top: initial;
	bottom: 0;
	height: 100%;
	padding: 50% 0 0 0;
	color: #fff;
	text-align: center;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

.square .description:hover{
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,1.0) 100%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
}

.square h4{
	color: #FFF;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 0;
	text-decoration: none;
	font-style: normal;
}

.square h5 {
	color: #FFF;
	font-family: Lora, serif;
	font-style: italic;
	font-size: 15px;
	font-weight: 400;
	margin: 0 auto 5%;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.fleuron{
	font-family: "Roboto Condensed", sans-serif;
	text-align: center;
	font-size: 26px;
	color: #444;
	margin-top: 40px;
	margin-bottom: 20px;
}
.fleuron::before{
	content: "\2766"; //&#10086;
}
.group{
	position: relative;
	text-align: left;
	width: 80%;
	margin: 0px auto;
	margin-bottom: 6%;
}
.group h2{
	line-height: normal;
	font-size: 39px;
	word-wrap: break-word;
	max-width: 900px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 3px;
}
.group h3{
	word-wrap: break-word;
	max-width: 900px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
	color: #000;
}
.group .story{
	width: 70%;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	text-align: justify;
}

.group .photoset{
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin-bottom: 3%;
}

.photoset.wide{
	margin-top: -4%;
	margin-bottom: 6%;
}


.photo{
	position: relative;
	float: left;
	overflow: hidden;
	cursor: pointer;
}
.photo .img {
	border: 5px solid #fff;
}

.group .videoset{
	margin-bottom: 3%;
}

.videoset img{
	cursor: pointer;
}

.video{
	width: 100%;
	margin: 5px 0 3% 0;
}

.video.cont{
	margin-top: -3%;
	padding-top: 10px;
}

.video iframe {
	height: 45vw; width:100%; 
}

footer {
	margin-top: 6%
}
footer ul {
	list-style: none outside none;
}
footer ul li{
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 400;
}

#copyright{
	text-align: center;
	padding: 20px 0;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-top: 1px solid #DDD;
}
#copyright a{
	text-decoration: none;
	color: #000;
}
@media (max-width: 1200px) {
	.square {
		width: 33%;
		padding-bottom: 33%;
	}
	.group .story, .group h2, .group h3{
		width: 75%;
	}
}
@media (max-width: 750px) {
	#cover title{
		margin-top: -100px;
	}
	#cover h2{
		font-size: 16px;
	}
	.square{
		width: 50%;
		padding-bottom: 50%;
	}
	.group{
		width: 100%
	}
	.group story{
		line-height: 28px;
	}
	.group .story, .group h2, .group h3{
		width: 80%;
	}
	.group h2{
		font-size: 30px;
	}
	h2 sup{
		font-size: 16px;
	}

}

@media (max-width: 400px) {
	#cover title{
		margin-top: -80px;
	}
	#cover .content{
		padding: 0 10%;
	}
	#cover h2{
		font-size: 14px;
	}
	.square {
		width: 100%;
		padding-bottom: 100%;
	}
}
