---
layout: exposure
label: family
cover: https://4.bp.blogspot.com/-TbEn-3G4Sy8/WmlEQA7y-8I/AAAAAAABh8o/626JK4VYPnQrpaBukKzHLMh_DOsqpg1ywCKgBGAs/s1600/20171208_Ellis_002.jpg
title: ps
excerpt: A Family Photoshoot
author: Ellis and Elvin
date: 2017-12-08
permalink: /audreyps
---
header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]t eleven months old, we decide to have a family photoshoot with Audrey.

	.fleuron

	.photoset(data-layout="131B32323232")
			img._(src="https://4.bp.blogspot.com/-kv3yEFAP95A/WmlEQMLW7CI/AAAAAAABh8o/YTtK7pLqkPE2ZDNRO61ieN1LEWaXD7vtACKgBGAs/s1600/20171208_Ellis_017.jpg")

			img(src="https://1.bp.blogspot.com/-peuAUG3Poe4/WmlEQKoK60I/AAAAAAABh8o/8OgmrNNaRYktoiccMgNNem3k4SURd6b8QCKgBGAs/s800/20171208_Ellis_005.jpg")
			img(src="https://3.bp.blogspot.com/-88PVgFYJWz4/WmlEQNJk2eI/AAAAAAABh8o/n5nhFLCYaVwEMl7Q8vMgZguPsa9vGYhXgCKgBGAs/s800/20171208_Ellis_014.jpg")
			img(src="https://2.bp.blogspot.com/-AFcTnKBEzUw/WmlEQHF8WqI/AAAAAAABh8o/DSa-kIH42dkf9OTnxWblYMmnuGejmKvZQCKgBGAs/s800/20171208_Ellis_028.jpg")

			img._(src="https://4.bp.blogspot.com/-TbEn-3G4Sy8/WmlEQA7y-8I/AAAAAAABh8o/626JK4VYPnQrpaBukKzHLMh_DOsqpg1ywCKgBGAs/s1600/20171208_Ellis_002.jpg")

			img(src="https://1.bp.blogspot.com/-_HtU6GUeXPQ/WmlEQNPKU9I/AAAAAAABh8o/XeqxFBDTDl07DAHHFNqyC183L_mr6gM1QCKgBGAs/s1600/20171208_Ellis_036.jpg")
			img(src="https://3.bp.blogspot.com/-crG_eE-HbN0/WmlEQGkehlI/AAAAAAABh8o/c-TL67uwyiwbwZ1I0oFY7nNVaGZqDla8QCKgBGAs/s1600/20171208_Ellis_018.jpg")
			img._(src="https://4.bp.blogspot.com/-C9pFJdZkOpk/WmlEQO0TQEI/AAAAAAABh8o/A2ClIwrVVkIfGObXY9UUcbDLyWd7CUE2ACKgBGAs/s1600/20171208_Ellis_040.jpg")

	.photoset(data-layout="13Z21B")
			img._(src="https://1.bp.blogspot.com/-nsS0tso9EvA/WmlEQMEKPQI/AAAAAAABh8o/emxxYWeR1UcCrzKDmkROIF9lGcV_b9PhQCKgBGAs/s1600/20171208_Ellis_048.jpg")

			img(src="https://2.bp.blogspot.com/-OWWedhAkbxg/WmlEQDagrbI/AAAAAAABh8o/btF3iL7VKak9-yI0YGrp9Fr_SApUUQISgCKgBGAs/s800/20171208_Ellis_052.jpg")
			img(src="https://3.bp.blogspot.com/-i24SJzbwWT8/WmlEQL8OzgI/AAAAAAABh8o/5oNb3HMyinY0ZbB4zlPcMEXZWNSQTNTWgCKgBGAs/s800/20171208_Ellis_064.jpg")
			img(src="https://3.bp.blogspot.com/-L0rlsLAx6Fk/WmlEQNJHKyI/AAAAAAABh8o/ea4CwGHGCnUypAvN6Ut0vzijIw4dLUOxgCKgBGAs/s800/20171208_Ellis_067.jpg")

			img._(src="https://3.bp.blogspot.com/-K-fcWTIU_0U/WmlEQER22rI/AAAAAAABh8o/cnUmyiAXY2UW8QpMr5OcRHLiILttf9WkACKgBGAs/s1600/20171208_Ellis_066.jpg")

			img._(src="https://3.bp.blogspot.com/-fukElpkEDzs/WmlEQDLRbiI/AAAAAAABh8o/Mp962kb9T3MnmbCQj81dMH9REFP8d4SwACKgBGAs/s800/20171208_Ellis_073.jpg")
			img._(src="https://2.bp.blogspot.com/-zOXONsd3h1I/WmlEQBaWT-I/AAAAAAABh8o/-7_3h8l_qdAnMzBnqDl-cADExIHXJWrmQCKgBGAs/s800/20171208_Ellis_075.jpg")

			img._(src="https://1.bp.blogspot.com/-cwuEHoXR3_8/WmlEQJmB88I/AAAAAAABh8o/wLQNWam-fTMmXBPyjBbLVuVusWPcj8LCQCKgBGAs/s1600/20171208_Ellis_076.jpg")

			img(src="https://1.bp.blogspot.com/-z4mRVb-rSM8/WmlEQOPpybI/AAAAAAABh8o/2pNSsr4zOO839Kd0y8O2ccJA_LunAPIXgCKgBGAs/s1600/20171208_Ellis_080.jpg")
			img._(src="https://3.bp.blogspot.com/-wjr6eij32pM/WmlEQMAVqBI/AAAAAAABh8o/mMbFstG0ckcU8WV-Erx5LdrvyNXnMEElwCKgBGAs/s1600/20171208_Ellis_059.jpg")
			img._(src="https://3.bp.blogspot.com/-hsg_HOXm_LA/WmlEQGxrrII/AAAAAAABh8o/oJVoaHfoK28LAxrhZbLjtT-8olO2x_IZQCKgBGAs/s1600/20171208_Ellis_084.jpg")

	.photoset(data-layout="12W212")
			img._(src="https://3.bp.blogspot.com/-J_LXQjS50ek/WmlEQGQB1sI/AAAAAAABh8o/BD-TF464_-8TxxSGKgrsYFm6ghNkJVX4ACKgBGAs/s1600/20171208_Ellis_088.jpg")

			img(src="https://4.bp.blogspot.com/-xqvOZKqVUJc/WmlEQLxsTVI/AAAAAAABh8o/o0qb_EG8jZ80aM5JAAfQbUn-2TXO6n6iACKgBGAs/s800/20171208_Ellis_087.jpg")
			img(src="https://3.bp.blogspot.com/-CWnJIO5ccMw/WmlEQM7sn2I/AAAAAAABh8o/wJt4PRn5lh4XipbpeZmm9oa_K94GdRqxQCKgBGAs/s800/20171208_Ellis_091.jpg")

			img._(src="https://3.bp.blogspot.com/-LRlTurU4eBY/WmlEQNplsYI/AAAAAAABh8o/d6NM3Sstl88GsU_RII1jJaI04qkXqwMMACKgBGAs/s1600/20171208_Ellis_094.jpg")

			img(src="https://3.bp.blogspot.com/-roxkFYb-FIk/WmlEQMoN42I/AAAAAAABh8o/xi11KcZH-4gVtQbZ5yesmdD1vijg7PKJQCKgBGAs/s800/20171208_Ellis_095.jpg")
			img._(src="https://4.bp.blogspot.com/-K9KAykwdC1g/WmlEQJNwuJI/AAAAAAABh8o/o8PJwS10CNsyJtwXHofyN0kxmf3vVEo-gCKgBGAs/s800/20171208_Ellis_096.jpg")

			img._(src="https://3.bp.blogspot.com/-OCgysIupwzg/WmlEQJxWqbI/AAAAAAABh8o/y14KTzqqlJAmZaKf4KSwpxBd7KwHKVwEACKgBGAs/s1600/20171208_Ellis_108.jpg")

			img(src="https://1.bp.blogspot.com/-gV6ZGMqiFXo/WmlEQIGpgaI/AAAAAAABh8o/eAHijN04__Ee9dnUby1ItDq_do8VYgb4gCKgBGAs/s800/20171208_Ellis_100.jpg")
			img(src="https://3.bp.blogspot.com/-tVvuCnFx92o/WmlEQFspiVI/AAAAAAABh8o/7CZhxM9BuWodJnhLnkFNvdotZ6Dzw5Y4ACKgBGAs/s800/20171208_Ellis_101.jpg")
