---
layout: exposure
label: family
cover: https://2.bp.blogspot.com/-cG3Y2G7SC64/W4FUA4rZAxI/AAAAAAABkvM/SkFwa2X6Rq89LxVDYTtbako8lTihNaXGQCLcBGAs/s1600/IMG_8570.jpg
title: One and Three
excerpt: Systems
author: Ellis and Elvin
date: 2018-04-28
permalink: /audrey1-3
---
header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]

	.fleuron

	h2 

	h3 May
	.story #[.elvin] 
	.photoset(data-layout="234123232432324142231")
		img(src="https://2.bp.blogspot.com/-cG3Y2G7SC64/W4FUA4rZAxI/AAAAAAABkvM/SkFwa2X6Rq89LxVDYTtbako8lTihNaXGQCLcBGAs/s500/IMG_8570.jpg")
		img(src="https://4.bp.blogspot.com/-WMf0ChHAoUw/W4FUA1Q4T2I/AAAAAAABkvQ/4VQmhN-RRfw-jPWkWgAx2ms5ODEy_Z_IwCLcBGAs/s500/IMG_8664.jpg")
		img(src="https://4.bp.blogspot.com/-6x96UcaWTcU/W4FUBG23x5I/AAAAAAABkvU/eMjinoifY2MXkloVMXlGtxuUTSz1yU4mwCLcBGAs/s500/IMG_8698.jpg")
		img(src="https://1.bp.blogspot.com/-tlVboBwNYGE/W4FUCp3DiII/AAAAAAABkvc/s7cVJM9hgmoF_quXGg2iKiRErq2Sct86gCLcBGAs/s500/IMG_8702.jpg")
		img(src="https://3.bp.blogspot.com/-mygKB4oKGe4/W4FUBy0WxdI/AAAAAAABkvY/Bpg8-JmlQ2ULTpxP1xKo-bhBDBJ8aN7zgCLcBGAs/s500/IMG_8713.jpg")

	.fleuron
