---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-h9UCY-1Jdfg/WhC9ZtsvvJI/AAAAAAABhQM/LQ6Ya_OF_t8P6iK9ZnpGQ20wBVAbhMU4QCLcBGAs/s1600/20171028_081605.jpg
title: Nine Months
excerpt: Babbling
author: Ellis and Elvin
date: 2017-10-28
permalink: /audrey09
---
header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]udrey can pull to stand now.
	.fleuron
	h2 

	h3 28 October, Friday - 
	.photoset(data-layout="232323232323232323232")
		img(src="https://3.bp.blogspot.com/-mNrnAjMKSmg/WhC9ZQ-7SUI/AAAAAAABhQI/mAu25RCniugi21HjOn6jRXkf37FukirfgCLcBGAs/s500/20171028_081531.jpg")
		img(src="https://3.bp.blogspot.com/-Bx2-Pydb2M4/WhC9ZVMUmLI/AAAAAAABhQE/D9vAdJB3xT8ROrlqlgN6bNddwuEH1T5XwCLcBGAs/s500/20171028_081551.jpg")
		img._(src="https://1.bp.blogspot.com/-h9UCY-1Jdfg/WhC9ZtsvvJI/AAAAAAABhQM/LQ6Ya_OF_t8P6iK9ZnpGQ20wBVAbhMU4QCLcBGAs/s500/20171028_081605.jpg")
		img(src="https://4.bp.blogspot.com/-k74M3L8NIfk/WhC9a6caokI/AAAAAAABhQQ/RpldBH-9qYoWXGE-wak4RX0APnqZ2WKjwCLcBGAs/s500/20171028_081857.jpg")
		img(src="https://4.bp.blogspot.com/-vbkAlbbqick/WhC9bXjwFxI/AAAAAAABhQY/i2vbuNK3xIcBBAIWQkMz1sGLK9M3FzQLQCLcBGAs/s500/20171028_081858%25280%2529.jpg")
		img(src="https://2.bp.blogspot.com/-9eESR1stcFg/WhC9bIhIcWI/AAAAAAABhQU/oZK1nWbHNzo9tZKHuzHTy-OKXdkyE0DQQCLcBGAs/s500/20171028_081933.jpg")
		img(src="https://3.bp.blogspot.com/-wrcYVUEeVKI/WhC9cOYuBFI/AAAAAAABhQc/lYhP8LiFNDAH7QwWDqXFPmlDpV87A9nEACLcBGAs/s500/20171028_081951.jpg")
		img(src="https://4.bp.blogspot.com/-eTdVm5INakk/WhC9cvtz4PI/AAAAAAABhQg/S32HwDIO2yMfUVhQiFSqZ6fj1jM3MxXPgCLcBGAs/s500/20171028_085315.jpg")
		img(src="https://1.bp.blogspot.com/-ITq9UYFW_-4/WhC9cgnffNI/AAAAAAABhQk/4mUxhUqoVXwTteJHUwxQLWMkTAlPJxn6gCLcBGAs/s500/20171028_085316.jpg")
		img(src="https://2.bp.blogspot.com/-d-vyYndxPzU/WhC9dko_0ZI/AAAAAAABhQo/vFWF474fD9oV9grpm_rQ-pL5N8s108InACLcBGAs/s500/20171028_091021.jpg")
		img(src="https://4.bp.blogspot.com/-2qc6BTjl1qI/WhC9eLK29UI/AAAAAAABhQs/X6KkYGggLWkiAOQ32SVYBH1lwvkyAum-wCLcBGAs/s500/20171028_181547.jpg")
		img(src="https://3.bp.blogspot.com/-8NDSpvPXNmA/WhC9eAiXLNI/AAAAAAABhQw/IoPu0RlGwnA2dIcaWS15Z9fI03eSN6EGwCLcBGAs/s500/20171028_181557.jpg")
		img(src="https://2.bp.blogspot.com/-itijXYqwA_I/WhC9fN-upzI/AAAAAAABhQ0/jGqYlQoJgrIlH3GriVytF8zs9sikHDf-QCLcBGAs/s500/20171028_181721.jpg")
		img(src="https://4.bp.blogspot.com/-RTO7266Xi_Q/WhC9fpPghGI/AAAAAAABhQ4/lgDE63IRpZo62bzwLKVwi80-34NsGVXTgCLcBGAs/s500/20171028_204636.jpg")
		img(src="https://2.bp.blogspot.com/-WeiadL-cDqk/WhC9f31T-DI/AAAAAAABhQ8/5HkWkO10IKk6YzXtfrrdyUfq6P2tDDRBgCLcBGAs/s500/20171028_204641.jpg")
		img(src="https://2.bp.blogspot.com/-hkHLBx2R-G8/WhC9gljPdVI/AAAAAAABhRA/wmK1n6vfshUh8HA0z09VQeXDMdjLDBb_ACLcBGAs/s500/20171028_204643.jpg")
		img(src="https://4.bp.blogspot.com/-3-OaR2yFth8/WhC9hIfQfVI/AAAAAAABhRI/H-xpA57lb2MNA9i-hRSyiXwSlvLnUfTlgCLcBGAs/s500/20171029_100652.jpg")
		img(src="https://1.bp.blogspot.com/-WsILCpzBkv4/WhC9hEr1j8I/AAAAAAABhRE/Y0wXXtpqtUsg8MqUEdBjbs2zRU77FLBPgCLcBGAs/s500/20171029_100702.jpg")
		img(src="https://4.bp.blogspot.com/-a4iLGdHxi9c/WhC9h0bLaRI/AAAAAAABhRM/qNor3JwF_TEgepE0rCgFgS87ZK7T0KBMwCLcBGAs/s500/20171029_100707.jpg")
		img(src="https://2.bp.blogspot.com/-i_v2TvFIQHY/WhC9ikwo8sI/AAAAAAABhRU/sS1SophDcew2hKg50B6O-9ywDzzCzQSnQCLcBGAs/s500/20171029_101047.jpg")
		img(src="https://1.bp.blogspot.com/-z58RUFAVrXI/WhC9itSJioI/AAAAAAABhRQ/Qmv2U5fMC4I8HCtUdR-aEErd3rCnD-wmQCLcBGAs/s500/20171029_101054.jpg")
		img(src="https://2.bp.blogspot.com/-Rwl8j3xCBdE/WhC9jWGpj-I/AAAAAAABhRY/C5pbCtBGiDwtUhh8menvX2DHKRbC5ZFKwCLcBGAs/s500/20171029_101057.jpg")
		img(src="https://2.bp.blogspot.com/-VgmHUnmGifw/WhC9kLjXj3I/AAAAAAABhRc/rVDjOpcqnvsqUD75Sihh50BTUY9mibzgwCLcBGAs/s500/20171029_101123.jpg")
		img(src="https://2.bp.blogspot.com/-qBMP-m90rW4/WhC9kPS24cI/AAAAAAABhRg/jiPhMdUBJwQiEUP_5A1C55IoRIRiWs-7wCLcBGAs/s500/20171029_101127.jpg")
		img(src="https://4.bp.blogspot.com/-FqErgfIN1PQ/WhC9khIFe4I/AAAAAAABhRk/F7AsEictqYwmCMWejF1MZdqafHwiIgs_gCLcBGAs/s500/20171029_125458.jpg")
		img(src="https://2.bp.blogspot.com/-Gs6GwkxVj6c/WhC9lgC69kI/AAAAAAABhRo/XyvdfdcYsgkwiTnk30-OyeiSl-rtJESVwCLcBGAs/s500/20171029_130854.jpg")
		img(src="https://3.bp.blogspot.com/-wFOnkZjp-zc/WhC9lmXG2UI/AAAAAAABhRs/lcYxPun5UWwtmgxtiqviQWfFz-jBbSg9QCLcBGAs/s500/20171029_143601.jpg")
		img(src="https://1.bp.blogspot.com/-2NFzBtDMgrU/WhC9ltQWv9I/AAAAAAABhRw/YKp_BSsNfRUM-k_uCc_a1d-k919SaOLigCLcBGAs/s500/20171029_155821.jpg")
		img(src="https://4.bp.blogspot.com/-fPgT7LjAnak/WhC9nLgPSQI/AAAAAAABhR0/wcDIGhIudvohQ8f7PXWhm1tFkUmcc-hqgCLcBGAs/s500/20171029_164258.jpg")
		img(src="https://2.bp.blogspot.com/-Q9u9olTJ04c/WhC9nsQuKQI/AAAAAAABhR4/c3qda61j7V0qyIBkQg4U7NCGwkEYvVGWACLcBGAs/s500/20171029_181712.jpg")
		img(src="https://1.bp.blogspot.com/-sOnXe0lW5G8/WhC9n6-RQII/AAAAAAABhR8/cT4wWMBCFhY3pePC003_u-gFru1OUrWpACLcBGAs/s500/20171029_181729.jpg")
		img(src="https://1.bp.blogspot.com/-NI_nge7w0nM/WhC9o32tbRI/AAAAAAABhSA/zuFNZBQ_kRYHWnGAmTfdZwwMkdkEQ6SBQCLcBGAs/s500/20171029_181741.jpg")
		img(src="https://2.bp.blogspot.com/-29M8KAh_w6o/WhC9pl1gJXI/AAAAAAABhSE/pKzIswoExLcnxLltsFhfBfclInHZhWdhwCLcBGAs/s500/20171029_181810.jpg")
		img(src="https://3.bp.blogspot.com/-S3btY9xph4o/WhC9pjon7II/AAAAAAABhSI/0fP2oPfbh_ofo81lVnvOfwOvKAoiAnWmQCLcBGAs/s500/20171029_181814.jpg")

	.videoset(data="PuLuaoFe4aA,bpEdC_prL-4,3MofwY9hJKE")
	.videoset(data="U212Nj3boMg,5KrSCz6V-rM,fvwE9sJk6T8,NW5ameagZxM")
	//.videoset(data="")
	//.videoset(data="")
	//.videoset(data="")
	//.videoset(data="")

	.fleuron
