---
layout: exposure
label: family
cover: https://4.bp.blogspot.com/-y2pmkOTZRX4/W4FV0WbfJNI/AAAAAAABkv4/8DHHHkULjDAeh7N2TEnWyP6m43q7KCZfwCLcBGAs/s1600/IMG_2220.jpg
title: One and Half
excerpt: Limits
author: Ellis and Elvin
date: 2018-07-28
permalink: /audrey1-6
---
header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]

	.fleuron

	h2 

	h3 May
	.story #[.elvin] 
	.photoset(data-layout="2341")
		img(src="https://3.bp.blogspot.com/-w0UUF7JGEKw/W4FV0YCGzmI/AAAAAAABkv0/RSdN74mlj0sRp1Wp3FO72cmJZ9ptWpn5ACLcBGAs/s500/IMG_2217.jpg")
		img(src="https://4.bp.blogspot.com/-y2pmkOTZRX4/W4FV0WbfJNI/AAAAAAABkv4/8DHHHkULjDAeh7N2TEnWyP6m43q7KCZfwCLcBGAs/s500/IMG_2220.jpg")
		img(src="https://1.bp.blogspot.com/-mD3tF9KUGSw/W4FV0UeawSI/AAAAAAABkvw/fS9itq-B1b0c6CWO0Te3a8A8f4LgBe7iwCLcBGAs/s500/IMG_3722.jpg")
		img(src="https://4.bp.blogspot.com/-Ttalu2gX_fM/W4FV1XzX4iI/AAAAAAABkv8/EnjJamh8_p0OxPfALnfOARdjRBEYXxKSwCLcBGAs/s500/IMG_3839-2.jpg")
		img(src="https://2.bp.blogspot.com/-irLH2YLPxiA/W4FV1-VrDpI/AAAAAAABkwA/zhxXFVJA3W8NSGHMaG2rYj6qbzLC9dUzACLcBGAs/s500/IMG_3856.jpg")
		img(src="https://4.bp.blogspot.com/-bKaQeq1sDH8/W4FV13xPhnI/AAAAAAABkwE/Rz-GCTwACak6uqbO9oqtIhWIMH-TLANrQCLcBGAs/s500/IMG_3863.jpg")
		img(src="https://1.bp.blogspot.com/-jSu1zWeRF30/W4FV2CmqSyI/AAAAAAABkwI/jifK5CnhvgMwjkBoSi29EF0smFlc-BX7wCLcBGAs/s500/IMG_3956.jpg")
		img(src="https://3.bp.blogspot.com/-SI-0gptFTNA/W4FV2qm0dLI/AAAAAAABkwM/z3laWySs-Doyd0DTOwZNoV7_GclDRy1lACLcBGAs/s500/IMG_3963.jpg")
		img(src="https://1.bp.blogspot.com/-jr9UXTDRKlU/W4FV2uMcY0I/AAAAAAABkwQ/g16gozewBl4xBJsNEvm_VRSMN9xxArRoACLcBGAs/s500/IMG_3972.jpg")
		img(src="https://2.bp.blogspot.com/-Afbf35ZhbTk/W4FV25jQvtI/AAAAAAABkwU/AtcaGoUnbg8v-2z_zlsCoP8LobeSj3G0QCLcBGAs/s500/IMG_3973.jpg")
		img(src="https://3.bp.blogspot.com/-HUaOiHBspW4/W4FV3mREQ_I/AAAAAAABkwY/ZSMzUVnyj9wAGwvYTPqzVhxd9Sm4zde0QCLcBGAs/s500/IMG_3980.jpg")
		img(src="https://3.bp.blogspot.com/-MfoRD9Gl-tk/W4FV3qQESNI/AAAAAAABkwc/wZZAegWm5E8-FSMJZ8WIaKayxs_9PMigwCLcBGAs/s500/IMG_4286.jpg")
		img(src="https://2.bp.blogspot.com/--al6wFgVjOo/W4FV3rJxbiI/AAAAAAABkwg/XqhCqCRgMQMej2f_peNbZnhgF58VeM-hwCLcBGAs/s500/IMG_4321-2.jpg")



	.fleuron
