---
layout: exposure
label: family
cover: https://4.bp.blogspot.com/-ld2Z0bwBF6Q/WVui_G5uCSI/AAAAAAABe0k/dXypKqYBtyELmgI60e_l0ZnI17h-nTIxQCLcBGAs/s1600/IMG-20170621-WA0002.jpg
title: Four Months
excerpt: Flipping
author: Ellis and Elvin
date: 2017-05-01
permalink: /audrey04
---
header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]t first we were worried Audrey wasn't flipping on time. After she learned how to flip, she flips around like a roti prata and we wish she will take it easy. Her baby hair continues to drop and she looks like a little monk. We moved house this month and it is the first time Audrey is at her room. She has her room and we hope she likes it.

	.fleuron

	h2
	h3 3 June, Saturday (Week 18) - Moving in to new house 1
	.subline Weight: 6.7 kg. Head Circumference: 40 cm. Body Length: 62 cm.
	.story #[.elvin] We are moving to our new house at Sea Horizon. After four months of renovation and preparation, we are ready to move in. The night before, we packed our belongings in many bags and ferried them over with the car the next morning. I bid farewell to the room that I lived in for the past nineteen years of my life. For Ellis, we shared two years in that room. I know every cracks and crevices in the walls and floors of that room. Even though it was small for two people and even smaller after Audrey came, we managed and had many memorable moments. It was only when packing our stuff that we realised how much of it has spilled into the living room and dining room. For the first time in a very long time since my parents had us, they have an extra room that they can put their things. That is the sacrifice of a parent.
	
	.videoset(data="GF7kZnKX3Pc,SB6M0WEd6xc,1MPL0y9wJL0,nTZm4mYgUKc")
	
	//POZ8A1pOUYU
	.photoset(data-layout="2232")
		img(src="https://4.bp.blogspot.com/-nq65vygkG5c/WVpLZM3tkZI/AAAAAAABenA/nb_masD7dwI2cT2g004K4-P9Wt4BZKFcgCLcBGAs/s500/20170531_200936.jpg")
		img(src="https://3.bp.blogspot.com/-_EVueyfQm-A/WVpLZqSv0bI/AAAAAAABenE/I2VaMudDgTAY-7ZEORqTQnIFKUiEniPXACLcBGAs/s500/20170531_201053.jpg")
		img(src="https://3.bp.blogspot.com/-2GAl6i5QVjI/WVpLZ-wErWI/AAAAAAABenI/0g4-Ny-IZNEBCkRPvFJop0GZYB0uB-CegCLcBGAs/s500/20170603_095352.jpg")
		img(src="https://1.bp.blogspot.com/-iYwQYhUrBwQ/WVpLZxaLReI/AAAAAAABenM/5c8Uc-4O4oMaA6ZWNcwzU_fDbrUMGRp-ACLcBGAs/s500/20170603_102519.jpg")
		//img(src="https://2.bp.blogspot.com/-EBfV6dk0EEs/WVpLaUkb1ZI/AAAAAAABenQ/S3J05FsM0uILCdv2YMYjILQB7o6QDxPugCLcBGAs/s500/20170603_102638.jpg")
		//img(src="https://1.bp.blogspot.com/-VrfQPCWq4BQ/WVpLapT1lLI/AAAAAAABenU/76K7JwvYGfIthDM3ldx7uUmNUwvIEILmgCLcBGAs/s500/20170603_102804.jpg")
		//img(src="https://4.bp.blogspot.com/-V1C4klmNWBM/WVpLaipvqDI/AAAAAAABenY/5P358RY5-n0_z3P5XVTGIGXl9z1CJnAPwCLcBGAs/s500/20170603_102901.jpg")
		//img(src="https://1.bp.blogspot.com/-tIFmyWwZcJA/WVpLa8jSMfI/AAAAAAABenc/59-DtGUAWtUwKcHBcLJ0Xi-rftqIY3XuACLcBGAs/s500/20170603_102904.jpg")
		//img(src="https://2.bp.blogspot.com/-H9snM2t-Y1Y/WVpLbe7yXrI/AAAAAAABeng/KrJcVF5rbsoIpKixSo6h8jrUL2DzRHgJgCLcBGAs/s500/20170603_103048.jpg")
		img(src="https://1.bp.blogspot.com/-KCXdvRM0t10/WVpLbfL3EqI/AAAAAAABenk/wBue5ygYFtg5w5E404PBvmqc-6t10EZbwCLcBGAs/s500/20170603_103109.jpg")
		//img(src="https://2.bp.blogspot.com/-XH2FBWonUb0/WVpLbjvV-YI/AAAAAAABeno/bgdWGfdPASUuAAj421N69fk0p9Z-ktgsACLcBGAs/s500/20170603_103116.jpg")
		img(src="https://3.bp.blogspot.com/-IfU1ZVysVA0/WVpLb-vXLEI/AAAAAAABens/HROlc1H02UMpIxhv2KUwL3xm0PuhvxT_wCLcBGAs/s500/20170603_103118.jpg")
		img(src="https://3.bp.blogspot.com/-i0JE_LP2RSs/WVpLcdovHMI/AAAAAAABen0/zwr6H9RZX88ASBpGfrGJvARVBvqAImWcgCLcBGAs/s500/20170603_103144.jpg")
		//img(src="https://1.bp.blogspot.com/-yXSG7rJ6E3E/WVpLcT0rxMI/AAAAAAABenw/GQ715d-gUtIN75IZBEp9MHOgkqh4NBfjgCLcBGAs/s500/20170603_103148.jpg")
		img(src="https://1.bp.blogspot.com/-CDubq73Vj9M/WVpLckXwFXI/AAAAAAABen4/uq15xdCMCxc-9E3y7iZLayChKM9ToKsOQCLcBGAs/s500/20170603_103159.jpg")
		//img(src="https://3.bp.blogspot.com/-D0XHgZaMf1Y/WVpLcyNdJZI/AAAAAAABeoA/htkG1QP1auA_x0XUrZqdk3SueH_GxndvQCLcBGAs/s500/20170603_103412.jpg")
		img(src="https://4.bp.blogspot.com/-mmu7sdfbB40/WVpLc2VuIYI/AAAAAAABen8/51Q7c1isgZcUep4tcPSEai_zfaVv_-GNgCLcBGAs/s500/20170603_103428.jpg")
		//img(src="https://3.bp.blogspot.com/-t7BaTsJlNgM/WVpLdYrEOOI/AAAAAAABeoE/VE16UXCDG3Etsfj1WXADSQ1QAkBQZCadQCLcBGAs/s500/20170603_103429.jpg")
		//img(src="https://4.bp.blogspot.com/-MefpqFc97fU/WVpLdgIE8LI/AAAAAAABeoI/OP5LIm2cqNgkCn-ZRypjgBkvE8EamUkzACLcBGAs/s500/20170603_103722%25280%2529.jpg")
		//img(src="https://3.bp.blogspot.com/-iWUFTPHNQtU/WVpLd8UqwOI/AAAAAAABeoM/bJIn7h6fYlUqlJ7cjTqpOaTKy64VcmiJACLcBGAs/s500/20170603_113425.jpg")
	.story How we even found time on this very busy weekend to dress Audrey up as Mickey Mouse still puzzles me. Ellis bought these costume sets five months ago but we unearthed these artifacts when packing the room. Audrey didn't like any fabrics on her head when she was smaller so we couldn't convince her to wear the beanie. Today, she is in a good mood today so we get to play around and snap some photos.
	.videoset(data="lNiUtgqNc_Q,NEESNTqYb90,0tHfW3qlFWg,9Eu1mcI2Rjs")
	.story Ellis and I were busy cleaning up the place in the afternoon. It was late afternoon when we were ready to bring Audrey over. My Mom and Xiaoyi joined us in our open house. I pop over to the nearby coffee shop to pack dinner and we had our first dinner in the house. Audrey absolutely enjoyed her as she lay on the makeshift mattress in the cool living room. As it approaches bedtime, Audrey is asleep and we had some time to ourselves to enjoy the new furnitures and appliances. Home sweet home.
	.photoset(data-layout="2434123232")
		img(src="https://3.bp.blogspot.com/-W6z4Wbf0Onc/WVuXFVXmKfI/AAAAAAABeps/HwPAkpCcaQMslthe8WnCNoXmhk7CYG38ACLcBGAs/s500/20170603_184216.jpg")
		img(src="https://1.bp.blogspot.com/-pTHgDYkgZxY/WVuXFSEKYyI/AAAAAAABepo/iPZ0Gjp8NGEiWM-4xCB8GhPD6SMNT3mrgCLcBGAs/s500/20170603_184744.jpg")
		img(src="https://2.bp.blogspot.com/-becu6SzYqAw/WVuXFUe7-VI/AAAAAAABepk/KIxQBE8ydU4sWdwMfWrUvyeUmj3rUW7hACLcBGAs/s500/20170603_205413.jpg")
		img(src="https://4.bp.blogspot.com/-lj3We3DCYrw/WVuXGbRu_jI/AAAAAAABep4/Rzp8ChapOS4PBwU2at5uFrI10LsaJuYKwCLcBGAs/s500/20170603_205416.jpg")
		img(src="https://3.bp.blogspot.com/-bLwUiETVs9Y/WVuXGeWsNxI/AAAAAAABep0/ruHko8XouXEfKHo3RbtvBt18y5hQxDpMACLcBGAs/s500/20170603_205438.jpg")
		img(src="https://2.bp.blogspot.com/-t2Z8y24ja_8/WVuXGezFvII/AAAAAAABepw/uwHN-jAwODYkywoG4PVoUSAO6zCYtncJwCLcBGAs/s500/20170603_222809.jpg")


	.fleuron

	h3 4 June, Sunday (Week 18) - Moving in to new house 2
	.story #[.elvin] I woke up to a beautiful morning in my new house. The bed was comfortable and the view was awesome. Audrey woke up and greeted us. She also took some time to enjoy the green trees and blue sky. The remainder of her time was spent playing with Mommy and Papa. We spent the entire Sunday unboxing and packing in things. 
	.photoset(data-layout="34232")
		img(src="https://2.bp.blogspot.com/-TO4-GFraWUE/WVuXHLpl49I/AAAAAAABep8/XS7-EnwwjZIZU9ms9g53z5HtyblNPCNlwCLcBGAs/s500/20170604_074620.jpg")
		img(src="https://1.bp.blogspot.com/-LuDYUG-iySQ/WVuXHTX9u8I/AAAAAAABeqA/8tspAMN4R_AeN2p7IZzjbGqsMFdAwq0BQCLcBGAs/s500/20170604_074649.jpg")
		img(src="https://3.bp.blogspot.com/-KgBg_4gV5pk/WVuXHVSewnI/AAAAAAABeqE/oP1XiS58DOcSIGSmr1JYhlgjlO7g4dK8wCLcBGAs/s500/20170604_074653.jpg")

		img(src="https://4.bp.blogspot.com/-9Fy4lpB_yHc/WVuXIC9djyI/AAAAAAABeqM/yT-RZPJ1E-Mfxjfl3_3KHpeg__WNLcHHQCLcBGAs/s400/20170604_080301.jpg")
		img(src="https://3.bp.blogspot.com/-c4V2t_B8j4s/WVuXIe4PKrI/AAAAAAABeqQ/Jd3IQtLbOG0dpXJcued80w2KLTkTFrlVwCLcBGAs/s400/20170604_080308.jpg")
		img(src="https://3.bp.blogspot.com/-iwbZ5Psxp8U/WVuXInGpouI/AAAAAAABeqU/j7V13349ydoU-ypw-epH4aoGGHbGkHm1wCLcBGAs/s400/20170604_080442.jpg")
		img(src="https://4.bp.blogspot.com/-dcUf7IifPYo/WVuXJEuOA5I/AAAAAAABeqY/lpfdDFvoUkEfelwWayqxhBLjWnpLNv4JgCLcBGAs/s400/20170604_080448.jpg")

		img(src="https://1.bp.blogspot.com/-8HiAyPh0CSA/WVuXH4eJ_XI/AAAAAAABeqI/2xtv4-GCKEURhalog_O56KjE7JNXc4LRQCLcBGAs/s800/20170604_074825.jpg")
		img(src="https://1.bp.blogspot.com/-tDHHrbLXry8/WVuXJEvIi0I/AAAAAAABeqc/EWty0J-8Bdgxo8-TdzI9P4tL_6Pg8g-EQCLcBGAs/s800/20170604_112046.jpg")

		img(src="https://1.bp.blogspot.com/-OGuAQaqQoK4/WVuXJd9lpaI/AAAAAAABeqg/IJX6jk1sW0YtEdPOyHSF4gdOS9CgYEoxACLcBGAs/s500/20170604_112120.jpg")
		img(src="https://4.bp.blogspot.com/-jzuzna7hNzI/WVuXJhtzMnI/AAAAAAABeqk/sY418S7LKFIdsVqjOUbg8H88n3eD2h-qwCLcBGAs/s500/20170604_112123.jpg")
		//img(src="https://4.bp.blogspot.com/-K9lDOxCTUrQ/WVuXKFiAG-I/AAAAAAABeqo/EOiqne0GSFUsfyqx2_QRbzKR1s6jLC69QCLcBGAs/s500/20170604_112141.jpg")
		img(src="https://1.bp.blogspot.com/-4_DAvpwK7Ew/WVuXKMVndFI/AAAAAAABeqs/B30Y5ixXQz88i8Nw2ihvzpw1gkPpRzTkACLcBGAs/s500/20170604_112206.jpg")
		//img(src="https://3.bp.blogspot.com/-Y4z7QSAmxAE/WVuXKTtzT9I/AAAAAAABeqw/LQk9kSSel6c0BPDYSO8qADKu1TBXZ8alQCLcBGAs/s500/20170604_112214.jpg")

		img(src="https://1.bp.blogspot.com/-zlbFqMs9rtQ/WVuXKgxV9-I/AAAAAAABeq0/tF6fNgO-Evgq_1wYizeFbkZERV_lH1BwgCLcBGAs/s800/20170604_212026.jpg")
		img(src="https://2.bp.blogspot.com/-8JTAFl2ZSvM/WVuXKh3_wBI/AAAAAAABeq4/-eUP0hGZt9cLrXQwE6ITN73egOBAfg8KwCLcBGAs/s800/20170604_214622.jpg")
		

	.fleuron

		
	h3 11 June, Sunday (Week 19) - Moving in to new house 3
	.photoset(data-layout="23")
		//img(src="https://3.bp.blogspot.com/-_V5UsnrgBek/WVuXLNbGlRI/AAAAAAABeq8/SSpVyRANKrEVx9B2m9XEDIJonqcKM1gjgCLcBGAs/s500/20170605_074418.jpg")
		img(src="https://3.bp.blogspot.com/-n-7dD6u6QmM/WVuXLhd97XI/AAAAAAABerE/Sjsz1eHNV9oCJfjcppxrErgNfwSlzeFIQCLcBGAs/s500/20170606_164815.jpg")
		img(src="https://4.bp.blogspot.com/-lMNrmi2SC4M/WVuXLTN1Z-I/AAAAAAABerA/j7TmMj5kBbYehMt74GunIjHlvSmepm26gCLcBGAs/s500/20170606_113232.jpg")
		img(src="https://1.bp.blogspot.com/-gMPXwvSSV0s/WVuXL5HydZI/AAAAAAABerI/7TCG8TKTxWsmbE_riZPjUwwTZxRPNO4TACLcBGAs/s500/20170609_133221.jpg")
			
		img(src="https://3.bp.blogspot.com/-XO3JnHd1O7Y/WVuXMZhd36I/AAAAAAABerM/2fyIav-tTQYdyJH3QEu6wswl0w69c2ZBACLcBGAs/s500/20170609_145852.jpg")
		img(src="https://1.bp.blogspot.com/-wNeRyP16qro/WVuXMZR6ZHI/AAAAAAABerQ/I5R6_NRW4xQd-mjPHtQC213xI57ZDRkcwCLcBGAs/s500/20170609_160143.jpg")
	.story #[.elvin] A week has passed since we moved in. I love the house and enjoy privacy with my family. The freedom to do the things the way I like and taking of ourselves. In the family selfie, Audrey is placing her arm forward to make a statement, "This is our house! We are a family!" She always give her best smile in every photo. 

	.photoset(data-layout="231")
		img(src="https://1.bp.blogspot.com/-JxZa8DpzT-U/WVuXMqFblqI/AAAAAAABerU/bm1kSKVJ3DUkXBVQOzs0VDq4X6sCrVm0wCLcBGAs/s500/20170611_073839.jpg")
		img(src="https://2.bp.blogspot.com/-Pcp05CYoBGs/WVuXM9GX23I/AAAAAAABerY/ArqB1KGBB6IryobNT_1vkVrdDvnG8D9eACLcBGAs/s500/20170611_073917.jpg")
			
		img(src="https://3.bp.blogspot.com/-3pIZXjXA6Qc/WVuXNJYlOhI/AAAAAAABerc/5J--zQA2xjIAb6NLqi8r2H7HJjrXyTjsQCLcBGAs/s500/20170611_073956.jpg")
		img(src="https://2.bp.blogspot.com/-uUOzpV49vi8/WVuXNK5WTEI/AAAAAAABerg/JQJ6ogzAdgon7tgeXsVLQPRLGpa0DzhHwCLcBGAs/s500/20170611_073958.jpg")
		img(src="https://1.bp.blogspot.com/-xnWx2cXRCBQ/WVuXNp11O8I/AAAAAAABero/Jp15qV-6rCc1TFRRbQ0TLAwNduL83ALhwCLcBGAs/s500/20170611_073959.jpg")
			
		//img(src="https://4.bp.blogspot.com/-KSmmR6KxBJo/WVuXNivxd0I/AAAAAAABerk/qCFHtT5VGKkfRT0drLVesc3Ul_DwMhpKQCLcBGAs/s500/20170611_074005.jpg")
		img(src="https://3.bp.blogspot.com/-fNksVnUs6MY/WVuXN8GRhKI/AAAAAAABers/KBebYPO1cOsCNUrkKU-B05i621RixzPIwCLcBGAs/s800/20170611_103318.jpg")
	.story Who is this cute strawberry on my bed? It's my little Audrey! Mommy has dressed her up in a strawberry romper and it matches our pink bed linen. She looks like a juicy strawberry when she scrunches her body into a ball.
	.photoset(data-layout="32")
			
		//img(src="https://1.bp.blogspot.com/--yU-QW71i0Y/WVuXOUdOaqI/AAAAAAABer0/neSHsPD_v6Mon1qhAgNk-JRZz0dUVieJQCLcBGAs/s400/20170611_120014.jpg")
		img(src="https://2.bp.blogspot.com/-0nZ5HYaHIp0/WVuXOZBz_FI/AAAAAAABerw/ghny_4TAIBA1iBVZBCuxStSvPIHxAUbfACLcBGAs/s500/20170611_120035.jpg")
		img(src="https://4.bp.blogspot.com/-_OiyqEvqkc0/WVuXOtmM0qI/AAAAAAABer4/TTIm2wCM_u4m1kfvHYy3jXSvDVxMaFJkACLcBGAs/s500/20170611_120046.jpg")
		img(src="https://3.bp.blogspot.com/-KIA1D3astU4/WVuXPKffScI/AAAAAAABer8/0yyxPpnsz_g3DdUaGVB-aT_rsjLlB5eRwCLcBGAs/s500/20170611_120126.jpg")
			
		//img(src="https://3.bp.blogspot.com/-Vhbbk_1qiXo/WVuXPO0ABdI/AAAAAAABesA/bg9LKrhXs0Anjg4fDgzvvLkObktzvbmcACLcBGAs/s500/20170611_120133.jpg")
		img(src="https://2.bp.blogspot.com/-srgAMum6qd8/WVuXPe9AXWI/AAAAAAABesE/VhFJ1wwMRIQXlNzKjPDbWlozhYG4Sv_CwCLcBGAs/s800/20170611_120146.jpg")
		img(src="https://4.bp.blogspot.com/-rtwurHlQs2k/WVuXPx4rI2I/AAAAAAABesI/MmtRfZYJZ5QkLC7vREPOCd1Mg_aETwuJACLcBGAs/s800/20170611_120159.jpg")


	.fleuron



	h3 12 June, Monday (Week 20) - Fun in New House
	.story #[.elvin] Audrey's growth is gradual and relentless. It only occur to me that she is able to put both hands together to clasp an object firmly. A few weeks ago, she was constantly stuffing both hands in her mouth. That could be the foundation for her to master the motor skill to put her hands together and also the visual ability to gauge how far the object is from her. She also props herself up with both hands under her chest so it is easier for her to keep her head up. One skill builds up to the next skill. 
	.videoset(data="xDSCaoz8t9U,yNwPcaeagtg,RlJRJGI6p0g,PsQCS3cPk0A")
	//Z9DEuhUDGxw,8MYMi6zvukA
	.videoset(data="OZjimGRxYwY,p4E4IIcmZA8,if4AtReE6-c")

	.photoset(data-layout="321413")
		img(src="https://3.bp.blogspot.com/-Cua-JAqDr20/WVuXP1s-osI/AAAAAAABesM/OEunXkTThQEHNr38Of34DN2yq33GL2trgCLcBGAs/s500/20170612_075620.jpg")
		img(src="https://3.bp.blogspot.com/-wl0nBSZwlWA/WVuXQt4mBMI/AAAAAAABesU/UNUrM9DWIaIwR-F8en91MBSBHnRCwWwLACLcBGAs/s500/20170612_075628.jpg")
		img(src="https://4.bp.blogspot.com/-wm_TPHGhZT0/WVuXQi4XJbI/AAAAAAABesY/RLZ-iWExHJEpVMqFTRFtSSaNoiXAkrjmwCLcBGAs/s500/20170612_075630.jpg")

		img(src="https://3.bp.blogspot.com/-aRPpspaKwWM/WVuXQ6hWUfI/AAAAAAABesc/vJ9AtTqdJEEGWg9GWI78vNCZiCEVXgehgCLcBGAs/s800/20170612_075648.jpg")
		img._(src="https://1.bp.blogspot.com/-CC0bxkyzU9c/WVuXRZSWr1I/AAAAAAABesk/y-osJR7--1o86iMy80ufLsdm15UIEMjGQCLcBGAs/s800/20170612_075650.jpg")

		img._(src="https://2.bp.blogspot.com/-1WP4aONGErI/WVuXSZl9pcI/AAAAAAABess/qK_-iHKJc6A37OlfJtuEwnp6l0hK5kVyACLcBGAs/s1600/20170612_075958.jpg")

		//img(src="https://1.bp.blogspot.com/-OMh9kU-_EJc/WVuXQDoeqEI/AAAAAAABesQ/N5hT1ZQGp4sNqxRrb8bwwMmzwhQFLUsbQCLcBGAs/s500/20170612_075626%25280%2529.jpg")
		//img(src="https://1.bp.blogspot.com/-vO0wHuNyziI/WVuXRdMJ0cI/AAAAAAABesg/ORUgGDghRwET7AFyubakPOM7_pAMwixMQCLcBGAs/s500/20170612_075649.jpg")
		//img(src="https://1.bp.blogspot.com/-lvypQafL6fQ/WVuXRuIFNMI/AAAAAAABeso/miOHJpwHRA8W9pJ3NsSUjaQmrONJzx2DgCLcBGAs/s500/20170612_075850.jpg")
		//img(src="https://2.bp.blogspot.com/-DqcKQV4iaig/WVuXTLyUhEI/AAAAAAABes4/K1sppdUgzy0TwoYjzW8gXrIz6IKWhjiVwCLcBGAs/s500/20170612_105202.jpg")
		img(src="https://4.bp.blogspot.com/-CdzL4mSZjLs/WVuXSVhvBBI/AAAAAAABesw/7h15QRheWPAXIEzdZzTVzw4TvmTOCUu3ACLcBGAs/s400/20170612_105155.jpg")
		img(src="https://3.bp.blogspot.com/-nejr4cDjQXc/WVuXSbK7A_I/AAAAAAABes0/4uukrXd_IywWFFKDrN69EuGbRppusGq2QCLcBGAs/s400/20170612_105156.jpg")
		img(src="https://3.bp.blogspot.com/-uUB791HsFF8/WVuXTOmxLwI/AAAAAAABes8/AfbqX-pN1zsRCutMnrYehAZiS43AsiROACLcBGAs/s400/20170612_105203.jpg")
		img(src="https://1.bp.blogspot.com/-qlYN01bp-e8/WVuXTJNvw0I/AAAAAAABetA/pZ7vzcWk99oiy1v6yYJVdz3tbshIlv0QACLcBGAs/s400/20170612_105237.jpg")

		img._(src="https://4.bp.blogspot.com/-Tn2UTtq9-2Q/WVuXT71g9rI/AAAAAAABetE/hukQ0USXiycvhV-iguKYl75cguD9dCfSgCLcBGAs/s1600/20170612_105239.jpg")

		img(src="https://4.bp.blogspot.com/-mtUGHfdUeoc/WVuXUEsmuEI/AAAAAAABetI/4hQMZHt4N4clXNPhulryi12cBgla6kYswCLcBGAs/s500/20170612_133950.jpg")
		img(src="https://4.bp.blogspot.com/-VooKvPa_lJM/WVuXUAUPsaI/AAAAAAABetM/NfpVoGKtS6A5-cGnHkf42KKOsOn8JapQgCLcBGAs/s500/20170612_133952.jpg")
		img(src="https://2.bp.blogspot.com/-X6YI46VTeKI/WVuXUqVNvHI/AAAAAAABetQ/_otcec1qA08rPBpC6Va4lOf17SOgPe2oACLcBGAs/s500/20170612_134149.jpg")

	

	h3 14 June, Thursday (Week 20) - Audrey gets a Play Yard
	.subline Head Circumference: 41 cm. Body Length: 63.5 cm.
	.story #[.ellis]
	.videoset(data="oMOmJbwW_bo,TiULNoGrQbA,OY3U9erCOW4,J5wCTA3PCbY,aUoyJ6PMd0w")
	.photoset(data-layout="232")
		//img(src="https://3.bp.blogspot.com/-sQtPm_umf9Q/WVud0v5SQbI/AAAAAAABetk/k3BI9NS76A0s-JV0N8fc3ZPmBdjKUprxwCLcBGAs/s500/20170613_073028.jpg")
		img(src="https://4.bp.blogspot.com/-yTneSvh5j5A/WVud0vwu7xI/AAAAAAABeto/bSamNrRWZ0oE-_JWS4qEzoAuFJPzl4RgACLcBGAs/s800/20170614_202259.jpg")
		img(src="https://1.bp.blogspot.com/-OTNOUsrA2bc/WVud0ohj6DI/AAAAAAABets/94itQePT1nsW4215QuqtwHDbrwnz1WlhwCLcBGAs/s800/20170614_202656.jpg")

		img(src="https://1.bp.blogspot.com/-RZ70O2Gu_B0/WVud1qHmnVI/AAAAAAABetw/S7MJWyPlZHoxz5OesEUhhYPqhxr3yG-FgCLcBGAs/s500/20170614_203100.jpg")
		img(src="https://3.bp.blogspot.com/-X9hX4pqzHpk/WVud2UE3fKI/AAAAAAABet8/MS_bmhlCD4skRdHapt3cAPiGw0Zb8rk-ACLcBGAs/s500/20170615_215418.jpg")
		img(src="https://4.bp.blogspot.com/-wEy-NAWd-L8/WVud2aVQSEI/AAAAAAABeuA/t9VlWFvzprosjFZtPWB8CEZh75FL5T-gQCLcBGAs/s500/20170615_215419.jpg")

		img(src="https://4.bp.blogspot.com/-btCM-ypSwwk/WVud1sig8rI/AAAAAAABet0/KmdsCLSqtRQZ9_t2DBKHTVqpYyJzmoAVQCLcBGAs/s800/20170614_212412.jpg")
		img(src="https://4.bp.blogspot.com/-13CDoGLvFWU/WVud1laQe2I/AAAAAAABet4/85OSnd_7QdAbsaSnaFPVhVVZAMY0EtXYwCLcBGAs/s800/20170614_212413.jpg")


	.fleuron



	h3 17 June, Saturday (Week 20) - PD Checkup
	.subline Weight: 7.2 kg. Head Circumference: 41 cm. Body Length: 64 cm.
	.story #[.elvin] We are back at Dr. Eugene Han's clinic to give Audrey a checkup.
	.videoset(data="s66EdDO92_o,SbmQHMNKRAM,wy8qOEfgIqc,egZJszfKU3s,OVUywSXpKns")
	.photoset(data-layout="34")
		img(src="https://4.bp.blogspot.com/-VwvtmcIyW48/WVud2vwM8zI/AAAAAAABeuE/qaG8_fzohPY4wmJT5RQBCYOVwNeu8hovACLcBGAs/s500/20170617_122715.jpg")
		img(src="https://1.bp.blogspot.com/-pKJXxgG92zw/WVud3QK5aoI/AAAAAAABeuI/biQ8yg7FwaMTv1k6HyICGpxYlIIoaUrLACLcBGAs/s500/20170617_122732.jpg")
		//img(src="https://4.bp.blogspot.com/-5u2HARfEVFc/WVud3ksXRLI/AAAAAAABeuM/amUUQ4MKArYEdM6SINvqvyWgGM9zGWJdACLcBGAs/s500/20170617_122746%25280%2529.jpg")
		img(src="https://3.bp.blogspot.com/-OoJrB8-7zIY/WVud3lr2c_I/AAAAAAABeuQ/7yloaYbr3Uw1Pn4bEXXwraxQvE3KQZ9ugCLcBGAs/s500/20170617_122937.jpg")
			
		//img(src="https://3.bp.blogspot.com/-D93fk1au6-8/WVud4CHUeRI/AAAAAAABeuU/4MkNOq7J1lgqoX-ANMlRnubTTxlU5vKlgCLcBGAs/s500/20170617_122948.jpg")
		img(src="https://2.bp.blogspot.com/-6RuSUqb1wiE/WVud4r9F86I/AAAAAAABeuY/3csCi3arvAogQObJ_84VsVjJAsUL6_gawCLcBGAs/s400/20170617_142143%25280%2529.jpg")
		img(src="https://4.bp.blogspot.com/--pveQAfcYkM/WVui6APCmKI/AAAAAAABey0/LFZdzabjNeMezanyxQ4dk08eLq4az4sLgCLcBGAs/s400/IMG-20170617-WA0010.jpg")
		img(src="https://3.bp.blogspot.com/-8Ce1pYsw0Fc/WVui6T9h3ZI/AAAAAAABey8/P_jfOtGGSlsMbjfyT7-rDJ9vzB7eNXeSgCLcBGAs/s400/IMG-20170617-WA0011.jpg")
		img(src="https://3.bp.blogspot.com/-92ib65mS7xY/WVui6h8aAfI/AAAAAAABezA/9e48S_j3IzIzvS9pNX9OVwaMra13JwS4QCLcBGAs/s400/IMG-20170617-WA0013.jpg")

	.fleuron


	h3 18 June, Sunday (Week 20) - Grandmother and Grandfather at New House
	.videoset(data="XcDWEtlVaPQ,QiHRo9uxZaY,aUHX_cpPHz4,AFmRom4QT_s")
	.videoset(data="i44q5uE3JJc,BmeFJLR7dxI")
	.photoset(data-layout="2432")
		img(src="https://1.bp.blogspot.com/-w0n92eb1dXY/WVud4oHXuTI/AAAAAAABeuc/rexY9qHK1Osymwb_LYLL1be1nxFcjS-jQCLcBGAs/s800/20170618_081552.jpg")
		img(src="https://3.bp.blogspot.com/-frchBv2Oaoc/WVud5EE_XRI/AAAAAAABeug/byhIWlwVxQssceHhaopz7a3R7w806FG6gCLcBGAs/s800/20170618_092237.jpg")

		img(src="https://3.bp.blogspot.com/-4xjDHYiI37g/WVud5ZXyX2I/AAAAAAABeuk/u_Ac5trOZkQGPSMOZZRikJarbgNfS4R2wCLcBGAs/s400/20170618_092302.jpg")
		img(src="https://2.bp.blogspot.com/-IZfJ4Drq0R4/WVud5VE0d4I/AAAAAAABeuo/TXULHHxANQcV29i4nNju6PFQzSbkohV5QCLcBGAs/s400/20170618_092311%25281%2529.jpg")
		img(src="https://3.bp.blogspot.com/-Ki0o1-T2dJI/WVud57NpQZI/AAAAAAABeus/xS3q56hzlv4cNEvSsvR1alDhZgYyqrWwACLcBGAs/s400/20170618_122319.jpg")
		//img(src="https://3.bp.blogspot.com/-tBDfkqnFmiI/WVud6VoXgNI/AAAAAAABeuw/_KMJjrt3yCEYZSQ-7D7AbDfGI-L6mMjvACLcBGAs/s500/20170618_122323.jpg")
		img(src="https://1.bp.blogspot.com/-RAVgij2-Los/WVud6dA0GNI/AAAAAAABeu0/cXizC8SiFvw6SFQMy38AunRI0qOVZPdxgCLcBGAs/s400/20170618_122334%25280%2529.jpg")

		//img(src="https://3.bp.blogspot.com/-B9RQQ8WIN10/WVud6uyNArI/AAAAAAABeu4/N1aaMHYwG4U-cblcjCKAochsN3ZYk1bAQCLcBGAs/s500/20170618_135442.jpg")
		//img(src="https://4.bp.blogspot.com/-oEnBdFeMAws/WVud7a_Le7I/AAAAAAABeu8/eybih-Du_rk573-_SP0jCOxnvoz8Ly77QCLcBGAs/s500/20170618_135450.jpg")
		img(src="https://3.bp.blogspot.com/-BhcHPQCtvhw/WVud7U5vGdI/AAAAAAABevA/W0OQ9wARlK0TdCYdkhCNMHyMIJBOUZThACLcBGAs/s500/20170618_155520%25280%2529.jpg")
		img(src="https://2.bp.blogspot.com/-eTV0UMk2CV4/WVud7rU3qiI/AAAAAAABevE/eMhObgAuuZEECQhfE1kKNGBtFkApb22qgCLcBGAs/s500/20170618_155520.jpg")
		img(src="https://3.bp.blogspot.com/-s-KN77myvRk/WVud8LKp03I/AAAAAAABevI/Zr7kyYjjTvYvHY1Rst70q_gw9ub7W90ZgCLcBGAs/s500/20170618_155531.jpg")

		img(src="https://3.bp.blogspot.com/--_8s6SRtMTg/WVud8Wrz6II/AAAAAAABevM/xohmaVE1NCgMjD4pdwysHgLQGQTbBMR2wCLcBGAs/s500/20170618_160041.jpg")
		img(src="https://4.bp.blogspot.com/-rG0ua09eKzA/WVud8bYWYTI/AAAAAAABevQ/Ev99wvYZoVEgBW9YeZKQWmlih9UhdEajwCLcBGAs/s500/20170618_160100.jpg")

	.story #[.elvin] My dad hasn't been over to our house so far. He is always busy having to travel overseas to service the lifts on the ships. Today, he is back at Singapore and over at my place. He hasn't seen Audrey for a while and Audrey is equally excited to see him. My dad loves her granddaughter a lot. He bought a car so that we can ferry Audrey to and from their place every weekdays. As usual, my dad loves a refreshing cold beer so my mom has already brought a pack over last week. Audrey looks good in this Puma stripes outfit so it is time for some photos!
	
	.photoset(data-layout="A2")
		img(src="https://1.bp.blogspot.com/-yge5k1YAGEI/WVud8-zyM6I/AAAAAAABevU/miZAr80trWMXK2emcPxtSfhwdvHGcouIACLcBGAs/s800/20170618_183341.jpg")
		img._(src="https://3.bp.blogspot.com/-srQ6LCncp5k/WVud9utZwaI/AAAAAAABevY/o634AF_yGUgKNsN4sTcDiucxkudqce1RwCLcBGAs/s800/20170618_201830%25280%2529.jpg")
		
		img(src="https://1.bp.blogspot.com/-h7IaHtKRR0o/WVud9oZjmgI/AAAAAAABevc/KkG4Mt1CsLwV7vwSUHViUrCLs-fMX5dBwCLcBGAs/s800/20170618_201854.jpg")
		img(src="https://4.bp.blogspot.com/-NJjc2xDksdM/WVud996d8eI/AAAAAAABevg/nPrl9i_rcUI8SInX9k8A3omkToiYmrkGQCLcBGAs/s800/20170618_201855.jpg")
		//img(src="https://2.bp.blogspot.com/-Kk5_Dpu5bk8/WVud-bbHSeI/AAAAAAABevk/D4cQB6Ok5fQWvj7cq9PNTXRDGmcSHgyogCLcBGAs/s500/20170618_201857.jpg")
		img(src="https://2.bp.blogspot.com/-QNaul9F1j0A/WVud-lVG0jI/AAAAAAABevo/d3lCeFxk1qoLV6s7lffbaN25ap10V6NnwCLcBGAs/s800/20170618_203416.jpg")
		img(src="https://4.bp.blogspot.com/-hTRo-fReaaw/WVud-szGImI/AAAAAAABevs/Vl2lVhi1WJszsS6tSLq6M2fq0hL_6LdUQCLcBGAs/s800/20170618_205528.jpg")
		//img(src="https://2.bp.blogspot.com/-hTudKgOxWjs/WVud_AAku3I/AAAAAAABevw/VKT_nzqTZPAlJr-SEycC2iWRk4K9U0plwCLcBGAs/s500/20170618_205611.jpg")


	.fleuron


	
	h3 19 June, Monday (Week 21) - Sentosa Staycation 2
	.story #[.elvin] Audrey is the hottest girl in town. Everybody wants a piece of the action with her. Mum and Dad has brought her to Sentosa for staycation part two. Xiao yi has gotten another two nights stay in Festive hotel for them. Over there, they met up with Cousin Sharon and her family.
	.photoset(data-layout="A")
		img(src="https://3.bp.blogspot.com/-t9J7LPfkAmM/WVud_d2g6TI/AAAAAAABev0/R2Dw6SbVmcIfkb2WNF4WeMxiDyWY6k-WACLcBGAs/s800/20170619_075751.jpg")
		img(src="https://2.bp.blogspot.com/-YZYSpdrCHV0/WVui6jlWSpI/AAAAAAABezE/rEE5xahpszg4JmtN4nupH9fMRQN5dVf6QCLcBGAs/s800/IMG-20170619-WA0009.jpg")
		img(src="https://1.bp.blogspot.com/-vIzqNZzw0nY/WVui61SNTbI/AAAAAAABezI/Q9J5ZzhB8jsujWbHTFak1z8HhcAeWrRlQCLcBGAs/s800/IMG-20170619-WA0010.jpg")
		img(src="https://3.bp.blogspot.com/-zyMLUYAUJJw/WVui7F8E98I/AAAAAAABezM/pX4sCGgwGYse8zxkf9mcybJkGm6wvz9-wCLcBGAs/s800/IMG-20170619-WA0011.jpg")

		//img(src="https://3.bp.blogspot.com/-d5rSeoE4fF4/WVui7azZMlI/AAAAAAABezQ/f-ubpDsr6Usg3b7K570gOpkf1zJTz4GvACLcBGAs/s800/IMG-20170619-WA0019.jpg")
		//img(src="https://2.bp.blogspot.com/-qV_SYz__ZiY/WVui7eZqFbI/AAAAAAABezU/-uhMAfb5gTwPgXJpd0uhmUCC9XpQ-zBpwCLcBGAs/s500/IMG-20170619-WA0017.jpg")
	.photoset(data-layout="5232")
		//img(src="https://1.bp.blogspot.com/-KnjvJPpjFS8/WVui7oIig-I/AAAAAAABezY/J_wAwVXNHykQ6FYsmhAv9QbMHBifLUm1QCLcBGAs/s300/IMG-20170620-WA0000.jpg")
		img(src="https://4.bp.blogspot.com/-6uy7oT_cKzU/WVui8bx30fI/AAAAAAABezs/hqHz7qkIUJMQW3qKhVb6P_wrrOkL_DgjwCLcBGAs/s400/IMG-20170620-WA0006.jpg")
		img(src="https://3.bp.blogspot.com/--SOTKJ1Be7Q/WVui7_DFduI/AAAAAAABezc/widQatGDYGoMymNRHPgwvJ0ghJLzo9jFwCLcBGAs/s400/IMG-20170620-WA0001.jpg")
		img(src="https://1.bp.blogspot.com/-H6GqX8H4In4/WVui8NCUbHI/AAAAAAABezk/i5JDrcR3K5wBctiVm2ZVUnHggnTtedbGwCLcBGAs/s400/IMG-20170620-WA0004.jpg")
		img(src="https://2.bp.blogspot.com/-iVzKV5FTJgg/WVui8cwvLvI/AAAAAAABezo/ntPJIt4zbL8E_HzLFMSibW_b9biTCCcRQCLcBGAs/s400/IMG-20170620-WA0005.jpg")
		img(src="https://2.bp.blogspot.com/-BcPLEs3zivU/WVui9rRqMyI/AAAAAAABe0A/gjKIWm7XHE01e1e2HqZS676Jlg5QLyG3ACLcBGAs/s400/IMG-20170620-WA0012.jpg")
		//img(src="https://3.bp.blogspot.com/-7s9lzsbiBHY/WVui7x3JC7I/AAAAAAABezg/1pmzLBpcMhENBgjfHAgP5mNqKEKBkf4yACLcBGAs/s500/IMG-20170620-WA0002.jpg")
		//img(src="https://1.bp.blogspot.com/-ndAMT_oC-4c/WVui8kiTMzI/AAAAAAABezw/OW4MhCTH920JCEHIh0WFz2U-A6ICRvXGgCLcBGAs/s500/IMG-20170620-WA0007.jpg")
		//img(src="https://4.bp.blogspot.com/-i_r6hRJbO90/WVui80mcOOI/AAAAAAABez0/PsAucFX5mDUwssKwEocQL0a2Kt4WqPmGgCLcBGAs/s500/IMG-20170620-WA0008.jpg")
		//img(src="https://3.bp.blogspot.com/-vJvEn5cTR74/WVui9DjHhlI/AAAAAAABez4/ygLOOUDG_pEA_yXGb8cQI8CB0yGvuNHvQCLcBGAs/s500/IMG-20170620-WA0009.jpg")
		//img(src="https://2.bp.blogspot.com/-boGV_A3_8Ls/WVui9i_ZC2I/AAAAAAABe0E/ji4wSKM1dfAPhzFcby1F6Vpio9lWCxz_ACLcBGAs/s500/IMG-20170620-WA0013.jpg")
		img(src="https://4.bp.blogspot.com/-l_LckfVYSR8/WVui9OV3SsI/AAAAAAABez8/tw8gV1fGr-EuLoYh2Cbn0ASeJh5J1n8WACLcBGAs/s800/IMG-20170620-WA0011.jpg")
		img(src="https://2.bp.blogspot.com/-chKAa90-_6g/WVui-OAZ83I/AAAAAAABe0Q/IDQO4TzTo_cBSu5U2cQIUQL_NuDW6DcEwCLcBGAs/s800/IMG-20170620-WA0018.jpg")
		//img(src="https://3.bp.blogspot.com/-9fdypX-DNGs/WVui-f8W9BI/AAAAAAABe0U/f1F3EODQXQw_jKxkwQKn1g-fu-bdlHYcQCLcBGAs/s500/IMG-20170620-WA0020.jpg")
		img(src="https://2.bp.blogspot.com/-mVzUTpfQqUw/WVui-vkXvaI/AAAAAAABe0Y/9Pc6qvGQmz8SkO92Gu4GbyCvPJtpQ9b2wCLcBGAs/s500/IMG-20170620-WA0021.jpg")
		img(src="https://1.bp.blogspot.com/-KZYMe0iS2qk/WVui-LVn6BI/AAAAAAABe0M/HTOCu8OhkFIJBtdQKmaLrkKw4i4lF2J9QCLcBGAs/s500/IMG-20170620-WA0019.jpg")
		img(src="https://4.bp.blogspot.com/-B6pvih8dAxo/WVui-p76e8I/AAAAAAABe0c/wrNKTylMQjkdDH3JPqsocYdIWtY3zMR8ACLcBGAs/s500/IMG-20170620-WA0022.jpg")
			
		img(src="https://3.bp.blogspot.com/-BncIr4jtC6Y/WVui-0FqPjI/AAAAAAABe0g/7QVLKo9xJoQUTdKQ2fwAonxFaJyskOxQQCLcBGAs/s800/IMG-20170620-WA0032.jpg")
		img._(src="https://3.bp.blogspot.com/-RzNYpwhEzSk/WVui9tGlBMI/AAAAAAABe0I/qc2OGI1qxR0WJ3saqrBmWJ4HoKaSI8QMgCLcBGAs/s800/IMG-20170620-WA0014.jpg")

	.fleuron


	h3 21 June, Wednesday (Week 21) - Lim Family Chalet
	.story #[.elvin]
	.photoset(data-layout="214")
		img(src="https://1.bp.blogspot.com/-R4ukY5ullH4/WVud_nmYTRI/AAAAAAABev4/F37vrnX0jDsByKw_gjnPPzW7AuNnTGU3ACLcBGAs/s800/20170621_185921.jpg")
		img(src="https://2.bp.blogspot.com/-q6kYs1nSt2o/WVud_1KejGI/AAAAAAABev8/8Cf0sZf_hA0Z5cuGrf20IOlrX9cMQXyDwCLcBGAs/s800/20170621_185922.jpg")

		img._(src="https://4.bp.blogspot.com/-ld2Z0bwBF6Q/WVui_G5uCSI/AAAAAAABe0k/dXypKqYBtyELmgI60e_l0ZnI17h-nTIxQCLcBGAs/s1600/IMG-20170621-WA0002.jpg")

		img(src="https://4.bp.blogspot.com/-sZaHPx8JaoM/WVud_zdL9AI/AAAAAAABewA/nghQdfcdE-0L7rd9MUGsfAMeGGyE5XMcACLcBGAs/s400/20170621_194942.jpg")
		img(src="https://4.bp.blogspot.com/-073KStV02Bc/WVueAZMjTrI/AAAAAAABewE/YmdhrGfEJHs4-q5sjK8Sco4Y24YxFJxggCLcBGAs/s400/20170621_194955%25280%2529.jpg")
		img(src="https://1.bp.blogspot.com/-Y9zSivd4RUs/WVueAhdg6LI/AAAAAAABewI/R-kweZQfwtEi8lwwDfj3tbtXaMcnOXkKwCLcBGAs/s400/20170621_195053.jpg")
		img(src="https://3.bp.blogspot.com/-L4XE7htMDu0/WVueA0uLXhI/AAAAAAABewM/mI2vzk29sjoA3YttaUlo41YsAkeu4FfqwCLcBGAs/s400/20170621_195054.jpg")


	.fleuron


	h3 24 June, Saturday (Week 21) - Flipping Audrey
	.story #[.ellis] Well, yes. It's been a month since I was back to work. I must admit that I kinda like the 'back to routine' lifestyle. Of course, work is never as fun and happy as compared to my mother-daughter time with Audrey. 

	.videoset(data="5DVS38lOhhQ,EzxhZ3hUrVs")

	.story I find myself scrolling through Audrey's photos and watching her videos repeatedly. I've probably memorised every scene and action of hers. *Big grins* Proudly presents... MY DAUGHTER. And then, I find myself eagerly sharing little growing up episodes of Audrey to my colleagues... whether they like to hear it or not. Hehe.. pardon me, friends! I am totally the kind of new mothers that people hates on social media... except that I did not share much on that platform. I did it literally. 
	.videoset(data="p477oMKKY3g,9Fp6P_T8v90,CVoYakCLvTY")
	.story It was the first time that I was hanging with my friends after work. We went to Taan at Purvis Street. Good recommended. First beer at $1 and each skewer at $1 from 6pm to 8pm. The only difference was, I had to be back to MIL's place to fetch Audrey home. Well, I kinda like the additional commitment. Happy to be committed.

	.photoset(data-layout="232")
		img(src="https://3.bp.blogspot.com/-4CzXmeYIRwI/WVueBIjAdwI/AAAAAAABewQ/hVXDIr0va2QwE1IXXzNMibe99YlaeSGnwCLcBGAs/s800/20170624_083834.jpg")

		//img(src="https://3.bp.blogspot.com/-IFIK83_SlaA/WVueBeEyoMI/AAAAAAABewU/47ZnNy_SeDsGNJxUjV4v32n51d4oRCyjQCLcBGAs/s500/20170624_084701.jpg")
		//img(src="https://3.bp.blogspot.com/-PGeROxhgKH4/WVueBrQvjlI/AAAAAAABewY/B9wCtHyb8HIDnRGNTPT2v5anXlWv-IwIwCLcBGAs/s500/20170624_084714.jpg")
		//img(src="https://2.bp.blogspot.com/-R5qLLs-Z-KU/WVueB-alkHI/AAAAAAABewc/bwhcZT-vwTsMmmjElYnH-XFF81pUFqg2ACLcBGAs/s500/20170624_084717.jpg")

		//img(src="https://4.bp.blogspot.com/-5RG01gHSHas/WVueCMrvLHI/AAAAAAABewg/1X1MjotE2msXOBzjyKF6Y8iLfBf5mUIpgCLcBGAs/s800/20170624_084827.jpg")
		img(src="https://3.bp.blogspot.com/--GTB-MJtcPM/WVueCD0tQQI/AAAAAAABewk/eE1gNDZF1KEKXcj8OHGc_ZcsIOKXKZdlwCLcBGAs/s800/20170624_084902.jpg")

		img(src="https://4.bp.blogspot.com/-XBkTylk_cL8/WVueCoc1MzI/AAAAAAABewo/7aqsgRrLBLcTF8IMQKXTzyBAMyRovJlQACLcBGAs/s500/20170624_090159.jpg")
		img(src="https://4.bp.blogspot.com/-QPLIOjhddDI/WVueCxSvicI/AAAAAAABeww/sAWeypzVLVA8SpbDbHHns6NkBHNyRZGSwCLcBGAs/s500/20170624_090207.jpg")
		img(src="https://4.bp.blogspot.com/-VYO3VE2dRmI/WVueC6mUqKI/AAAAAAABews/lB5gBaoXuT02lGhnMSQ-Yh72yQh9K6NYgCLcBGAs/s500/20170624_090210.jpg")

		img(src="https://4.bp.blogspot.com/-55WiLMQD-Qk/WVueDd4lupI/AAAAAAABew0/pGk_y067540sCnrZjR2ljEmKnytHfqdMQCLcBGAs/s800/20170624_103001.jpg")
		img(src="https://1.bp.blogspot.com/-YXQ1pSVBC2s/WVueDnXOdWI/AAAAAAABew4/4f3jBnxZSIgP1tjlJQpQCxT35xrOWrwdgCLcBGAs/s800/20170624_103014.jpg")

		//img(src="https://2.bp.blogspot.com/-aaE86NtjiIQ/WVueD0Me7vI/AAAAAAABew8/QMXzbukPCE4MmWzBS0CMQen-NynEDRtaQCLcBGAs/s1600/20170624_121539%25280%2529.jpg")
	.story And guess what... *Roll eyes* I MISSED AUDREY'S FIRST MEGA MILESTONE! She flipped at 7.45pm. EXACTLY. Grandma noted it. Elvin gave me a good description of how she did it while I was on my way home. Oh my god. It must have been damn cute! But don't worry. I saw it again when I was back. Phew. Thanks Audrey! 
	.videoset(data="4sPb7NdRtis,vLsb3LTdzEQ,7gOvYJPlJyk,J5GfjyUj6lA")



	.fleuron


	h3 25 June, Sunday (Week 21) - Visiting Auntie Serene
	.story #[.ellis]
	.videoset(data="44o5bEGUQdo,uOamkQjHHiQ")
	.photoset(data-layout="31323")
		img(src="https://4.bp.blogspot.com/-v08AxsbGB2k/WVuiyztxhTI/AAAAAAABexc/eXj7wu2AK80HLHYVnOHmeiN86LjrZdT3ACLcBGAs/s500/20170625_111130.jpg")
		img(src="https://1.bp.blogspot.com/-Hb-7kxCjvSE/WVuiy3oeM3I/AAAAAAABexY/U6Ibh3dBzbIeI9NKno4V6ixjFqulKNyewCLcBGAs/s500/20170625_111131.jpg")
		img(src="https://1.bp.blogspot.com/-auwh7Tm1m5M/WVuiy0MY5NI/AAAAAAABexU/Bkh5wGp0hEsGic_deGm955PIPZU2p5lHwCLcBGAs/s500/20170625_111132.jpg")

		img._(src="https://3.bp.blogspot.com/-vgM_3U8nbUA/WVuizyfnJ1I/AAAAAAABexo/KDpkXyfxXz4jLWoVIovsYedrAvdeRFlawCLcBGAs/s1600/20170625_145528.jpg")

		img(src="https://4.bp.blogspot.com/-6K3NsragBzk/WVuizw3_RJI/AAAAAAABexg/3KTA3umyWLoukDJh18wiWuewZJLXvER6gCLcBGAs/s500/20170625_145550.jpg")
		img(src="https://3.bp.blogspot.com/-alT-S_H8VoA/WVuiz1rxDTI/AAAAAAABexk/OULDLrHynhozM39oumXGeMQOh4bHqulLwCLcBGAs/s500/20170625_145551.jpg")
		img(src="https://4.bp.blogspot.com/-LXRA9Wu4aro/WVui_FyXAjI/AAAAAAABe0o/jXbZcc_dKRwvjsm3rptkCteXeGKSlbRHwCLcBGAs/s500/IMG-20170625-WA0008.jpg")

		img(src="https://3.bp.blogspot.com/-4iiby3sNhoM/WVui_kfLjZI/AAAAAAABe0s/BNhwyPO7qU8FZ4x8MQh7dpbAmpff6dVUQCLcBGAs/s800/IMG-20170625-WA0013.jpg")
		img(src="https://1.bp.blogspot.com/-v_K6XgIDIEw/WVui_7rPSLI/AAAAAAABe0w/eqw9vBxEyGoH1OgEqj6-sXlcSWrR_30HACLcBGAs/s800/IMG-20170625-WA0014.jpg")

		img(src="https://1.bp.blogspot.com/-pHKBrZ4182Y/WVui_4GRxqI/AAAAAAABe00/Gx06nuYbp9c_OUUIYLHTnuwywMrfARjugCLcBGAs/s500/IMG-20170625-WA0019.jpg")
		img(src="https://4.bp.blogspot.com/--frs57Z5U7E/WVujAPBwMpI/AAAAAAABe04/cFFMrM1SRGIjvpZOsB0SxDRDfQ2jFhnbACLcBGAs/s500/IMG-20170625-WA0024.jpg")
		img(src="https://2.bp.blogspot.com/-e3xr6yUTIPw/WVujAdCVXyI/AAAAAAABe1A/pR571qCFaNA6X461DZ6Jhvw_Xy5pSHI_wCLcBGAs/s500/IMG-20170625-WA0028.jpg")
		//img(src="https://2.bp.blogspot.com/-SETOhulMmcg/WVujAaLhXCI/AAAAAAABe08/-jjWvexTba4HqQ_tLWVRfuzuaFLFCFywQCLcBGAs/s500/IMG-20170625-WA0030.jpg")

		//img(src="https://2.bp.blogspot.com/-r5y-WHAHoak/WVui0npP0JI/AAAAAAABexs/jI5BQ1f0nQcHBoojRHyoPli0thU-ipEyQCLcBGAs/s400/20170625_212344.jpg")
		//img(src="https://2.bp.blogspot.com/-z0F1Fc0iUEk/WVui1B-bQXI/AAAAAAABex0/J-I7MO91LZUbTIZhu3hZeJbNmqQd0pY1ACLcBGAs/s400/20170625_212400.jpg")
		//img(src="https://2.bp.blogspot.com/-u9pum2C-Nk8/WVui0_i0o6I/AAAAAAABexw/_WfUwUPcZq06t3oZvCULr1Rbgw0s5fGkQCLcBGAs/s400/20170625_212405.jpg")
		//img(src="https://3.bp.blogspot.com/-p5FXH-eWenk/WVui1lnHx1I/AAAAAAABex4/SyHb29jrDosqraKjgzR5yXzAfFVlQ_SoACLcBGAs/s400/20170625_212407.jpg")
	

	.fleuron
