---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-oB1mlwNS06o/WewIzG0WtsI/AAAAAAABgt0/5O75wh5aXZ4IEnJfttdMEog7Q86TwxzEQCLcBGAs/s1600/20171001_085827.jpg
title: Eight Months
excerpt: Standing
author: Ellis and Elvin
date: 2017-09-01
permalink: /audrey08
---
header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]udrey is growing up really quick.
	.fleuron
	h2 

	h3 28 September, Thursday - One Fish, Two Fish, Red Fish Blue Fish
	.photoset(data-layout="232")
		img(src="https://1.bp.blogspot.com/-hgn1z9pnBlE/WewIstrj-lI/AAAAAAABgss/9LuP5ArLxgkNbDpXrhTBgJDexT9Aitx5QCLcBGAs/s500/20170928_202401.jpg")
		img(src="https://1.bp.blogspot.com/-cMjmt9j42pY/WewItG9XoJI/AAAAAAABgsw/BIvZY1ON-nEKJ0DoMBFRES0MblpgBaNXgCLcBGAs/s500/20170928_202405.jpg")
		img(src="https://2.bp.blogspot.com/-O2u-T3Sbwbw/WewItXEO0DI/AAAAAAABgs0/CrekAWWviUcOHztNxrOo0b3SZMBqZKWhwCLcBGAs/s500/20170928_202459.jpg")
		img(src="https://2.bp.blogspot.com/-8HgsWYJYAtI/WewItxImfvI/AAAAAAABgs8/46MDfnL39y8A6Y7MFMvkqPyYEvWUMcSdQCLcBGAs/s500/20170928_202926.jpg")
		img(src="https://2.bp.blogspot.com/-goRPdlfWr3I/WewIt_gmA6I/AAAAAAABgs4/fXwwsPN68xsZ7I-1ytiw21C3OmTwbZsCwCLcBGAs/s500/20170928_203015.jpg")
		//img(src="https://4.bp.blogspot.com/-d4ng2lLEr9E/WewIusDL3cI/AAAAAAABgtA/wcUaAJPp-00OfP8L4kVBRVjZHx9TWMKlwCLcBGAs/s500/20170928_203219.jpg")
		img(src="https://1.bp.blogspot.com/-TbnwuT9yV5w/WewIu8WhwzI/AAAAAAABgtI/50GAQ-0MTz46WH_ULfj0VpQ6ahvHM76-gCLcBGAs/s500/20170928_203233.jpg")
		img(src="https://4.bp.blogspot.com/-Jp7hfnBk8xY/WewIup4iBKI/AAAAAAABgtE/Ih7RuAVrCHA3a67Y6_U8Cxn_2XO5d0mcwCLcBGAs/s500/20170928_203242.jpg")
	.videoset(data="zkDekKYBxnw,4_gibLuxulA,yOQRP4Mompo,x-UBJFUOWqM")

	.fleuron

	h3 30 September, Saturday - 8 Months
	.photoset(data-layout="32")
		img(src="https://2.bp.blogspot.com/-Gge5456PSAQ/WewIv4Mo9nI/AAAAAAABgtQ/ekPmRPOtRBsQc10-TpvtjyfWhABv8E1jgCLcBGAs/s500/20170930_082621.jpg")
		img(src="https://2.bp.blogspot.com/-b3KiVhol-Dw/WewIv581YpI/AAAAAAABgtU/HxbmxNfATMwjwe1dtHi0_yhNKe89NBoQwCLcBGAs/s500/20170930_082624.jpg")
		//img(src="https://2.bp.blogspot.com/-geYICK9hepo/WewIv6XAExI/AAAAAAABgtM/4pByjAmOc70irIfDvbjPa7GaP1gIF2h2QCLcBGAs/s500/20170930_082626.jpg")
		img(src="https://2.bp.blogspot.com/-TFKqG-sudZE/WewIxLWZ4jI/AAAAAAABgtg/4Decdb3rKnMR1aWJvXTz1uoGXSzl3GAaQCLcBGAs/s500/20170930_083927.jpg")
		img(src="https://3.bp.blogspot.com/-EMp6uct4-Q4/WewIw7XFocI/AAAAAAABgtY/L4OigIueG4Q8khddDxF9rHSm6fXJJfzCACLcBGAs/s500/20170930_091927.jpg")
		img(src="https://4.bp.blogspot.com/-64splsqdU58/WewIxPi2__I/AAAAAAABgtc/Y7yFSsX8v_IZAO7KkRC0gv2Mge96dkzewCLcBGAs/s500/20170930_091954.jpg")
	.videoset(data="hwHjp3EpUKc,xt9W0VjLOkM,A6uMCuVhfxU")

	.fleuron

	h3 1 October, Sunday - Half-naked Buddies
	.photoset(data-layout="3W232321")
		img(src="https://3.bp.blogspot.com/-eZWsF-t_kTQ/WewIx-fLtAI/AAAAAAABgtk/S8NKyg7SJRgFm2U27TsIG_NUPCxeS3UeACLcBGAs/s500/20171001_085508%25280%2529.jpg")
		img(src="https://3.bp.blogspot.com/-CdVMU5ikGw8/WewIx-Z44mI/AAAAAAABgto/9gk_nkfwWi8v3m5YCzfctyj9byXZ7QfMgCLcBGAs/s500/20171001_085620.jpg")
		//img(src="https://1.bp.blogspot.com/-oT180TOswk4/WewIyOZi7SI/AAAAAAABgts/nOCk3CUpI8ULGem7JvFmV6Qt-vCe5H_lgCLcBGAs/s500/20171001_085634%25280%2529.jpg")
		img(src="https://3.bp.blogspot.com/-yVfpu3osk6Q/WewIy33WQvI/AAAAAAABgtw/8CkrG0nOX-QVJQDEqbG3mJ-0KNmo_tfbQCLcBGAs/s500/20171001_085636.jpg")

		img._(src="https://1.bp.blogspot.com/-oB1mlwNS06o/WewIzG0WtsI/AAAAAAABgt0/5O75wh5aXZ4IEnJfttdMEog7Q86TwxzEQCLcBGAs/s1600/20171001_085827.jpg")
		//img(src="https://2.bp.blogspot.com/-qmrGRGldnRM/WewIzTude2I/AAAAAAABgt4/c8_fSJ4n4oksNFmqFTXKgpzvQIuHfflMQCLcBGAs/s500/20171001_085836.jpg")
		img(src="https://1.bp.blogspot.com/-DJo7_L4uChQ/WewIzxxe1JI/AAAAAAABgt8/QmG3ZZbIaOUhMvrLhfu5zCnUajiijssZACLcBGAs/s500/20171001_085845.jpg")
		img(src="https://2.bp.blogspot.com/-vMJsDfxzsqY/WewI0dLNbUI/AAAAAAABguA/Rq4ZErknMgINWWpHSmruQ1M9j6bXQUuPwCLcBGAs/s500/20171001_090947.jpg")
		//img(src="https://4.bp.blogspot.com/-iRU7peNhyMc/WewI0l8PXuI/AAAAAAABguE/WxzGCrTlsRQgNQprKt3DgGyLVJVpto9ywCLcBGAs/s500/20171001_090948.jpg")
		img(src="https://2.bp.blogspot.com/-l030kpGh1GI/WewI09KJrkI/AAAAAAABguI/NmfgRmctDRsFPwU-kHHbYnrBnzfSSsQRgCLcBGAs/s500/20171001_091141.jpg")
		img(src="https://4.bp.blogspot.com/-3FXPZImRHLo/WewI1fdl7jI/AAAAAAABguM/9GvoaHXwOugHf2YhZr75Bnq8oWG52cdKQCLcBGAs/s500/20171001_091146.jpg")
		img(src="https://3.bp.blogspot.com/-e9ur92riV44/WewI10OF6zI/AAAAAAABguQ/KVfs6wMOdrMQxMJTlhG-2dWvDCcVKZN2wCLcBGAs/s500/20171001_091148.jpg")
		img(src="https://2.bp.blogspot.com/-sKzBU1ettHg/WewI2MVxJ1I/AAAAAAABguU/vJb37b0Hr2EA51S_U4nO1q7Ng2pby9jrwCLcBGAs/s500/20171001_091647.jpg")
		img(src="https://4.bp.blogspot.com/-DEiQ79jPZ7E/WewI2lFXksI/AAAAAAABguY/z7TOHMCdTdc5xOXKUimLPDK6k_qRwqtBQCLcBGAs/s500/20171001_091652.jpg")
		img(src="https://4.bp.blogspot.com/-2mLY68UnhdU/WewI20uu7_I/AAAAAAABguc/l44BcwsDFnkunPcBFerRAQgv1-UmDJdVwCLcBGAs/s500/20171001_091702.jpg")
		img(src="https://1.bp.blogspot.com/-Y52Efd2vkXY/WewI3XTjh8I/AAAAAAABgug/qeij1FlFHEIRMvoKuwvvhO-NYUSl5vJRACLcBGAs/s500/20171001_091706.jpg")
		img(src="https://3.bp.blogspot.com/-gTZcsmZgOeU/WewI39qt0UI/AAAAAAABguk/UA9igOB_RKUStPPky2LcUCcb3tuTd81jACLcBGAs/s500/20171001_095816.jpg")
		img(src="https://2.bp.blogspot.com/-G_Ln0LM1ccs/WewI4CpSZFI/AAAAAAABgus/a-TSLZW6iE0h2SPVjSYPfCZUv2ToVGp6QCLcBGAs/s500/20171001_111044.jpg")
		img(src="https://1.bp.blogspot.com/-570uq19ly6Q/WewI4LLtYII/AAAAAAABguo/QDhd8J7tGAwgm6ZZJ9oZ0dxt461g0ZgYwCLcBGAs/s500/20171001_111046.jpg")
		img(src="https://4.bp.blogspot.com/-pJwGBZE2o20/WewI5JMCYBI/AAAAAAABguw/F6-BNLwce0Aii-JMHhYJ2qzB6-yPFJvRQCLcBGAs/s500/20171001_170422.jpg")


	h3 21 October - 71.5cm 8.8Kg
