---
layout: exposure
label: family
#cover: https://3.bp.blogspot.com/-eRIvhlAr328/WjaDNf9PefI/AAAAAAABhqw/UtzS39J3fWoALGozTD7RiyuXNKsYKHrNACLcBGAs/s1600/20171128_203925.jpg
cover: https://1.bp.blogspot.com/-tKUgzbCktsI/WnY0e5QlJUI/AAAAAAABiho/rrQui2otfv4N5W0b-5-Zd2yQkZx5pJLdACLcBGAs/s1600/20171202_143039.jpg
title: Ten Months
excerpt: Intelligence
author: Ellis and Elvin
date: 2017-11-28
permalink: /audrey10
---
header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]udrey, Audrey, Audrey. Driving us crazy with her trantrums and intelligence. She is getting smarter every day. She is attempting communication by imitating our words, expressions and actions. She tests our limits by staring at us and repeating her actions, while we are saying "No!" sternly to her. She reacts to the words "bye bye", "sayang", "dance" and "snap your fingers". With her nine-kilograms frame, she overpowers other kids of the same age. She is good with her balance. She stands on the back of her pony, rocking back and forth, while we watch on with the food in our stomachs going up and down. On a good night, she dives head-first off our bed, chuckling on her way down. On a bad night, we have to fight her to sleep. Oh, happy parenthood.

	.fleuron

	h2

	h3 28 November, Saturday - Mole
	.story #[.elvin]
	.photoset(data-layout="2341")
		//img(src="https://4.bp.blogspot.com/-UqFE_NQG98o/WjaDJP5m9XI/AAAAAAABhqE/WyV9b2nGtpwrLh3sJgLKybUoI_UKsC0sQCLcBGAs/s500/20171128_194017.jpg")
		//img(src="https://4.bp.blogspot.com/-SsCVpjsAwB8/WjaDJfjJoEI/AAAAAAABhqM/FgreMQf8OEY88lCwpd-d2ViJFfxYbvz7wCLcBGAs/s500/20171128_194018.jpg")
		//img(src="https://4.bp.blogspot.com/-Wy0KDEV48ug/WjaDJfuPahI/AAAAAAABhqI/XQRl0MtcwD44KONO6bD-Xf8izFZwKxmWACLcBGAs/s500/20171128_194346.jpg")
		img(src="https://4.bp.blogspot.com/--2x4KHOA9Ho/WjaDKVVNGmI/AAAAAAABhqQ/8E5ffjKk7koBzuS2_l5BLlrjm4_xsQyRwCLcBGAs/s500/20171128_203408.jpg")
		img(src="https://4.bp.blogspot.com/-6m5iMRwhI_E/WjaDKeWjafI/AAAAAAABhqU/_QPCzNT4Nck0ynHJX52WowxO_ipS55JxwCLcBGAs/s500/20171128_203421.jpg")
		img(src="https://1.bp.blogspot.com/-nBWM3U8KmJc/WjaDKjA57ZI/AAAAAAABhqY/4xEQrzz8SLEpD7PFq6SJfuCxi7tKLIaiACLcBGAs/s500/20171128_203503.jpg")
		img(src="https://2.bp.blogspot.com/-CrYJzTl7SJo/WjaDLSf8EUI/AAAAAAABhqc/-iF6_s7aMtMdCV-mqRtMpcX6GHWNcHSeACLcBGAs/s500/20171128_203507.jpg")
		img(src="https://4.bp.blogspot.com/-wVBen6A4zI8/WjaDL6a0lCI/AAAAAAABhqk/KXqhtntQtHwFH8GMAF5fhczh_uL9NXKhQCLcBGAs/s500/20171128_203525.jpg")
		img(src="https://4.bp.blogspot.com/-qkvZwZ7hf2g/WjaDLxc8kcI/AAAAAAABhqg/miXoskWmaFIWnXgkOI7ueiwsOJ7MzP_IgCLcBGAs/s500/20171128_203826.jpg")
		img(src="https://3.bp.blogspot.com/-XYnbiyMtYzo/WjaDMQN8abI/AAAAAAABhqo/DbVulYHGpZkdtNtZDGm3JJhlpiqKvXakgCLcBGAs/s500/20171128_203838.jpg")
		img(src="https://4.bp.blogspot.com/-e3NJhKY4PvA/WjaDMwSYMuI/AAAAAAABhqs/p0pkPlqsoxUAuYkIYO9kjhORw3Ff2QiqgCLcBGAs/s500/20171128_203905.jpg")
		img(src="https://3.bp.blogspot.com/-eRIvhlAr328/WjaDNf9PefI/AAAAAAABhqw/UtzS39J3fWoALGozTD7RiyuXNKsYKHrNACLcBGAs/s500/20171128_203925.jpg")
		img(src="https://2.bp.blogspot.com/-T1IqItlaVl0/WjaDNqw9qcI/AAAAAAABhq0/QLK_dXeVGhgIp9DuQclAm_Uev-2Q-xW6ACLcBGAs/s500/20171128_204438.jpg")

	.fleuron
	h3 30 November, Monday - Stayover
	.photoset(data-layout="232323232")
		img(src="https://4.bp.blogspot.com/-vzT37PV2EzM/WnY0Yin041I/AAAAAAABig0/g6O2vJqF_sA8hEk0hZ6o_fn6NzOdM4jSgCLcBGAs/s500/20171130_080205.jpg")
		img(src="https://2.bp.blogspot.com/-bKhQe9DYHGY/WnY0YvQsg8I/AAAAAAABigs/13AiUVaLOechrP9Krvn3X_9HlzxmyY_CQCLcBGAs/s500/20171130_080206.jpg")
		img(src="https://1.bp.blogspot.com/-KGUCtrTWeiE/WnY0aDLgyPI/AAAAAAABig4/DbgvPyhaw_870icvOg7uLrUMOVhydxJzACLcBGAs/s500/20171130_080216.jpg")
		img(src="https://3.bp.blogspot.com/-W2uUKuCuGp4/WnY0aaoPp9I/AAAAAAABihA/BihmY4LUei0triQudelRX4y5e0xakSF8wCLcBGAs/s500/20171130_202718.jpg")
		img(src="https://2.bp.blogspot.com/-07pi7sNLyVg/WnY0aceNSmI/AAAAAAABig8/MTCdHT5xIWoSukwDiZYl8d0xTXbzg5tkwCLcBGAs/s500/20171130_202720.jpg")
		img(src="https://4.bp.blogspot.com/-irtKi18I2OY/WnY0bQScb9I/AAAAAAABihE/ynbybCc2n8sLE42YDurhQ0rLXWaSIBYYACLcBGAs/s500/20171201_070755.jpg")
		img(src="https://1.bp.blogspot.com/-9_y_w_0ruSk/WnY0bjHjLJI/AAAAAAABihI/I1pK0DjpbiIVHTy9tBv0LOVmwYNaJDPMwCLcBGAs/s500/20171201_070804.jpg")
		img(src="https://2.bp.blogspot.com/-_aqyEdiu2S4/WnY0b_cYQkI/AAAAAAABihM/OP_rdzC7URQDFCRMEVAGNc5Z8VnKma2vwCLcBGAs/s500/20171201_071746.jpg")
		img(src="https://4.bp.blogspot.com/-px82PukZri8/WnY0cQC-XCI/AAAAAAABihQ/_SOgR-SdtqE4YAconhDyhwNDkvOGqIwTQCLcBGAs/s500/20171202_093018.jpg")
		img(src="https://2.bp.blogspot.com/-frsTRP1bGf8/WnY0cldADvI/AAAAAAABihU/aHbZgliuf9I7Pq3KWBI3aZtshLPq6EVHQCLcBGAs/s500/20171202_093030.jpg")
		img(src="https://4.bp.blogspot.com/-e7pbuxg-iK8/WnY0dMue4zI/AAAAAAABihY/hCqO_xTmkFMVp8Q2lYTa96dStB7nhZ6HQCLcBGAs/s500/20171202_132752.jpg")
		//img(src="https://3.bp.blogspot.com/-yJeqnlIxWNM/WnY0dlrts9I/AAAAAAABihc/jn3vfz2w7egiKh-8KO1TSYqJaOq_EtqIQCLcBGAs/s500/20171202_132801.jpg")
		img(src="https://1.bp.blogspot.com/-6hZZQcL0T94/WnY0dosNYAI/AAAAAAABihg/2gjhA3Iyx7gAR8d04nu-rfj8MVaucYJ4ACLcBGAs/s500/20171202_132859.jpg")
		img(src="https://4.bp.blogspot.com/-ORvjP0qpZ8M/WnY0eOKRHyI/AAAAAAABihk/1C-rYNDmGTUV05vc0DP0Sg-RAGB9pzCGQCLcBGAs/s500/20171202_143038.jpg")
		img(src="https://1.bp.blogspot.com/-tKUgzbCktsI/WnY0e5QlJUI/AAAAAAABiho/rrQui2otfv4N5W0b-5-Zd2yQkZx5pJLdACLcBGAs/s500/20171202_143039.jpg")
		img(src="https://1.bp.blogspot.com/-M9vDb-S0N9A/WnY0e1PS_RI/AAAAAAABihs/v4PPYq5WgRgVrAab-yOGk2IKFgLqy_sEACLcBGAs/s500/20171202_194210.jpg")
	.fleuron
	.photoset(data-layout="3431")
		img(src="https://2.bp.blogspot.com/-64tTW_1es0c/WnY0faI231I/AAAAAAABihw/4W_xniyHcXEh1FLA6v3BmYxRg7AIEwscgCLcBGAs/s500/20171203_073029.jpg")
		img(src="https://1.bp.blogspot.com/-1kiIRy3UuxA/WnY0gQUiq2I/AAAAAAABih0/Gn76yCuol64Jkhlw8f_-9JJoMBJnddnZwCLcBGAs/s500/20171203_091135.jpg")
		img(src="https://2.bp.blogspot.com/-syNgiN_126U/WnY0gYZat6I/AAAAAAABih4/FHF48kuX-VkUUFY9XsohJ6miGjLTqU31gCLcBGAs/s500/20171203_091138.jpg")
		img(src="https://3.bp.blogspot.com/-v_64QSZ57gY/WnY0gjEU38I/AAAAAAABih8/7zw4H1JV0UM9hAx__tlkwygaThhTjNZQACLcBGAs/s500/20171203_204505.jpg")
		img(src="https://2.bp.blogspot.com/-uud5t3CkD8c/WnY0hRwkkyI/AAAAAAABiiA/TN7dOqiBqTsZtjg8kyUAujxOeSIN9K1AQCLcBGAs/s500/20171203_204839.jpg")
		img(src="https://1.bp.blogspot.com/-tyF6_BYVxKE/WnY0hzkfBqI/AAAAAAABiiE/MKOsD8SvImIGISNFirfW79hNSy4d_kbqgCLcBGAs/s500/20171203_204858.jpg")
		img(src="https://4.bp.blogspot.com/-BbncPw3_8rU/WnY0iHB5WjI/AAAAAAABiiI/wWBAGavbEaAih6kBHa_xEa9aJ5yFt4YaACLcBGAs/s500/20171203_205211.jpg")
		img(src="https://3.bp.blogspot.com/-2x_tTXszgmQ/WnY0i7vdFlI/AAAAAAABiiM/Cib9rCzyaKw9b63OdnuwXPPQFI4f6hSPQCLcBGAs/s500/20171203_205419.jpg")
		//img(src="https://2.bp.blogspot.com/-OBP4AeDyHuA/WnY0jGr0-5I/AAAAAAABiiQ/de7pkZMkiGghoigYRz-taNCmjX_uTRQSQCLcBGAs/s500/20171204_101630.jpg")
		//img(src="https://2.bp.blogspot.com/-WHbYWpN2ZsU/WnY0jOJXaGI/AAAAAAABiiU/jVPmHv67kaApwrvSrGUZpsOkKJqXjdRSACLcBGAs/s500/20171204_101636.jpg")
		//img(src="https://4.bp.blogspot.com/-gHIPpSlu2jE/WnY0j_2K-BI/AAAAAAABiiY/e8jF9rCHKqQwmWvQExNSMCPn4CsZ_HZBgCLcBGAs/s500/20171204_101641.jpg")
		//img(src="https://2.bp.blogspot.com/-qgas28RvoeE/WnY0kdgGHMI/AAAAAAABiic/cJMXJuzE5YMPCAeYt7_46glsKNie0mTogCLcBGAs/s500/20171204_101654.jpg")
		img(src="https://1.bp.blogspot.com/-UdbIVm1K-y4/WnY0lEaZOtI/AAAAAAABiik/u3IA8_zGGuUPyU0AQJiNwkwK__ekxXsjgCLcBGAs/s500/20171204_173535.jpg")
		img(src="https://4.bp.blogspot.com/-j7zjKdCDcKc/WnY0lhUOpgI/AAAAAAABiio/8FQYTHC_PhIA70tvvBLLjEw9Xcsj1k1eQCLcBGAs/s500/20171204_173626.jpg")
		img(src="https://2.bp.blogspot.com/-wzaAtrSpsd8/WnY0kRKC_1I/AAAAAAABiig/EXz0Lp5t7UIxJ8rTVpZjprXk1wOlvihjwCLcBGAs/s500/20171204_125958.jpg")

	.fleuron
	h3 5 December, Saturday - Box
	.photoset(data-layout="23232B3232")
		img(src="https://1.bp.blogspot.com/-Tt1AFGjLhmI/WnY0lgWrhTI/AAAAAAABiis/7vBVKPDVZakhZvqWcH-KM-LkTPvdD9b2QCLcBGAs/s500/20171205_070401.jpg")
		img(src="https://4.bp.blogspot.com/-zAeZRWNPEWw/WnY0mWD_KfI/AAAAAAABiiw/Ip17PjmUk7gboVr9DMf6kDwODts9TBPzQCLcBGAs/s500/20171205_070415.jpg")
		img(src="https://2.bp.blogspot.com/-TGwWZuLhHYI/WnY0nZFn3oI/AAAAAAABii0/oajvpshAd8kIVAb2aEvpUtq-v042E1XfgCLcBGAs/s500/20171205_101356.jpg")
		img(src="https://1.bp.blogspot.com/-Jqskmt1T-yM/WnY0nlJUpSI/AAAAAAABii4/mO3pqQsFB2461mLe6WLMIwBkBOj3w9WOwCLcBGAs/s500/20171205_101409.jpg")
		img(src="https://2.bp.blogspot.com/-PGRCPyWf80A/WnY0ojKRH7I/AAAAAAABii8/LBQ_C3Wgv04yyELc_VFDNLLtCdrUkGFlQCLcBGAs/s500/20171205_114405.jpg")
		//img(src="https://3.bp.blogspot.com/-bJYnrOxL9ig/WnY0o3Z6FeI/AAAAAAABijA/oLDB4_26GQwcJWz-0eX86wCDCucos24HQCLcBGAs/s500/20171205_114407.jpg")
		img(src="https://1.bp.blogspot.com/-vsNEIdL18og/WnY0ptrMdBI/AAAAAAABijE/gstp19uYh_UyGQ1JHebnxnE9fPr9-T8rwCLcBGAs/s500/20171205_114511.jpg")
		img(src="https://2.bp.blogspot.com/-MZDhmGPihO4/WnY0qMr6CRI/AAAAAAABijI/SAmO-bWrHS8DXTOmdIhRr6SvatKgO951gCLcBGAs/s500/20171205_114723.jpg")
		img(src="https://2.bp.blogspot.com/-C7DEo4ZHH2k/WnY0rt7foqI/AAAAAAABijM/r3erwR4hIkoGQDQaoyXBe1rPPknHLKymwCLcBGAs/s500/20171205_175711.jpg")
		//img(src="https://1.bp.blogspot.com/-5nx3mxtyqNQ/WnY0s2gChtI/AAAAAAABijU/08r8oS3KpoUT7DE4TyOiVq7LkThOFyMDwCLcBGAs/s500/20171205_175716.jpg")
		//img(src="https://3.bp.blogspot.com/-JBDZcHNUojw/WnY0uOTbgUI/AAAAAAABijg/sKyWPHFtCvQn56Ut4QN4a0U-Rt6HNu8-wCLcBGAs/s500/20171205_175721.jpg")
		//img(src="https://1.bp.blogspot.com/-1w-DE1IB3eQ/WnY0uPFID7I/AAAAAAABijc/HC1X9x3RfPsPqhiJzlj8Ztmax_xgw164wCLcBGAs/s500/20171205_175722.jpg")
		//img(src="https://1.bp.blogspot.com/-m-ehiwuHMWs/WnY0vRIcYcI/AAAAAAABijo/UImS8BrkASg5KqU9jykdR9gOQPDxih2FgCLcBGAs/s500/20171205_175737.jpg")
		img(src="https://4.bp.blogspot.com/-fIJ7hrSBgc0/WnY0vUmBeSI/AAAAAAABijk/OPIi-iUMVHUz4jOGRt2JuC5TGC81lY1vgCLcBGAs/s500/20171205_175743.jpg")
		//img(src="https://4.bp.blogspot.com/-o_TcaPLB76k/WnY0wsjRF1I/AAAAAAABijs/fqGNDMTAVl8l5Q506DFWlr8g7faWCQaXACLcBGAs/s500/20171205_175816.jpg")
		img(src="https://1.bp.blogspot.com/-6TnJYqRFoaA/WnY0w-8ijJI/AAAAAAABijw/NSAAlXnm8fwiSzMIwrQF_tfHf7mgGR7fQCLcBGAs/s500/20171205_175821.jpg")
		img(src="https://1.bp.blogspot.com/-jLZDd3DJVGQ/WnY0x4IxUAI/AAAAAAABij0/Zlskmi10j6wbZDFIGP1dmbUYm6ha3i_fgCLcBGAs/s500/20171205_175839.jpg")
		img(src="https://2.bp.blogspot.com/-8_JolvLHHWQ/WnY0yRMdkzI/AAAAAAABij4/eCx29E8UvR8IDI4jqOZ4sRT7Vwr17N4qgCLcBGAs/s500/20171205_180000.jpg")
		img(src="https://2.bp.blogspot.com/-DBBBQGu_aHY/WnY0yp-hcMI/AAAAAAABij8/qhSw1cEEL2QBwTdTbvFOTl0VvV3wA9w0gCLcBGAs/s500/20171205_180122.jpg")
		img(src="https://1.bp.blogspot.com/-N00dCnRbAQ0/WnY0zcKSoeI/AAAAAAABikA/wK4xXiMDT5gzGQ5Xagg-ufnShxmK7kzywCLcBGAs/s500/20171205_180207.jpg")
		//img(src="https://4.bp.blogspot.com/-bTTB47aE_gg/WnY0zru7gAI/AAAAAAABikE/YpnNpH1TeZ0JcLZpxsoYIk9R2TLHdzLlACLcBGAs/s500/20171205_180240.jpg")
		img(src="https://2.bp.blogspot.com/-01kx3Fk0ZVY/WnY0z9QpOuI/AAAAAAABikI/_CWsxxqqwtM1d1ekIAVSEIRcq2fI8fWswCLcBGAs/s500/20171205_180258.jpg")
		//img(src="https://4.bp.blogspot.com/-XFSD-_2VnBw/WnY00nK8kHI/AAAAAAABikQ/D0RcxkJvbsQdowv9eAJlyNAylugFrEp_wCLcBGAs/s500/20171205_180259.jpg")
	.photoset(data-layout="232323232")
		img(src="https://4.bp.blogspot.com/-JsiMwp866GI/WnY003HLZAI/AAAAAAABikU/pP1YzgQbg4IJNNrJUTWtDNQYpr3Gc4ohQCLcBGAs/s500/20171205_180354.jpg")
		img(src="https://1.bp.blogspot.com/-nfViiv1dUQo/WnY01Pf5DQI/AAAAAAABikY/3I9TklHUVroXcFoT11lkOZ5CpeM-unMfgCLcBGAs/s500/20171205_180539.jpg")
		//img(src="https://4.bp.blogspot.com/-3xxerreNxEc/WnY01xty1QI/AAAAAAABikc/MtTBQMbBd2Yp7SVMeYArH6D5PLu-KvOOQCLcBGAs/s500/20171205_180542.jpg")
		img(src="https://3.bp.blogspot.com/-U2TUM7mLLfs/WnY02MVrEuI/AAAAAAABikg/spsyg1944zEw3AgxgNxk1X8sLZRR3ZrhQCLcBGAs/s500/20171205_180709.jpg")
		img(src="https://1.bp.blogspot.com/-IfzYtTIBXEU/WnY02eF_plI/AAAAAAABikk/WitVTg6v_XctexV5nwITEnTSEO1WwsEWwCLcBGAs/s500/20171205_180717.jpg")
		//img(src="https://2.bp.blogspot.com/--k8KzhcHL9U/WnY02yBe2vI/AAAAAAABiko/NXKDYiPZKU0GIK8MnnTMomoo0pPv3scTACLcBGAs/s500/20171205_180724.jpg")
		img(src="https://4.bp.blogspot.com/-IsO5IHGr82s/WnY03PTUP0I/AAAAAAABiks/EgkeEJdg7ocoeOh7Qpmr8FUnO0kZvg4dACLcBGAs/s500/20171205_180837.jpg")
		//img(src="https://1.bp.blogspot.com/-fb9XptDd714/WnY03mplNfI/AAAAAAABikw/N5FDdEEwqaUs86pZ31ythm197HEFWQIygCLcBGAs/s500/20171205_181030.jpg")
		img(src="https://3.bp.blogspot.com/-vkZP1jrMsJE/WnY04AYw1rI/AAAAAAABik0/b6VbrrrE3-g3TNNBIrPiI0F6le9Vn8huwCLcBGAs/s500/20171205_181111.jpg")
		img(src="https://3.bp.blogspot.com/-ErZ9IWUFEA0/WnY04XrePtI/AAAAAAABik4/1o2N8eG_BL0Q6Qvw0OA3yN0PNzu4VXbewCLcBGAs/s500/20171205_181133.jpg")
		//img(src="https://2.bp.blogspot.com/-bpR1mvtoGhM/WnY048Qz_UI/AAAAAAABik8/o7zpkkFnT4gtdQD3Ankal7xNWmcahxI2gCLcBGAs/s500/20171205_181211.jpg")
		img(src="https://2.bp.blogspot.com/-xW50B9RIBLc/WnY05S1VRMI/AAAAAAABilA/OcyoyMEC5HQ8VwoUNkIwni0dMMTMJpLAQCLcBGAs/s500/20171206_072516.jpg")
		img(src="https://1.bp.blogspot.com/-fhrl82yVsT8/WnY05pT0M9I/AAAAAAABilE/WePgE1b0-QUNLUzVVqG2FHsGgxGXUaipwCLcBGAs/s500/20171206_200247.jpg")
		//img(src="https://1.bp.blogspot.com/-hNU3QrwXIqI/WnY06EcfW6I/AAAAAAABilI/qjiqoOkAzUgw3ZZ3MliAS4W34RiJLzV3gCLcBGAs/s500/20171206_200253.jpg")
		img(src="https://4.bp.blogspot.com/-045Ebw987lo/WnY06pSLEtI/AAAAAAABilQ/XHQRCa3x6NcAJ1ohmncRCHFijiwnCeLrgCLcBGAs/s500/20171207_203809.jpg")

	.fleuron
	h3 8 December, Friday - Photoshoot Day
	.photoset(data-layout="324")
		img(src="https://3.bp.blogspot.com/-AeiyDJwIlfM/WnY06voU0GI/AAAAAAABilM/IbK-xsu38tUiajd93JS9eUHQA6HzS_avgCLcBGAs/s500/20171208_112011.jpg")
		//img(src="https://1.bp.blogspot.com/-ar-xP2mGyk0/WnY06zD9HLI/AAAAAAABilU/zbMC-tUqrU8FmfeRIn7JjZm4tNsqZUjMQCLcBGAs/s500/20171208_113704.jpg")
		img(src="https://1.bp.blogspot.com/-TBJKHOO9Tys/WnY07rSC_FI/AAAAAAABilY/1DhAdfTwITsyvInXAgdi3X30ta_2EPgngCLcBGAs/s500/20171208_131054.jpg")
		//img(src="https://2.bp.blogspot.com/-krTlxus49vw/WnY077utzZI/AAAAAAABilg/DI7t1m_mGyQWGyaERCK4s-xSJ5jkhowtwCLcBGAs/s500/20171208_131104.jpg")
		img(src="https://4.bp.blogspot.com/-vaPdA8OCGiU/WnY08DBcgCI/AAAAAAABilk/MDYbYNBvqeUHOPINcdAbRg0KwqtkKeQUgCLcBGAs/s500/20171208_140717.jpg")
		//img(src="https://4.bp.blogspot.com/-pSzLDQ_NkGA/WnY08mfMY_I/AAAAAAABilo/f0uDzezYoSoNOk1XUNzRgrz2hwZrFaIAQCLcBGAs/s500/20171208_140731.jpg")
		img(src="https://3.bp.blogspot.com/-Pxh-7d-upHY/WnY09D1CQxI/AAAAAAABils/N1ZewFJ2Q2wf8jEm9Ff0XSq-JM3gIcBmQCLcBGAs/s500/20171208_140737.jpg")
		//img(src="https://3.bp.blogspot.com/-SRlcOdXG19c/WnY09QqpPEI/AAAAAAABilw/ls6Y6LdEZ_Ei80PNT3hX6ON-cx8BXl0SQCLcBGAs/s500/20171208_140841.jpg")
		img(src="https://1.bp.blogspot.com/-8DGyXN9YHJ8/WnY0-eV0TiI/AAAAAAABil0/liHK9ocAP2kzirN-bXWClQDWHmO_Mb1bgCLcBGAs/s500/20171208_143828.jpg")
		img(src="https://2.bp.blogspot.com/-yukpvVEwLYU/WnY1FZq7tKI/AAAAAAABims/pkMLRQ3ZrB4zDEkA2njeCvjtEE9LGjCcwCLcBGAs/s500/20171208_141211.jpg")
		img(src="https://1.bp.blogspot.com/-2Ye_gTlpbAY/WnY0-Xlx18I/AAAAAAABil4/I8xS98IdzuIWnUtEeFy-jkeN37FEeQyhQCLcBGAs/s500/20171208_143832.jpg")
		img(src="https://3.bp.blogspot.com/--3VD9hNzxFs/WnY0_HwpCXI/AAAAAAABil8/s_J5DmveBm8ZeAdwazF2glSvN1OXOQCkwCLcBGAs/s500/20171208_143851.jpg")
		//img(src="https://4.bp.blogspot.com/-1eU36UbK2nk/WnY0_UPUvmI/AAAAAAABimA/F-BbAYiWQmQeI3VtnlJn1gIBTUgHeSpyQCLcBGAs/s500/20171208_144129%25280%2529.jpg")
		//img(src="https://1.bp.blogspot.com/-HyJCCuycEGI/WnY1ASkjoqI/AAAAAAABimE/K9OrS1wr4scUYJzrBDUQm9-_IAvQmt8KQCLcBGAs/s500/20171208_144129.jpg")
		//mg(src="https://1.bp.blogspot.com/-YxM06iBMZ-E/WnY1Aa8jQ9I/AAAAAAABimI/pE9THa_urocecUGBWPbQsew7potPTBnMgCLcBGAs/s500/20171208_144132.jpg")
		//img(src="https://1.bp.blogspot.com/-t3PREVo7Kz4/WnY1BXiOq6I/AAAAAAABimM/ri4_rKLMMSc1wV4V-2bMbV9-LYBi01GeACLcBGAs/s500/20171208_144159.jpg")
		img(src="https://1.bp.blogspot.com/-SEbD1FZluRY/WnY1BjlJNXI/AAAAAAABimQ/QwwdprLfkbk90-31RGJ3jrAGIqgZCX9XQCLcBGAs/s500/20171209_130518.jpg")
	.fleuron
	h3 9 December, Saturday - Family day out at T4
	.photoset(data-layout="212313")
		img(src="https://3.bp.blogspot.com/-feJfTE50swY/WnY1CqeTotI/AAAAAAABimU/kBjBc0QtXsYUy9h1pb7v8aB6uZiFfMvGQCLcBGAs/s500/20171209_160133.jpg")
		img(src="https://4.bp.blogspot.com/-Im9kLri90vs/WnY1Cm9ErMI/AAAAAAABimY/tZlCbxR7_F8benx9uobhoZYxSDrL-shoQCLcBGAs/s500/20171209_160137%25280%2529.jpg")

		img(src="https://1.bp.blogspot.com/-Ct6v_ar1LnE/WnY1DjF5AZI/AAAAAAABimc/x5apVtnMhBAwKtONgvG7OaknbmWl5R89gCLcBGAs/s500/20171209_165142.jpg")

		//img(src="https://1.bp.blogspot.com/-eLcElIpL13k/WnY1D6752xI/AAAAAAABimg/y9siA4Jf7rY3rtYjH7eazfbL64qeC5tKQCLcBGAs/s500/20171209_165203.jpg")
		img(src="https://1.bp.blogspot.com/-Is9w9P09zJI/WnY1E2vc6GI/AAAAAAABimk/0Mkxw94y79oLWFyjpJeJNYjknq3O0XSUACLcBGAs/s500/20171209_165205.jpg")
		img(src="https://4.bp.blogspot.com/-_Vot3vNRN8Y/WnY1FBHpHrI/AAAAAAABimo/rtzVpbTKgu4zCOnBnUpPxQf5apxMIJ9GwCLcBGAs/s500/20171209_165238.jpg")
		img(src="https://4.bp.blogspot.com/-tRV7kMt2SVs/WnY1Gde4lWI/AAAAAAABimw/_Gd2nzOmDsgaU6-ULQVio98MP8lAMGIIQCLcBGAs/s500/20171209_165303.jpg")

		//img(src="https://2.bp.blogspot.com/-_o8IQY5diCQ/WnY1Nw_0fGI/AAAAAAABins/VPcoezatVkEwH1ry61EibRPIuhqs4a9qQCLcBGAs/s500/20171209_165310.jpg")
		//img(src="https://4.bp.blogspot.com/-y-3A1rFdr6c/WnY1GkTN8vI/AAAAAAABim0/2WwqT14A4AYh4xsjXoGxPrUJu_eV6Ku6ACLcBGAs/s500/20171209_165311.jpg")

		//img(src="https://3.bp.blogspot.com/-RJAbPo8TYfE/WnY1HU_GnpI/AAAAAAABim4/HoK44J3s44woYAR6kungJ8X0vt86Xlj9gCLcBGAs/s500/20171209_165515.jpg")
		img(src="https://4.bp.blogspot.com/-q8l53hAIkg0/WnY1H0HJInI/AAAAAAABim8/AeuAHTydgFEzzL2mwROHtvuiBDSN6o3BACLcBGAs/s500/20171209_165523.jpg")
		//img(src="https://2.bp.blogspot.com/-631gMguIO9Q/WnY1Ir8-3yI/AAAAAAABinE/KOx2gHc1M7AjYWCB2J2MEcONUHY6gGgXgCLcBGAs/s500/20171209_170359.jpg")
		img(src="https://1.bp.blogspot.com/-1TFGW0DXU7Q/WnY0Yovj3MI/AAAAAAABigw/nEXYr9QpdTY_pKT2CYs7UjV0WUywqbH-gCLcBGAs/s500/17-12-09-21-36-06-704_deco.jpg")

		img(src="https://4.bp.blogspot.com/-pGCka78WP4c/WnY1J6UpXUI/AAAAAAABinM/IN96KgaEMssWvV379w5UvjsOTcBa1mjQgCLcBGAs/s1600/20171209_184822.jpg")
		//img(src="https://4.bp.blogspot.com/-PCzqmc6_cEc/WnY1JKxqDXI/AAAAAAABinI/PDviAoy8WQgFTxvQc1Ca12gRXpbA5zQ1wCLcBGAs/s1600/20171209_184820.jpg")
		//img(src="https://2.bp.blogspot.com/-DKu-U2wbN7M/WnY1KZ1FlWI/AAAAAAABinQ/A9Qfkc4CDQIRaYfISx4-NbcF4X2mpUadQCLcBGAs/s1600/20171209_184948.jpg")

		img(src="https://4.bp.blogspot.com/--jCQdoet95c/WnY1K6Hj8wI/AAAAAAABinU/e0lUHLZGYgU3nZpXMH16EqgBQfCYQk1YQCLcBGAs/s500/20171209_184957.jpg")
		img(src="https://4.bp.blogspot.com/-O76WL77QY4Y/WnY1LTZ4xpI/AAAAAAABinY/EvPsMTEV67UFB0fdyC29h6vZWZaLw3YCQCLcBGAs/s500/20171209_185239.jpg")
		img(src="https://4.bp.blogspot.com/-vLL6UBZRjkw/WnY1MKG3ubI/AAAAAAABinc/dfhgy4zJTXoltNLJGakurjUVNUFRWOg_gCLcBGAs/s500/20171209_194729.jpg")
		//img(src="https://1.bp.blogspot.com/-CDtG0OsY6Nk/WnY1MoYuB2I/AAAAAAABing/RiAumGwA6GwDKL8G82e2rSH5TMuxmO7PgCLcBGAs/s500/20171209_203725.jpg")
		//img(src="https://3.bp.blogspot.com/-FMpogC2kx9Q/WnY1NaNfF3I/AAAAAAABink/UssezrMU8EQx0L4K-UUc5Nw457Bwa6BtACLcBGAs/s500/20171209_203733.jpg")

	.fleuron
	h3 10 December, Sunday
	.photoset(data-layout="212")
		img(src="https://3.bp.blogspot.com/-bhlcDkimw2Q/WnY1Nmd56YI/AAAAAAABino/Z63wKk3RhWwktYUhflJIPGtbJCKtd528wCLcBGAs/s500/20171210_142818.jpg")
		img(src="https://3.bp.blogspot.com/-myAlT5bnOWM/WnY1OoCqKzI/AAAAAAABinw/Lfc_ZnRpu302By74kgqNrW3VtC1NBumjwCLcBGAs/s500/20171210_142819.jpg")
		img(src="https://2.bp.blogspot.com/-TzYFCYJrF40/WnY1O6vrkUI/AAAAAAABin0/-0NEwPCC3b4bhUBw6QIbNZZkoYo8Eul-QCLcBGAs/s500/20171210_142826.jpg")
		img(src="https://2.bp.blogspot.com/-GS6MBD6sMco/WnY1PKePbOI/AAAAAAABin4/sbRXnu02MMIlYlt1Zs9_S1ZzOWRjHvO8QCLcBGAs/s500/20171210_170955.jpg")
		img(src="https://4.bp.blogspot.com/-IE26lHTkP6o/WnY1P4LkcpI/AAAAAAABin8/ptkKIdcmlG8yiCB5EQImHhDVXruO-_q4QCLcBGAs/s500/20171211_210214.jpg")
	.fleuron
	h3 12 December, Tuesday - Kitchen Wrecker
	.photoset(data-layout="4")
		img(src="https://3.bp.blogspot.com/-LLd2ANi1UB4/WnY1hbWRv4I/AAAAAAABiq8/i1pUAPX6MTQFK-US2zV_HPfoBwZQ_1e3gCLcBGAs/s500/IMG-20171212-WA0001.jpg")
		img(src="https://2.bp.blogspot.com/-ReKEkq8Fx60/WnY1hikKwLI/AAAAAAABirA/umRjHacSRrsBU-_iTw2beq2Fh05cG9ihwCLcBGAs/s500/IMG-20171212-WA0002.jpg")
		img(src="https://2.bp.blogspot.com/-dfkjlznnVBg/WnY1h6qjifI/AAAAAAABirE/oPesySQhHGw-ym5WNgPtuL0YcXg7_csJgCLcBGAs/s500/IMG-20171212-WA0003.jpg")
		img(src="https://4.bp.blogspot.com/-ZMB73FjlnO4/WnY1iLFCgwI/AAAAAAABirI/a6kL2ewRmqI14qcFzC1PDEpvXT3lMSMVQCLcBGAs/s500/IMG-20171215-WA0012.jpg")
	.fleuron
	h3 16 December, Saturday - We spent the whole day at home!
	.photoset(data-layout="23B243")
		img(src="https://3.bp.blogspot.com/-9bVHA5nXdn8/WnY1QHVqOjI/AAAAAAABioE/xyhNl30iLu8vYCZrz_qaZ0E7e-TsS-wlQCLcBGAs/s500/20171216_074933.jpg")
		img(src="https://3.bp.blogspot.com/-Y-qc2DBMU04/WnY1QMnuMyI/AAAAAAABioA/xAzcTLAHV7kR1sUugD2QtQrWb3izNcpOACLcBGAs/s500/20171216_074950.jpg")

		img(src="https://2.bp.blogspot.com/-azDAw3oDeKQ/WnY1Q_HErMI/AAAAAAABioI/GlTnUuPU_noLsmzyPXeifQV2kpHOg22hwCLcBGAs/s500/20171216_074952.jpg")
		img(src="https://3.bp.blogspot.com/-Tf2TFAvkHDM/WnY1Q2quZkI/AAAAAAABioM/xqv5bXQPJYk4D-uD3naoSQ8VEx8nNdu5QCLcBGAs/s500/20171216_082737.jpg")
		img(src="https://4.bp.blogspot.com/-h-rTd-M-NSI/WnY1RV2EjtI/AAAAAAABioQ/HLMXWhn-RVkZjMjnKkVvXMaTOcrt--NUwCLcBGAs/s500/20171216_083251.jpg")

		img(src="https://4.bp.blogspot.com/-GJFg982o-P0/WnY1SifFdoI/AAAAAAABioc/nchEGCOE60gFyjUwOfa4TJ_-0qfPvcu8ACLcBGAs/s800/20171216_090844.jpg")
		img(src="https://4.bp.blogspot.com/-o-Xgxj4eZ0s/WnY1SEC_IgI/AAAAAAABioU/kGvkG-jYh209Lpe03usP3gShx4fA449egCLcBGAs/s800/20171216_090726.jpg")
		img(src="https://3.bp.blogspot.com/-3r38e_ywhuQ/WnY1SN9rs3I/AAAAAAABioY/jTCLyRb78Z8IrgpiqIZbUL09Ui8-OVDCACLcBGAs/s800/20171216_090757.jpg")

		img(src="https://4.bp.blogspot.com/--4nJ6EIfHqY/WnY1TAaopXI/AAAAAAABiog/ZrvMBYbi8zwGYIwiAQKuyiGFbLYcrn_oQCLcBGAs/s500/20171216_092432.jpg")
		img(src="https://1.bp.blogspot.com/-bDYST7m3y34/WnY1TYLjEBI/AAAAAAABiok/ztZcWjupAv8kEkpof9Xm4rCugKJJ_piKACLcBGAs/s500/20171216_092437.jpg")

		img(src="https://3.bp.blogspot.com/-K7hH-6uvzYg/WnY1Tp93mqI/AAAAAAABioo/Yz97KUA8jZAG6bFDEGbCthniHYOJ4SHPQCLcBGAs/s500/20171216_104159.jpg")
		img(src="https://4.bp.blogspot.com/--kbm-caPZ5c/WnY1UXZsDCI/AAAAAAABiow/WgV_V0AZAIoqf3ILj7rQlNIg2o6KarR8wCLcBGAs/s500/20171216_104207.jpg")
		img(src="https://3.bp.blogspot.com/--d4v8hYWKqA/WnY1UVtxPrI/AAAAAAABios/VvI51zAuAE0lYng3loRAK_XlW_-T8AzMwCLcBGAs/s500/20171216_104226.jpg")
		img(src="https://2.bp.blogspot.com/--oc48pyPkT0/WnY1UzJU07I/AAAAAAABio0/fvx6dURpF50DTmbHorTPK84wbY3Hz-z2ACLcBGAs/s500/20171216_104234.jpg")

		img(src="https://4.bp.blogspot.com/-hp9TmOPRgaE/WnY1Vvprd1I/AAAAAAABio8/wCXVRLsKy8EYOeLTvV3Z1Yw1wIt3iMyJACLcBGAs/s500/20171216_165257.jpg")
		img(src="https://1.bp.blogspot.com/-uq1kZ_nio3g/WnY1VRwtmaI/AAAAAAABio4/s3NOXP5ud8Ejv78cTjKmMFMxm6Pih60HwCLcBGAs/s500/20171219_204717.jpg")
		img(src="https://2.bp.blogspot.com/-qQe2TzYHPkA/WnY1V57RClI/AAAAAAABipA/1G-Sfr6bvVgkhreZ6bggXacUAYDqQv5bwCLcBGAs/s500/20171219_204741.jpg")
		//img(src="https://3.bp.blogspot.com/-HhYPopeGqr8/WnY1Wn2dQzI/AAAAAAABipE/uevUQlDMBMYsWInMrg3QJ-g4e4tugrjagCLcBGAs/s500/20171220_205900.jpg")
	.fleuron
	h3 21 December, Thursday
	.photoset(data-layout="232323232")
		img(src="https://2.bp.blogspot.com/-IcKcfFH8AE8/WnY1WrrvzAI/AAAAAAABipI/zBL9m5iXqgExi1jxICj0OanJrVQL6CMngCLcBGAs/s500/20171221_200919.jpg")
		img(src="https://2.bp.blogspot.com/-4dvgmKDe3pY/WnY1W2UIVcI/AAAAAAABipM/0NYGlGa-Zp4cIJsa017XBk3yRz_DQWJgQCLcBGAs/s500/20171221_202454.jpg")
		img(src="https://2.bp.blogspot.com/-PY9KP9DEHfM/WnY1XguLD9I/AAAAAAABipQ/rSx3kfDESFwzG77TYCpIb-sKSsZt5_fjQCLcBGAs/s500/20171221_202456.jpg")
		img(src="https://2.bp.blogspot.com/--qe1CVZ02Zs/WnY1X4yBW9I/AAAAAAABipU/caIdQn8Bq2cSJXx0etrNlK4q4n0FTP5SACLcBGAs/s500/20171221_202509.jpg")
		//img(src="https://3.bp.blogspot.com/-J1H5bwvBxic/WnY1YFFR9lI/AAAAAAABipY/0phYKm5sgjcjePESOirjSAYvozAxb2t-gCLcBGAs/s500/20171221_202513.jpg")
		img(src="https://4.bp.blogspot.com/-AKxCfbkoTlk/WnY1YwbMa1I/AAAAAAABipc/2hEesKkhJJAkPQXODSUZ0kpuAIlB7Fl4gCLcBGAs/s500/20171221_202642.jpg")
	.photoset(data-layout="232323232")
		img(src="https://3.bp.blogspot.com/-qcVvXHt6dLE/WnY1ZFJS6YI/AAAAAAABipg/kmzQeOMJENUHwFw0-AvV8bDe0lAiC6_rACLcBGAs/s500/20171222_072237.jpg")
		img(src="https://1.bp.blogspot.com/-sw9YzFfNHyw/WnY1ZdJexwI/AAAAAAABipk/M4mwmIaMmrcZu-7BOxcvSNM20kcfnXvXwCLcBGAs/s500/20171222_130111.jpg")
		img(src="https://3.bp.blogspot.com/-PnfguAk--VU/WnY1aCpD9II/AAAAAAABipo/UlgAu_S0L3ctzsAApGVfXyqRH2sqdIxBwCLcBGAs/s500/20171222_132005.jpg")
		img(src="https://1.bp.blogspot.com/-7O7o2WyfAW4/WnY1aF3cTnI/AAAAAAABips/BsF21aw3VIMhl-1CyXYsbzLDMbBBaWhUQCLcBGAs/s500/20171222_132836.jpg")
		img(src="https://4.bp.blogspot.com/-t4LCYZw7ci8/WnY1aRaGuxI/AAAAAAABipw/w5Rmdf7IMSkAZ5HmkqOX7sUWWu8rOESAgCLcBGAs/s500/20171222_164047.jpg")
		img(src="https://2.bp.blogspot.com/-YBRMersm7lc/WnY1bpRufuI/AAAAAAABip8/kZrox4bVH6IuuY7umPLNsuEA2gNAkqFaACLcBGAs/s500/20171222_164052.jpg")
		//img(src="https://1.bp.blogspot.com/-u4w9YtWOE-s/WnY1bbvQmbI/AAAAAAABip4/yUxELq3g2tg39G1G_59TVPSpMDDLsbn_gCLcBGAs/s500/20171222_164252.jpg")
		img(src="https://1.bp.blogspot.com/-OnahFuo0gMg/WnY1bbtBB5I/AAAAAAABip0/aeRBISz7ZXgnFkgR11yBdtL7LcAtQkDkgCLcBGAs/s500/20171222_170730%25280%2529.jpg")
	.fleuron
	h3 27 December, Wednesday - Triqo Fun
	.photoset(data-layout="24")
		img(src="https://4.bp.blogspot.com/-SFmwEXc8ZX8/WnY1csySAjI/AAAAAAABiqA/Sm4bfK4kJeEL3HDZrNfzr82szzQH0w2YACLcBGAs/s800/20171227_120325.jpg")
		img(src="https://4.bp.blogspot.com/-8ytZ5Fvpwcs/WnY1dEBG83I/AAAAAAABiqE/bEzZJtBugXEGZwhS2EwnMV4dYGvuo3jrQCLcBGAs/s800/20171227_162125.jpg")
		img(src="https://1.bp.blogspot.com/-MRrAifoB8tI/WnY1dZZpE1I/AAAAAAABiqI/15xiB0BFSV8WDxiJuCzcQEUHk6ASmjTsgCLcBGAs/s500/20171227_163432.jpg")
		img(src="https://4.bp.blogspot.com/-HEdLnutSkaI/WnY1d1LUNoI/AAAAAAABiqM/zDFD4-qzYSwsUmVtyH2WQwah83HbjzN4QCLcBGAs/s500/20171227_163436.jpg")
		img(src="https://4.bp.blogspot.com/-Cv4goF0MC74/WnY1eR_xe_I/AAAAAAABiqQ/QWO48FQWUUstud9IGABBS7--J52LM368ACLcBGAs/s500/20171227_163437.jpg")
		img(src="https://2.bp.blogspot.com/-nyYZQTkbTdQ/WnY1el1N5XI/AAAAAAABiqU/FDQUn0NUn4Mis7m1O0s6SxcRib-_aSKOACLcBGAs/s500/20171227_163448.jpg")
		//img(src="https://4.bp.blogspot.com/-WEp95y0d5pY/WnY1fAgI5wI/AAAAAAABiqY/ilnxzxSRbMEWOPaYuUTzhoo-JaE_2btiwCLcBGAs/s500/20171227_163449.jpg")

	//.photoset(data-layout="21")
		img(src="https://2.bp.blogspot.com/-m2WW0SfQy3Q/WnY1fIDbAtI/AAAAAAABiqc/ZAifTyDQjfcB0gQbnq9BJxJAZZclbHzugCLcBGAs/s500/IMG-20171126-WA0004.jpg")
		img(src="https://3.bp.blogspot.com/-fnGC0KvUVBs/WnY1flagE_I/AAAAAAABiqg/r5PDV4cn_MImw34WHWzSf-PiKfbLb2bRQCLcBGAs/s500/IMG-20171126-WA0008.jpg")
		//img(src="https://1.bp.blogspot.com/-N9jp8wDClwQ/WnY1fw9ChvI/AAAAAAABiqk/5V6ZNPwrK5IumiZ-Jk23ibwcD8zRCFX3ACLcBGAs/s500/IMG-20171126-WA0010.jpg")
		img(src="https://1.bp.blogspot.com/-SNxYGWhbXJY/WnY1f94_tUI/AAAAAAABiqo/Vsb_u0hM26MgP_tFWICzjrOTruswp4vdwCLcBGAs/s500/IMG-20171126-WA0012.jpg")
		//img(src="https://2.bp.blogspot.com/-y2Xpdmdxvts/WnY1gT9uCJI/AAAAAAABiqs/z681L-2DFiQDyWX6-qoVT7eW7b5XkEh3gCLcBGAs/s500/IMG-20171126-WA0013.jpg")
		//img(src="https://1.bp.blogspot.com/-dYw4Az7VyBY/WnY1grWN6aI/AAAAAAABiqw/qhWcBEkuNNUbFptInoPhAr18z6BrE3dFgCLcBGAs/s500/IMG-20171126-WA0014.jpg")
		//img(src="https://3.bp.blogspot.com/-B3eU6x49szM/WnY1g-4aEJI/AAAAAAABiq0/KdkD0QcfFq4byWh6RyZKixYQc9lqBmKigCLcBGAs/s500/IMG-20171126-WA0025.jpg")
		//img(src="https://3.bp.blogspot.com/-ctaY0LOFI9A/WnY1hOK72rI/AAAAAAABiq4/dMkHYWYQnNwKMyp_Zzc_VtlDpl7TiZrFwCLcBGAs/s500/IMG-20171126-WA0034.jpg")
