---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-QwUeVIVKfdU/WYcnc9AKfXI/AAAAAAABfa8/cpV7ZlGZSG0j3pzAAzOuNsT4QxiJH6iXACLcBGAs/s500/20170729_084237.jpg
title: Six to Eight Months
excerpt: Crawl
author: Ellis and Elvin
date: 2017-08-01
permalink: /audrey06
---
header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]udrey is growing up really quick.
	.fleuron
	h2 

	.videoset(data="pcUDoIeZXrY,GkRBBl0guYA")
	.videoset(data="NO0oVUKuo8w,8-JKY3z8fOM")

	.videoset(data="7XPLE7hbv6c,TJYLsyvW_YA,S_PL9kwApjA,lzCUhDKU9NQ")
	.photoset(data-layout="43232323232")
		img(src="https://1.bp.blogspot.com/-GmWi9DCKxto/WZd1n64MvWI/AAAAAAABfhs/PYuvAEOl-SA7Oarkq0zQGHU4_BcB4fwuwCLcBGAs/s500/20170801_075548.jpg")
		img(src="https://2.bp.blogspot.com/-k1bJbdxzLmw/WZd1n8R1I0I/AAAAAAABfho/bPIBPB2DDD0cDRB8iaezXquwMP_2-8XCgCLcBGAs/s500/20170801_075558.jpg")
		img(src="https://2.bp.blogspot.com/-wpXTHlW6H90/WZd1nwqvC-I/AAAAAAABfhw/C4QlW5-wZawQ7LpTWq7uR6GbtF6FvCdEgCLcBGAs/s500/20170801_075602.jpg")
		img(src="https://3.bp.blogspot.com/-hyn9RmsikSM/WZd1ozyTSAI/AAAAAAABfh0/hMaBhUxxH9wxYxg6k6fxbmc9XsNNNb9GgCLcBGAs/s500/20170801_075604.jpg")
		img(src="https://1.bp.blogspot.com/-JTydU1CXyT8/WZd1pNJcfQI/AAAAAAABfh4/MunKMifiUZgzZaWoUb_eRHJsYsQM4W_gwCLcBGAs/s500/20170801_203011.jpg")
		img(src="https://1.bp.blogspot.com/-r0Er58pby6Y/WZd1pIRZbHI/AAAAAAABfh8/bc1tvtNKaFYnvO63bttKZ2kpyBTYkunVACLcBGAs/s500/20170801_203025.jpg")
		img(src="https://3.bp.blogspot.com/-JzmlO4Q8Uuk/WZd1p2Z_kpI/AAAAAAABfiA/NZP-cRmds7A0x49YO9aCxaVhRUEQ2f4qgCLcBGAs/s500/20170802_204301.jpg")
		img(src="https://3.bp.blogspot.com/-UTxn9JH2k_4/WZd1qaCEJXI/AAAAAAABfiI/aUx6GP2W28sSBHq7DBu1ZkUwZP9jOmnRgCLcBGAs/s500/20170802_204302.jpg")
		img(src="https://2.bp.blogspot.com/-bMABGlYGRSE/WZd1qPiwDOI/AAAAAAABfiE/uSEB_dXixJsN9tsqMX36SobAABycyR-YwCLcBGAs/s500/20170802_204346.jpg")
		img(src="https://4.bp.blogspot.com/-uvax-WjDhdA/WZd1rN9NxhI/AAAAAAABfiM/zpWpAR5ykxgEGeEaFZS1mOgS6cEU4kUIgCLcBGAs/s500/20170802_204353.jpg")
		img(src="https://4.bp.blogspot.com/-sW60VI8Q6j8/WZd1rFEYv_I/AAAAAAABfiQ/K1jzURvdlnktVTSOk32AEm5hPpTRepp1ACLcBGAs/s500/20170802_204355.jpg")
		img(src="https://3.bp.blogspot.com/-FdZ6vIWjZk8/WZd1ragOZAI/AAAAAAABfiU/p-LQvZF0HBwOBJtOG67nU-VteCRRrvvBwCLcBGAs/s500/20170802_204358%25280%2529.jpg")
		img(src="https://4.bp.blogspot.com/-Z7mwlR5dLWU/WZd1sJFGc1I/AAAAAAABfiY/Ck6_hDa8eB8QSaLutjwaHxox9yVLVjqBACLcBGAs/s500/20170803_220251.jpg")
		img(src="https://3.bp.blogspot.com/-_CDwOV9FGaA/WZd1sdfVRNI/AAAAAAABfic/9QfNbzfk9bUEOGhvFCvAQftMlpTQL0z0ACLcBGAs/s500/20170804_073003.jpg")
		img(src="https://1.bp.blogspot.com/-uw9Dc42aHcU/WZd1sRvVdQI/AAAAAAABfig/19AH43rLxFMyVYO-7vjZAbVD5OYgj2z_gCLcBGAs/s500/20170804_073015.jpg")
		img(src="https://2.bp.blogspot.com/-vNXfNA7k2_A/WZd1tUcrr6I/AAAAAAABfik/8ThDK58D90MRjPcWUrcVID1L02CAqg5qQCLcBGAs/s500/20170804_073021.jpg")

	h3 5 August, Saturday (Week 27) - Reuben's Birthday
	.photoset(data-layout="23232323232")
		img(src="https://1.bp.blogspot.com/-wz2GBAYnCCo/WZd1tcvgxNI/AAAAAAABfio/DMHMqhL6nNIZgr3GEJqnVn2WBKXo7ux9gCLcBGAs/s500/20170805_081014.jpg")
		img(src="https://1.bp.blogspot.com/-JxXd_05sgbg/WZd1tmDrPWI/AAAAAAABfis/j0IhGzdxCJg0yV3gFy08JTOlYq8Cn-5LgCLcBGAs/s500/20170805_081040.jpg")
		img(src="https://1.bp.blogspot.com/-sBZ5SyfxOVU/WZd1ua6ZQ_I/AAAAAAABfiw/rF8c0Z0YEr8pvhcxHLz7OiVqW06iJUEJgCLcBGAs/s500/20170805_081041.jpg")
		img(src="https://3.bp.blogspot.com/-_THScs_B6e8/WZd1unv_7BI/AAAAAAABfi0/u0z0H3Ui5_Uxf_ZfzpUcv2S-8ElSi2vMwCLcBGAs/s500/20170805_084530.jpg")
		img(src="https://4.bp.blogspot.com/-ud8JyB8ffqw/WZd1u1vMYPI/AAAAAAABfi4/wprOlcoqQzIYd-7nh6MrjHIHNNikdlpNACLcBGAs/s500/20170805_085455%25280%2529.jpg")
		img(src="https://1.bp.blogspot.com/-oKRvYB2Ehsc/WZd1vqLKByI/AAAAAAABfi8/x_FuYqObSaoYbSZwQW_VUD0ywLWXEkPrQCLcBGAs/s500/20170805_085520.jpg")
		img(src="https://1.bp.blogspot.com/-s0LMeBbampo/WZd1v6IUjUI/AAAAAAABfjA/F9KF41Wk6qcfD2v4W_uGCeoYahtRltkpQCLcBGAs/s500/20170805_085536.jpg")
		img(src="https://2.bp.blogspot.com/--g7QX2hSW0g/WZd1v4rButI/AAAAAAABfjE/kbVkEKctjYk-iwfFIM-dEyxlKjwBqscfQCLcBGAs/s500/20170805_135706.jpg")
		img(src="https://4.bp.blogspot.com/-4ZPcxCRXfFU/WZd1whSWjvI/AAAAAAABfjI/ReBz-X67D80qV2k-YoCGbfXIJ32FhCl3wCLcBGAs/s500/20170805_135748.jpg")
		img(src="https://2.bp.blogspot.com/-S-m-6L1-jOU/WZd1w_MRTUI/AAAAAAABfjQ/KaBkfflUlh8dsHi0RIVOeGfxM8U3JHZHwCLcBGAs/s500/20170805_135855.jpg")
		img(src="https://1.bp.blogspot.com/-enKV9ITIDwc/WZd1xCIJiOI/AAAAAAABfjM/WmmFXNaqqQcIK_y93dPDCVZwsqXgGkM4gCLcBGAs/s500/20170805_152017.jpg")
		img(src="https://2.bp.blogspot.com/-j9cYsm5zQJM/WZd1xnMPKfI/AAAAAAABfjU/AUg3Daf00YMzSxQVz_DY2Vx5ka4jkWjWQCLcBGAs/s500/20170805_152522.jpg")
	.videoset(data="9RwkEvob2kY,virhaKY9cHk,HDorLW--Pms,82Y-Fx4GhH8")
	h3 5 August, Sunday (Week 27) - Sunday Funday
	.photoset(data-layout="23232323232")
		img(src="https://4.bp.blogspot.com/-SnqUrtvJSIA/WZd1ycGpTZI/AAAAAAABfjY/KOdGHrrd-IYuOFJ1Oucmf5O3u1Jb7MasgCLcBGAs/s500/20170806_071949.jpg")
		img(src="https://1.bp.blogspot.com/-VtnNwyupR60/WZd1yaqBtBI/AAAAAAABfjc/pWIUhewSekoUyok1ljj8geRMupRJTv9SwCLcBGAs/s500/20170806_095701.jpg")
		img(src="https://1.bp.blogspot.com/-HmUmknfiPuo/WZd1ypEkjgI/AAAAAAABfjg/XOZmxW-MUZ8tc53Ow6-1khCrqWPswzKIgCLcBGAs/s500/20170806_125255.jpg")
		img(src="https://4.bp.blogspot.com/-DNpxDBSIUZ0/WZd1zT76cqI/AAAAAAABfjk/vBDhCbtS7LkQuiUtUowsBqr-CvBAUpAWgCLcBGAs/s500/20170806_125257.jpg")
		img(src="https://4.bp.blogspot.com/-0c2juEvgfIc/WZd1zl1bhfI/AAAAAAABfjo/t9DObHxCK7A8JmnIWLbtN5b1svleCg_YwCLcBGAs/s500/20170806_125300.jpg")
		img(src="https://1.bp.blogspot.com/-4ioHjfwr4c0/WZd1zzDgKxI/AAAAAAABfjs/lSob6i2cYA49xhuxYB4lb_AsJlnGkcmMACLcBGAs/s500/20170806_131325.jpg")
		img(src="https://1.bp.blogspot.com/-7VJQvy0K1nk/WZd10QcuI0I/AAAAAAABfjw/4q1068Sd2gU9xdaGf8PXpOX7igH_lMQTgCLcBGAs/s500/20170806_131509.jpg")
		img(src="https://4.bp.blogspot.com/-fAI_7vhUGhg/WZd10oiGCVI/AAAAAAABfj0/iNCYiLvsp6Y_O0MMvt7KPF1s0ndrL5QsACLcBGAs/s500/20170806_131513.jpg")
		img(src="https://3.bp.blogspot.com/-cwFkBFVhtEk/WZd108gr_6I/AAAAAAABfj4/Vbpa9Gi9wXERrDmX2POZSgjeiNXE9vJpgCLcBGAs/s500/20170806_162107.jpg")
		img(src="https://4.bp.blogspot.com/-xanESDzZ_so/WZd11Rm6K0I/AAAAAAABfj8/u-dUBuyFUw0WqDH-2EJQ2SIMcS_UWDlFQCLcBGAs/s500/20170806_162109.jpg")
		img(src="https://4.bp.blogspot.com/-z9ZNevpzPiE/WZd11qewT7I/AAAAAAABfkA/HYAg6pPS0FEoNMVdn3qfB0Tk-YboIs_WQCLcBGAs/s500/20170806_162117.jpg")
		img(src="https://2.bp.blogspot.com/-AAVV86JsL_k/WZd11-Eyr0I/AAAAAAABfkE/FaxK6-PYjHkcklehCE6fUq6c97BO1-gdwCLcBGAs/s500/20170806_163219.jpg")
		img(src="https://2.bp.blogspot.com/-jDStIOnWEIw/WZd12vl_CEI/AAAAAAABfkI/acS2KKtU8gsTfXlDhHMZB69cprp2DypJQCLcBGAs/s500/20170806_180511.jpg")
		img(src="https://1.bp.blogspot.com/-U4QA3MMfOL8/WZd13PJcW7I/AAAAAAABfkQ/KzJ1pBB0gOg2Wrkxf8FArXMxTPJlKqoZQCLcBGAs/s500/20170806_180520.jpg")
		img(src="https://2.bp.blogspot.com/-SrSmtZ6qq-A/WZd13EW67oI/AAAAAAABfkM/olCHktX6zJslA_oLkAFzSZgA2S4uGlWmACLcBGAs/s500/20170806_185937.jpg")
		img(src="https://3.bp.blogspot.com/-ffp1gEL7joc/WZd130_v6KI/AAAAAAABfkU/jiGHxIO7iBgof8EitdQzOcsEfT38o4_SACLcBGAs/s500/20170806_185948.jpg")

	.fleuron

	h3 14 August (Week 28) - House Warming Party for Ellis Family
	.photoset(data-layout="23232323232")
		img(src="https://2.bp.blogspot.com/-2Gdu-Mf3hh0/WZd14YDt38I/AAAAAAABfkY/XuOJyWoDsDEqYJpujskZ70wjd-FdmjwiwCLcBGAs/s500/20170808_192029.jpg")
		img(src="https://4.bp.blogspot.com/-n-phwlN1330/WZd14fVK1TI/AAAAAAABfkc/GrqMoxL8SdkQRJ20DzFsOTsgDXl8u0CGwCLcBGAs/s500/20170809_092102.jpg")
		img(src="https://4.bp.blogspot.com/-2LsqmQO9TbQ/WZd141l1cfI/AAAAAAABfkg/m58CV3546tY4-huUSOVyNQw8Erhb7vF-QCLcBGAs/s500/20170809_093023%25280%2529.jpg")
		img(src="https://4.bp.blogspot.com/-DrQssD8yN50/WZd15Z9Ks_I/AAAAAAABfkk/Gx7S3XmN2AQ1rwT57sZO_Lz1nGh6uttMgCLcBGAs/s500/20170809_120031.jpg")
		img(src="https://1.bp.blogspot.com/-sh_2RbF6f1o/WZd15u55fcI/AAAAAAABfko/9NctBG_2RVAqpOLMCoeKZ8BgsWgmeWgPQCLcBGAs/s500/20170809_120032%25280%2529.jpg")
		img(src="https://2.bp.blogspot.com/-_Yj0Kh-IJzA/WZd16HGAKaI/AAAAAAABfks/JRII5gZ9z1s4A8M-p1JWdeU2zu4o7h1GACLcBGAs/s500/20170809_120032.jpg")
		img(src="https://4.bp.blogspot.com/-_tdtgKNuOuA/WZd16jWkaXI/AAAAAAABfk0/qIT4-N9lB3gPRrDb-lOUhew6BK3T9d4iwCLcBGAs/s500/20170809_120352.jpg")
		img(src="https://4.bp.blogspot.com/-O8aqQRXEwls/WZd16kKHWpI/AAAAAAABfkw/kpOAnBHXFJ8Jc-anbO8Yjhj-6SmrLp3RwCLcBGAs/s500/20170809_120857.jpg")
		img(src="https://2.bp.blogspot.com/-i0k4Pp8TAuY/WZd17K1ZQJI/AAAAAAABfk4/4nZda5sy_2UMWlVFOjJacsr45MAdbitJgCLcBGAs/s500/20170809_120905.jpg")
		img(src="https://4.bp.blogspot.com/-U1bBnOJWE2w/WZd17lBOjgI/AAAAAAABfk8/PgYxhy2_xT85_Kv2S9Bn9dVSFiPIWtQPgCLcBGAs/s500/20170809_120908.jpg")
		img(src="https://1.bp.blogspot.com/--JGoJpEcuzk/WZd17q_evDI/AAAAAAABflA/rtvOahN-kzUKQDic8IX_HyNEQijoiK9HgCLcBGAs/s500/20170809_120909.jpg")
		img(src="https://2.bp.blogspot.com/-nClnukq8w3U/WZd18V641QI/AAAAAAABflE/lAeMiZiNOMIvOV-W7fvANDP_UuqCDiW-wCLcBGAs/s500/20170809_120920.jpg")
		img(src="https://1.bp.blogspot.com/-pbvsd50qswU/WZd184O0diI/AAAAAAABflM/JxuUK2HhM6kuzgtS1Dua9eWjJenzF5lyQCLcBGAs/s500/20170809_120931.jpg")
		img(src="https://3.bp.blogspot.com/-Oeywfxnsk6Q/WZd185y-tJI/AAAAAAABflI/pCDiXYEfzZ0I6ACBMetIvpHqj8E7k4SYQCLcBGAs/s500/20170809_120932.jpg")
		img(src="https://2.bp.blogspot.com/--PZbQuqgbA4/WZd19VjjWyI/AAAAAAABflQ/w2oCRqKDAa0URhYzknozFwEnVFiHepp2ACLcBGAs/s500/20170809_120949%25280%2529.jpg")
		img(src="https://2.bp.blogspot.com/-dKdQno9hJaU/WZd1-KFCz1I/AAAAAAABflU/R55BVXqhiiYwTxZICuPP8g3Zklg-VlX8wCLcBGAs/s500/20170809_120949.jpg")
		img(src="https://3.bp.blogspot.com/-Jw-4Kmp1tYw/WZd1-MeK8dI/AAAAAAABflY/iirO12hd40cxJ9J1_cKvZKnYquMGa-7wwCLcBGAs/s500/20170809_151748.jpg")
		img(src="https://1.bp.blogspot.com/-yKA4cgOn28A/WZd1-iyNSzI/AAAAAAABflc/xOIvghRz8nsFymgTsUQR8_Cnz3yEyMN4wCLcBGAs/s500/20170809_151950.jpg")
		img(src="https://3.bp.blogspot.com/-c6yKa56WsSQ/WZd1_J_S4aI/AAAAAAABflg/0VRa7ZK7rVgenWAE3v0PnIIzhucT8nRjQCLcBGAs/s500/20170809_152611.jpg")
		img(src="https://1.bp.blogspot.com/-oAmsyTLL0bg/WZd1_VHEBrI/AAAAAAABflk/cQ-3nlSm2rUwdy4ARMlQFhVGVVlMOhxfQCLcBGAs/s500/20170809_153906.jpg")
		img(src="https://2.bp.blogspot.com/-6LLBdWHf0pg/WZd1_oW0HCI/AAAAAAABflo/6oKQs36rTXAIDm4vsxGvxvz_cqB0VJF_wCLcBGAs/s500/20170809_172808.jpg")
		img(src="https://1.bp.blogspot.com/-7wU9-CWS_WQ/WZd2AfTO0NI/AAAAAAABfls/PKJZtznTDNE27eqA8DJoVaUGDyHHLulEQCLcBGAs/s500/20170809_172921.jpg")
		img(src="https://3.bp.blogspot.com/-Izw1920wwgg/WZd2Akkf7UI/AAAAAAABflw/T0QcE1QQ9JERtSnjRyBNtj2WsQmpINQFQCLcBGAs/s500/20170809_194025.jpg")
		img(src="https://4.bp.blogspot.com/-7kEdaUgKIho/WZd2AlE3QPI/AAAAAAABfl0/JX9c6P0QxRYtU9IG2WFUj_JA6Q6E7qIbQCLcBGAs/s500/20170809_194032%25280%2529.jpg")

	.photoset(data-layout="23232323232")
		img(src="https://1.bp.blogspot.com/-3jpJ3drVw_I/WZd2BvQZLEI/AAAAAAABfl8/OF7B6QNUJiULX0hykWTTJmnpI68oNuPyACLcBGAs/s500/20170810_072124.jpg")
		img(src="https://1.bp.blogspot.com/-DTvfJ9tKCwM/WZd2Bql_tdI/AAAAAAABfmA/T21pOEZmOpIinX4s6FYK6xj1U43XW2AbgCLcBGAs/s500/20170810_215317.jpg")
		img(src="https://3.bp.blogspot.com/-TzyQKgjdgeA/WZd2BY98xyI/AAAAAAABfl4/aWBos3OtTIwKxwqzF6PPeJJyMLRs8Q7lQCLcBGAs/s500/20170810_224307.jpg")
		img(src="https://3.bp.blogspot.com/-EIKcB7lBajU/WZd2CosI-jI/AAAAAAABfmE/GwunC0ceojEYbs03DegEIqv57hKCrwAmgCLcBGAs/s500/20170811_074239.jpg")
		img(src="https://2.bp.blogspot.com/-8qm5xG8zkfc/WZd2Cy-8DFI/AAAAAAABfmI/qyxGa9N-smUXE_fLs8GCxAQOt6VuB-kLACLcBGAs/s500/20170811_074342.jpg")
		img(src="https://1.bp.blogspot.com/-bg6HyKzaEVc/WZd2CwtWfnI/AAAAAAABfmM/-D47O042Lzc9_7h09n2d4D2gme0nM4toACLcBGAs/s500/20170812_095216.jpg")
