---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-5C4sOpC-r_k/WYCb-cWLzXI/AAAAAAABfP8/AS3FsDKqQAUVxkqUCQe43PD_TFENR-Z9wCLcBGAs/s1600/20170708_114411.jpg
title: Five Months
excerpt: Sitting
author: Ellis and Elvin
date: 2017-07-01
permalink: /audrey05
---

header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]udrey can sit upright by herself now, occasionally falling over in a comical fashion. She demands constant attention because the world is too big for a little girl to be left alone. She crawls backwards which seems perfectly normal to her until she realises that her toys get further away from her instead of nearer. So much has happened in the last five months that we could barely catch our breaths.

	.fleuron



	h2
	h3 2 July, Sunday (Week 22) - 5 Months
	h4 Monday - Hari Raya Puasa
	//.photoset(data-layout="3")
		//img(src="https://1.bp.blogspot.com/--lKNsIkpYS8/WVui2Dqx3QI/AAAAAAABeyA/oqntPxTD9qkzyP2oYPH6ngG1SgKuSpkJgCLcBGAs/s500/20170626_095839.jpg")
		//img(src="https://2.bp.blogspot.com/-J5P8YfXw5ZI/WVui1wu0gaI/AAAAAAABex8/vHHKwvhuYnkwaVRAV_AMdfyKmMqCdwQUACLcBGAs/s500/20170626_125802.jpg")
		//img(src="https://4.bp.blogspot.com/-z0n6SMeHo1k/WVui2WWYx8I/AAAAAAABeyE/JNR1O0HokDIvTv495VYvvuLNMBp58SqNQCLcBGAs/s500/20170626_130204.jpg")
		//img(src="https://3.bp.blogspot.com/-faT55hBfPuM/WVui2zpmlWI/AAAAAAABeyI/7IVT6_5g4rg4pHlBmREdN0ct4vuYNfczACLcBGAs/s500/20170626_133139.jpg")
		//img(src="https://2.bp.blogspot.com/-T5EKhjQjfzM/WVui2_7G8NI/AAAAAAABeyM/h9JyIu7V9IMOW1SJhDwhCOFYWYAo8D8RwCLcBGAs/s500/20170626_135504.jpg")
		//img(src="https://2.bp.blogspot.com/-6tvkL7eWXgE/WVui3H2XrNI/AAAAAAABeyQ/zNRfnH9PaVM6OFhE1ERvxaDbMP6aaMHlQCLcBGAs/s500/20170626_135523.jpg")

	.story #[.elvin] I put together the mini Poang armchair which should accomodate this growing girl for a long time. She was excited to sit on it on her own as she spent most of the time lying down or carried by us. Never has she got a chance to sit without assistance. After the armchair, I moved on to the Billy shelf which I have been procrastinating for weeks. With the shelf up, I packed all the books in. There are stories, informational and educational contents. They should keep Audrey accompany for many years.
	.videoset(data="ONF5mf8dIes,SYg5hCNJOzs,WUMfO9LqWKo,x2WaPLPgqKI")
	.photoset(data-layout="5")
		img(src="https://3.bp.blogspot.com/-n7wpMZL6qvg/WVui3ho_XPI/AAAAAAABeyU/OrkoV_C4bvAVPGOd5Tn3JFkCVcgziqWjACLcBGAs/s400/20170626_164858.jpg")
		img(src="https://3.bp.blogspot.com/-T2HkMFzpXXQ/WVui3nhVEfI/AAAAAAABeyY/SVihksG8t0AlJLbAxQ2j2TKd9TrFfejtQCLcBGAs/s400/20170626_164859.jpg")
		img(src="https://4.bp.blogspot.com/-gONL7_p8qO0/WVui4F7wohI/AAAAAAABeyc/r2LwzrVySdEQWDgyYlqLB4UCNQwIvuoFgCLcBGAs/s400/20170626_164917.jpg")
		img(src="https://4.bp.blogspot.com/-R7VZ-ottWKI/WVui4f0uXAI/AAAAAAABeyg/-jYVX2o4hBwQkt86x3Lbudug4gXKyWLYgCLcBGAs/s400/20170626_164918.jpg")
		img(src="https://2.bp.blogspot.com/-SQFavDCclG4/WVui4lZay-I/AAAAAAABeyk/4DJgGiPhZ5gdvCSnMHmveVtDLFG7INuGACLcBGAs/s400/20170626_165459.jpg")
	.story The dinner menu is pan-seared salmon, baked potato and some greens. Audrey is invited too! She gets the honour sit in her new armchair and watch us eat. She is practicing stuffing objects into her mouth in anticipation of the yummy food.
	.photoset(data-layout="3")
		img(src="https://1.bp.blogspot.com/-yyq3T6XgTD8/WVui4yjJwQI/AAAAAAABeyo/GUMQb5hyO54MSiRYJcG9FxO9ghj3HELKACLcBGAs/s400/20170626_193359.jpg")
		img(src="https://2.bp.blogspot.com/-Ji0U9OsmUV0/WVui5qLwbaI/AAAAAAABeys/XLSzmKVvoaELJwAgdaWYn08azcbvgaSXwCLcBGAs/s400/20170626_194542%25280%2529.jpg")
		//img(src="https://1.bp.blogspot.com/-ne1A44_lXJY/WVui5r7W9hI/AAAAAAABeyw/YzweBajoOz0UVegp9mhjRdxvMV8akQ4BwCLcBGAs/s400/20170626_194700.jpg")
		img(src="https://2.bp.blogspot.com/-b9JsNK6YIR8/WVui6G0GLZI/AAAAAAABey4/Famou-MNBFwjvDgjru7BhWOIhH8LPvmcgCLcBGAs/s400/20170626_194702.jpg")

	.story This is our favourite video of Audrey. It shows her waking up one morning. She was in a semi sleeping state as she grapples the sides of the bed and making sounds. I hasten to wake her up as we had to leave the house soon. When she awoke, she found us looking fondly at her and she flashed us her smile that melted our hearts. Always a happy girl and ready to smile.
	.videoset(data="BxU5zd6kJas,WWsuzfGBQBc")
		
	h4 Wednesday
	.story #[.elvin] Big golden kiwis. So yummy that even a five-month old instinctly smacks her lips and stares at it. Alas, Audrey is not ready yet. We will wean her onto solids next month. It is curious to watch her crave for food she has not tasted before. Ellis bought an ABC soft flashcard for Audrey to learn her alphabets. Look at that girl, she is learning with gusto!
	//.videoset(data="lZgy3Qxtg7o")
	.videoset(data="8Xv8DLHsXeE,m2Ht7GVVVp0,iNpMxXY93qs,vQr7U8PirXY")
	.photoset(data-layout="23")
		img(src="https://4.bp.blogspot.com/-McmR9KSD7dg/WVujnRDZ4oI/AAAAAAABe1E/WMx6s8MSgBIdpm5fm6gn9IydYct5NQ1tgCLcBGAs/s800/20170628_204953.jpg")
		img(src="https://2.bp.blogspot.com/-BIBO4mtMRGc/WVujnStwh8I/AAAAAAABe1M/3juxRw5GkckyDP7TeFFNDvxw_ZFlpw60gCLcBGAs/s800/20170628_205035.jpg")
		//img(src="https://3.bp.blogspot.com/-XLa_bO3HdmQ/WVujodlXsAI/AAAAAAABe1Y/pGmyFqthGcwG4r2-JtBefegHVz0snQUbgCLcBGAs/s500/20170628_205056.jpg")
		img(src="https://2.bp.blogspot.com/-7z6vjKxHg04/WVujnegQqfI/AAAAAAABe1I/qbyVpaGQCrMRTJwGI12Da70sUg0NTcLxQCLcBGAs/s500/20170628_204931.jpg")
		img(src="https://1.bp.blogspot.com/-ZRHs4-iuMmM/WVujobkRjUI/AAAAAAABe1U/wCajrA2C7AENk0_B6a53bLKwYrrX2ITpwCLcBGAs/s500/20170628_214909.jpg")
		img(src="https://2.bp.blogspot.com/-zKH4yHwQLUw/WVujofxG6eI/AAAAAAABe1Q/C5SDIG3nB6sFjJe_pGHk5U7QnAKjdmQWgCLcBGAs/s500/20170628_214911.jpg")

	h4 1-2 July, Saturday
	.story #[.elvin] It's a day to be lazy. But Audrey is awake at 7 a.m. and calling out to us. I was tired and sleepy and I slumped beside her. Maybe that will keep her quiet a bit.
	.photoset(data-layout="12")
		//img(src="https://1.bp.blogspot.com/-8-eKTOoE0kQ/WVujpP7pL4I/AAAAAAABe1g/wWpRywZZEGA3Eb2F6gM-UM0v9-2UciWngCLcBGAs/s500/20170630_191140.jpg")
		img(src="https://1.bp.blogspot.com/-41qeQwhu5nQ/WVujpDZpwVI/AAAAAAABe1c/6yqw2FQJ5bA5TiSSlFg0GstPBvmRY_yGACLcBGAs/s1600/20170701_104707.jpg")
			
		img(src="https://4.bp.blogspot.com/-UboxFV4vDj4/WVujpSXrFiI/AAAAAAABe1k/WLxTmZwrFbY_SyCtxyUBuX97keeCxdMwgCLcBGAs/s800/20170701_154839.jpg")
		img(src="https://4.bp.blogspot.com/-Nbmw-7aeyg0/WVujqQglP8I/AAAAAAABe1s/0ZoVEptSXkslT13FyJxr8Hcuad1ncAbWACLcBGAs/s800/20170701_154928.jpg")
		//img(src="https://4.bp.blogspot.com/-m9PHk4ERnlA/WVujqVDPSgI/AAAAAAABe1o/B_tyvGbjXYsgbQB6a1yvWvjThnP2RKL7QCLcBGAs/s500/20170701_212502.jpg")
	.videoset(data="XinQj3-SZJI,9_W81ncjEBE,Jebp0qSl4oQ,leFwqZ2pivw,tFMhS6q_Ajo")
	.videoset(data="c1ZOKhnVSJs,SnTNxqUdGT8,P-H9-gTFLNo")



	h4 Sunday
	.story #[.elvin] We are back from our morning walk around the estate. The sun was sorching this morning making us sweaty.

	.photoset(data-layout="32")
		img(src="https://2.bp.blogspot.com/-LQ8jFudMsxs/WVujrC5ukoI/AAAAAAABe10/ejD6XZUkeIwxNWde07xDpreT1A3sz3fSACLcBGAs/s500/20170702_090857.jpg")
		img(src="https://1.bp.blogspot.com/-c1nc2laqP-Q/WVujrHswHcI/AAAAAAABe14/Fybx8Y2unlctLr_BWhPGtyA7Nap11jCeACLcBGAs/s500/20170702_090923.jpg")
		img(src="https://2.bp.blogspot.com/-arJ2vzgaYfY/WVujqaJieFI/AAAAAAABe1w/bZn3ohOZ4TU6z7muAyPBmOJPW6mNs_IbQCLcBGAs/s500/20170702_085550.jpg")

		img(src="https://2.bp.blogspot.com/-l269TobQaH8/WVujrLYCuZI/AAAAAAABe18/RzTg3ls_-D8H6M5ywMQBDc6rCWkcXWkBACLcBGAs/s800/20170702_085614.jpg")
		img(src="https://4.bp.blogspot.com/-Q7fyoxCTrv4/WVujrhNRQKI/AAAAAAABe2A/pJgJw5D8xcUOk0zV54lPgL5o8TL69TUMwCLcBGAs/s800/20170702_102452.jpg")
	.videoset(data="yTde5xzIAN0,zFJwuyLPFlM")
	.photoset(data-layout="132421")
		img(src="https://1.bp.blogspot.com/-l5d4nBMpf5E/WYCbvy8Pm_I/AAAAAAABfOo/W7pOJgOg1_k-KiHF2sBh5TdNQbQFdjlJwCLcBGAs/s1600/20170702_174150.jpg")
			
		img(src="https://4.bp.blogspot.com/-m4WBlwB6RT4/WVujwRA7kwI/AAAAAAABe24/BLaw-5XhRek88BJKcmeDorzaj11NBGGDwCLcBGAs/s500/20170702_162207.jpg")
		img(src="https://3.bp.blogspot.com/-muAo5QAcdaE/WVujwpj5ZBI/AAAAAAABe28/5_H8r-jcge0gXdbjt6mXWTRbxJP0AfN-QCLcBGAs/s500/20170702_162740.jpg")
		img(src="https://2.bp.blogspot.com/-VLLYOzq9Vno/WVujwq-5e5I/AAAAAAABe3A/NRRv0Xd4tBUnZnxg6C4MRrBkbO1_CUwbgCLcBGAs/s500/20170702_162742.jpg")


		//img(src="https://1.bp.blogspot.com/-VCPaWN0MnXE/WVujsDoGlPI/AAAAAAABe2I/9kD9GxNGcUErFzXOg0N-WOHgHw9WAk5BwCLcBGAs/s500/20170702_121055.jpg")
		img(src="https://4.bp.blogspot.com/-nJDIEOxsfW0/WVujss9jrmI/AAAAAAABe2M/Ekv2AjU1B6gHATEKeaRjS-MMi1_9AOOnQCLcBGAs/s800/20170702_121057.jpg")
		img(src="https://3.bp.blogspot.com/-70oSi0FJ11U/WVujsn1o71I/AAAAAAABe2Q/qzHfDhfvNzgc2_7C0MlvJlAPAtLxU5ETgCLcBGAs/s800/20170702_121125.jpg")
			
		img._(src="https://2.bp.blogspot.com/-neCCAaFHCxk/WVujs3-c_8I/AAAAAAABe2U/b9YJjjkSvKABEyLriwZxzDlPITJ1-gvRACLcBGAs/s400/20170702_121137.jpg")
		img(src="https://3.bp.blogspot.com/-tST-uxyhGmA/WVujuLe4COI/AAAAAAABe2Y/SlwPdpzf_egfo_wo-d3zbO26DULxKPJnwCLcBGAs/s400/20170702_121201.jpg")
		img(src="https://1.bp.blogspot.com/-pFMEO1Api7A/WVujuO_HwQI/AAAAAAABe2c/1zNshOrvw9QGwLt_bD0yZRyqxMkE_IEHwCLcBGAs/s400/20170702_121212.jpg")	
		//img(src="https://1.bp.blogspot.com/-KMhx6mJCJvI/WVujuUB2SfI/AAAAAAABe2g/rlyN1KzM7cgtvVvpDs-HhSSaq0lxBBjhQCLcBGAs/s500/20170702_122855.jpg")
		img(src="https://3.bp.blogspot.com/-7zmtBAFCytk/WVuju0vC6GI/AAAAAAABe2k/2Tc1-Tq1kAgf_c9icdch-FXPIWH-d75qwCLcBGAs/s400/20170702_122858.jpg")
			
		img._(src="https://3.bp.blogspot.com/-AYbYEb9tJZ4/WVujr-VimJI/AAAAAAABe2E/AMfXdDo7dcEawW7JTNwVWfqWrUzg_te8wCLcBGAs/s800/20170702_120902.jpg")
		img(src="https://2.bp.blogspot.com/-BzZSJnF3PNM/WVujvAYUDYI/AAAAAAABe2o/mvi0mFcTplAEcPpvPGQ7fSNGzqk4LwA5gCLcBGAs/s800/20170702_153200.jpg")
			
		//img(src="https://2.bp.blogspot.com/-_jjRrs5kINE/WVujvcXimEI/AAAAAAABe2s/8E6xSSfKu1ELvH4mtjO1lxWvvnkhtUGCgCLcBGAs/s500/20170702_153314%25280%2529.jpg")
		//img(src="https://4.bp.blogspot.com/-nz95wclIGgk/WVujvtaijZI/AAAAAAABe2w/2LlUnVjJXjY4u09smiLnFJNXauhKtCh9gCLcBGAs/s500/20170702_153314.jpg")
		img(src="https://1.bp.blogspot.com/-93C9KR1sCnI/WVujv1_lUEI/AAAAAAABe20/uagEKwB8xoQOy-UKeXTFoppSq7yefSgdACLcBGAs/s1600/20170702_153315.jpg")
	.videoset(data="UaEWJBy8N1I,S8gTSyDnJ1A,nGrswPBIxYI")
			


	.fleuron


	h3 4 July, Tuesday (Week 23) - Vaccination 3
	.subline Weight: 7.4 kg. Head Circumference: 41 cm. Body Length: 63 cm.
	.story Tuesday was part three of the 5-in-1 and the pneumococcal vaccination. This time Audrey cried louder than usual. She is more aware of what pain is now and is able express it better through crying. Ellis had to comfort and coax her with milk before she dift off to sleep. When we were back at home, she has forgotten about the morning event and was back to her cheerful self. In the evening, she developed a fever which persisted weakly until the next morning. We fed her paracetemol which reluctantly swallowed in many small mouths with a frown throughout. When it was over, she was elated. The frown broke into a grin and she wanted to play with the family members around. Audrey is ever the cheerful girl.

	.photoset(data-layout="2343")
		
		img(src="https://4.bp.blogspot.com/-cR8P5wVUreU/WYCbv2z5FuI/AAAAAAABfOk/F7-4wvEs87EMkMyfChFYJI6Fr1JZUmXegCLcBGAs/s800/20170704_083720.jpg")
		img(src="https://1.bp.blogspot.com/-rAhiLcGrQzc/WYCbv4oFTNI/AAAAAAABfOs/sJG3ujopDsIao5KSbWH32U0eoDpMnx6GwCLcBGAs/s800/20170704_083725.jpg")
			
		img(src="https://4.bp.blogspot.com/-kUhxgowohyI/WYCbyTnBdaI/AAAAAAABfO0/DJFHdWjeRPs22HXYuwtdFb7p4-A5vGF3gCLcBGAs/s500/20170704_110532%25280%2529.jpg")
		img(src="https://2.bp.blogspot.com/-KzQu1pnX2Sg/WYCbyVpt1wI/AAAAAAABfO4/gMQCY8YWRiAe3bbc04xBkIBRPaO95hTtQCLcBGAs/s500/20170704_110535%25280%2529.jpg")
		img(src="https://4.bp.blogspot.com/-o2oFCNbT8d4/WYCbySSKxAI/AAAAAAABfOw/eA51nui2c4Ux2BuJM1Iof1F9EAS1h-LaACLcBGAs/s500/20170704_110535.jpg")
			
		//img(src="https://3.bp.blogspot.com/-6iGQh2f_Fyo/WYCb06auqwI/AAAAAAABfPE/S3hbUC4a26E8RYuDQC9wk616IsPBNfQgwCLcBGAs/s500/20170704_111126.jpg")
		img(src="https://1.bp.blogspot.com/-Po0kJrDTIL4/WYCb0hXBzCI/AAAAAAABfO8/x8DGX77XWuI8VbvM-HdHcQInjyduTLfywCLcBGAs/s400/20170704_111241.jpg")
		img(src="https://4.bp.blogspot.com/-6WkifuKv4Ko/WYCb0qgl5tI/AAAAAAABfPA/KO19IW2mwK0SWqozSsWjHPbJ3qDrDmuJwCLcBGAs/s400/20170704_111248.jpg")
		img(src="https://4.bp.blogspot.com/-5WOHqKFMZZQ/WYCb11dnQNI/AAAAAAABfPI/-2uwSr1IYJgTq3L7ydNqXv5PgSeI2EsIACLcBGAs/s400/20170704_111331.jpg")
		img(src="https://4.bp.blogspot.com/-0BfRfkBltyw/WYCb10aoxCI/AAAAAAABfPM/2lk3T8HALRMvvkHVjLIgdtt1DBfnSgIdQCLcBGAs/s400/20170704_111332.jpg")
			
		//img(src="https://2.bp.blogspot.com/-vIj7p4ql2Ek/WYCb2NuhE3I/AAAAAAABfPQ/OPhqb1EuJN0FG2qShFUpv7qV_L62KyoyACLcBGAs/s800/20170704_134502.jpg")
		//img(src="https://4.bp.blogspot.com/-fcAA2HCPZU4/WYCb4LpFJKI/AAAAAAABfPY/vOKPlyw6ZKMPchf7GLIh95s1CGf4D-5KwCLcBGAs/s800/20170704_134505.jpg")
		//img(src="https://1.bp.blogspot.com/-WFvkCAUES1o/WYCb36QF1BI/AAAAAAABfPU/9ExtojP3LDkBM5WBotUc9SWSldVhc5ylACLcBGAs/s800/20170704_134507.jpg")
			
	.videoset(data="WRANK_YsLgA,uc-cKDnbTh8,4ahiQmpg8Qc,BIyv2eWOHzc,pfeGSbsHngI")
	
	.fleuron


	h3 8 July, Saturday (Week 23) - Maternal Grandmother Visit
	.story #[.ellis] Audrey went to visit her great grandmother aka 'lao ma' on Saturday. An overdue task that should not be delayed any further. It was a long journey from far east to far west. 环岛追追追! I was glad that we made it and Audrey was sleeping throughout the rides to and fro. Good job. 

	.photoset(data-layout="321")
		img(src="https://2.bp.blogspot.com/-DrjGxsBuR9s/WYCb8o9QNQI/AAAAAAABfPs/virjoYULDisR7vUmZg9ykP9GZIFRd6T5QCLcBGAs/s500/20170708_112409.jpg")
		img(src="https://3.bp.blogspot.com/-txZyC6qDqis/WYCb8r-IcTI/AAAAAAABfPo/C_dTA4s3Kisu18VoJNp56VyuprSIelrtwCLcBGAs/s500/20170708_114147.jpg")
		img(src="https://3.bp.blogspot.com/-olfy7BqGsyE/WYCb9RWHUTI/AAAAAAABfPw/oOg-bw2Sb-sjP-3dY11m5UnJC6DqvWboACLcBGAs/s500/20170708_114252.jpg")
			
		img._(src="https://4.bp.blogspot.com/-F6-RgjXg3xk/WYCb9-VvScI/AAAAAAABfP4/NFvodQKJu18L3H4q-cQCCOB3TfSf1y2kQCLcBGAs/s800/20170708_114319.jpg")
		img._(src="https://4.bp.blogspot.com/--RNp2Wn78H4/WYCb9x-HADI/AAAAAAABfP0/B2ou3SkkeHEfKVnmRjoWEAfOZC6TcFY3QCLcBGAs/s800/20170708_114359.jpg")
			
		img._(src="https://1.bp.blogspot.com/-5C4sOpC-r_k/WYCb-cWLzXI/AAAAAAABfP8/AS3FsDKqQAUVxkqUCQe43PD_TFENR-Z9wCLcBGAs/s1600/20170708_114411.jpg")
			
		img(src="https://1.bp.blogspot.com/-DHgIPQn2d_k/WYCb_n6VE4I/AAAAAAABfQE/cNJSZneEGi4pac5naWFvabj2Y90wFprDgCLcBGAs/s800/20170708_124554.jpg")
		img(src="https://2.bp.blogspot.com/-8WyE9-1YTLw/WYCb_Wjh4oI/AAAAAAABfQA/A9lgs8gXepwXVmcYpMkT-RzxuZbo1HaawCLcBGAs/s800/20170708_124556_001.jpg")
			
	.story It was through that visit that we realised that Audrey has the ability to recognise faces and houses. She started crying not long after the helper carried her while I had my lunch. After some warm-ups, she was playing with the cushion and performing her flipping ability! My grandmother was happy and I was glad that Audrey made her day!
	
	.photoset(data-layout="321")	
		img(src="https://3.bp.blogspot.com/-y54pS2mR-1A/WYCb_oWeg0I/AAAAAAABfQI/c-IE3jwBtpkoE7Qe8rZw2JkBgKKYPty3QCLcBGAs/s500/20170708_152658.jpg")
		img(src="https://4.bp.blogspot.com/-dwdwYf0XsGQ/WYCcArmFM1I/AAAAAAABfQM/ro6Df6s9ivQ4c0hE5c39UpTQPNpQgBfGwCLcBGAs/s500/20170708_152700.jpg")
		img(src="https://3.bp.blogspot.com/-F5tgoaFjTo4/WYCcBCdCk7I/AAAAAAABfQU/Of7PB4CrcaMEw6L3sFyUXRd03Hh3m93ogCLcBGAs/s500/20170708_183452.jpg")
	.videoset(data="O_yeDRrsGMM,nKV6-1PplRM")


	.fleuron

		
	h3 9 July, Sunday (Week 23) - Ellis clears her room
	.story #[.ellis] The following day was another opportunity for us to confirm her ability to recognise people and houses. An hour before we brought her to my mum's place, she had a meltdown. She cried non-stop and finished 230ml of milk before she calmed down and took a nap. 230ml is a lot when her usual is 90-120ml per feed! I got worried as she continued to ask for more. We had no choice as that seemed to be the only way to stop her crying. 	
	.photoset(data-layout="24")
		img(src="https://2.bp.blogspot.com/-hbhOISpjn-U/WYCcA7LXdpI/AAAAAAABfQQ/YsBdEoQoJjcUNnZkErl3TcyXqEfP1DCBQCLcBGAs/s800/20170709_082752.jpg")
		img(src="https://4.bp.blogspot.com/-VhVhTUSelAI/WYCcCFVYMcI/AAAAAAABfQY/HN2eLaCYnGMGvi_KwLtmd-lBCANVpAHbgCLcBGAs/s800/20170709_083213.jpg")
			
		img(src="https://4.bp.blogspot.com/-ds0WbS4XKvc/WYCcCXb1MjI/AAAAAAABfQc/ZZyuJFv3l5EW-XDw33z6IIsaQDdXOzK0ACLcBGAs/s400/20170709_084909%25280%2529.jpg")
		img(src="https://1.bp.blogspot.com/-5GYe5pNP5R8/WYCcChmYSoI/AAAAAAABfQg/HZ0Xobondd0-3VXA1KWhMeObDGSmkVoxACLcBGAs/s400/20170709_092746.jpg")
		img(src="https://3.bp.blogspot.com/-yliLuPXbolE/WYCcDh6O9sI/AAAAAAABfQk/SMsFfRlZVmoqQKdBmolGKORhzQuDrOkGACLcBGAs/s400/20170709_092756.jpg")
		//img(src="https://2.bp.blogspot.com/-zFLyvTHKxQ8/WYCcD6l_7VI/AAAAAAABfQo/Dbbwb515TPEZYRoAz77ruKNXjQODpe3cgCLcBGAs/s500/20170709_092759.jpg")
		img(src="https://3.bp.blogspot.com/-gYbZlCpziEk/WYCcEJACxZI/AAAAAAABfQs/nJ-eIa_oJ3E3YOvrYhqchEadfkvrpxcgwCLcBGAs/s400/20170709_092813.jpg")
			

	.story Later the day, I was busy packing my childhood into bags and boxes to shift them to my new house. There was no time to lose. Pack. Shift. Unpack. We left Audrey under the care of my 3 sisters. To their horror, Audrey kept crying the moment the lights were on. She recognised the different lightings and looked up to whom was carrying her. She burst out crying again. When I arrived, she stopped crying almost immediately and clung onto me tightly. On the car ride back home, she slammed her head on my chest and looked down. For a moment I thought she fainted because she was not moving. I tried to shift her and she clung even more tightly to me and gave a very sad-angry expression. I think she was angry with me for leaving her there. Lol. Hugs and kisses, Audrey. I love you to bits to leave you!		
	.photoset(data-layout="43")
		//img(src="https://4.bp.blogspot.com/-EYQSufHVXZI/WYCcEY6tHYI/AAAAAAABfQw/wllOzEnv5IU_N8NeDcDJyCXpVK-LzeF4gCLcBGAs/s500/20170709_114201.jpg")
		img(src="https://1.bp.blogspot.com/-0GMg1_DBg3c/WYCcFk7we3I/AAAAAAABfQ0/Y1YmmRSwrWQOnEPer2TrO3NBkRit5U_igCLcBGAs/s400/20170709_114445.jpg")
		img(src="https://3.bp.blogspot.com/-yp1UvGzAWf4/WYCcJRqwhiI/AAAAAAABfQ4/OXtHCo4PmBI2UG0C_Bqft1Q1Aa7Vv_dpgCLcBGAs/s400/20170709_114451.jpg")
		img(src="https://1.bp.blogspot.com/-ox6QIxk68KQ/WYCcJjWl0HI/AAAAAAABfQ8/eCWd_neeqoERNNbroDSLK1MG_y1J_T3QwCLcBGAs/s400/20170709_114504%25280%2529.jpg")
		img(src="https://2.bp.blogspot.com/-EtF2lfYGZz0/WYCcLWnSs0I/AAAAAAABfRA/6-PcJ2h5708KRRKu6X-RuyM22vtoKa3FwCLcBGAs/s400/20170709_114507.jpg")
		//img(src="https://1.bp.blogspot.com/-Jn4IuBdEU1c/WYCcMG-XzcI/AAAAAAABfRI/CIEmwwPRZaAWhuqvqilXv3ZoHSHQs2cxQCLcBGAs/s400/20170709_114513.jpg")
		//img(src="https://4.bp.blogspot.com/-tSara9u8KY4/WYCcL1NXXxI/AAAAAAABfRE/wYRBKVKA10wFMI8KeO2SckfLURWjwjblgCLcBGAs/s500/20170709_114537.jpg")
			
		img._(src="https://2.bp.blogspot.com/-RrftORugdwQ/WYCcMe3DvAI/AAAAAAABfRM/O8nU4VB334g9kLgSY_BA5U0CydM-MGSoACLcBGAs/s500/20170709_202821%25280%2529.jpg")
		img(src="https://2.bp.blogspot.com/-fmRui4PayIA/WYCcNqbExyI/AAAAAAABfRQ/cndsaPoQRZgHvxZ7yj384q62km7VW40zgCLcBGAs/s500/20170709_202821.jpg")	
		img(src="https://1.bp.blogspot.com/-jwO6iFV78U0/WYCcOO-W93I/AAAAAAABfRY/lAFGyVF7d48xK6e_KMXj34fTcuTk-6THQCLcBGAs/s500/20170709_202823.jpg")
		//img(src="https://2.bp.blogspot.com/-b0HjYqJPF7Q/WYCcN9NtNsI/AAAAAAABfRU/Xxiak-Yjc3syS2EqYGD_9nSZAFPrW7MzgCLcBGAs/s500/20170709_202822.jpg")

	.story I did a short research and realised she was probably going through her growth spurts. She is growing, my darling! Stay happy and healthy always! 		
	.videoset(data="1ZUNqLCNo6Y,4cvS-nh-_EY,fsuf1NME7Jg,eb7IMVca5rw")


	.fleuron

		
	h3 14 July, Friday (Week 24) - An Chuang
	.story #[.ellis]
	.videoset(data="S3T_7K3atE8,6To_tEN8_ew,RMWTYTBxu5Q,ydxL1skNfX0,GYxkRt-12jA")
	.photoset(data-layout="43")
		img(src="https://3.bp.blogspot.com/-Qz0yP2fNFTY/WYCcOm19GpI/AAAAAAABfRc/L-a-amLT-xkEq28F95X_vEyN0c5VtUjWQCLcBGAs/s400/20170710_183332.jpg")
		img(src="https://3.bp.blogspot.com/-XcOIQNt4nhc/WYCcPif6WHI/AAAAAAABfRg/wnZE3FvOCDcTqK3uNXNArclQyDgYsFdogCLcBGAs/s400/20170710_183335.jpg")
		img(src="https://4.bp.blogspot.com/-ZU_q74izXQs/WYCcP7TOasI/AAAAAAABfRk/1IY09NsekbUOeKvcnaJL7SY6YwAZHioFgCLcBGAs/s400/20170710_183351.jpg")
		img(src="https://1.bp.blogspot.com/-Ot1cUdpT8-c/WYCcQA-fbnI/AAAAAAABfRo/okCls9Cty6QrqENEFjgCMgDAvhSa541BACLcBGAs/s400/20170710_183427.jpg")
			
		img(src="https://4.bp.blogspot.com/-WO-lxwzttqk/WYCcRUW5lgI/AAAAAAABfRs/5IfJnzn5-M0sK0YxDXUw1qYsjYdgNe1PwCLcBGAs/s500/20170710_203819.jpg")
		img(src="https://4.bp.blogspot.com/-ajx6ef24Hr8/WYCcRekHnpI/AAAAAAABfRw/4CNz1w2zyE05Ly6uIy_4yG_yN2GJB2KmACLcBGAs/s500/20170710_203848.jpg")
		img._(src="https://4.bp.blogspot.com/-oUXNsG0YfCM/WYCcRrFOfMI/AAAAAAABfR0/-VTGknbBJZ48aaLf7YB3Ho_6qpuR3IVHwCLcBGAs/s500/20170710_203857.jpg")
	.photoset(data-layout="13")
		img(src="https://2.bp.blogspot.com/-t-vtyg3xJRU/WYCcSO-VT9I/AAAAAAABfR4/C6hItUjK5i8hwsfc-YNUwZbNdasw0-9swCLcBGAs/s1600/20170714_115003.jpg")
			
		//img(src="https://4.bp.blogspot.com/-XFjAtnH8Z48/WYCcSa0IgMI/AAAAAAABfR8/jUhkHNGCnIcq3wpqzSW5oP2X10mdu-0sQCLcBGAs/s400/20170714_210639.jpg")
		img(src="https://1.bp.blogspot.com/-VMXban1zjjU/WYCcScIqkuI/AAAAAAABfSA/tUIgHtnzCOMYCzntfJe2MENq_lEpyiwEACLcBGAs/s500/20170714_210640.jpg")
		img(src="https://3.bp.blogspot.com/-m_e3c8bR1tI/WYCcTDkCSPI/AAAAAAABfSM/p44kqkkwwW8SmHLSGDIgzJ5l5cySuJgqwCLcBGAs/s500/20170714_210643.jpg")
		img(src="https://3.bp.blogspot.com/-zb0NytKB8Fw/WYCcTBnII6I/AAAAAAABfSI/KARmQdgbwakTWUKZMsz4-uoGyhFVEpAqwCLcBGAs/s500/20170714_210655.jpg")
		//img(src="https://2.bp.blogspot.com/-rc-Is0gveJ4/WYCcS4a_BBI/AAAAAAABfSE/D8uaPOMoA80-P13-z6iYSAXac7r7j4XtgCLcBGAs/s500/20170714_210643%25280%2529.jpg")
		//img(src="https://4.bp.blogspot.com/-L5os6UvAOco/WYCcTs0V9OI/AAAAAAABfSQ/hJ5t1C3A2FsFASfdTxaQhBtm4mahYnGFwCLcBGAs/s500/20170714_210917.jpg")
		
	
	.fleuron

	
	h3 15 July, Saturday (Week 24) - Charles and Wendy
	.story #[.ellis]
	.photoset(data-layout="23W3")
		img(src="https://2.bp.blogspot.com/-wrXW7v0zXGA/WYH2Ke3CM-I/AAAAAAABfS8/GXGG7ObYOzUNcuZCX5SAnJxdrzAVH6ASgCLcBGAs/s800/20170715_075444.jpg")
		img(src="https://4.bp.blogspot.com/-KvnklWKvJX0/WYH2KYdS_GI/AAAAAAABfTA/o7-rmp1A18kc64cCrAZbaZ0NpgkzTWf3wCLcBGAs/s800/20170715_075446.jpg")
			
		img(src="https://3.bp.blogspot.com/-HtMagMtUM4s/WYH2KSi5sWI/AAAAAAABfTE/LCVpc9JkQOgXXh0aFrjO2aEjNQ-rxjJGACLcBGAs/s500/20170715_105417.jpg")
		img(src="https://1.bp.blogspot.com/-MlcHSjmT5RE/WYH2LfM2WOI/AAAAAAABfTI/qUNRCb3SG9M9Gij3SglpwUM9AfWMdbEPgCLcBGAs/s500/20170715_114257.jpg")
		//img(src="https://1.bp.blogspot.com/-_arfsfN4ZsE/WYH2LhgeyOI/AAAAAAABfTM/DleSbAnCWUYPysP3xwj_FZE1KoY3eQlDgCLcBGAs/s500/20170715_120702.jpg")
		img(src="https://2.bp.blogspot.com/-HeY_Z8WKyUU/WYH2LgXdsUI/AAAAAAABfTQ/koMPakKlT4cqDL9T80wPVqOT0vIm_QaRwCLcBGAs/s500/20170715_120713.jpg")
			
		//img(src="https://4.bp.blogspot.com/-8LfbGVpkyrc/WYH2M19i4UI/AAAAAAABfTc/Ap1STdapfjETjeCz64ZCpPW3sg8UaaF3gCLcBGAs/s800/20170715_135154.jpg")
		img._(src="https://2.bp.blogspot.com/-ADJumP31VYQ/WYH2Mb0XbCI/AAAAAAABfTY/M7iqJwfcrvwhVW0CQ4G4l8MJlnoRzO0AACLcBGAs/s1600/20170715_135155.jpg")
		//img(src="https://3.bp.blogspot.com/-q7Bij7Ig2t0/WYH2MV96K9I/AAAAAAABfTU/ptL0wAVH6oUjuu9u6Wt8GqdlKElCWO7wwCLcBGAs/s800/20170715_135118.jpg")
			
		img(src="https://4.bp.blogspot.com/-DzIEYzz_Dc0/WYH2Na2hkhI/AAAAAAABfTg/Ni-I7URIcP4-gGaPUVAfbm8jP5QfXGleACLcBGAs/s400/20170715_140944%25280%2529.jpg")
		img(src="https://2.bp.blogspot.com/-jK-3-BgjULg/WYH2NVIIm7I/AAAAAAABfTk/Rf5EDpDo3uowPDlvuTQmyDyVpJq4G41ZwCLcBGAs/s400/20170715_140944.jpg")
		//img(src="https://2.bp.blogspot.com/-n3WA1vXvMK8/WYH2N3R5hDI/AAAAAAABfTo/lAJWbC3e45ocixB3jIE5CJHhvfIJm1niQCLcBGAs/s400/20170715_140948.jpg")
		img(src="https://4.bp.blogspot.com/-B67MGCh8Hlg/WYH2OE6Wu3I/AAAAAAABfTs/cLbTkkasru8ZaCf0MirTouYYdsj7EhmCQCLcBGAs/s400/20170715_140950.jpg")
		//img(src="https://2.bp.blogspot.com/-YAEDLccGiTI/WYH2OaLL9fI/AAAAAAABfTw/Fxw2oKC_gaIbKmLGY3NGH9aeIOT3CcnXACLcBGAs/s500/20170715_144824.jpg")
	.videoset(data="pT4u-6jxYkA,-vddxCB_6uI,Sy7EB1cbcTA,qz8KILEEE1M")
	.photoset(data-layout="3232")
		img(src="https://1.bp.blogspot.com/-o1hgtGKSoSw/WYXCQxNV_iI/AAAAAAABfVE/YBByOBxcdXgnVOljfzv5epK_JiqVBRu0ACLcBGAs/s500/20170715_165858.jpg")
		//img(src="https://2.bp.blogspot.com/-NeD2yaUknHE/WYXCRHnFrRI/AAAAAAABfVI/HHoDOqEB3iE9YU3ZClqESZekUTk09h0sQCLcBGAs/s500/20170715_165914.jpg")
		//img(src="https://1.bp.blogspot.com/-Z_8sBsyjDqk/WYXCRUp9bQI/AAAAAAABfVM/D_N3dfk0GLwrd7W0035lmVNHcsUZP07mgCLcBGAs/s500/20170715_165923.jpg")
		img(src="https://1.bp.blogspot.com/-kYbBDlSMo2w/WYXCR7gYgOI/AAAAAAABfVQ/miPCbWa9t1gK1Vq3W7lsCF6WHzl5smpMACLcBGAs/s500/20170715_170019.jpg")
		img(src="https://3.bp.blogspot.com/-EuOqG7m_8Ak/WYXCR7-863I/AAAAAAABfVU/UY4PJzdYNbUQ_bdvOAzzHpmc3QBytg8CQCLcBGAs/s500/20170715_170024.jpg")
			
		img(src="https://1.bp.blogspot.com/-RxzXLBIWPzw/WYXCSm7-vII/AAAAAAABfVY/0F2EX8l9olgzpXCzdDjHj6BtomZnMPuLQCLcBGAs/s500/20170715_202436.jpg")
		img(src="https://1.bp.blogspot.com/-fvrMFW1TUt4/WYXCS4lWu9I/AAAAAAABfVc/qUxuc-QXJ1cLuZO-ZVq-MXP8sx6_CRSgQCLcBGAs/s500/20170715_202441.jpg")
			
		img(src="https://2.bp.blogspot.com/-b_rQrtXkdVQ/WYXCTM11iaI/AAAAAAABfVg/z7GpqZTnb78srJwgh1lSG-Qy9IJZPQVAQCLcBGAs/s500/20170715_202528.jpg")
		img(src="https://4.bp.blogspot.com/-lZ7M3zKH6JU/WYXCToW2qwI/AAAAAAABfVk/dnLKzcukyw41-_ltKjtavSHhB6nUHenJACLcBGAs/s500/20170715_202626.jpg")
		img(src="https://2.bp.blogspot.com/-aRqoFPjh2oQ/WYXCTxYHEhI/AAAAAAABfVo/bC9V26CCMXktBNjEdzPlzjT8bf3fuk0JQCLcBGAs/s500/20170715_202828.jpg")
			
		img(src="https://1.bp.blogspot.com/-lU3tEupervE/WYXCoBOheWI/AAAAAAABfZs/nX5d3TYhj4o0sAesCjUx6IIq1HpWw4cygCLcBGAs/s500/IMG-20170716-WA0007.jpg")
		img(src="https://4.bp.blogspot.com/-5FmLtr4HMvQ/WYXCoGdQ4SI/AAAAAAABfZo/galEniFhXOsY4YAM5NLAsx6vhP0B2K04ACLcBGAs/s500/IMG-20170716-WA0008.jpg")
				
	.videoset(data="54JdLGtnNYM,4V_VefsXHQw,QToNYAchG2c,S9ADngPMivw")
	
	.story #[.elvin] Here is Audrey. Hungry, frustrated and there is not enough space. This bed is not big enough for the both of us. Someone has to give way and she is getting squashed by daddy. Time to release her weapon - wail! Now, she gets all the space she needs and a warm bottle of milk. After a full tummy, it's time for play. Mommy and daddy are so busy so she is sitting alone and waiting.
	.photoset(data-layout="23")
		img(src="https://4.bp.blogspot.com/-FGlB0SIwsDU/WYXCVNdvxII/AAAAAAABfV0/afYn7EQTJgE4xQVWY8R88LtmEnjguYgsACLcBGAs/s800/20170716_075634.jpg")
		img(src="https://2.bp.blogspot.com/-PkNwsxyQbQE/WYXCVR2OUAI/AAAAAAABfV8/HXhw3xGq6lQcVSQOU-cJTyR4y2e3W1WNQCLcBGAs/s800/20170716_075640.jpg")
		img(src="https://1.bp.blogspot.com/-wc75Sxmcrdw/WYXCVY8KyHI/AAAAAAABfV4/KMtNAAh9lI8L-PCQCJv_91-f0DL5t6uKACLcBGAs/s500/20170716_090010.jpg")
		img(src="https://4.bp.blogspot.com/-38OM5wyYNPg/WYXCUIymIlI/AAAAAAABfVs/DkuJDLYDhl4BlDIJ-Z8jq_lQDUicjF5ZgCLcBGAs/s500/20170715_212647.jpg")
		img(src="https://1.bp.blogspot.com/-aT7HrpTazkE/WYXCUbdkZvI/AAAAAAABfVw/FhVVwbNEUWk7-KwaEbxCUP4Qlf5g9P5egCLcBGAs/s500/20170715_212706.jpg")

	.fleuron
	

	h3 23 July, Sunday (Week 25) - Weaning
	.videoset(data="w9wZFzhqwjE,H9p65yA73FA,MoxPghGPees,bbjGrzjMq1I,NX0kNSFem2I")
	.photoset(data-layout="3")
		img(src="https://1.bp.blogspot.com/-GzJSgD8MT7c/WYXCV3VsizI/AAAAAAABfWA/DGXL90sPlSQKOcJsGN5hcKPmT71YodFxgCLcBGAs/s500/20170719_072725%25280%2529.jpg")
		img(src="https://3.bp.blogspot.com/-mN2jxAOmaas/WYXCWGqHvDI/AAAAAAABfWE/g_j4L0RXof0NbA0jeYA2LJbf2AikZ82pwCLcBGAs/s500/20170719_072808.jpg")
		img(src="https://4.bp.blogspot.com/-0uqOH7ouR4g/WYXCWUKAjBI/AAAAAAABfWI/RKd9A1jfKMct8O4sTVVxPOsPSww7h633ACLcBGAs/s500/20170719_202925.jpg")
		//img(src="https://1.bp.blogspot.com/-Z9qiOwSnRlw/WYXCXG_95qI/AAAAAAABfWM/mEjJ3H1LxzIZMVvGU7-PkIzCL8jHJ49gQCLcBGAs/s500/20170719_205935.jpg")
	.photoset(data-layout="413")
		//img(src="https://1.bp.blogspot.com/-haOtSN_angI/WYXCXGfyGWI/AAAAAAABfWQ/3AdtqsfG31guyOm8tdKkmnMmCq54hC8fgCLcBGAs/s500/20170722_083936.jpg")
		img(src="https://1.bp.blogspot.com/-QNxCJZ4j7GM/WYXCXYFdjcI/AAAAAAABfWU/b7Lshi-JO6MYtdS1cwTIyDLXsOUS41aXACLcBGAs/s400/20170722_084131.jpg")
		img(src="https://2.bp.blogspot.com/-XKLaJvA4QHQ/WYXCYEdiXtI/AAAAAAABfWY/2mDPboRK92Q1PWmEjuQfFTqvE-jvhmYpwCLcBGAs/s400/20170722_084134.jpg")
		//img(src="https://2.bp.blogspot.com/-F-DvZgD_Or4/WYXCYX-99MI/AAAAAAABfWg/hfXtVoG-8qwvbJFVX416900HejupWnRXgCLcBGAs/s500/20170722_084320.jpg")
		img(src="https://1.bp.blogspot.com/-PsZia0cdYwk/WYXCYLOvibI/AAAAAAABfWc/NxtkOaSBnZISXWeUqTXEtpowm9Q7m56EACLcBGAs/s400/20170722_084337.jpg")
		//img(src="https://4.bp.blogspot.com/-oYk2CRzNv4c/WYXCZMRx8pI/AAAAAAABfWk/czDm0flUft8ATtA5pyPl0yFk_JeVdmjtwCLcBGAs/s500/20170722_084345.jpg")
		//img(src="https://3.bp.blogspot.com/-PTpcSSyEcww/WYXCZP2kfiI/AAAAAAABfWs/-ythO2GMkJ4RmjA6bU_iHQRf1fRMAgYzgCLcBGAs/s400/20170722_084348%25280%2529.jpg")
		img(src="https://2.bp.blogspot.com/-rzvqSxj3HHM/WYXCZD7tmWI/AAAAAAABfWo/kfpkBSiHnkYC3jUMcRD_v7mcOoiGzRNYwCLcBGAs/s400/20170722_084348.jpg")
		//img(src="https://1.bp.blogspot.com/-t7W_sfoF6GE/WYXCZgGfxqI/AAAAAAABfWw/8qhh7_P_uY869J3-v779m-K2s48XsI12wCLcBGAs/s500/20170722_084411.jpg")
		img(src="https://4.bp.blogspot.com/-KNt6Cudf8Vg/WYXCaSju-9I/AAAAAAABfW0/45PZnyVkJLwIuC-l8tow1zOYQQtarzLVQCLcBGAs/s1600/20170722_084455.jpg")
			
		//img(src="https://1.bp.blogspot.com/-ny9qlvInKGk/WYXCaZx9mlI/AAAAAAABfW4/ZmVk8OuYt5opR3GpznoRGeBtfjPKHo_FgCLcBGAs/s500/20170722_084638.jpg")
		img(src="https://4.bp.blogspot.com/-nQqARnj-zMA/WYXCaT4dVGI/AAAAAAABfW8/aHWWDb13-vM4juMuxyE-zXyYCxH7hS6AACLcBGAs/s500/20170722_084705.jpg")
		img(src="https://2.bp.blogspot.com/-U7jwlKdq53s/WYXCbKXIdGI/AAAAAAABfXA/kN6GyUwwmtsjlpkKnq2AbVzlrW7HLE_BgCLcBGAs/s500/20170722_084712.jpg")
		img(src="https://3.bp.blogspot.com/-ClnfLQSsd4c/WYXCbdhOnWI/AAAAAAABfXI/CPMKljqGVgs7VAIv-1DH5ExEd11OkX5rACLcBGAs/s500/20170722_084733.jpg")
	.videoset(data="Dq1bypS8flQ,PoU1mV9WNVI,ijOKKRN4pU8")
	.videoset(data="G76YiDaaWx0,BOttRgCPOTo")
	.photoset(data-layout="312")
		//img(src="https://1.bp.blogspot.com/-y0JYie8e7bQ/WYXCbRbsOpI/AAAAAAABfXE/GYNi151G7LIwau2L13RwCEnwkPsZ4RvWACLcBGAs/s500/20170722_093817.jpg")
		//img(src="https://4.bp.blogspot.com/-qhUVTbA7Rgc/WYXCb-WJcII/AAAAAAABfXM/-85llej__ks6bmPgAoNIuyoAd-TfucbBwCLcBGAs/s500/20170722_093819.jpg")
		img(src="https://3.bp.blogspot.com/-NIJZg3oVkxo/WYXCcIaIvZI/AAAAAAABfXQ/_w840cxxOjcbSLs7j8Qvjn5VnG6Cwxl_gCLcBGAs/s500/20170722_093833.jpg")
		img(src="https://4.bp.blogspot.com/-7yWEGujyPPY/WYXCcaenFdI/AAAAAAABfXU/ysu-zPiJWtkxAsaAkeHywbBrjRhMK6M-wCLcBGAs/s500/20170722_093836.jpg")
		//img(src="https://4.bp.blogspot.com/-SQzFA8coLLM/WYXCc_ESbeI/AAAAAAABfXY/uRgzXoT9mmQ0btquJ4StfdoMBAd-IrV_ACLcBGAs/s500/20170722_093839.jpg")
		img(src="https://1.bp.blogspot.com/-fZ86DGMYf2A/WYXCc3LJXBI/AAAAAAABfXc/zOI75OzcX5IjWQBlYTpaXHO3cC4_pvApQCLcBGAs/s500/20170722_094122.jpg")
			
		//img(src="https://3.bp.blogspot.com/-suYKbBzp8pA/WYXCdZtdxVI/AAAAAAABfXg/t51J4Cs5sE4K98YNIrFlTO-6rB7BRO9ugCLcBGAs/s500/20170722_094650.jpg")
		img(src="https://3.bp.blogspot.com/-iYPDlqy2RdM/WYXCduasoFI/AAAAAAABfXk/HOd_wsJamzwm1V959n-N5xnWv3iEJrQ-wCLcBGAs/s1600/20170722_095041.jpg")
		//img(src="https://2.bp.blogspot.com/-cjM8hUwYrs8/WYXCeCkVvfI/AAAAAAABfXo/eb_IWNEHFNEqpuNKMm7z-WR_TNuqkWfiQCLcBGAs/s500/20170722_095101.jpg")
			
		img(src="https://2.bp.blogspot.com/-jZ4ZDyZbc4Q/WYXCerBbmfI/AAAAAAABfXs/__XfBgXGDz0pAB5D8c2AFjFRF4H2d0Y0gCLcBGAs/s500/20170722_110337.jpg")
		img(src="https://3.bp.blogspot.com/-k_8PW6VUCBY/WYXCervWwPI/AAAAAAABfXw/QP0mOOw-efIpWc1KDX0sH4YEOne7nVY0ACLcBGAs/s500/20170722_110347.jpg")
			
	.story Pasir Ris Park
	.photoset(data-layout="A")
		img(src="https://3.bp.blogspot.com/-JhrfvvHmPp8/WYXCgWjjO8I/AAAAAAABfYE/-arI3tCxipU6v4onAeZkjGA-sBuE_hp2QCLcBGAs/s800/20170722_182806.jpg")
		img(src="https://2.bp.blogspot.com/-jbpDOIpbLdY/WYXCfA7DCSI/AAAAAAABfX0/l5Nu2Kpq5oEcZs7tGOZNJqK7gS1_VT0cACLcBGAs/s800/20170722_181413%25280%2529.jpg")
		img(src="https://3.bp.blogspot.com/-Z5edSIKrowo/WYXCfuNUhWI/AAAAAAABfX4/l4PyUsDm4FcuXXy2mZN8xYDHs68CWDDBgCLcBGAs/s800/20170722_181413.jpg")
		img(src="https://1.bp.blogspot.com/-iNDU3OHRtkg/WYXCf57PTkI/AAAAAAABfYA/BruJ9aP3BXM4LOYdS8cqJV1ta_xa1LHIACLcBGAs/s800/20170722_181435.jpg")
		//img(src="https://1.bp.blogspot.com/-Y6IRURFs1YE/WYXCf0JOxHI/AAAAAAABfX8/nCR8Q5OL27oyXD0ENZXGXIujhnggXLIgwCLcBGAs/s500/20170722_181451.jpg")
		//img(src="https://1.bp.blogspot.com/--IrlVSIRAm4/WYXCgxYoMVI/AAAAAAABfYI/aZaOSKJQoeYoJZjeUNll9YseZShrK04rgCLcBGAs/s400/20170722_182828.jpg")
		//img(src="https://4.bp.blogspot.com/-Zz0nctWeBZM/WYXChISpxUI/AAAAAAABfYQ/ieWT0-IDDYUVorptcTDiIWQWklo8xT2pgCLcBGAs/s500/20170722_191138.jpg")
		//img(src="https://2.bp.blogspot.com/-AoNyBPDxlcE/WYXChFboh-I/AAAAAAABfYM/B4Q7E55_iFESTBRkNBYjk78knRNyqaKigCLcBGAs/s500/20170722_191519.jpg")
	.videoset(data="1R7Fsin03BY,0Qtw7LLIAkc,sITtUf1XFYk,HRZgc6zPSVY,gQirNiyWSQM")
	.photoset(data-layout="4")
		img(src="https://2.bp.blogspot.com/-2IbnnDe7TXw/WYXChfixIwI/AAAAAAABfYU/j6pA0lyR6aUUn5fBvMqJ67G9gDdkEZUFgCLcBGAs/s400/20170723_090156.jpg")
		img(src="https://3.bp.blogspot.com/-VmtXWz_WFl4/WYXCiH61mYI/AAAAAAABfYc/tyQPm6H0MEEIBZQxrTr1ed71LBUtzHyzACLcBGAs/s400/20170723_090212.jpg")
		img(src="https://2.bp.blogspot.com/-F6V6nOE3ayM/WYXCh_d-fsI/AAAAAAABfYY/E7_duDa4WP4XEjJLGwlmyJ-BaAPjcR3AACLcBGAs/s400/20170723_100756.jpg")
		img(src="https://2.bp.blogspot.com/-Ev1QlFI2yis/WYXCik5bfUI/AAAAAAABfYg/xqO1StpwZ5QScftqBLA-50BEytl9YUFzgCLcBGAs/s400/20170723_100803.jpg")
			
	.videoset(data="E1WPTv-Wq8Q,16kIKI1lCto,aMmDjSn3p5Y,dJMSur7nE24")
	.photoset(data-layout="232")
		img(src="https://3.bp.blogspot.com/-ELkf1s2vPaU/WYXCi_5MQ3I/AAAAAAABfYk/s4cjyGfjVjopn3GNgvIsI6IS1BXUbdtTQCLcBGAs/s800/20170723_163531.jpg")
		img(src="https://2.bp.blogspot.com/-1BDWXMMQYY0/WYXCjMFyJKI/AAAAAAABfYo/Rw8VzV8OLHQJd02WROB-kCGcUwWloWwFgCLcBGAs/s800/20170723_163650.jpg")
			
		img(src="https://3.bp.blogspot.com/-54n1m7X1SDg/WYXCjjlTkOI/AAAAAAABfYs/aUZIJLANqbYhF2qi5FXlrO8Ht4GUY1fugCLcBGAs/s500/20170723_165530.jpg")
		img(src="https://2.bp.blogspot.com/-Ctx0t9Sve1g/WYXCj_yw81I/AAAAAAABfYw/x5ilH8A-dg84NEQ9t-x24Xa8g5NMkCoxwCLcBGAs/s500/20170723_165533.jpg")
		img(src="https://2.bp.blogspot.com/-pVe0pDB8e1w/WYXCkL5AY3I/AAAAAAABfY0/Ob3ons2xDFIrIyTtXLsCXZv39R4Qe-IbwCLcBGAs/s500/20170723_165716.jpg")
			
		img(src="https://3.bp.blogspot.com/-wIro-KAeg4o/WYXCkZ5sBwI/AAAAAAABfY4/z2kuK36wmKo9bf3fdKXVUnPzpBLy7lInwCLcBGAs/s800/20170723_170621.jpg")
		img(src="https://2.bp.blogspot.com/-KjGinNleq-I/WYXCkkKiXOI/AAAAAAABfY8/WYCuPG9YAMwqEqAE6EHZ4HVycO3yETo4gCLcBGAs/s800/20170723_170630.jpg")
		//img(src="https://4.bp.blogspot.com/-K1_SnVnQOJc/WYXClEFXFNI/AAAAAAABfZA/POSL4N-0qoYNkSC5ohKr9VzI6czOcseggCLcBGAs/s500/20170723_170635.jpg")
		//img(src="https://2.bp.blogspot.com/-3Hg0hrERUpY/WYXClbfa2CI/AAAAAAABfZI/FEfe2SRE9h4jtavN18tZJvDVQSstsQrmwCLcBGAs/s500/20170723_203810.jpg")
	.videoset(data="ks2t7oTsyDA,NVTRmPkwNqY,BaQXnIspQ3s,h3LW3rWX8Rc")
		
	.fleuron

	h3 24 July, Monday (Week 26) - Morning Story Time
	.photoset(data-layout="4")
		img(src="https://3.bp.blogspot.com/-btgVLn0g8C8/WYXClf6Px6I/AAAAAAABfZE/xlQixGClHHgNm1svGtPPy8kGT_pMqA1YwCLcBGAs/s400/20170724_071643.jpg")
		img(src="https://3.bp.blogspot.com/-HD_IbCVjvTQ/WYXCmKbKLSI/AAAAAAABfZM/plalYWfLCnsXDLz0J9mhJLdekJDbI2UaQCLcBGAs/s400/20170724_071648.jpg")
		img(src="https://4.bp.blogspot.com/-SKBs1DxqogY/WYXCmAIRWwI/AAAAAAABfZQ/Tr4uGRsMJPoQYkxLMTqzTtjx16vVzh1tgCLcBGAs/s400/20170724_072258.jpg")
		img(src="https://1.bp.blogspot.com/-ydmk5S9n-Jg/WYXCmW8wrwI/AAAAAAABfZU/KHWSh2qRaMwYlImIWV9kUJJsgIQsy0XLQCLcBGAs/s400/20170724_072314.jpg")
		//img(src="https://4.bp.blogspot.com/-7JQZPZ4jHxA/WYXCnAcKk8I/AAAAAAABfZc/B890_lnUz3IxCJElRM17VBNJBtyFPGUNgCLcBGAs/s500/20170724_072734.jpg")
		//img(src="https://2.bp.blogspot.com/-bT6tAmxaSXc/WYXCmwv1fUI/AAAAAAABfZY/g-PL1bwi-Xgkhao3IGjeOn0NY4qzG-MQwCLcBGAs/s500/20170724_075339.jpg")
	.videoset(data="3VM9f4jDLws,vLP2xLgq-Uc,G9F_-HMtgBQ")
	.photoset(data-layout="23232323232323232323214")
		img(src="https://1.bp.blogspot.com/-2If5W0uQMFE/WYXCnRcDpsI/AAAAAAABfZg/xgYnxloLy20OhGfGoOSQuQJj2Z1YirfsQCLcBGAs/s500/20170725_070745.jpg")
		img(src="https://4.bp.blogspot.com/-aMqnPgXDyDc/WYXCnuzegYI/AAAAAAABfZk/GMrUcIMSQ7AF5j7O2JFljA2wrefniZD-wCLcBGAs/s500/20170725_072656.jpg")
	.videoset(data="G9F_-HMtgBQ,TLSeniUdXdI,MF0g7X5frQI,1-0lRaOBTCc")
		
	.fleuron

	h3 29 July, Saturday (Week 26) - Avocado Madness
	.photoset(data-layout="123231")
		img(src="https://4.bp.blogspot.com/-meGJPzvx6jg/WYcnbFEBuxI/AAAAAAABfas/YqP4_R6rDcYCxxdgmXVPvYTzmjlKNWvjACLcBGAs/s1600/20170729_081530.jpg")

		img(src="https://2.bp.blogspot.com/-iFxfKwhmbzw/WYcnbP5x6QI/AAAAAAABfao/VvVIOsTVdnQ_arpcEulyx78hUV9ejfaMACLcBGAs/s500/20170729_084152.jpg")
		img(src="https://1.bp.blogspot.com/-gqrBHCHbTT4/WYcna9zBU6I/AAAAAAABfak/XEIwsXQbfWkeVzEVU556rE4fjO25ppqzwCLcBGAs/s500/20170729_084156.jpg")

		//img(src="https://1.bp.blogspot.com/-ZfEzRXFinWg/WYcnbqIpFDI/AAAAAAABfaw/c5RihrGLMzEOcC8f1u2dpUAa38atYMQ3gCLcBGAs/s500/20170729_084217.jpg")
		//img(src="https://2.bp.blogspot.com/-IZYnsrkxL2s/WYcncKtHP0I/AAAAAAABfa0/JJI-LTc-IAMgv5fya9VYEQXrWM2lgLvyQCLcBGAs/s500/20170729_084233.jpg")
		img(src="https://2.bp.blogspot.com/-HyNm97a5yNw/WYcncNLwF1I/AAAAAAABfa4/wc12hPvsOR0pxRX9aCeBCy83ykYuYoSfgCLcBGAs/s500/20170729_084235.jpg")
		img._(src="https://1.bp.blogspot.com/-QwUeVIVKfdU/WYcnc9AKfXI/AAAAAAABfa8/cpV7ZlGZSG0j3pzAAzOuNsT4QxiJH6iXACLcBGAs/s500/20170729_084237.jpg")
		img(src="https://1.bp.blogspot.com/-kHG4hachEDI/WYcndA0TwFI/AAAAAAABfbA/Nll1kH0ZBl8eIo7QL0iGGZfbI5yukN9cgCLcBGAs/s500/20170729_085913.jpg")

		img(src="https://2.bp.blogspot.com/-IbIiZe697YA/WYcndIiNCDI/AAAAAAABfbE/pxJQwzmUA1ANH2bIeL5T235qKNkdJ15-ACLcBGAs/s500/20170729_165555.jpg")
		img(src="https://4.bp.blogspot.com/-u4_bapz_h3E/WYcndwe0tOI/AAAAAAABfbI/RNNtUHGhwBk1ySOxKgIEclq7Xt-SmvF-QCLcBGAs/s500/20170729_165620.jpg")

		img(src="https://4.bp.blogspot.com/-7ZgiCZBa2lg/WYcnd87AsfI/AAAAAAABfbM/PMo1i4d4HkMvCMQAc1lk2jkW015-rT5aQCLcBGAs/s500/20170729_165654.jpg")
		img(src="https://3.bp.blogspot.com/-a1XJirAOvyM/WYcneLq0xRI/AAAAAAABfbQ/T910rD7mBT4MO5Dp-sNFTb2z6D1kPSV6ACLcBGAs/s500/20170729_165657.jpg")
		img(src="https://4.bp.blogspot.com/-D67N9GnMa4o/WYcnevuufmI/AAAAAAABfbU/mWC4j9lE_5QXBEJ-whOv_xhN9t-59Z7vACLcBGAs/s500/20170729_172725.jpg")

		img(src="https://2.bp.blogspot.com/-ZcS73q5VRAE/WYcne_nFiWI/AAAAAAABfbY/l2mE1K-kTfoAOrfzgkf-fhq0XG06gG5hACLcBGAs/s1600/20170729_172800%25280%2529.jpg")
		
	.fleuron

	h3 30 July, Sunday (Week 26) - Swimming
	.photoset(data-layout="2323")
		//img(src="https://2.bp.blogspot.com/-SI9nb4kud3A/WYcnfPiAUhI/AAAAAAABfbc/BlE81XydEgU7ptHpvdBaJmP713wdnWDrgCLcBGAs/s500/20170730_092450.jpg")
		img(src="https://1.bp.blogspot.com/-c-wHc8qvMLo/WYcnfYBfpKI/AAAAAAABfbg/tsaJhOiwRsIfwTP2BE6nf31iyLNMCclkACLcBGAs/s500/20170730_092451.jpg")
		img(src="https://3.bp.blogspot.com/-wSQVSmzoB8k/WYcngMsY3UI/AAAAAAABfbk/IMJFdErc5kAhPFFnNC8xi1B_ylrqugPtQCLcBGAs/s500/20170730_092455.jpg")

		img(src="https://2.bp.blogspot.com/-BvKzJ1x5HpI/WYcngZ7zB_I/AAAAAAABfbs/2zM_zow21zU2XoGYokN2hbE5hbD8E-hDgCLcBGAs/s500/20170730_092843.jpg")
		img._(src="https://4.bp.blogspot.com/-OoIyWezydkQ/WYcngTOIANI/AAAAAAABfbo/FhNk4u8ZRw4so5UvnH2RDfYmgERV6Uf8QCLcBGAs/s500/20170730_092846.jpg")
		img(src="https://3.bp.blogspot.com/-QbvR9OMCkO0/WYcnheHPIYI/AAAAAAABfb0/W659uJveTo0zUgeatDRxYz4ltuj2FMregCLcBGAs/s500/20170730_092852.jpg")

		img(src="https://4.bp.blogspot.com/-kYB2fVvC0ko/WYcnhARJ5HI/AAAAAAABfbw/uavUto3qbQIqshJSlW6m11JIOQL7ggXpwCLcBGAs/s500/20170730_093750.jpg")
		//img(src="https://2.bp.blogspot.com/-5dLFMfeDmwY/WYcnhfn2hwI/AAAAAAABfb4/1fP0A34HcZIUtlMZoO6Y-eZm9ziqdXXjACLcBGAs/s500/20170730_093802.jpg")
		img._(src="https://1.bp.blogspot.com/-EFTEg0rx0_E/WYcniawJ6FI/AAAAAAABfcA/Dqf4jRnCTvkshL3bhmSPpeuwVSkFmy_mACLcBGAs/s500/20170730_093806.jpg")

		img(src="https://3.bp.blogspot.com/-87HlT0eoQkU/WYcniRMNg5I/AAAAAAABfb8/gOSE1ivGh54Jp0AOab_1zaR9ah2boL5GACLcBGAs/s500/20170730_093816.jpg")
		//img(src="https://3.bp.blogspot.com/-K-etidFuEf0/WYcniptfG2I/AAAAAAABfcE/787IYvRnuXstCd0rmzc58SDWtapvCQUfgCLcBGAs/s500/20170730_093817.jpg")
		//img(src="https://4.bp.blogspot.com/-UbTrL4mxvYM/WYcnjZGaU8I/AAAAAAABfcM/l2qT-SA_ubYKLx90O6CDni2PPygBSgnxACLcBGAs/s500/20170730_093819.jpg")
		img(src="https://2.bp.blogspot.com/-qCXAys7hxi4/WYcnjT2qeAI/AAAAAAABfcI/v0F34-UGUDw3uTD0P3LFkpse5hoW-SsJgCLcBGAs/s500/20170730_094657.jpg")
		img(src="https://3.bp.blogspot.com/-9EXhbNCTlgI/WYcnjuF38aI/AAAAAAABfcQ/b-wUFJFXvcIksKWgC7e6fL0uyKLboXGWACLcBGAs/s500/20170730_094701.jpg")
	.videoset(data="NDRc71vV64I,ZdQtjBUbsT0")
	.photoset(data-layout="23W")
		img(src="https://3.bp.blogspot.com/-jAOrzvUtX4U/WYcnkTnop4I/AAAAAAABfcU/MaBehreAgH8i4ONQi3FelVNby61ExjfCwCLcBGAs/s800/20170730_114558.jpg")
		img(src="https://3.bp.blogspot.com/-QUWr8KAebHo/WYcnkoWZ5_I/AAAAAAABfcc/sbZISv83zVY7xHb3Q7_NZ_a5IUFZDAakQCLcBGAs/s800/20170730_114613.jpg")

		//img(src="https://3.bp.blogspot.com/-uuMbZJ0wR5g/WYcnkaTElyI/AAAAAAABfcY/TBTDkS_tFMAkGt7Y_6Y83W32vVCEXwZ-ACLcBGAs/s500/20170730_184009.jpg")
		//img(src="https://2.bp.blogspot.com/-q7qFsXML8pw/WYcnlTEKxPI/AAAAAAABfck/bIRzAsMKUT4EVuvLUXfMwnM7Hi7YqURxQCLcBGAs/s500/20170730_184118.jpg")
		img(src="https://2.bp.blogspot.com/-GDHDxce7-s0/WYcnloQcEOI/AAAAAAABfco/jPpAMI9w9NsYrrj89_YHAHMbOZSbf7oQACLcBGAs/s500/20170730_184616.jpg")
		img(src="https://4.bp.blogspot.com/-YJE34Z2voWo/WYcnlNA0v3I/AAAAAAABfcg/B7CIgHTgGbEpst0OpYNvNfO3VsN1giVbgCLcBGAs/s500/20170730_184039.jpg")
		//img(src="https://3.bp.blogspot.com/-qmbEuoZ3oIQ/WYcnly7_nDI/AAAAAAABfcs/FPiytlIOZkAO8JxuCSNnAwnK48pyT8SmgCLcBGAs/s800/20170730_184917.jpg")
		img(src="https://2.bp.blogspot.com/-LYKn__15Bxs/WYcnmPVkLfI/AAAAAAABfcw/nJiJKeyVNVwOat5e0PIW6J2MASytp-nygCLcBGAs/s500/20170730_184945.jpg")

		img(src="https://1.bp.blogspot.com/-hr7IoYH6ccs/WYcnm9n7iPI/AAAAAAABfc0/NvNNQNeRuGw7kL1XkY8Kft0QB67cLlHegCLcBGAs/s1600/20170730_185042%25280%2529.jpg")

	.fleuron
