---
layout: exposure
label: family
cover: https://3.bp.blogspot.com/-5qdVhpf-2Wk/Wip2VxxVZQI/AAAAAAABhjU/Me2dUtGThgUgWduyUc7nPC_YvAUk8MnnACLcBGAs/s500/20171119_100010.jpg
title: Ten Months
excerpt: Intelligence
author: Ellis and Elvin
date: 2017-11-28
permalink: /audrey10
---
header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]udrey, Audrey, Audrey. Driving us crazy with her trantrums and intelligence. She is getting smarter every day. She is attempting communication by imitating our words, expressions and actions. She tests our limits by staring at us and repeating her actions, while we are saying "No!" sternly to her. She reacts to the words "bye bye", "sayang", "dance" and "snap your fingers". With her nine-kilograms frame, she overpowers other kids of the same age. She is good with her balance. She stands on the back of her pony, rocking back and forth, while we watch on with the food in our stomachs going up and down. On a good night, she dives head-first off our bed, chuckling on her way down. On a bad night, we have to fight her to sleep. Oh, happy parenthood.

	.fleuron

	h2 

	h3 28 December, Saturday - Generations
	.story #[.elvin] 
	.photoset(data-layout="232323232")
		img(src="https://4.bp.blogspot.com/-UqFE_NQG98o/WjaDJP5m9XI/AAAAAAABhqE/WyV9b2nGtpwrLh3sJgLKybUoI_UKsC0sQCLcBGAs/s500/20171128_194017.jpg")
		img(src="https://4.bp.blogspot.com/-SsCVpjsAwB8/WjaDJfjJoEI/AAAAAAABhqM/FgreMQf8OEY88lCwpd-d2ViJFfxYbvz7wCLcBGAs/s500/20171128_194018.jpg")
		img(src="https://4.bp.blogspot.com/-Wy0KDEV48ug/WjaDJfuPahI/AAAAAAABhqI/XQRl0MtcwD44KONO6bD-Xf8izFZwKxmWACLcBGAs/s500/20171128_194346.jpg")
		img(src="https://4.bp.blogspot.com/--2x4KHOA9Ho/WjaDKVVNGmI/AAAAAAABhqQ/8E5ffjKk7koBzuS2_l5BLlrjm4_xsQyRwCLcBGAs/s500/20171128_203408.jpg")
		img(src="https://4.bp.blogspot.com/-6m5iMRwhI_E/WjaDKeWjafI/AAAAAAABhqU/_QPCzNT4Nck0ynHJX52WowxO_ipS55JxwCLcBGAs/s500/20171128_203421.jpg")
		img(src="https://1.bp.blogspot.com/-nBWM3U8KmJc/WjaDKjA57ZI/AAAAAAABhqY/4xEQrzz8SLEpD7PFq6SJfuCxi7tKLIaiACLcBGAs/s500/20171128_203503.jpg")
		img(src="https://2.bp.blogspot.com/-CrYJzTl7SJo/WjaDLSf8EUI/AAAAAAABhqc/-iF6_s7aMtMdCV-mqRtMpcX6GHWNcHSeACLcBGAs/s500/20171128_203507.jpg")
		img(src="https://4.bp.blogspot.com/-wVBen6A4zI8/WjaDL6a0lCI/AAAAAAABhqk/KXqhtntQtHwFH8GMAF5fhczh_uL9NXKhQCLcBGAs/s500/20171128_203525.jpg")
		img(src="https://4.bp.blogspot.com/-qkvZwZ7hf2g/WjaDLxc8kcI/AAAAAAABhqg/miXoskWmaFIWnXgkOI7ueiwsOJ7MzP_IgCLcBGAs/s500/20171128_203826.jpg")
		img(src="https://3.bp.blogspot.com/-XYnbiyMtYzo/WjaDMQN8abI/AAAAAAABhqo/DbVulYHGpZkdtNtZDGm3JJhlpiqKvXakgCLcBGAs/s500/20171128_203838.jpg")
		img(src="https://4.bp.blogspot.com/-e3NJhKY4PvA/WjaDMwSYMuI/AAAAAAABhqs/p0pkPlqsoxUAuYkIYO9kjhORw3Ff2QiqgCLcBGAs/s500/20171128_203905.jpg")
		img(src="https://3.bp.blogspot.com/-eRIvhlAr328/WjaDNf9PefI/AAAAAAABhqw/UtzS39J3fWoALGozTD7RiyuXNKsYKHrNACLcBGAs/s500/20171128_203925.jpg")
		img(src="https://2.bp.blogspot.com/-T1IqItlaVl0/WjaDNqw9qcI/AAAAAAABhq0/QLK_dXeVGhgIp9DuQclAm_Uev-2Q-xW6ACLcBGAs/s500/20171128_204438.jpg")
