---
layout: exposure
label: family
cover: https://3.bp.blogspot.com/-5qdVhpf-2Wk/Wip2VxxVZQI/AAAAAAABhjU/Me2dUtGThgUgWduyUc7nPC_YvAUk8MnnACLcBGAs/s1600/20171119_100010.jpg
title: Nine Months
excerpt: Babbling
author: Ellis and Elvin
date: 2017-10-28
permalink: /audrey09
---
header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]fter eight months, this little girl babbles. While she was mastering her crawl, she stayed silent most of the time. That got us worried. These days, she practises her screams and shouts to get our attention and get the things she wants. She learned a cool trick on her own - snapping her finger with a "tuck" sound. Not bad at all. She is unafraid of stranger and new places. Getting cozy with her surroundings in minutes. The only thing that scares her is the xiaomi robot vacuum. But I suspect that won't be for long.

	.fleuron
	h2 

	h3 28 October, Saturday - Generations
	.story #[.elvin] I have been thinking about generations. How do we define one human generation from the next. There is no obvious line that separates one from the next. So I am thinking generations are like fish scales. Why fish scales? Because I have been descaling salmon skin and noticed how one scale overlaps the other in a never-ending pattern. Each fish scale would be a generation. As we grow older in time, each generation moves forward on its own. Six years would be a nice period to differentiate one generation from the next. If someone is less than six years older than me, I consider him to be in the same generation.
	.photoset(data-layout="2323")
		img(src="https://3.bp.blogspot.com/-mNrnAjMKSmg/WhC9ZQ-7SUI/AAAAAAABhQI/mAu25RCniugi21HjOn6jRXkf37FukirfgCLcBGAs/s500/20171028_081531.jpg")
		img(src="https://3.bp.blogspot.com/-Bx2-Pydb2M4/WhC9ZVMUmLI/AAAAAAABhQE/D9vAdJB3xT8ROrlqlgN6bNddwuEH1T5XwCLcBGAs/s500/20171028_081551.jpg")

		img._(src="https://1.bp.blogspot.com/-h9UCY-1Jdfg/WhC9ZtsvvJI/AAAAAAABhQM/LQ6Ya_OF_t8P6iK9ZnpGQ20wBVAbhMU4QCLcBGAs/s500/20171028_081605.jpg")
		img(src="https://4.bp.blogspot.com/-k74M3L8NIfk/WhC9a6caokI/AAAAAAABhQQ/RpldBH-9qYoWXGE-wak4RX0APnqZ2WKjwCLcBGAs/s500/20171028_081857.jpg")
		img(src="https://4.bp.blogspot.com/-vbkAlbbqick/WhC9bXjwFxI/AAAAAAABhQY/i2vbuNK3xIcBBAIWQkMz1sGLK9M3FzQLQCLcBGAs/s500/20171028_081858%25280%2529.jpg")
		img(src="https://2.bp.blogspot.com/-9eESR1stcFg/WhC9bIhIcWI/AAAAAAABhQU/oZK1nWbHNzo9tZKHuzHTy-OKXdkyE0DQQCLcBGAs/s500/20171028_081933.jpg")
		img(src="https://3.bp.blogspot.com/-wrcYVUEeVKI/WhC9cOYuBFI/AAAAAAABhQc/lYhP8LiFNDAH7QwWDqXFPmlDpV87A9nEACLcBGAs/s500/20171028_081951.jpg")
		img(src="https://4.bp.blogspot.com/-eTdVm5INakk/WhC9cvtz4PI/AAAAAAABhQg/S32HwDIO2yMfUVhQiFSqZ6fj1jM3MxXPgCLcBGAs/s500/20171028_085315.jpg")
		img(src="https://1.bp.blogspot.com/-ITq9UYFW_-4/WhC9cgnffNI/AAAAAAABhQk/4mUxhUqoVXwTteJHUwxQLWMkTAlPJxn6gCLcBGAs/s500/20171028_085316.jpg")
		img(src="https://2.bp.blogspot.com/-d-vyYndxPzU/WhC9dko_0ZI/AAAAAAABhQo/vFWF474fD9oV9grpm_rQ-pL5N8s108InACLcBGAs/s500/20171028_091021.jpg")

	.story That makes Audrey five and a half fish scales away from me. When she grows up, things will be so different. When I was young, being a software engineer was not even a career. When Audrey grows up, programming will be a common skill. Working in space will become a norm. Maybe she will even start a family on Mars. To think that all these will happen in five and a half fish scales.
	.photoset(data-layout="23")
		img(src="https://4.bp.blogspot.com/-2qc6BTjl1qI/WhC9eLK29UI/AAAAAAABhQs/X6KkYGggLWkiAOQ32SVYBH1lwvkyAum-wCLcBGAs/s500/20171028_181547.jpg")
		//img(src="https://3.bp.blogspot.com/-8NDSpvPXNmA/WhC9eAiXLNI/AAAAAAABhQw/IoPu0RlGwnA2dIcaWS15Z9fI03eSN6EGwCLcBGAs/s500/20171028_181557.jpg")
		img(src="https://2.bp.blogspot.com/-itijXYqwA_I/WhC9fN-upzI/AAAAAAABhQ0/jGqYlQoJgrIlH3GriVytF8zs9sikHDf-QCLcBGAs/s500/20171028_181721.jpg")
		img(src="https://4.bp.blogspot.com/-RTO7266Xi_Q/WhC9fpPghGI/AAAAAAABhQ4/lgDE63IRpZo62bzwLKVwi80-34NsGVXTgCLcBGAs/s500/20171028_204636.jpg")
		img(src="https://2.bp.blogspot.com/-WeiadL-cDqk/WhC9f31T-DI/AAAAAAABhQ8/5HkWkO10IKk6YzXtfrrdyUfq6P2tDDRBgCLcBGAs/s500/20171028_204641.jpg")
		img(src="https://2.bp.blogspot.com/-hkHLBx2R-G8/WhC9gljPdVI/AAAAAAABhRA/wmK1n6vfshUh8HA0z09VQeXDMdjLDBb_ACLcBGAs/s500/20171028_204643.jpg")
	
	.videoset(data="PuLuaoFe4aA,bpEdC_prL-4,3MofwY9hJKE")


	.fleuron

	h3 29 October, Sunday - Lunch with Mummy's Friend
	.photoset(data-layout="3W3213")
		img(src="https://4.bp.blogspot.com/-3-OaR2yFth8/WhC9hIfQfVI/AAAAAAABhRI/H-xpA57lb2MNA9i-hRSyiXwSlvLnUfTlgCLcBGAs/s500/20171029_100652.jpg")
		img(src="https://1.bp.blogspot.com/-WsILCpzBkv4/WhC9hEr1j8I/AAAAAAABhRE/Y0wXXtpqtUsg8MqUEdBjbs2zRU77FLBPgCLcBGAs/s500/20171029_100702.jpg")
		//img(src="https://4.bp.blogspot.com/-a4iLGdHxi9c/WhC9h0bLaRI/AAAAAAABhRM/qNor3JwF_TEgepE0rCgFgS87ZK7T0KBMwCLcBGAs/s500/20171029_100707.jpg")
		//img(src="https://2.bp.blogspot.com/-i_v2TvFIQHY/WhC9ikwo8sI/AAAAAAABhRU/sS1SophDcew2hKg50B6O-9ywDzzCzQSnQCLcBGAs/s500/20171029_101047.jpg")
		img(src="https://1.bp.blogspot.com/-z58RUFAVrXI/WhC9itSJioI/AAAAAAABhRQ/Qmv2U5fMC4I8HCtUdR-aEErd3rCnD-wmQCLcBGAs/s500/20171029_101054.jpg")
		img(src="https://2.bp.blogspot.com/-Rwl8j3xCBdE/WhC9jWGpj-I/AAAAAAABhRY/C5pbCtBGiDwtUhh8menvX2DHKRbC5ZFKwCLcBGAs/s1600/20171029_101057.jpg")
		//img(src="https://2.bp.blogspot.com/-VgmHUnmGifw/WhC9kLjXj3I/AAAAAAABhRc/rVDjOpcqnvsqUD75Sihh50BTUY9mibzgwCLcBGAs/s500/20171029_101123.jpg")
		//img(src="https://2.bp.blogspot.com/-qBMP-m90rW4/WhC9kPS24cI/AAAAAAABhRg/jiPhMdUBJwQiEUP_5A1C55IoRIRiWs-7wCLcBGAs/s500/20171029_101127.jpg")
		//img(src="https://4.bp.blogspot.com/-FqErgfIN1PQ/WhC9khIFe4I/AAAAAAABhRk/F7AsEictqYwmCMWejF1MZdqafHwiIgs_gCLcBGAs/s500/20171029_125458.jpg")
		img(src="https://2.bp.blogspot.com/-Gs6GwkxVj6c/WhC9lgC69kI/AAAAAAABhRo/XyvdfdcYsgkwiTnk30-OyeiSl-rtJESVwCLcBGAs/s500/20171029_130854.jpg")
		img(src="https://3.bp.blogspot.com/-wFOnkZjp-zc/WhC9lmXG2UI/AAAAAAABhRs/lcYxPun5UWwtmgxtiqviQWfFz-jBbSg9QCLcBGAs/s500/20171029_143601.jpg")
		img(src="https://1.bp.blogspot.com/-2NFzBtDMgrU/WhC9ltQWv9I/AAAAAAABhRw/YKp_BSsNfRUM-k_uCc_a1d-k919SaOLigCLcBGAs/s500/20171029_155821.jpg")
		//img(src="https://4.bp.blogspot.com/-fPgT7LjAnak/WhC9nLgPSQI/AAAAAAABhR0/wcDIGhIudvohQ8f7PXWhm1tFkUmcc-hqgCLcBGAs/s500/20171029_164258.jpg")
		img(src="https://2.bp.blogspot.com/-Q9u9olTJ04c/WhC9nsQuKQI/AAAAAAABhR4/c3qda61j7V0qyIBkQg4U7NCGwkEYvVGWACLcBGAs/s500/20171029_181712.jpg")
		//img(src="https://1.bp.blogspot.com/-sOnXe0lW5G8/WhC9n6-RQII/AAAAAAABhR8/cT4wWMBCFhY3pePC003_u-gFru1OUrWpACLcBGAs/s500/20171029_181729.jpg")
		img(src="https://1.bp.blogspot.com/-NI_nge7w0nM/WhC9o32tbRI/AAAAAAABhSA/zuFNZBQ_kRYHWnGAmTfdZwwMkdkEQ6SBQCLcBGAs/s500/20171029_181741.jpg")
		//img(src="https://2.bp.blogspot.com/-29M8KAh_w6o/WhC9pl1gJXI/AAAAAAABhSE/pKzIswoExLcnxLltsFhfBfclInHZhWdhwCLcBGAs/s500/20171029_181810.jpg")
		img(src="https://3.bp.blogspot.com/-S3btY9xph4o/WhC9pjon7II/AAAAAAABhSI/0fP2oPfbh_ofo81lVnvOfwOvKAoiAnWmQCLcBGAs/s1600/20171029_181814.jpg")
		img(src="https://3.bp.blogspot.com/-ESxNE5H3vJM/WhpjznMaRHI/AAAAAAABhUc/uwa4TVSQxyEObw4Pdu_hwtclSZwnShc9wCLcBGAs/s500/20171029_182632.jpg")
		img(src="https://1.bp.blogspot.com/-sZmZ7kKMV2g/WhpjzjIQvVI/AAAAAAABhUg/F6k5vcMEvpslfMhW2-e0GGltgHiTil7EQCLcBGAs/s500/20171029_182849.jpg")
		//img(src="https://3.bp.blogspot.com/-XfVA8vtE2vo/Whpjzm7ztYI/AAAAAAABhUY/zcVpu2VAJ9o1O6mgh2i5pYBs5xrXi6nBgCLcBGAs/s500/20171029_182901.jpg")
		img(src="https://4.bp.blogspot.com/-gm6rnG7bs7k/Whpj05H8bnI/AAAAAAABhUk/_E_uuTcS1ZAMUUj7VxZnqboiWTqrCrPKQCLcBGAs/s500/20171029_182932.jpg")

	.videoset(data="U212Nj3boMg,5KrSCz6V-rM,fvwE9sJk6T8,NW5ameagZxM")


	.fleuron

	h3 30 October, Monday - Check up
	.photoset(data-layout="23")
		img(src="https://2.bp.blogspot.com/-_Njh9sb_wyQ/Whpj1HuqY9I/AAAAAAABhUo/TaJpebDdbDM7odw9ZXYo3iYrlsXpxL9NgCLcBGAs/s500/20171030_082504.jpg")
		img(src="https://1.bp.blogspot.com/-PKOexCIeV5M/Whpj1g-2X6I/AAAAAAABhUs/L4IqtjvM-3Un1OjOXtH_f29DgE3M_ROmQCLcBGAs/s500/20171030_120902%25280%2529.jpg")
		img(src="https://1.bp.blogspot.com/-0pDIVJ_PxlQ/Whpj2B--A9I/AAAAAAABhUw/gBpFNXRNf2Q0qZ8XVfAdSjdosNpbk9JtQCLcBGAs/s500/20171030_143246.jpg")
		img(src="https://2.bp.blogspot.com/-fAF1i9CbzdY/Whpj2SFk5AI/AAAAAAABhU0/ShbMyTQNfYQJSB53ALWYbSJdqivLAiGowCLcBGAs/s500/20171030_143322.jpg")
		img(src="https://4.bp.blogspot.com/-z108vzX-6kY/Whpj22WuOYI/AAAAAAABhU4/drvokJMwp2MmCoSb2wZX9dqVY8J2H6hawCLcBGAs/s500/20171030_163514.jpg")
	.videoset(data="d7iIeFURllg,7_14-Zh-WL8,bp34eN9JD1g")

	.fleuron

	h3 3 November, Friday - Play Date with Dylan
	.photoset(data-layout="23W2321W")
		img(src="https://3.bp.blogspot.com/-lGE5IUjj8kU/Whpj3mNzU7I/AAAAAAABhVA/blmxo7VUiuYPSv1o-u6Wxd3RCpWoe2w-ACLcBGAs/s500/20171102_114916.jpg")
		img(src="https://1.bp.blogspot.com/-dxyKoSZaHwo/Whpj3UlQVmI/AAAAAAABhU8/m4KdQYobmDUgmaNBfuS3s6H7yFH2nQDDgCLcBGAs/s500/20171103_122601.jpg")

		img(src="https://2.bp.blogspot.com/-HgWT2DcEElY/Whpj4XYllhI/AAAAAAABhVE/2q5e1gkYQhoL082I8Mg8x81UHeJwdNwEwCLcBGAs/s500/20171103_135247.jpg")
		img(src="https://2.bp.blogspot.com/-NNYhY0ThWpw/Whpj4jGDn5I/AAAAAAABhVI/HbQ5iInenjMuqpJbtEuzMONjIkp19gT5ACLcBGAs/s500/20171103_135714.jpg")
		img(src="https://3.bp.blogspot.com/-MypRNGFQUN4/Whpj5ZdvFzI/AAAAAAABhVQ/GvkWMdjW3MQ5NcbAyLUzZ9HCUVa4j3WwQCLcBGAs/s500/20171103_145925.jpg")

		img._(src="https://2.bp.blogspot.com/-DmmBnApuovk/Whpj5dVFY9I/AAAAAAABhVM/y2x9_vt6rucDVif90Mba0Nr8LCrjOspXgCLcBGAs/s1600/20171103_145850%25280%2529.jpg")

		img(src="https://4.bp.blogspot.com/-SEJVz3_gp6s/Whpj56GQwSI/AAAAAAABhVU/PuW7sNbhk3cm4dd2XywuYolJzIIRqTm_ACLcBGAs/s500/20171103_150149.jpg")
		img(src="https://4.bp.blogspot.com/-drse5LVs0iQ/Whpj6zxhssI/AAAAAAABhVY/OvRgdS2-aK8VmuDnt9CZFgpY0cq7qCIoQCLcBGAs/s500/20171103_150332.jpg")
		img(src="https://1.bp.blogspot.com/-rPsN4eu-tms/Whpj7Bu1EPI/AAAAAAABhVc/E3wuXllkynQIS9MwOMW4WWNitKAKQaN9gCLcBGAs/s500/20171103_150534.jpg")
		//img(src="https://4.bp.blogspot.com/-Rd8-Qgqlg8M/Whpj7d6AJHI/AAAAAAABhVg/o2kSAV6wlzszMd6yafW6G23X52Y1MouxgCLcBGAs/s500/20171103_150544.jpg")
		img(src="https://1.bp.blogspot.com/-vUkQZN2p2s4/Whpj8V3wA4I/AAAAAAABhVk/yWIhYGqOUY0bp4l-cWkntoMU2Q8xHgm6ACLcBGAs/s500/20171103_150556.jpg")
		//img(src="https://3.bp.blogspot.com/-FkF8Q6kcaoU/Whpj8ckzazI/AAAAAAABhVo/XsHlaEpBij4tsgp9gVvDd3h02518LPAlwCLcBGAs/s500/20171103_150558.jpg")
		//img(src="https://1.bp.blogspot.com/-1sXPNZfXbLQ/Whpj9MU__tI/AAAAAAABhVs/LQ6CQalzJEkhEiB-_63gijJ5ajSx0H1aQCLcBGAs/s500/20171103_150804.jpg")
		img(src="https://2.bp.blogspot.com/-0joOlU_KbE0/Whpj9frr5tI/AAAAAAABhVw/pAnc3gn8FlwAICOIKNFzsXasEDz-CUUzACLcBGAs/s500/20171103_150914.jpg")
		img(src="https://2.bp.blogspot.com/-9nF988eLpNw/Whpj951jP-I/AAAAAAABhV0/v1tnXBoAArQht7ZqUgyOGE73TMA_WrQCQCLcBGAs/s500/20171103_151112.jpg")
		img(src="https://3.bp.blogspot.com/-DRyczohcoR0/Whpj-Zw_lqI/AAAAAAABhV4/cI-OJyv5ZKI0tgDSzGkKt0gwED5l4DZdwCLcBGAs/s500/20171103_151118.jpg")
		//img(src="https://4.bp.blogspot.com/-Kw5a6cLxfEo/Whpj_OxYRhI/AAAAAAABhV8/p6sQ_wUe_ZAbtaF1Cvl7Uc1VCacPVgFGACLcBGAs/s500/20171103_151351.jpg")
		img(src="https://1.bp.blogspot.com/-muw_TMncjZM/Whpj_QWmM1I/AAAAAAABhWA/O06Pqo-ev14-lQxfffV1KkP7GqoIj2-dgCLcBGAs/s1600/20171103_151354.jpg")
		img(src="https://2.bp.blogspot.com/-cIYJQqHEMhE/Whpj_T-I5DI/AAAAAAABhWE/ElUKl4St1xArhITChbvpGv0kCsqtRAA7gCLcBGAs/s1600/20171103_204554.jpg")

	.videoset(data="hnqxrDdD4NU,y_e1wXJtaKc,2fiHa54WQVE,XlM_fOsFd7s")

	.fleuron

	h3 4 November, Saturday - House party
	.photoset(data-layout="321")
		img(src="https://1.bp.blogspot.com/-qtTsovbuM-s/WhwYgFtanfI/AAAAAAABhWs/BftNq8IkSU4ziKZrue0Msu-IMrRxrp0hACLcBGAs/s500/20171104_134734.jpg")
		img(src="https://2.bp.blogspot.com/-aD7Q5KagqI8/WhwYgcVLVII/AAAAAAABhWw/raOMwuYFRaEe1ij5cySGgIegb6CPI2ywQCLcBGAs/s500/20171104_134830.jpg")
		img(src="https://2.bp.blogspot.com/-UM2QGN6eqMs/WhwYgeBk5yI/AAAAAAABhW0/Fn3GERJV0V8YBIbN4YoPlugOPl_inggRgCLcBGAs/s500/20171104_134845.jpg")
		img(src="https://4.bp.blogspot.com/-Ypq7jywNYVo/WhwYiBSg51I/AAAAAAABhW4/OhYjsxp4UlglDnG7IZlndTmgU4b7syLVACLcBGAs/s500/20171104_163637.jpg")
		img(src="https://2.bp.blogspot.com/-K7_3j9qo9BI/WhwYiAd6PnI/AAAAAAABhW8/qMAUxNekEZIrIy7CokVOB3WYClIx5cacwCLcBGAs/s500/20171104_163810.jpg")
		//img(src="https://4.bp.blogspot.com/-cx9uMii5JoA/WhwYiSqlcmI/AAAAAAABhXA/Okw17qFQkRUOOBi6REnNgw3OnjXAswGRwCLcBGAs/s500/20171104_163812.jpg")
		img(src="https://1.bp.blogspot.com/-c-fn6szmafg/WhwYjW3jB7I/AAAAAAABhXE/iHKbdrm6FHkGpjpOkRLGQYtzXnZGFuJLgCLcBGAs/s500/20171104_164122.jpg")
		//img(src="https://1.bp.blogspot.com/-8UBL3bPpVcU/WhwYjjTyw9I/AAAAAAABhXM/OxioQujefTEMzy66hiwvJK27IiqshBEWQCLcBGAs/s500/20171104_164345.jpg")
	.videoset(data="NmwimpUutZE,OPn8rbKDNvo,p7zPNgwHYpg")

	.fleuron



	h3 5 November, Sunday - Kids Play Pool and O Christmas Tree
	.story #[.elvin] Sarah's first month.
	.photoset(data-layout="2323231323Z3231")
		//img(src="https://4.bp.blogspot.com/-osvvZ2wpwSA/WhwYjtAA0PI/AAAAAAABhXI/WcPjA2_T4z41DqUtyUyC0B8bZmuGmF1QQCLcBGAs/s500/20171105_080118.jpg")
		img(src="https://4.bp.blogspot.com/-Gr3-hdz2Rrs/WhwYkfH1yFI/AAAAAAABhXQ/Y6Q4F9MX4NE--ML49wZuwP1FhU8qtvhpgCLcBGAs/s500/20171105_080119.jpg")
		img(src="https://1.bp.blogspot.com/-biSxR9qU00w/WhwYlHhtOtI/AAAAAAABhXU/zQ4CbXkHtZEDuHR8vM94vgZbBpr4-g2EQCLcBGAs/s500/20171105_080244.jpg")
		//img(src="https://2.bp.blogspot.com/-GKbuHRh7-Ls/WhwYlaEHwzI/AAAAAAABhXY/QvhDaXiQudQoabD2Qb3xWto1KLsSpCvOgCLcBGAs/s500/20171105_095019.jpg")
		img(src="https://3.bp.blogspot.com/-PCwFgRJZRXk/WhwYlaAuQFI/AAAAAAABhXc/0RZeuS7n2dAlcm765eGBZOL-PKhxL7E4ACLcBGAs/s500/20171105_095028.jpg")
		img(src="https://1.bp.blogspot.com/-COUQ1VoPhhU/WhwYmFVR8nI/AAAAAAABhXg/rxDo6sbkZyYJb01IRmIWkCG8VGgi4j7LgCLcBGAs/s500/20171105_115934.jpg")
		//img(src="https://4.bp.blogspot.com/-NonBssxo1p4/WhwYmF289lI/AAAAAAABhXk/8JT5uZxGqMUpB0SepLQHc0L-ZMf8QuixQCLcBGAs/s500/20171105_115954.jpg")
		img(src="https://2.bp.blogspot.com/-OJmUtMXEzX4/WhwYmRdZy8I/AAAAAAABhXo/AVGOAp85ZQ0vMLnMkbDAtf6IWsHl1F33QCLcBGAs/s500/20171105_120009.jpg")
		//img(src="https://4.bp.blogspot.com/-iBXQUMGIwsQ/WhwYnJrcNJI/AAAAAAABhXs/cda5kba9a5oNaoWYwRFrFw_dFRKlqbiEQCLcBGAs/s500/20171105_130429.jpg")
		img(src="https://1.bp.blogspot.com/-x9itXZkl0ew/WhwYnKOkK7I/AAAAAAABhXw/ozn62wj8LGEazm13B-SwhPumSzAxTS5rgCLcBGAs/s500/20171105_173828.jpg")
		img(src="https://2.bp.blogspot.com/-Vjd3NttsMIo/WhwYnoYwifI/AAAAAAABhX0/cZeIN9BsYCEFH_6CNVMKoiobX4OqRSx9QCLcBGAs/s500/20171105_174020.jpg")
		img(src="https://3.bp.blogspot.com/-eX31V1F85aU/WhwYpkRhJ0I/AAAAAAABhX4/Uex3t1t7dW4QWqP_MLEcc1VN0Z2NDy4BACLcBGAs/s500/20171105_174441.jpg")
		//img(src="https://1.bp.blogspot.com/-zs29I4ENIcA/WhwYp7vS9OI/AAAAAAABhX8/sEdhyokFoR4N5OvvTR1YjgWruV3EyezhgCLcBGAs/s500/20171105_174508.jpg")
		//img(src="https://1.bp.blogspot.com/-p_kTHh7uiD4/WhwYp1nldkI/AAAAAAABhYA/mBtSGHHvy7wCG6K4PHDH0ctbQMKXWzzJwCLcBGAs/s500/20171105_174514.jpg")
		img(src="https://4.bp.blogspot.com/-r1xK5ptTHgU/WhwYrgfKMII/AAAAAAABhYE/NYz4BadkgkgKJL1mRF6Z2VykxsBTNp8bQCLcBGAs/s500/20171105_174522.jpg")
		//img(src="https://1.bp.blogspot.com/-RT88BEoOH2U/WhwYr6unbzI/AAAAAAABhYI/XTJTg3vJ7AQX_OIAUzZ1_OVTM9SxSH4EACLcBGAs/s500/20171105_174547.jpg")
		img(src="https://4.bp.blogspot.com/-di2pjzPb5B4/WhwYr4A2PhI/AAAAAAABhYM/BCh0UoCGpswndqdJvuk2EXJWPgReu8yCgCLcBGAs/s500/20171105_174552.jpg")
		img(src="https://2.bp.blogspot.com/-b9LiF4ToWVs/WhwYtsPoOUI/AAAAAAABhYQ/50nxAAFYYjcxIKq0C-7PSaA1ZZ6Ocu83QCLcBGAs/s500/20171105_174603.jpg")
		//img(src="https://3.bp.blogspot.com/-tRbUbETT2KQ/WhwYt5HaPKI/AAAAAAABhYU/MKWCIf8vKLsoBZJZ1lS1Iv2OZEBECvpYQCLcBGAs/s500/20171105_174625.jpg")
		img(src="https://2.bp.blogspot.com/-Lcm_xoy2eiA/WhwYuEy6IDI/AAAAAAABhYY/4ygtNHJbZO0PqhSV0qqK5jOW-beLGvgdwCLcBGAs/s500/20171105_174652.jpg")
		img(src="https://3.bp.blogspot.com/-n0i5q1cDixo/WhwYvaHaKmI/AAAAAAABhYc/nstaVhJf0Q0XrK4Bd5fdblHB9qCiBUznACLcBGAs/s500/20171105_174754.jpg")
		img(src="https://2.bp.blogspot.com/-fZvL3V5_KPQ/WhwYv_4eTWI/AAAAAAABhYg/9RBTxV_aHt4yUroqMiN26B8oXGPoWuc1gCLcBGAs/s500/20171105_175056.jpg")
		//img(src="https://4.bp.blogspot.com/-BXnSyq3i9Kc/WhwYwFga-II/AAAAAAABhYk/unVWgy2sjxwZEqMTrf9jdoVmjTo11U9ZwCLcBGAs/s500/20171105_175151.jpg")
		img(src="https://3.bp.blogspot.com/-k59xHru1mw4/WhwYwmjmLrI/AAAAAAABhYo/lSYMbPkPqdca88PuDjKYvfUCeadrafE6ACLcBGAs/s500/20171105_175303.jpg")
		//img(src="https://3.bp.blogspot.com/-1FXpHXQl9wY/WhwYxJofsGI/AAAAAAABhYs/j-_FYiM6naMPWeEOmAFG2XPyDDy4lmv7wCLcBGAs/s500/20171105_175318.jpg")
		img(src="https://3.bp.blogspot.com/-3HbOnvCjWlc/WhwYxGmZ-XI/AAAAAAABhYw/TjvbjncfFhswatEiYv-qUvIQNhNo8vIzQCLcBGAs/s1600/20171105_175411.jpg")

		//img(src="https://1.bp.blogspot.com/-SE0jxngsHWs/WhwYy89ATdI/AAAAAAABhY0/fySU6wbNhvkPnRfHQp3n2JUYtvbmDx1XgCLcBGAs/s500/20171105_175429.jpg")
		//img(src="https://2.bp.blogspot.com/-I0UE6d3V_ms/WhwYzDG5lLI/AAAAAAABhY8/G3OqKHqOLxASaB-yNuwZ60l8Wt2s6uI-gCLcBGAs/s500/20171105_175431.jpg")
		img(src="https://3.bp.blogspot.com/-LGVFGHLR1u0/WhwYzMW9ISI/AAAAAAABhY4/CtkBzf4FQ_E9yQGu4KNTNYijkYrj2JqwgCLcBGAs/s500/20171105_175447.jpg")
		img(src="https://3.bp.blogspot.com/-jcofYFLDhB0/WhwY0Rp_hAI/AAAAAAABhZA/Qewa2VV5buQYhiLnjWS6wXseFyxp6h01wCLcBGAs/s500/20171105_175637.jpg")
		//img(src="https://1.bp.blogspot.com/-T_KAkHCOgBk/WhwY035J6lI/AAAAAAABhZE/azJu2uF5EfQwv941izaAAF24NI_VAEGJwCLcBGAs/s500/20171105_175649.jpg")
		//img(src="https://3.bp.blogspot.com/-C9Lydy1w95o/WhwY1OhBCPI/AAAAAAABhZI/ADAmg_9AS_41cfhVA9NvPi7iINea46gcACLcBGAs/s500/20171105_175651.jpg")
		//img(src="https://3.bp.blogspot.com/-QTF1JW8tUQ4/WhwY1-syEUI/AAAAAAABhZM/aWzoJl_cUsIGgiJkho735ks41btPzuoXQCLcBGAs/s500/20171105_175702.jpg")
		//img(src="https://3.bp.blogspot.com/-zJ0in9ujiqg/WhwY2DSVrMI/AAAAAAABhZQ/0ueDdtPWrjI61oWr8SSbjaprqukbUQcigCLcBGAs/s500/20171105_175716.jpg")
		//img(src="https://4.bp.blogspot.com/-mVkVZRcysWQ/WhwY2kPy89I/AAAAAAABhZU/-ccra7YWqJMYnhyEKDvBqfomi3oZeEReACLcBGAs/s500/20171105_175725.jpg")
		img(src="https://1.bp.blogspot.com/-RLNMpd1Fxe0/WhwY3NqVvjI/AAAAAAABhZY/lhlUsGXXoss8uoJjU1u6g95SiilqHE0YACLcBGAs/s500/20171105_175811.jpg")
		img(src="https://3.bp.blogspot.com/-VCZzf2vo8WI/WhwY3RKa3tI/AAAAAAABhZc/_AQEEr0szM4tTYs3W27-jvzkpxB9UPO7wCLcBGAs/s500/20171105_175911.jpg")
		img(src="https://1.bp.blogspot.com/-ErFTWB3Iz4E/WhwY36rENQI/AAAAAAABhZg/3uG1NSwyDiwrzI-9oT78DGhgMa5w6g_eACLcBGAs/s500/20171105_180031.jpg")
		//img(src="https://4.bp.blogspot.com/-NSeJTCZWxlA/WhwY4v35kYI/AAAAAAABhZk/_72WdbQke1sm4tIGHrvx8pEuOYxlgMjrgCLcBGAs/s500/20171105_180059.jpg")
		img(src="https://4.bp.blogspot.com/-BHSK1hTdacE/WhwY5NohfsI/AAAAAAABhZo/_w04idRAvEYPPg4r2GrFMnMIpx_OEdgsgCLcBGAs/s500/20171105_180151.jpg")
		img(src="https://4.bp.blogspot.com/-mVaysbcCegM/WhwY5ShUygI/AAAAAAABhZs/y05tsWaFxbMrG-xPgmhsY8VIUBsJRHo0QCLcBGAs/s500/20171105_180152.jpg")
		//img(src="https://2.bp.blogspot.com/-7XUPKYXhRbQ/WhwY6HhczrI/AAAAAAABhZw/1JDP2kYXGw0DKvOUu0Pj82OXX4x-Ej74gCLcBGAs/s500/20171105_180153.jpg")
		img(src="https://4.bp.blogspot.com/-KKO35cqGZcY/WhwY6RMkk6I/AAAAAAABhZ0/VfFu9vAg90g50HPK7gSX7ZT5M30SL2LJwCLcBGAs/s500/20171105_180202.jpg")
		img(src="https://3.bp.blogspot.com/-r6GbHajRYx0/WhwY6mLknAI/AAAAAAABhZ4/P7Fij1sFob4VuEyz2UFe4JjCa9gWwN0IACLcBGAs/s1600/20171105_180212.jpg")
		img(src="https://4.bp.blogspot.com/-sswkWNi6EJ4/WhwY7f0355I/AAAAAAABhZ8/7r_arekIXw4J79B5N7FO9N73En5zWW8fQCLcBGAs/s500/20171105_180353.jpg")
		img(src="https://2.bp.blogspot.com/-rUR7HkhS-XI/WhwY7k-UFUI/AAAAAAABhaA/cMCqF7i2GqoPvCX7m5XXB2j4XkEr1nPLACLcBGAs/s500/20171105_180404.jpg")
		img(src="https://3.bp.blogspot.com/-OxaIxMf_keQ/WhwY8IXwbfI/AAAAAAABhaE/xrx4jb3yYVo9ogvSDzBCmWwv7X5xQeEXQCLcBGAs/s500/20171105_180405.jpg")
		//img(src="https://3.bp.blogspot.com/-MlIdQCYdpB0/WhwY8sQU41I/AAAAAAABhaI/hF0JNWW1ykwwlPP4Z2J_ofSfFhVeN1ZtgCLcBGAs/s500/20171105_183523.jpg")
	.videoset(data="VTnUdrX87RI,pBRqxJj2LSo,npP_VgKDJ9U,frB5b3Dr614,wcx4_Jz40s0")
	//.videoset(data="gbviUxSwuKA")
	.photoset(data-layout="231")
		img(src="https://2.bp.blogspot.com/-rWGM_F5OwcA/WhwY9d7no5I/AAAAAAABhaQ/Ttcqk3AlUBUYTnlZwF-47LlL6Ov6xKESwCLcBGAs/s500/20171105_224941.jpg")
		img(src="https://2.bp.blogspot.com/-4t1jpAiArm0/WhwY9xCd4aI/AAAAAAABhaY/Ohlvo_VWaB04gVe2DOGgi4d0he35MqWPQCLcBGAs/s500/20171105_230925.jpg")
		img(src="https://2.bp.blogspot.com/-cmHdPtmhP_w/WhwY8_-JXTI/AAAAAAABhaM/32zEI0wdojE6QrGsSm9ierEQmcNWtzHYACLcBGAs/s500/20171105_224757.jpg")
		img(src="https://2.bp.blogspot.com/-2gxLhzD3Uxw/WhwY9vOIzzI/AAAAAAABhaU/Od6ar1O4uQgWr8NJe7crBQyPCUkP804swCLcBGAs/s500/20171105_230902.jpg")
		img(src="https://4.bp.blogspot.com/-ETO6iOpFQ4k/WhwY-VIkP-I/AAAAAAABhac/I6ADMNyehDkYKpP7lVE5VgCNxrJVVotfwCLcBGAs/s500/20171105_231811.jpg")
		img(src="https://4.bp.blogspot.com/-rMHndSWPOpE/WhwY_bOyhaI/AAAAAAABhag/_WL7VeQCeGwF1XIDtpZYEtE_8VIPjNExwCLcBGAs/s500/20171105_232542.jpg")

	.videoset(data="0eREHTjpeYk,A-s2u7GKeP4,6_HyFrKbRts,bflQIO-3ZHs")


	.fleuron

	h3 8 November, Wednesday - Macbook Pro
	.photoset(data-layout="232323232323232323232")
		img(src="https://2.bp.blogspot.com/-TQQ8R71yRp4/WhwY_uofwtI/AAAAAAABhak/o91WtQh28fkYz7dPP1QK8963Mp-A7lxyQCLcBGAs/s500/20171106_201955.jpg")
		img(src="https://2.bp.blogspot.com/-ub8eE4P1J2E/WhwY_lmuquI/AAAAAAABhao/juJQb3VxReoLEpiLhsYWH1n1TcNhe4KJwCLcBGAs/s500/20171108_204637.jpg")
		img(src="https://2.bp.blogspot.com/-UuRl_J5-C6E/WhwZAgdNFqI/AAAAAAABhaw/vc3qapEbSvEzSMJ9Ab8LjEGKfFYCX-XNQCLcBGAs/s500/20171108_210011.jpg")
		img(src="https://4.bp.blogspot.com/-ph7i1VnBV90/WhwZA0KPDWI/AAAAAAABha0/WDygyVwbBZc0E_KvyEHaI0I1in0zVvAigCLcBGAs/s500/20171108_210021.jpg")
		img(src="https://2.bp.blogspot.com/-8qo4qeebYLA/WhwZBe_fkwI/AAAAAAABha4/9PvyEAud1UAI7H7lI4Vcx0VpIez4hcrEgCLcBGAs/s500/20171108_211616.jpg")

	.videoset(data="g6WjWhl8wLQ,LgCd6ModkTI,WFuN_XpklkM")



	.fleuron
	h3 11 November, Saturday - Uncle Daniel's Wedding
	.photoset(data-layout="232323232323232323232")
		img(src="https://4.bp.blogspot.com/-sBz2bv8IWzA/WhwZCKSiCzI/AAAAAAABhbE/dfjlp_i5_vMTLXXJc1eAkyu2vI0ztjPygCLcBGAs/s500/20171111_083502.jpg")
		img(src="https://3.bp.blogspot.com/-osH-zqW8GlE/WhwZCBPnjtI/AAAAAAABhbI/pAfdmIo8ahEoAoPYAnP_jlEB-FYdboP1QCLcBGAs/s500/20171111_143234.jpg")
		img(src="https://3.bp.blogspot.com/-pJ7H0_PK3Uw/Wipu4IK1wrI/AAAAAAABhf8/gnGEcRak_04pnqs3VUgGwqmeylCqqaRdgCLcBGAs/s500/20171111_182445.jpg")
		img(src="https://3.bp.blogspot.com/-ojizKTO_1-Y/Wipu4KhOGKI/AAAAAAABhgA/KwneUQjrFPMltbbj7B26mvFUW5XJGgcDgCLcBGAs/s500/20171111_182449.jpg")
		img(src="https://3.bp.blogspot.com/-XypGsNPFDI0/Wipu4WnOGEI/AAAAAAABhgE/8ogp_bW4glwvfX0xYapIq8AW4lHm9VgyACLcBGAs/s500/20171111_182546.jpg")
		img(src="https://2.bp.blogspot.com/-MY5FO4ytjsw/Wipu5MKBceI/AAAAAAABhgM/c4-L9FBrMNEDPe49BaqwXxCFXUcEMHgrwCLcBGAs/s500/20171111_182749.jpg")
		//img(src="https://3.bp.blogspot.com/-yDISqklUNJM/Wipu5IAZ-FI/AAAAAAABhgI/C0jdFksrOisjzF8JboI7xgAwjRKly_ijACLcBGAs/s500/20171111_182925.jpg")
		img(src="https://4.bp.blogspot.com/-2xZgiEE04bI/Wipu5nyn3tI/AAAAAAABhgQ/WHc7MCPx2fUGorHtsnSo9g7wQ6Ek7IXcQCLcBGAs/s500/20171111_183509.jpg")
		img(src="https://2.bp.blogspot.com/-qtP4Ri-WwFM/Wipu6FRwTCI/AAAAAAABhgU/akJRSb4oergIwvsH4QuWY6yX-U3im-PaACLcBGAs/s500/20171111_183705.jpg")
		img(src="https://3.bp.blogspot.com/-QTz6oNifRuo/Wipu6K9uCII/AAAAAAABhgY/xT5qbpevYVMlgfIbRqZYgOt2eODCwoHGgCLcBGAs/s500/20171111_191534.jpg")
		img(src="https://1.bp.blogspot.com/-K4bSbewAlyM/Wipu61klglI/AAAAAAABhgc/PLEGE2nSkr8HH7UU_chwG2W3OyxoPDnJACLcBGAs/s500/20171111_191918.jpg")
		//img(src="https://1.bp.blogspot.com/-DgegWH1pUME/Wipu7LweqRI/AAAAAAABhgg/D8RKliev3fEQqvM8IALnTrnpD0vlsFJIQCLcBGAs/s500/20171111_193913.jpg")
		img(src="https://2.bp.blogspot.com/-ZYz4SkkGtXY/Wipu7YmqZAI/AAAAAAABhgk/VcNdD9bxU4YxSI6V4q4W0EBP476_aWLxgCLcBGAs/s500/20171111_193945.jpg")
		img(src="https://2.bp.blogspot.com/-XpnjTdT4K-g/Wipu8NAv33I/AAAAAAABhgs/h7f4lxeiw9cXfJTV4Ob5rLr0QdNwp6mXQCLcBGAs/s500/20171111_194020.jpg")
		img(src="https://1.bp.blogspot.com/-UDtGLo3lPx4/Wipu8Jm5meI/AAAAAAABhgo/AX4zTmsD7Sc_dzdLrzxw0kgPnDEFonLBACLcBGAs/s500/20171111_194231.jpg")
		img(src="https://1.bp.blogspot.com/-xfKeYE6QBDs/Wipu8dbr-ZI/AAAAAAABhgw/JdENXAf0qd0cdVo4oDzVZ_v2HNgM4WdXACLcBGAs/s500/20171111_195905.jpg")
		img(src="https://2.bp.blogspot.com/-89cndm1BR1k/Wipu9B5zDsI/AAAAAAABhg0/oFhn0mHYhwocfgB50x0mGvlWvIXIIxU4QCLcBGAs/s500/20171111_201319.jpg")
		//img(src="https://1.bp.blogspot.com/-aLWpoNEjtMs/Wipu9aO27yI/AAAAAAABhg8/yZsczLAKRrYqH9S1laWWAJYoaN4WSyL4gCLcBGAs/s500/20171111_202754.jpg")
		img(src="https://1.bp.blogspot.com/-W-InjfWPRlY/Wipu9Mo0_gI/AAAAAAABhg4/STjcJI3HtmgfJvcN4x7juWRqXBuLAz4ZwCLcBGAs/s500/20171111_204130.jpg")
		img(src="https://2.bp.blogspot.com/-d_57gwAHSWY/Wipu-Pk8MPI/AAAAAAABhhA/4tfKfuxvPXkrI1LxHOf_ZU6IjV-Y2rI8wCLcBGAs/s500/20171111_204633.jpg")
		img(src="https://3.bp.blogspot.com/-bcKMoDRHmOs/Wipu-vuySXI/AAAAAAABhhE/j4po1YXa5S0hxvHyEx92Aj9vDl5SPRnrACLcBGAs/s500/20171111_204834.jpg")
		img(src="https://2.bp.blogspot.com/-hPaxx1g0UzM/Wipu-tyzokI/AAAAAAABhhI/mgbH8TJ1PHoROx-U4uDB7lMoZYIgBEapgCLcBGAs/s500/20171111_204959.jpg")
		img(src="https://4.bp.blogspot.com/-6OIUjHW9ZIE/Wipu_K6qdNI/AAAAAAABhhM/ruW39RcRc4MZejN6V6nnfCF4Cpv2UL7VwCLcBGAs/s500/20171111_205041.jpg")
	.videoset(data="fkJBhxZHAi0,pS4Hu1I0oqo,a8npDVyDXcI,48hJ-Qyr5E4")

	.fleuron

	h3 12 November, Sunday - Playing in pool with Mummy
	.photoset(data-layout="232323232323232323232")
		img(src="https://1.bp.blogspot.com/-reMDzPESJzQ/Wipu_6GAROI/AAAAAAABhhQ/VWFJAxMcpLENoNhIilGTE-MM3lukDLxLQCLcBGAs/s500/20171112_074402.jpg")
		img(src="https://2.bp.blogspot.com/-YBtR64x4A10/WipvAYDgCjI/AAAAAAABhhU/geN2youRMPEzPC4peRZeRlO4KDkdLdg6wCLcBGAs/s500/20171112_093737.jpg")
		img(src="https://4.bp.blogspot.com/-iaRUdJ6x1n4/WipvAoIY2lI/AAAAAAABhhY/har1vMeqDhgz7GUPmk6WeOs1McrqrJcZQCLcBGAs/s500/20171112_093758.jpg")
		img(src="https://2.bp.blogspot.com/-0N3fu65o92o/WipvA65cC0I/AAAAAAABhhc/_llnzfulXPYPORhTPBzsJiAHoM2VAf7XQCLcBGAs/s500/20171112_093807.jpg")
		img(src="https://2.bp.blogspot.com/-YT3g8LXLBPc/WipvB-pLuwI/AAAAAAABhhk/-CMFF-tYxb0owK2ElId3aRRmJDyVvf8_ACLcBGAs/s500/20171112_121400.jpg")
	.videoset(data="EviVUZlIsY8,wByiml7xZ9c,78DeoA-iVoA,3yRYPi36XWc")
	.photoset(data-layout="23W32")
		img(src="https://1.bp.blogspot.com/-4FpcV_N8gig/WipvBUUmlvI/AAAAAAABhhg/zhjX3d394lwsQ9u7osh_MNz25Hqsd8DEQCLcBGAs/s500/20171112_175942.jpg")
		img(src="https://2.bp.blogspot.com/-SeQJ2FT4hf8/WipvCKKRvEI/AAAAAAABhho/DQrfQyPyF7s0-TAidUusFeVfCE8xezNSACLcBGAs/s500/20171112_175953.jpg")

		img(src="https://2.bp.blogspot.com/-dEno48CgTkc/WipvC1m3TMI/AAAAAAABhhs/jiwHEok_N1MS_kinJ1EAYAvM_S7iStGygCLcBGAs/s500/20171112_180023.jpg")
		img(src="https://1.bp.blogspot.com/-20gK2DOazZY/WipvC2bQZ8I/AAAAAAABhhw/cfWjQMgcJDIUbPnK7_JFzxke5VlyHcVNwCLcBGAs/s500/20171112_180052.jpg")
		img(src="https://2.bp.blogspot.com/-HJm5CFSjY_g/WipvDGWzMWI/AAAAAAABhh0/y6pUcEPvW-U6Uen2JBK8AyGn5M4O5zq9ACLcBGAs/s500/20171112_180053.jpg")

		img(src="https://3.bp.blogspot.com/-5obdF9hoyqk/WipvEKk7DFI/AAAAAAABhh4/SViY9WHbLyo80QchR7WE39H6y_s9YEwogCLcBGAs/s1600/20171112_180055.jpg")

		img(src="https://2.bp.blogspot.com/-iRZ-nhkVXXs/WipvEGEK12I/AAAAAAABhh8/B5DuZmjUMw0Xw53mJTS9WLSJVMZ4QCoQACLcBGAs/s500/20171112_180112.jpg")
		//img(src="https://2.bp.blogspot.com/-DfLah4T5QSw/WipvEbf3IBI/AAAAAAABhiA/l-FbPl9v37I-380D-ufCkGOvd_ZDV5JlgCLcBGAs/s500/20171112_180116%25280%2529.jpg")
		//img(src="https://3.bp.blogspot.com/--h65Drw32Ag/WipvFDE9mVI/AAAAAAABhiE/80zO2DoFhKUWzt7dMDDDyoGCzknJ76kUgCLcBGAs/s500/20171112_180121%25280%2529.jpg")
		img(src="https://1.bp.blogspot.com/-UB38mRD9eRU/WipvFQwkWvI/AAAAAAABhiI/ND9BGZN5lw0O3Ri-MKcGvbS0KRE_92GsQCLcBGAs/s500/20171112_180316.jpg")
		img(src="https://2.bp.blogspot.com/-Z1gGD_gRJro/WipvFjJX3lI/AAAAAAABhiM/Ja3xPAfAQq8UKO0XJ8ZlsSCrkmC3A3tLwCLcBGAs/s500/20171112_181327.jpg")
		//img(src="https://2.bp.blogspot.com/-v0VowplTGW4/WipvIOfL2iI/AAAAAAABhiQ/a212AXoRcRoWYBjH52l3vgrz-arQgGRqgCLcBGAs/s500/20171112_181335.jpg")
	.videoset(data="ZrwUDupHh_I,eUTzeJc3OXA")


	.fleuron

	h3 17 November, Saturday - Planning a party
	.photoset(data-layout="13")
		img(src="https://2.bp.blogspot.com/-LnPsvQhb-6o/Wip2QmAdb8I/AAAAAAABhig/8EuVY_UJiRsNezjT8RnfutzEsUeMorxlACLcBGAs/s1600/20171115_175142.jpg")
		img(src="https://1.bp.blogspot.com/-_iA1_1xIBms/Wip2Qlt2yBI/AAAAAAABhio/pp9vt4yyMXsVEMuKGnBakJpow7pQjmi5ACLcBGAs/s500/20171117_075742.jpg")
		img(src="https://2.bp.blogspot.com/-f8TjItY6l_I/Wip2QugYe8I/AAAAAAABhik/fQG62ZEWUB8mBWVj1HZkx7dv7kqHTG06ACLcBGAs/s500/20171117_075748.jpg")
		img(src="https://2.bp.blogspot.com/-NVWRLRvN4F4/Wip2SE5j4LI/AAAAAAABhis/kvJ2XyspZWUiwilC3YYVsoAQnXGkBHoMgCLcBGAs/s500/20171117_075750.jpg")
	.videoset(data="Q-2GlODXcZk,ECMhd9d-YMs,Bi-T-BlSJdk")

	.fleuron

	h3 18 November, Saturday - Lots of Milk
	.photoset(data-layout="24")
		img(src="https://1.bp.blogspot.com/-js786z3OOSw/Wip2SOlQMSI/AAAAAAABhiw/jNzAy-3rMOMa2IjJIIESgClqptsOobskwCLcBGAs/s800/20171118_075827.jpg")
		img(src="https://1.bp.blogspot.com/-o_3l9pR1FSw/Wip2SSfAU1I/AAAAAAABhi0/874U3M6e_0kp3pLhcTEWX_r1t7N_mkKQgCLcBGAs/s800/20171118_075837.jpg")

		img(src="https://2.bp.blogspot.com/-wR0Wl8IHrqw/Wip2TI5WuyI/AAAAAAABhi4/eTiQmw8PkkU1lCOvIBqPFKqbLB9yshQtQCLcBGAs/s500/20171118_100015.jpg")
		img(src="https://2.bp.blogspot.com/-9egDgYvIYUE/Wip2TYkB3GI/AAAAAAABhjA/rK_9cMv1cdkQ9pc-vyMA7HfvTYtpzcF4gCLcBGAs/s500/20171118_100022.jpg")
		img(src="https://4.bp.blogspot.com/-wypSziG6n1w/Wip2TUBIscI/AAAAAAABhi8/gP2_nQZe65c5-Ewy_IX0hSSM8HM_lbVTwCLcBGAs/s500/20171118_213858.jpg")
		img(src="https://4.bp.blogspot.com/-uygbht5bki4/Wip2UIELsiI/AAAAAAABhjE/SAQMHnnM3jAOJ_9v9g2n7NbnY6GEDna-gCLcBGAs/s500/20171118_213906.jpg")
	.videoset(data="w1lfWpcVg0g,AmvUQXHXukU,GsoZ74qGQ9g,5smtlsT2a9E")
	.fleuron

	h3 19 November, Sunday - Stay Home Sunday
	.photoset(data-layout="23")
		img(src="https://3.bp.blogspot.com/-qC9wtnPhTnk/Wip2VBJLY-I/AAAAAAABhjQ/9VEQnu9c1HYC7CoQNFZ5j-2V3eYw7uDHgCLcBGAs/s500/20171119_084835.jpg")
		img(src="https://3.bp.blogspot.com/-q0AkzJTH-68/Wip2U7LGXZI/AAAAAAABhjI/mXSg-_GQnz4J5qEbGf1VTUxR4MQEj4vUACLcBGAs/s500/20171119_084840.jpg")
		img(src="https://4.bp.blogspot.com/-134HvA1uLLE/Wip2VN4dDmI/AAAAAAABhjM/r7HxHHVsl7sQxUnoO6_qpvM_zneVWhT2gCLcBGAs/s500/20171119_100001.jpg")
		img(src="https://3.bp.blogspot.com/-5qdVhpf-2Wk/Wip2VxxVZQI/AAAAAAABhjU/Me2dUtGThgUgWduyUc7nPC_YvAUk8MnnACLcBGAs/s500/20171119_100010.jpg")
		img(src="https://1.bp.blogspot.com/-ia7En9xSA70/Wip2WQt-TXI/AAAAAAABhjc/NGEDQ0p0pYImAjJwY0sZ0HQzdZ-A0zAhACLcBGAs/s500/20171119_102651.jpg")

	.videoset(data="EFC5sL4eSWA,fGhcZ5LW7fQ,w5xjGJYK_io,b7taXbuI5CI")
	.videoset(data="Yvz8PN_5kiI,whb13eWmOO4,mJK-B4ZzB1Q,TE-sMQJupw0")
	.videoset(data="4X85erQEGI4,CPEU125Njww,98-sG0CrkfQ,Av-eSo3nIf8")
	.fleuron

	h3 24 November, Friday - Thor: Ragnarok
	.photoset(data-layout="23")
		img(src="https://3.bp.blogspot.com/-_9AlPIWU2kE/Wip2WHzB18I/AAAAAAABhjY/Dfd6QvrvxHAOX-lfkqb0fGUcA3chdkZTgCLcBGAs/s500/20171123_231233.jpg")
		img(src="https://1.bp.blogspot.com/-ReZ0uuGAl3E/Wip2XJB3MxI/AAAAAAABhjg/McIql2q36O4yBb99BOoIrbJwIbFT0k4bgCLcBGAs/s500/20171123_231246.jpg")
		img(src="https://1.bp.blogspot.com/-a-PPhRkYWhw/Wip2XcGsdWI/AAAAAAABhjk/1_5oBlgqkEsDwbb2fWPV0N5wJM1rhQgsQCLcBGAs/s500/20171124_135058.jpg")
		img(src="https://4.bp.blogspot.com/-WXpRAEitLRI/Wip2XnvGJ1I/AAAAAAABhjo/OGA4_h8UcKQ1Rs6c8qODmYoXEYjr6KZTgCLcBGAs/s500/20171124_135103.jpg")
		img(src="https://4.bp.blogspot.com/-jknEH4dN5Jg/Wip2YXjgRyI/AAAAAAABhjs/_jVvfvIgDFIcBXtu6Gr-eYI9b_w7tdc1ACLcBGAs/s500/20171124_135141.jpg")
	.videoset(data="1y4EJtGHCUo,WHbTPE3kQaA")

	.fleuron

	h3 25 November, Saturday - Unwrapping Canvas
	.photoset(data-layout="231")
		img(src="https://4.bp.blogspot.com/-6FiV0eCxwQE/WjaBG0u9-mI/AAAAAAABhoI/MxAQR6efwIgPEsWqMHRKhhpxInRIAqhSgCLcBGAs/s800/20171125_103857.jpg")
		img(src="https://4.bp.blogspot.com/-99Q1NkQB3q0/WjaBHPwVQJI/AAAAAAABhoQ/ZkmH8OXJF6oHaNl7ISm0FTbCwUB1h8HQACLcBGAs/s800/20171125_104019.jpg")
		img(src="https://4.bp.blogspot.com/-N4RqSJkY5r8/WjaBHLpgExI/AAAAAAABhoM/sMmW4ypA9-cBHt-RJ6YyjO1c45bWd3eeACLcBGAs/s500/20171125_104225.jpg")
		//img(src="https://3.bp.blogspot.com/-wPzQy4G48Ag/WjaBIF75EYI/AAAAAAABhoU/-K6fEjmfXiIFZt7I8JB7-78BGBqrGZQkwCLcBGAs/s500/20171125_104439.jpg")
		img(src="https://4.bp.blogspot.com/-jBnsYfx8NjQ/WjaBJd09QdI/AAAAAAABhok/rfKIuN6bSlYfMRRCuMK4KBOWTPBODsRJwCLcBGAs/s500/20171125_104923.jpg")
		img(src="https://4.bp.blogspot.com/-pJqT6p1HTJo/WjaBIuvO0pI/AAAAAAABhoc/_uEeYkE83BMVVdhLTzJUjWft8ZH4z4DPgCLcBGAs/s500/20171125_104753.jpg")
		img(src="https://3.bp.blogspot.com/-01hsb25PJvY/WjaBIVCNGiI/AAAAAAABhoY/Zua78vbbsXMS_CuV2yXSImFB9xFWL9AewCLcBGAs/s1600/20171125_104605.jpg")
		//img(src="https://4.bp.blogspot.com/-MyPrvQg3IWo/WjaBJXF-mzI/AAAAAAABhoo/vHJkND1qfo8AlR2kmp6bixxl-6idqBKdgCLcBGAs/s500/20171125_145001.jpg")
	.videoset(data="kr8C9hFsYrE,RhrEHyNLLno")

	.fleuron

	h3 26 November, Sunday - Here be Dragons
	.photoset(data-layout="23232323232")
		img(src="https://4.bp.blogspot.com/-hLuE0z8DdY8/WjaBJy812LI/AAAAAAABhos/0lBXtA9PTyk_XS_Hlpx07er-ESL3KKFIQCLcBGAs/s500/20171126_083929.jpg")
		img(src="https://4.bp.blogspot.com/-g5qhLYLn6A4/WjaBKvNmqnI/AAAAAAABho0/x216gxVKYQkwON16XXbIulTxDO-B2zuQACLcBGAs/s500/20171126_084013.jpg")
		img(src="https://1.bp.blogspot.com/-e3gLy0m8AA8/WjaBKjDnuSI/AAAAAAABho4/z6QoVg3kHlgKANP7_Og9-hwUSd-kT9_jwCLcBGAs/s500/20171126_084030.jpg")
		img(src="https://3.bp.blogspot.com/-yDugl8U4eTE/WjaBLOdyc8I/AAAAAAABho8/1t7rFf4Bo3MX-EKtMZOIR1RertdQ-_bIQCLcBGAs/s500/20171126_090834.jpg")
		img(src="https://1.bp.blogspot.com/-_DFJT7HMrGw/WjaBLgSpgDI/AAAAAAABhpE/MLTfAOPjI3EUvc9B5EbAZH3c2juY6DaswCLcBGAs/s500/20171126_090917.jpg")
		img(src="https://4.bp.blogspot.com/-PLif0BWpDHg/WjaBLvvwzWI/AAAAAAABhpA/D0XbgsE1BXANWS4-chre1Xk85LcB5DXKwCLcBGAs/s500/20171126_090919.jpg")
		img(src="https://3.bp.blogspot.com/-BZRsR5C6Yjo/WjaBMJC5qFI/AAAAAAABhpI/mFS-Z-15dhANOZQzSmnaAMx4tYqEbnSsACLcBGAs/s500/20171126_091918.jpg")
		img(src="https://4.bp.blogspot.com/-TWi2CgW436E/WjaBNPS9VDI/AAAAAAABhpQ/r-oFXTQo8vk50ddxIfCah0G8HFAe1kTOACLcBGAs/s500/20171126_091935.jpg")
		img(src="https://3.bp.blogspot.com/-usm3yOGfJJM/WjaBNLXlSFI/AAAAAAABhpU/YNqalxTy_b4tXYVgaSGamBQq8bg_hwcngCLcBGAs/s500/20171126_092004.jpg")
		img(src="https://4.bp.blogspot.com/-vbaE6NVIf-I/WjaBNLIacoI/AAAAAAABhpY/F-CM5CyqGHUAOC9ZhC5Dasw2q6CMpPLSQCLcBGAs/s500/20171126_092047.jpg")
		img(src="https://4.bp.blogspot.com/-kgtWmJVpixc/WjaBOD_4WnI/AAAAAAABhpg/B4c7ptKukGgzZC492LCxpLWNvj81wZiegCLcBGAs/s500/20171126_092053.jpg")
		img(src="https://4.bp.blogspot.com/-VRiYa8NmiCs/WjaBOQlqnpI/AAAAAAABhpk/r8NnJFJfy64FuRNGOCBV7YILH1KGfD-4ACLcBGAs/s500/20171126_125221.jpg")
		img(src="https://1.bp.blogspot.com/-t8K9mQJpcas/WjaBORd6cGI/AAAAAAABhpo/z-A3tKOlh-MWfEKgVEkaTe0bQUlGaHSUwCLcBGAs/s500/20171126_170513.jpg")
		img(src="https://4.bp.blogspot.com/-8RoJgkDYaKE/WjaBPfbNoLI/AAAAAAABhps/0m6WEMV9_d8sZlvgtpupu6P0t0u6gMjBACLcBGAs/s500/20171126_170516.jpg")
		img(src="https://3.bp.blogspot.com/-fp-8zsAfb8o/WjaBPcD6x8I/AAAAAAABhpw/vzqS6-HtWOIRNa6qoNw3C7c4srPK9cOBgCLcBGAs/s500/20171126_192310.jpg")
		img(src="https://4.bp.blogspot.com/-v0OA5HmRoqc/WjaBPj1aHoI/AAAAAAABhp0/u7E2PrYbvNEvuE1FauaFdD5kwpMI3YF6ACLcBGAs/s500/20171126_194932.jpg")
	
	.videoset(data="DA5kvTdb-qg,9_9DV4ap2y4,b1HYJvD_Les,cS6EtQlSPks")
	.videoset(data="9RNrmVkU-Z4,x_YYpZ5rJ64,NfjyRPvBBC0,7ZUjkkqJtyo,7V4pAPTSSi0")
	.videoset(data="tUR9WCrIzgk,ThQbBqOpBQ4,xLJ1uWZkJnk")
	.videoset(data="OBcasCIB-io")
	.fleuron


	//.videoset(data="")
