---
layout: exposure
cover: https://4.bp.blogspot.com/-IrxKXsw6Br4/V0Y5vg1zCoI/AAAAAAABVpY/Hw6xP7cQALMp2i_m-BZUZCTQH4lYPFlAgCLcB/s1600/P1060748.jpg
title: Elvin & Ellis
excerpt: Merry Adventures
permalink: /index
---
header
	#cover(style="background-image:url(https://4.bp.blogspot.com/-IrxKXsw6Br4/V0Y5vg1zCoI/AAAAAAABVpY/Hw6xP7cQALMp2i_m-BZUZCTQH4lYPFlAgCLcB/s1600/P1060748.jpg)")
		#title
			h1 Elvin 
				span(style="font: italic normal 4vw Lora;") & 
				span Ellis
		#narrated
			.date Est. 2013
.panel
	//h2 Romance
	.haiku
		| Love's only weakness
		| Is also it's greatest strength:
		| It defies reason
{% for c in site.romance %}
	.square
		.bg(style="background-image:url({{ c.cover | replace: "s1600", "s500" }})")
			a(href="{{ c.permalink }}")
				.description
					h4 {{ c.title }}
					h5 {{ c.excerpt }}
					.date {{ c.date | date: "%B %Y" }}
{% endfor %}
.clear(style="margin-bottom: 40px;")

.panel
	//h2 Travel
	.story(style="text-align: center; font-style: normal") &#8251;
	.haiku 
		| Here, under the stars
		| and there too, under the clouds,
		| everywhere with you.
{% assign items = site.travel | sort: 'date' %}
{% for c in items reversed %}
	.square
		.bg(style="background-image:url({{ c.cover | replace: "s1600", "s800" }})")
			a(href="{{ c.permalink }}")
				.description
					h4 {{ c.title }}
					h5 {{ c.excerpt }}
					.date {{ c.date | date: "%B %Y" }}
{% endfor %}
.clear

