---
layout: exposure
title: Elvin & Ellis
permalink: /index
---
header
	#cover(style="background-image:url(https://4.bp.blogspot.com/-IrxKXsw6Br4/V0Y5vg1zCoI/AAAAAAABVpY/Hw6xP7cQALMp2i_m-BZUZCTQH4lYPFlAgCLcB/s1600/P1060748.jpg)")
		.content
			h1 Elvin &amp; Ellis
			h2 Merry Adventures
			.date Est. 2013

mixin square(link, title, description, date)
	.square
		.bg&attributes(attributes)
			a(href=link)
				.description
					h4 #{title}
					h5 #{description}
					.date #{date}	
.panel
	h2 Romance
	.story A feeling of excitement and mystery associated with love.
	+square("wedding","Our Wedding","We got married","June 2015")(style="background-image:url(http://4.bp.blogspot.com/-pUQO47Q3ymk/Veb7cWuxQ-I/AAAAAAABEA8/l8gylBtUPj8/s400/0053.jpg)")
.clear
.panel
	h2 Travel
	.story Pack your bags and go on a journey of fun.
	//+square( "penang", "Penang", "Hot Summer", "May 2016")(style="background-image:url(https://4.bp.blogspot.com/-IrxKXsw6Br4/V0Y5vg1zCoI/AAAAAAABVpY/Hw6xP7cQALMp2i_m-BZUZCTQH4lYPFlAgCLcB/s400/P1060748.jpg)")
	+square("nellim","Winter in Nellim","Snow and Auroras","Jan 2016")(style="background-image:url(https://4.bp.blogspot.com/-SQgWkCpuEqE/V0WdYyUhNpI/AAAAAAABVmI/zvBWH07IhegNgDKn56ynTiD-tckor0HWACLcB/s400/)")
	//+square("","","","")(style="background-image:url()")
.clear
