---
layout: exposure
cover:
- https://4.bp.blogspot.com/-jEcZU7P-8xk/V5_fE64IbEI/AAAAAAABX9o/xwnrokcwWpk6m8vnBD77cr_TN6dKKggAACLcB/s1600/IMG_20140704_093731.jpg
- https://2.bp.blogspot.com/-9OCeYMVdQRk/V2T6mKaaNZI/AAAAAAABWdU/hPk6UKyCKVI5ON4a0g9EBy6HtvcewxGFACLcB/s1600/IMG_0755-2674880731-O.jpg
- https://4.bp.blogspot.com/-EE4uehNOMMs/V2T0nbBlGzI/AAAAAAABWOg/MlvCoiq84MwkR0e6XVLy3F4GknVuf2P0gCLcB/s1600/IMG_0252-2674936223-O.jpg
- https://3.bp.blogspot.com/-GMQf91VEpuc/V2T5Fh7FMeI/AAAAAAABWaE/6RYjOWzyYB4j5MXh6tQ771jJZHdZnQ7VQCLcB/s1600/IMG_1037-2674909132-O.jpg
- https://2.bp.blogspot.com/-mwA0DcjTA74/V2T6jI3JEQI/AAAAAAABWc4/2CJlxXPySi4pseaHTomlGrpLMqGQiGSHwCLcB/s1600/IMG_0714-2674860359-O.jpg
- https://4.bp.blogspot.com/-IrxKXsw6Br4/V0Y5vg1zCoI/AAAAAAABVpY/Hw6xP7cQALMp2i_m-BZUZCTQH4lYPFlAgCLcB/s1600/P1060748.jpg
- https://1.bp.blogspot.com/-rcGWWZGrl_A/V1DHkRpky3I/AAAAAAABVzI/g_ZJonGZF5U7i4gg4-FBW1hOGSahsJ8nACLcB/s1600/P1300497.jpg
- https://2.bp.blogspot.com/-Ao1CLTlgvQw/V0kNeFKpAKI/AAAAAAABVss/XuTRQghIvbYWB05wO_pPzvoQE5JZ8dmTACLcB/s1600/P2030187.jpg
- https://2.bp.blogspot.com/-CZJnv-t3c4E/V2CM_BZ2Q1I/AAAAAAABWJI/xp64rah0wnsTVijHzdP0iWqhp9qBzsIkQCLcB/s1600/IMG_1348.jpg
- http://4.bp.blogspot.com/-TQayKh9oG9k/Vd-YOXaYGYI/AAAAAAABDhU/1PjP8iEkOsw/s1600/540.jpg
- https://3.bp.blogspot.com/-cL60H8Arxag/WEyo7JTrvWI/AAAAAAABcZk/zuaXLfjhxt4bzy4U0g6ALMzwnamxW-QsQCLcB/s1600/P1070319.jpg
title: Elvin & Ellis
excerpt: Merry Adventures
permalink: /index
---
header
	ul#coverList(data="{{ page.cover | join: ',' }}")
	#overlay
		h1 Elvin
			span(style="font: italic normal 4vw Lora; padding: 0 8px 0 10px;") & 
			span Ellis
		.byline Established 2013
.group(style="margin-bottom: 3%")
	.story #[img(src="https://2.bp.blogspot.com/--S1vDGU0kmo/V_DOpx_ZckI/AAAAAAABaFk/X5rn-FV5W8gtXQVhRrojHmA6fvO_IhxLwCLcB/s100/O-7.jpg" align="left" alt="O")]nce upon a time, there was a boy, Elvin, and a girl, Ellis. Amongst the myriad possibilities of what life should have been, their story became inextricably interwined when they met. Thus began a steady rhythm of courtships and explorations. She fell in love with his vast inner world and took up a special place in it. He was captivated by her beauty and wants to spend his whole life with her. Although fleeting in comparison to the age of Time, their moments together are truly special to them only. They went on merry adventures and collected the world in their thumping hearts. He was king and she was queen...
	
.panel
{% assign items = site.travel | sort: 'date' %}
{% for c in items reversed %}
	.square
		.bg(style="background-image:url({{ c.cover | replace: "s1600", "s600" }})")
			a(href="{{ c.permalink }}")
				.description
					h4 {{ c.title }}
					h5 {{ c.excerpt }}
					.date {{ c.date | date: "%B %Y" }}
{% endfor %}
	.clear
	.haiku 
		| Here, under the stars
		| and there too, under the clouds,
		| everywhere with you.

.fleuron
//.group
	.story Not long after, Elvin proposed to Ellis.
.panel
{% for c in site.romance %}
	.square
		.bg(style="background-image:url({{ c.cover | replace: "s1600", "s600" }})")
			a(href="{{ c.permalink }}")
				.description
					h4 {{ c.title }}
					h5 {{ c.excerpt }}
					.date {{ c.date | date: "%B %Y" }}
{% endfor %}
	.clear
	.haiku
		| Love's only weakness
		| Is also it's greatest strength:
		| It defies reason

.fleuron

.group
	.story 
.panel
{% assign items = site.family | sort: 'date' %}
{% for c in items reversed %}
	.square
		.bg(style="background-image:url({{ c.cover | replace: "s1600", "s600" }})")
			a(href="{{ c.permalink }}")
				.description
					h4 {{ c.title }}
					h5 {{ c.excerpt }}
					.date {{ c.date | date: "%B %Y" }}
{% endfor %}
	.clear
	.haiku
		| Let's get rich and build a house on a mountain making everybody look like ants
		| From way up there,
		| you and I, 
		| you and I
.fleuron

.group
	.story 
.panel
{% assign items = site.timeline | sort: 'date' %}
{% for c in items reversed %}
	.square
		.bg(style="background-image:url({{ c.cover | replace: "s1600", "s600" }})")
			a(href="{{ c.permalink }}")
				.description
					h4 {{ c.title }}
					h5 {{ c.excerpt }}
					.date {{ c.date | date: "%B %Y" }}
{% endfor %}
	.clear
	.haiku 
		| To see the world, things dangerous to come to, 
		| to see behind walls, draw closer, 
		| to find each other, and to feel. <br>
		| That is the purpose of life. 

.fleuron


