---
layout: exposure
title: Winter in Nellim
permalink: /nellim
---
header
	#cover(style="background-image:url(https://3.bp.blogspot.com/-g5ByWmjflFI/V0WdbO02AhI/AAAAAAABVmk/6-Cx85a54dEQe2pnxUcYr_6ZHv-_VmARwCLcB/s1600/P1050433.jpg)")
		.content
			h1 Winter in Nellim
			h2 In the remote north of Ivalo, Finland, we spent our honeymoon in snow and catching auroras.
			.date January 2016
.group
	h2 Ivalo, Nellim
	.story Touching down at the airport of Ivalo, we were picked up by the hotel driver along with another couple. The van embarked on the hour-long journey to Nellim. It was an endless road flanked by trees and covered in snow. The other cars were few and far apart in between on the drive. Under the snow blanket, there were no distinct landmarks to differentiate one area from the next. The arrival at the hotel was marked by the gentle deceleration and a large wooden board that read "EraHotelli Nellim". That translates to Wilderness Hotel.
	.photoset(data-layout="14")
		img(src="https://4.bp.blogspot.com/-nBAqZm7t2uE/V0HASnRx5PI/AAAAAAABVjQ/4het6UojwBwkculPPrlBymZlqWwqoSR8gCKgB/s1600/P1040903.jpg")
		img(src="https://4.bp.blogspot.com/-dCT6XJfLl-k/V0HARQ2I3XI/AAAAAAABVjQ/1zZME3iuGtYuTlY_m1wP4yN_MrjYG1v5gCKgB/s400/P1040885.jpg")
		img(src="https://4.bp.blogspot.com/-vje0Ku49R8w/V0HART2mQ3I/AAAAAAABVjQ/lm58yOaX0DIIc0OhdXbOJU9sj6TGeAi9ACKgB/s400/P1040897.jpg")
		img(src="https://3.bp.blogspot.com/-lTbcj0pridA/V0HARZAJVtI/AAAAAAABVjQ/Zsu1MZdvqdM_ldXh-kEiz7Uwv-7RofTxwCKgB/s400/P1040901.jpg")
		img(src="https://2.bp.blogspot.com/-whH4ZHWKdps/V0HATIaTZFI/AAAAAAABVjM/KKXlyoAuICIChygD6Kj93PSLqPeLnSt0gCKgB/s400/P1040904.jpg")
	.story Our accomodation for the first two night was in the log cabin. The entire cabin was made from the trunks of the trees that grew here. There is a natural touch to it as you run your hands across the rough bark of the trees and breathe in the smell of amber. The cabin is two storeys and has a loft. 

.group
	h2 And then it snowed 
	.story 
	.photoset(data-layout="21")
		img(src="https://4.bp.blogspot.com/-HviYKNQh59k/V0jjnofcS0I/AAAAAAABVro/Hoa97gx3-8Yj47uanc8VDtnjRX3L94YRgCLcB/s400/P1050213.jpg")
		img(src="https://2.bp.blogspot.com/-91_p73rc_u8/V0jjpOtHJwI/AAAAAAABVr0/0HKDb-XBIp4dJCxMGF1_b1z0u0r3yf1ewCLcB/s400/P1050228.jpg")
		img(src="https://3.bp.blogspot.com/-BWgVJ7csds8/V0jjnkM5OZI/AAAAAAABVrs/D-qHN2y4RWg6hY-N3Xj3tBNDXy00GMuXgCLcB/s1600/P1050225.jpg")

.group
	h2 Husky ride across lake inari
	.story The next morning, Ellis and I took a husky ride across Lake Inari. The lake is frozen solid in the thick of the winter. The huskies were eager for the morning run and were tugging hard on the sled. With six huskies to a sled each, we rode in single file. Slowing the huskies down was done by stepping on a primitive metal saw that digs into the ground. Earlier, a snowmobile has dragged a sled laden with weight across the lake. This compacts the snow while created a track. The huskies were fast and the cold morning air swept past our faces. Occasionally, a husky will swipe its mouth across the snow at the side to quench its thirst all the while running.
	.photoset(data-layout="31")
		img(src="https://1.bp.blogspot.com/-4u_8s0VP4vY/V0G_JrT_wTI/AAAAAAABVik/brRWwm27Kvo11EdLaUI6o4fUfTfyOKu9wCLcB/s400/P1040919.jpg")
		img(src="https://1.bp.blogspot.com/-GbFqdk2efws/V0G_JZ2p4II/AAAAAAABVio/M0O55XVLpSwsOBhD9rXdxtaOD6oyi1s2wCLcB/s400/P1040931.jpg")
		img(src="https://1.bp.blogspot.com/-fOMtb9_6IzI/V0G_KSQI2LI/AAAAAAABVis/OuzO48c6XOs04WZ24qwnqFoAn7pMtDNCwCLcB/s400/P1040953.jpg")
		img(src="https://1.bp.blogspot.com/-3yU7tEZtluY/V0muiHH3jwI/AAAAAAABVug/L2ulclatyYgzHORTsVFBhrFTZdjAkW6bACLcB/s1600/P1050040.jpg")

.group
	h2 Husky Dog Farm 
	.story 
	.photoset(data-layout="122")
		img(src="https://1.bp.blogspot.com/-H-6-fdwDzuc/V0HCoRioQGI/AAAAAAABVj0/mVPI4OD1deMcLSB0vcockU7q7oAWjWAigCLcB/s1600/P2010690.jpg")
		img(src="https://4.bp.blogspot.com/-EEckcPNJWdA/V0HCj4kpfUI/AAAAAAABVjg/59yZ2SrOOnwolFUNpcnffXPW9b0pOqILACLcB/s600/P1050091.jpg")
		img(src="https://3.bp.blogspot.com/-XbRtFtVc12Y/V0L4STfKeZI/AAAAAAABVk4/80NEsn6O70I_wVkyot5GM3RcL-lbqIpIQCLcB/s600/P2010631.jpg")
		img(src="https://2.bp.blogspot.com/-da4OgIbXh1M/V0HCoU5TuDI/AAAAAAABVj4/3WSYTt4QeuYTFX0o1B0D90Fpimg75eE8gCLcB/s600/P2010695.jpg")
		img(src="https://2.bp.blogspot.com/-WzTvHdQXZPc/V0HCm69bKkI/AAAAAAABVjw/ec4F_-vsbpkhdeNX4Nlh_keUycf6MrqGwCLcB/s600/P2010686.jpg")

.group
	h2 Starry Sky 
	.story The sky was pitch black at 6.30pm when we stepped out of the cabin for dinner. We looked up into the sky and scrambled back to get the cameras. With a clear night sky like this, dinner can wait. There was zero light pollution out here in the wild. Long exposure of 15 to 20 seconds gave shots after shots of the stars and their brillance. There were some traces of auroras and milky way in them.
	.photoset(data-layout="131")
		img(src="https://1.bp.blogspot.com/-7DRr-fV1uBo/V0W7lswtMuI/AAAAAAABVoI/mwgxlbmk_eAHUO9MHLG197HlqgWvaYZjACLcB/s1600/P1050148.jpg")
		img(src="https://3.bp.blogspot.com/-94vh7DA_Vus/V0W7ptKjceI/AAAAAAABVog/d744ubd3PZc1e9a8IhdED3SATar40ITyACLcB/s400/P2010797.jpg")
		img(src="https://1.bp.blogspot.com/-W95DGhK3e_8/V0W7rvuXf5I/AAAAAAABVow/UzK6qhMEgQUEVuh4sZ5s6ROqHJD2QcpvACLcB/s400/P2020835.jpg" width="10")
		img(src="https://4.bp.blogspot.com/-kl71wz9PD4w/V0W7rOwSrHI/AAAAAAABVos/np7HOjMg6pUWUbv0ht-2G5P2A8nOp4wcACLcB/s400/P2010813.jpg")
		img(src="https://3.bp.blogspot.com/-J7cCK5MGE5U/V0W7l5upKBI/AAAAAAABVoM/o_V0hbS_1gwvylZSVXoQVbz5whQPYi9ggCLcB/s1600/P1050171-Pano.jpg")

.group
	h2 Gentle Snowshoeing 
	.story Walking through the snow.
	.photoset(data-layout="231")
		img(src="https://3.bp.blogspot.com/-CbJcQUy10SY/V0WiE13bZiI/AAAAAAABVm0/52p30C4zlQIOrq8jLWwpB7NZophEe6eQgCLcB/s400/P1050302.jpg")
		img(src="https://3.bp.blogspot.com/-RCtEM65CAQg/V0WiEq-PiEI/AAAAAAABVmw/KWiWHTSqohEAix3vIY7eShQI_diwXo9uwCLcB/s400/P1050316.jpg")
		img(src="https://1.bp.blogspot.com/-wBAovJiBzlk/V0WdaWdDmyI/AAAAAAABVmY/dSj-_P7P2dU5gVgbL2d3DQHsK2KFHNu9ACLcB/s400/P1050286.jpg")
		img(src="https://1.bp.blogspot.com/-nsSKWbfuGgA/V0WdaTff5fI/AAAAAAABVmc/S4Kc3je0KlgXrA0bju4scx6vCGScBmEoQCLcB/s400/P1050291.jpg")
		img(src="https://1.bp.blogspot.com/-t0WT4IFLCW0/V0WdYysjC4I/AAAAAAABVmM/tNbJxRNedCImacnO5a6y_ZeL5qU2KXR8gCLcB/s400/P1050271.jpg")
		img(src="https://4.bp.blogspot.com/-SQgWkCpuEqE/V0WdYyUhNpI/AAAAAAABVmI/zvBWH07IhegNgDKn56ynTiD-tckor0HWACLcB/s1600/P1050261.jpg")
.group
	.story It was really tiring.
.photoset.wide(data-layout="1")
	img(src="https://2.bp.blogspot.com/-6ZCQ9U4e3zM/V0Wda1qOLlI/AAAAAAABVmg/5wCzdx5hGAYGvlVSTzaUuBaOs8Rj9TvcgCLcB/s1600/P1050312-Pano.jpg")

.group
	h2 Church down the road
	.story 
	.photoset(data-layout="21")
		img(src="https://3.bp.blogspot.com/-P7OSVbvpcSk/V0lAdaY1L6I/AAAAAAABVt0/vbUxSXt9uX8QOBFJBaLvFAm5mFIpo3KxgCLcB/s400/P2010753.jpg")
		img(src="https://4.bp.blogspot.com/-MUWsXFJ1IEI/V0lBd3TCZaI/AAAAAAABVuI/6vqEQ9E7snk6mxbcx999dZaxHphqpxJvwCLcB/s400/P2030085.jpg")
		img(src="https://3.bp.blogspot.com/-0hFaj0OEGww/V0jjpdSj1_I/AAAAAAABVr4/nQv7KBL6Ej41A4v1QKOCHAlknVkl5corwCLcB/s1600/P1050412.jpg")

.group
	h2 Green Boat and Red House
	.story 
	.photoset(data-layout="11")
		img(src="https://3.bp.blogspot.com/-g5ByWmjflFI/V0WdbO02AhI/AAAAAAABVmk/6-Cx85a54dEQe2pnxUcYr_6ZHv-_VmARwCLcB/s1600/P1050433.jpg")
		img(src="https://1.bp.blogspot.com/-11VOz3bNYlk/V0WiL9BkgWI/AAAAAAABVnY/Sl5wxf4KTikG9ZZLc8HeCnDXbsabZI1TgCLcB/s1600/P2030119-Pano.jpg")

.group
	h2 Girl in Floral Dress
	.story Ellis had this idea of a girl standing in the snow where her dress will stand out of the white snow. She slipped into a floral dress that she had brought only for this moment. I took many shots and liked this one best. There is some melancholy when you look at the back of a girl standing alone in the forest. Seemingly out of place, you wonder what led her to this place.
.photoset.wide(data-layout="1")
	img(src="https://4.bp.blogspot.com/-SwLzu1YRxqw/V0WiLfW5AjI/AAAAAAABVnU/5CIOK_hNl-kcAAZVXEDZBYKe1uP5n4G4QCLcB/s1600/P2030195.jpg")

.group
	h2 Paatsjoki River
	.story Standing on the bridge
	.photoset(data-layout="1")
		img(src="https://3.bp.blogspot.com/-ng0l0LSL-U8/V0WyiuK588I/AAAAAAABVns/Qa6WKrAZnzcu4DAftLjWQSgkY1_7KWlTQCLcB/s1600/P2020023.jpg")
	.story Looking over
	.photoset(data-layout="1")
		img(src="https://3.bp.blogspot.com/-zunIcCaeOO0/V0WyiqPyfbI/AAAAAAABVnw/_4O0aCDNAtYQbSRCZtNK_Uj-NP1DxJDtACLcB/s1600/P2020032.jpg")

.group
	h2 Aurora Borealis 
	.story 
	.photoset(data-layout="1211")
		img(src="https://2.bp.blogspot.com/-fbRqgFgeS2g/V0jeeFZZclI/AAAAAAABVq4/iOYTp2E8ASECuGyuFrMLThiK7AmVnYRigCLcB/s1600/P2030038.jpg")
		img(src="https://2.bp.blogspot.com/-kLbunruzliw/V0jeiywYBEI/AAAAAAABVrY/4zCL-aXmUR4uk80Ek5a4QVaK5iNiQgregCLcB/s400/P2030051-Pano.jpg")
		img(src="https://4.bp.blogspot.com/-TmcFojnYALI/V0jefGY0PRI/AAAAAAABVrA/-wzwhUfMqIMfUY6-THnIEoMTZpGbNH0mgCLcB/s400/P2030041-Pano.jpg")
		img(src="https://1.bp.blogspot.com/-80iJCcgTQFk/V0jec7-Y4dI/AAAAAAABVqs/4vKq2ZWfp7IGoGCTz-WxsPj3_V0bWaOKgCLcB/s400/P1050374.jpg")
		img(src="https://4.bp.blogspot.com/-sH9ZwSGKAdA/V0W7noDiQSI/AAAAAAABVoY/g7F8MTwStlMlFDrFfOerbf2_0bPLFospgCLcB/s1600/P1050192-Pano.jpg")
.group
	h2 Parting Notes 
	.story This was the last day of our trip - from Ivalo Airport, we were flying to Helsinki before heading back to Singapore. The sun remained low in the sky casting long shadow of airplanes parked idyllic on the snowy air field. Our flight was on the Norwegian Air. As our plane ascended to the sky, we caught one last view of the winter mist wafting through the undulating coniferous canopy and expanding endlessly into the horizon.
	.photoset(data-layout="131")
		img(src="https://4.bp.blogspot.com/-XgRmf0U8f0k/V0kGzuxLOFI/AAAAAAABVsU/EWuoF56DeZQpfdvKeVAoTSPjPNMPB3ZlACLcB/s1600/P1050475.jpg")
		img(src="https://2.bp.blogspot.com/-XdfND3D68aw/V0kGzK2EfqI/AAAAAAABVsI/aMAxjRKTqN8n3ug6oSBrNvmYkFvxihgVwCLcB/s1600/P1050470.jpg")
		img(src="https://2.bp.blogspot.com/-j-zLiOaX8jQ/V0kGzLhc8sI/AAAAAAABVsQ/xWRkd_E5FBsMxU2-viwlhLqG4Y_NqWLDQCLcB/s1600/P1050473.jpg")
		img(src="https://4.bp.blogspot.com/-3122_G7-BaA/V0kGzNW9OMI/AAAAAAABVsM/EFRQ3taGVrcZU60QgQAXJVSExL0G-du0wCLcB/s1600/P1040854.jpg")
		img(src="https://2.bp.blogspot.com/-KRYEcAfYv84/V0kGz9pyQDI/AAAAAAABVsY/ErbCqERQ4A8UKPFw3H5hIx6QzYNtggMQgCLcB/s1600/P1050485.jpg")
.group
	h2 Out-takes 
	.story These are behind-the-scene shots that explains how some of the photos are taken. We had to prepare our gears carefully for this 10-day trip. Firstly, it was the cold. At minus 10 degrees celsius, you need the correct layers of clothes. Secondly, we wanted to take photos of the stars and auroras. To do this, we brought two wide-angle and large aperture lens (12mm f/2 and 14mm f/2.5) along with two tripods. I wasn't sure if the cameras (Olympus E-M5 and Panasonic GF7) could withstand the extreme cold and moisture but they turned out fine. There was also a Dell tablet loaded with lightroom to review the photos. Both haversacks weighed 10 kg each.
	.photoset(data-layout="1")
		img(src="https://4.bp.blogspot.com/-LNItXtOqnBk/V0kNd2Ymk0I/AAAAAAABVso/Ec2PAzsAzD8bj68rwJ4eyuu7cRBwnHQfACLcB/s1000/IMG_1593.jpg")
	.story Ellis planned for this shot and brought her floral dress. She shared the idea she had in mind and I helped with the execution. We looked around for a good scenery and set up the camera. The action began when she took off her jacket and we worked quickly to get the pose and angle. She said the feeling was indescribable as the cold invades her immediately. This shot was taken by the remote trigger in my hand when I brought the jacket back to her.
	.photoset(data-layout="1")
		img(src="https://2.bp.blogspot.com/-Ao1CLTlgvQw/V0kNeFKpAKI/AAAAAAABVss/XuTRQghIvbYWB05wO_pPzvoQE5JZ8dmTACLcB/s1000/P2030187.jpg")
	.story To get fantastic shots of buildings at Esplande, Helsinki with nobody around, you get up earlier than everyone else (6 am), sneak out of the hotel, camera on tripod and you are gold. We then trekked off to the coast and captured surreal shots of islands against the sunrise.
	.photoset(data-layout="1")
		img(src="https://2.bp.blogspot.com/-TOg-cCtyjjs/V0k3kTPLGDI/AAAAAAABVtE/n-fdCCni6UsHwYy3-t2oQ_7wkbsR6_qKwCLcB/s1000/P1040530.jpg")
	.story Porvoo was treacherous to get around. It was smaller town and some paths are not de-iced often enough. We wanted to get down to river side but the path was frozen. When a patch of snow has been stepped on, that patch compacts into ice and becomes very slippery. On this path, you can feel yourself sliding off as when the ground has a slight gradient. Normal shoe simply has no grip. I watched as Ellis slid away from me screaming "Dear dear dear save me!" I burst out laughing at the scene. We eventually found another way down. And yes, I did save my wife.
	.photoset(data-layout="2")
		img(src="https://4.bp.blogspot.com/-8kb9uR-eHl4/V0k-hQuNNpI/AAAAAAABVtg/9BgBG0nzzdYU9udUvVB-ffdIsyxzbCfmgCLcB/s400/P1290299.jpg")
		img(src="https://3.bp.blogspot.com/-px1Mo1942_k/V0k8fi7dd3I/AAAAAAABVtU/zGvAfSJd_kkPjBMHQUWAKVmQcmSiaQ6SACLcB/s400/P1040423.jpg")
.group
	h2 
	.story 
	.photoset(data-layout="1")
		img(src="")
