---
layout: exposure
label: travel
cover: https://1.bp.blogspot.com/ZjiNyXTliYMvYjLQvur5V_NyL4U-C1n_eUUtysbmEi2VsBQgnWI49ey7GIPLmcMCo8nJrA=s1600
title: Bali
excerpt: Beach getaway
author: Elvin
date: 2015-9-28
permalink: /bali
---
header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 Hard Rock Hotel
	.story 
	.photoset(data-layout="3213232323232")
		img(src="https://3.bp.blogspot.com/9-B_DG3Kv0NcNvsPRAbkkhz-PZBzB5CWTm1vjgi8rMpBsWE6IwOcSCqzm3fTCW6vaABWYg=s800")
		img(src="https://3.bp.blogspot.com/u7YroRNDjVhM-OBMqNT0VMIRHXINg7FdDYnvDoWwEGKrcNTNXkKgTRyTSFqKr_Xcq0bT_g=s800")
		img(src="https://1.bp.blogspot.com/-0EdewJ-dIpDh_tJz-4InB9FrSiA33Y1ilyudmThe6ga_rudj0CnlLI8SACL1v0XGm6eTQ=s800")
		img(src="https://3.bp.blogspot.com/9YjCfdD8cr9KJqtaPA_E70ruBP9VbcyawAmHXirXewDCMx-wvPQ6i2fyUHicfOd-Hwj8Gg=s800")
		img(src="https://1.bp.blogspot.com/bG8zNFsW4NCEZco9_Q860Zk0EhEZ07A22icGBffkWUwvgapAjIfWSUHC4gc-FF6rPaM6kw=s800")
		img(src="https://3.bp.blogspot.com/yjpUJiFsr3VxHccgLfaBYfsrPRjwQEkVdptwtmS7x3nhQmHEbC-ONGOTin0RKeEP6sXPoQ=s800")
		img(src="https://4.bp.blogspot.com/U3HFRUMaCEYRGhRYV46YmCQAFb9ebDgC8ox-zmgp-dmcusElO4PGygUkIlptaR7EoSCfGg=s800")
		img(src="https://3.bp.blogspot.com/U4zKWb93ERVZm6Gi_-KKg7w-l8_7I8x15qPgoH8ddWkcFV_JQ86FmePDlavTHwVF7ArZ_Q=s800")
		img(src="")
		img(src="")
		img(src="")
		img(src="")
		img(src="")
