---
layout: exposure
label: travel
cover: https://4.bp.blogspot.com/-PVmYAaGwTwU/V07jIP7Ug-I/AAAAAAABVwg/r1LOxAwziYUy5wgQQRFIj6LVHawXoUNpACLcB/s1600/P1300565.jpg
title: Finland Honeymoon
excerpt: Helsinki Capital
author: Ellis
date: 2016-01-27
permalink: /finland
---
//https://4.bp.blogspot.com/-qy1cOI66jvA/V1DHko5Ix5I/AAAAAAABVzM/0Mv_8HlYQLEep4yQ2vk-MIrBxsw0QvyWwCLcB/s1600/P1300496.jpg
header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 Aleksanterinkatu
	.story A metropolitan city filled with Art Nouveau, Neo-classicism, and Functionalism  architectures truly reflects its long history. It is no wonder that Helsinki hails for its design and high technology! Look at that pretty street on a random day! We got up early before the sun rose. The color of the sky and the lit buildings exude such romance. I could fall in love anytime!
	.photoset(data-layout="121")
		img(src="https://1.bp.blogspot.com/-7AHsDkC3UUU/V078AFiOOkI/AAAAAAABVw4/LCGC0OD0pFQeDhL_D0tuCyZbUj-k3X60QCLcB/s1600/P1300432.jpg")
		img(src="https://3.bp.blogspot.com/-UYMEoT74uPE/V078ALU6a6I/AAAAAAABVw0/gB3rvRW06noFYlCqv1mLa5wyYUvP6WwngCLcB/s800/P1300447.jpg")
		img(src="https://4.bp.blogspot.com/-OvGklIKh9cc/V07WFROhOtI/AAAAAAABVv0/N60tPw61DL4QEBx5TlTAmCuofyBKPySUQCLcB/s800/P1300461.jpg")
		img(src="https://2.bp.blogspot.com/-mJ2CCYhQkPI/V07jHqxBbyI/AAAAAAABVwc/Z4KjFnzseZALRg9ILzyiUTmp1XMjerPfwCLcB/s1600/P1300455.jpg")
	.photoset(data-layout="13")
		img(src="https://2.bp.blogspot.com/-dv8BKTEjZfw/V1IpuTJHm_I/AAAAAAABVz0/qv4FNULftOYPAX1U3rJ56tf9wkYHCY_nQCLcB/s1600/P1290217.jpg")
		img(src="https://4.bp.blogspot.com/-aBsLOqnQ8CM/V07jHu2CX1I/AAAAAAABVwY/S1tWRgi3dNUBPoGa6bFRva94r-Kxtu8rQCLcB/s500/P1300551-HDR.jpg")
		img(src="https://3.bp.blogspot.com/-gNP7jLlkdC4/V07WG7FtSWI/AAAAAAABVwE/3a9N5UddKL45_1O8uufxqkLw2y2aC5VygCLcB/s500/P1300573.jpg")
		img(src="https://4.bp.blogspot.com/-PVmYAaGwTwU/V07jIP7Ug-I/AAAAAAABVwg/r1LOxAwziYUy5wgQQRFIj6LVHawXoUNpACLcB/s500/P1300565.jpg")
	.story Glo Hotel Kluuvi was our accommodation for the next 4 nights, a 10min walk  from Helsinki Railway Station. It is located at the heart of the shopping paradise and many places of interests. Furthermore, it is a short walk to Esplanadi Park, Kauppatori Ferry Terminal, and The Old Market Hall. Excellent location for tourists! Not forgetting that the spacious and comfortable rooms and the sumptuous breakfast buffet every morning. 
	.photoset(data-layout="1")
		img(src="https://3.bp.blogspot.com/-4w0Rjtt9sdQ/V1IrTMYqWpI/AAAAAAABV0A/cwrKGb7Gb00aJ-ojAC_siJmzQN5BGeLFgCLcB/s1600/P1270036.jpg")
		
.group
	h2 Esplanadi Park & Kappeli Restaurant
	.story A tranquil park still lit with Christmas decorations. I exhaled "How can a park be so beautiful?!"  There were still fallen snows on the pathways and due to the little increase in temperature, the snows become icy. We walked with very small steps while protecting our cameras. Nothing must happen to our cameras even if we fall!
	.photoset(data-layout="12")
		img(src="https://4.bp.blogspot.com/-Ttkf3NcQ2HU/V1C5KMOwUhI/AAAAAAABVys/ix_V_h-vu-oBdjwHF-I-GHOS6IoQnPvlACLcB/s1600/P1300468.jpg")
		img(src="https://3.bp.blogspot.com/-kcDz88xtAS8/V1C5I_SF-3I/AAAAAAABVyk/v7igWdBRnHAaK-QJL3jKfkj6MAnNO4wvwCLcB/s800/P1040561.jpg")
		img(src="https://2.bp.blogspot.com/-x3w-8XyOIhc/V1C5KuhbjWI/AAAAAAABVyw/mxI3kwSJhYM5Vmid8UYRG8vkDGoXEFFbACLcB/s800/P1300463.jpg")
	.story We passed by a posh-looking restaurant at the park. When the night falls and the lights up, the restaurant looks so elegant and romantic. I think it will be a superb place for wedding proposal! We didn't have the chance to try the food when we were there but I would definitely hope that Elvin will surprise me some years down the road when we are back to Helsinki. Elvin, the restaurant is Kappeli!
	.photoset(data-layout="W")
		img(src="https://1.bp.blogspot.com/-qj2aX6dkcSU/V07WFVE0T6I/AAAAAAABVvw/adhiDHH8jowoLcneH_KnxLgehK86gQtmgCLcB/s1600/P1300473.jpg")
		
	
.group
	h2 Sunrise and Islands
	.story We woke up very early in the morning and got ourselves ready to catch the sunrise. We had actually passed by this area when we were on the city tour bus the day before and thought that it might be a good vantage point for a nice scenery. We walked passed Old Market Hall and the Olympia Terminal. After a rather long walk on the icy pavement, we finally reached. A serene area of high-end residential and embassies overseeing the rather frozen Baltic Sea and many little islands. Along that Ehrenstromintie Road, we saw Soumenlinna from afar too. Looking over the banks, we could see the waves that froze the time. 
	.photoset(data-layout="121")
		img(src="https://4.bp.blogspot.com/-cAIdxifY-ZU/V1DHkY-IMJI/AAAAAAABVzE/9_3pIHBFifw-5fp-MqYMAQmAWaWX_lG9QCLcB/s1600/P1300481.jpg")
		img(src="https://3.bp.blogspot.com/-hwKAiaorsd4/V07WF5g8yvI/AAAAAAABVv4/fTD5nBZzehk1rlEk6pZfbRQl7Hc-C28_gCLcB/s800/P1300498.jpg")
		img(src="https://1.bp.blogspot.com/-GaS8DH1uwTE/V07WGAVoSOI/AAAAAAABVv8/LPOnWs2wRXEIK-CsGvM5ymlfTUcylgbjQCLcB/s800/P1300505.jpg")
		img(src="https://4.bp.blogspot.com/-kHtfMhF2AIs/V077_z2M7YI/AAAAAAABVww/nV4o5265sXIN_Q0SjZYzVLnOtW1chflLgCLcB/s1600/P1040285.jpg")
		
	.story As the sun rises, the sky displays a spectrum of colours. It felt like sunset at times. We  stopped for a moment to enjoy this magnificent sky while holding each other's hand. Romance is simple.
	.photoset(data-layout="W3")
		img(src="https://1.bp.blogspot.com/-7eK0ivDeaRU/V1DHldmiIUI/AAAAAAABVzc/Rf__zc9lUq4Q3SXvWQBx1ZKi1tTcFmqMACLcB/s1600/P1300540.jpg")
		img(src="https://4.bp.blogspot.com/-acM1JnzTC6Q/V1DHlDYhwuI/AAAAAAABVzY/y0IFJN6QQZkgLGNA3BtBYMyofDdqaNvWQCLcB/s500/P1300522.jpg")
		img(src="https://1.bp.blogspot.com/-rcGWWZGrl_A/V1DHkRpky3I/AAAAAAABVzI/g_ZJonGZF5U7i4gg4-FBW1hOGSahsJ8nACLcB/s500/P1300497.jpg")
		img(src="https://4.bp.blogspot.com/-qy1cOI66jvA/V1DHko5Ix5I/AAAAAAABVzM/0Mv_8HlYQLEep4yQ2vk-MIrBxsw0QvyWwCLcB/s500/P1300496.jpg")
	.story Occasionally, we had locals on their morning jog with such a great backdrop. I'm envious! We didn't want to stop snapping photos along this bank but our stomach wanted to. After seeing the sun rises to the tip of Soumenlinna Tower, we bid goodbye to this wonderful location. 

.group
	h2 Old Market Hall
	.story A distinct building seen as we walked out to the Esplanadi Park. It was so bustling on Saturday when we got there. Vibrant colours seen along each aisle from the vast variety of vegetables, fruits, salmon and more salmon! The stallholders were very welcoming and smiley to passerbys ie. potential customers!
	.photoset(data-layout="122W")
		img(src="https://4.bp.blogspot.com/-EWqDBMI_n98/V07jHJNmWrI/AAAAAAABVwU/yt0NC-ROGFkn_cH4cytopv-pIJZ6WLFiACLcB/s1600/P1300474.jpg")
		img(src="https://4.bp.blogspot.com/-VNp1AaFTT9k/V1C4cEy_jeI/AAAAAAABVyY/F6m3muCUtkwHfcfmF7GGxmPelQxNNlitQCLcB/s800/P1300557.jpg")
		img(src="https://3.bp.blogspot.com/-bQMUnLrTQJA/V1RLiy0V2YI/AAAAAAABV5A/PPtdMsBwfXwnKMeM796rOeu7svcLXCOIwCLcB/s800/P1040761.jpg")
		img(src="https://1.bp.blogspot.com/-H8-0CAYWysI/V1RLinTN0QI/AAAAAAABV48/roF8H8X01vAptG184n5kawHDKiVvYDUSgCLcB/s800/P1040755.jpg")
		img(src="https://3.bp.blogspot.com/-6kti_bJBXug/V1AqGr84EFI/AAAAAAABVxw/enYVJl-g5Scl2GWUJVT4D5r8T4j9E2uhgCLcB/s800/P1040773.jpg")
		img(src="https://3.bp.blogspot.com/-PBi-nm-ZIII/V1AqGiSyt0I/AAAAAAABVx0/DRKfL85V7IwxLExTu5t2teaqQfD7Io1VgCLcB/s1600/P1040771-Pano.jpg")
	.story We had salmon soup, sandwiches and beer. We also chanced upon the dark rye thins we tried in the Hotel Buffet Breakfast! No second thoughts for fans of dark rye bread and sourdough! Of course, we did not forget about souvenirs for our family and friends What a splendid way to end the day in Helsinki.
	.photoset(data-layout="213")
		img(src="https://3.bp.blogspot.com/-8khofWlzKpk/V1AqHgoptZI/AAAAAAABVx4/z5hSkN0eYNQiVIM4myCMhiLSaomPtWwoACLcB/s800/P1040777.jpg")
		img(src="https://4.bp.blogspot.com/-RlxMSfLHHHw/V1AqH3gP8TI/AAAAAAABVyA/D4Ql-CH-9OYQhNUv0PYzcQagNW7eKC0IQCLcB/s800/P1040801.jpg")
		img(src="https://4.bp.blogspot.com/-JTZWhFNvPHM/V3jm8eBcAeI/AAAAAAABWuc/qy3uwplTyBgRaC1bBfH1up2bqv6R_Y54wCLcB/s1600/20160128_103800.jpg")
		img(src="https://4.bp.blogspot.com/-Sp3OD-11IXY/V3jm7NyCpCI/AAAAAAABWuU/kRJc-MisNsAmvlldDZeI6PAOT5Zm0ULHgCLcB/s500/20160128_103705.jpg")
		img(src="https://2.bp.blogspot.com/-PEHddlLR7CY/V3jm7FYdkBI/AAAAAAABWuQ/OSzuKidb5W0OTPq9KRfi40NnGSa7K3jDQCLcB/s500/20160128_103650.jpg")
		img(src="https://1.bp.blogspot.com/-E4dyhXwtPBo/V1RLi4OEyzI/AAAAAAABV5E/dPhwTsHzPIoEGR5xJpy_Ke2vWZlwd9a6wCLcB/s500/P1040752.jpg")
		//img(src="https://1.bp.blogspot.com/-_q95S1UEOiA/V1RLkPDZ8lI/AAAAAAABV5M/eOG9PLEufeQrRhhr4TtCrsDI9ScfzQuowCLcB/s1600/P1040787.jpg")
		//img(src="https://4.bp.blogspot.com/-aRCYjbOq9r8/V1AqGnPguVI/AAAAAAABVxs/NVu2hcnEAwUIkSmhhTi-3MYAQQdL7ZlOgCLcB/s400/P1040763.jpg")
		//img(src="https://1.bp.blogspot.com/-RUnn-3g4lJw/V1AqH8SfxjI/AAAAAAABVx8/oVccdkPTyzoZJjzVpQHoZy6gPQt_ztYSgCLcB/s400/P1040799.jpg")

.group
	h2 Ekberg Cafe
	.story
	.photoset(data-layout="A")
		//img(src="https://4.bp.blogspot.com/-V7jwz0jnQM0/V3jm7MPxDTI/AAAAAAABWuY/8swZ2j7ssKse36kbeS5_FniPf48RinvqwCLcB/s1600/20160128_103605.jpg")
		img(src="https://2.bp.blogspot.com/-ixMKFY3_BpA/V3jm8f_roII/AAAAAAABWuk/6_4EWx8FvUk8d7FeZhGiM_F9zppOd_jIACLcB/s1600/20160128_155127.jpg")
		//img(src="https://2.bp.blogspot.com/-sNN_SeczlbU/V3jm8fyDgRI/AAAAAAABWug/qaxERLlcvcojIhccwXkyZR5T6ZA2ABapACLcB/s1600/20160128_160641.jpg")
		img(src="https://2.bp.blogspot.com/-zbbmAeT07hI/V3jm9UCeCJI/AAAAAAABWus/hDzHnNKpCecwcBs8cT3vEIlmJHy2vkkkQCLcB/s500/20160128_161356.jpg")
		img(src="https://1.bp.blogspot.com/-utsht37iv3A/V3jm9HbWjUI/AAAAAAABWuo/oj3YINfn-QEzNK-xT9XGBifmFpr2-PqgACLcB/s500/20160128_161610.jpg")
		img(src="https://4.bp.blogspot.com/-RGQVTyW25k8/V3jm9bq4HFI/AAAAAAABWuw/vLDLvF8G-rIyjYTV6hTkuEeB8vloSLPNgCLcB/s500/20160128_163227.jpg")
.group
	h2 Soumenlinna - the Fortress of Finland 
	.story We have gotten the Helsinki Card which allow us to get free city tours, entry to museums and ferries. We went for a 2-hour city tour around Helsinki before taking a ferry by HSL from Kauppatori Terminal to Soumenlinna - The Sea Fortress. It was a weird feeling sailing through the frozen  sea and a rather bumpy ride too!
	
	.photoset(data-layout="13W")
		img(src="https://3.bp.blogspot.com/-GlDuGa8tiTw/V1JFyFOY2sI/AAAAAAABV1I/iuMJLmhcJOIFs_PlMEtgNYv5Uzj9R0raACLcB/s1600/P1040310.jpg")
		img(src="https://1.bp.blogspot.com/-_Z31gF3UjY8/V1JAgCoFRFI/AAAAAAABV0Y/eFooBKUQWBwvYip31U0azT6u1cKNyPZCQCLcB/s500/P1040320.jpg")
		img(src="https://2.bp.blogspot.com/-nfMuRWtf2n8/V1JAjUiULiI/AAAAAAABV0g/gfJ5qjUjgAMApdG3FBO4K9SRbxJauAbNQCLcB/s500/P1040336.jpg")
		img(src="https://3.bp.blogspot.com/-A-gnFrUhB8U/V1JAkgq_8AI/AAAAAAABV0s/q4RkOCbnCjs8_Ty--KPNa5ZTyWYf1vb-QCLcB/s500/P1280184.jpg")
		img(src="https://1.bp.blogspot.com/-BChcWcJrR68/V1JCoiWshZI/AAAAAAABV08/b94B0lEkZM8yzMqzWLhVHJKyfW3B3ZZ0ACLcB/s1600/P1280209.jpg")
