---
layout: exposure
label: travel
cover: https://4.bp.blogspot.com/-EE4uehNOMMs/V2T0nbBlGzI/AAAAAAABWOg/MlvCoiq84MwkR0e6XVLy3F4GknVuf2P0gCLcB/s1600/IMG_0252-2674936223-O.jpg
title: South Korea
excerpt: First trip together
author: Elvin
date: 2013-04-07
permalink: /korea
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 Touched down in Seoul
	.story This was my first trip overseas with Ellis and my first time in South Korea. Our passionate tour guide brought us to Dohwa-dong where we put up at Best Western Hotel for the night. We hit the streets of Myeong-dong for some shopping fun. It was crowded with some jostling here and there. It reminded me of Bugis street with its weekend crowd. Push-carts along the roads sold women accessories, caps, scarves, gloves, bags, and shoes. Lots of shops sold facial products which South Korea is famous for. It is also well known for advancing the science and art of plastic surgery.
	.photoset(data-layout="23")
		img(src="https://2.bp.blogspot.com/-pRtRP0kwgEM/V2T0cPddxnI/AAAAAAABWMc/qkos-DQDFiwpPXv6NJYvPrWCnk6bPazJACLcB/s800/IMG_0031-2674852124-O.jpg")
		img(src="https://2.bp.blogspot.com/-NRO2YBKNce4/V2T0cGtTLiI/AAAAAAABWMU/qfIZccRsgnof8MONvrwUXOrsgc40i4rbQCLcB/s800/IMG_0042-2674857834-O.jpg")
		img(src="https://1.bp.blogspot.com/-z5fmKr_QlPw/V2T5B8_cu8I/AAAAAAABWZU/YFjjwSmv7vYQ4JQaDSW14nLWqdazImLYACLcB/s500/IMG_0992-2674891528-O.jpg")
		img(src="https://1.bp.blogspot.com/-GSdr6R9A6Xw/V2T5CJXZA0I/AAAAAAABWZY/yKs-7B50f2ott43QO-2TBQg8KMTuD-GiACLcB/s500/IMG_1004-2674896600-O.jpg")
		img(src="https://2.bp.blogspot.com/-bZOLk-QC35E/V2T5Cp8jbPI/AAAAAAABWZc/D3RpvyVOeDwSsyd5ov7EwIkOqSUfaqVQACLcB/s500/IMG_1007-2674897884-O.jpg")
	.story We passed many food stalls along the way. Feeling hungry, we ducked into one that had Dak Galbi. This is a one-dish affair. Marinated chicken is dumped onto a hot plate along with tteok (rice cake) and vegetables. You stir-fry the food and you can praise yourself for being a wonderful cook. The big metal barrier protected us from getting splashed by the sputtering sauce and made our heads looked puny in photos. After dinner, we took a walk in the cool weather and took in the lighted displays of the shopping malls.
	.photoset(data-layout="21")
		img(src="https://3.bp.blogspot.com/-YbF6S4uaz9A/V2T5C8VE8gI/AAAAAAABWZg/TI_nsHobQ-k-L1bmm7rTfMPoJgZPDNUnQCLcB/s800/IMG_1009-2674898288-O.jpg")
		img(src="https://2.bp.blogspot.com/-iRMBBQw0FPU/V2T5DG4csdI/AAAAAAABWZk/xdt4CSwzjXoGrwoTmNZK5e9BYZLHlx2zQCLcB/s800/IMG_1010-2674898906-O.jpg")
		img(src="https://4.bp.blogspot.com/-lswdbi2e_qk/V2T5Dlmg5YI/AAAAAAABWZo/A5An5vEW1ykzTHbG6OzR_0OX8pyF1qH_QCLcB/s1600/IMG_1012-2674899276-O.jpg")
		//img(src="https://4.bp.blogspot.com/-4xlex8lL0Ow/V2T5EjFcyZI/AAAAAAABWZ4/qUQ7fW9YSooxkvaCHlt2WjhtOAVgcjQdwCLcB/s1600/IMG_1024-2674903965-O.jpg")
.group
	h2 Everland
	.story We had a wild time at the largest theme park in South Korea. Large spacious paths lined with flowers led visitors to different sections. 
	.photoset(data-layout="32312")
		img(src="https://3.bp.blogspot.com/-FzlpC08yGkA/V2T0dCVwL-I/AAAAAAABWMg/2aKOAFjCqbAZ_tCHeqK9K74_V6KqRijXQCLcB/s500/IMG_0064-2674870828-O.jpg")
		img(src="https://4.bp.blogspot.com/-jxDPk7s9MCE/V2T0j7847EI/AAAAAAABWNw/4DeLApYvbyAex5DEJqU6M-hT-3ytzCVbgCLcB/s500/IMG_0206-2674928210-O.jpg")
		//img(src="https://4.bp.blogspot.com/-0-lrcV4uDt0/V2T0dt25GwI/AAAAAAABWMs/jP8UpgQn7NsBmdC0SiLLWeYwys4TWZoUwCLcB/s500/IMG_0071-2674874927-O.jpg")
		img(src="https://4.bp.blogspot.com/-4wxAJI7Tc-4/V2T0fIlMmZI/AAAAAAABWNA/rCDx3mw3Dy84ZgQCS1PW9ppXv3gjjNyXQCLcB/s500/IMG_0123-2674898956-O.jpg")
		img(src="https://4.bp.blogspot.com/-cMMlMy-Ug38/V2T0fAmtqLI/AAAAAAABWNE/c_z6pDGdRX8lSswIm5PdcP_aeXSX3lzYwCLcB/s800/IMG_0117-2674896826-O.jpg")
		img(src="https://3.bp.blogspot.com/-A8cN0SmzeKE/V2T0idRZPqI/AAAAAAABWNc/h1ox4fjeA0ME7icONdp9f2kWVJFOBd9ZQCLcB/s800/IMG_0160-2674915520-O.jpg")
		img(src="https://4.bp.blogspot.com/-Jotw7-s3Vdw/V2T0i1K3ogI/AAAAAAABWNg/ki89uTLJzgowGXooEKou4oM486Ct990MgCLcB/s500/IMG_0166-2674918424-O.jpg")
		img(src="https://4.bp.blogspot.com/-_-o_BD7uebo/V2T0hHhrZOI/AAAAAAABWNM/BZBoYyN1Zt8lPiNi-DBLfLD5EJ2Vee_dQCLcB/s500/IMG_0155-2674912949-O.jpg")
		img(src="https://4.bp.blogspot.com/-dAa1jWU3Mp8/V2T0iv3eHsI/AAAAAAABWNk/UGI3SqpalhE_Huv6qJmoxtxuEvDuh13MwCLcB/s500/IMG_0177-2674922460-O.jpg")
		img(src="https://4.bp.blogspot.com/-0UIfd9mYeQk/V2T0jmO1jHI/AAAAAAABWN0/z5RfsDgHAyYCXAhjRt4RImlMDfxTrqtagCLcB/s1600/IMG_0199-2674927240-O.jpg")
		img(src="https://2.bp.blogspot.com/-4pw2VgiSxD4/V2T0lYgCTTI/AAAAAAABWOI/Mvx9-iLwEAglyGNHNww0-ErOrDjgZv0UQCLcB/s800/IMG_0226-2674931752-O.jpg")
		img(src="https://4.bp.blogspot.com/-Sb9jaTbBvDA/V2T0lQv5kZI/AAAAAAABWOA/97flS0PImaEmqNbOgEFVJi9AvYA8Z21_QCLcB/s800/IMG_0227-2674931829-O.jpg")
		//img(src="https://3.bp.blogspot.com/-HrtSNDWPOBY/V2T0d2vXJwI/AAAAAAABWMw/IhSlKInCeKgcGL0_avT8wyw-_bXgrCG3wCLcB/s800/IMG_0109-2674893549-O.jpg")
	.story After the rides, we went to view the animals at the Zoo-topia world. Having a zoo inside in a theme park makes it two times the fun. The highlight was the Liger, the child of a male lion and a female tiger. This perculiar sight rarely happens which explains its popularity and long queue to see it. Sitting in comfort of the bus, you got a close view of its features. It had the head and body shape of a lion but it has no mane and has a faded stripes spots on its body. There is always a flood of sadness in me when looking at caged animals. Such a majestic creature should be out there in the wild. As our bus rolled along the path, bears approached it and lumbered away when it realised food is sealed behind glass and steel.
	.story The other small critters like the fox, beavers and jackass penguins were equally fun to watch. They are always so busy chasing each other around and playing in their own world. Jackass penguins are called jackass because they call like a donkey and not because are idiotic.
	.photoset(data-layout="32")
		img(src="https://2.bp.blogspot.com/-d6defA2FbjE/V2T0dup_p-I/AAAAAAABWMo/1J5HtLCRt8kOwg_l8uyeAYT3QfVL0rKmACLcB/s500/IMG_0103-2674890850-O.jpg")
		img(src="https://4.bp.blogspot.com/-VuqLD5DO4Tc/V2T0fZcTmRI/AAAAAAABWM8/ZvuBk0bjWZMRD_O1J11pYWxctscCzsBQQCLcB/s500/IMG_0130-2674902223-O.jpg")
		img(src="https://1.bp.blogspot.com/-Q7H3ThuiXl0/V2T0hRUg3II/AAAAAAABWNQ/XGQb4tceu_0pwOQpN8FCb50921BkDLOsQCLcB/s500/IMG_0135-2674904497-O.jpg")
		img(src="https://3.bp.blogspot.com/-C3hE_AtRNyo/V2T0haax2dI/AAAAAAABWNU/s_-2hOwTzpw5Y13ubzxsl3p7wTZtdntrACLcB/s800/IMG_0147-2674910287-O.jpg")
		img(src="https://1.bp.blogspot.com/-ME3TA2kvHfA/V2T0kLc-DyI/AAAAAAABWN4/SeK52U2Gt3oKD12kQYUOD-QVOaNG2L5ZACLcB/s800/IMG_0209-2674928856-O.jpg")
.group
	h2 Traditional Wedding
	.story 	
	.photoset(data-layout="3213")
		img(src="https://2.bp.blogspot.com/-N6-D4WOEIGI/V2T4ZhOpMtI/AAAAAAABWS0/R4LuRtHskgM0jmzQSpQJchdnBS5_kmZrwCLcB/s500/IMG_0299-2674847108-O.jpg")
		img(src="https://2.bp.blogspot.com/--LuLXoFVM60/V2T4Zyl7fdI/AAAAAAABWS8/V6GNQ5PAG6g8F4M6ZH87tv1YAlyrEkp9gCLcB/s500/IMG_0301-2674847947-O.jpg")
		img(src="https://2.bp.blogspot.com/-uHGpYPRvLSk/V2T4aoEtP7I/AAAAAAABWTE/7COQZQdI6yE4i87ofswmz9BcsMIL2KkOgCLcB/s500/IMG_0304-2674849328-O.jpg")
		img(src="https://1.bp.blogspot.com/-2BDYb0pxIdQ/V2T4atEoQ-I/AAAAAAABWTM/6HJsGp5Fd4k25xcdK0xrzVpMo3b9l-nfQCLcB/s800/IMG_0309-2674852439-O.jpg")
		img(src="https://4.bp.blogspot.com/-KVnb9OPMUfc/V2T4bbY975I/AAAAAAABWTQ/jgvznhtUheQoMRt_OIYgaXinDQmDwI7ogCLcB/s800/IMG_0312-2674854127-O.jpg")
		img(src="https://2.bp.blogspot.com/-zBgatZ6rc24/V2T4bicKMMI/AAAAAAABWTY/pkOdKQliuMQ6xz7ga523ePYi5SBUCOUVQCLcB/s1600/IMG_0324-2674861156-O.jpg")
		img(src="https://4.bp.blogspot.com/-xm0XWh9tswk/V2T4cZg7DdI/AAAAAAABWTg/IVq-SwRkNGoaZIYz69auhVmB0SXrqaSwACLcB/s500/IMG_0327-2674863248-O.jpg")
		img(src="https://2.bp.blogspot.com/-WRQ84QMdVr0/V2T4cpC8_wI/AAAAAAABWTo/tVoLHTsSdUYsycPATVQt-F5XD5FZN-mzACLcB/s500/IMG_0329-2674864159-O.jpg")
		img(src="https://4.bp.blogspot.com/-EE4uehNOMMs/V2T0nbBlGzI/AAAAAAABWOg/MlvCoiq84MwkR0e6XVLy3F4GknVuf2P0gCLcB/s500/IMG_0252-2674936223-O.jpg")
		//img(src="https://1.bp.blogspot.com/-OSfhFOhy07k/V2T4bt-kY-I/AAAAAAABWTU/yQ8tApn9lW8uoLVJFHc5pBbT-Lmh4fD5ACLcB/s1600/IMG_0325-2674861037-O.jpg")
		//img(src="https://1.bp.blogspot.com/-SU5Tuobepr0/V2T4Ys3xLjI/AAAAAAABWSk/hgm0kbryrswKChf-Nob7yF47UfKVGcndQCLcB/s1600/IMG_0263-2674835674-O.jpg")
		//img(src="https://4.bp.blogspot.com/-ItpXx_pJT5w/V2T4YlLILbI/AAAAAAABWSs/AV20Cnpa-CYajg8P7auYj1Uod3ng2ykAgCLcB/s1600/IMG_0266-2674836301-O.jpg")
		//img(src="https://3.bp.blogspot.com/-jCGTUE6XAI8/V2T4ag1x5YI/AAAAAAABWTI/FUai0mOZKREfoers_pRpRph4lZIKtnVqACLcB/s1600/IMG_0310-2674852540-O.jpg")
		//img(src="https://1.bp.blogspot.com/-mgcQeuvdomY/V2T4Z94O9tI/AAAAAAABWS4/L7UHKJBlhtMNvlRaMkDhdClXBndkesK5gCLcB/s1600/IMG_0300-2674847918-O.jpg")
		//img(src="https://2.bp.blogspot.com/-sDVZ_f0pvUQ/V2T4YqLHUEI/AAAAAAABWSo/XtrIBPcKcKoeUeExI6Yn0mITnVdoW3WIwCLcB/s1600/IMG_0279-2674838843-O.jpg")
		//img(src="https://1.bp.blogspot.com/-6NuS9_94qVg/V2T4cT0xmUI/AAAAAAABWTk/am0ilvkS2K0BbfvZ_En8xCFOtYl3WF6nACLcB/s1600/IMG_0328-2674863354-O.jpg")
		//img(src="https://1.bp.blogspot.com/-7WaEAMZpFvo/V2T0mkDyLeI/AAAAAAABWOY/oXKXoCbE_AciFkFnOggrONEmnfk9BlCHQCLcB/s1600/IMG_0243-2674934643-O.jpg")
		//img(src="https://3.bp.blogspot.com/-2XVi1JPLNWg/V2T0m8qjl4I/AAAAAAABWOU/361YNgOg03YHVqpGbskfuCAxYlyqGKHyQCLcB/s1600/IMG_0251-2674935721-O.jpg")
.group
	h2 Cherry Blossom
	.story 	
	.photoset(data-layout="3232")
		img(src="https://4.bp.blogspot.com/-5aQ6_5JNmyo/V2T02mtlLvI/AAAAAAABWOs/FaVkYF0B82kq3_gf3PKFIPpYjNpha29DgCLcB/s500/IMG_0527-2674750367-O.jpg")
		img(src="https://2.bp.blogspot.com/-9j7TrtAlhIk/V2T05N0KW9I/AAAAAAABWO8/JgcnturK8rYz5GOsOIMonmx8ICWx5851wCLcB/s500/IMG_0529-2674751723-O.jpg")
		img(src="https://3.bp.blogspot.com/--RiFmfE5CPM/V2T0289-o7I/AAAAAAABWOw/0ot6yI8VzJ4GsXXMLlYc0Yp8nntY1hnJQCLcB/s500/IMG_0528-2674751271-O.jpg")
		img(src="https://2.bp.blogspot.com/-dnivgwLW0E4/V2T0_QI69dI/AAAAAAABWP0/WMSZYZ7SmpAqjDNVqHy5Fbo8OYLh9z9ygCLcB/s800/IMG_0556-2674758457-O.jpg")
		img(src="https://4.bp.blogspot.com/-PxaI6aWRZoI/V2T1DAAkZHI/AAAAAAABWQA/VCLMQBjnfeozL76THoVzZSwJ4pzUhPYHwCLcB/s800/IMG_0559-2674760233-O.jpg")
		img(src="https://4.bp.blogspot.com/-F5YhPL1Bm_Y/V2T05eHmmfI/AAAAAAABWPE/r559_ZaSvoE95mu4zXZ4E0yYHLIC7zz3ACLcB/s500/IMG_0538-2674754173-O.jpg")
		img(src="https://3.bp.blogspot.com/-781TFS-M0hw/V2T09rDEjiI/AAAAAAABWPk/r3faPdkmDVM0wIyHZElPL8VZoqv5BrJKgCLcB/s500/IMG_0544-2674756707-O.jpg")
		img(src="https://4.bp.blogspot.com/-iZrTq4JNGvc/V2T087bUcnI/AAAAAAABWPg/U8laAy-p8gY2RW_IZwuvg2PDEDq91BxDwCLcB/s500/IMG_0543-2674756642-O.jpg")
		img(src="https://1.bp.blogspot.com/-tbMDwFBAI0A/V2T04oj09QI/AAAAAAABWO4/-YVGgrSJCHwHDYIuOFJabQg09alw0pkrwCLcB/s800/IMG_0535-2674752774-O.jpg")
		img(src="https://2.bp.blogspot.com/-BBXv0QfCx4w/V2T1DSoW6_I/AAAAAAABWQE/C_SSO-XAZ8cRBGWww5A_LAzbIf1-LAP3QCLcB/s800/IMG_0592-2674765398-O.jpg")
	.photoset(data-layout="1232")
		img(src="https://2.bp.blogspot.com/-ceZJF4oNeH4/V2T1K3p-raI/AAAAAAABWQo/l1P2rfDn-VQq7dQeFLUbsVODRxE-6wkSQCLcB/s1600/IMG_0608-2674771013-O.jpg")
		img(src="https://3.bp.blogspot.com/-f-rcIu_KrwU/V2T1Lj6LewI/AAAAAAABWQw/GnaUx-OcCaAFgEXJ0FBulIz_jCXkGf-BwCLcB/s800/IMG_0621-2674775159-O.jpg")
		img(src="https://4.bp.blogspot.com/-cQTs7XrF2HU/V2T1PQLPG1I/AAAAAAABWRU/1DLJAxmlB0g1TXvwri_IsflwRLWbAYH0QCLcB/s800/IMG_0626-2674777334-O.jpg")
		img(src="https://1.bp.blogspot.com/-QBwMRi56E6s/V2T1Ppp-kBI/AAAAAAABWRQ/eZ_F1WEpvIk8lX7cYMPW3EWEkK70TOv4ACLcB/s500/IMG_0633-2674778780-O.jpg")
		img(src="https://2.bp.blogspot.com/-RSnCWrvtOoE/V2T1Px9iMTI/AAAAAAABWRY/jOkfFnNrBl0LWM56rWboWwFvkhNeX-icwCLcB/s500/IMG_0636-2674779761-O.jpg")
		img(src="https://1.bp.blogspot.com/-ps8mQ53K7wI/V2T1SdNjkgI/AAAAAAABWRs/MF53zQ3n_80kQLo4XVN75e2EDvVCL8VHwCLcB/s500/IMG_0638-2674780590-O.jpg")
		img(src="https://4.bp.blogspot.com/-mMkR1WxFpOQ/V2T1SSeKvII/AAAAAAABWRk/RtNPsUNs-YM1S1tF-2xNVaDYkxEC-d71wCLcB/s800/IMG_0653-2674783733-O.jpg")
		img(src="https://4.bp.blogspot.com/-hBaSp0Ir9JA/V2T1TmKY23I/AAAAAAABWR0/ZqZR4NBR060fYpGDXvI2aVxy00F8224CACLcB/s800/IMG_0657-2674784261-O.jpg")
		//img(src="https://2.bp.blogspot.com/-_NOD362HBPI/V2T1UfoJs4I/AAAAAAABWSA/Iq7t5KjkSWwDLa83jemct1os0UvQOIDYwCLcB/s1600/IMG_0662-2674785247-O.jpg")
		//img(src="https://4.bp.blogspot.com/-46FcLpRjAt8/V2T02rPfxJI/AAAAAAABWOo/8idmKJf07f06nezMEBqOTRRaOe-cssUFwCLcB/s800/IMG_0523-2674749400-O.jpg")
		//img(src="https://2.bp.blogspot.com/--Qr_h8Woidg/V2T07hXWw-I/AAAAAAABWPU/BVw7S6kf22QShHzpeo_mA9Oz9sJW__ibACLcB/s800/IMG_0541-2674755661-O.jpg")
		//img(src="https://1.bp.blogspot.com/-cyxW7xCitpM/V2T07ucJOpI/AAAAAAABWPc/w8lsG2zbNCsvaHsvrs0qJlTVBSRwx3xQwCLcB/s500/IMG_0542-2674756136-O.jpg")
		//img(src="https://2.bp.blogspot.com/-mnYqcGdHeGc/V2T1CbNFm5I/AAAAAAABWP8/-6n5sSnjjWAVap-5N9dsfWCHJNxgmR9kQCLcB/s500/IMG_0591-2674765340-O.jpg")
		//img(src="https://2.bp.blogspot.com/-FCE2wVDYNvQ/V2T07E0IE0I/AAAAAAABWPQ/nRwGAlRc6EYYauY30CpONLuow-kmkg5QwCLcB/s1600/IMG_0540-2674755473-O.jpg")
		//img(src="https://1.bp.blogspot.com/-mm3yf_07MfE/V2T09zYJ2kI/AAAAAAABWPs/Zm8gMkUrapAVdxkpFf_yfWNb5i_Fqa5tQCLcB/s1600/IMG_0546-2674757445-O.jpg")
		//img(src="https://4.bp.blogspot.com/-l3whsGdVchg/V2T1FHtY8hI/AAAAAAABWQY/SRb1fSWgN0Iwm4yWDSzuCYl1UGJF3pBKwCLcB/s1600/IMG_0600-2674767895-O.jpg")
		//img(src="https://1.bp.blogspot.com/-BohN4Y6a8Tw/V2T1LCV1PkI/AAAAAAABWQs/VqF-lnOUaTIRLdgDw7WaMspvrNslKnr0ACLcB/s1600/IMG_0611-2674772337-O.jpg")
		//img(src="https://2.bp.blogspot.com/-esLcs1pQhd8/V2T1KZxzAPI/AAAAAAABWQk/6ZvJxKcIBc4aDL_-841XtyN7IK7TdWpngCLcB/s1600/IMG_0617-2674773333-O.jpg")
		//img(src="https://1.bp.blogspot.com/-r5xOA0zTlno/V2T1NLg3XqI/AAAAAAABWQ4/xstrjv4yt3Qz8qhiBicnGIY0WlAFUJj4wCLcB/s1600/IMG_0622-2674775709-O.jpg")
		//img(src="https://2.bp.blogspot.com/-PeLFycOPuOg/V2T1NiCZaHI/AAAAAAABWQ8/eqD7JyiOeIM7baEzpNTp6EiR94ZoBLRjwCLcB/s1600/IMG_0625-2674777232-O.jpg")
		//img(src="https://3.bp.blogspot.com/-L4GlD1BUhc4/V2T1SilW2aI/AAAAAAABWRo/UKfZV4aPg-EkGsDd5XfhaqmjVY21pHJ0gCLcB/s1600/IMG_0640-2674780989-O.jpg")
