---
layout: exposure
label: travel
cover: https://4.bp.blogspot.com/-E9EkJfrT1ak/V8p3iMFR0hI/AAAAAAABZDI/XdB6ecsoWnMyF5UpSyR-rofKu3e2f9eDgCLcB/s1600/20131018_174911_Richtone%2528HDR%2529.jpg
title: Krabi
excerpt: Island hopping and Night markets
author: Elvin
date: 2013-10-15
permalink: /krabi
---
header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	.story #[img(src="https://2.bp.blogspot.com/-us6rN_jJ3qg/V8qsRv2tZII/AAAAAAABZEo/q4mvh_2eON0oZxD_nvkz296tnIqK2sU7QCLcB/s100/K-6.jpg" align="left" alt="K")] rabi is a province on the western side of Thailand.
	.photoset(data-layout="132321232321232323213232321")
		img(src="https://4.bp.blogspot.com/-Amm0mBfLiyE/V8p3MS7WouI/AAAAAAABZAk/UOx9_oJMc0g0nma1tpvrejCv1ENpxG6FQCLcB/s1600/20131015_094348.jpg")
		//img(src="https://1.bp.blogspot.com/-zmGL8eehB4k/V8p3MRKq1xI/AAAAAAABZAo/g66jNGNrwK4FfDCr1TN0aBMaRqNGUKzZgCLcB/s1600/20131015_125541.jpg")

		img(src="https://3.bp.blogspot.com/-HMSjHivGBZg/V8p3lG36oXI/AAAAAAABZD0/cTEw_FmLSD8L5Z_qiGCIa_VJmoPyi6heACLcB/s1600/20131019_084923.jpg")
		img(src="https://2.bp.blogspot.com/-LWuX0i1O5VY/V8p3k8vYsnI/AAAAAAABZDw/n7-YbMQfOtg4SxG4vqWvGORmfvYEnSA5wCLcB/s1600/20131019_084830.jpg")
		img(src="https://1.bp.blogspot.com/-RtXBuPJx2w0/V8p3McJoinI/AAAAAAABZAg/agYGcR-QJTkWcSNH_EH1oB2Hta3zx06dwCLcB/s1600/20131015_131220.jpg")
		img(src="https://1.bp.blogspot.com/-HYfZ9n5unA8/V8qipf7ovTI/AAAAAAABZEM/2Nly-PYrnx0TPbyc90J9iNqn9D5__ZKMACLcB/s1600/20131015_134146.jpg")
		//img(src="https://1.bp.blogspot.com/-NiQjdvrUo5c/V8p3NqR4Z_I/AAAAAAABZAs/vm6ZbWf_fvwyeA5L5257PIQjLIdTxzlLgCLcB/s1600/20131015_134132.jpg")

		//img(src="https://4.bp.blogspot.com/-NkvymH9XDms/V8p3mqgVNUI/AAAAAAABZD4/ytigY3O1M9w9R_IV7_fORLR_Uo8haGjfwCLcB/s1600/20131019_085630.jpg")
		img(src="https://3.bp.blogspot.com/-U0kycNXD840/V8p3m7TSU9I/AAAAAAABZD8/Yp7VUgL_jNEBBNJCQYqkDWUxrhS13pjKgCLcB/s1600/20131019_085700.jpg")

	.photoset(data-layout="A")
		img(src="https://3.bp.blogspot.com/-DORGAUzWun4/V8p3OK1kfQI/AAAAAAABZA0/SZMGAl4iY7Y-3TXEjHP4gvQzhHBZEcRfACLcB/s800/20131015_135507.jpg")
		img(src="https://4.bp.blogspot.com/-qTPg4iRhmn8/V8p3OIQkJVI/AAAAAAABZAw/1hbFq6TAG306MKOGCoRVUqVs9aCelU9qgCLcB/s800/20131015_135850.jpg")
		img(src="https://1.bp.blogspot.com/-QFyhE77N_mw/V8p3PHfhhaI/AAAAAAABZA4/hjtkMdVbVfwg91-jwqOH3fzZPhBcFhR6gCLcB/s800/20131015_140322.jpg")
		img(src="https://4.bp.blogspot.com/-YVSQRsVFRg8/V8p3Sd6JiRI/AAAAAAABZA8/zYvBIkWxlrQhopGWytdpy2usQBW_mvaQACLcB/s800/20131015_141359.jpg")

		//img(src="https://3.bp.blogspot.com/-ko-XQkyOjgo/V8p3ShJ3g1I/AAAAAAABZBA/no5xSxeKCowwKu_N7nnomD4ueOzCptLQgCLcB/s1600/20131015_140328.jpg")
		//img(src="https://3.bp.blogspot.com/-3bBoywkd7No/V8p3dnrxcQI/AAAAAAABZCg/FGpNqXi_HnAjIfseBwNgU1twtK2DDbeHQCLcB/s1600/20131017_194125.jpg")
		//img(src="https://1.bp.blogspot.com/-vaLcqIVW-fA/V8p3d1j-4SI/AAAAAAABZCk/ihzNOJxcFO06nyOs5FWs5qhwT9IsyiHQQCLcB/s1600/20131017_194137.jpg")

	h2 Island Hopping
	.story
	.photoset(data-layout="1232")
		img(src="https://1.bp.blogspot.com/-RGSVM3kUtcw/V8p3UhN8SSI/AAAAAAABZBQ/spOemms8J3Y_jiw0oPWw4CzQIWR-tFMMgCLcB/s1600/20131016_090252.jpg")
		img(src="https://1.bp.blogspot.com/-x3vGnmW2KJc/V8p3UhuuO3I/AAAAAAABZBM/SjvAsRra5LgM5cEeUlcZnjw0jVh_DMc4gCLcB/s1600/20131016_090306.jpg")
		img(src="https://3.bp.blogspot.com/-ma6XjmRdyEg/V8p3VaTD6WI/AAAAAAABZBU/Yt0Pv7PAvOogARDrfXIi4RG5ZB2VM6ZcQCLcB/s1600/20131016_090350.jpg")
		img(src="https://4.bp.blogspot.com/-P1lKlHjw6TU/V8p3WfkwqXI/AAAAAAABZBc/Cvsx7XqdN1kUxmlAFubnGZwEONOux5_eACLcB/s1600/20131016_114819.jpg")
		img(src="https://3.bp.blogspot.com/-w5eMKDtY-vk/V8p3WUE-4nI/AAAAAAABZBY/zP_mq84tNugimCwggPmonxyCvpm6j697QCLcB/s1600/20131016_114839.jpg")
		img(src="https://2.bp.blogspot.com/-0EIWIpp6rAo/V8p3YIcT0vI/AAAAAAABZBg/9_BpRidyBh0GHa2eh_NxDwNaN52k9tQfgCLcB/s1600/20131016_114918.jpg")

		//img(src="http://2.bp.blogspot.com/-VHWJcfVDjws/UmPvCx2CtpI/AAAAAAAANBQ/ICnCV0Et0xw/s1600/Krabi_Map.png")
		img(src="https://1.bp.blogspot.com/-C_wMjZPUTDc/V8p3YO9hzXI/AAAAAAABZBo/BqX6CNE3wGwE3U6LP1MBlF4rZ0jRti2fgCLcB/s1600/20131016_144320.jpg")
		img(src="https://4.bp.blogspot.com/-cCvyNKIY0oA/V8p3YLIa9PI/AAAAAAABZBk/oYg0L-Dq-NsAV5MIwsmp8gG_Qi0_UoV4wCLcB/s1600/20131016_144338.jpg")
		//img(src="https://3.bp.blogspot.com/-u-OoXHxdWk4/V8p3Y2TpRHI/AAAAAAABZBs/5XMumOc-EhgbKbjPkOqu5q18rlwAkVV3QCLcB/s1600/20131016_144353.jpg")
		
		
	h2 Ao Nang Night Market
	.story
	.photoset(data-layout="1232321232321232323213232321")
		img(src="https://1.bp.blogspot.com/-7VYmyyBwbFg/V8p3ZOqz4DI/AAAAAAABZBw/fEH9oO4Hd3opyii6EMjFCYruHLMUJO_YwCLcB/s1600/20131016_184845.jpg")
		img(src="https://4.bp.blogspot.com/-qL3ZtHRhu9M/V8p3ZMdAi0I/AAAAAAABZB0/z9IlBr4ONH8v9VyEU-OPX-vYPZJWGrOGQCLcB/s1600/20131016_184851.jpg")
		img(src="https://4.bp.blogspot.com/-LQhNdwULxpo/V8p3ZphkjuI/AAAAAAABZB4/HSDaHX-ay1YcmMwwb-CEBQYlJghKa4ZLACLcB/s1600/20131016_184937.jpg")
		img(src="https://2.bp.blogspot.com/-49qgn101hHs/V8p3aBdSzpI/AAAAAAABZB8/Ig_s89Plq5Y7gH5aQgbRF9j270oihzsmgCLcB/s1600/20131016_185006.jpg")
		img(src="https://3.bp.blogspot.com/-pLgygzUG94s/V8p3aaLebbI/AAAAAAABZCA/2YuKbiqN2ooxSc3M47mzbxtfLjA5CcG1QCLcB/s1600/20131016_195607.jpg")
		img(src="https://2.bp.blogspot.com/-rADSjFYJ6JI/V8p3arVHbiI/AAAAAAABZCE/QxidyTB3514frJzpJURejoovyqLWzXlswCLcB/s1600/20131016_195625.jpg")
		img(src="https://4.bp.blogspot.com/-ypEBQwiqhm4/V8p3blksoeI/AAAAAAABZCI/NrTB27ZrAOA18mDO3ZEzq6ghFtdsYW9cACLcB/s1600/20131016_202432.jpg")
		img(src="https://1.bp.blogspot.com/-KeyC_va-G4k/V8p3bg_ItqI/AAAAAAABZCM/kZ2r_vpNtfAPoVeJ5UQeXro5hVVhyJhJACLcB/s1600/20131016_202453.jpg")

	h2 Kayaking at Bor Thor
	.story
	.photoset(data-layout="2132321232321232323213232321")
		img(src="http://4.bp.blogspot.com/-lXJ5sdKb5og/UmaWLLH6vHI/AAAAAAAANMs/TaAnx6-pJks/s1600/Krabi_Bor_Thor.PNG")
		img(src="http://3.bp.blogspot.com/-nGXJMsXZ4gI/Umac4SkFNSI/AAAAAAAANM4/pZevDa2aCDw/s1600/Krabi_Bor_Thor_Route.jpg")
		img(src="https://4.bp.blogspot.com/-uBf0qMtS7YI/V8p3b8dBQ0I/AAAAAAABZCQ/zT5nmU7i9K82cessnv0AOb4H4pgSX15wgCLcB/s1600/20131017_120141.jpg")
		img(src="https://3.bp.blogspot.com/-PGH8ZiCCc24/V8p3c3I9ljI/AAAAAAABZCU/vvHrdgvBh-cfSaaJbTBVf6eLTRlXy-wIgCLcB/s1600/20131017_120155.jpg")
		img(src="https://4.bp.blogspot.com/-MRjZk-8Bt1M/V8p3c2ryzsI/AAAAAAABZCY/LyiMET-4EokF-VziBMAPgKNDM4I2qMeIwCLcB/s1600/20131017_120204.jpg")
		img(src="https://4.bp.blogspot.com/-HQB606tLO3s/V8p3dOCpDKI/AAAAAAABZCc/Q5HdwaKtWnsuHMQxfE5xrKCxwVrMLYMsgCLcB/s1600/20131017_120217.jpg")

	h2 Ao Nang Beach
	.story
	.photoset(data-layout="132321232321232323213232321")
		img(src="https://1.bp.blogspot.com/-XCR7adw1Wrw/V8p3fcYJ08I/AAAAAAABZC4/JR1AbYenEkImU2Zm0IAzbHhpy_NdPACtgCLcB/s1600/20131018_120110.jpg")

		img(src="https://3.bp.blogspot.com/-KOiEToV8dYE/V8p3TK5I38I/AAAAAAABZBE/40NlU1FJwNoiNqQ1FE8Hm54O6x99CejWwCLcB/s1600/20131015_150643.jpg")
		img(src="https://4.bp.blogspot.com/-1SdegSyY-qI/V8p3Uig70WI/AAAAAAABZBI/9GnQrF8WQHMZKM__uO-C7LIy4SsHeH5uwCLcB/s1600/20131015_150748.jpg")
		//img(src="https://2.bp.blogspot.com/-nEQSk-7iTUM/V8p3eOgHG2I/AAAAAAABZCo/sD88l4gbY_Mql7LALsWeo38Mf2uk5fb3ACLcB/s1600/20131018_104835.jpg")
		img(src="https://2.bp.blogspot.com/-fYqEpaxJU-k/V8p3edTNC-I/AAAAAAABZCs/bFm1dhuHX4wUKeLPZAy7g2dZXLS7NTkOQCLcB/s1600/20131018_105027.jpg")

	.video.solo(data="sqMBY_ER-xQ")

	h2 Sunset
	.story
	.photoset(data-layout="3W")
		//img(src="https://4.bp.blogspot.com/-LH9Ckgf8BxY/V8p3e9Nu-5I/AAAAAAABZC0/Uwb8c5fyVsYX9VCFf3YB93ShNsQm2mB5gCLcB/s1600/20131018_105510.jpg")
		img(src="https://3.bp.blogspot.com/-tC2g2Isaa1g/V8p3hO6OhAI/AAAAAAABZC8/yG99g0hR8Ws2lfTuWZRrlxShAmkVnxZwwCLcB/s1600/20131018_173510.jpg")
		//img(src="https://2.bp.blogspot.com/--2wRbLl1oGQ/V8p3hERgMSI/AAAAAAABZDA/8_P5m3H_I1kBtrXr6Zd2d9LYcarmhpycgCLcB/s1600/20131018_173519.jpg")
		img(src="https://1.bp.blogspot.com/-5wCtJ171zN0/V8p3hMjdPVI/AAAAAAABZDE/ahDckrA7NdwtCjj3qOjYUG_lCgVp2e0jgCLcB/s1600/20131018_174329.jpg")
		img(src="https://1.bp.blogspot.com/-ROakPxp1ajc/V8p3iEptSXI/AAAAAAABZDQ/ddeHLhUtT78KlbZG-AYe4PDNe9j8FuGIgCLcB/s1600/20131018_174711.jpg")
		img(src="https://4.bp.blogspot.com/-E9EkJfrT1ak/V8p3iMFR0hI/AAAAAAABZDI/XdB6ecsoWnMyF5UpSyR-rofKu3e2f9eDgCLcB/s1600/20131018_174911_Richtone%2528HDR%2529.jpg")
		//img(src="https://1.bp.blogspot.com/-xQZoQJ8UDQQ/V8p3iACnPzI/AAAAAAABZDM/-fqdmS7JoJs4gSPfcEIYNv2VVubo76oBgCLcB/s1600/20131018_175612_Richtone%2528HDR%2529.jpg")
		//img(src="https://1.bp.blogspot.com/-GPDvlU4uAtg/V8p3jIlrSXI/AAAAAAABZDU/ZHk1Sq8A2UMYpCrIKSjjFI0nDUVc3TzsQCLcB/s1600/20131018_180355_Richtone%2528HDR%2529.jpg")

	h2 Krabi Town Night Market
	.story
	.photoset(data-layout="13")
		//img(src="https://4.bp.blogspot.com/-v4Hw41OpxPM/V8p3jJgLpVI/AAAAAAABZDY/6vsYHpsO5NoTATyyYT-SZ83MeIeW93HswCLcB/s1600/20131018_194012.jpg")
		img(src="https://4.bp.blogspot.com/-RWNRmO56pRU/V8p3jyIZZRI/AAAAAAABZDg/-XHVpGJhO08P4zZw1dFECm1bghtdEUEowCLcB/s1600/20131018_194112.jpg")
		img(src="https://4.bp.blogspot.com/-u3b9zoQzzXs/V8p3jcac_yI/AAAAAAABZDc/Jf2_rF0pEPMM8UmgUyEUjI2ytQSfABChwCLcB/s500/20131018_194016.jpg")
		img(src="https://2.bp.blogspot.com/-YkG1TSlgGYM/V8p3kMZFk9I/AAAAAAABZDk/zqnul3AfC6s5H2t_QEdQbUS7UIHe8RyxACLcB/s500/20131018_194121.jpg")
		//img(src="https://2.bp.blogspot.com/-WMRV9BHgdi0/V8p3kHAzw6I/AAAAAAABZDo/Xxhet-2_bTQSX4CWq6la7RB4cb9gSkFVACLcB/s1600/20131018_194127.jpg")
		img(src="https://4.bp.blogspot.com/-vTEKzK8eOeU/V8p3kuSCJII/AAAAAAABZDs/JyOMVmKDwbYlIT7dbdtBU9WF1ehqHpKCQCLcB/s500/20131018_210625.jpg")
