---
layout: exposure
label: travel
cover: https://3.bp.blogspot.com/-V3dH9fcarb8/V1VpqmY5UlI/AAAAAAABV7E/_MotfcQ19CQa6oiJjVw3FOyCLhnjGsnHwCLcB/s1600/P1060755.jpg
title: Penang Family Trip
excerpt: Old Town
author: Elvin
date: 2016-05-14
permalink: /penang
---
header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 George Town
	.story
	.photoset(data-layout="121")
		img(src="https://3.bp.blogspot.com/-V3dH9fcarb8/V1VpqmY5UlI/AAAAAAABV7E/_MotfcQ19CQa6oiJjVw3FOyCLhnjGsnHwCLcB/s1600/P1060755.jpg")
		img(src="")
		img(src="")
		img(src="")
		img(src="")
	h2 Upside Down Museum
	.story
	.photoset(data-layout="13")
		img(src="https://4.bp.blogspot.com/-Zr6Udf-mL1w/V1YD5kBol1I/AAAAAAABV8g/Leyvr_lS2jIWjBHHwUHLZEvB2nxFLirlgCLcB/s1600/P1060054.jpg")
		img(src="https://1.bp.blogspot.com/-UJN2JzO-R_U/V1YD6xS2f7I/AAAAAAABV80/sGK-CCLD4hg4QB0Wl_GFNHG7yShtlDM6QCLcB/s1600/P1060085.jpg")
		img(src="https://1.bp.blogspot.com/-1DQslfuhTqM/V1YD72OHfpI/AAAAAAABV8s/4gSb5rc8GZMQK8SiKCB1rzxsdGDeYiCxQCLcB/s1600/P1060086.jpg")
		img(src="https://4.bp.blogspot.com/-nba2EU27RK4/V1YD-Axs4dI/AAAAAAABV9I/egtKM0amk_cNbqQFCVB4-XFsZbfmPuqSQCLcB/s1600/P1060106.jpg")
	.story Dining Room
	.photoset(data-layout="31333")
		img(src="https://1.bp.blogspot.com/-KzlPz9bbdxo/V1YD6m_Hc9I/AAAAAAABV8o/A19CMQwhz8EZ9QQ37ozO_b8K2dp98BXSQCLcB/s1600/P1060076.jpg")
		img(src="https://3.bp.blogspot.com/-WOXEKUI1GAg/V1YD66PG2lI/AAAAAAABV8w/dskiDYVqUQUq_NE5Y_6rbzuUUFRZ8BoywCLcB/s1600/P1060078.jpg")
		img(src="https://2.bp.blogspot.com/-W4VyK8U9qlk/V1YD5VcxIYI/AAAAAAABV8Y/lfQhsyaMsdEL9RJZTByItz8_b6jipazHQCLcB/s1600/P1060068.jpg")
		img(src="https://1.bp.blogspot.com/--I_eY5xIyrc/V1YD5WhznII/AAAAAAABV8c/0FbnkauO5uwk-kPk06j6i1_k4ucG-5fuQCLcB/s1600/P1060071.jpg")
		img(src="https://4.bp.blogspot.com/-xa8l1ZJHsoc/V1YD-DaLWMI/AAAAAAABV9E/tMF_DdsFYy8Ka_5ltW234e94tCz-LOtjwCLcB/s1600/P1060088.jpg")
		img(src="https://1.bp.blogspot.com/-zX1mgAfCPV8/V1YD_IQVmfI/AAAAAAABV9U/fdaky_CwgsIQrNVtsFRWHQN4j-WFSEX0wCLcB/s1600/P1060110.jpg")
		img(src="https://1.bp.blogspot.com/-QOrbH8K-XP4/V1YD_mOU6XI/AAAAAAABV9Y/GXdaGiBUe5seICd0p9MIDhVeFd0bdwyWwCLcB/s1600/P1060114.jpg")
		img(src="https://3.bp.blogspot.com/-SQ5A4YFiMWE/V1YD__yHlSI/AAAAAAABV9c/0ePWtrhNgL0IoTEp7cNIGR77vundZxKIgCLcB/s1600/P1060129.jpg")
		img(src="https://3.bp.blogspot.com/-RvkdZPIVFfE/V1YEABRdlzI/AAAAAAABV9k/QJrW69zdIRo-8udgbVp8GzXoIM0hWxkhACLcB/s1600/P1060133.jpg")
		img(src="https://4.bp.blogspot.com/-KwTpCPLGApM/V1YEAy0wijI/AAAAAAABV9s/CrbbKzmwq3s9ORr5duEb4AbLDkM5z8haACLcB/s1600/P1060140.jpg")
	.story

	h2 Camera Museum
	.story As we were mad about cameras at the moment, Ellis and I took a short walk from our hotel to visit the Camera Museum. We were not disappointed as the place has a collection of old cameras from various times. Some of them were out of the glass display and I had a great time looking through the lens to frame the scene.
	.photoset(data-layout="31")
		img(src="https://2.bp.blogspot.com/-UE-v31RlYHc/V1V2vs7QNNI/AAAAAAABV7U/WS2Sg0usSJsXF9Njgk2thCvrG8LiI53jgCLcB/s1600/P1060630.jpg")
		img(src="https://1.bp.blogspot.com/-F43QN7bw4uM/V1V2zuDqRdI/AAAAAAABV78/cMTTi7_X0Qo-TdijNbH8ZscPHWMeiLiXgCLcB/s1600/P1060710.jpg")
		img(src="https://3.bp.blogspot.com/-JeFLX6oMmnk/V1V2v-L5OQI/AAAAAAABV7Y/HTSd6aGmsVgiNFZv6z_wrjaVh4z9wty9gCLcB/s1600/P1060660.jpg")
		img(src="https://2.bp.blogspot.com/-JS-iJEK0zNY/V1V20A1xvnI/AAAAAAABV70/HTUf7rwSMJYY00Wa-t7naTZzqErHrjOoACLcB/s1600/P1060748.jpg")
	.story The Mamiya RB67 (Rotating Back 6 x 7) was considered a workhorse of its time - 1970s. Built like a tank, you still can buy a used working copy online. There was a Mamiya 645 Gold Lizard special edition beside that shouts out gangsta bling bling. I will not take any photographer seriously if he was using one. Next, we have the Yashica-D, A and Mat in a row - line'em them up! These were 6x6 TLR (Twin Lens Reflex) from an even earlier 1930s to 1950s. The top lens projected the scene onto the ground glass focusing screen, while the bottom lens took the picture. When you focused, both lens were adjusted at the same time. Because we had TLR, we then had SLR which use mirror, prism, and a single lens. And today, we have the DSLR when film gave way to digital sensor.
	.photoset(data-layout="313")
		img(src="https://4.bp.blogspot.com/-fcCL48mjfJ4/V1Vk3lRZeqI/AAAAAAABV6U/hnZwWr17Qc8FclXTYFs1k29VvIeSjSIFwCLcB/s1600/P1060641.jpg")
		img(src="https://2.bp.blogspot.com/-p6dRhb2lhVo/V1Vk5HBOAeI/AAAAAAABV6c/Ab9WbjFs-UseLjF7mDS3KudauioNexzXQCLcB/s1600/P1060648.jpg")
		img(src="https://3.bp.blogspot.com/-KXRJX3hzycs/V1Vk-vN0LvI/AAAAAAABV6w/Wo5A4A1TdjQQLHsAamfp-74I4SoJW2tPwCLcB/s1600/P1060670.jpg")
		img(src="https://3.bp.blogspot.com/--n8fO0F1jKw/V1Vk5Hc3dWI/AAAAAAABV6g/rieka678Z7AJhoCnpEBrRSJsSVVX3bs-gCLcB/s1600/P1060653.jpg")
		img(src="https://1.bp.blogspot.com/-Z8mWncfay7w/V1Vk-nroFXI/AAAAAAABV60/eE999TyYC0gCNhWPbw1BkXpo0yCn4IIMQCLcB/s1600/P1060674.jpg")
		img(src="https://4.bp.blogspot.com/-bRKc-OyRX_U/V1Vk3o9Jc_I/AAAAAAABV6Q/JIo0gPZ8718wGNPFls79q2Jd4Q1VehhbwCLcB/s1600/P1060646.jpg")
		img(src="https://3.bp.blogspot.com/-KAWT_cA0Jtk/V1V2xKlphfI/AAAAAAABV7s/X_z3mx4iQxghfFSm7sKzqXb5dXDeXzvoACLcB/s1600/P1060671.jpg")
	.story Before we have the Olympus OM-D MFT cameras, we had the Olympus OM series. Looking at the Olympus OM-10 on display, I could see how the design of the original OM series shaped the design of the OMD digital cameras. The Leica R5 is a more modern looking design of the Leica series. We played with some box cameras that were so large, it had to be placed on a table. We used our digital camera to take a photo of the image projected through the imaging lens on to the fresnel focus screen. Now, that's a photo of a photo - trippy.
	.photoset(data-layout="13")
		img(src="https://2.bp.blogspot.com/-r61q5Ge5Ej4/V1V2xypozUI/AAAAAAABV7k/KOQcYquWWRs3flPBfAGON26AK6X-HASlgCLcB/s1600/P1060690.jpg")
		img(src="https://1.bp.blogspot.com/-tfy4Z0SD38E/V1Vk3uoR_-I/AAAAAAABV6M/uktUvh9EchMRa84DwYGWNXDkNhOSj9WPACLcB/s1600/P1060645.jpg")
		img(src="https://1.bp.blogspot.com/-cTiyEXEiv2A/V1V2wDi87eI/AAAAAAABV7c/HFZcfgMT7fgMN0ZTnHt2DBq_Uv9dktGXACLcB/s1600/P1060664.jpg")
		img(src="https://2.bp.blogspot.com/-lfOzZxhxPS0/V1V2x0URkaI/AAAAAAABV7o/-tF0dl3GH-kcto_q-ZAViW_BJ1R6uylQgCLcB/s1600/P1060685.jpg")
		//img(src="https://2.bp.blogspot.com/-42qqRmkdFdU/V1Vk5GegzLI/AAAAAAABV6k/WgWa71JQcGYwA8XtOap_Sa3yBanKvretgCLcB/s1600/P1060650.jpg")
		img(src="")
		img(src="")
		img(src="")
		img(src="")
