---
layout: exposure
label: romance
cover: https://4.bp.blogspot.com/-zPUhgNQ0Z10/V56NWJcOAbI/AAAAAAABX1k/G5d-0icMMHMrUVE73I5XxVmoGcagD-SawCLcB/s1600/IMG_20140704_093731.jpg
title: Phuket
excerpt: Canoeing, Swimming and White-water Rafting
author: Elvin
date: 2014-07-01
permalink: /phuket
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 Phuket
	.story
	.photoset(data-layout="21321213212132121321")
	.video(data="xhm7rr3XWmo")
	.video(data="qnelndiNexc")
