---
layout: exposure
label: romance
cover: https://4.bp.blogspot.com/-qQEbV7olyG0/V53dGQrhqSI/AAAAAAABXzY/wTbFuK8nR88dUeCN1D-82YRwZCXxtzIUwCKgB/s1600/IMG_2690-2386241950-O.jpg
title: 2013
excerpt: Universal Studios
author: Elvin
date: 2013-01-01
permalink: /2013
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}

.group
	h2 Universal Studios
		.date 15 February
	.story
	.photoset(data-layout="21321213212132121321")
		img(src="https://4.bp.blogspot.com/-gPakCu4hHZI/V53dGhLA_kI/AAAAAAABXzc/S8J5vfmp-uATQVzauuTdpUhMKA5NycCLgCKgB/s1600/IMG_2691-2386242774-O.jpg")
		img(src="https://4.bp.blogspot.com/-qQEbV7olyG0/V53dGQrhqSI/AAAAAAABXzY/wTbFuK8nR88dUeCN1D-82YRwZCXxtzIUwCKgB/s1600/IMG_2690-2386241950-O.jpg")
		img(src="https://1.bp.blogspot.com/-FrNvFDBiVsI/V53dHwOnmyI/AAAAAAABXzw/1MWAZq3VljM80HufckzwOXu7HrD7A56DwCKgB/s1600/IMG_2698-2386244819-O.jpg")
		img(src="https://2.bp.blogspot.com/-kAnamOnbnTY/V53dHp5libI/AAAAAAABXzs/Zgd0jSZJXjginWrAaV3AWXkkWDVPdg3sACKgB/s1600/IMG_2695-2386244925-O.jpg")
		img(src="https://3.bp.blogspot.com/-wAa5O0sIClM/V53dHW3lV2I/AAAAAAABXzo/w96Do7IzWD4eVoUHLTJEcLCKb5nWHhevgCKgB/s1600/IMG_2694-2386244175-O.jpg")
		img(src="https://4.bp.blogspot.com/-RruD1E6o6Ao/V53dHLzbojI/AAAAAAABXzk/66ejncUK7X0ocipAyz2J_djTlWCU40pYACKgB/s1600/IMG_2693-2386243425-O.jpg")
		img(src="https://1.bp.blogspot.com/-ZGAkvtDvadk/V53dGrpcjcI/AAAAAAABXzg/s-2JTyOoK7c_pyNVGRPp8S8ddpoM2AXDgCKgB/s1600/IMG_2692-2386243718-O.jpg")
		img(src="https://1.bp.blogspot.com/-bD8HiUFnT7E/V53dI6dp0kI/AAAAAAABX0E/woq2uYCpqAU6ZF-DSbEfZ3ak63i0LfOtACKgB/s1600/IMG_2713-2386246059-O.jpg")
		img(src="https://3.bp.blogspot.com/-YKLdo1ue7KQ/V53dI4prLOI/AAAAAAABX0A/C6NDmSdLhmAEcqs-WevRvHm5WfW6MW8NgCKgB/s1600/IMG_2711-2386245857-O.jpg")
		img(src="https://2.bp.blogspot.com/-eERmNUsxMkQ/V53dI_pdF4I/AAAAAAABXz8/3ugtdo9L7QsEeM1QkIHRezD5fa9bC3MNwCKgB/s1600/IMG_2708-2386245722-O.jpg")
		img(src="https://1.bp.blogspot.com/-7rQp9m5Ku14/V53dIPoljlI/AAAAAAABXz0/sp5afzpHYOgBPq8v_WO_ykZScCZM8Z1MwCKgB/s1600/IMG_2702-2386245252-O.jpg")
		img(src="https://2.bp.blogspot.com/--izSNEycXWE/V53dIKrf6mI/AAAAAAABXz4/XFZbUKjiHMgmweebNr2xJB6DaAMl64iXgCKgB/s1600/IMG_2700-2386245063-O.jpg")
		img(src="https://4.bp.blogspot.com/-Z1tQyd5LOaU/V53dKTXJC-I/AAAAAAABX0Y/EWEVA82pZkEdnHvYiaOFZLL3JjQeYeD4gCKgB/s1600/IMG_2721-2386246490-O.jpg")
		img(src="https://2.bp.blogspot.com/-2OQueqT0XW0/V53dKIVUwXI/AAAAAAABX0U/cwbcNbk1UHknQc0kjijS-R5BeMocF2WcQCKgB/s1600/IMG_2719-2386246405-O.jpg")
		img(src="https://1.bp.blogspot.com/-AKWUsAUAOZs/V53dJ3mtnDI/AAAAAAABX0Q/vVdDpYFS9FosDLCwDnh33vmKFT7z4nGLgCKgB/s1600/IMG_2718-2386246327-O.jpg")
		img(src="https://1.bp.blogspot.com/-Qdsu77GHQqg/V53dJruiSBI/AAAAAAABX0M/ciZ1uW1230wZuKUZsFFwnN1hEbvZ8xdGQCKgB/s1600/IMG_2715-2386246138-O.jpg")
		img(src="https://3.bp.blogspot.com/--hm4fOroXtU/V53dJYRMXmI/AAAAAAABX0I/rNWID6GPEe0WWBFHNiOdOKw016haMH6hACKgB/s1600/IMG_2714-2386246116-O.jpg")
		img(src="https://4.bp.blogspot.com/-QOWNY8o5s6U/V53dL6tBICI/AAAAAAABX0w/xzGdcxS4ewEELa0qJmVlu1ErR7AF4iqXwCKgB/s1600/IMG_2734-2386247347-O.jpg")
		img(src="https://2.bp.blogspot.com/-G_Pjj6ZNcN4/V53dLdientI/AAAAAAABX0o/rS5c0Rg2f_Y-yZjMEz9cjFv-S8_qLBtLQCKgB/s1600/IMG_2727-2386246885-O.jpg")
		img(src="https://4.bp.blogspot.com/-6iRZDqMAmzE/V53dLD3TC-I/AAAAAAABX0k/RmqheC3NDJ0wCIfCInYQ3XLRwA-szsQxACKgB/s1600/IMG_2726-2386246834-O.jpg")
		img(src="https://4.bp.blogspot.com/-9z0e1NYQfwc/V53dKyK8wHI/AAAAAAABX0g/j_NFRTE8Gf03JwM3irEdiyK91wRNAq6LACKgB/s1600/IMG_2723-2386246673-O.jpg")
		img(src="https://2.bp.blogspot.com/-sEUZzVzcUz4/V53dKoHsgUI/AAAAAAABX0c/bq48RrykEdEBt2kB16qlMK25mlWbsXCNQCKgB/s1600/IMG_2722-2386246617-O.jpg")
		img(src="https://1.bp.blogspot.com/-Y-1q35JNP-w/V53dNQSorTI/AAAAAAABX1E/-tNliUyJsYQz7289lQUff-DtVu_3OS6vQCKgB/s1600/IMG_2743-2386248064-O.jpg")
		img(src="https://1.bp.blogspot.com/-2xD8CFb1c6s/V53dL190x7I/AAAAAAABX0s/K110pHYGSqMZBJGMuth4CQA0UiapqJczACKgB/s1600/IMG_2737-2386247436-O.jpg")
		img(src="https://4.bp.blogspot.com/-V8QJ0hyewhY/V53dNWG2VaI/AAAAAAABX1I/E5VjmCpABRIYMfU7NrvgHEhYBRq3prwewCKgB/s1600/IMG_2927-2386248101-O.jpg")
		img(src="https://3.bp.blogspot.com/-9YSRsk4ITB8/V53dNc9nu9I/AAAAAAABX1M/ipucwflhhXQO46LiDkNrZjTnisMdSSuTACKgB/s1600/IMG_2747-2386242365-O.jpg")
		img(src="https://4.bp.blogspot.com/-tbL5bh1b3Hg/V53dMv9tvtI/AAAAAAABX04/dux1j7VCNvsA2ZarrkIJ-q-MJlRpAi1HQCKgB/s1600/IMG_2740-2386247771-O.jpg")
		img(src="https://3.bp.blogspot.com/-yu9nvNLMf0M/V53dMKm2u4I/AAAAAAABX00/qbGb40wcd-EMj6gssaGl9u_hfIIUusWcwCKgB/s1600/IMG_2739-2386247544-O.jpg")
		img(src="https://3.bp.blogspot.com/-RINKoO4JxL8/V53dMy7AdQI/AAAAAAABX1A/fHcLd9VLXFktUTYiE_eFW77E4jT5XV4vACKgB/s1600/IMG_2742-2386247742-O.jpg")
		img(src="https://3.bp.blogspot.com/-B3PKiR78iLk/V53dMkWtHjI/AAAAAAABX08/ZoQqB6wCYqIqmaG79liUJFwciL6Us81XACKgB/s1600/IMG_2741-2386247804-O.jpg")
