---
layout: exposure
label: romance
cover: https://4.bp.blogspot.com/-qQEbV7olyG0/V53dGQrhqSI/AAAAAAABXzY/wTbFuK8nR88dUeCN1D-82YRwZCXxtzIUwCKgB/s1600/IMG_2690-2386241950-O.jpg
title: 2013
excerpt: Universal Studios, SEA Aquarium
author: Elvin
date: 2013-01-01
permalink: /2013
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}

.group
	h2 Universal Studios
		.date 15 February
	.story
	.photoset(data-layout="232323212132121321")
		img(src="https://4.bp.blogspot.com/-gPakCu4hHZI/V53dGhLA_kI/AAAAAAABXzc/S8J5vfmp-uATQVzauuTdpUhMKA5NycCLgCKgB/s1600/IMG_2691-2386242774-O.jpg")
		img(src="https://4.bp.blogspot.com/-RruD1E6o6Ao/V53dHLzbojI/AAAAAAABXzk/66ejncUK7X0ocipAyz2J_djTlWCU40pYACKgB/s1600/IMG_2693-2386243425-O.jpg")

		img(src="https://4.bp.blogspot.com/-qQEbV7olyG0/V53dGQrhqSI/AAAAAAABXzY/wTbFuK8nR88dUeCN1D-82YRwZCXxtzIUwCKgB/s1600/IMG_2690-2386241950-O.jpg")
		img(src="https://1.bp.blogspot.com/-FrNvFDBiVsI/V53dHwOnmyI/AAAAAAABXzw/1MWAZq3VljM80HufckzwOXu7HrD7A56DwCKgB/s1600/IMG_2698-2386244819-O.jpg")
		//img(src="https://2.bp.blogspot.com/-kAnamOnbnTY/V53dHp5libI/AAAAAAABXzs/Zgd0jSZJXjginWrAaV3AWXkkWDVPdg3sACKgB/s1600/IMG_2695-2386244925-O.jpg")
		img(src="https://3.bp.blogspot.com/-wAa5O0sIClM/V53dHW3lV2I/AAAAAAABXzo/w96Do7IzWD4eVoUHLTJEcLCKb5nWHhevgCKgB/s1600/IMG_2694-2386244175-O.jpg")

		//img(src="https://1.bp.blogspot.com/-ZGAkvtDvadk/V53dGrpcjcI/AAAAAAABXzg/s-2JTyOoK7c_pyNVGRPp8S8ddpoM2AXDgCKgB/s1600/IMG_2692-2386243718-O.jpg")
		img(src="https://1.bp.blogspot.com/-bD8HiUFnT7E/V53dI6dp0kI/AAAAAAABX0E/woq2uYCpqAU6ZF-DSbEfZ3ak63i0LfOtACKgB/s1600/IMG_2713-2386246059-O.jpg")
		img(src="https://3.bp.blogspot.com/-YKLdo1ue7KQ/V53dI4prLOI/AAAAAAABX0A/C6NDmSdLhmAEcqs-WevRvHm5WfW6MW8NgCKgB/s1600/IMG_2711-2386245857-O.jpg")

		//img(src="https://2.bp.blogspot.com/-eERmNUsxMkQ/V53dI_pdF4I/AAAAAAABXz8/3ugtdo9L7QsEeM1QkIHRezD5fa9bC3MNwCKgB/s1600/IMG_2708-2386245722-O.jpg")
		img(src="https://1.bp.blogspot.com/-7rQp9m5Ku14/V53dIPoljlI/AAAAAAABXz0/sp5afzpHYOgBPq8v_WO_ykZScCZM8Z1MwCKgB/s1600/IMG_2702-2386245252-O.jpg")
		img(src="https://2.bp.blogspot.com/--izSNEycXWE/V53dIKrf6mI/AAAAAAABXz4/XFZbUKjiHMgmweebNr2xJB6DaAMl64iXgCKgB/s1600/IMG_2700-2386245063-O.jpg")
		img(src="https://1.bp.blogspot.com/-Qdsu77GHQqg/V53dJruiSBI/AAAAAAABX0M/ciZ1uW1230wZuKUZsFFwnN1hEbvZ8xdGQCKgB/s1600/IMG_2715-2386246138-O.jpg")
		//img(src="https://4.bp.blogspot.com/-Z1tQyd5LOaU/V53dKTXJC-I/AAAAAAABX0Y/EWEVA82pZkEdnHvYiaOFZLL3JjQeYeD4gCKgB/s1600/IMG_2721-2386246490-O.jpg")
		img(src="https://2.bp.blogspot.com/-2OQueqT0XW0/V53dKIVUwXI/AAAAAAABX0U/cwbcNbk1UHknQc0kjijS-R5BeMocF2WcQCKgB/s1600/IMG_2719-2386246405-O.jpg")
		img(src="https://1.bp.blogspot.com/-AKWUsAUAOZs/V53dJ3mtnDI/AAAAAAABX0Q/vVdDpYFS9FosDLCwDnh33vmKFT7z4nGLgCKgB/s1600/IMG_2718-2386246327-O.jpg")
		img(src="https://3.bp.blogspot.com/--hm4fOroXtU/V53dJYRMXmI/AAAAAAABX0I/rNWID6GPEe0WWBFHNiOdOKw016haMH6hACKgB/s1600/IMG_2714-2386246116-O.jpg")
		img(src="https://4.bp.blogspot.com/-QOWNY8o5s6U/V53dL6tBICI/AAAAAAABX0w/xzGdcxS4ewEELa0qJmVlu1ErR7AF4iqXwCKgB/s1600/IMG_2734-2386247347-O.jpg")
		img(src="https://2.bp.blogspot.com/-G_Pjj6ZNcN4/V53dLdientI/AAAAAAABX0o/rS5c0Rg2f_Y-yZjMEz9cjFv-S8_qLBtLQCKgB/s1600/IMG_2727-2386246885-O.jpg")

	.photoset(data-layout="132323212132121321")
		//img(src="https://4.bp.blogspot.com/-6iRZDqMAmzE/V53dLD3TC-I/AAAAAAABX0k/RmqheC3NDJ0wCIfCInYQ3XLRwA-szsQxACKgB/s1600/IMG_2726-2386246834-O.jpg")
		//img(src="https://4.bp.blogspot.com/-9z0e1NYQfwc/V53dKyK8wHI/AAAAAAABX0g/j_NFRTE8Gf03JwM3irEdiyK91wRNAq6LACKgB/s1600/IMG_2723-2386246673-O.jpg")
		//img(src="https://3.bp.blogspot.com/-9YSRsk4ITB8/V53dNc9nu9I/AAAAAAABX1M/ipucwflhhXQO46LiDkNrZjTnisMdSSuTACKgB/s1600/IMG_2747-2386242365-O.jpg")
		img(src="https://2.bp.blogspot.com/-sEUZzVzcUz4/V53dKoHsgUI/AAAAAAABX0c/bq48RrykEdEBt2kB16qlMK25mlWbsXCNQCKgB/s1600/IMG_2722-2386246617-O.jpg")

		img(src="https://1.bp.blogspot.com/-Y-1q35JNP-w/V53dNQSorTI/AAAAAAABX1E/-tNliUyJsYQz7289lQUff-DtVu_3OS6vQCKgB/s1600/IMG_2743-2386248064-O.jpg")
		img(src="https://3.bp.blogspot.com/-yu9nvNLMf0M/V53dMKm2u4I/AAAAAAABX00/qbGb40wcd-EMj6gssaGl9u_hfIIUusWcwCKgB/s1600/IMG_2739-2386247544-O.jpg")
		img(src="https://3.bp.blogspot.com/-B3PKiR78iLk/V53dMkWtHjI/AAAAAAABX08/ZoQqB6wCYqIqmaG79liUJFwciL6Us81XACKgB/s1600/IMG_2741-2386247804-O.jpg")

		img(src="https://3.bp.blogspot.com/-RINKoO4JxL8/V53dMy7AdQI/AAAAAAABX1A/fHcLd9VLXFktUTYiE_eFW77E4jT5XV4vACKgB/s1600/IMG_2742-2386247742-O.jpg")
		//img(src="https://1.bp.blogspot.com/-2xD8CFb1c6s/V53dL190x7I/AAAAAAABX0s/K110pHYGSqMZBJGMuth4CQA0UiapqJczACKgB/s1600/IMG_2737-2386247436-O.jpg")
		img(src="https://4.bp.blogspot.com/-tbL5bh1b3Hg/V53dMv9tvtI/AAAAAAABX04/dux1j7VCNvsA2ZarrkIJ-q-MJlRpAi1HQCKgB/s1600/IMG_2740-2386247771-O.jpg")
		//img(src="https://4.bp.blogspot.com/-V8QJ0hyewhY/V53dNWG2VaI/AAAAAAABX1I/E5VjmCpABRIYMfU7NrvgHEhYBRq3prwewCKgB/s1600/IMG_2927-2386248101-O.jpg")

	h2 SEA Aquarium
		.date 7 July
	.story
	.photoset(data-layout="1232W3")
		img(src="https://3.bp.blogspot.com/-mTjtXYNMrGM/V9UQZUvfStI/AAAAAAABZYg/Ilzqx2ZZIlw2EvZwUE9g3BUTc5zgMq2KACLcB/s1600/20130707_153935.jpg")

		img(src="https://2.bp.blogspot.com/-L2IQVUxbLLY/V9UQZY-BztI/AAAAAAABZYc/qP5FiOgcQgUp9yKLHMAGUHIXzzh42OYUgCLcB/s800/20130707_153900.jpg")
		img(src="https://1.bp.blogspot.com/-lSR4ztVunjM/V9UQeTsJQ4I/AAAAAAABZZg/Fjk-TwpwWfIv_TAwTdMGbDnVO3dKWEfpACLcB/s800/20130707_160757.jpg")

		img(src="https://2.bp.blogspot.com/-N8WDsZo3eJ4/V9UQXtaS4aI/AAAAAAABZYI/QwibX4_YfVIG57ckpU2jP6JN5YYYHb0BwCLcB/s500/20130707_150812%25280%2529.jpg")
		img(src="https://4.bp.blogspot.com/-AD2rkUWCBYE/V9UQYIH6zfI/AAAAAAABZYM/nlWFNHugF4A3I0dVjTrydGbFhzoyNCFbgCLcB/s500/20130707_150851.jpg")
		img(src="https://3.bp.blogspot.com/--O7etqtjXQ4/V9UQYRwLGII/AAAAAAABZYQ/4WKXicGDYIcc50DcTChayUpRve4GYSHNQCLcB/s500/20130707_152026.jpg")

		img(src="https://4.bp.blogspot.com/-4_Tfx4nkfRE/V9UQaKqI4tI/AAAAAAABZYo/qKL8dzfdZB0ElJ-aqEmglJqWYNoJRxHaQCLcB/s800/20130707_154104.jpg")
		img(src="https://2.bp.blogspot.com/-urIXVUfooB4/V9UQbzk7yhI/AAAAAAABZZA/pMMfhqCeMxUUbNUi0ksVNJMJNNZzu7JCQCLcB/s800/20130707_155134.jpg")

		img(src="https://2.bp.blogspot.com/-BNaAx0aIgNw/V9UQb5tbtuI/AAAAAAABZZE/tYJf6_zh8Q06J8U_7PAgcECQxb4nL6RfACLcB/s1600/20130707_155344-PANO.jpg")

		img(src="https://4.bp.blogspot.com/-SdLRhbXTpp0/V9UQcr5OQUI/AAAAAAABZZI/zPKUZRQl034ihwfbVUgw65lUmoBAROa2QCLcB/s500/20130707_155718.jpg")
		img(src="https://4.bp.blogspot.com/-iqc13xuHMFE/V9UQc9oTD4I/AAAAAAABZZQ/LGKj29XnyLghWnUETTAGFfAiTFrdWDYVQCLcB/s500/20130707_155832.jpg")
		img(src="https://4.bp.blogspot.com/-UqSObO2vjEs/V9UQcxTfooI/AAAAAAABZZM/_00F7oAFZ3AeTVTXmMgdThSAlxtJ3_gkwCLcB/s500/20130707_160019.jpg")

		//img(src="https://1.bp.blogspot.com/-RRTmAb8zvC8/V9UQZzy1SFI/AAAAAAABZYk/bJ2A5F4-KyI9f5CpB3u61QZd7QkiXmIogCLcB/s1600/20130707_153947.jpg")
		//img(src="https://4.bp.blogspot.com/-gVabyO4daUY/V9UQaFZRvrI/AAAAAAABZYs/AeA1yqoelzMxh04Ehoxbw_-l_ddWdggWgCLcB/s1600/20130707_154117.jpg")
		//img(src="https://4.bp.blogspot.com/-H701eilN5wM/V9UQamyDP7I/AAAAAAABZYw/iFO5UYnvmCs4mOIbCLQl3_6Z7KamxKP2QCLcB/s1600/20130707_154337.jpg")

		//img(src="https://4.bp.blogspot.com/-UUk4JqJ4oGg/V9UQa5GJyVI/AAAAAAABZY0/aVgS8OCJvzwyq7kb_QyJxzxRiCLLINUogCLcB/s1600/20130707_154530.jpg")
		//img(src="https://4.bp.blogspot.com/-7QzMf89iANI/V9UQbNaM_VI/AAAAAAABZY4/1bOghNRZBSUipzYWB2mBRPC7ys0gRI8PACLcB/s1600/20130707_155104.jpg")
		//img(src="https://3.bp.blogspot.com/-TOGnLGtJr9U/V9UQbYmTBLI/AAAAAAABZY8/_bDDdes3pmcpB-Im5Wlu2Xv5TqaG6vSYgCLcB/s1600/20130707_155114.jpg")
		//img(src="https://2.bp.blogspot.com/-Z-4uKmGBdoQ/V9UQdg4KZmI/AAAAAAABZZU/Vy-BxN4LK_Yy1Z9uukrfWBXGrphs72GXQCLcB/s1600/20130707_160246.jpg")
		//img(src="https://4.bp.blogspot.com/-mi4lgeCzhV4/V9UQd57MBNI/AAAAAAABZZY/buOtTMIZb1kcLeISY_0uOuPv_P6rtJ5ZACLcB/s1600/20130707_160344.jpg")
		//img(src="https://1.bp.blogspot.com/-nBEk8BmlqOI/V9UQd0s913I/AAAAAAABZZc/2BqKpnHBGgQGzVpzdq1vwdD9Y3mYd-I9wCLcB/s1600/20130707_160400.jpg")

	.videoset(data="thpVmA94Qtg,xdqPOO_JF1E")
	//,3wIB8lso_1E")
	//.video(data="xdqPOO_JF1E")

	.photoset(data-layout="4321")
		img(src="https://4.bp.blogspot.com/-N5no6F4gdlA/V9UQedDw9YI/AAAAAAABZZk/2zaChYLiaSwaxEJdKGg4oxDurBdBADrsACLcB/s400/20130707_161449.jpg")
		img(src="https://1.bp.blogspot.com/-bBQusbSROjk/V9UQetZKfoI/AAAAAAABZZo/j9Xsg9MCSwwrYEuZeT5avT1ytX50Is7HwCLcB/s400/20130707_161510.jpg")
		img(src="https://4.bp.blogspot.com/-9NS-H3sqZ_E/V9UQfI3epZI/AAAAAAABZZs/GUWyrcEowdAnN8ySKhdvBGor8X-z8EMcgCLcB/s400/20130707_161523.jpg")
		img(src="https://3.bp.blogspot.com/-dJnyc2VuLMA/V9UQfKMXBlI/AAAAAAABZZw/_GtszQtCG3Yy0chfN0rOS2KJ4jv9lqhVwCLcB/s400/20130707_161530.jpg")

		img(src="https://2.bp.blogspot.com/-xYBcb0sJiQY/V9UQfY7WuwI/AAAAAAABZZ0/QOnEz9LByAo_OJiCBOUnON_GREeJWv-2wCLcB/s500/20130707_161535.jpg")
		img(src="https://2.bp.blogspot.com/-q2wKxBl5zcA/V9UQf4mjw3I/AAAAAAABZZ4/uGBn7MvLs-MUY33ntYWpHjmPwcNX6y65QCLcB/s500/20130707_161544.jpg")
		img(src="https://4.bp.blogspot.com/-QPY0_Sug_M8/V9UQf_j-eII/AAAAAAABZZ8/pOodyjNS2EUzoSa71Li1751-kHzXtwU4gCLcB/s500/20130707_161600.jpg")
		//img(src="https://3.bp.blogspot.com/-X6RVwNXwJJI/V9UQgJZIoXI/AAAAAAABZaA/RnGb9MPOCfczqeYd13lVRzPAHzgg3wh4QCLcB/s1600/20130707_161618.jpg")

		img(src="https://4.bp.blogspot.com/-XORi6BacrSw/V9UQgUvQbcI/AAAAAAABZaE/n-whaiclwNQUSG_rXVlnGrjESTdz5FGEwCLcB/s800/20130707_161942.jpg")
		img(src="https://2.bp.blogspot.com/-kF6mt2tBUFk/V9UQgrXHQqI/AAAAAAABZaI/ah0gtp4Lqmwb-8fPqaz20RfudO0wvRxkACLcB/s800/20130707_164318.jpg")
		//img(src="https://4.bp.blogspot.com/-Vy1cUSjt1o4/V9UQhMAz4UI/AAAAAAABZaM/o7WORexa5e8oYFY-Eq4rbEfUPIbEQNhGACLcB/s1600/20130707_164605.jpg")
		img(src="https://1.bp.blogspot.com/-9MvcHF1oxAM/V9UQhSy6sWI/AAAAAAABZaQ/l9MEQIkB1qICvVHg6MKpyfWkWl4PbzFCwCLcB/s1600/20130707_164629.jpg")

	.photoset(data-layout="32")
		img(src="https://2.bp.blogspot.com/-sUmkaW1Z65E/V9UQhe8wc_I/AAAAAAABZaU/2-JVVihjthYA31W2mWZkySXaNiHCy5i9gCLcB/s500/20130707_192549.jpg")
		img(src="https://2.bp.blogspot.com/-TMn-OM-0GDw/V9UQhhj0pEI/AAAAAAABZaY/3sJBCuzOavIi55Gf2-3bL0-_03d4m0EOACLcB/s500/20130707_192634.jpg")
		img(src="https://4.bp.blogspot.com/-U6V7l6HyOjc/V9UQiGmJtXI/AAAAAAABZac/yxlVq1v8JOA4t_tX-COBEVFIz0fBkuNZACLcB/s500/20130707_192650.jpg")
		img(src="https://1.bp.blogspot.com/-ffdVnlAt3ws/V9UQiQP4LeI/AAAAAAABZag/QAfwcH0k2jQjKlFuISI25P1TPTPdblttACLcB/s800/20130707_192735.jpg")
		img(src="https://1.bp.blogspot.com/-7v2dlSXOvE8/V9UWCZjzLeI/AAAAAAABZa0/-kwlXU2SNLs-OOXXNgWXRGPpEptEmOxYwCLcB/s800/20130707_192818.jpg")
	h2 Pasir Ris Park Cycling
		.date 21 October
	.story
	.photoset(data-layout="1232W3232323232")
		img(src="https://1.bp.blogspot.com/-do5peufLxEw/V9gLq3QASEI/AAAAAAABZd8/irAWcBf5PR0DLsqQauvg2EpYeLgqBJhNgCLcB/s1600/20131021_113133.jpg")
		img(src="https://3.bp.blogspot.com/-C95gEOPtTew/V9gLqyAC19I/AAAAAAABZeA/FskTE9choi4JVSvpANjZmWd4MUEVPLhnQCLcB/s1600/20131021_113205.jpg")
		img(src="https://2.bp.blogspot.com/-YVT1QEaFtDI/V9gLqy-oEiI/AAAAAAABZd4/oFXyR0IbBj0cMyfmYCRCSudNO5k-cLh1gCLcB/s1600/20131021_113220.jpg")
		img(src="https://3.bp.blogspot.com/-QCX42B0KLdI/V9gLrvpLvzI/AAAAAAABZeE/NHhE2KFWrLomglb7lR6RsZtB8xaalP_owCLcB/s1600/20131021_113258.jpg")
		img(src="https://3.bp.blogspot.com/-l6TZu5pryIQ/V9gLrk0rkrI/AAAAAAABZeI/Jrp4pYJWwvQ1JAr327RAM4WpvbqGNoFtQCLcB/s1600/20131021_113307.jpg")
		img(src="https://2.bp.blogspot.com/-uhiH2HjvzO0/V9gLr0eZGfI/AAAAAAABZeM/va9BTJDgWG4-bll0D8NqaHixQfFkISq0ACLcB/s1600/20131021_113308.jpg")
		img(src="https://2.bp.blogspot.com/-prc4ayDrxLk/V9gLsbWEgAI/AAAAAAABZeQ/zuBILqiSQbUF014wTZlkLSAt_eDTjlqZgCLcB/s1600/20131021_113413.jpg")
		img(src="https://1.bp.blogspot.com/-SMesoJPIfFM/V9gLshsl9qI/AAAAAAABZeY/udT7CSZeZAMOiiWvU3hhEf1YdFOu1pvKACLcB/s1600/20131021_113419.jpg")
	h2 Punggol Cycling
		.date 21 October
	.story
	.photoset(data-layout="1232W3232323232")
		img(src="https://1.bp.blogspot.com/-j3EnxupHNfo/V9gLs6nQaCI/AAAAAAABZeU/mV9AWOgguPwRALx66ny68xyqINbB_MCdQCLcB/s1600/20131208_091345.jpg")
		img(src="https://4.bp.blogspot.com/-ILq-h--BbJM/V9gLtZJGx8I/AAAAAAABZec/59t1DmV-p6022RjYVU6zxPlxcA-mIBg2gCLcB/s1600/20131208_101521.jpg")
		img(src="https://1.bp.blogspot.com/-EADlAAdxnug/V9gLt9_gJKI/AAAAAAABZeg/350gS0ruDiM2GmMrJwjYyjeiJ4DH8RYfQCLcB/s1600/20131208_101551.jpg")
		img(src="https://1.bp.blogspot.com/-9N-tc37Chro/V9gLuFCmwVI/AAAAAAABZek/FoIf_5pb7g4unvcCy6sz2bn1YSPYXsU9wCLcB/s1600/20131208_101622.jpg")
		img(src="https://1.bp.blogspot.com/-k8sx_MSXba4/V9gLuWVPn9I/AAAAAAABZeo/_YgVmqK6LCcliQRLDgC0KkRumEpDjrOVQCLcB/s1600/20131208_101633.jpg")
		img(src="https://3.bp.blogspot.com/-SMRdJEFB8UA/V9gLu9YPGdI/AAAAAAABZes/wDjXV3mE6_0KlKCSmxTt7bbDrrUf5zYGACLcB/s1600/20131208_101708.jpg")
		img(src="https://2.bp.blogspot.com/-k8T1iuKBO7c/V9gLvSnKUfI/AAAAAAABZew/Gir_hbdYAhYz4sDR0tDkagzQuWsG12DeQCLcB/s1600/20131208_101804.jpg")
		img(src="https://2.bp.blogspot.com/-G_js5ItOcpY/V9gLvXYBOeI/AAAAAAABZe0/JNQBkH_0Xyo_nOHxmg-K1r0eDPO5bSA5QCLcB/s1600/20131208_101842.jpg")
		img(src="https://4.bp.blogspot.com/-DrxmTYWOhpE/V9gLv6A7neI/AAAAAAABZe4/W4U69EHIZBQfquUk-mrnUC0h2cJTrcbKACLcB/s1600/20131208_101857.jpg")
		img(src="https://4.bp.blogspot.com/-juOhUT3r4NM/V9gLwdcy5dI/AAAAAAABZe8/lJpkb7l1cas5sh-LvpOMT9sEK8cfe8DbQCLcB/s1600/20131208_101944.jpg")
		img(src="https://2.bp.blogspot.com/-kyYkRsUXK80/V9gLw38n8pI/AAAAAAABZfA/K9PURgZMRM8rn19ol_y59YrUByOGMHj_wCLcB/s1600/20131208_102010.jpg")
		img(src="https://4.bp.blogspot.com/-Q6JxIaaLs7k/V9gLxO_PqTI/AAAAAAABZfE/SEDXjYZSqt8iGYwqz4LRwE1zje3jaB90ACLcB/s1600/20131208_102102.jpg")
		img(src="https://4.bp.blogspot.com/-bISCyi88N2E/V9gLxVOQN2I/AAAAAAABZfI/0My40OP_lG0MltDvJL-wL4g0a3E1VbvoACLcB/s1600/20131208_102143.jpg")
		img(src="https://1.bp.blogspot.com/-T-6aiwiEXE8/V9gLxrr5KUI/AAAAAAABZfM/6IpQN3-uT5EqpegnfNYZv0HbQFcTuzZrgCLcB/s1600/20131208_102159.jpg")
		img(src="https://3.bp.blogspot.com/-vZ1NMtf89_I/V9gLxzrzdEI/AAAAAAABZfQ/7wjZGVhaxZ0N6lyghsg0UMFb7czjbgaWACLcB/s1600/20131208_102211.jpg")
		img(src="https://4.bp.blogspot.com/-GzqNR_ZQjOo/V9gLyUCERUI/AAAAAAABZfU/JFBCDyn0VfIigBJ15oZcxJM-zP2DIYXBACLcB/s1600/20131208_102222.jpg")
		img(src="https://1.bp.blogspot.com/-qzwxjhnqjpA/V9gLyywatYI/AAAAAAABZfY/pO5Q0LdM0hwEK79UilhK5PHsAi9Xc3cBgCLcB/s1600/20131208_102327.jpg")
		img(src="https://1.bp.blogspot.com/-ci5BIUGxo2k/V9gLzFG457I/AAAAAAABZfc/ELqevTla1W0PjXIAARk_RrndZ6jo_nMXACLcB/s1600/20131208_102451.jpg")
		img(src="https://1.bp.blogspot.com/-cD2Wi-n17mg/V9gLzeD9KKI/AAAAAAABZfg/r2oEa9erzJgXKTN0rUSzuHs_DwgWYujsgCLcB/s1600/20131208_102513.jpg")
		img(src="https://4.bp.blogspot.com/-WwfMQjRC3h8/V9gLz3TUa0I/AAAAAAABZfk/YUvDvM8wrss8O11pz9vxArXVYxJGGhn2QCLcB/s1600/20131208_102524.jpg")
		img(src="https://3.bp.blogspot.com/-bKUTVkZjp0s/V9gL0HCu_mI/AAAAAAABZfo/fq9skgpJ3Qc3wCOy4rkzR_DQFogquhF5gCLcB/s1600/20131208_102530.jpg")
		img(src="https://1.bp.blogspot.com/-nJ7dM95Plhs/V9gL0TwvDOI/AAAAAAABZfs/ZbfMym_Qx3Ap3r9c9H7dfcELq03myrCoQCLcB/s1600/20131208_102608.jpg")
		img(src="https://3.bp.blogspot.com/-13KqS0u9dtA/V9gL0iYSFxI/AAAAAAABZfw/f54yz9u5jJU2fXtOybwAgwQGPLtmLesiACLcB/s1600/20131208_102619.jpg")
		img(src="https://4.bp.blogspot.com/-kUwFEudsLdU/V9gL1GR7btI/AAAAAAABZf0/Q9gFa9XlMB4HZEQIEc-j9m20p5amuKscACLcB/s1600/20131208_102640.jpg")
		img(src="https://1.bp.blogspot.com/-QnZ1QrdNzg0/V9gL1qK_B8I/AAAAAAABZf4/iFCc0XuF_yAlAjRiqLcu82ETOaYjWGNqgCLcB/s1600/20131208_102931.jpg")
		img(src="https://1.bp.blogspot.com/-QvGJf0xa8pg/V9gL2FEZZnI/AAAAAAABZf8/iH_qUgdmNL4GOFxtVaSS53CfnG3M4ULegCLcB/s1600/20131208_102954.jpg")
		img(src="https://2.bp.blogspot.com/-SNGUKOoMP7w/V9gL2Zl9YzI/AAAAAAABZgA/qFAcoi0cOxw6w1CbTfsIUCSm2TUARkpwACLcB/s1600/20131208_103002.jpg")
		img(src="https://2.bp.blogspot.com/-C273bpxfRRY/V9gL2kIR7tI/AAAAAAABZgE/tmXru30_VkU1U0hCgYeCipa6aptd420EwCLcB/s1600/20131208_103013.jpg")
		img(src="https://4.bp.blogspot.com/-64-gY0hX_As/V9gL3SC0vII/AAAAAAABZgM/KEvPJBWcCXAJzfm2L1EJOaA9ITL21uWKwCLcB/s1600/20131208_103015.jpg")
		img(src="https://3.bp.blogspot.com/-8XVODxPgfoo/V9gL3Vmb4jI/AAAAAAABZgI/pg-PNXGLG-wSLFQ2KtHnUj6VrZOgHkyUwCLcB/s1600/20131208_103035.jpg")
		img(src="https://3.bp.blogspot.com/-H_HackPa1r0/V9gL3qfWsUI/AAAAAAABZgQ/uG1_7fc7fVQHqHXPd9Lzz-VmDtbXeJVdwCLcB/s1600/20131208_103043.jpg")
