---
layout: exposure
label: romance
cover: http://4.bp.blogspot.com/-9WyEFmcejoY/V5VShv8K9XI/AAAAAAABXVc/YVhvKCjD54YborTh2pi3MWjIHel3tKz-QCK4B/s1600/203.JPG
title: 2014
excerpt: Air Show
author: Elvin
date: 2014-01-01
permalink: /2014
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 Air Show
		.date 18 January
	.story
	.photoset(data-layout="3132313231323132313231323132")
		img(src="http://4.bp.blogspot.com/-hnTpv9mK2PA/V5VSg1mpoXI/AAAAAAABXT0/plrUlUDyA8MAj7xNDnIic7tfvucHqPPrwCK4B/s1600/276.JPG")
		img(src="http://2.bp.blogspot.com/-9AGdfPk6UuI/V5VSgWIx_nI/AAAAAAABXTQ/qI0W33gSMewD6cq3KvCn-OgpopgPcgyBgCK4B/s1600/274.JPG")
		img(src="http://3.bp.blogspot.com/-iHNWyXd7HU8/V5VSgDh3fJI/AAAAAAABXTA/trVuhE5JM2ox8ncHlHGlbj6OylIG-EEjQCK4B/s1600/264.JPG")
		img(src="http://3.bp.blogspot.com/-UxpqVZb8foo/V5VSguOVDYI/AAAAAAABXTk/1LhzIdKdNrEr8KYdr7yvUlZFiZK6CRtzACK4B/s1600/250.JPG")
		img(src="http://4.bp.blogspot.com/-Z8I7QjWftCw/V5VSgchTe7I/AAAAAAABXTg/LfGjEARkWq0M8tgBzeYJhLk2IdO0-DCeQCK4B/s1600/246.JPG")
		img(src="http://3.bp.blogspot.com/-nJLbegIaw8o/V5VShG9zD4I/AAAAAAABXWE/wRxQO2IsZVgwkd-KAZg3daG_BtR3_nhmgCK4B/s1600/241.JPG")
		img(src="http://2.bp.blogspot.com/-JUQ724RS-hs/V5VSgsTgVXI/AAAAAAABXWc/leOtYO11nd4xJFDOd3hBI3PDPKPiK_IHQCK4B/s1600/235.JPG")
		img(src="http://2.bp.blogspot.com/-RFQ7WYxAYwg/V5VShMniM7I/AAAAAAABXVs/PLSgmdf7Btsui6WcDRYlCeFTYflmCOCZQCK4B/s1600/234.JPG")
		img(src="http://4.bp.blogspot.com/-y7VeE_GW8Zw/V5VSg1-hobI/AAAAAAABXUE/4jyb9XmGJuMXC_HgTxpUPrevYwtSn1dawCK4B/s1600/225.JPG")
		img(src="http://4.bp.blogspot.com/-5C-1XxtDR38/V5VSgX3bUMI/AAAAAAABXTU/7K23BeENsWsdqGVrbJkMA9XnvJpGTgC0wCK4B/s1600/211.JPG")
		img(src="http://2.bp.blogspot.com/-ug8m8HrUqdo/V5VShMzS73I/AAAAAAABXUU/MdExmId4OIEmCN93TSYAU92XtJ15dPfiwCK4B/s1600/208.JPG")
		img(src="http://1.bp.blogspot.com/-PY6OX97tqRI/V5VSgz3a8hI/AAAAAAABXWU/kfYyYOe3jNYlKNFuon0ZsW6PDY5aRGRhgCK4B/s1600/207.JPG")
		img(src="http://4.bp.blogspot.com/-iqBtZtQoWeE/V5VSh0yx5XI/AAAAAAABXU4/3SshSoajAm85NfTVQETmaWF80EAFfzK3ACK4B/s1600/206.JPG")
		img(src="http://4.bp.blogspot.com/-rmbzejKWxcA/V5VSh9PJGpI/AAAAAAABXVI/5QuJL0sHAKgaBq9K38lKubK_C_lK4KmGgCK4B/s1600/204.JPG")
		img(src="http://4.bp.blogspot.com/-9WyEFmcejoY/V5VShv8K9XI/AAAAAAABXVc/YVhvKCjD54YborTh2pi3MWjIHel3tKz-QCK4B/s1600/203.JPG")
		img(src="http://1.bp.blogspot.com/-lX_PeOXj4yc/V5VSgOhxHTI/AAAAAAABXTE/ZFM52MceCqIsUPnI5oMN8sPYKAELmjDQwCK4B/s1600/202.JPG")
		img(src="http://4.bp.blogspot.com/-HcOFclvg9Sk/V5VShMYMf2I/AAAAAAABXWA/kIcc1GrbVG4HSRqc3iJasW8LmKiWeXhEACK4B/s1600/198.JPG")
		img(src="http://3.bp.blogspot.com/-DsKFIq68B2U/V5VShYtiKbI/AAAAAAABXUQ/kxfuA4HLyNojXGQHEGX7-xAoaAqDS1e-ACK4B/s1600/197.JPG")
		img(src="http://1.bp.blogspot.com/-n_Qx3ew6Lhw/V5VShw0CtcI/AAAAAAABXU0/iVGJWvRV7uooVX57FFlXONDB4REM4JL2ACK4B/s1600/194.JPG")
		img(src="http://4.bp.blogspot.com/-bOr1_yvxfnY/V5VShVDDteI/AAAAAAABXUg/uoOYDsuO4AUMfFW3MiEIJ34wKDhCbyp5QCK4B/s1600/192.JPG")
		img(src="http://1.bp.blogspot.com/-9UoXXaom0pE/V5VShN-JpKI/AAAAAAABXWQ/VHOeGmBb3AIZV3YiJjPL2xJVmwk2o-dUACK4B/s1600/190.JPG")
		img(src="http://2.bp.blogspot.com/-416wU5Vu0rQ/V5VSh1qjFGI/AAAAAAABXVo/3TXU_wKscj8i8Ent1A8Gp0HZzBLz7C9-gCK4B/s1600/185.JPG")
		img(src="http://1.bp.blogspot.com/-BfL-NcOodgY/V5VShnj_EBI/AAAAAAABXVM/kFka0wdc0q0FYZWCb6o-xdZ4DSGE0o9IACK4B/s1600/183.JPG")
		img(src="http://3.bp.blogspot.com/-52GZClfvW1c/V5VShIePLwI/AAAAAAABXUA/z1KGsrIFmHQ-CWVIdaiASRqGz6OV8_TmQCK4B/s1600/182.JPG")
		img(src="http://4.bp.blogspot.com/-tLZ6NCiWkiQ/V5VSgzw9uWI/AAAAAAABXTw/Lg8cg3mXhkkbT0R2c3zCxam8OO4giaB8QCK4B/s1600/173.JPG")
		img(src="http://4.bp.blogspot.com/-lvltXkFhvD8/V5VShIJAgUI/AAAAAAABXV8/lbnd8Qrm2jMaJwpVZUxxb5KZXsKo4nfswCK4B/s1600/169.JPG")
		img(src="http://3.bp.blogspot.com/-KYXjhW5ZQxk/V5VShm4FztI/AAAAAAABXU8/wsv1GqpCQ48_IDePGjvIGUTm31okLXCxgCK4B/s1600/159.JPG")
		img(src="http://4.bp.blogspot.com/-KiothOGd8B0/V5VShFlcTRI/AAAAAAABXUk/yTQw88rx_iYhhvS7dtzkYPM4K0ClDXc7ACK4B/s1600/158.JPG")
		img(src="http://2.bp.blogspot.com/-1_h0X2cDbfU/V5VSiP8i8hI/AAAAAAABXVY/IW3F1xkhPJoVwAGZ2D-5cXz1lJ7WIDc-QCK4B/s1600/148.JPG")
