---
layout: exposure
label: romance
cover: https://4.bp.blogspot.com/-aKdhT1jRACw/V37pMJkpmnI/AAAAAAABWvY/8_Av3OZOUlMxylu22mVmOth-jEY3OmDmQCLcB/s1600/IMG_0798.jpg
title: 2015
excerpt: NDP, Istana
author: Elvin
date: 2015-01-01
permalink: /2015
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 National Day Parade
	.story
	.photoset(data-layout="232323232323")
		img(src="https://4.bp.blogspot.com/-aKdhT1jRACw/V37pMJkpmnI/AAAAAAABWvY/8_Av3OZOUlMxylu22mVmOth-jEY3OmDmQCLcB/s1600/IMG_0798.jpg")
		img(src="https://2.bp.blogspot.com/-9bjzoO3i9W0/V37pMGDKjBI/AAAAAAABWvU/V3N1t5Owsn0hxSedrcq69VxTZXSoKEyPwCLcB/s1600/IMG_0800.jpg")
		img(src="https://1.bp.blogspot.com/-enmXseLQIbk/V37pL2yDIPI/AAAAAAABWvQ/PJBMhqgawlkOsxSzEu-ljlS0I6XHGINhQCLcB/s1600/IMG_0802.jpg")
		img(src="https://4.bp.blogspot.com/-lY5NPe_Dl8g/V37pNEIS7fI/AAAAAAABWvg/GSx5DDbbnbQhUBDFr7msfz7GyS2dDq7GQCLcB/s1600/IMG_0804.jpg")
		img(src="https://2.bp.blogspot.com/-CKH6z-cv-4k/V37pMzOzwhI/AAAAAAABWvc/uwaR6D3CB30op2buOVbziaPeGnQWPefZwCLcB/s1600/IMG_0807.jpg")
		img(src="https://1.bp.blogspot.com/-ngzOQJki_tw/V37pM_NmFoI/AAAAAAABWvk/KyQwYJLfIGomsDyPbVpfhjaByz4CblypwCLcB/s1600/IMG_0812.jpg")
		img(src="https://1.bp.blogspot.com/-LOU56Dfpgec/V37pNl3bk7I/AAAAAAABWvo/YVeCyBG0rNYsRpWEK7FJZEuOEMKNPz5nACLcB/s1600/IMG_0815.jpg")
		img(src="https://1.bp.blogspot.com/-taSP-2xT9tU/V37pN__PBSI/AAAAAAABWvs/bxQH-FNGPl0g4d_QXv1AK_eyG95hdSFcgCLcB/s1600/IMG_0819.jpg")
		img(src="https://3.bp.blogspot.com/-qKaDbSzLOpU/V37piHSC2VI/AAAAAAABWv0/r-7EBnCJN4U5cVNS6rogzguKE0MrrKb0ACLcB/s1600/IMG_0816.jpg")
		img(src="https://3.bp.blogspot.com/-8uVeRqsGosY/V37piFkb1sI/AAAAAAABWvw/R1HxBGbdZrQmB1rilBbC3osJ6FFoWVssACLcB/s1600/IMG_0827.jpg")
		img(src="https://4.bp.blogspot.com/-O1PHetMo0DM/V37piBIB2QI/AAAAAAABWv4/4NGR2MnWlowRSul8iCWz2loLUHHajn19QCLcB/s1600/IMG_0830.jpg")
		img(src="https://2.bp.blogspot.com/-Xy6RibQxF0c/V37p2RPoheI/AAAAAAABWwA/iMl-LNXzn1Ag4lwIBKqay6aPR5RhkB3hwCLcB/s1600/IMG_0843.jpg")
		img(src="https://3.bp.blogspot.com/-h3FUBRNa1ic/V37p2f1floI/AAAAAAABWv8/f9JL4XYTNP0MLX8D6rsQR1w66-SuWHmwwCLcB/s1600/IMG_0849.jpg")
		img(src="https://3.bp.blogspot.com/-zEeO3TxUXAc/V37p2a-b_MI/AAAAAAABWwE/ra14mIAEMBIxRmbeI9nXUOFJKYQ-_u0SgCLcB/s1600/IMG_0851.jpg")
		img(src="https://1.bp.blogspot.com/-l6JvJT7qZKc/V37p3Dv1gTI/AAAAAAABWwQ/3TR2rdbfqYIsyMEYQQXA9qe1ijMGusUsgCLcB/s1600/IMG_0853.jpg")
		img(src="https://3.bp.blogspot.com/-mECN2AV4p6c/V37p3GlK5aI/AAAAAAABWwM/2MJIpU5TNPgM70Rt8IwBfMmcyLW1BcAngCLcB/s1600/IMG_0854.jpg")
		img(src="https://3.bp.blogspot.com/-2UT120y8u8g/V37p3ZX5f6I/AAAAAAABWwU/uZ5FdZU67hYWIzVnyam5mJ3FCKDbfFSAACLcB/s1600/IMG_0857.jpg")
