---
layout: exposure
label: romance
cover: https://4.bp.blogspot.com/-aKdhT1jRACw/V37pMJkpmnI/AAAAAAABWvY/8_Av3OZOUlMxylu22mVmOth-jEY3OmDmQCLcB/s1600/IMG_0798.jpg
title: 2015
excerpt: NDP, Istana
author: Elvin
date: 2015-01-01
permalink: /2015
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 National Day Parade
	.story
	.photoset(data-layout="232323232323")
		img(src="https://4.bp.blogspot.com/-aKdhT1jRACw/V37pMJkpmnI/AAAAAAABWvY/8_Av3OZOUlMxylu22mVmOth-jEY3OmDmQCLcB/s1600/IMG_0798.jpg")
		img(src="https://2.bp.blogspot.com/-9bjzoO3i9W0/V37pMGDKjBI/AAAAAAABWvU/V3N1t5Owsn0hxSedrcq69VxTZXSoKEyPwCLcB/s1600/IMG_0800.jpg")
		img(src="https://1.bp.blogspot.com/-enmXseLQIbk/V37pL2yDIPI/AAAAAAABWvQ/PJBMhqgawlkOsxSzEu-ljlS0I6XHGINhQCLcB/s1600/IMG_0802.jpg")
		img(src="https://4.bp.blogspot.com/-lY5NPe_Dl8g/V37pNEIS7fI/AAAAAAABWvg/GSx5DDbbnbQhUBDFr7msfz7GyS2dDq7GQCLcB/s1600/IMG_0804.jpg")
		img(src="https://2.bp.blogspot.com/-CKH6z-cv-4k/V37pMzOzwhI/AAAAAAABWvc/uwaR6D3CB30op2buOVbziaPeGnQWPefZwCLcB/s1600/IMG_0807.jpg")
		img(src="https://1.bp.blogspot.com/-ngzOQJki_tw/V37pM_NmFoI/AAAAAAABWvk/KyQwYJLfIGomsDyPbVpfhjaByz4CblypwCLcB/s1600/IMG_0812.jpg")
		img(src="https://1.bp.blogspot.com/-LOU56Dfpgec/V37pNl3bk7I/AAAAAAABWvo/YVeCyBG0rNYsRpWEK7FJZEuOEMKNPz5nACLcB/s1600/IMG_0815.jpg")
		img(src="https://1.bp.blogspot.com/-taSP-2xT9tU/V37pN__PBSI/AAAAAAABWvs/bxQH-FNGPl0g4d_QXv1AK_eyG95hdSFcgCLcB/s1600/IMG_0819.jpg")
		img(src="https://3.bp.blogspot.com/-qKaDbSzLOpU/V37piHSC2VI/AAAAAAABWv0/r-7EBnCJN4U5cVNS6rogzguKE0MrrKb0ACLcB/s1600/IMG_0816.jpg")
		img(src="https://3.bp.blogspot.com/-8uVeRqsGosY/V37piFkb1sI/AAAAAAABWvw/R1HxBGbdZrQmB1rilBbC3osJ6FFoWVssACLcB/s1600/IMG_0827.jpg")
		img(src="https://4.bp.blogspot.com/-O1PHetMo0DM/V37piBIB2QI/AAAAAAABWv4/4NGR2MnWlowRSul8iCWz2loLUHHajn19QCLcB/s1600/IMG_0830.jpg")
		img(src="https://2.bp.blogspot.com/-Xy6RibQxF0c/V37p2RPoheI/AAAAAAABWwA/iMl-LNXzn1Ag4lwIBKqay6aPR5RhkB3hwCLcB/s1600/IMG_0843.jpg")
		img(src="https://3.bp.blogspot.com/-h3FUBRNa1ic/V37p2f1floI/AAAAAAABWv8/f9JL4XYTNP0MLX8D6rsQR1w66-SuWHmwwCLcB/s1600/IMG_0849.jpg")
		img(src="https://3.bp.blogspot.com/-zEeO3TxUXAc/V37p2a-b_MI/AAAAAAABWwE/ra14mIAEMBIxRmbeI9nXUOFJKYQ-_u0SgCLcB/s1600/IMG_0851.jpg")
		img(src="https://1.bp.blogspot.com/-l6JvJT7qZKc/V37p3Dv1gTI/AAAAAAABWwQ/3TR2rdbfqYIsyMEYQQXA9qe1ijMGusUsgCLcB/s1600/IMG_0853.jpg")
		img(src="https://3.bp.blogspot.com/-mECN2AV4p6c/V37p3GlK5aI/AAAAAAABWwM/2MJIpU5TNPgM70Rt8IwBfMmcyLW1BcAngCLcB/s1600/IMG_0854.jpg")
		img(src="https://3.bp.blogspot.com/-2UT120y8u8g/V37p3ZX5f6I/AAAAAAABWwU/uZ5FdZU67hYWIzVnyam5mJ3FCKDbfFSAACLcB/s1600/IMG_0857.jpg")
	.videoset(data="jtKip0kTG60,pg7vaT6a1XQ,f8JR0l8jtIs,SCHQvQAjRe4,divr3cStpCQ")

.group
	h2 Istana Open House - 25 Sep
	.story
	.photoset(data-layout="23231213232323")
		//img(src="https://4.bp.blogspot.com/-3I53TaB_80E/V4A52RBmxdI/AAAAAAABWxA/lfXB0BOX8VwNZvOyrh0Va-mHHGJuG50bACLcB/s1600/IMG_0867.JPG")
		//img(src="https://2.bp.blogspot.com/-ZWwa8tNt7hE/V4A55H_VqDI/AAAAAAABWxc/kZFETvP1FXgIpLNvOFMUGIHE8tK7e4IbgCLcB/s1600/IMG_0896.JPG")

		img(src="https://4.bp.blogspot.com/-Mq3jbLFWHd4/V4A52qLtK-I/AAAAAAABWxE/434fmu80nMYUy0ux_Kha2348tuweIDk1wCLcB/s1600/IMG_0861.JPG")
		img(src="https://2.bp.blogspot.com/-wkp_8Qe5mVU/V4A53wLqwpI/AAAAAAABWxQ/aoHmvwQM4foEK_Cqd9CmMkt3fzfJjXVHACLcB/s1600/IMG_0871.JPG")

		img(src="https://4.bp.blogspot.com/-75ixrRXcGo4/V4A53h3jrnI/AAAAAAABWxI/9uhah10OBr0i7ZIhXlsLurxfxzA7uLqLACLcB/s1600/IMG_0882.JPG")
		img(src="https://4.bp.blogspot.com/--WhpeoinnyA/V4A53mSXGBI/AAAAAAABWxM/stgmqNWLKY0KCDyq-xV_JX5WR7aS9GeBACLcB/s1600/IMG_0886.JPG")
		img(src="https://3.bp.blogspot.com/-2fewIl07sNM/V4A54f2LbVI/AAAAAAABWxU/KiuUugCgq80FgVuMB-yqVdWdeeKA2_VOACLcB/s1600/IMG_0890.JPG")

		img(src="https://2.bp.blogspot.com/-7ZPkz73yoAY/V4A55C9BICI/AAAAAAABWxY/xcXmvr1aCekHPNGtH6d6hrRoH9UUwns-gCLcB/s1600/IMG_0897.JPG")
		img(src="https://4.bp.blogspot.com/-rVeJi0vbWIo/V4A55UBDWDI/AAAAAAABWxg/QTsAtfXQR_Uv7wJU1DMrfvGGuKFOHgi5ACLcB/s1600/IMG_0904.JPG")

		img(src="https://1.bp.blogspot.com/-BG79gnJVh1k/V4A56HeTlCI/AAAAAAABWxk/3QGyypHwoZISv6qdKA27bTpzL9bIKqB0ACLcB/s1600/IMG_0905.JPG")
		img(src="https://3.bp.blogspot.com/-kpNIuCmIKGs/V4A56Wi8XaI/AAAAAAABWxo/ffBjKReP2n8SktOLydjqWADfeV1wBmecQCLcB/s1600/IMG_0910.JPG")
		img(src="https://1.bp.blogspot.com/-e532C-Ehuyk/V4A57KbC39I/AAAAAAABWxw/F-fdYKC0q0g11BC7xMz3xRBl-80dYdf9gCLcB/s1600/IMG_0932.JPG")
		//img(src="https://1.bp.blogspot.com/-bcdUjodX1Ng/V4A52apIBSI/AAAAAAABWw8/sROVv-9wyfM-1AhlLoo_8gX3jbZah4WkQCLcB/s1600/IMG_0869.JPG")

		img(src="https://2.bp.blogspot.com/-dJCFkCOEC1k/V4A56rhzvnI/AAAAAAABWxs/gCzzjcg78b4_ZRuMld4AjastMk5wRPmfgCLcB/s1600/IMG_0914.JPG")

		img(src="https://2.bp.blogspot.com/-Uh2D6N5e3yk/V4A57UIRbdI/AAAAAAABWx0/3KlRnEf-ZD0pI3CdSp9IHZTgRi9JvswzgCLcB/s1600/IMG_0935.JPG")
		img(src="https://4.bp.blogspot.com/-qsoOFRrZMhw/V4A5781uWXI/AAAAAAABWx4/IttVXCf5zTMTgx3Yzwf9-BNy8qcPo18PQCLcB/s1600/IMG_0936.JPG")

		img(src="https://4.bp.blogspot.com/-5t2rr_ZabZQ/V4C0drGUkXI/AAAAAAABWyw/lTHLq0xAbHcEOFGXmlLPB9x8IqK5IacLgCLcB/s1600/Istana.jpg")

		img(src="https://3.bp.blogspot.com/-6BdpnRoN4mc/V4A575I_sZI/AAAAAAABWx8/reG_ldElgro76kwfoxUCYHn8yHLT0VT5ACLcB/s1600/IMG_0939.JPG")
		img(src="https://3.bp.blogspot.com/-OjGZwLesTXs/V4A58oOsPtI/AAAAAAABWyA/aaNRbhSyfFQiQPH5q_GTJ3Z3B2Gdw1TnwCLcB/s1600/IMG_0944.JPG")
		img(src="https://2.bp.blogspot.com/-NQHcNsftXUg/V4A58yDuRPI/AAAAAAABWyE/fUQqqglc70U4aGpksHFV6Na-RTG4GlH0QCLcB/s1600/IMG_0950.JPG")
