---
layout: exposure
label: romance
cover: https://4.bp.blogspot.com/-aKdhT1jRACw/V37pMJkpmnI/AAAAAAABWvY/8_Av3OZOUlMxylu22mVmOth-jEY3OmDmQCLcB/s1600/IMG_0798.jpg
title: 2015
excerpt: River Safari, NDP, Istana
author: Elvin
date: 2015-01-01
permalink: /2015
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 River Safari
		.date 18 January
	.story
	.photoset(data-layout="1232323232323")
		img(src="https://4.bp.blogspot.com/-uuxykSNp4yo/V4T-XnuYvPI/AAAAAAABXB0/7F-q7SQzrYA33wktyXg2v2kY61Vc-xk9gCLcB/s1600/IMG_20150118_111104.jpg")
		img(src="https://4.bp.blogspot.com/-UBvAlQI3Uhc/V4TyVPH2mBI/AAAAAAABXA0/OHP9_nvtmaoetipuUt2dhft-VBo7rie4QCLcB/s800/IMG_20150118_111102.jpg")
		img(src="https://3.bp.blogspot.com/-QVYrltfAm0g/V4TyVImb2AI/AAAAAAABXA4/AL4QEJR07eUao4epsQOxYnXTkrX97_7PwCLcB/s800/IMG_20150118_111111.jpg")
		img(src="https://2.bp.blogspot.com/-aeEyE2gQhDU/V4OcOc4M8bI/AAAAAAABW4s/nM_EPg3Lx4U0HsNVrHVQXR2dHm7f_zOlACKgB/s800/Fish3.gif")

		//img(src="https://3.bp.blogspot.com/-C7Jg_NXW8kA/V4Ogq6uFoLI/AAAAAAABW44/VUuUhmZs8rMgQ41jYH7LfjuWFUwa4dRbwCLcB/s800/IMG_20150118_095302.jpg")
		//img(src="https://2.bp.blogspot.com/-bAsIaK4OMYA/V4Ogs0Y21qI/AAAAAAABW5M/OKYynCEew_QgfC-fanMOn0A4VMtg4dc1gCLcB/s500/IMG_20150118_101200.jpg")
		//img(src="https://2.bp.blogspot.com/-yPe89WmKPPg/V4OgsstK0GI/AAAAAAABW5E/VFsamszMRdgNcReRX71rfkZ01JuFdzbXwCLcB/s500/IMG_20150118_102717.jpg")
		//img(src="https://3.bp.blogspot.com/-yXyvAzK9HkA/V4OgurhtBAI/AAAAAAABW5U/BX_oeuTDruMkaYCymQ9zusgZNLbZ2OfkgCLcB/s500/IMG_20150118_103603.jpg")

		img(src="https://2.bp.blogspot.com/-n6iCrKD2wkE/V4Ogu5QkXRI/AAAAAAABW5c/PhAZQlPMM_UJ6qIoQUtZy56yfr5Uv7EhQCLcB/s800/IMG_20150118_103644.jpg")
		img(src="https://2.bp.blogspot.com/-2JKCDcWHNns/V4OgvpDfsqI/AAAAAAABW5g/Vp9n3E_qMywFNbCRtua-I4X8pkx0Tkl6gCLcB/s800/IMG_20150118_104036.jpg")

		//img(src="https://4.bp.blogspot.com/-3KQXXsN4gYE/V4Ogu-vIb8I/AAAAAAABW5Y/-TldrgBZxxkU3rVv8xKXZGy1m9fxErfCQCLcB/s500/IMG_20150118_103243.jpg")
		img(src="https://4.bp.blogspot.com/-eFYQIsOuO-w/V4OgxckVw4I/AAAAAAABW5o/39KCpowfWo4BwvDqi39n8TBcguaoZEPNwCLcB/s500/IMG_20150118_104120.jpg")
		img(src="https://4.bp.blogspot.com/-eQuceurQmkE/V4OgxUbP4VI/AAAAAAABW5k/VBQJBvngvks3GuoxYbzkD_wW4HDuxBXgACLcB/s500/IMG_20150118_104128.jpg")

		//img(src="https://2.bp.blogspot.com/-8DrziPR1iCI/V4Ogq6XJCkI/AAAAAAABW48/VpWcaQIrPIwR1csDCvfPPgBPoVWYhltOACLcB/s1600/IMG_20150118_095727.jpg")
		//img(src="https://3.bp.blogspot.com/-4HFrRiwOaoI/V4Ogqw-jkcI/AAAAAAABW5A/Ukngvn8SALQmoRHBSQVq4CrQHxua1wXIgCLcB/s1600/IMG_20150118_095826.jpg")
		//img(src="https://2.bp.blogspot.com/-PHENaXe94gA/V4OgtmICIjI/AAAAAAABW5Q/IEmu2sSRBdMxC9ZgHR4ceJrftZZciArBgCLcB/s1600/IMG_20150118_103602-MIX.jpg")
		//img(src="https://4.bp.blogspot.com/-SnFzHxwPg3o/V4Ogx27ne6I/AAAAAAABW5s/AzT0WdBGEhECkTzaP6yzj5n0kacemNBagCLcB/s1600/IMG_20150118_104147.jpg")
		//img(src="https://2.bp.blogspot.com/-EfkPJanicDY/V4Ogz3FBQ_I/AAAAAAABW54/C6hUC6_K89ciWEhCjxOgFQnadVsGC6-igCLcB/s1600/IMG_20150118_105145.jpg")
		//img(src="https://2.bp.blogspot.com/-9kn6-7VLhmY/V4Ogz9IaKcI/AAAAAAABW50/PQ2eJJ6lXrANlPSBozvlWV3q8T1HeZb0QCLcB/s1600/IMG_20150118_105431.jpg")

	.videoset(data="nIXG1KykSo0,uhh-9dFP4ZI,TwpiE58fOhY,PltUs0xBQmM")

	.story Antoinette
	.photoset(data-layout="2342323232323")
		img(src="https://1.bp.blogspot.com/-ZDkjmnxMeKs/V4TyaPof7GI/AAAAAAABXBk/yYs0cOUSb5k43kCzhHx0-N3N_PtEX0wLwCLcB/s800/IMG_20150118_150843.jpg")
		img(src="https://1.bp.blogspot.com/-cLxgKOr2VSc/V4TyWYnMTEI/AAAAAAABXBE/CQvaSMuOwDQE56s2aALeB_8BHNJBhfy1QCLcB/s800/IMG_20150118_150848.jpg")
		img(src="https://2.bp.blogspot.com/-1pr1v45zIck/V4TyXPwXpkI/AAAAAAABXBI/18Ey2Y8Diyku1ZZ2rvL2hXr472GD4pO3wCLcB/s500/IMG_20150118_151054.jpg")
		img(src="https://2.bp.blogspot.com/-s2ZXumrUJkQ/V4TyXd9ChnI/AAAAAAABXBM/hHlImROkzKkQPRqTIg_YURhiY57f5uQWQCLcB/s500/IMG_20150118_151056.jpg")
		img(src="https://4.bp.blogspot.com/-VBQkpUb2FKg/V4TyYOanutI/AAAAAAABXBQ/tH7AlMhGADwooQRCvAWMqDy3Q-6oPSzoACLcB/s500/IMG_20150118_151059.jpg")
		img(src="https://3.bp.blogspot.com/-n4D-c4bsPZE/V4TyYALPivI/AAAAAAABXBU/EvcFKepmHPokQu01HLKyp3kvwtJ8rDSWQCLcB/s400/IMG_20150118_153616.jpg")
		img(src="https://4.bp.blogspot.com/-3mPJtaQTQKE/V4TyZFT-L-I/AAAAAAABXBY/7UNqO6xS194YWawhtYJ4_nk_P6qcETuegCLcB/s400/IMG_20150118_153621.jpg")
		img(src="https://4.bp.blogspot.com/-eQM2bU6Yc4A/V4TyZQ935-I/AAAAAAABXBc/MCl1s5Up_3gj_2dkobv1aPOhSxMnnsrNACLcB/s400/IMG_20150118_153631.jpg")
		img(src="https://3.bp.blogspot.com/-gchELfWtdsQ/V4TyaC55XVI/AAAAAAABXBg/BUx-YjB3suofWQK64j0j2fDpuDeJhfcAACLcB/s400/IMG_20150118_153634.jpg")

		//img(src="https://4.bp.blogspot.com/-YIORx6TIFnc/V4TyWG8OvrI/AAAAAAABXBA/OmtRHunn7mso5PvWBVI1aS-UsS9cvydCgCLcB/s1600/IMG_20150118_111113.jpg")
		//img(src="https://4.bp.blogspot.com/-eqAK5gOkZXg/V4Og2Rv-yjI/AAAAAAABW6I/hYzYOLXVT_sFw2yu8F4DRE2SliBgqVHYQCLcB/s500/IMG_20150118_111102.jpg")
		//img(src="https://4.bp.blogspot.com/-tr3ni6E_qTE/V4Og25z4JdI/AAAAAAABW6Q/Lr6c8cDYKEwuNCc6zVsl5BUidUp_5czCgCLcB/s500/IMG_20150118_111104.jpg")
		//img(src="https://2.bp.blogspot.com/-dK-c7JLr3eE/V4Og3lXc--I/AAAAAAABW6U/t_YDHEKUHRQZkoUxJuKMyefl2H2G2f7ZwCLcB/s500/IMG_20150118_111111.jpg")
		//img(src="https://1.bp.blogspot.com/-LIE8PXuRnwg/V4OgzsfvRdI/AAAAAAABW5w/3S23ku1cU4UOk-LwrV1n0EMzBZsMuCA4QCLcB/s500/IMG_20150118_105543.jpg")
		//img(src="https://3.bp.blogspot.com/-H2s0VTq-K4I/V4Og1q_303I/AAAAAAABW6A/zFsFWxDt_h4nalAbmmCoNzpQpH1BrJl4wCLcB/s500/IMG_20150118_105834.jpg")
		//img(src="https://1.bp.blogspot.com/-H_LQcupxWaM/V4Og2IijtgI/AAAAAAABW6E/h88I0OdBYho7jgKRGDSg8oZLshGvy0d7ACLcB/s500/IMG_20150118_110647.jpg")
		//img(src="https://2.bp.blogspot.com/-X8xpffB7emA/V4Og1ZBhR3I/AAAAAAABW58/orFUDEpJ8HAjozfoy6fRmPDlfyvKh_fvACLcB/s1600/IMG_20150118_110330.jpg")
		//img(src="https://2.bp.blogspot.com/-HPMGsldaDtc/V4Og2_1IKHI/AAAAAAABW6M/dDf82i7DAHYTXmUqfcfALCvGwamVr5hTwCLcB/s1600/IMG_20150118_111108-MIX.jpg")
		//img(src="https://4.bp.blogspot.com/-phH2RbpKPBs/V4Og39cV5KI/AAAAAAABW6Y/AUb3tEHTusceg8lVa6vCTA43rQUjheFZwCLcB/s1600/IMG_20150118_111113.jpg")
		//img(src="https://1.bp.blogspot.com/-P5eafqoNea0/V4Og36zrbkI/AAAAAAABW6c/DsQ7-pMzLnsn3CYf6_C5yXTsVqGjIp0YQCLcB/s1600/IMG_20150118_115112.jpg")
		//img(src="https://4.bp.blogspot.com/-HpN46N1rHbo/V4Og4vG_ejI/AAAAAAABW6g/KhBINznQdIcNcTYNCgw3a5k_hgkrrGAnwCLcB/s800/IMG_20150118_150843.jpg")
		//img(src="https://2.bp.blogspot.com/-rduMz16r8YA/V4Og5KiBAsI/AAAAAAABW6k/gJZEeanMS_M5nuvnykrsCWFhnWmJB_V-gCLcB/s800/IMG_20150118_150848.jpg")
		//img(src="https://3.bp.blogspot.com/-nCCE7piFtac/V4Og6z17PhI/AAAAAAABW68/6eCYmxIT0zkR51MtuChcqbLPLbxlr0gPwCLcB/s500/IMG_20150118_151054.jpg")
		//img(src="https://4.bp.blogspot.com/-0pJ7T7E3RlA/V4Og7IaB7dI/AAAAAAABW7A/U3EEQXCGCuUyhNP8yQZdCldjcEEyiyiXACLcB/s500/IMG_20150118_151056.jpg")
		//img(src="https://2.bp.blogspot.com/-BBU1p4K-5Vk/V4Og8OHsPMI/AAAAAAABW7M/qzkubbJnQfkhPpahMu0yUuQsR3jFFXFHQCLcB/s500/IMG_20150118_151059.jpg")
		//img(src="https://4.bp.blogspot.com/-MV6rv-NSRPM/V4Og9jfexiI/AAAAAAABW7c/gjOGh0e0ZE0MJpCZPjp4B4l-6NlQWAVzgCLcB/s400/IMG_20150118_153616.jpg")
		//img(src="https://4.bp.blogspot.com/-KGiZ8GpsnlA/V4Og-PQEHsI/AAAAAAABW7g/Y-wVnY5UnEg6BMVRNsh4si1RGWfjZsGKACLcB/s400/IMG_20150118_153621.jpg")
		//img(src="https://3.bp.blogspot.com/-dWk_eEct2Ig/V4Og-TjPENI/AAAAAAABW7k/zt5uNCzIQAcCG2sqD1VM-CSGQGaqjZexgCLcB/s400/IMG_20150118_153631.jpg")
		//img(src="https://3.bp.blogspot.com/-e-_-Pgp08mM/V4Og-kIrFbI/AAAAAAABW7o/E8_yJuOyVC8DXXl44mgGBITRKnMSqqmPACLcB/s400/IMG_20150118_153634.jpg")
		//img(src="https://2.bp.blogspot.com/-jpfgDX9fZxQ/V4Og5JflstI/AAAAAAABW6o/BHqoBJsqo6U4gwgX6rOuyI-cQWwxJpuZQCLcB/s1600/IMG_20150118_151028.jpg")
		//img(src="https://3.bp.blogspot.com/-O9SoHDyAI0Q/V4Og5tC3FII/AAAAAAABW6s/DiRTusV3vD8L-oNEV8ASzP-k7dWbcFu2QCLcB/s1600/IMG_20150118_151031.jpg")
		//img(src="https://1.bp.blogspot.com/-iGMV2yTy37g/V4Og6PojGpI/AAAAAAABW6w/KhTbZ8s4ROkl1NVB5-9zs0FkmDLKQN_IQCLcB/s1600/IMG_20150118_151033.jpg")
		//img(src="https://3.bp.blogspot.com/-EVp8ajqCZJc/V4Og6QHRz_I/AAAAAAABW60/kQifysvG4kcPckq7tfuGYi68x6PDaaIXgCLcB/s1600/IMG_20150118_151046.jpg")
		//img(src="https://4.bp.blogspot.com/-ySa9CuKId10/V4Og6pAAglI/AAAAAAABW64/cjTOeSQHXJgxMM2Pd4DuqODr_vyyj49NACLcB/s1600/IMG_20150118_151048.jpg")
		//img(src="https://4.bp.blogspot.com/-XzImLvEaDJM/V4Og7ia8A-I/AAAAAAABW7E/4o3H8CSzoGcP3tqR30y0yAt0xasdzhyUQCLcB/s1600/IMG_20150118_151057.jpg")
		//img(src="https://4.bp.blogspot.com/-JM77gSriGa4/V4Og8D9arNI/AAAAAAABW7I/5pNfzZaOv_IzwHc_5F7ihg-20JJ6GQCTgCLcB/s1600/IMG_20150118_153606-MIX.jpg")
		//img(src="https://3.bp.blogspot.com/-cZJ-0typtMo/V4Og8mwLItI/AAAAAAABW7Q/_JgTu1WmMpcjXGuaI68DfEdl3kDF1EufgCLcB/s1600/IMG_20150118_153606.jpg")
		//img(src="https://2.bp.blogspot.com/-Pm6pm-D8bDk/V4Og9Jr2QUI/AAAAAAABW7U/YxxI5-jpjlYUGm-GfIBtI2qlyDEXFBvKACLcB/s1600/IMG_20150118_153608.jpg")
		//img(src="https://2.bp.blogspot.com/-sPhFYPRxTq0/V4Og9Su356I/AAAAAAABW7Y/kLT56BYrDQA5y0E1A0CUz_9HxycorUJXwCLcB/s1600/IMG_20150118_153610.jpg")

.group
	h2 National Day Parade
		.date 1 August
	.story
	.photoset(data-layout="232323232323")
		img(src="https://4.bp.blogspot.com/-aKdhT1jRACw/V37pMJkpmnI/AAAAAAABWvY/8_Av3OZOUlMxylu22mVmOth-jEY3OmDmQCLcB/s800/IMG_0798.jpg")
		img(src="https://2.bp.blogspot.com/-9bjzoO3i9W0/V37pMGDKjBI/AAAAAAABWvU/V3N1t5Owsn0hxSedrcq69VxTZXSoKEyPwCLcB/s800/IMG_0800.jpg")
		img(src="https://1.bp.blogspot.com/-enmXseLQIbk/V37pL2yDIPI/AAAAAAABWvQ/PJBMhqgawlkOsxSzEu-ljlS0I6XHGINhQCLcB/s500/IMG_0802.jpg")
		img(src="https://4.bp.blogspot.com/-lY5NPe_Dl8g/V37pNEIS7fI/AAAAAAABWvg/GSx5DDbbnbQhUBDFr7msfz7GyS2dDq7GQCLcB/s500/IMG_0804.jpg")
		img(src="https://2.bp.blogspot.com/-CKH6z-cv-4k/V37pMzOzwhI/AAAAAAABWvc/uwaR6D3CB30op2buOVbziaPeGnQWPefZwCLcB/s500/IMG_0807.jpg")
		img(src="https://1.bp.blogspot.com/-ngzOQJki_tw/V37pM_NmFoI/AAAAAAABWvk/KyQwYJLfIGomsDyPbVpfhjaByz4CblypwCLcB/s800/IMG_0812.jpg")
		img(src="https://1.bp.blogspot.com/-LOU56Dfpgec/V37pNl3bk7I/AAAAAAABWvo/YVeCyBG0rNYsRpWEK7FJZEuOEMKNPz5nACLcB/s800/IMG_0815.jpg")
		img(src="https://1.bp.blogspot.com/-taSP-2xT9tU/V37pN__PBSI/AAAAAAABWvs/bxQH-FNGPl0g4d_QXv1AK_eyG95hdSFcgCLcB/s500/IMG_0819.jpg")
		img(src="https://3.bp.blogspot.com/-qKaDbSzLOpU/V37piHSC2VI/AAAAAAABWv0/r-7EBnCJN4U5cVNS6rogzguKE0MrrKb0ACLcB/s500/IMG_0816.jpg")
		img(src="https://3.bp.blogspot.com/-8uVeRqsGosY/V37piFkb1sI/AAAAAAABWvw/R1HxBGbdZrQmB1rilBbC3osJ6FFoWVssACLcB/s500/IMG_0827.jpg")
		img(src="https://4.bp.blogspot.com/-O1PHetMo0DM/V37piBIB2QI/AAAAAAABWv4/4NGR2MnWlowRSul8iCWz2loLUHHajn19QCLcB/s800/IMG_0830.jpg")
		img(src="https://2.bp.blogspot.com/-Xy6RibQxF0c/V37p2RPoheI/AAAAAAABWwA/iMl-LNXzn1Ag4lwIBKqay6aPR5RhkB3hwCLcB/s800/IMG_0843.jpg")
		img(src="https://3.bp.blogspot.com/-h3FUBRNa1ic/V37p2f1floI/AAAAAAABWv8/f9JL4XYTNP0MLX8D6rsQR1w66-SuWHmwwCLcB/s500/IMG_0849.jpg")
		img(src="https://3.bp.blogspot.com/-zEeO3TxUXAc/V37p2a-b_MI/AAAAAAABWwE/ra14mIAEMBIxRmbeI9nXUOFJKYQ-_u0SgCLcB/s500/IMG_0851.jpg")
		img(src="https://1.bp.blogspot.com/-l6JvJT7qZKc/V37p3Dv1gTI/AAAAAAABWwQ/3TR2rdbfqYIsyMEYQQXA9qe1ijMGusUsgCLcB/s500/IMG_0853.jpg")
		img(src="https://3.bp.blogspot.com/-mECN2AV4p6c/V37p3GlK5aI/AAAAAAABWwM/2MJIpU5TNPgM70Rt8IwBfMmcyLW1BcAngCLcB/s800/IMG_0854.jpg")
		img(src="https://3.bp.blogspot.com/-2UT120y8u8g/V37p3ZX5f6I/AAAAAAABWwU/uZ5FdZU67hYWIzVnyam5mJ3FCKDbfFSAACLcB/s800/IMG_0857.jpg")
	.videoset(data="jtKip0kTG60,pg7vaT6a1XQ,f8JR0l8jtIs,SCHQvQAjRe4,divr3cStpCQ")

.group
	h2 Istana Open House
		.date 2 August
	.story
	.photoset(data-layout="2323131")
		img(src="https://4.bp.blogspot.com/-Mq3jbLFWHd4/V4A52qLtK-I/AAAAAAABWxE/434fmu80nMYUy0ux_Kha2348tuweIDk1wCLcB/s800/IMG_0861.JPG")
		img(src="https://2.bp.blogspot.com/-wkp_8Qe5mVU/V4A53wLqwpI/AAAAAAABWxQ/aoHmvwQM4foEK_Cqd9CmMkt3fzfJjXVHACLcB/s800/IMG_0871.JPG")

		img(src="https://4.bp.blogspot.com/-75ixrRXcGo4/V4A53h3jrnI/AAAAAAABWxI/9uhah10OBr0i7ZIhXlsLurxfxzA7uLqLACLcB/s500/IMG_0882.JPG")
		img(src="https://4.bp.blogspot.com/--WhpeoinnyA/V4A53mSXGBI/AAAAAAABWxM/stgmqNWLKY0KCDyq-xV_JX5WR7aS9GeBACLcB/s500/IMG_0886.JPG")
		img(src="https://3.bp.blogspot.com/-2fewIl07sNM/V4A54f2LbVI/AAAAAAABWxU/KiuUugCgq80FgVuMB-yqVdWdeeKA2_VOACLcB/s500/IMG_0890.JPG")

		img(src="https://2.bp.blogspot.com/-7ZPkz73yoAY/V4A55C9BICI/AAAAAAABWxY/xcXmvr1aCekHPNGtH6d6hrRoH9UUwns-gCLcB/s800/IMG_0897.JPG")
		img(src="https://4.bp.blogspot.com/-rVeJi0vbWIo/V4A55UBDWDI/AAAAAAABWxg/QTsAtfXQR_Uv7wJU1DMrfvGGuKFOHgi5ACLcB/s800/IMG_0904.JPG")

		img(src="https://1.bp.blogspot.com/-BG79gnJVh1k/V4A56HeTlCI/AAAAAAABWxk/3QGyypHwoZISv6qdKA27bTpzL9bIKqB0ACLcB/s500/IMG_0905.JPG")
		img(src="https://3.bp.blogspot.com/-kpNIuCmIKGs/V4A56Wi8XaI/AAAAAAABWxo/ffBjKReP2n8SktOLydjqWADfeV1wBmecQCLcB/s500/IMG_0910.JPG")
		img(src="https://1.bp.blogspot.com/-e532C-Ehuyk/V4A57KbC39I/AAAAAAABWxw/F-fdYKC0q0g11BC7xMz3xRBl-80dYdf9gCLcB/s500/IMG_0932.JPG")

		img(src="https://2.bp.blogspot.com/-dJCFkCOEC1k/V4A56rhzvnI/AAAAAAABWxs/gCzzjcg78b4_ZRuMld4AjastMk5wRPmfgCLcB/s1600/IMG_0914.JPG")

		img(src="https://2.bp.blogspot.com/-Uh2D6N5e3yk/V4A57UIRbdI/AAAAAAABWx0/3KlRnEf-ZD0pI3CdSp9IHZTgRi9JvswzgCLcB/s500/IMG_0935.JPG")
		img(src="https://3.bp.blogspot.com/-6BdpnRoN4mc/V4A575I_sZI/AAAAAAABWx8/reG_ldElgro76kwfoxUCYHn8yHLT0VT5ACLcB/s500/IMG_0939.JPG")
		img(src="https://4.bp.blogspot.com/-qsoOFRrZMhw/V4A5781uWXI/AAAAAAABWx4/IttVXCf5zTMTgx3Yzwf9-BNy8qcPo18PQCLcB/s500/IMG_0936.JPG")

		img(src="https://4.bp.blogspot.com/-5t2rr_ZabZQ/V4C0drGUkXI/AAAAAAABWyw/lTHLq0xAbHcEOFGXmlLPB9x8IqK5IacLgCLcB/s1600/Istana.jpg")

		//img(src="https://4.bp.blogspot.com/-3I53TaB_80E/V4A52RBmxdI/AAAAAAABWxA/lfXB0BOX8VwNZvOyrh0Va-mHHGJuG50bACLcB/s1600/IMG_0867.JPG")
		//img(src="https://2.bp.blogspot.com/-ZWwa8tNt7hE/V4A55H_VqDI/AAAAAAABWxc/kZFETvP1FXgIpLNvOFMUGIHE8tK7e4IbgCLcB/s1600/IMG_0896.JPG")
		//img(src="https://1.bp.blogspot.com/-bcdUjodX1Ng/V4A52apIBSI/AAAAAAABWw8/sROVv-9wyfM-1AhlLoo_8gX3jbZah4WkQCLcB/s1600/IMG_0869.JPG")
		//img(src="https://3.bp.blogspot.com/-OjGZwLesTXs/V4A58oOsPtI/AAAAAAABWyA/aaNRbhSyfFQiQPH5q_GTJ3Z3B2Gdw1TnwCLcB/s1600/IMG_0944.JPG")
		//img(src="https://2.bp.blogspot.com/-NQHcNsftXUg/V4A58yDuRPI/AAAAAAABWyE/fUQqqglc70U4aGpksHFV6Na-RTG4GlH0QCLcB/s1600/IMG_0950.JPG")

.group
	h2 Cloud Forest
		.date 16 August
	.story
	.video
		iframe(src="https://www.youtube.com/embed/ie59hGogVeI?color=white&showinfo=0&rel=0" frameborder="0" allowfullscreen)
		//img(src="https://2.bp.blogspot.com/-TJ1jgBUAyvQ/V4GVO4nf0xI/AAAAAAABW0g/bJOF1E53USMJ2EZ-dzX8yT9tSGQGsb0_QCLcB/s1600/IMG_1030.JPG" id='ie59hGogVeI' onclick="replaceVideo('ie59hGogVeI')")

	.photoset(data-layout="A31A")
		img(src="https://4.bp.blogspot.com/-kp_hyT5Y7bc/V4GVO6jKlUI/AAAAAAABW0c/wnTGEWkyjWEzvmZGGDV9D-d0LpkfC-KmACLcB/s1600/IMG_1031.JPG")
		img(src="https://1.bp.blogspot.com/-leBVSFLXsmQ/V4GVO85t-sI/AAAAAAABW0k/7Dfjcd_x0-Qg5YzuuWT83PvhxC8NxYAmgCLcB/s800/IMG_1037.JPG")
		img(src="https://2.bp.blogspot.com/-d4J_Wmtu0Gs/V4GVPzWuBsI/AAAAAAABW0o/47tu4bcgJ908VvqWjCX1Uj2cRRYxPqJnQCLcB/s800/IMG_1042.JPG")
		img(src="https://4.bp.blogspot.com/-HPEWGKeLgoU/V4GVQa64zjI/AAAAAAABW0s/lKYmS6y4sE8iX3CTpSQCSnAiUN2IuKW3ACLcB/s800/IMG_1044.JPG")

		img(src="https://3.bp.blogspot.com/-OHdjsNZucng/V4GVQvQaV0I/AAAAAAABW0w/VHoC_SKi6TAywLST72R0s62wFteTpj71ACLcB/s500/IMG_1052.JPG")
		img(src="https://3.bp.blogspot.com/-M1w067YdLNw/V4GVW5FZVSI/AAAAAAABW1k/Ryktpa5f5zAEmKEuzBac9Q61z0NYdAy_ACLcB/s500/IMG_1074.JPG")
		img(src="https://4.bp.blogspot.com/-N4TZZ-5_P5g/V4GVW1sMDOI/AAAAAAABW1g/WgU8kKVeOkoBLQeTHENaE36l_oaWF6sWgCLcB/s500/IMG_1073.JPG")

		img(src="https://4.bp.blogspot.com/-gU7MQwYxR6s/V4GVWgX1I4I/AAAAAAABW1c/-mVYzLY1i-04sPyNYKOXs8uRXzyhS-2NACLcB/s1600/IMG_1071.JPG")

		img(src="https://1.bp.blogspot.com/-_mNTKevLgl0/V4GVVGLBEHI/AAAAAAABW1Q/PfgmGGteniYPSHdxk6aOQYHWQIM1_3loACLcB/s1600/IMG_1066.JPG")
		img(src="https://4.bp.blogspot.com/-YSNnlEnUQtY/V4GVg937B7I/AAAAAAABW3E/nl9JI8C1eroX_6wZdrYt60-DVtxzcWu5ACLcB/s800/IMG_1127.JPG")
		img(src="https://3.bp.blogspot.com/-d_YcpPz0OlE/V4GVStJ48tI/AAAAAAABW1A/4dbLtVGLVuIandSE29kfe0Y305UmLMOwwCLcB/s800/IMG_1058.JPG")
		img(src="https://4.bp.blogspot.com/-q7Ko3LIrwZ0/V4GVVAdpx1I/AAAAAAABW1U/0ajl8zpvgIMgghRCE2lqdmUZrZvHkOoNwCLcB/s800/IMG_1068.JPG")

		//img(src="https://3.bp.blogspot.com/-iMEJ2oEqD8Y/V4GVRiJ1mrI/AAAAAAABW04/kwFkV2PS6ysRMsmrasVfqdlR3-SkRhn1ACLcB/s1600/IMG_1056.JPG")
		//img(src="https://4.bp.blogspot.com/-Fqb4Ro-RDS4/V4GVTBscieI/AAAAAAABW1E/-kEfZ2nuFuIHCs30tTYRRV0BS0_hKNlzgCLcB/s1600/IMG_1059.JPG")
		//img(src="https://4.bp.blogspot.com/-ZQ8nk1g2PtA/V4GVTaRwWcI/AAAAAAABW1I/PARFO3GmSNwpEwnC0Fn3aF5XGfOJo6TPgCLcB/s1600/IMG_1064.JPG")
		//img(src="https://2.bp.blogspot.com/-bXFG7aZ2N4I/V4GVUE8a_FI/AAAAAAABW1M/w8j7uF8hzL0oNAtWk20g8zX0Gp3l-qTHwCLcB/s1600/IMG_1065.JPG")
		//img(src="https://4.bp.blogspot.com/-9JyAc0eX5Wk/V4GVRCoHTdI/AAAAAAABW00/xxBOPRHNadEbBj2hvVQG-IjHm4XYM_MUQCLcB/s1600/IMG_1053.JPG")
		//img(src="https://3.bp.blogspot.com/-1neZ_DkOEWM/V4GVibYsePI/AAAAAAABW3U/R9UHJNx3NPcyA6YFIarpEFvR9tN31-kgACLcB/s1600/IMG_1138.JPG")
		//img(src="https://1.bp.blogspot.com/-b2-4HJVc760/V4GVSa7Ty4I/AAAAAAABW08/L33idUwqEJcgiN0spx1CQc3d1rf3hGS7gCLcB/s1600/IMG_1057.JPG")
		//img(src="https://4.bp.blogspot.com/-mhPMTpIUgVg/V4GVVX8NpJI/AAAAAAABW1Y/6BPs9Qv2TX8m5AXZ4CSbrEAnqcLa2jbAACLcB/s1600/IMG_1070.JPG")


	.photoset(data-layout="1321323")
		img(src="https://4.bp.blogspot.com/-_qGkqzFZ1bE/V4GVXn0t2ZI/AAAAAAABW1o/8xw4A2zAwgUAkp_ybCLlf8Qsn5oWILt0wCLcB/s1600/IMG_1078.JPG")

		img(src="https://1.bp.blogspot.com/-b1XjzTwMwD0/V4GVY5CYOUI/AAAAAAABW14/_GO4QlDmKTQDXwkNKDAXSI2c1qTPI-h9ACLcB/s500/IMG_1088.JPG")
		img(src="https://1.bp.blogspot.com/-RbH0tglfvaE/V4GVZFQwvLI/AAAAAAABW18/kERFvmupDTo8-6qMfHPT3j2Pb4fAguovACLcB/s500/IMG_1090.JPG")
		img(src="https://4.bp.blogspot.com/-JEcbqFxe7EI/V4GVZrLa_6I/AAAAAAABW2A/6kvoWrxG3V4Pzgp0mZV9ok9oAHopXuD4ACLcB/s500/IMG_1091.JPG")

		img(src="https://3.bp.blogspot.com/-kjux45Vre00/V4GVYOgDyXI/AAAAAAABW1w/efeWQ3M6UeAfls0_-WV7076LmO1xt8eUgCLcB/s800/IMG_1082.JPG")
		img(src="https://1.bp.blogspot.com/-hP6ZAx22hz0/V4GVaI9FgyI/AAAAAAABW2E/Us9sGIo6FPIqwz6wvEXHGuqnIt6JhC-JQCLcB/s800/IMG_1092.JPG")

		img(src="https://1.bp.blogspot.com/-m2t1y0t2VEk/V4GVbKm5NHI/AAAAAAABW2M/P5EtuXetBdI3Rck_VglLrzPOeJbesbnKACLcB/s1600/IMG_1095.JPG")

		img(src="https://3.bp.blogspot.com/-gSzdcJ31lR4/V4GVa2vedlI/AAAAAAABW2I/M7cEsGupQAAcR4NPbYgtJ7EWHh6Adu68wCLcB/s500/IMG_1097.JPG")
		img(src="https://3.bp.blogspot.com/-5TDmmT82rKY/V4GVbTrENoI/AAAAAAABW2Q/4pjIPc1QUswNZF7PakuczfZrecb3yZ4MQCLcB/s500/IMG_1098.JPG")
		img(src="https://3.bp.blogspot.com/-LTDIS7Nponw/V4GVcD3i44I/AAAAAAABW2U/q1TfjxiY5fU5qMM8p4wdFSELEJKSdwZUACLcB/s500/IMG_1100.JPG")

		img(src="https://3.bp.blogspot.com/-Uu8OHaGYFlE/V4GVcap7OZI/AAAAAAABW2Y/VBNZP9s6rj8tec_fNmGfH3R78Hzxx2fbgCLcB/s800/IMG_1102.JPG")
		img(src="https://2.bp.blogspot.com/-X5SARstZ_g4/V4GVfHB544I/AAAAAAABW20/5KJNbyix5Vo1zRg15YssKdIMWl76bENIwCLcB/s800/IMG_1114.JPG")

		img(src="https://4.bp.blogspot.com/-6WYn5YfykQ8/V4GVfkfwyII/AAAAAAABW24/2q0ib11BGioBieQUTkIHuL8_Pz13OrCdwCLcB/s500/IMG_1117.JPG")
		img(src="https://4.bp.blogspot.com/-074fCQNPNpo/V4GVeRCo-kI/AAAAAAABW2s/OHIvwRKxoUkuZq1WYPhrK3OmHhyY7c_cACLcB/s500/IMG_1111.JPG")
		img(src="https://4.bp.blogspot.com/-bskO7h71UU4/V4GVgKK3DmI/AAAAAAABW28/POGMiZxU9voZCN3DAs4TS0rXvIu3bSTUgCLcB/s500/IMG_1122.JPG")

		//img(src="https://1.bp.blogspot.com/-fneXUnDYAFs/V4GVYSL_ZLI/AAAAAAABW10/dxF1FJrn6I44Wfhj6JDcKVo13seyb6jOgCLcB/s1600/IMG_1085.JPG")
		//img(src="https://1.bp.blogspot.com/-wNq3cbNThdk/V4GVcp_7dLI/AAAAAAABW2c/shZHBciIMl4eLFS1x9BchG9zWu5LXX_7QCLcB/s1600/IMG_1103.JPG")
		//img(src="https://3.bp.blogspot.com/-GSIR2y8hL74/V4GVYAjXFMI/AAAAAAABW1s/Pa8roMpv4J0N9sg4byyBGDii37mMTaKPACLcB/s1600/IMG_1081.JPG")
		//img(src="https://3.bp.blogspot.com/-4UCFUT5APHQ/V4GVhmMNgsI/AAAAAAABW3Q/grY0rI4quk8XtU9QkhK6PqfeLbf9ZrNaQCLcB/s1600/IMG_1137.JPG")
		//img(src="https://4.bp.blogspot.com/-fzY7_cdJA0M/V4GVhSg7-CI/AAAAAAABW3I/mkgj9c8xT6snv2W7E_FIWwmXn6cc1jIvACLcB/s1600/IMG_1134.JPG")
		//img(src="https://3.bp.blogspot.com/-gfQvaFcKoI4/V4GVdkKa9qI/AAAAAAABW2g/KI-WXp6T2PIx1zYDlsqwOuRKpaJYma1DgCLcB/s1600/IMG_1104.JPG")
		//img(src="https://3.bp.blogspot.com/-g0JrH7BLLoQ/V4GVdpOswRI/AAAAAAABW2k/oJgLv4nJumk2h2EUeF9yidZ3r_9h47fbACLcB/s1600/IMG_1106.JPG")
		//img(src="https://2.bp.blogspot.com/-HX5R9HXMbug/V4GVe4hTtYI/AAAAAAABW2w/z5M_VOM18Go6tambsrreI2u7L5lIQf8sQCLcB/s1600/IMG_1112.JPG")
		//img(src="https://2.bp.blogspot.com/-LmSSbtn9YUI/V4GVhX6dw8I/AAAAAAABW3M/i8ynpqYSbq84gyIjM0TGNy2YLya1QVscwCLcB/s1600/IMG_1132.JPG")
		//img(src="https://4.bp.blogspot.com/-qJ6slj8i1Sc/V4GVd-sh2CI/AAAAAAABW2o/f_1_tV6zpKQTDOzgMISk3_0vvw3tveg0QCLcB/s1600/IMG_1107.JPG")
		//img(src="https://4.bp.blogspot.com/-ZfR2abF8tV0/V4GVgRRuYQI/AAAAAAABW3A/5rLdhN61kZE-D8ghnNV8abKG4sZnxikgwCLcB/s1600/IMG_1126.JPG")
	.videoset(data="uMQb3gJPjCw,DIKXdauBDUE")

.group
	h2 Flower Dome
		.date 8 August
	.story
	.photoset(data-layout="132132313232123")
		img(src="https://2.bp.blogspot.com/-XNBGmZ5TnWs/V4Qwb_pgw_I/AAAAAAABW8w/1tzjl_SVgmginUNCBzyhuhPwgsgqK0OnwCLcB/s1600/IMG_0953.JPG")
		img(src="https://4.bp.blogspot.com/-_LV5RUq4cEs/V4QwbzGWkOI/AAAAAAABW80/acqnNXGSSl0NXjeZPGIQ52RlkC78pz8UwCLcB/s1600/IMG_0955.JPG")
		img(src="https://1.bp.blogspot.com/-yZG1CkLVkwE/V4Qwbr1QJOI/AAAAAAABW8s/ISFnlchaoD0J8f40jzqEARtD187w6c_RwCLcB/s1600/IMG_0957.JPG")
		img(src="https://2.bp.blogspot.com/-L5Gus9aTwTY/V4Qwctdri-I/AAAAAAABW84/OqBp37ySWi0LIMVa0b7N5de3XaujQuE0gCLcB/s1600/IMG_0958.JPG")
		img(src="https://4.bp.blogspot.com/-_1ESfZ2CMoY/V4QwdOpAvNI/AAAAAAABW9A/O2RneNQiyjIwn47XFZBKlvPbal0AE9lMwCLcB/s1600/IMG_0959.JPG")
		img(src="https://2.bp.blogspot.com/-8JWaT8Qirek/V4Qwc_ZVxEI/AAAAAAABW88/NcLGsEGeMUEz746QSu6j0ftM93TBy7hQwCLcB/s1600/IMG_0960.JPG")
		img(src="https://3.bp.blogspot.com/-LXHfSREOPNY/V4Qwdw9rayI/AAAAAAABW9E/I2JG-hKnFFQsItfbUbRktWGPE45fD3YPgCLcB/s1600/IMG_0962.JPG")
		img(src="https://4.bp.blogspot.com/-1yYZGbCYIPE/V4Qwd-OmvzI/AAAAAAABW9I/NdawoMcXsE0I3PTfKHs6ZDHr_mwQO_DbACLcB/s1600/IMG_0968.JPG")
		img(src="https://2.bp.blogspot.com/-DcidHDYSrVE/V4QweOpejiI/AAAAAAABW9M/FJlJZKZqMqIQJ1gVVJ91JPzCTwYzr5CCgCLcB/s1600/IMG_0970.JPG")
		img(src="https://1.bp.blogspot.com/-vBJrO2LGlIE/V4QwetRYg4I/AAAAAAABW9Q/YGlyGXd_iYUWZTmPSiP60Th4XmoG-d8LACLcB/s1600/IMG_0971.JPG")
		img(src="https://2.bp.blogspot.com/-7ha9JQOgFCA/V4QwewjTOVI/AAAAAAABW9U/g42gC2Vbhk06ZWPUceEUvZw0xfOsiS9fACLcB/s1600/IMG_0972.JPG")
		img(src="https://3.bp.blogspot.com/-6C82wkJpe1s/V4QwfD-eNgI/AAAAAAABW9Y/E6bsTC9Z_Sw-Ldn9TF7hg5YQhTPYU45WACLcB/s1600/IMG_0973.JPG")
		img(src="https://3.bp.blogspot.com/-zZC897Qpw2U/V4QwfycgKPI/AAAAAAABW9c/fMKVtNd6WdgbMAbcH1JkulVkHmFi1A4NwCLcB/s1600/IMG_0977.JPG")
		img(src="https://2.bp.blogspot.com/-hLJKvoD3JhU/V4QwgJySQQI/AAAAAAABW9g/97XY00Q-ndoPXs9cma_FgzktlCwHf0XOQCLcB/s1600/IMG_0979.JPG")
		img(src="https://2.bp.blogspot.com/-_nqGEuEmnNE/V4QwgL06hEI/AAAAAAABW9k/xpYIXB9i6SA9DNO70uLbfnoqOAfRgwEKQCLcB/s1600/IMG_0982.JPG")
		img(src="https://3.bp.blogspot.com/-3rF4Ujnoyh4/V4QwhX1b4PI/AAAAAAABW9s/11N04A3ZYrUgj1ga-IYMpr6kmV8oRNGXQCLcB/s1600/IMG_0984.JPG")
		img(src="https://2.bp.blogspot.com/-GeOxVcEwtWE/V4Qwha32SqI/AAAAAAABW9w/sss5GkBphDcRgF1tZOLDgfP9B9FxZIVogCLcB/s1600/IMG_0985.JPG")
		img(src="https://2.bp.blogspot.com/-DTbCuufwgzI/V4QwhcNHHZI/AAAAAAABW9o/QeuY0vUMjGkmwxwfRZL0KSnbnkrewuBnQCLcB/s1600/IMG_0986.JPG")
		img(src="https://3.bp.blogspot.com/-pSHfSQaaPzY/V4QwiaclvbI/AAAAAAABW90/99FHgC6NuhAvBQhs1T-wv_FxrYiWEENQwCLcB/s1600/IMG_0987.JPG")
		img(src="https://2.bp.blogspot.com/-MozdJXGNhc8/V4Qwio6a-iI/AAAAAAABW94/heTyU6VKDvgZl7pmW_1h-8wtFN_3bGqRgCLcB/s1600/IMG_0988.JPG")
		img(src="https://1.bp.blogspot.com/-vH-GJ6Ljr8c/V4Qwim7lqJI/AAAAAAABW98/D8id8tx4Pq8PPH2PqYxibdUlt-oRTyWrwCLcB/s1600/IMG_0990.JPG")
		img(src="https://3.bp.blogspot.com/-tX9XiYjvhMc/V4QwjRW93rI/AAAAAAABW-A/dGywzJ2Wlj0QTp72IGSCQcg-2L6UbcEpgCLcB/s1600/IMG_0991.JPG")
		img(src="https://3.bp.blogspot.com/-nbnBCdg7K4o/V4Qwj6JwMeI/AAAAAAABW-I/Mq9ar8jzfDgtPeBH81FGlVlPvNrB7pBPwCLcB/s1600/IMG_0993.JPG")
		img(src="https://2.bp.blogspot.com/-sPkM-v9paG0/V4Qwj1Gt6vI/AAAAAAABW-E/LK_74OFpWgoWx64G_bDaMhq8X3Ih5KmvwCLcB/s1600/IMG_0994.JPG")
		img(src="https://1.bp.blogspot.com/-21vUe39IeVw/V4QwkYgtpzI/AAAAAAABW-M/1gk48a8S2pEeMUfnvR_Qr_pnLExlKZ-0wCLcB/s1600/IMG_0998.JPG")
		img(src="https://2.bp.blogspot.com/-OzoE3zHMziA/V4QwlX1Q_WI/AAAAAAABW-Y/ofvheyyf3oYtsHM9dkAqnUnsNZRgYOg3wCLcB/s1600/IMG_1003.JPG")
		img(src="https://3.bp.blogspot.com/-AGLVTXjKjF8/V4Qwk92CXcI/AAAAAAABW-Q/m-lfqI_sW_UZ0rcBBMqYxkGnG1rHDJnIgCLcB/s1600/IMG_1006.JPG")
		img(src="https://3.bp.blogspot.com/-GA7CyUhYcf0/V4QwlHfo_OI/AAAAAAABW-U/pb6K6TSo2EUA0T0K6iMZlGvdeDzsDP_8QCLcB/s1600/IMG_1009.JPG")
		img(src="https://3.bp.blogspot.com/-1swDwbe4EMs/V4Qwl6wh9NI/AAAAAAABW-c/qQ8sZIv8mTY2GdD_2oD-Cl20l0fXUMbCQCLcB/s1600/IMG_1012.JPG")
		img(src="https://1.bp.blogspot.com/-W-v6NhZyGCM/V4QwmESGlRI/AAAAAAABW-g/zrJL_NN4JSkAmcx1GeBd4dj1GyJgCfZqQCLcB/s1600/IMG_1015.JPG")
		img(src="https://2.bp.blogspot.com/-MyGy4S2Mp78/V4QwmKcYNxI/AAAAAAABW-k/gkuGNuEvow8dwIguk5QzpXT1xj_JILL0gCLcB/s1600/IMG_1016.JPG")
		img(src="https://4.bp.blogspot.com/-gw360DMp_4M/V4Qwm3YsAvI/AAAAAAABW-o/LhQ8XPZk2j8yrvx4QA54Qklmg0s_FlLEACLcB/s1600/IMG_1017.JPG")
		img(src="https://2.bp.blogspot.com/-NmuOSyH5bv4/V4QwnETL-4I/AAAAAAABW-s/fpolOHNoiK0a1rNw2HJKHn3GV910EGs2gCLcB/s1600/IMG_1019.JPG")
		img(src="https://3.bp.blogspot.com/-_6086kyi5EA/V4QwnFmapBI/AAAAAAABW-w/irDL_kOd7IIAkvjCfhguZqZ2ZjYHjjSvgCLcB/s1600/IMG_1021.JPG")
		img(src="https://3.bp.blogspot.com/-4MEvXh0j3NY/V4QwnnKtUAI/AAAAAAABW-0/FD_uUEsFWsI1me91XxW2Xo8xO5wifoMygCLcB/s1600/IMG_1023.JPG")
		img(src="https://4.bp.blogspot.com/-hR39V4_jLZQ/V4QwnynMO6I/AAAAAAABW-4/l24MZJhusjIelxcGF8LtSNl5xv7TEar2QCLcB/s1600/IMG_1024.JPG")
		img(src="https://2.bp.blogspot.com/-Ow4PC74t1EQ/V4Qwn1R0gJI/AAAAAAABW-8/6kEDOKW9dvExeMvo9YFN4jYLDa2Ixfw-wCLcB/s1600/IMG_1027.JPG")
		img(src="https://4.bp.blogspot.com/-1GIFpNafh8g/V4Qwo3UuiEI/AAAAAAABW_E/bBX63KTSkCAKEEJMrtdW-n5bT6bghZ9FACLcB/s1600/IMG_1028.JPG")
		img(src="https://2.bp.blogspot.com/-9NeekXVYHfM/V4QwoiaTlqI/AAAAAAABW_A/3vQDVXs1HRYMNwT1-WU2VD0gsRcQpeLSQCLcB/s1600/IMG_1029.JPG")
