---
layout: exposure
label: romance
cover: https://4.bp.blogspot.com/-aKdhT1jRACw/V37pMJkpmnI/AAAAAAABWvY/8_Av3OZOUlMxylu22mVmOth-jEY3OmDmQCLcB/s1600/IMG_0798.jpg
title: 2015
excerpt: NDP, Istana
author: Elvin
date: 2015-01-01
permalink: /2015
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 National Day Parade
		.date 1 August
	.story
	.photoset(data-layout="232323232323")
		img(src="https://4.bp.blogspot.com/-aKdhT1jRACw/V37pMJkpmnI/AAAAAAABWvY/8_Av3OZOUlMxylu22mVmOth-jEY3OmDmQCLcB/s1600/IMG_0798.jpg")
		img(src="https://2.bp.blogspot.com/-9bjzoO3i9W0/V37pMGDKjBI/AAAAAAABWvU/V3N1t5Owsn0hxSedrcq69VxTZXSoKEyPwCLcB/s1600/IMG_0800.jpg")
		img(src="https://1.bp.blogspot.com/-enmXseLQIbk/V37pL2yDIPI/AAAAAAABWvQ/PJBMhqgawlkOsxSzEu-ljlS0I6XHGINhQCLcB/s1600/IMG_0802.jpg")
		img(src="https://4.bp.blogspot.com/-lY5NPe_Dl8g/V37pNEIS7fI/AAAAAAABWvg/GSx5DDbbnbQhUBDFr7msfz7GyS2dDq7GQCLcB/s1600/IMG_0804.jpg")
		img(src="https://2.bp.blogspot.com/-CKH6z-cv-4k/V37pMzOzwhI/AAAAAAABWvc/uwaR6D3CB30op2buOVbziaPeGnQWPefZwCLcB/s1600/IMG_0807.jpg")
		img(src="https://1.bp.blogspot.com/-ngzOQJki_tw/V37pM_NmFoI/AAAAAAABWvk/KyQwYJLfIGomsDyPbVpfhjaByz4CblypwCLcB/s1600/IMG_0812.jpg")
		img(src="https://1.bp.blogspot.com/-LOU56Dfpgec/V37pNl3bk7I/AAAAAAABWvo/YVeCyBG0rNYsRpWEK7FJZEuOEMKNPz5nACLcB/s1600/IMG_0815.jpg")
		img(src="https://1.bp.blogspot.com/-taSP-2xT9tU/V37pN__PBSI/AAAAAAABWvs/bxQH-FNGPl0g4d_QXv1AK_eyG95hdSFcgCLcB/s1600/IMG_0819.jpg")
		img(src="https://3.bp.blogspot.com/-qKaDbSzLOpU/V37piHSC2VI/AAAAAAABWv0/r-7EBnCJN4U5cVNS6rogzguKE0MrrKb0ACLcB/s1600/IMG_0816.jpg")
		img(src="https://3.bp.blogspot.com/-8uVeRqsGosY/V37piFkb1sI/AAAAAAABWvw/R1HxBGbdZrQmB1rilBbC3osJ6FFoWVssACLcB/s1600/IMG_0827.jpg")
		img(src="https://4.bp.blogspot.com/-O1PHetMo0DM/V37piBIB2QI/AAAAAAABWv4/4NGR2MnWlowRSul8iCWz2loLUHHajn19QCLcB/s1600/IMG_0830.jpg")
		img(src="https://2.bp.blogspot.com/-Xy6RibQxF0c/V37p2RPoheI/AAAAAAABWwA/iMl-LNXzn1Ag4lwIBKqay6aPR5RhkB3hwCLcB/s1600/IMG_0843.jpg")
		img(src="https://3.bp.blogspot.com/-h3FUBRNa1ic/V37p2f1floI/AAAAAAABWv8/f9JL4XYTNP0MLX8D6rsQR1w66-SuWHmwwCLcB/s1600/IMG_0849.jpg")
		img(src="https://3.bp.blogspot.com/-zEeO3TxUXAc/V37p2a-b_MI/AAAAAAABWwE/ra14mIAEMBIxRmbeI9nXUOFJKYQ-_u0SgCLcB/s1600/IMG_0851.jpg")
		img(src="https://1.bp.blogspot.com/-l6JvJT7qZKc/V37p3Dv1gTI/AAAAAAABWwQ/3TR2rdbfqYIsyMEYQQXA9qe1ijMGusUsgCLcB/s1600/IMG_0853.jpg")
		img(src="https://3.bp.blogspot.com/-mECN2AV4p6c/V37p3GlK5aI/AAAAAAABWwM/2MJIpU5TNPgM70Rt8IwBfMmcyLW1BcAngCLcB/s1600/IMG_0854.jpg")
		img(src="https://3.bp.blogspot.com/-2UT120y8u8g/V37p3ZX5f6I/AAAAAAABWwU/uZ5FdZU67hYWIzVnyam5mJ3FCKDbfFSAACLcB/s1600/IMG_0857.jpg")
	.videoset(data="jtKip0kTG60,pg7vaT6a1XQ,f8JR0l8jtIs,SCHQvQAjRe4,divr3cStpCQ")

.group
	h2 Istana Open House
		.date 2 August
	.story
	.photoset(data-layout="2323131")
		//img(src="https://4.bp.blogspot.com/-3I53TaB_80E/V4A52RBmxdI/AAAAAAABWxA/lfXB0BOX8VwNZvOyrh0Va-mHHGJuG50bACLcB/s1600/IMG_0867.JPG")
		//img(src="https://2.bp.blogspot.com/-ZWwa8tNt7hE/V4A55H_VqDI/AAAAAAABWxc/kZFETvP1FXgIpLNvOFMUGIHE8tK7e4IbgCLcB/s1600/IMG_0896.JPG")

		img(src="https://4.bp.blogspot.com/-Mq3jbLFWHd4/V4A52qLtK-I/AAAAAAABWxE/434fmu80nMYUy0ux_Kha2348tuweIDk1wCLcB/s1600/IMG_0861.JPG")
		img(src="https://2.bp.blogspot.com/-wkp_8Qe5mVU/V4A53wLqwpI/AAAAAAABWxQ/aoHmvwQM4foEK_Cqd9CmMkt3fzfJjXVHACLcB/s1600/IMG_0871.JPG")

		img(src="https://4.bp.blogspot.com/-75ixrRXcGo4/V4A53h3jrnI/AAAAAAABWxI/9uhah10OBr0i7ZIhXlsLurxfxzA7uLqLACLcB/s1600/IMG_0882.JPG")
		img(src="https://4.bp.blogspot.com/--WhpeoinnyA/V4A53mSXGBI/AAAAAAABWxM/stgmqNWLKY0KCDyq-xV_JX5WR7aS9GeBACLcB/s1600/IMG_0886.JPG")
		img(src="https://3.bp.blogspot.com/-2fewIl07sNM/V4A54f2LbVI/AAAAAAABWxU/KiuUugCgq80FgVuMB-yqVdWdeeKA2_VOACLcB/s1600/IMG_0890.JPG")

		img(src="https://2.bp.blogspot.com/-7ZPkz73yoAY/V4A55C9BICI/AAAAAAABWxY/xcXmvr1aCekHPNGtH6d6hrRoH9UUwns-gCLcB/s1600/IMG_0897.JPG")
		img(src="https://4.bp.blogspot.com/-rVeJi0vbWIo/V4A55UBDWDI/AAAAAAABWxg/QTsAtfXQR_Uv7wJU1DMrfvGGuKFOHgi5ACLcB/s1600/IMG_0904.JPG")

		img(src="https://1.bp.blogspot.com/-BG79gnJVh1k/V4A56HeTlCI/AAAAAAABWxk/3QGyypHwoZISv6qdKA27bTpzL9bIKqB0ACLcB/s1600/IMG_0905.JPG")
		img(src="https://3.bp.blogspot.com/-kpNIuCmIKGs/V4A56Wi8XaI/AAAAAAABWxo/ffBjKReP2n8SktOLydjqWADfeV1wBmecQCLcB/s1600/IMG_0910.JPG")
		img(src="https://1.bp.blogspot.com/-e532C-Ehuyk/V4A57KbC39I/AAAAAAABWxw/F-fdYKC0q0g11BC7xMz3xRBl-80dYdf9gCLcB/s1600/IMG_0932.JPG")
		//img(src="https://1.bp.blogspot.com/-bcdUjodX1Ng/V4A52apIBSI/AAAAAAABWw8/sROVv-9wyfM-1AhlLoo_8gX3jbZah4WkQCLcB/s1600/IMG_0869.JPG")

		img(src="https://2.bp.blogspot.com/-dJCFkCOEC1k/V4A56rhzvnI/AAAAAAABWxs/gCzzjcg78b4_ZRuMld4AjastMk5wRPmfgCLcB/s1600/IMG_0914.JPG")

		img(src="https://2.bp.blogspot.com/-Uh2D6N5e3yk/V4A57UIRbdI/AAAAAAABWx0/3KlRnEf-ZD0pI3CdSp9IHZTgRi9JvswzgCLcB/s1600/IMG_0935.JPG")
		img(src="https://3.bp.blogspot.com/-6BdpnRoN4mc/V4A575I_sZI/AAAAAAABWx8/reG_ldElgro76kwfoxUCYHn8yHLT0VT5ACLcB/s1600/IMG_0939.JPG")
		img(src="https://4.bp.blogspot.com/-qsoOFRrZMhw/V4A5781uWXI/AAAAAAABWx4/IttVXCf5zTMTgx3Yzwf9-BNy8qcPo18PQCLcB/s1600/IMG_0936.JPG")

		img(src="https://4.bp.blogspot.com/-5t2rr_ZabZQ/V4C0drGUkXI/AAAAAAABWyw/lTHLq0xAbHcEOFGXmlLPB9x8IqK5IacLgCLcB/s1600/Istana.jpg")

		//img(src="https://3.bp.blogspot.com/-OjGZwLesTXs/V4A58oOsPtI/AAAAAAABWyA/aaNRbhSyfFQiQPH5q_GTJ3Z3B2Gdw1TnwCLcB/s1600/IMG_0944.JPG")
		//img(src="https://2.bp.blogspot.com/-NQHcNsftXUg/V4A58yDuRPI/AAAAAAABWyE/fUQqqglc70U4aGpksHFV6Na-RTG4GlH0QCLcB/s1600/IMG_0950.JPG")

.group
	h2 Cloud Forest
		.date 16 August
	.story
	.photoset(data-layout="A32312132323233232323")
		img(src="https://4.bp.blogspot.com/-kp_hyT5Y7bc/V4GVO6jKlUI/AAAAAAABW0c/wnTGEWkyjWEzvmZGGDV9D-d0LpkfC-KmACLcB/s1600/IMG_1031.JPG")
		img(src="https://2.bp.blogspot.com/-TJ1jgBUAyvQ/V4GVO4nf0xI/AAAAAAABW0g/bJOF1E53USMJ2EZ-dzX8yT9tSGQGsb0_QCLcB/s1600/IMG_1030.JPG")
		img(src="https://1.bp.blogspot.com/-leBVSFLXsmQ/V4GVO85t-sI/AAAAAAABW0k/7Dfjcd_x0-Qg5YzuuWT83PvhxC8NxYAmgCLcB/s1600/IMG_1037.JPG")
		img(src="https://2.bp.blogspot.com/-d4J_Wmtu0Gs/V4GVPzWuBsI/AAAAAAABW0o/47tu4bcgJ908VvqWjCX1Uj2cRRYxPqJnQCLcB/s1600/IMG_1042.JPG")
		img(src="https://4.bp.blogspot.com/-HPEWGKeLgoU/V4GVQa64zjI/AAAAAAABW0s/lKYmS6y4sE8iX3CTpSQCSnAiUN2IuKW3ACLcB/s1600/IMG_1044.JPG")
		img(src="https://3.bp.blogspot.com/-OHdjsNZucng/V4GVQvQaV0I/AAAAAAABW0w/VHoC_SKi6TAywLST72R0s62wFteTpj71ACLcB/s1600/IMG_1052.JPG")
		img(src="https://4.bp.blogspot.com/-9JyAc0eX5Wk/V4GVRCoHTdI/AAAAAAABW00/xxBOPRHNadEbBj2hvVQG-IjHm4XYM_MUQCLcB/s1600/IMG_1053.JPG")
		img(src="https://3.bp.blogspot.com/-iMEJ2oEqD8Y/V4GVRiJ1mrI/AAAAAAABW04/kwFkV2PS6ysRMsmrasVfqdlR3-SkRhn1ACLcB/s1600/IMG_1056.JPG")
		img(src="https://1.bp.blogspot.com/-b2-4HJVc760/V4GVSa7Ty4I/AAAAAAABW08/L33idUwqEJcgiN0spx1CQc3d1rf3hGS7gCLcB/s1600/IMG_1057.JPG")
		img(src="https://3.bp.blogspot.com/-d_YcpPz0OlE/V4GVStJ48tI/AAAAAAABW1A/4dbLtVGLVuIandSE29kfe0Y305UmLMOwwCLcB/s1600/IMG_1058.JPG")
		img(src="https://4.bp.blogspot.com/-Fqb4Ro-RDS4/V4GVTBscieI/AAAAAAABW1E/-kEfZ2nuFuIHCs30tTYRRV0BS0_hKNlzgCLcB/s1600/IMG_1059.JPG")
		img(src="https://4.bp.blogspot.com/-ZQ8nk1g2PtA/V4GVTaRwWcI/AAAAAAABW1I/PARFO3GmSNwpEwnC0Fn3aF5XGfOJo6TPgCLcB/s1600/IMG_1064.JPG")
		img(src="https://2.bp.blogspot.com/-bXFG7aZ2N4I/V4GVUE8a_FI/AAAAAAABW1M/w8j7uF8hzL0oNAtWk20g8zX0Gp3l-qTHwCLcB/s1600/IMG_1065.JPG")
		img(src="https://1.bp.blogspot.com/-_mNTKevLgl0/V4GVVGLBEHI/AAAAAAABW1Q/PfgmGGteniYPSHdxk6aOQYHWQIM1_3loACLcB/s1600/IMG_1066.JPG")
		img(src="https://4.bp.blogspot.com/-q7Ko3LIrwZ0/V4GVVAdpx1I/AAAAAAABW1U/0ajl8zpvgIMgghRCE2lqdmUZrZvHkOoNwCLcB/s1600/IMG_1068.JPG")
		img(src="https://4.bp.blogspot.com/-mhPMTpIUgVg/V4GVVX8NpJI/AAAAAAABW1Y/6BPs9Qv2TX8m5AXZ4CSbrEAnqcLa2jbAACLcB/s1600/IMG_1070.JPG")
		img(src="https://4.bp.blogspot.com/-gU7MQwYxR6s/V4GVWgX1I4I/AAAAAAABW1c/-mVYzLY1i-04sPyNYKOXs8uRXzyhS-2NACLcB/s1600/IMG_1071.JPG")
		img(src="https://4.bp.blogspot.com/-N4TZZ-5_P5g/V4GVW1sMDOI/AAAAAAABW1g/WgU8kKVeOkoBLQeTHENaE36l_oaWF6sWgCLcB/s1600/IMG_1073.JPG")
		img(src="https://3.bp.blogspot.com/-M1w067YdLNw/V4GVW5FZVSI/AAAAAAABW1k/Ryktpa5f5zAEmKEuzBac9Q61z0NYdAy_ACLcB/s1600/IMG_1074.JPG")
		img(src="https://4.bp.blogspot.com/-_qGkqzFZ1bE/V4GVXn0t2ZI/AAAAAAABW1o/8xw4A2zAwgUAkp_ybCLlf8Qsn5oWILt0wCLcB/s1600/IMG_1078.JPG")
		img(src="https://3.bp.blogspot.com/-GSIR2y8hL74/V4GVYAjXFMI/AAAAAAABW1s/Pa8roMpv4J0N9sg4byyBGDii37mMTaKPACLcB/s1600/IMG_1081.JPG")
		img(src="https://3.bp.blogspot.com/-kjux45Vre00/V4GVYOgDyXI/AAAAAAABW1w/efeWQ3M6UeAfls0_-WV7076LmO1xt8eUgCLcB/s1600/IMG_1082.JPG")
		img(src="https://1.bp.blogspot.com/-fneXUnDYAFs/V4GVYSL_ZLI/AAAAAAABW10/dxF1FJrn6I44Wfhj6JDcKVo13seyb6jOgCLcB/s1600/IMG_1085.JPG")
		img(src="https://1.bp.blogspot.com/-b1XjzTwMwD0/V4GVY5CYOUI/AAAAAAABW14/_GO4QlDmKTQDXwkNKDAXSI2c1qTPI-h9ACLcB/s1600/IMG_1088.JPG")
		img(src="https://1.bp.blogspot.com/-RbH0tglfvaE/V4GVZFQwvLI/AAAAAAABW18/kERFvmupDTo8-6qMfHPT3j2Pb4fAguovACLcB/s1600/IMG_1090.JPG")
		img(src="https://4.bp.blogspot.com/-JEcbqFxe7EI/V4GVZrLa_6I/AAAAAAABW2A/6kvoWrxG3V4Pzgp0mZV9ok9oAHopXuD4ACLcB/s1600/IMG_1091.JPG")
		img(src="https://1.bp.blogspot.com/-hP6ZAx22hz0/V4GVaI9FgyI/AAAAAAABW2E/Us9sGIo6FPIqwz6wvEXHGuqnIt6JhC-JQCLcB/s1600/IMG_1092.JPG")
		img(src="https://1.bp.blogspot.com/-m2t1y0t2VEk/V4GVbKm5NHI/AAAAAAABW2M/P5EtuXetBdI3Rck_VglLrzPOeJbesbnKACLcB/s1600/IMG_1095.JPG")
		img(src="https://3.bp.blogspot.com/-gSzdcJ31lR4/V4GVa2vedlI/AAAAAAABW2I/M7cEsGupQAAcR4NPbYgtJ7EWHh6Adu68wCLcB/s1600/IMG_1097.JPG")
		img(src="https://3.bp.blogspot.com/-5TDmmT82rKY/V4GVbTrENoI/AAAAAAABW2Q/4pjIPc1QUswNZF7PakuczfZrecb3yZ4MQCLcB/s1600/IMG_1098.JPG")
		img(src="https://3.bp.blogspot.com/-LTDIS7Nponw/V4GVcD3i44I/AAAAAAABW2U/q1TfjxiY5fU5qMM8p4wdFSELEJKSdwZUACLcB/s1600/IMG_1100.JPG")
		img(src="https://3.bp.blogspot.com/-Uu8OHaGYFlE/V4GVcap7OZI/AAAAAAABW2Y/VBNZP9s6rj8tec_fNmGfH3R78Hzxx2fbgCLcB/s1600/IMG_1102.JPG")
		img(src="https://1.bp.blogspot.com/-wNq3cbNThdk/V4GVcp_7dLI/AAAAAAABW2c/shZHBciIMl4eLFS1x9BchG9zWu5LXX_7QCLcB/s1600/IMG_1103.JPG")
		img(src="https://3.bp.blogspot.com/-gfQvaFcKoI4/V4GVdkKa9qI/AAAAAAABW2g/KI-WXp6T2PIx1zYDlsqwOuRKpaJYma1DgCLcB/s1600/IMG_1104.JPG")
		img(src="https://3.bp.blogspot.com/-g0JrH7BLLoQ/V4GVdpOswRI/AAAAAAABW2k/oJgLv4nJumk2h2EUeF9yidZ3r_9h47fbACLcB/s1600/IMG_1106.JPG")
		img(src="https://4.bp.blogspot.com/-qJ6slj8i1Sc/V4GVd-sh2CI/AAAAAAABW2o/f_1_tV6zpKQTDOzgMISk3_0vvw3tveg0QCLcB/s1600/IMG_1107.JPG")
		img(src="https://4.bp.blogspot.com/-074fCQNPNpo/V4GVeRCo-kI/AAAAAAABW2s/OHIvwRKxoUkuZq1WYPhrK3OmHhyY7c_cACLcB/s1600/IMG_1111.JPG")
		img(src="https://2.bp.blogspot.com/-HX5R9HXMbug/V4GVe4hTtYI/AAAAAAABW2w/z5M_VOM18Go6tambsrreI2u7L5lIQf8sQCLcB/s1600/IMG_1112.JPG")
		img(src="https://2.bp.blogspot.com/-X5SARstZ_g4/V4GVfHB544I/AAAAAAABW20/5KJNbyix5Vo1zRg15YssKdIMWl76bENIwCLcB/s1600/IMG_1114.JPG")
		img(src="https://4.bp.blogspot.com/-6WYn5YfykQ8/V4GVfkfwyII/AAAAAAABW24/2q0ib11BGioBieQUTkIHuL8_Pz13OrCdwCLcB/s1600/IMG_1117.JPG")
		img(src="https://4.bp.blogspot.com/-bskO7h71UU4/V4GVgKK3DmI/AAAAAAABW28/POGMiZxU9voZCN3DAs4TS0rXvIu3bSTUgCLcB/s1600/IMG_1122.JPG")
		img(src="https://4.bp.blogspot.com/-ZfR2abF8tV0/V4GVgRRuYQI/AAAAAAABW3A/5rLdhN61kZE-D8ghnNV8abKG4sZnxikgwCLcB/s1600/IMG_1126.JPG")
		img(src="https://4.bp.blogspot.com/-YSNnlEnUQtY/V4GVg937B7I/AAAAAAABW3E/nl9JI8C1eroX_6wZdrYt60-DVtxzcWu5ACLcB/s1600/IMG_1127.JPG")
		img(src="https://2.bp.blogspot.com/-LmSSbtn9YUI/V4GVhX6dw8I/AAAAAAABW3M/i8ynpqYSbq84gyIjM0TGNy2YLya1QVscwCLcB/s1600/IMG_1132.JPG")
		img(src="https://4.bp.blogspot.com/-fzY7_cdJA0M/V4GVhSg7-CI/AAAAAAABW3I/mkgj9c8xT6snv2W7E_FIWwmXn6cc1jIvACLcB/s1600/IMG_1134.JPG")
		img(src="https://3.bp.blogspot.com/-4UCFUT5APHQ/V4GVhmMNgsI/AAAAAAABW3Q/grY0rI4quk8XtU9QkhK6PqfeLbf9ZrNaQCLcB/s1600/IMG_1137.JPG")
		img(src="https://3.bp.blogspot.com/-1neZ_DkOEWM/V4GVibYsePI/AAAAAAABW3U/R9UHJNx3NPcyA6YFIarpEFvR9tN31-kgACLcB/s1600/IMG_1138.JPG")
	.videoset(data="ie59hGogVeI,uMQb3gJPjCw,DIKXdauBDUE")
