---
layout: exposure
label: romance
cover: http://4.bp.blogspot.com/-wtP2Nx502OE/V5VU6gziSFI/AAAAAAABXWs/4hm1oAaz86URym5vbYzt7mA8y-9tF3pQwCK4B/s1600/P1030762.jpg 
title: 2016
excerpt: Photography
author: Elvin
date: 2016-01-01
permalink: /2016
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 Birthday
		.date 18 January
	.story
	.photoset(data-layout="3132")
