---
layout: exposure
label: romance
cover: http://4.bp.blogspot.com/-wtP2Nx502OE/V5VU6gziSFI/AAAAAAABXWs/4hm1oAaz86URym5vbYzt7mA8y-9tF3pQwCK4B/s1600/P1030762.jpg 
title: 2016
excerpt: Photography
author: Elvin
date: 2016-01-01
permalink: /2016
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 Birthday
		.date 17 January
	.story
	.photoset(data-layout="1322")
		img(src="https://3.bp.blogspot.com/-056PrzuV_yw/V5xtzyHrV8I/AAAAAAABXwY/TppEfeFZJ04dbY9c0T86b6nwa4vvn8whgCLcB/s1600/P1030778.jpg")

		img(src="https://1.bp.blogspot.com/-7G4qhVgsNYM/V5xtyswgYgI/AAAAAAABXwI/FTY316M_FVcYJXrqTTUn7VGI7MYCkQ_qgCLcB/s1600/P1030773.jpg")
		img(src="https://1.bp.blogspot.com/-zYdkpnZ62SA/V5xtywRr9QI/AAAAAAABXwM/SG7RybMwwK4Kna2m23KdW7okbMGMchP0ACLcB/s1600/P1030775.jpg")
		img(src="https://2.bp.blogspot.com/-j-7yHxZSLWM/V5xtzSwm8_I/AAAAAAABXwQ/UIsutlB28u4tOe_Touow20IX7zMSTv3TwCLcB/s1600/P1030776.jpg")

		img(src="https://2.bp.blogspot.com/-DVeA1imvddg/V5xtzzgqykI/AAAAAAABXwU/483YjKeCecwHOrJd8nT1q2tRt9RGr_WuQCLcB/s1600/P1030788.jpg")
		img(src="https://3.bp.blogspot.com/-QsXYU8yEiX4/V5xt0BVhwqI/AAAAAAABXwc/znqeA3QKZGAM956LqqR_UpDkNPKcG0ZhACLcB/s1600/P1030796.jpg")

		//img(src="https://4.bp.blogspot.com/-dxkuV-pZsUU/V5xtyQb_HcI/AAAAAAABXwE/I1i3bSYhz3cZvgjs5CPdNIIcL9cjyMbrgCLcB/s1600/P1030770.jpg")
		//img(src="https://3.bp.blogspot.com/-eHqkEYoUV5c/V5xt0puK4HI/AAAAAAABXwg/DkheuY8R9WEQisSZL5lznm3jLiXTY0xvgCLcB/s1600/P1030818.jpg")

	.photoset(data-layout="12313")
		img(src="http://4.bp.blogspot.com/-wtP2Nx502OE/V5VU6gziSFI/AAAAAAABXWs/4hm1oAaz86URym5vbYzt7mA8y-9tF3pQwCK4B/s1600/P1030762.jpg")

		img(src="https://4.bp.blogspot.com/-JZF7Q5NkpC8/V5xtxkdPfUI/AAAAAAABXv8/9jzMMdiEiUANymlEu2bW1bpL1ynQlOBQgCLcB/s1600/P1030744.jpg")
		img(src="https://1.bp.blogspot.com/-LZtp_ELld5s/V5xtx3rF6_I/AAAAAAABXwA/LDS2EnyevPQIVrJ5SdlqDSzF4mzLPu7zgCLcB/s1600/P1030746.jpg")
		//img(src="https://2.bp.blogspot.com/-M295XXuyryk/V5xtxV_PvmI/AAAAAAABXv4/l9eV-iqt1OoS29GyJmouptM9sDJ9RItlQCLcB/s1600/P1030767.jpg")

		img(src="https://1.bp.blogspot.com/-AbF1cjJWCc8/V5xt02FlwOI/AAAAAAABXwk/Ae1S-lgtDrUX8xyT1hJ_wZR6pVM0LZuOACLcB/s1600/P1030835.jpg")
		img(src="https://2.bp.blogspot.com/-en_zRdBZ9dw/V5xt1Iah0MI/AAAAAAABXwo/GkH4qaoW0RggsQSW-xlzJ8jXCzYIzQr6gCLcB/s1600/P1030846.jpg")
		img(src="https://2.bp.blogspot.com/-T3JwWkY__pE/V5xt2VA1IdI/AAAAAAABXww/qJlx07wMMQsbQBZChIdddP__NkP2tAT1QCLcB/s1600/P1030865.jpg")

		img(src="https://4.bp.blogspot.com/-59gj5cPnhXg/V5xt2ifW7YI/AAAAAAABXw0/_oCgHZallQgBNBcVQ3Uc1ArG3w9fLDS0gCLcB/s1600/P1030870.jpg")

		img(src="https://2.bp.blogspot.com/-_vlG9DnOgkU/V5xt1g0vwSI/AAAAAAABXws/LEHACfLa5-Am6LySIFGFlH9MnIp9wBk9gCLcB/s1600/P1030857-2.jpg")
		img(src="https://4.bp.blogspot.com/-mhGjTeIK7yc/V5xt20Is3-I/AAAAAAABXw4/lx1jfzlmckgSQLM4XOQWpq0woPM9fLnZACLcB/s1600/P1030875.jpg")
		img(src="https://1.bp.blogspot.com/-xO7etE6gd1Q/V5xt3Tia6nI/AAAAAAABXxA/LwKNTvhKoro7xdYKPCTYO_ixBWkfy81VgCLcB/s1600/P1030910.jpg")

	.photoset(data-layout="121232332322323232")
		img(src="https://1.bp.blogspot.com/-kifhoyoDuf0/V5xt3dQagPI/AAAAAAABXw8/R9MW_sm4i9Auk3k_l8tyoMkM0_ohDjaOgCLcB/s1600/P1030891.jpg")
		//img(src="https://3.bp.blogspot.com/-fY3nhaS2fX4/V5xt3yeEGdI/AAAAAAABXxE/ZlXcqxGUDIUswBiRzS9ePZiYi0ttBi4xACLcB/s1600/P1030912.jpg")

		img(src="https://2.bp.blogspot.com/-K_BRED-CytA/V5xt5Qoel4I/AAAAAAABXxU/o9-3_-UB73gOUafmOedOa-MzBKx34WyzwCLcB/s1600/P1030942.jpg")
		//img(src="https://4.bp.blogspot.com/-eRrz21WyL1Y/V5xt57_mfQI/AAAAAAABXxY/aA3dbNkz__IIsaVwmIzkjo2j3gB9WK99wCLcB/s1600/P1030959.jpg")
		img(src="https://2.bp.blogspot.com/-3VrLjiTaQZ4/V5xt459j96I/AAAAAAABXxM/we3JBbelGLIsbmfGBW7CNdtqQTzGaKWeACLcB/s1600/P1030933-2.jpg")
		img(src="https://1.bp.blogspot.com/-jG6BvFR3424/V5xt4vHXDcI/AAAAAAABXxQ/CqqYkp6Ra7o3IWjnWpNPNYOt0b6bFACSgCLcB/s1600/P1030931.jpg")
		img(src="https://3.bp.blogspot.com/-udwlZ-Jei9w/V5xt4SVbWMI/AAAAAAABXxI/Em2KMb_e2tErFSZuhIilMT3tRnU7MLT1ACLcB/s1600/P1030923.jpg")
		//img(src="https://4.bp.blogspot.com/-aFwQip3uxys/V5xt53nIrUI/AAAAAAABXxc/f9EeyeiTnXcP4w9_nQoFekkGuRYMMsG8QCLcB/s1600/P1030963.jpg")
		img(src="https://2.bp.blogspot.com/-Ds2TXEHWNQo/V5xt6MoRPcI/AAAAAAABXxg/BPPVRsP3GBsfI0MMuHjLtzVja-n-2nrHgCLcB/s1600/P1030964.jpg")

	.photoset(data-layout="232323232332322323232")
		img(src="https://4.bp.blogspot.com/-bhhAM4bC4Dc/V5xt6-7nJZI/AAAAAAABXxk/ExWD-NOkgjE_3cF91c25sPDoRf3rieYUgCLcB/s1600/P1030973.jpg")
		img(src="https://1.bp.blogspot.com/-9xhSTfiJ_Q0/V5xt7KC_C1I/AAAAAAABXxs/BxVHfnVSi_EiH44qJ4y0v7CtsnWOxP4aQCLcB/s1600/P1030982.jpg")
		img(src="https://3.bp.blogspot.com/-m0O0EnOS_eQ/V5xt6-obdFI/AAAAAAABXxo/tMpLcU6CRwk67rBp1YlOt2MZ3BJK8okGQCLcB/s1600/P1030977.jpg")
		img(src="https://1.bp.blogspot.com/-as-h7I-kOF8/V5xt7gd25eI/AAAAAAABXxw/vduwIeETtK8IFozuvhhw5azHpR8vtPP9QCLcB/s1600/P1030985.jpg")
		img(src="https://4.bp.blogspot.com/-AvE7qVtVRps/V5xt7l5fT5I/AAAAAAABXx0/K9ZOhbtzxhY3XOy02LLG0r5UBH58M_c7ACLcB/s1600/P1030989.jpg")
		
.group
	h2 Chinese New Year
		.date 8 February
	.story 
	.video(data="cHcUuu7F56s")
