---
layout: exposure
label: romance
cover: https://4.bp.blogspot.com/-vXggmlmpbTA/VHBC27tbmKI/AAAAAAAA1D0/aLGJ8I_fAvcVT9dhdhKtVFO2daFARXJdQCKgB/s1600/LoveMessage.jpg
title: 2nd Anniversary
excerpt: Special Edition
author: Elvin
date: 2014-01-01
permalink: /2years
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 Second Anniversary
	.story Special edition.
	.photoset(data-layout="112222221")
		img(src="https://4.bp.blogspot.com/-66YwZvSav64/VHBPgS5bcuI/AAAAAAAA1E8/a-oFKjqg6qU5l0ns8um2YXQUQmStJIELACKgB/s1600/Lovers.jpg")
		img(src="https://3.bp.blogspot.com/-kuZOU9TAAis/VHFMhTl2T6I/AAAAAAAA1IQ/g756PaDSCWkZPRLABIRa8pxx68468Ne_ACKgB/s1600/AnniversaryMessage.jpg")
		img(src="https://1.bp.blogspot.com/-ekIsOx7K-L8/VHBHc6T0HdI/AAAAAAAA1EQ/b3w2Y6l5sysbalVRh8ucS857TbERQcwiQCKgB/s800/KoreaTrip.jpg")
		img(src="https://4.bp.blogspot.com/-dROx0jz3RWs/VHBLyUvVjGI/AAAAAAAA1Ec/JxhZ0v-ZOpEB0nS5NsbNfG_p-ASqFriUQCKgB/s800/CrazyOnes.jpg")
		img(src="https://3.bp.blogspot.com/-6BNdxSm6vuQ/VHBZ0fMsuuI/AAAAAAAA1Fk/d5HHUZls00kuPXqQjLsHT7l_seCSD7FDgCKgB/s800/PrettyBaby.jpg")
		img(src="https://4.bp.blogspot.com/-S0jDgu0XsW4/VHFDIVa3EdI/AAAAAAAA1HI/U4IeDhoYWPQ0ttphwKzmYWe5kZi52oFbQCKgB/s800/MarryMe.jpg")
		img(src="https://1.bp.blogspot.com/-MpsXazlihiw/VHFHBmyMeJI/AAAAAAAA1H0/lUzEwD0r38MsCI2kVZyk5OyBFEjL0lukgCKgB/s800/MarryMe2.jpg")
		img(src="https://2.bp.blogspot.com/-X5FnZY6F7hE/VHBgZLPhgzI/AAAAAAAA1F4/bu0IIWZirxQ1-LiTrFZwa8X2FFuErWnwACKgB/s800/PhuketTrip.jpg")
		img(src="https://4.bp.blogspot.com/-RDqFN9nFYp8/VHBjGwX7W4I/AAAAAAAA1GI/PFhj_Zfu3Uk1XDJKeGNAslrDhf_OUs4wgCKgB/s800/NationalDay.jpg")
		img(src="https://3.bp.blogspot.com/-ryf2K0-h4H8/VHBkk7d8QUI/AAAAAAAA1GU/ElvZaXBCnGkC8ULBSgNCdo1CCscpPhkzwCKgB/s800/Outings.jpg")
		img(src="https://1.bp.blogspot.com/-NBAlWjPu44o/VHBOag8r1UI/AAAAAAAA1Ew/OyFmiaJyEzkA-BzN365PdK14GJ_QN12vQCKgB/s400/PreWed.jpg")
		img(src="https://1.bp.blogspot.com/-9VAfvkR6o20/VHBOUu5TGXI/AAAAAAAA1Eo/clxvWTtQAbIydnvJon7V9uUfxF7LaIgfgCKgB/s800/KoreaWedding.jpg")
		img(src="https://1.bp.blogspot.com/-JRC-dYbZ91A/VHFPG7SoOMI/AAAAAAAA1Ig/JJ9p_THtpYMx7u4zKp1foQHWnOauIh1CwCKgB/s800/PreChristmas.jpg")
		img(src="https://4.bp.blogspot.com/-Opb1pZmYSsc/VHFHufRkfwI/AAAAAAAA1H8/NuQWdarOeXsEUMQNL3F1B6lqLm2DvZBWACKgB/s800/ToBeContinued.jpg")
		img(src="https://4.bp.blogspot.com/-vXggmlmpbTA/VHBC27tbmKI/AAAAAAAA1D0/aLGJ8I_fAvcVT9dhdhKtVFO2daFARXJdQCKgB/s1600/LoveMessage.jpg")
