---
layout: exposure
label: romance
cover: https://1.bp.blogspot.com/-o6EXyaKYbPA/Uo9uy_Dh_JI/AAAAAAAANtw/mO-hfXnV-_IAUYWuhJaohjACpiqQFDHQACKgB/s1600/01.png
title: Proposal
excerpt: Yes, I do
author: Elvin
date: 2013-01-01
permalink: /proposal
---
header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated
			.date {{ page.date | date: "%B %Y" }}

.group
	h2 Will you marry me?
	.story Elvin proposed to Ellis at her house on the morning of their first anniversary.
	.photoset(data-layout="11111111111")
		img(src="https://1.bp.blogspot.com/-o6EXyaKYbPA/Uo9uy_Dh_JI/AAAAAAAANtw/mO-hfXnV-_IAUYWuhJaohjACpiqQFDHQACKgB/s1600/01.png")
		img(src="https://1.bp.blogspot.com/-rXDsfTFcjmA/Uo9uzOTl6mI/AAAAAAAANt0/xuOvQd3W-ssKMncDLlLaUFeQfW4KVsS0ACKgB/s1600/02.jpg")
		img(src="https://4.bp.blogspot.com/-fYdr6ELUYYg/Uo9uywAY9AI/AAAAAAAANt8/_Fra28gaKrUE47E01F1bfuXyG_4Led3HgCKgB/s1600/03.png")
		img(src="https://4.bp.blogspot.com/-tAkVXjpGwBA/Uo9uz7ZJLGI/AAAAAAAANuA/dErJTiNNf20xaqYRmvjz0kISHlctHg6DQCKgB/s1600/04.jpg")
		img(src="https://2.bp.blogspot.com/-aLb3ZDmZHVA/Uo9u0Fc6jzI/AAAAAAAANuU/9L-DOv4gB94wxCZoSMuMcTClvQ-3vkFNgCKgB/s1600/05.jpg")
		img(src="https://2.bp.blogspot.com/-PD4ego7kAJ8/Uo9u0SR40QI/AAAAAAAANuY/6V0VMAzNmFU7GAW2vOjCHYsj0_QDT6SaQCKgB/s1600/06.jpg")
		img(src="https://3.bp.blogspot.com/-2Va2D5Bgv_Q/Uo9u0tiY0RI/AAAAAAAANuw/O8dbltqe0oYXjyqBk40j85y5JhnzFHQagCKgB/s1600/07.jpg")
		img(src="https://1.bp.blogspot.com/-PyXSy-yDxik/Uo9u1L0X9II/AAAAAAAANus/AT1n0NR4afM3y811-98hKOgaRaT19G5TQCKgB/s1600/08.jpg")
		img(src="https://3.bp.blogspot.com/-FzlBNJFjN7c/Uo_6SZzFQFI/AAAAAAAANxc/Xb2mHrf4CMwNA8OALH4DUv2WI0oUOy1YQCKgB/s1600/09.jpg")
		img(src="https://2.bp.blogspot.com/-JQ0K186QoDo/Uo9u1wtZMgI/AAAAAAAANuo/Jyaeo8vDKNAXrNFLdJ7MGrUU1cQquoprACKgB/s1600/10.jpg")
		img(src="https://2.bp.blogspot.com/-6BioBl0BfuY/Uo9u2O56trI/AAAAAAAANvQ/-0NrfRXg4esjAgcJ9GypXwJ_8sTymQ2uQCKgB/s1600/11.jpg")
		img(src="https://3.bp.blogspot.com/-6iD7HClIhH4/Uo9u2OinfuI/AAAAAAAANu4/aDNk88yHgnEQimSlfhCQ4P6u34w8dA7ZQCKgB/s1600/12.jpg")
		img(src="https://4.bp.blogspot.com/-6Tcgl6qEVFs/Uo_6SXtrPRI/AAAAAAAANxY/xZ3Tm1MnsLQ1YtrTA28FowH4ADjJIlK4ACKgB/s1600/13.jpg")
		img(src="https://3.bp.blogspot.com/-FPj-XwG7ZTc/Uo_6STgmmtI/AAAAAAAANxg/kHV3Bo_vYooq-m_QjRXCnT0WzrppPTeNACKgB/s1600/14.jpg")
		img(src="https://3.bp.blogspot.com/-OcbmS4ZSPbo/Uo9u2ixojTI/AAAAAAAANu0/VDQd8ns8BhAC7jwuslW1aQki7fdo_bSLACKgB/s1600/15.jpg")
		img(src="https://4.bp.blogspot.com/-uTYkyiXfVTc/Uo-Pl2WGRdI/AAAAAAAANwY/tHt32hqvM4wCabO_0gkiqu0kVIrmL4LHgCKgB/s1600/16.jpg")
		img(src="https://3.bp.blogspot.com/-EzlA5-nYvN4/Uo-PlwdiVDI/AAAAAAAANwc/qRdoYoBPm-kNQT-cfraAHa1iWgDsO3LWwCKgB/s1600/17.jpg")
		img(src="https://2.bp.blogspot.com/-y87H7mAdT5Y/Uo9u3oOhYVI/AAAAAAAANvM/7NbwEeGBb4oCx6OUA2gk36ydLqXhDdeswCKgB/s1600/18.png")
		img(src="https://4.bp.blogspot.com/-xhDRhO6CCrw/Uo9u4b4_hTI/AAAAAAAANvY/g33YyOKn2cAkFoWEFgifcDpZlcliOmj8QCKgB/s1600/19.jpg")
		img(src="https://3.bp.blogspot.com/-SlYG3jp1wSE/Uo-Pl0cUDhI/AAAAAAAANwU/vHg3uCYmdjErFewP7vLTSSbgyfmhnlo2wCKgB/s1600/20.jpg")

.group
	h2 Celebration
	.story Proposal site 
	.photoset(data-layout="232323")

.group
	h2 Rings
	.story Proposal site 
	.photoset(data-layout="232323")
		img(src="https://2.bp.blogspot.com/-u2KC2pltvYA/V4tT5nzk69I/AAAAAAABXII/20PqbNmzr6weY4AiEwXPp3xvZvU2Vf0_gCLcB/s1600/V1a.jpg")
		img(src="https://1.bp.blogspot.com/-zan5B0-n6BI/V4tT5pB3dvI/AAAAAAABXIA/YPd140W25kQiyCjpaKwSblNU09R92b-ogCLcB/s1600/V1b.jpg")
		img(src="https://1.bp.blogspot.com/-_7RrG8SoUVk/V4tT5kr-13I/AAAAAAABXIE/iSWWX0VZsMAWTnDhRMycTt7jiC-r2raiwCLcB/s1600/V1c.jpg")
		img(src="http://3.bp.blogspot.com/-C3NGUgNa5r0/V4tTl_yCOcI/AAAAAAABXHk/pjzpIgTLYf8_emJrWZcoT6Q3vXsUvoqXQCK4B/s1600/Ideal%2B%2B0.77%2BG%2BVS1%2BGIA%2B1156489961.jpg")
		img(src="http://4.bp.blogspot.com/-sXRwd42srHg/V4tTly5vZeI/AAAAAAABXHg/qWBxnb5Wy4I5M2qYEKcAoHiAl2bu1Ja-gCK4B/s1600/Hearts%2B%2B0.77%2BG%2BVS1%2BGIA%2B1156489961.jpg")
		img(src="http://3.bp.blogspot.com/-67ubR10Cp5I/V4tTl7R2MpI/AAAAAAABXHc/ZcRRSEmOxd0xM_zdIb62iHI-ikmyAd6LACK4B/s1600/Aset%2B%2B0.77%2BG%2BVS1%2BGIA%2B1156489961.jpg")
		img(src="http://3.bp.blogspot.com/-2UdsJZSnXBw/V4tTl2bu3jI/AAAAAAABXH0/VUpDedopMLI7iugJNyCjvPr7EGpfVrQCgCK4B/s1600/Actual%2B%2B0.77%2BG%2BVS1%2BGIA%2B1156489961.jpg")
		img(src="http://3.bp.blogspot.com/-a-7LEl0VmBk/V4tTl5kCyFI/AAAAAAABXH8/Ntdi_WgUCJU56E7WCLRUQXHRpoK8ACySQCK4B/s1600/HCA%2Bscore%2B%2B0.77%2BG%2BVS1%2BGIA%2B1156489961.jpg")
		img(src="http://2.bp.blogspot.com/-8yMqFv3i_jQ/V4tTmAiM8QI/AAAAAAABXHw/DsdOn9OSRNk_VSpacBKq4q1w5gWWKIWqQCK4B/s1600/GIA%2Breport%2B0.77%2BG%2BVS1%2BGIA%2B1156489961.jpg")

