---
layout: exposure
label: romance
cover: https://1.bp.blogspot.com/-z6wHGBtKOls/V4tWzaOUO6I/AAAAAAABXJ8/CyXRV2_mcoQKvkZfkeamEKI5BhcGz2JMQCLcB/s1600/0081.jpg
cover2: https://1.bp.blogspot.com/-smVzGmHnbmM/V4tWo5bWx6I/AAAAAAABXJA/XJyGUuM2phgI4Pk-SaD4DBkwFSnTJphRACLcB/s1600/0004.jpg
title: Wedding Album
excerpt: Once in a lifetime 
author: Elvin
date: 2014-10-08
permalink: /weddingalbum
---
style.
	body{
	background-color: #c4b7af
	}

//header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated
			.date {{ page.date | date: "%B %Y" }}

//img(src="https://4.bp.blogspot.com/-nR-Oy-nYNHA/V4tV-IOiwwI/AAAAAAABXIw/UBWhfuesl3cpjyyNA6CoGy6oEK1Q34pugCLcB/s1600/Cover2.jpg" style="max-width: 100%; margin-bottom: 3px;")
//.test(style="overflow-x; scroll;overflow-y: hidden;height: 100vh; white-space: nowrap")
	div(style="min-width: 80vw; background-color: #c4b7af") This is the 
	img(src="https://4.bp.blogspot.com/-nR-Oy-nYNHA/V4tV-IOiwwI/AAAAAAABXIw/UBWhfuesl3cpjyyNA6CoGy6oEK1Q34pugCLcB/s1600/Cover2.jpg")
	img(src="https://4.bp.blogspot.com/-hfDFHWhaZzw/V4tV7zsH_kI/AAAAAAABXIY/8MYucIf5Jn4QOYz6FcXQ4x1pTv93dLsSgCLcB/s1600/01.jpg")
	//img(src="https://2.bp.blogspot.com/-NEiMUCDY4yI/V4tWo_XxWYI/AAAAAAABXI8/7dgXV5-jgEAhh8LNwrVvANFkPmDbpQHogCLcB/s1600/0007.jpg")
	//img(src="https://1.bp.blogspot.com/-EmfpRTqP5Z8/V4tWonBL1dI/AAAAAAABXI4/BbM7QS2HlRkwgXQpdWEdeMJfl9RwfN_agCLcB/s1600/0009.jpg")

	img(src="https://1.bp.blogspot.com/-xLGKSebnUb8/V4tWrjcMyWI/AAAAAAABXJI/JFriQy2BunwFHdFOS1MZHIiXPJubFNTwgCLcB/s1600/0021.jpg")
	img(src="https://1.bp.blogspot.com/-smVzGmHnbmM/V4tWo5bWx6I/AAAAAAABXJA/XJyGUuM2phgI4Pk-SaD4DBkwFSnTJphRACLcB/s1600/0004.jpg")
	img(src="https://3.bp.blogspot.com/-xvzW7jHIbr4/V4tWr_qqoKI/AAAAAAABXJM/PC8_a3T6IdgeabLTK-nYVygtioKPWNBnQCLcB/s1600/0022.jpg")

	//img(src="https://4.bp.blogspot.com/-9JOMI4HSiNo/V4tWqJLMD-I/AAAAAAABXJE/RFGb6fgdCDsThb4dwY7sbP7r_SsXARAagCLcB/s1600/0018.jpg")

	img(src="https://2.bp.blogspot.com/-I2o17CqMKY0/V4tWsMNxvPI/AAAAAAABXJQ/MeAr7zQV10cv24vAjYr0hhMvwa4H9vq3gCLcB/s1600/0024.jpg")

	// classic
	//img(src="https://1.bp.blogspot.com/-OhLqYMVRWbw/V4tWxbImqjI/AAAAAAABXJo/PCiG08ThyLE2QGJ_1I_-E0FCs08PqoFZgCLcB/s1600/0054.jpg")

	//img(src="https://3.bp.blogspot.com/-YhQ-soc1ED0/V4tWwccEvoI/AAAAAAABXJg/45apPI_1yogwy0CpdPOLpMzOJpGYwyLhwCLcB/s1600/0053.jpg")
	img(src="https://3.bp.blogspot.com/-SyAhhNTa_ho/V4tWucSeZaI/AAAAAAABXJc/A-TzEklowj0ja3PKfVPaXe9jDm2SacNAQCLcB/s1600/0052.jpg")
	img(src="https://1.bp.blogspot.com/-a7qyxf3Hago/V4tV8ClQIlI/AAAAAAABXIg/3KUg5aqwUssPuI8Klu475FMc_ysZiLUbgCLcB/s1600/06.jpg")
	img(src="https://4.bp.blogspot.com/-g76DENgC4Vs/V4tWtl91gzI/AAAAAAABXJU/4mv0Wsr1o8Q2x7_aMv72E49cb0qLni6GQCLcB/s1600/0033.jpg")
	img(src="https://1.bp.blogspot.com/-uEZkf2FvZM0/V4tWt7jtSvI/AAAAAAABXJY/3_kcMCQ9uek1udaX2FShN-FD8__FRt7nACLcB/s1600/0039.jpg")


	// Korea
	img(src="https://4.bp.blogspot.com/-_jV7Ri9EhRk/V4tV72q6zRI/AAAAAAABXIc/WKlgKZ4wuBA_jCZmLWoY0v6EEq7RvbVywCLcB/s1600/04.jpg")
	img(src="https://1.bp.blogspot.com/-z6wHGBtKOls/V4tWzaOUO6I/AAAAAAABXJ8/CyXRV2_mcoQKvkZfkeamEKI5BhcGz2JMQCLcB/s1600/0081.jpg")
	//img(src="https://4.bp.blogspot.com/-yYpPBTv5X8w/V4tWxagpCsI/AAAAAAABXJk/vhOv41Mw-H4ZUTlfdPlo2KHAo4q3GCFBQCLcB/s800/0059.jpg")
	//img(src="https://1.bp.blogspot.com/-MBjuIyUprNQ/V4tWxpfAPyI/AAAAAAABXJs/eCU5XcGTymMYmFz6bnkGbwlWkwkFwFxpwCLcB/s800/0060.jpg")
	//img(src="https://1.bp.blogspot.com/-Xvrh0U_LXJc/V4tWzPpbWiI/AAAAAAABXJ0/E2gZL5dZlbM76Kd4n8Wtk-A8I0LOot74wCLcB/s800/0061.jpg")
	img(src="https://4.bp.blogspot.com/-b8nfVdZxjxk/V4tWzdiHnqI/AAAAAAABXJ4/n4a6dYutLNEjkdXXnV8SwNM4SAs2aG0ogCLcB/s800/0064.jpg")


	// Tanjong
	img(src="https://2.bp.blogspot.com/-U9GUD4zlmFk/V4tW1CQ7KjI/AAAAAAABXKA/RsTmFoHGDhYADTMrR2DOvOBOgN-4nK9RQCLcB/s1600/0125.jpg")
	img(src="https://4.bp.blogspot.com/-IphzpfM8Ke0/V4tW2SRvSjI/AAAAAAABXKM/_1BVrdHlCl4zSO4qw6dryTS6oCL01jlFQCLcB/s1600/0133.jpg")
	img(src="https://2.bp.blogspot.com/-TFSKaH6spNY/V4tW1MjwY6I/AAAAAAABXKE/MeW9zH_sPbclylamFlkNZHTR5DxF2c0VwCLcB/s1600/0131.jpg")
	img(src="https://2.bp.blogspot.com/-5ZR4FNQRgRI/V4tW1AufhrI/AAAAAAABXKI/fllCPIb_Pp0iQevhSGGZTZDM0koO75cNgCLcB/s1600/0130.jpg")

	// Ben jerry
	img(src="https://1.bp.blogspot.com/-y1qjSZ3r7uU/V4tW4YZ5HtI/AAAAAAABXKc/1Sp_BflpIZM9bVB3atBqwmXmXbXmHP9MgCLcB/s1600/0188.jpg")
	img(src="https://4.bp.blogspot.com/-RFSVnpg5bj4/V4tW3X5WoqI/AAAAAAABXKY/BCxMwxA-CMIZJ7vQt9NZWDxVo0YgCVfYgCLcB/s1600/0181.jpg")
	img(src="https://3.bp.blogspot.com/-nRAM2eIlCKE/V4tW20NpRWI/AAAAAAABXKU/AHNdK_zRvvsSSqtUYYyYOchfoINe1BkMQCLcB/s1600/0174.jpg")
	img(src="https://3.bp.blogspot.com/-hoKp9FwAH-o/V4tW295N86I/AAAAAAABXKQ/q-DcFkAtjEMJ84HtGYX80crkxtgK310ngCLcB/s1600/0172.jpg")






.photoset(data-layout="1")
	img(src="https://4.bp.blogspot.com/-nR-Oy-nYNHA/V4tV-IOiwwI/AAAAAAABXIw/UBWhfuesl3cpjyyNA6CoGy6oEK1Q34pugCLcB/s1600/Cover2.jpg")
.photoset(data-layout="13B1")
	img(src="https://4.bp.blogspot.com/-hfDFHWhaZzw/V4tV7zsH_kI/AAAAAAABXIY/8MYucIf5Jn4QOYz6FcXQ4x1pTv93dLsSgCLcB/s1600/01.jpg")

	img(src="https://2.bp.blogspot.com/-NEiMUCDY4yI/V4tWo_XxWYI/AAAAAAABXI8/7dgXV5-jgEAhh8LNwrVvANFkPmDbpQHogCLcB/s500/0007.jpg")
	img(src="https://1.bp.blogspot.com/-EmfpRTqP5Z8/V4tWonBL1dI/AAAAAAABXI4/BbM7QS2HlRkwgXQpdWEdeMJfl9RwfN_agCLcB/s500/0009.jpg")
	img(src="https://1.bp.blogspot.com/-xLGKSebnUb8/V4tWrjcMyWI/AAAAAAABXJI/JFriQy2BunwFHdFOS1MZHIiXPJubFNTwgCLcB/s500/0021.jpg")

	img(src="https://3.bp.blogspot.com/-xvzW7jHIbr4/V4tWr_qqoKI/AAAAAAABXJM/PC8_a3T6IdgeabLTK-nYVygtioKPWNBnQCLcB/s800/0022.jpg")
	img(src="https://1.bp.blogspot.com/-smVzGmHnbmM/V4tWo5bWx6I/AAAAAAABXJA/XJyGUuM2phgI4Pk-SaD4DBkwFSnTJphRACLcB/s800/0004.jpg")
	img(src="https://4.bp.blogspot.com/-9JOMI4HSiNo/V4tWqJLMD-I/AAAAAAABXJE/RFGb6fgdCDsThb4dwY7sbP7r_SsXARAagCLcB/s800/0018.jpg")

	img(src="https://2.bp.blogspot.com/-I2o17CqMKY0/V4tWsMNxvPI/AAAAAAABXJQ/MeAr7zQV10cv24vAjYr0hhMvwa4H9vq3gCLcB/s1600/0024.jpg")

.photoset(data-layout="B1" style="background-color: #666")
	.story Classic Love
	img(src="https://1.bp.blogspot.com/-OhLqYMVRWbw/V4tWxbImqjI/AAAAAAABXJo/PCiG08ThyLE2QGJ_1I_-E0FCs08PqoFZgCLcB/s800/0054.jpg")

	img(src="https://3.bp.blogspot.com/-YhQ-soc1ED0/V4tWwccEvoI/AAAAAAABXJg/45apPI_1yogwy0CpdPOLpMzOJpGYwyLhwCLcB/s800/0053.jpg")
	img(src="https://3.bp.blogspot.com/-SyAhhNTa_ho/V4tWucSeZaI/AAAAAAABXJc/A-TzEklowj0ja3PKfVPaXe9jDm2SacNAQCLcB/s800/0052.jpg")
	img(src="https://1.bp.blogspot.com/-a7qyxf3Hago/V4tV8ClQIlI/AAAAAAABXIg/3KUg5aqwUssPuI8Klu475FMc_ysZiLUbgCLcB/s1600/06.jpg")

.photoset(data-layout="2" style="background-color: #be666d")
	.story Sweet Love
	img(src="https://4.bp.blogspot.com/-g76DENgC4Vs/V4tWtl91gzI/AAAAAAABXJU/4mv0Wsr1o8Q2x7_aMv72E49cb0qLni6GQCLcB/s800/0033.jpg")
	img(src="https://1.bp.blogspot.com/-uEZkf2FvZM0/V4tWt7jtSvI/AAAAAAABXJY/3_kcMCQ9uek1udaX2FShN-FD8__FRt7nACLcB/s800/0039.jpg")
	.fleuron(style="color: #f3b6b0")

.photoset(data-layout="1122")
	.story Korea
	img(src="https://4.bp.blogspot.com/-_jV7Ri9EhRk/V4tV72q6zRI/AAAAAAABXIc/WKlgKZ4wuBA_jCZmLWoY0v6EEq7RvbVywCLcB/s1600/04.jpg")
	img(src="https://1.bp.blogspot.com/-z6wHGBtKOls/V4tWzaOUO6I/AAAAAAABXJ8/CyXRV2_mcoQKvkZfkeamEKI5BhcGz2JMQCLcB/s1600/0081.jpg")
	img(src="https://4.bp.blogspot.com/-yYpPBTv5X8w/V4tWxagpCsI/AAAAAAABXJk/vhOv41Mw-H4ZUTlfdPlo2KHAo4q3GCFBQCLcB/s800/0059.jpg")
	img(src="https://1.bp.blogspot.com/-MBjuIyUprNQ/V4tWxpfAPyI/AAAAAAABXJs/eCU5XcGTymMYmFz6bnkGbwlWkwkFwFxpwCLcB/s800/0060.jpg")
	img(src="https://1.bp.blogspot.com/-Xvrh0U_LXJc/V4tWzPpbWiI/AAAAAAABXJ0/E2gZL5dZlbM76Kd4n8Wtk-A8I0LOot74wCLcB/s800/0061.jpg")
	img(src="https://4.bp.blogspot.com/-b8nfVdZxjxk/V4tWzdiHnqI/AAAAAAABXJ4/n4a6dYutLNEjkdXXnV8SwNM4SAs2aG0ogCLcB/s800/0064.jpg")

.photoset(data-layout="13" style="background-color: #f6e9da")
	.story  Girl in red
	img(src="https://2.bp.blogspot.com/-U9GUD4zlmFk/V4tW1CQ7KjI/AAAAAAABXKA/RsTmFoHGDhYADTMrR2DOvOBOgN-4nK9RQCLcB/s1600/0125.jpg")
	img(src="https://2.bp.blogspot.com/-TFSKaH6spNY/V4tW1MjwY6I/AAAAAAABXKE/MeW9zH_sPbclylamFlkNZHTR5DxF2c0VwCLcB/s500/0131.jpg")
	img(src="https://2.bp.blogspot.com/-5ZR4FNQRgRI/V4tW1AufhrI/AAAAAAABXKI/fllCPIb_Pp0iQevhSGGZTZDM0koO75cNgCLcB/s500/0130.jpg")
	img(src="https://4.bp.blogspot.com/-IphzpfM8Ke0/V4tW2SRvSjI/AAAAAAABXKM/_1BVrdHlCl4zSO4qw6dryTS6oCL01jlFQCLcB/s500/0133.jpg")

//.group
	h2 Ben & Jerry's at Dempsey
	.story 
.photoset(data-layout="13" style="background-color: #c7e3ea")
	img(src="https://1.bp.blogspot.com/-y1qjSZ3r7uU/V4tW4YZ5HtI/AAAAAAABXKc/1Sp_BflpIZM9bVB3atBqwmXmXbXmHP9MgCLcB/s1600/0188.jpg")
	img(src="https://3.bp.blogspot.com/-nRAM2eIlCKE/V4tW20NpRWI/AAAAAAABXKU/AHNdK_zRvvsSSqtUYYyYOchfoINe1BkMQCLcB/s500/0174.jpg")
	img(src="https://3.bp.blogspot.com/-hoKp9FwAH-o/V4tW295N86I/AAAAAAABXKQ/q-DcFkAtjEMJ84HtGYX80crkxtgK310ngCLcB/s500/0172.jpg")
	img(src="https://4.bp.blogspot.com/-RFSVnpg5bj4/V4tW3X5WoqI/AAAAAAABXKY/BCxMwxA-CMIZJ7vQt9NZWDxVo0YgCVfYgCLcB/s500/0181.jpg")

//.group
	h2 Botanical Gardens
	.story 
.photoset(data-layout="121")
	img(src="https://3.bp.blogspot.com/-PbH4qKHstHI/V4tW43lWnZI/AAAAAAABXKk/ZSS4Q6WWS5YKhiqSlG1qqcdqd-E1lz0qwCLcB/s1600/0204.jpg")
	img(src="https://3.bp.blogspot.com/-g5jl_Lutsq4/V4tW427zrSI/AAAAAAABXKg/Vo3w_cPQkcAag1ZPiw9g4JwUbtlfLDxcwCLcB/s800/0207.jpg")
	img(src="https://2.bp.blogspot.com/-IqHXmI9lW2Q/V4tW5f4ZxHI/AAAAAAABXKo/ZzPaRl5AiLQSQrClUKQjcoQ7G6EtyceAgCLcB/s800/0208.jpg")
	img(src="https://4.bp.blogspot.com/-PjXhqnu_-Ko/V4tV9a9eRmI/AAAAAAABXIk/wVTXMnHYL20Slf_ypf70XAnZVdqYMeqagCLcB/s1600/14.jpg")

//.group
	h2 Red Vines
	.story  
.photoset(data-layout="1A1")
	img(src="https://2.bp.blogspot.com/-gnPhgB9mras/V4tW-RNyz8I/AAAAAAABXLA/IrtL1pwQ96M5if81CACJD55SgYenh3O4gCLcB/s1600/0248.jpg")
	img(src="https://3.bp.blogspot.com/-MQO5k6FPrR4/V4tW7Kad2XI/AAAAAAABXKw/iFkhMI6QP0UEbzQDESQjSkM3Y0vKbPBKgCLcB/s800/0226.jpg")
	img(src="https://4.bp.blogspot.com/-uDYAZffksrs/V4tW8XexQbI/AAAAAAABXK4/KQgbDKBP-Ck-5ZAsEKr0kBWngFWzEJclACLcB/s800/0227.jpg")
	img(src="https://3.bp.blogspot.com/-EZ13xdX0PtM/V4tW6Buk9DI/AAAAAAABXKs/GWs91N3tFR4jg14rYvctPtacodUToegbwCLcB/s800/0224.jpg")
	img(src="https://4.bp.blogspot.com/-0-heub_rgqQ/V4tW7AS5FuI/AAAAAAABXK0/W5FNYlV_cEEqZN1O5EXSZER3im0JPl3MgCLcB/s800/0225.jpg")
	img(src="https://1.bp.blogspot.com/-71bLBoUWmV8/V4tW_Nnj-eI/AAAAAAABXLI/-k_81qZdNrQW0Qcrgrziq32oHBgP4gUzgCLcB/s800/0249.jpg")

//.group
	h2 Bandstand
	.story 
.photoset(data-layout="21")
	img(src="https://4.bp.blogspot.com/-NDtiFtbAjpE/V4tW9sQFkTI/AAAAAAABXK8/8JxXN6Ch2TInP7_5rjDmvGy4Blvj4fXggCLcB/s800/0228.jpg")
	img(src="https://4.bp.blogspot.com/-pOwjSoI89wk/V4tW-ShPzeI/AAAAAAABXLE/NeDOpRSY3iAqyVkLYxl5ydJsvL7WpS2vgCLcB/s800/0231.jpg")
	img(src="https://2.bp.blogspot.com/-UXBX2d-Ejbw/V4tV9wMNJzI/AAAAAAABXIs/P0OxnEnGOike0v9SVxIoNw-s9WWbfPZVwCLcB/s1600/13.jpg")

//.group
	h2 Sunset at Sentosa
	.story 
.photoset(data-layout="21")
	//img(src="https://3.bp.blogspot.com/-emt9MDSCfEg/V4tW_mi-HxI/AAAAAAABXLM/WKGf5qyoYeIRipGYKOSWcXM25InxuhOtACLcB/s800/0260.jpg")
	img(src="https://4.bp.blogspot.com/-uv0ClKfdfMo/V4tXABolrLI/AAAAAAABXLQ/whFheduVl4Y2w2zeRBWGwZmdKSiIgjiPACLcB/s800/0273.jpg")
	img(src="https://4.bp.blogspot.com/-G9npzN0muS4/V4tXAYxbLEI/AAAAAAABXLU/ZvwP0aRXuicgNp1E9gZuY6cp_A3XCyt4QCLcB/s800/0287.jpg")
	img(src="https://3.bp.blogspot.com/-gy8fW5y7N3w/V4tV9UVgL1I/AAAAAAABXIo/JyjBPsSeitQI1VUWPUzxvoemn6hNDIMVACLcB/s1600/16.jpg")
