---
layout: exposure
label: family
cover: https://2.bp.blogspot.com/-NiAT32kV_IU/WVJbDCR81SI/AAAAAAABefY/AKZH2nI5JBUvx-bbxR_0n0xpB_I8YDAvwCLcBGAs/s1600/20170517_080135.jpg
title: Three to Six Months
excerpt: Aaaa, oooo, cooo
author: Ellis and Elvin
date: 2017-05-01
permalink: /audrey03
---

header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]udrey is lots of fun these days. She loves to play and cannot stop smiling and laughing. When she does not get her milk on time, she cries at a ear-piercing decibel. At first we were worried she wasn't flipping. After she learn how to flip and cannot stop flipping, we wish she would not flip so much.

	.fleuron

.group
	h2
	h3 2 May, Tuesday (Week 14) - Vaccination 2
	.subline Head Circumference: 39.5 cm. Body Length: 59 cm. Weight: 6 Kg.

	.story Audrey cannot walk yet so she needs to get your attention when she is tired of lying down. The world is boring looking up at legs and ceiling. 

	.videoset(data="HoZ1mHzhpig,OS6QaNm6kvo,zrbaC0dvzEw")
	.photoset(data-layout="434")
		img(src="https://2.bp.blogspot.com/-EjE4LeVqak0/WUvlRAlN1bI/AAAAAAABeXs/Aq4u2WZSm24vEJIGTVw6z6ZrKx_etj39QCLcBGAs/s400/20170504_144720.jpg")
		img(src="https://3.bp.blogspot.com/-A375yhtWYv0/WUvlR0pr7HI/AAAAAAABeX0/_ESsiVMA5r45Jrr7dFHB7bkCrv2BP1MnACLcBGAs/s400/20170504_144728.jpg")
		img(src="https://1.bp.blogspot.com/-VgC4gsU5jzc/WUvlSFQnsUI/AAAAAAABeX4/OksS_zUNe5g1wAaubji5RMiAqcB-OcflQCLcBGAs/s400/20170504_144744.jpg")
		img(src="https://3.bp.blogspot.com/-GaZ7FmxY1NI/WUvlSfEB5QI/AAAAAAABeX8/Y98IDYmX0lsReAxowntfPPf5fDQZqoUIwCLcBGAs/s400/20170504_144751.jpg")

		img(src="https://3.bp.blogspot.com/-E2GKMlv5fAE/WUvlS22qOaI/AAAAAAABeYA/ZJUR6hc2UHIcEfuszMtKxHf9-utJXKriQCLcBGAs/s500/20170504_144804.jpg")
		img._(src="https://1.bp.blogspot.com/-F__6zsevW58/WUvlSwE3FXI/AAAAAAABeYE/xZEHkabvNa0tiMbjc_Q9_qCLlFO4vOwpgCLcBGAs/s500/20170504_144805%25280%2529.jpg")
		img(src="https://3.bp.blogspot.com/-MhQTwyxYbjM/WUvlTWjPGyI/AAAAAAABeYI/jLE0Y_hHW9g1JHZcj6KtN4S5aY6FED-_QCLcBGAs/s500/20170504_144805.jpg")

		img(src="https://1.bp.blogspot.com/-scsnnQAnBOY/WUvlT6t0IGI/AAAAAAABeYM/OqK36emG7mQViCyF1iKG5FNxnYzYML3CACLcBGAs/s400/20170504_203240.jpg")
		img(src="https://4.bp.blogspot.com/-JLXC8_MItmQ/WUvlT67kicI/AAAAAAABeYQ/DiCp0lfISTIVJ5iiP2fLwNuJVjH9ajVlgCLcBGAs/s400/20170504_203320.jpg")
		img(src="https://3.bp.blogspot.com/-ZzGhsqb3ky4/WUvlU2j-GwI/AAAAAAABeYY/6uaXjti6GIwp0j8dAgL4pLJ8PHrYEN_EgCLcBGAs/s400/20170504_203341.jpg")
		img(src="https://3.bp.blogspot.com/-F_glUabR6F8/WUvlVQ-5oyI/AAAAAAABeYc/MU6tLDXLuDsNGZ0Q-lxQbyAiHm7ZHNbOwCLcBGAs/s400/20170504_203359.jpg")
		//img(src="https://1.bp.blogspot.com/-_8zZv8lUNbE/WUvlUsxXpLI/AAAAAAABeYU/K_bXSQ2RnnAT1e6NKluqfeChYG-3UigHACLcBGAs/s500/20170504_203323.jpg")
		//img(src="https://3.bp.blogspot.com/-NAjza_GtNb0/WUvlV8R7tNI/AAAAAAABeYg/wOwLFmVL6a4LIgq4KEIFe32jdOGz7CvWwCLcBGAs/s500/20170504_203406%25280%2529.jpg")
		//img(src="https://1.bp.blogspot.com/-TxhAY6nkBBo/WUvlWF9JVVI/AAAAAAABeYk/fMc2T2kCMeQlsfj7m1KfzcE70BjZh41zQCLcBGAs/s500/20170504_203630%25280%2529.jpg")
		//img(src="https://4.bp.blogspot.com/-plH_2di9d74/WUvlWsE8J0I/AAAAAAABeYo/QFny-yp9HaI61ENF2ZTTcEhTiwsHsyt9wCLcBGAs/s500/20170504_204127.jpg")

	.videoset(data="mHtqkRbHlsA,ShRgzEIvDhE,E_dL4d_r0-k")

	.fleuron

	h3 7 May, Sunday (Week 14) - 100 Days
	.subline Head Circumference: 39.5 cm. Body Length: 59 cm.
	.photoset(data-layout="234332232232232")
		img(src="https://3.bp.blogspot.com/-Ccj45EXITjo/WWOCKhNiyHI/AAAAAAABe48/W0tvowntYk8bRhCEZkku0eF2mho_e1RIACLcBGAs/s800/20170507_075206.jpg")
		img(src="https://1.bp.blogspot.com/-vguJDRAtLa0/WWOCKkKaCsI/AAAAAAABe5E/73FLDZsRFIcwV2EbKvZ3C8XvNrBv0gAkQCLcBGAs/s800/20170507_100015.jpg")
		//img(src="https://3.bp.blogspot.com/-I2w-U-qcjEc/WWOCKrfUq6I/AAAAAAABe5A/Nf70zJpGup4yx7cKCddfsM8L4Y9jSxjOACLcBGAs/s500/20170507_100017%25280%2529.jpg")
		//img(src="https://2.bp.blogspot.com/-uCVGeNeJ3os/WWOCLqHaYYI/AAAAAAABe5I/zl-wBK2fPKYw_HiYO0UnMl2R4PIZRbPGgCLcBGAs/s500/20170507_100309.jpg")
		img(src="https://3.bp.blogspot.com/-_vnOe4Pq9yw/WWOCLpMh60I/AAAAAAABe5M/lluHqsKAIkI3awckEwBF3qjb7qOKFLkPACLcBGAs/s500/20170507_101103.jpg")
		img(src="https://1.bp.blogspot.com/-1hxeTQ2EFPs/WWOCL93Fs7I/AAAAAAABe5Q/k-B4nKZWZC84XEeSdElNapn9ti_fQC02wCLcBGAs/s500/20170507_101109.jpg")
		img(src="https://1.bp.blogspot.com/-ZZxJo7NSqPA/WWOCMkDerjI/AAAAAAABe5U/Q3fJ-OFI9Yo6RjR3WkfmCtA-vHAAiknJgCLcBGAs/s500/20170507_101126.jpg")

		img(src="https://2.bp.blogspot.com/-NCrArYM-a64/WWOCMgHEjFI/AAAAAAABe5c/IimisMLB11gXylVUzUxH9x7IuhbT53i7ACLcBGAs/s400/20170507_152552.jpg")
		img(src="https://3.bp.blogspot.com/-0L3n8n7zRAA/WWOCNuesLQI/AAAAAAABe5g/lXYSKpI92yMw5JzpT5gIByJeI0fbAB7PwCLcBGAs/s400/20170507_152630.jpg")
		img(src="https://1.bp.blogspot.com/-boCESbZShrU/WWOCN_27TLI/AAAAAAABe5k/BcES_cIaqXYr5kxMPYJ1Lgc4iqOZjqFWgCLcBGAs/s400/20170507_152700.jpg")
		img(src="https://4.bp.blogspot.com/-t9XOvybOijo/WWOCNzsfoZI/AAAAAAABe5o/exOc8p_M9mwdwcOa1uKcOuQ747V-xkhVgCLcBGAs/s400/20170507_152802.jpg")

	.videoset(data="BsPwNGAQn0s,1YuzGzQR6qk,25U48y6crYg")
	.photoset(data-layout="3135")
		img(src="https://3.bp.blogspot.com/-5gna0K-30Mc/WWOCMi97srI/AAAAAAABe5Y/o17IqQrxFgUkS70_ZoIB0bMaWjZ9uaUogCLcBGAs/s500/20170507_110418.jpg")
		img(src="https://3.bp.blogspot.com/-YY3ZjRP87n0/WWOCO1VhprI/AAAAAAABe5s/UnFV_qSMZzIvlSHbh9A2cozowukPu_X-QCLcBGAs/s500/20170507_162148.jpg")
		img(src="https://1.bp.blogspot.com/-pmfzl1Kzadw/WWOCO-Cu3qI/AAAAAAABe5w/0GQbMGYxxEsov-5Tt2rT4YLXU_aRi53qgCLcBGAs/s500/20170507_163009.jpg")

		img._(src="https://1.bp.blogspot.com/-SA9kGSzViX0/WWOCO2hRB1I/AAAAAAABe50/zcot13yQglMExqCGrryUbOwik9jn_M_EwCLcBGAs/s1600/20170507_161403.jpg")

		//img(src="https://4.bp.blogspot.com/-v8-Mx9RhmZ0/WWOCP33QEuI/AAAAAAABe54/xUp5R2JDwzMQy9U2M5hAZV0hgn4XPSExwCLcBGAs/s500/20170507_163713.jpg")
		//img(src="https://3.bp.blogspot.com/-aJVlODtKVUo/WWOCRMbA7YI/AAAAAAABe6I/pbz2r0pv844pJ3UW4Vv95E7IY4-rkq9iwCLcBGAs/s500/20170507_163954.jpg")
		//img(src="https://3.bp.blogspot.com/-nEF3IF81JBI/WWOCRFAw_FI/AAAAAAABe6M/Bc2PtNdejzULDhwGF9cJ36H02HehUrBhwCLcBGAs/s500/20170507_164006.jpg")
		//img(src="https://2.bp.blogspot.com/-cRucHH7xImY/WWOCS7eVo6I/AAAAAAABe6c/4MdHNB11-voJy2r01ll9N5eQJVm3Q31UgCLcBGAs/s500/20170507_164113.jpg")
		//img(src="https://4.bp.blogspot.com/-nPlYSm7Tej4/WWOCTG6n8oI/AAAAAAABe6k/iq85PVpOxfQ3fENvvpNM_h6tf6q-fWg0ACLcBGAs/s500/20170507_164135.jpg")
		img(src="https://4.bp.blogspot.com/-EHrEi-a_ed0/WWOCQDa5xKI/AAAAAAABe6A/AD1H7HVtooMwg2U3Z1gRvSSEM2VOkgYvQCLcBGAs/s500/20170507_163829.jpg")
		img(src="https://1.bp.blogspot.com/-MDCt3c2afaY/WWOCP_fICXI/AAAAAAABe58/ZwjzfTFDT7YBW4zpA3VeFHtoAtzokWaOwCLcBGAs/s500/20170507_163751.jpg")
		img(src="https://4.bp.blogspot.com/-nO-MfO7UdW8/WWOCQwbZwsI/AAAAAAABe6E/T9DRUYq-Px8ghPiohUAyUSEXdYmggGNDQCLcBGAs/s500/20170507_163936.jpg")

		img(src="https://3.bp.blogspot.com/-TQLDRjkrQdI/WWOCRq1j5kI/AAAAAAABe6Q/2jcjjm1Nr-kUJ6uoAq2uBHHfSpCORHhFgCLcBGAs/s300/20170507_164014%25280%2529.jpg")
		img(src="https://1.bp.blogspot.com/-2VpQqMawJe4/WWOCSF8tTJI/AAAAAAABe6U/-WTZIHpKQj4Jao_3RkCBmB25jONB5U_EACLcBGAs/s300/20170507_164023.jpg")
		img(src="https://2.bp.blogspot.com/-PsvBhVfZE_k/WWOCSLRSvEI/AAAAAAABe6Y/sX29Hnv_SlsqoQBdfdJsz8D53ZAS-P8uwCLcBGAs/s300/20170507_164047.jpg")
		img(src="https://1.bp.blogspot.com/-0de6vaG7DH0/WWOCS3AicFI/AAAAAAABe6g/J0b3LiyjoFEM6_EPzx1D7kIYivw1U_wpQCLcBGAs/s300/20170507_164101.jpg")
		img(src="https://2.bp.blogspot.com/-Eqpjnjz_JgY/WWOCT0vZ-GI/AAAAAAABe6o/T16bfnUa6_QYj2BftOFLA7sni6TbgBB1wCLcBGAs/s300/20170507_164148.jpg")

	.videoset(data="h9cxKwXBJz0,8-E8RhR6t-k")

	.photoset(data-layout="34")
		img(src="https://4.bp.blogspot.com/-X49NiOTkB94/WWOCUEBhn8I/AAAAAAABe6s/pdgH7TIdq585KVpiJLu_40vlatTSTSe_gCLcBGAs/s500/20170507_173656.jpg")
		img(src="https://1.bp.blogspot.com/-7fAw7M2nQTI/WWOCUXCQ-iI/AAAAAAABe6w/_5Me3hNyvdo6666vuvw5bKfCK83OjVqvgCLcBGAs/s500/20170507_173820%25281%2529.jpg")
		img(src="https://1.bp.blogspot.com/-jpN-0K-dtPE/WWOCUufpZjI/AAAAAAABe60/6qNbvC3JxQQ5AsYseafClVBiwtyhQE0sACLcBGAs/s500/20170507_173949.jpg")

		//img(src="https://4.bp.blogspot.com/-gLS7JpLj9mE/WWOCU5JFJII/AAAAAAABe64/rWEASoZXangKKbHLO9EXbCP3X-v9AUxvACLcBGAs/s500/20170507_174138.jpg")
		img(src="https://3.bp.blogspot.com/-6x4OydpIGDE/WWOCVnLDopI/AAAAAAABe7A/-8AW-hbRIxkBEq-UgrvFsajhdOCLYGlNQCLcBGAs/s400/20170507_210028.jpg")
		img(src="https://3.bp.blogspot.com/-jB6Wxl_akkU/WWOCVQ71QmI/AAAAAAABe68/hbo3kg1DHCcE1QqBtTShV8vjM9vkP08tgCLcBGAs/s400/20170507_210115.jpg")
		img(src="https://4.bp.blogspot.com/-eERiach5Qs0/WWOCVvHp9UI/AAAAAAABe7E/71OL2Wgp2Z0RC-RgImiuetXncf0gHhQmQCLcBGAs/s400/20170507_210117_001.jpg")
		img(src="https://4.bp.blogspot.com/-FTw9krk77G0/WWOCWQNGLcI/AAAAAAABe7I/WZdO4k39Ur431RFNTG9Q9CHsAzf6WpRNQCLcBGAs/s400/20170507_210153.jpg")


	.fleuron

	h3 14 May, Sunday (Week 15) - Mother's Day
	.subline Head Circumference: 39.5 cm. Body Length: 59.5 cm.
	.videoset(data="F-JnUUEH5WI,gzLEYXCkQ9I,EuZHFFyHuwk")
	.videoset(data="UDl5Ml7jlro,EMAZJkmzY1I,c4XYorEC6_g")
	.videoset(data="RCWR9ginEVE,ZH8VGPFR0B4,uqmYJCCa_GY")
	.videoset(data="72_3z3F6jnU,CAYErELRoD4,IeBAs11HiYE")
	.photoset(data-layout="232")
		img(src="https://3.bp.blogspot.com/-hJc3r9oGr6w/WVJRj1dSZPI/AAAAAAABebg/cMn7HrjVjAMdVPMm8Y9rRNsV09Aj4sOFwCLcBGAs/s800/20170514_201221.jpg")
		img(src="https://3.bp.blogspot.com/-7kzQllK7m8E/WVJRj2AixfI/AAAAAAABebc/ZnCoM0spb6MJjk98okgKrTms1d6APd7AQCLcBGAs/s800/20170514_201759.jpg")

		img(src="https://3.bp.blogspot.com/-7DH9p_eQKgY/WVJRj0uEQ5I/AAAAAAABebY/kvHRlHzRcpMqxw4vmpfMW5SQ-ZZ22-xawCLcBGAs/s500/20170514_201836.jpg")
		img(src="https://2.bp.blogspot.com/-DiLmWYNuO70/WVJRk3zehHI/AAAAAAABebk/4a1FOqhwqgQWjDb8t3hTTqh-7G0w_uNvQCLcBGAs/s500/20170514_201847.jpg")
		img(src="https://4.bp.blogspot.com/-T4gThXRlr58/WVJRk544t-I/AAAAAAABebo/h6jqOratv80RXP5hBMnxWiLf_Fc_EthsQCLcBGAs/s500/20170514_201931.jpg")

		img(src="https://4.bp.blogspot.com/-k6FsNJno3kI/WVJRlKLEt_I/AAAAAAABebs/iyF_scFoMzccvXBLM15v5gGROTud2_DFgCLcBGAs/s800/20170514_202136.jpg")
		img(src="https://3.bp.blogspot.com/-lTClho14gQQ/WVJRl3y0NgI/AAAAAAABeb0/hEFOJIjI-RIuBKlmHNt_8PFQnMFM9pSrgCLcBGAs/s800/20170514_202313.jpg")
		//img(src="https://4.bp.blogspot.com/-w6yFIuOqlHg/WVJRlrzrwWI/AAAAAAABebw/LLdsx1eVoR4Th_7uOIKAJIad9cSiav9-gCLcBGAs/s500/20170514_202233.jpg")
	.videoset(data="MuR7hwdSgxQ")


	.fleuron


	
	h3 17 May, Wednesday (Week 16) - Staycation
	.subline Head Circumference: 40 cm. Body Length: 62 cm.
	.videoset(data="8J8UMpmDAXM,2fu2PowHnKA,e3oQ7jAsUSw")
	.videoset(data="z6x4eHAezBY,GGzsr4db02o")

	.photoset(data-layout="4234323")
		img(src="https://2.bp.blogspot.com/-iVMFxtl-Dls/WVJa8wCMJJI/AAAAAAABeeE/tDYlIHzPol4WZTlvekeAhPwyYr_s-h-QwCLcBGAs/s400/20170515_074354.jpg")
		img(src="https://2.bp.blogspot.com/-skk_7KsQe3o/WVJa9KpOIqI/AAAAAAABeeM/LyAn4H4x8IM7j1MHVp-ER6L-klSFmtx5gCLcBGAs/s400/20170515_074359.jpg")
		img(src="https://2.bp.blogspot.com/-2af0vzHzDac/WVJa9Od-W3I/AAAAAAABeeI/c4Tp0EtooLU70T6F4v_VrEEl3PU0qLX_wCLcBGAs/s400/20170515_074406.jpg")
		img(src="https://2.bp.blogspot.com/-Sc7Qfa-m3Dg/WVJa98-1JHI/AAAAAAABeeQ/nEMW0cyez5soZMZ_iKmkxkIE1v7Q-fheACLcBGAs/s400/20170515_074413.jpg")

		img(src="https://1.bp.blogspot.com/-A2yuXCCcDQI/WVJa-BiFlMI/AAAAAAABeeY/QkyqsdCkb-QKPydyLAEdz_6smoEvYcnZACLcBGAs/s800/20170516_153106.jpg")
		img(src="https://1.bp.blogspot.com/-DGitu0zYmAo/WVJa-wr5-5I/AAAAAAABeec/VAAIbHgJktAJqt8kwia-4gLaw8TTIjL6QCLcBGAs/s800/20170516_154347.jpg")

		img(src="https://1.bp.blogspot.com/-9GAlrSAaoHI/WVJa_Fj5ekI/AAAAAAABeeg/4aoK3pAKUcMXWF88oT8LVEg8p5eiGsTdgCLcBGAs/s500/20170516_154910.jpg")
		img(src="https://1.bp.blogspot.com/-HXyM6cKy9vk/WVJa_VYyKDI/AAAAAAABeek/cIrvkOXp8BglO-LKZ3n0GUFKJRyTIJWiACLcBGAs/s500/20170516_154928.jpg")
		img(src="https://1.bp.blogspot.com/-knhLtHoJ-LU/WVJa_7q7REI/AAAAAAABeeo/jpHYxDMTR5EEv3ONJyHiLh2k3k2DXSgzgCLcBGAs/s500/20170516_155002.jpg")

		img(src="https://3.bp.blogspot.com/-Axvf24NvgJQ/WVJbAA4WhYI/AAAAAAABees/KZkNnXhcpqIWR1qcAV5M8IEuJTcSTYuRgCLcBGAs/s400/20170516_171726%25280%2529.jpg")
		img(src="https://3.bp.blogspot.com/--n7jNuM_5gQ/WVJbAjV3aYI/AAAAAAABee0/zy9dIgfq1fM5OOGb7Nsguc7wdq8Js7IwgCLcBGAs/s400/20170516_171756.jpg")
		img(src="https://1.bp.blogspot.com/-uguceMbMNIs/WVJbA7lMTVI/AAAAAAABee4/1isoFq9GSpQcngbDiUCPBaJ4qadY381LwCLcBGAs/s400/20170516_171805.jpg")
		img(src="https://4.bp.blogspot.com/-roBjSACrdSQ/WVJbBKWiqkI/AAAAAAABee8/A8ynZnJR29ADuMZQbJA90WRO4wx1p4trwCLcBGAs/s400/20170516_171806.jpg")
		//img(src="https://1.bp.blogspot.com/-i8Aw_xv3pwM/WVJbAd3Mg1I/AAAAAAABeew/v_6HoIg6nJcVVVNFiKVT-eP34tJBtXHywCLcBGAs/s500/20170516_171755.jpg")

		img(src="https://1.bp.blogspot.com/-i7-sjfXxeT4/WVJbBfwZMWI/AAAAAAABefA/M-oQaFpRhkIOVajXDoOO4uPOs2d4s04EACLcBGAs/s500/20170516_182916.jpg")
		img(src="https://2.bp.blogspot.com/-0khhycb37DQ/WVJbBp2aBUI/AAAAAAABefE/HtPrkBoAORc8hCDl82Q9gQAK-fXnY_amgCLcBGAs/s500/20170516_182919.jpg")
		img(src="https://1.bp.blogspot.com/-9_riu_IxFuM/WVJbB0wJ2OI/AAAAAAABefI/VT234CM2bxw0ftOrHSWTknV3Z0ri2I9pwCLcBGAs/s500/20170516_182931.jpg")

		img(src="https://2.bp.blogspot.com/-grT2rq2bc2M/WVJbCH_p4PI/AAAAAAABefM/-5pRjjRNXFQfRVqc74YvRrqV3M2XxzB8wCLcBGAs/s500/20170516_211313.jpg")
		img(src="https://1.bp.blogspot.com/-aQ1-A1swl5U/WVJa9-FQP6I/AAAAAAABeeU/SIz_95S7CnQqhJX3HPZV0ON-hkDEuIjcQCLcBGAs/s500/20170516_123300.jpg")

		//img(src="https://3.bp.blogspot.com/-IeSv7fE5Nvc/WVJbCgjSLuI/AAAAAAABefQ/K2ZcioMIa6wC_b5VYp5eYQgbYIPYDDf2ACLcBGAs/s500/20170517_075730.jpg")
		img(src="https://4.bp.blogspot.com/-mCwFNZITaZc/WVJbC3WU9wI/AAAAAAABefU/_DqwN5kLYu4lGbuwQ7MLmcLvSvYkZTmCQCLcBGAs/s500/20170517_080134.jpg")
		img._(src="https://2.bp.blogspot.com/-NiAT32kV_IU/WVJbDCR81SI/AAAAAAABefY/AKZH2nI5JBUvx-bbxR_0n0xpB_I8YDAvwCLcBGAs/s500/20170517_080135.jpg")
		img(src="https://3.bp.blogspot.com/-zeV0D0cKzXY/WVJbDeahpMI/AAAAAAABefc/gWZmNLazGPMvlMoTax-_hO9dvvnNxeHIgCLcBGAs/s500/20170517_080153.jpg")
		//img(src="https://2.bp.blogspot.com/-ZaYey6pq5W0/WVJbD6l1TbI/AAAAAAABefg/g7FAmnoOq946wW5gPSbEXnoj-KdSElPrwCLcBGAs/s500/20170517_080301%25280%2529.jpg")

	.photoset(data-layout="31231")
		img(src="https://3.bp.blogspot.com/-fyFeEvio470/WVJbEJ92DXI/AAAAAAABefk/Evq4S6qHunwGqlfaTimezrFQm5tAgCe-QCLcBGAs/s500/20170517_080502.jpg")
		img(src="https://2.bp.blogspot.com/-TRp7wGDxJYQ/WVJbERSkxOI/AAAAAAABefo/ifzX2cqe2BcrQ7W_vu0DtK6QYZMU48aCACLcBGAs/s500/20170517_080534.jpg")
		img(src="https://4.bp.blogspot.com/-GmzS0kX0O6Q/WVJbFCuOpDI/AAAAAAABefw/qAHm4W_IQUgQMqQx288vQFVfv1bjCpztACLcBGAs/s500/20170517_080701%25280%2529.jpg")

		img(src="https://4.bp.blogspot.com/-DwkPF1DH97g/WVJbFcJxJcI/AAAAAAABef0/9LvTZhht708AKia3ZmzS_p7fLTZkoV_IgCLcBGAs/s1600/20170517_080817.jpg")
			
		//img(src="https://3.bp.blogspot.com/-G9Ltr5O5Tf0/WVJbF4DKlsI/AAAAAAABef4/xkdFbxrjpVkbSBWDWkGh39aIo0CUbSs6QCLcBGAs/s500/20170517_081314.jpg")
		//img(src="https://3.bp.blogspot.com/-IjlDVT_disI/WVJbE8KYW1I/AAAAAAABefs/MxLJkh5smoY4fw3UIoQPkq6XUvKoXgqUgCLcBGAs/s500/20170517_080543.jpg")

		//img(src="https://4.bp.blogspot.com/-U28lTnZ-LYQ/WVJbGJH-OmI/AAAAAAABef8/Z3MSxU8QFmwksXQ6eNIf3DKqhVUPDJSdwCLcBGAs/s500/20170517_081416.jpg")
		//img(src="https://4.bp.blogspot.com/-UkzBfH6wFyU/WVJbG9puHdI/AAAAAAABegE/T5Zv4jPK-HEiP3lDJNTFq7v4SA_RSBmzwCLcBGAs/s500/20170517_081854.jpg")
		img(src="https://3.bp.blogspot.com/-e81yYghPCnQ/WVJbGKuI-eI/AAAAAAABegA/qMSGRHpOoYAkIUHxc6rGL0NIwVNo9vs7wCLcBGAs/s800/20170517_081531.jpg")
		img(src="https://2.bp.blogspot.com/-7oTlPgk0qjY/WVJbHGuF-dI/AAAAAAABegI/w6l6haWvwXYLgH0N_7TAYTZuUtvOONVaQCLcBGAs/s800/20170517_110135.jpg")

		img(src="https://4.bp.blogspot.com/-sQdM7jK5Zfo/WVJbHDFyrxI/AAAAAAABegM/15MHQWHN7rUXguX0bUSA_tBQuID3dgkvwCLcBGAs/s500/20170517_111706.jpg")
		img(src="https://3.bp.blogspot.com/-oay-MyIgVss/WVJbHg9oPkI/AAAAAAABegQ/2bVeyTW43nwl1hQApq0wnm88yqrlidf5wCLcBGAs/s500/20170517_111738.jpg")
		img(src="https://3.bp.blogspot.com/-1jlM0u3ofcM/WVJbH7z0pGI/AAAAAAABegU/GvPmMpHoNrkq5dZIXPP1NUUiPZNZ1w-pwCLcBGAs/s500/20170517_111843.jpg")
		//img(src="https://1.bp.blogspot.com/-g8j0G5YVe_w/WVJbIJwaxHI/AAAAAAABegY/rrDcxRTKaj8l_waKG2EZ4OMuEefSzLYEwCLcBGAs/s500/20170517_112515.jpg")
		//img(src="https://3.bp.blogspot.com/-ENtlp8Kq48Q/WVJbIn7O_1I/AAAAAAABegc/yrFdtRTyk_4YifNb79yeZu_C4LkfNAgqQCLcBGAs/s500/20170517_112732.jpg")

		img(src="https://3.bp.blogspot.com/-BqYfHrKwjKI/WUvlQCjgQrI/AAAAAAABeXg/ufkiNwdZktI4DDJ9srugSXzwa2iwsn85wCLcBGAs/s1600/17-05-16-22-37-53-450_deco.jpg")

	.fleuron



	h3 21 May, Sunday (Week 16) - Family Bonding Week
	.subline Head Circumference: 40 cm. Body Length: 62 cm.
	.photoset(data-layout="3231")
		img(src="https://2.bp.blogspot.com/-PFaALGRXAe0/WVJY5-uNDCI/AAAAAAABecE/WNR7Ta8oRSEQ0paFVJ1dYQU8BDgfqn1vgCLcBGAs/s500/20170519_094823.jpg")
		img(src="https://2.bp.blogspot.com/-sBUur8k_Apo/WVJY5zGY4YI/AAAAAAABecM/x6Xhf6KTEDUPytr-H7BA91NcyF2RG6FJACLcBGAs/s500/20170519_094824.jpg")
		img(src="https://1.bp.blogspot.com/-IFMVLcc17s0/WVJY5-JopuI/AAAAAAABecI/wrfHGXuaGogCTacOjZMvAbXDAnBZVgnGwCLcBGAs/s500/20170519_094827.jpg")

		img(src="https://2.bp.blogspot.com/-W33sRAJ2m2g/WVJY6n_4hhI/AAAAAAABecQ/ixwsdWOKm6k8Rf9cNJzGEoogW3y5DvPtgCLcBGAs/s800/20170519_113549.jpg")
		img(src="https://4.bp.blogspot.com/-oPJRndoyI-E/WVJY69nn7zI/AAAAAAABecU/K-P53WQLkQMrTai88frugRp-6_CL1GMpgCLcBGAs/s800/20170519_131222.jpg")

		img(src="https://1.bp.blogspot.com/-AXyA1EAFgNw/WVJY6-w5CfI/AAAAAAABecY/uYBHHVIL0Bg9Nlt9osBQ1tdmlmEH6MdUwCLcBGAs/s500/20170519_185529.jpg")
		img(src="https://3.bp.blogspot.com/-NE_RIIg6MuE/WVJY7loqc8I/AAAAAAABecg/Yjjpc2sXRPoUcjqEXvPcEtTS2B2I-PXSgCLcBGAs/s500/20170519_185656.jpg")
		img(src="https://3.bp.blogspot.com/-JEPJ2Z4cO90/WUvlQ4klbzI/AAAAAAABeXo/777uhuADB9UkMwEEDAkjPbluR2Sg9qfIQCLcBGAs/s500/17-05-23-12-13-05-344_deco.jpg")
		//img(src="https://1.bp.blogspot.com/-gCPmZr8jvVA/WVJY7ccwcnI/AAAAAAABecc/fr-0ST8PEpEEyFM1468Iw_lTgRAsytjXgCLcBGAs/s500/20170519_185610.jpg")
		img(src="https://1.bp.blogspot.com/-sM7iqPHD4P0/WVJY7v9lOvI/AAAAAAABeck/sVeBVlpLzrEmHB4lW9SLi4GYjTqJqEh1QCLcBGAs/s1600/20170521_123444.jpg")

	.story Who does Audrey resembles more?
	.photoset(data-layout="23")
		img(src="https://2.bp.blogspot.com/-Uwd6mVGbAbo/WUvlQLbQQbI/AAAAAAABeXc/2IzHAHk_RLUDY3u1NWu9LzmE85zbXHpsQCLcBGAs/s800/17-05-07-10-53-40-953_deco.jpg")
		img(src="https://1.bp.blogspot.com/-NOq1ZmDLJ7Y/WUvlQExCYjI/AAAAAAABeXk/4CEYGINAHHEVNW47vVwjr4FlYZVkQBVEQCLcBGAs/s800/17-05-07-11-01-01-637_deco.jpg")


	.fleuron



	h3 23 May, Tuesday (Week 17) - Lifting Head
	.subline Head Circumference:  cm. Body Length:  cm.
	.videoset(data="O2u0-TXJkw8,3xFvWtk4Zaw,6Qt6uGwOsdc")
	.photoset(data-layout="23")
		img(src="https://4.bp.blogspot.com/-CXT64NS__gg/WVJY8n_xWEI/AAAAAAABecs/yjhCNI6Q_skIyJh3qLgYi0FI4ucl9qsZACLcBGAs/s800/20170522_111500%25280%2529.jpg")
		img(src="https://4.bp.blogspot.com/-6nC4w2z4wlM/WVJY8YJrqZI/AAAAAAABeco/zHAea0jk9p419xc39Ae9l8Lqhk3yhDRrQCLcBGAs/s800/20170522_111459.jpg")
		//img(src="https://1.bp.blogspot.com/-ystw07LzXyY/WVJY871EFiI/AAAAAAABecw/CT7ycNUKMGceJgy_vw1TaLVOZwfdG6ZKQCLcBGAs/s500/20170523_084549.jpg")
		img(src="https://2.bp.blogspot.com/-B7-KHDdMY7U/WVJY9WJzB1I/AAAAAAABec0/ipPI4noNxO8CpZsId3ZaiGsJRWvn4sRXACLcBGAs/s500/20170523_084613.jpg")
		img(src="https://2.bp.blogspot.com/-QXn_FYrPYq0/WVJZBEZnOgI/AAAAAAABedo/jt3-J5yB3MYrTwvq7DYpUym6TvRaPv1ZACLcBGAs/s500/20170523_114122.jpg")
		img(src="https://1.bp.blogspot.com/-dqYRcfCYDYk/WVJZBFGeWlI/AAAAAAABedk/Ro4hE7zlHSoIICPlpX59Psd87DBe6nMDwCLcBGAs/s500/20170523_111241.jpg")

	.photoset(data-layout="32323")
		img(src="https://2.bp.blogspot.com/-JWyC41gsBDM/WVJY9uVw82I/AAAAAAABec4/NqIh5RxFym4WhmUVUXmosB23gBMjE3cHACLcBGAs/s500/20170523_092144.jpg")
		img(src="https://3.bp.blogspot.com/-i40pyD-HWxQ/WVJY-F-iBSI/AAAAAAABec8/M4RrFg6KX28SmD6g0RpC6wwRg3beMmOmQCLcBGAs/s500/20170523_092313.jpg")
		img(src="https://4.bp.blogspot.com/-9edKwdKWlz0/WVJY-JNxFcI/AAAAAAABedA/W_F7zDlFT-cCBWjyFSt-cGnJL1nUbpANACLcBGAs/s500/20170523_092345.jpg")

		img(src="https://1.bp.blogspot.com/-fJX4g3ktm2s/WVJY-QlP53I/AAAAAAABedE/gctYTUq0SnYJ7IE4gqbDMVfnnIQctLCawCLcBGAs/s800/20170523_092441.jpg")
		img(src="https://3.bp.blogspot.com/-1uLY3adwMvE/WVJY_LY9SlI/AAAAAAABedI/Jz19byoqKxQdjrYeUExeIXqNdPKWEyS6gCLcBGAs/s800/20170523_092445.jpg")
		
		img(src="https://1.bp.blogspot.com/-SRCSKYIdP3g/WVJY_e_6j5I/AAAAAAABedM/6LOyKDmsreUI7gUIPMiZ_Jl8S89uVNvHQCLcBGAs/s500/20170523_092455.jpg")
		img(src="https://3.bp.blogspot.com/-9UgblRL0mgY/WVJY_zY-ODI/AAAAAAABedU/_bLpKC85CEwzDuGzfuXPEDqYaaLDfmELgCLcBGAs/s500/20170523_092553.jpg")
		img(src="https://3.bp.blogspot.com/-FI-95bBVuLs/WVJZAPzN6MI/AAAAAAABedY/Qxjw6NQIedQpWbDRwvb4KOE54SGyvmspACLcBGAs/s500/20170523_092712.jpg")
		
		//img(src="https://3.bp.blogspot.com/--8de0CPb33A/WVJY_dK4N4I/AAAAAAABedQ/YT6WfzgPp4EDma3Mn8cgjEct_kQYII5HACLcBGAs/s500/20170523_092548.jpg")
		img(src="https://1.bp.blogspot.com/-jTp1noLayL4/WVJZARPnqAI/AAAAAAABedc/Cj_5iViTEPwHoqwOOz7gmpyg7ymaN5pPQCLcBGAs/s800/20170523_103039%25280%2529.jpg")
		img(src="https://1.bp.blogspot.com/-P0b2cdK0vKw/WVJZA4fMm3I/AAAAAAABedg/CjYyzhnlO0ksuwSWafgUqCNbM6p03hLtACLcBGAs/s800/20170523_103108.jpg")

		img(src="https://1.bp.blogspot.com/-vJ_CccOlMpg/WVJZB18IPJI/AAAAAAABedw/yr9NFYV0XyYE1GZ9d59Ys3Eyweh9uYITQCLcBGAs/s500/20170523_142736.jpg")
		img(src="https://2.bp.blogspot.com/-zyilGdIeVgQ/WVJZB5NnjNI/AAAAAAABed0/EVqsHbwZqIgcdJmyGyGKc8qP665EZ2Q1wCLcBGAs/s500/20170523_142737.jpg")
		img(src="https://2.bp.blogspot.com/-bHo5mjxLB7o/WVJZBvfxmWI/AAAAAAABeds/8J_deX5Bn2s-l-TeYHy1XXiXTP1qdPwcACLcBGAs/s500/20170523_114443.jpg")

	.fleuron


	h3 24 May, Wednesday (Week 17) - Lunch with Dylan
	.photoset(data-layout="434")
		//img(src="https://4.bp.blogspot.com/-lpEoJM_5yNg/WVpUE_dESPI/AAAAAAABeoY/1gN0I0oygRQdk_vz_mS0Q62iKJlPksH0ACLcBGAs/s500/20170524_123547.jpg")
		img(src="https://4.bp.blogspot.com/-XrULga-RR6o/WVpUE_fWDWI/AAAAAAABeog/Ds25YA51asgJbejVCLxZssjRZqlOt2AKgCLcBGAs/s400/20170524_130231.jpg")
		img(src="https://1.bp.blogspot.com/-a6sYxAoem0A/WVpUEyoyAlI/AAAAAAABeoc/rmpWod5MEcAAhrh0YusXcSdZImixf5tAACLcBGAs/s400/20170524_130917.jpg")
		img(src="https://1.bp.blogspot.com/-3EbSWx29u0c/WVpUF5XH08I/AAAAAAABeok/8dnCZwez0Pcw2weFd6Ka-9_jUSEASIzHQCLcBGAs/s400/20170524_130944.jpg")
		img(src="https://2.bp.blogspot.com/-wDXwKhgy_YY/WVpUGIp09WI/AAAAAAABeos/Dvpk_csJk5Uzbxc8ELUSV1dYrPDNIk5dwCLcBGAs/s400/20170524_144010.jpg")

		//img(src="https://2.bp.blogspot.com/-rObp1GoWkaE/WUvlRaICkeI/AAAAAAABeXw/MjnOZAlKanoPqt7QoIGJHwCpS_VGgAiJQCLcBGAs/s1600/17-05-24-16-26-55-316_deco.jpg")
		//img(src="https://4.bp.blogspot.com/-Tov3txn8q3U/WVpUF2_pjWI/AAAAAAABeoo/tEwNba_FMnwy1VI79KTP5HgHOWzuXIVQgCLcBGAs/s500/20170524_154318.jpg")

		img(src="https://3.bp.blogspot.com/-9tEG_baa1lw/WVpUGrBNVdI/AAAAAAABeow/WSXdfL4zn6Ac_zzs9bavGG3eY_AF9J_6QCLcBGAs/s500/20170524_160358.jpg")
		img(src="https://4.bp.blogspot.com/-UYGwjWK888Q/WVpUHAmsBCI/AAAAAAABeo4/nP_7NDSYShErLi4-tXu-s_dv1_UKbLysgCLcBGAs/s500/20170524_160359.jpg")
		img._(src="https://2.bp.blogspot.com/-1tkElLnqR4I/WVpUHFjg_mI/AAAAAAABeo0/BEiSHr5_yxow0WzCauUIrXbacKq4PJzTgCLcBGAs/s500/20170524_160400.jpg")
		img(src="https://2.bp.blogspot.com/-xeQ-ABsJUfA/WVpUHUfr1GI/AAAAAAABeo8/yHZOJqdzvAoUiTNm_XvMFlmfi2PoKAjOwCLcBGAs/s400/20170524_160404.jpg")
		img(src="https://2.bp.blogspot.com/-gsFpl0AEUnY/WVpUHwmqYGI/AAAAAAABepA/PzAIYfrRXNY0fOVuQqCloPwG-q83ObCDgCLcBGAs/s400/20170524_160413.jpg")
		img(src="https://2.bp.blogspot.com/-3OTdGSVYPFQ/WVpUH2qF14I/AAAAAAABepE/cwNepNL1tdEReQZTpZ747LRrN6NjQ3MswCLcBGAs/s400/20170524_160414.jpg")
		img(src="https://4.bp.blogspot.com/-LEz5zpVq9nk/WVpUIBs2ouI/AAAAAAABepI/stiFF7unASAM2JVDU9SogiPyueQuQQZUQCLcBGAs/s400/20170524_182829.jpg")
	.videoset(data="sQsQxHFLF6Y,jAnlH1BdavY,CQ2i4mhHv7k,NktSlveaDq8,Iq005z9Xirw")
	.videoset(data="gYveFHXBaKw,_LFJSZZeFTs")

	.fleuron

	h3 28 May, Sunday (Week 17) - Meeting Xiao Yi Zhang
	.photoset(data-layout="31")
		img(src="https://4.bp.blogspot.com/-Y8TRy1JdBto/WVpUI4o77CI/AAAAAAABepU/ITsMojIKesw9eudoyw7rIh9lwnt7gMfwwCLcBGAs/s500/20170525_101549.jpg")
		img(src="https://3.bp.blogspot.com/-YvFz1Kc-F-g/WVpUIkZxBvI/AAAAAAABepM/92Q_gDyFkrwRvFprqYOc6NbdyArmxQwUwCLcBGAs/s500/20170525_162419.jpg")
		img(src="https://1.bp.blogspot.com/-vOSeggKbvfg/WVpUI06J6FI/AAAAAAABepQ/pHHZ-YqoFvAa8h4vx4koZkYz6KFCqkAFwCLcBGAs/s500/20170525_171531.jpg")
		img(src="https://4.bp.blogspot.com/-yMa8hnUBNnI/WVpUJWu6-CI/AAAAAAABepY/hEztUDFAJoo4QwoBqhTmwOw_d54N2PpxwCLcBGAs/s1600/20170527_071455.jpg")
	.videoset(data="IG_NF61ya6I,rurDgR2Hxj8,jutwmAnZIOo,Sl4fqE8ZCUc,HlcW8ieruSY")

	.photoset(data-layout="32323232")
		img(src="https://4.bp.blogspot.com/-LkIJ2XH56Cs/WVpLTWqyW2I/AAAAAAABels/xLIXHZ7eR6orThgXQfnE-3ZCEF2CDEHBgCLcBGAs/s500/20170528_092502.jpg")
		img(src="https://2.bp.blogspot.com/-RONBtaql7fI/WVpLTl3NcRI/AAAAAAABelw/gG3OACCUN5w7puafJZXzzICU2L_FJOqhwCLcBGAs/s500/20170528_092614.jpg")
		img(src="https://1.bp.blogspot.com/-Hr0KTroIqr8/WVpLTUSgIhI/AAAAAAABelo/cgStEFUBpAg2IvJy9Nmd_YfrxivP4oPOwCLcBGAs/s500/20170528_092556.jpg")

		//img(src="https://3.bp.blogspot.com/-0w8nO8QmDYc/WVpLUS5jTQI/AAAAAAABel0/OGJYaK4nszcnxT2aegVKvK9BC7PrYvUyACLcBGAs/s500/20170528_092638.jpg")
		//img(src="https://1.bp.blogspot.com/-wQuHfCZ4xzg/WVpLUvfQ-pI/AAAAAAABel8/KjMWsHiPNkAvW5kdVs1RtGPjqxKJZnEZACLcBGAs/s500/20170528_103248.jpg")
		img(src="https://1.bp.blogspot.com/-V4pufjuAq14/WVpLUdUhjkI/AAAAAAABel4/J9sqOgA4j60eRLYfn1f8xu58Ulrwb9DkgCLcBGAs/s800/20170528_103247.jpg")
		img(src="https://2.bp.blogspot.com/-_qreM_8883U/WVpLVG0aAEI/AAAAAAABemA/z5UxVvQxwkYp8PwuC1H4CtOSMyZmiDs-QCLcBGAs/s800/20170528_103254.jpg")

		img(src="https://2.bp.blogspot.com/-gBNga704S-w/WVpLVR0To3I/AAAAAAABemE/qdC1nQI086cixQEnPoC4w2Gwf4mU3mPfgCLcBGAs/s500/20170528_103657.jpg")
		img(src="https://1.bp.blogspot.com/-NzQc2K6L6JA/WVpLVcHmUEI/AAAAAAABemI/8y9Y_8zQJXY1GIc8VUDv3TgTFjCjDcFeQCLcBGAs/s500/20170528_103818%25280%2529.jpg")
		img(src="https://2.bp.blogspot.com/-WyWR9WurSYU/WVpLV5piWKI/AAAAAAABemM/auZzwuObKPsy5Zo4pFuqicWr7ueUaS_OwCLcBGAs/s500/20170528_104006.jpg")
		//img(src="https://1.bp.blogspot.com/-RZk38amo7Fc/WVpLV6GRlOI/AAAAAAABemQ/ZG3D-6zCtWwAmIhmLZ79b2wE61zzSNtDACLcBGAs/s500/20170528_103919.jpg")
		//img(src="https://1.bp.blogspot.com/-qlaoJS9xRQk/WVpLWDtykDI/AAAAAAABemU/dXoGvTzi0gkQOmVRq861Hx3Gs00jfCGOQCLcBGAs/s500/20170528_130536.jpg")
		img(src="https://4.bp.blogspot.com/-2LQXEzm-Kns/WVpLWj92T5I/AAAAAAABemY/sld3wXbixasEB6cDy3kK6lKWfBqwkNCLQCLcBGAs/s500/20170528_130617.jpg")
		img(src="https://2.bp.blogspot.com/-quUigb_BslE/WVpLWx1l6SI/AAAAAAABemc/qNhjQY5_X_0jpZ2dpoj11aHM9Vg_ArVZwCLcBGAs/s500/20170528_130706.jpg")
		//img(src="https://4.bp.blogspot.com/-PMF7ZeGEkAY/WVpLXCzWsKI/AAAAAAABemg/QF1iimsVF_AvVcp6tWQNKpkVWC-22aKrQCLcBGAs/s500/20170528_132258.jpg")
		img(src="https://4.bp.blogspot.com/-5qYNMFGOpoE/WVpLXp6s6JI/AAAAAAABemo/XwraoYk1TsEgYydhPvrodi8NEzw3gyrqACLcBGAs/s500/20170528_132933.jpg")
		img(src="https://3.bp.blogspot.com/-c61t79bUNhc/WVpLXlXgp5I/AAAAAAABemk/j8KoDNF6nx4KPX7y86M1gGnPUVrIU0x_gCLcBGAs/s500/20170528_132935.jpg")
		//img(src="https://1.bp.blogspot.com/-zLhWlLlZgiA/WVpLX2BAyRI/AAAAAAABems/Pnv0C0wU9_oStN9oPp9YavtIWIkijTjVgCLcBGAs/s500/20170528_132955.jpg")
		img(src="https://4.bp.blogspot.com/-tefOyJGKvq4/WVpLYXhbMpI/AAAAAAABem0/2bmKFRvrg0A7hkGW2wpR08wPTGfBugvtgCLcBGAs/s500/20170528_182406.jpg")
		img(src="https://3.bp.blogspot.com/-tk1lgsKouA0/WVpLYanvpTI/AAAAAAABemw/HfFCpgHU-8ss2SPbcdqXmBHq9295vAQ4ACLcBGAs/s500/20170528_182623.jpg")
		img(src="https://2.bp.blogspot.com/-X-8cVoUt8_o/WVpLZPt2VdI/AAAAAAABem8/GfQKggLkP9w5HddszMD5YUz0KWbjmpevQCLcBGAs/s500/20170528_183259.jpg")
		//img(src="https://4.bp.blogspot.com/-LIaR4LoIvOo/WVpLY8P1HtI/AAAAAAABem4/88OLyWX3YScTWY73JkfqaolYGTMjkXP9QCLcBGAs/s500/20170528_183244.jpg")

	.fleuron


	h3 3 June, Saturday (Week 18) - Moving in to new house 1
	.subline Weight: 6.7 kg. Head Circumference: 40 cm. Body Length: 62 cm.
	.videoset(data="GF7kZnKX3Pc,SB6M0WEd6xc,1MPL0y9wJL0,nTZm4mYgUKc")
	.videoset(data="NEESNTqYb90,lNiUtgqNc_Q")
	.videoset(data="0tHfW3qlFWg,9Eu1mcI2Rjs")
	//POZ8A1pOUYU
	.photoset(data-layout="2434123232")
		img(src="https://4.bp.blogspot.com/-nq65vygkG5c/WVpLZM3tkZI/AAAAAAABenA/nb_masD7dwI2cT2g004K4-P9Wt4BZKFcgCLcBGAs/s500/20170531_200936.jpg")
		img(src="https://3.bp.blogspot.com/-_EVueyfQm-A/WVpLZqSv0bI/AAAAAAABenE/I2VaMudDgTAY-7ZEORqTQnIFKUiEniPXACLcBGAs/s500/20170531_201053.jpg")

	.photoset(data-layout="2434123232")
		img(src="https://3.bp.blogspot.com/-2GAl6i5QVjI/WVpLZ-wErWI/AAAAAAABenI/0g4-Ny-IZNEBCkRPvFJop0GZYB0uB-CegCLcBGAs/s500/20170603_095352.jpg")
		img(src="https://1.bp.blogspot.com/-iYwQYhUrBwQ/WVpLZxaLReI/AAAAAAABenM/5c8Uc-4O4oMaA6ZWNcwzU_fDbrUMGRp-ACLcBGAs/s500/20170603_102519.jpg")
		//img(src="https://2.bp.blogspot.com/-EBfV6dk0EEs/WVpLaUkb1ZI/AAAAAAABenQ/S3J05FsM0uILCdv2YMYjILQB7o6QDxPugCLcBGAs/s500/20170603_102638.jpg")
		img(src="https://1.bp.blogspot.com/-VrfQPCWq4BQ/WVpLapT1lLI/AAAAAAABenU/76K7JwvYGfIthDM3ldx7uUmNUwvIEILmgCLcBGAs/s500/20170603_102804.jpg")
		img(src="https://4.bp.blogspot.com/-V1C4klmNWBM/WVpLaipvqDI/AAAAAAABenY/5P358RY5-n0_z3P5XVTGIGXl9z1CJnAPwCLcBGAs/s500/20170603_102901.jpg")
		img(src="https://1.bp.blogspot.com/-tIFmyWwZcJA/WVpLa8jSMfI/AAAAAAABenc/59-DtGUAWtUwKcHBcLJ0Xi-rftqIY3XuACLcBGAs/s500/20170603_102904.jpg")
		img(src="https://2.bp.blogspot.com/-H9snM2t-Y1Y/WVpLbe7yXrI/AAAAAAABeng/KrJcVF5rbsoIpKixSo6h8jrUL2DzRHgJgCLcBGAs/s500/20170603_103048.jpg")
		img(src="https://1.bp.blogspot.com/-KCXdvRM0t10/WVpLbfL3EqI/AAAAAAABenk/wBue5ygYFtg5w5E404PBvmqc-6t10EZbwCLcBGAs/s500/20170603_103109.jpg")
		img(src="https://2.bp.blogspot.com/-XH2FBWonUb0/WVpLbjvV-YI/AAAAAAABeno/bgdWGfdPASUuAAj421N69fk0p9Z-ktgsACLcBGAs/s500/20170603_103116.jpg")
		img(src="https://3.bp.blogspot.com/-IfU1ZVysVA0/WVpLb-vXLEI/AAAAAAABens/HROlc1H02UMpIxhv2KUwL3xm0PuhvxT_wCLcBGAs/s500/20170603_103118.jpg")
		img(src="https://3.bp.blogspot.com/-i0JE_LP2RSs/WVpLcdovHMI/AAAAAAABen0/zwr6H9RZX88ASBpGfrGJvARVBvqAImWcgCLcBGAs/s500/20170603_103144.jpg")
		img(src="https://1.bp.blogspot.com/-yXSG7rJ6E3E/WVpLcT0rxMI/AAAAAAABenw/GQ715d-gUtIN75IZBEp9MHOgkqh4NBfjgCLcBGAs/s500/20170603_103148.jpg")
		img(src="https://1.bp.blogspot.com/-CDubq73Vj9M/WVpLckXwFXI/AAAAAAABen4/uq15xdCMCxc-9E3y7iZLayChKM9ToKsOQCLcBGAs/s500/20170603_103159.jpg")
		img(src="https://3.bp.blogspot.com/-D0XHgZaMf1Y/WVpLcyNdJZI/AAAAAAABeoA/htkG1QP1auA_x0XUrZqdk3SueH_GxndvQCLcBGAs/s500/20170603_103412.jpg")
		img(src="https://4.bp.blogspot.com/-mmu7sdfbB40/WVpLc2VuIYI/AAAAAAABen8/51Q7c1isgZcUep4tcPSEai_zfaVv_-GNgCLcBGAs/s500/20170603_103428.jpg")
		//img(src="https://3.bp.blogspot.com/-t7BaTsJlNgM/WVpLdYrEOOI/AAAAAAABeoE/VE16UXCDG3Etsfj1WXADSQ1QAkBQZCadQCLcBGAs/s500/20170603_103429.jpg")
		img(src="https://4.bp.blogspot.com/-MefpqFc97fU/WVpLdgIE8LI/AAAAAAABeoI/OP5LIm2cqNgkCn-ZRypjgBkvE8EamUkzACLcBGAs/s500/20170603_103722%25280%2529.jpg")
		img(src="https://3.bp.blogspot.com/-iWUFTPHNQtU/WVpLd8UqwOI/AAAAAAABeoM/bJIn7h6fYlUqlJ7cjTqpOaTKy64VcmiJACLcBGAs/s500/20170603_113425.jpg")
	.videoset(data="lNiUtgqNc_Q")

	.photoset(data-layout="2434123232")
		img(src="https://3.bp.blogspot.com/-W6z4Wbf0Onc/WVuXFVXmKfI/AAAAAAABeps/HwPAkpCcaQMslthe8WnCNoXmhk7CYG38ACLcBGAs/s500/20170603_184216.jpg")
		img(src="https://1.bp.blogspot.com/-pTHgDYkgZxY/WVuXFSEKYyI/AAAAAAABepo/iPZ0Gjp8NGEiWM-4xCB8GhPD6SMNT3mrgCLcBGAs/s500/20170603_184744.jpg")
		img(src="https://2.bp.blogspot.com/-becu6SzYqAw/WVuXFUe7-VI/AAAAAAABepk/KIxQBE8ydU4sWdwMfWrUvyeUmj3rUW7hACLcBGAs/s500/20170603_205413.jpg")
		img(src="https://4.bp.blogspot.com/-lj3We3DCYrw/WVuXGbRu_jI/AAAAAAABep4/Rzp8ChapOS4PBwU2at5uFrI10LsaJuYKwCLcBGAs/s500/20170603_205416.jpg")
		img(src="https://3.bp.blogspot.com/-bLwUiETVs9Y/WVuXGeWsNxI/AAAAAAABep0/ruHko8XouXEfKHo3RbtvBt18y5hQxDpMACLcBGAs/s500/20170603_205438.jpg")
		img(src="https://2.bp.blogspot.com/-t2Z8y24ja_8/WVuXGezFvII/AAAAAAABepw/uwHN-jAwODYkywoG4PVoUSAO6zCYtncJwCLcBGAs/s500/20170603_222809.jpg")


	.fleuron

	h3 4 June, Sunday (Week 18) - Moving in to new house 2
	.photoset(data-layout="34232")
		img(src="https://2.bp.blogspot.com/-TO4-GFraWUE/WVuXHLpl49I/AAAAAAABep8/XS7-EnwwjZIZU9ms9g53z5HtyblNPCNlwCLcBGAs/s500/20170604_074620.jpg")
		img(src="https://1.bp.blogspot.com/-LuDYUG-iySQ/WVuXHTX9u8I/AAAAAAABeqA/8tspAMN4R_AeN2p7IZzjbGqsMFdAwq0BQCLcBGAs/s500/20170604_074649.jpg")
		img(src="https://3.bp.blogspot.com/-KgBg_4gV5pk/WVuXHVSewnI/AAAAAAABeqE/oP1XiS58DOcSIGSmr1JYhlgjlO7g4dK8wCLcBGAs/s500/20170604_074653.jpg")

		img(src="https://4.bp.blogspot.com/-9Fy4lpB_yHc/WVuXIC9djyI/AAAAAAABeqM/yT-RZPJ1E-Mfxjfl3_3KHpeg__WNLcHHQCLcBGAs/s500/20170604_080301.jpg")
		img(src="https://3.bp.blogspot.com/-c4V2t_B8j4s/WVuXIe4PKrI/AAAAAAABeqQ/Jd3IQtLbOG0dpXJcued80w2KLTkTFrlVwCLcBGAs/s500/20170604_080308.jpg")
		img(src="https://3.bp.blogspot.com/-iwbZ5Psxp8U/WVuXInGpouI/AAAAAAABeqU/j7V13349ydoU-ypw-epH4aoGGHbGkHm1wCLcBGAs/s500/20170604_080442.jpg")
		img(src="https://4.bp.blogspot.com/-dcUf7IifPYo/WVuXJEuOA5I/AAAAAAABeqY/lpfdDFvoUkEfelwWayqxhBLjWnpLNv4JgCLcBGAs/s500/20170604_080448.jpg")

		img(src="https://1.bp.blogspot.com/-8HiAyPh0CSA/WVuXH4eJ_XI/AAAAAAABeqI/2xtv4-GCKEURhalog_O56KjE7JNXc4LRQCLcBGAs/s500/20170604_074825.jpg")
		img(src="https://1.bp.blogspot.com/-tDHHrbLXry8/WVuXJEvIi0I/AAAAAAABeqc/EWty0J-8Bdgxo8-TdzI9P4tL_6Pg8g-EQCLcBGAs/s500/20170604_112046.jpg")

		img(src="https://1.bp.blogspot.com/-OGuAQaqQoK4/WVuXJd9lpaI/AAAAAAABeqg/IJX6jk1sW0YtEdPOyHSF4gdOS9CgYEoxACLcBGAs/s500/20170604_112120.jpg")
		img(src="https://4.bp.blogspot.com/-jzuzna7hNzI/WVuXJhtzMnI/AAAAAAABeqk/sY418S7LKFIdsVqjOUbg8H88n3eD2h-qwCLcBGAs/s500/20170604_112123.jpg")
		//img(src="https://4.bp.blogspot.com/-K9lDOxCTUrQ/WVuXKFiAG-I/AAAAAAABeqo/EOiqne0GSFUsfyqx2_QRbzKR1s6jLC69QCLcBGAs/s500/20170604_112141.jpg")
		img(src="https://1.bp.blogspot.com/-4_DAvpwK7Ew/WVuXKMVndFI/AAAAAAABeqs/B30Y5ixXQz88i8Nw2ihvzpw1gkPpRzTkACLcBGAs/s500/20170604_112206.jpg")
		//img(src="https://3.bp.blogspot.com/-Y4z7QSAmxAE/WVuXKTtzT9I/AAAAAAABeqw/LQk9kSSel6c0BPDYSO8qADKu1TBXZ8alQCLcBGAs/s500/20170604_112214.jpg")

		img(src="https://1.bp.blogspot.com/-zlbFqMs9rtQ/WVuXKgxV9-I/AAAAAAABeq0/tF6fNgO-Evgq_1wYizeFbkZERV_lH1BwgCLcBGAs/s500/20170604_212026.jpg")
		img(src="https://2.bp.blogspot.com/-8JTAFl2ZSvM/WVuXKh3_wBI/AAAAAAABeq4/-eUP0hGZt9cLrXQwE6ITN73egOBAfg8KwCLcBGAs/s500/20170604_214622.jpg")
		

	.fleuron

		
	h3 11 June, Sunday (Week 19) - Moving in to new house 3
	.photoset(data-layout="23")
		//img(src="https://3.bp.blogspot.com/-_V5UsnrgBek/WVuXLNbGlRI/AAAAAAABeq8/SSpVyRANKrEVx9B2m9XEDIJonqcKM1gjgCLcBGAs/s500/20170605_074418.jpg")
		img(src="https://3.bp.blogspot.com/-n-7dD6u6QmM/WVuXLhd97XI/AAAAAAABerE/Sjsz1eHNV9oCJfjcppxrErgNfwSlzeFIQCLcBGAs/s500/20170606_164815.jpg")
		img(src="https://4.bp.blogspot.com/-lMNrmi2SC4M/WVuXLTN1Z-I/AAAAAAABerA/j7TmMj5kBbYehMt74GunIjHlvSmepm26gCLcBGAs/s500/20170606_113232.jpg")
		img(src="https://1.bp.blogspot.com/-gMPXwvSSV0s/WVuXL5HydZI/AAAAAAABerI/7TCG8TKTxWsmbE_riZPjUwwTZxRPNO4TACLcBGAs/s500/20170609_133221.jpg")
		img(src="https://3.bp.blogspot.com/-XO3JnHd1O7Y/WVuXMZhd36I/AAAAAAABerM/2fyIav-tTQYdyJH3QEu6wswl0w69c2ZBACLcBGAs/s500/20170609_145852.jpg")
		img(src="https://1.bp.blogspot.com/-wNeRyP16qro/WVuXMZR6ZHI/AAAAAAABerQ/I5R6_NRW4xQd-mjPHtQC213xI57ZDRkcwCLcBGAs/s500/20170609_160143.jpg")

	.photoset(data-layout="231434")
		img(src="https://1.bp.blogspot.com/-JxZa8DpzT-U/WVuXMqFblqI/AAAAAAABerU/bm1kSKVJ3DUkXBVQOzs0VDq4X6sCrVm0wCLcBGAs/s500/20170611_073839.jpg")
		img(src="https://2.bp.blogspot.com/-Pcp05CYoBGs/WVuXM9GX23I/AAAAAAABerY/ArqB1KGBB6IryobNT_1vkVrdDvnG8D9eACLcBGAs/s500/20170611_073917.jpg")
		img(src="https://3.bp.blogspot.com/-3pIZXjXA6Qc/WVuXNJYlOhI/AAAAAAABerc/5J--zQA2xjIAb6NLqi8r2H7HJjrXyTjsQCLcBGAs/s500/20170611_073956.jpg")
		img(src="https://2.bp.blogspot.com/-uUOzpV49vi8/WVuXNK5WTEI/AAAAAAABerg/JQJ6ogzAdgon7tgeXsVLQPRLGpa0DzhHwCLcBGAs/s500/20170611_073958.jpg")
		img(src="https://1.bp.blogspot.com/-xnWx2cXRCBQ/WVuXNp11O8I/AAAAAAABero/Jp15qV-6rCc1TFRRbQ0TLAwNduL83ALhwCLcBGAs/s500/20170611_073959.jpg")
		//img(src="https://4.bp.blogspot.com/-KSmmR6KxBJo/WVuXNivxd0I/AAAAAAABerk/qCFHtT5VGKkfRT0drLVesc3Ul_DwMhpKQCLcBGAs/s500/20170611_074005.jpg")
		img(src="https://3.bp.blogspot.com/-fNksVnUs6MY/WVuXN8GRhKI/AAAAAAABers/KBebYPO1cOsCNUrkKU-B05i621RixzPIwCLcBGAs/s500/20170611_103318.jpg")
		img(src="https://1.bp.blogspot.com/--yU-QW71i0Y/WVuXOUdOaqI/AAAAAAABer0/neSHsPD_v6Mon1qhAgNk-JRZz0dUVieJQCLcBGAs/s500/20170611_120014.jpg")
		img(src="https://2.bp.blogspot.com/-0nZ5HYaHIp0/WVuXOZBz_FI/AAAAAAABerw/ghny_4TAIBA1iBVZBCuxStSvPIHxAUbfACLcBGAs/s500/20170611_120035.jpg")
		img(src="https://4.bp.blogspot.com/-_OiyqEvqkc0/WVuXOtmM0qI/AAAAAAABer4/TTIm2wCM_u4m1kfvHYy3jXSvDVxMaFJkACLcBGAs/s500/20170611_120046.jpg")
		img(src="https://3.bp.blogspot.com/-KIA1D3astU4/WVuXPKffScI/AAAAAAABer8/0yyxPpnsz_g3DdUaGVB-aT_rsjLlB5eRwCLcBGAs/s500/20170611_120126.jpg")
		img(src="https://3.bp.blogspot.com/-Vhbbk_1qiXo/WVuXPO0ABdI/AAAAAAABesA/bg9LKrhXs0Anjg4fDgzvvLkObktzvbmcACLcBGAs/s500/20170611_120133.jpg")
		img(src="https://2.bp.blogspot.com/-srgAMum6qd8/WVuXPe9AXWI/AAAAAAABesE/VhFJ1wwMRIQXlNzKjPDbWlozhYG4Sv_CwCLcBGAs/s500/20170611_120146.jpg")
		img(src="https://4.bp.blogspot.com/-rtwurHlQs2k/WVuXPx4rI2I/AAAAAAABesI/MmtRfZYJZ5QkLC7vREPOCd1Mg_aETwuJACLcBGAs/s500/20170611_120159.jpg")


	.fleuron



	h3 12 June, Monday (Week 20) - Fun in New House
	.videoset(data="xDSCaoz8t9U,yNwPcaeagtg")
	//Z9DEuhUDGxw,8MYMi6zvukA
	.videoset(data="RlJRJGI6p0g,PsQCS3cPk0A")
	.videoset(data="OZjimGRxYwY,p4E4IIcmZA8,if4AtReE6-c")

	.photoset(data-layout="321413")
		img(src="https://3.bp.blogspot.com/-Cua-JAqDr20/WVuXP1s-osI/AAAAAAABesM/OEunXkTThQEHNr38Of34DN2yq33GL2trgCLcBGAs/s500/20170612_075620.jpg")
		img(src="https://3.bp.blogspot.com/-wl0nBSZwlWA/WVuXQt4mBMI/AAAAAAABesU/UNUrM9DWIaIwR-F8en91MBSBHnRCwWwLACLcBGAs/s500/20170612_075628.jpg")
		img(src="https://4.bp.blogspot.com/-wm_TPHGhZT0/WVuXQi4XJbI/AAAAAAABesY/RLZ-iWExHJEpVMqFTRFtSSaNoiXAkrjmwCLcBGAs/s500/20170612_075630.jpg")

		img(src="https://3.bp.blogspot.com/-aRPpspaKwWM/WVuXQ6hWUfI/AAAAAAABesc/vJ9AtTqdJEEGWg9GWI78vNCZiCEVXgehgCLcBGAs/s800/20170612_075648.jpg")
		img._(src="https://1.bp.blogspot.com/-CC0bxkyzU9c/WVuXRZSWr1I/AAAAAAABesk/y-osJR7--1o86iMy80ufLsdm15UIEMjGQCLcBGAs/s800/20170612_075650.jpg")

		img(src="https://2.bp.blogspot.com/-1WP4aONGErI/WVuXSZl9pcI/AAAAAAABess/qK_-iHKJc6A37OlfJtuEwnp6l0hK5kVyACLcBGAs/s1600/20170612_075958.jpg")

		//img(src="https://1.bp.blogspot.com/-OMh9kU-_EJc/WVuXQDoeqEI/AAAAAAABesQ/N5hT1ZQGp4sNqxRrb8bwwMmzwhQFLUsbQCLcBGAs/s500/20170612_075626%25280%2529.jpg")
		//img(src="https://1.bp.blogspot.com/-vO0wHuNyziI/WVuXRdMJ0cI/AAAAAAABesg/ORUgGDghRwET7AFyubakPOM7_pAMwixMQCLcBGAs/s500/20170612_075649.jpg")
		//img(src="https://1.bp.blogspot.com/-lvypQafL6fQ/WVuXRuIFNMI/AAAAAAABeso/miOHJpwHRA8W9pJ3NsSUjaQmrONJzx2DgCLcBGAs/s500/20170612_075850.jpg")
		//img(src="https://2.bp.blogspot.com/-DqcKQV4iaig/WVuXTLyUhEI/AAAAAAABes4/K1sppdUgzy0TwoYjzW8gXrIz6IKWhjiVwCLcBGAs/s500/20170612_105202.jpg")
		img(src="https://4.bp.blogspot.com/-CdzL4mSZjLs/WVuXSVhvBBI/AAAAAAABesw/7h15QRheWPAXIEzdZzTVzw4TvmTOCUu3ACLcBGAs/s400/20170612_105155.jpg")
		img(src="https://3.bp.blogspot.com/-nejr4cDjQXc/WVuXSbK7A_I/AAAAAAABes0/4uukrXd_IywWFFKDrN69EuGbRppusGq2QCLcBGAs/s400/20170612_105156.jpg")
		img(src="https://3.bp.blogspot.com/-uUB791HsFF8/WVuXTOmxLwI/AAAAAAABes8/AfbqX-pN1zsRCutMnrYehAZiS43AsiROACLcBGAs/s400/20170612_105203.jpg")
		img(src="https://1.bp.blogspot.com/-qlYN01bp-e8/WVuXTJNvw0I/AAAAAAABetA/pZ7vzcWk99oiy1v6yYJVdz3tbshIlv0QACLcBGAs/s400/20170612_105237.jpg")

		img._(src="https://4.bp.blogspot.com/-Tn2UTtq9-2Q/WVuXT71g9rI/AAAAAAABetE/hukQ0USXiycvhV-iguKYl75cguD9dCfSgCLcBGAs/s1600/20170612_105239.jpg")

		img(src="https://4.bp.blogspot.com/-mtUGHfdUeoc/WVuXUEsmuEI/AAAAAAABetI/4hQMZHt4N4clXNPhulryi12cBgla6kYswCLcBGAs/s500/20170612_133950.jpg")
		img(src="https://4.bp.blogspot.com/-VooKvPa_lJM/WVuXUAUPsaI/AAAAAAABetM/NfpVoGKtS6A5-cGnHkf42KKOsOn8JapQgCLcBGAs/s500/20170612_133952.jpg")
		img(src="https://2.bp.blogspot.com/-X6YI46VTeKI/WVuXUqVNvHI/AAAAAAABetQ/_otcec1qA08rPBpC6Va4lOf17SOgPe2oACLcBGAs/s500/20170612_134149.jpg")

	

	h3 14 June, Thursday (Week 20) - Audrey gets a Play Yard
	.subline Head Circumference: 41 cm. Body Length: 63.5 cm.
	.videoset(data="oMOmJbwW_bo,TiULNoGrQbA")
	.videoset(data="OY3U9erCOW4,J5wCTA3PCbY,aUoyJ6PMd0w")
	.photoset(data-layout="232")
		//img(src="https://3.bp.blogspot.com/-sQtPm_umf9Q/WVud0v5SQbI/AAAAAAABetk/k3BI9NS76A0s-JV0N8fc3ZPmBdjKUprxwCLcBGAs/s500/20170613_073028.jpg")
		img(src="https://4.bp.blogspot.com/-yTneSvh5j5A/WVud0vwu7xI/AAAAAAABeto/bSamNrRWZ0oE-_JWS4qEzoAuFJPzl4RgACLcBGAs/s800/20170614_202259.jpg")
		img(src="https://1.bp.blogspot.com/-OTNOUsrA2bc/WVud0ohj6DI/AAAAAAABets/94itQePT1nsW4215QuqtwHDbrwnz1WlhwCLcBGAs/s800/20170614_202656.jpg")

		img(src="https://1.bp.blogspot.com/-RZ70O2Gu_B0/WVud1qHmnVI/AAAAAAABetw/S7MJWyPlZHoxz5OesEUhhYPqhxr3yG-FgCLcBGAs/s500/20170614_203100.jpg")
		img(src="https://3.bp.blogspot.com/-X9hX4pqzHpk/WVud2UE3fKI/AAAAAAABet8/MS_bmhlCD4skRdHapt3cAPiGw0Zb8rk-ACLcBGAs/s500/20170615_215418.jpg")
		img(src="https://4.bp.blogspot.com/-wEy-NAWd-L8/WVud2aVQSEI/AAAAAAABeuA/t9VlWFvzprosjFZtPWB8CEZh75FL5T-gQCLcBGAs/s500/20170615_215419.jpg")

		img(src="https://4.bp.blogspot.com/-btCM-ypSwwk/WVud1sig8rI/AAAAAAABet0/KmdsCLSqtRQZ9_t2DBKHTVqpYyJzmoAVQCLcBGAs/s800/20170614_212412.jpg")
		img(src="https://4.bp.blogspot.com/-13CDoGLvFWU/WVud1laQe2I/AAAAAAABet4/85OSnd_7QdAbsaSnaFPVhVVZAMY0EtXYwCLcBGAs/s800/20170614_212413.jpg")


	.fleuron



	h3 17 June, Sunday (Week 20) - PD Checkup
	.subline Weight: 7.2 kg. Head Circumference: 41 cm. Body Length: 64 cm.
	.videoset(data="s66EdDO92_o,SbmQHMNKRAM,wy8qOEfgIqc")
	.videoset(data="egZJszfKU3s,OVUywSXpKns")
	.photoset(data-layout="34123232")
		img(src="https://4.bp.blogspot.com/-VwvtmcIyW48/WVud2vwM8zI/AAAAAAABeuE/qaG8_fzohPY4wmJT5RQBCYOVwNeu8hovACLcBGAs/s500/20170617_122715.jpg")
		img(src="https://1.bp.blogspot.com/-pKJXxgG92zw/WVud3QK5aoI/AAAAAAABeuI/biQ8yg7FwaMTv1k6HyICGpxYlIIoaUrLACLcBGAs/s500/20170617_122732.jpg")
		//img(src="https://4.bp.blogspot.com/-5u2HARfEVFc/WVud3ksXRLI/AAAAAAABeuM/amUUQ4MKArYEdM6SINvqvyWgGM9zGWJdACLcBGAs/s500/20170617_122746%25280%2529.jpg")
		img(src="https://3.bp.blogspot.com/-OoJrB8-7zIY/WVud3lr2c_I/AAAAAAABeuQ/7yloaYbr3Uw1Pn4bEXXwraxQvE3KQZ9ugCLcBGAs/s500/20170617_122937.jpg")
		//img(src="https://3.bp.blogspot.com/-D93fk1au6-8/WVud4CHUeRI/AAAAAAABeuU/4MkNOq7J1lgqoX-ANMlRnubTTxlU5vKlgCLcBGAs/s500/20170617_122948.jpg")
		img(src="https://2.bp.blogspot.com/-6RuSUqb1wiE/WVud4r9F86I/AAAAAAABeuY/3csCi3arvAogQObJ_84VsVjJAsUL6_gawCLcBGAs/s400/20170617_142143%25280%2529.jpg")
		img(src="https://4.bp.blogspot.com/--pveQAfcYkM/WVui6APCmKI/AAAAAAABey0/LFZdzabjNeMezanyxQ4dk08eLq4az4sLgCLcBGAs/s400/IMG-20170617-WA0010.jpg")
		img(src="https://3.bp.blogspot.com/-8Ce1pYsw0Fc/WVui6T9h3ZI/AAAAAAABey8/P_jfOtGGSlsMbjfyT7-rDJ9vzB7eNXeSgCLcBGAs/s400/IMG-20170617-WA0011.jpg")
		img(src="https://3.bp.blogspot.com/-92ib65mS7xY/WVui6h8aAfI/AAAAAAABezA/9e48S_j3IzIzvS9pNX9OVwaMra13JwS4QCLcBGAs/s400/IMG-20170617-WA0013.jpg")

	.fleuron


	h3 18 June, Sunday (Week 20) - Grandmother and Grandfather at New House
	.videoset(data="XcDWEtlVaPQ,QiHRo9uxZaY,aUHX_cpPHz4,AFmRom4QT_s")
	.videoset(data="i44q5uE3JJc,BmeFJLR7dxI")
	.photoset(data-layout="2432")
		img(src="https://1.bp.blogspot.com/-w0n92eb1dXY/WVud4oHXuTI/AAAAAAABeuc/rexY9qHK1Osymwb_LYLL1be1nxFcjS-jQCLcBGAs/s500/20170618_081552.jpg")
		img(src="https://3.bp.blogspot.com/-frchBv2Oaoc/WVud5EE_XRI/AAAAAAABeug/byhIWlwVxQssceHhaopz7a3R7w806FG6gCLcBGAs/s500/20170618_092237.jpg")

		img(src="https://3.bp.blogspot.com/-4xjDHYiI37g/WVud5ZXyX2I/AAAAAAABeuk/u_Ac5trOZkQGPSMOZZRikJarbgNfS4R2wCLcBGAs/s500/20170618_092302.jpg")
		img(src="https://2.bp.blogspot.com/-IZfJ4Drq0R4/WVud5VE0d4I/AAAAAAABeuo/TXULHHxANQcV29i4nNju6PFQzSbkohV5QCLcBGAs/s500/20170618_092311%25281%2529.jpg")
		img(src="https://3.bp.blogspot.com/-Ki0o1-T2dJI/WVud57NpQZI/AAAAAAABeus/xS3q56hzlv4cNEvSsvR1alDhZgYyqrWwACLcBGAs/s500/20170618_122319.jpg")
		//img(src="https://3.bp.blogspot.com/-tBDfkqnFmiI/WVud6VoXgNI/AAAAAAABeuw/_KMJjrt3yCEYZSQ-7D7AbDfGI-L6mMjvACLcBGAs/s500/20170618_122323.jpg")
		img(src="https://1.bp.blogspot.com/-RAVgij2-Los/WVud6dA0GNI/AAAAAAABeu0/cXizC8SiFvw6SFQMy38AunRI0qOVZPdxgCLcBGAs/s500/20170618_122334%25280%2529.jpg")

		//img(src="https://3.bp.blogspot.com/-B9RQQ8WIN10/WVud6uyNArI/AAAAAAABeu4/N1aaMHYwG4U-cblcjCKAochsN3ZYk1bAQCLcBGAs/s500/20170618_135442.jpg")
		//img(src="https://4.bp.blogspot.com/-oEnBdFeMAws/WVud7a_Le7I/AAAAAAABeu8/eybih-Du_rk573-_SP0jCOxnvoz8Ly77QCLcBGAs/s500/20170618_135450.jpg")
		img(src="https://3.bp.blogspot.com/-BhcHPQCtvhw/WVud7U5vGdI/AAAAAAABevA/W0OQ9wARlK0TdCYdkhCNMHyMIJBOUZThACLcBGAs/s500/20170618_155520%25280%2529.jpg")
		img(src="https://2.bp.blogspot.com/-eTV0UMk2CV4/WVud7rU3qiI/AAAAAAABevE/eMhObgAuuZEECQhfE1kKNGBtFkApb22qgCLcBGAs/s500/20170618_155520.jpg")
		img(src="https://3.bp.blogspot.com/-s-KN77myvRk/WVud8LKp03I/AAAAAAABevI/Zr7kyYjjTvYvHY1Rst70q_gw9ub7W90ZgCLcBGAs/s500/20170618_155531.jpg")

		img(src="https://3.bp.blogspot.com/--_8s6SRtMTg/WVud8Wrz6II/AAAAAAABevM/xohmaVE1NCgMjD4pdwysHgLQGQTbBMR2wCLcBGAs/s500/20170618_160041.jpg")
		img(src="https://4.bp.blogspot.com/-rG0ua09eKzA/WVud8bYWYTI/AAAAAAABevQ/Ev99wvYZoVEgBW9YeZKQWmlih9UhdEajwCLcBGAs/s500/20170618_160100.jpg")

	.photoset(data-layout="A2")
		img(src="https://1.bp.blogspot.com/-yge5k1YAGEI/WVud8-zyM6I/AAAAAAABevU/miZAr80trWMXK2emcPxtSfhwdvHGcouIACLcBGAs/s500/20170618_183341.jpg")
		img._(src="https://3.bp.blogspot.com/-srQ6LCncp5k/WVud9utZwaI/AAAAAAABevY/o634AF_yGUgKNsN4sTcDiucxkudqce1RwCLcBGAs/s500/20170618_201830%25280%2529.jpg")
		
		img(src="https://1.bp.blogspot.com/-h7IaHtKRR0o/WVud9oZjmgI/AAAAAAABevc/KkG4Mt1CsLwV7vwSUHViUrCLs-fMX5dBwCLcBGAs/s500/20170618_201854.jpg")
		img(src="https://4.bp.blogspot.com/-NJjc2xDksdM/WVud996d8eI/AAAAAAABevg/nPrl9i_rcUI8SInX9k8A3omkToiYmrkGQCLcBGAs/s500/20170618_201855.jpg")
		//img(src="https://2.bp.blogspot.com/-Kk5_Dpu5bk8/WVud-bbHSeI/AAAAAAABevk/D4cQB6Ok5fQWvj7cq9PNTXRDGmcSHgyogCLcBGAs/s500/20170618_201857.jpg")
		img(src="https://2.bp.blogspot.com/-QNaul9F1j0A/WVud-lVG0jI/AAAAAAABevo/d3lCeFxk1qoLV6s7lffbaN25ap10V6NnwCLcBGAs/s500/20170618_203416.jpg")
		img(src="https://4.bp.blogspot.com/-hTRo-fReaaw/WVud-szGImI/AAAAAAABevs/Vl2lVhi1WJszsS6tSLq6M2fq0hL_6LdUQCLcBGAs/s500/20170618_205528.jpg")
		//img(src="https://2.bp.blogspot.com/-hTudKgOxWjs/WVud_AAku3I/AAAAAAABevw/VKT_nzqTZPAlJr-SEycC2iWRk4K9U0plwCLcBGAs/s500/20170618_205611.jpg")


	.fleuron


	
	h3 19 June, Monday (Week 21) - Sentosa Staycation 2
	.story #[.elvin] Audrey is the hottest girl in town. Everybody wants a piece of the action with her. Mum and Dad has brought her to Sentosa for staycation part two. Xiao yi has gotten another two nights stay in Festive hotel for them. Over there, they met up with Cousin Sharon and her family.
	.photoset(data-layout="A")
		img(src="https://3.bp.blogspot.com/-t9J7LPfkAmM/WVud_d2g6TI/AAAAAAABev0/R2Dw6SbVmcIfkb2WNF4WeMxiDyWY6k-WACLcBGAs/s800/20170619_075751.jpg")
		img(src="https://2.bp.blogspot.com/-YZYSpdrCHV0/WVui6jlWSpI/AAAAAAABezE/rEE5xahpszg4JmtN4nupH9fMRQN5dVf6QCLcBGAs/s800/IMG-20170619-WA0009.jpg")
		img(src="https://1.bp.blogspot.com/-vIzqNZzw0nY/WVui61SNTbI/AAAAAAABezI/Q9J5ZzhB8jsujWbHTFak1z8HhcAeWrRlQCLcBGAs/s800/IMG-20170619-WA0010.jpg")
		img(src="https://3.bp.blogspot.com/-zyMLUYAUJJw/WVui7F8E98I/AAAAAAABezM/pX4sCGgwGYse8zxkf9mcybJkGm6wvz9-wCLcBGAs/s800/IMG-20170619-WA0011.jpg")

		//img(src="https://3.bp.blogspot.com/-d5rSeoE4fF4/WVui7azZMlI/AAAAAAABezQ/f-ubpDsr6Usg3b7K570gOpkf1zJTz4GvACLcBGAs/s800/IMG-20170619-WA0019.jpg")
		//img(src="https://2.bp.blogspot.com/-qV_SYz__ZiY/WVui7eZqFbI/AAAAAAABezU/-uhMAfb5gTwPgXJpd0uhmUCC9XpQ-zBpwCLcBGAs/s500/IMG-20170619-WA0017.jpg")
	.photoset(data-layout="5232")
		//img(src="https://1.bp.blogspot.com/-KnjvJPpjFS8/WVui7oIig-I/AAAAAAABezY/J_wAwVXNHykQ6FYsmhAv9QbMHBifLUm1QCLcBGAs/s300/IMG-20170620-WA0000.jpg")
		img(src="https://4.bp.blogspot.com/-6uy7oT_cKzU/WVui8bx30fI/AAAAAAABezs/hqHz7qkIUJMQW3qKhVb6P_wrrOkL_DgjwCLcBGAs/s300/IMG-20170620-WA0006.jpg")
		img(src="https://3.bp.blogspot.com/--SOTKJ1Be7Q/WVui7_DFduI/AAAAAAABezc/widQatGDYGoMymNRHPgwvJ0ghJLzo9jFwCLcBGAs/s300/IMG-20170620-WA0001.jpg")
		img(src="https://1.bp.blogspot.com/-H6GqX8H4In4/WVui8NCUbHI/AAAAAAABezk/i5JDrcR3K5wBctiVm2ZVUnHggnTtedbGwCLcBGAs/s300/IMG-20170620-WA0004.jpg")
		img(src="https://2.bp.blogspot.com/-iVzKV5FTJgg/WVui8cwvLvI/AAAAAAABezo/ntPJIt4zbL8E_HzLFMSibW_b9biTCCcRQCLcBGAs/s300/IMG-20170620-WA0005.jpg")
		img(src="https://2.bp.blogspot.com/-BcPLEs3zivU/WVui9rRqMyI/AAAAAAABe0A/gjKIWm7XHE01e1e2HqZS676Jlg5QLyG3ACLcBGAs/s300/IMG-20170620-WA0012.jpg")
		//img(src="https://3.bp.blogspot.com/-7s9lzsbiBHY/WVui7x3JC7I/AAAAAAABezg/1pmzLBpcMhENBgjfHAgP5mNqKEKBkf4yACLcBGAs/s500/IMG-20170620-WA0002.jpg")
		//img(src="https://1.bp.blogspot.com/-ndAMT_oC-4c/WVui8kiTMzI/AAAAAAABezw/OW4MhCTH920JCEHIh0WFz2U-A6ICRvXGgCLcBGAs/s500/IMG-20170620-WA0007.jpg")
		//img(src="https://4.bp.blogspot.com/-i_r6hRJbO90/WVui80mcOOI/AAAAAAABez0/PsAucFX5mDUwssKwEocQL0a2Kt4WqPmGgCLcBGAs/s500/IMG-20170620-WA0008.jpg")
		//img(src="https://3.bp.blogspot.com/-vJvEn5cTR74/WVui9DjHhlI/AAAAAAABez4/ygLOOUDG_pEA_yXGb8cQI8CB0yGvuNHvQCLcBGAs/s500/IMG-20170620-WA0009.jpg")
		//img(src="https://2.bp.blogspot.com/-boGV_A3_8Ls/WVui9i_ZC2I/AAAAAAABe0E/ji4wSKM1dfAPhzFcby1F6Vpio9lWCxz_ACLcBGAs/s500/IMG-20170620-WA0013.jpg")
		img(src="https://4.bp.blogspot.com/-l_LckfVYSR8/WVui9OV3SsI/AAAAAAABez8/tw8gV1fGr-EuLoYh2Cbn0ASeJh5J1n8WACLcBGAs/s800/IMG-20170620-WA0011.jpg")
		img(src="https://2.bp.blogspot.com/-chKAa90-_6g/WVui-OAZ83I/AAAAAAABe0Q/IDQO4TzTo_cBSu5U2cQIUQL_NuDW6DcEwCLcBGAs/s800/IMG-20170620-WA0018.jpg")
		//img(src="https://3.bp.blogspot.com/-9fdypX-DNGs/WVui-f8W9BI/AAAAAAABe0U/f1F3EODQXQw_jKxkwQKn1g-fu-bdlHYcQCLcBGAs/s500/IMG-20170620-WA0020.jpg")
		img(src="https://2.bp.blogspot.com/-mVzUTpfQqUw/WVui-vkXvaI/AAAAAAABe0Y/9Pc6qvGQmz8SkO92Gu4GbyCvPJtpQ9b2wCLcBGAs/s500/IMG-20170620-WA0021.jpg")
		img(src="https://1.bp.blogspot.com/-KZYMe0iS2qk/WVui-LVn6BI/AAAAAAABe0M/HTOCu8OhkFIJBtdQKmaLrkKw4i4lF2J9QCLcBGAs/s500/IMG-20170620-WA0019.jpg")
		img(src="https://4.bp.blogspot.com/-B6pvih8dAxo/WVui-p76e8I/AAAAAAABe0c/wrNKTylMQjkdDH3JPqsocYdIWtY3zMR8ACLcBGAs/s500/IMG-20170620-WA0022.jpg")
		img(src="https://3.bp.blogspot.com/-BncIr4jtC6Y/WVui-0FqPjI/AAAAAAABe0g/7QVLKo9xJoQUTdKQ2fwAonxFaJyskOxQQCLcBGAs/s800/IMG-20170620-WA0032.jpg")
		img._(src="https://3.bp.blogspot.com/-RzNYpwhEzSk/WVui9tGlBMI/AAAAAAABe0I/qc2OGI1qxR0WJ3saqrBmWJ4HoKaSI8QMgCLcBGAs/s800/IMG-20170620-WA0014.jpg")

	.fleuron


	h3 21 June, Wednesday (Week 21) - Lim Family Chalet
	.photoset(data-layout="214")
		img(src="https://1.bp.blogspot.com/-R4ukY5ullH4/WVud_nmYTRI/AAAAAAABev4/F37vrnX0jDsByKw_gjnPPzW7AuNnTGU3ACLcBGAs/s800/20170621_185921.jpg")
		img(src="https://2.bp.blogspot.com/-q6kYs1nSt2o/WVud_1KejGI/AAAAAAABev8/8Cf0sZf_hA0Z5cuGrf20IOlrX9cMQXyDwCLcBGAs/s800/20170621_185922.jpg")

		img._(src="https://4.bp.blogspot.com/-ld2Z0bwBF6Q/WVui_G5uCSI/AAAAAAABe0k/dXypKqYBtyELmgI60e_l0ZnI17h-nTIxQCLcBGAs/s1600/IMG-20170621-WA0002.jpg")

		img(src="https://4.bp.blogspot.com/-sZaHPx8JaoM/WVud_zdL9AI/AAAAAAABewA/nghQdfcdE-0L7rd9MUGsfAMeGGyE5XMcACLcBGAs/s500/20170621_194942.jpg")
		img(src="https://4.bp.blogspot.com/-073KStV02Bc/WVueAZMjTrI/AAAAAAABewE/YmdhrGfEJHs4-q5sjK8Sco4Y24YxFJxggCLcBGAs/s500/20170621_194955%25280%2529.jpg")
		img(src="https://1.bp.blogspot.com/-Y9zSivd4RUs/WVueAhdg6LI/AAAAAAABewI/R-kweZQfwtEi8lwwDfj3tbtXaMcnOXkKwCLcBGAs/s500/20170621_195053.jpg")
		img(src="https://3.bp.blogspot.com/-L4XE7htMDu0/WVueA0uLXhI/AAAAAAABewM/mI2vzk29sjoA3YttaUlo41YsAkeu4FfqwCLcBGAs/s500/20170621_195054.jpg")


	.fleuron


	h3 24 June, Saturday (Week 21) - Flipping Audrey
	.videoset(data="5DVS38lOhhQ,EzxhZ3hUrVs")
	.videoset(data="p477oMKKY3g,9Fp6P_T8v90,CVoYakCLvTY")
	.videoset(data="4sPb7NdRtis,vLsb3LTdzEQ,7gOvYJPlJyk,J5GfjyUj6lA")
	.photoset(data-layout="132321")
		img(src="https://3.bp.blogspot.com/-4CzXmeYIRwI/WVueBIjAdwI/AAAAAAABewQ/hVXDIr0va2QwE1IXXzNMibe99YlaeSGnwCLcBGAs/s1600/20170624_083834.jpg")

		img(src="https://3.bp.blogspot.com/-IFIK83_SlaA/WVueBeEyoMI/AAAAAAABewU/47ZnNy_SeDsGNJxUjV4v32n51d4oRCyjQCLcBGAs/s500/20170624_084701.jpg")
		img(src="https://3.bp.blogspot.com/-PGeROxhgKH4/WVueBrQvjlI/AAAAAAABewY/B9wCtHyb8HIDnRGNTPT2v5anXlWv-IwIwCLcBGAs/s500/20170624_084714.jpg")
		img(src="https://2.bp.blogspot.com/-R5qLLs-Z-KU/WVueB-alkHI/AAAAAAABewc/bwhcZT-vwTsMmmjElYnH-XFF81pUFqg2ACLcBGAs/s500/20170624_084717.jpg")

		img(src="https://4.bp.blogspot.com/-5RG01gHSHas/WVueCMrvLHI/AAAAAAABewg/1X1MjotE2msXOBzjyKF6Y8iLfBf5mUIpgCLcBGAs/s800/20170624_084827.jpg")
		img(src="https://3.bp.blogspot.com/--GTB-MJtcPM/WVueCD0tQQI/AAAAAAABewk/eE1gNDZF1KEKXcj8OHGc_ZcsIOKXKZdlwCLcBGAs/s800/20170624_084902.jpg")

		img(src="https://4.bp.blogspot.com/-XBkTylk_cL8/WVueCoc1MzI/AAAAAAABewo/7aqsgRrLBLcTF8IMQKXTzyBAMyRovJlQACLcBGAs/s500/20170624_090159.jpg")
		img(src="https://4.bp.blogspot.com/-QPLIOjhddDI/WVueCxSvicI/AAAAAAABeww/sAWeypzVLVA8SpbDbHHns6NkBHNyRZGSwCLcBGAs/s500/20170624_090207.jpg")
		img(src="https://4.bp.blogspot.com/-VYO3VE2dRmI/WVueC6mUqKI/AAAAAAABews/lB5gBaoXuT02lGhnMSQ-Yh72yQh9K6NYgCLcBGAs/s500/20170624_090210.jpg")

		img(src="https://4.bp.blogspot.com/-55WiLMQD-Qk/WVueDd4lupI/AAAAAAABew0/pGk_y067540sCnrZjR2ljEmKnytHfqdMQCLcBGAs/s800/20170624_103001.jpg")
		img(src="https://1.bp.blogspot.com/-YXQ1pSVBC2s/WVueDnXOdWI/AAAAAAABew4/4f3jBnxZSIgP1tjlJQpQCxT35xrOWrwdgCLcBGAs/s800/20170624_103014.jpg")

		img(src="https://2.bp.blogspot.com/-aaE86NtjiIQ/WVueD0Me7vI/AAAAAAABew8/QMXzbukPCE4MmWzBS0CMQen-NynEDRtaQCLcBGAs/s1600/20170624_121539%25280%2529.jpg")



	.fleuron


	h3 25 June, Sunday (Week 21) - Visiting Auntie Siew Qing
	.videoset(data="44o5bEGUQdo,uOamkQjHHiQ")
	.photoset(data-layout="313234")
		img(src="https://4.bp.blogspot.com/-v08AxsbGB2k/WVuiyztxhTI/AAAAAAABexc/eXj7wu2AK80HLHYVnOHmeiN86LjrZdT3ACLcBGAs/s500/20170625_111130.jpg")
		img(src="https://1.bp.blogspot.com/-Hb-7kxCjvSE/WVuiy3oeM3I/AAAAAAABexY/U6Ibh3dBzbIeI9NKno4V6ixjFqulKNyewCLcBGAs/s500/20170625_111131.jpg")
		img(src="https://1.bp.blogspot.com/-auwh7Tm1m5M/WVuiy0MY5NI/AAAAAAABexU/Bkh5wGp0hEsGic_deGm955PIPZU2p5lHwCLcBGAs/s500/20170625_111132.jpg")

		img._(src="https://3.bp.blogspot.com/-vgM_3U8nbUA/WVuizyfnJ1I/AAAAAAABexo/KDpkXyfxXz4jLWoVIovsYedrAvdeRFlawCLcBGAs/s1600/20170625_145528.jpg")

		img(src="https://4.bp.blogspot.com/-6K3NsragBzk/WVuizw3_RJI/AAAAAAABexg/3KTA3umyWLoukDJh18wiWuewZJLXvER6gCLcBGAs/s500/20170625_145550.jpg")
		img(src="https://3.bp.blogspot.com/-alT-S_H8VoA/WVuiz1rxDTI/AAAAAAABexk/OULDLrHynhozM39oumXGeMQOh4bHqulLwCLcBGAs/s500/20170625_145551.jpg")
		img(src="https://4.bp.blogspot.com/-LXRA9Wu4aro/WVui_FyXAjI/AAAAAAABe0o/jXbZcc_dKRwvjsm3rptkCteXeGKSlbRHwCLcBGAs/s500/IMG-20170625-WA0008.jpg")

		img(src="https://3.bp.blogspot.com/-4iiby3sNhoM/WVui_kfLjZI/AAAAAAABe0s/BNhwyPO7qU8FZ4x8MQh7dpbAmpff6dVUQCLcBGAs/s800/IMG-20170625-WA0013.jpg")
		img(src="https://1.bp.blogspot.com/-v_K6XgIDIEw/WVui_7rPSLI/AAAAAAABe0w/eqw9vBxEyGoH1OgEqj6-sXlcSWrR_30HACLcBGAs/s800/IMG-20170625-WA0014.jpg")

		img(src="https://1.bp.blogspot.com/-pHKBrZ4182Y/WVui_4GRxqI/AAAAAAABe00/Gx06nuYbp9c_OUUIYLHTnuwywMrfARjugCLcBGAs/s500/IMG-20170625-WA0019.jpg")
		img(src="https://4.bp.blogspot.com/--frs57Z5U7E/WVujAPBwMpI/AAAAAAABe04/cFFMrM1SRGIjvpZOsB0SxDRDfQ2jFhnbACLcBGAs/s500/IMG-20170625-WA0024.jpg")
		img(src="https://2.bp.blogspot.com/-e3xr6yUTIPw/WVujAdCVXyI/AAAAAAABe1A/pR571qCFaNA6X461DZ6Jhvw_Xy5pSHI_wCLcBGAs/s500/IMG-20170625-WA0028.jpg")
		//img(src="https://2.bp.blogspot.com/-SETOhulMmcg/WVujAaLhXCI/AAAAAAABe08/-jjWvexTba4HqQ_tLWVRfuzuaFLFCFywQCLcBGAs/s500/IMG-20170625-WA0030.jpg")

		img(src="https://2.bp.blogspot.com/-r5y-WHAHoak/WVui0npP0JI/AAAAAAABexs/jI5BQ1f0nQcHBoojRHyoPli0thU-ipEyQCLcBGAs/s500/20170625_212344.jpg")
		img(src="https://2.bp.blogspot.com/-z0F1Fc0iUEk/WVui1B-bQXI/AAAAAAABex0/J-I7MO91LZUbTIZhu3hZeJbNmqQd0pY1ACLcBGAs/s500/20170625_212400.jpg")
		img(src="https://2.bp.blogspot.com/-u9pum2C-Nk8/WVui0_i0o6I/AAAAAAABexw/_WfUwUPcZq06t3oZvCULr1Rbgw0s5fGkQCLcBGAs/s500/20170625_212405.jpg")
		img(src="https://3.bp.blogspot.com/-p5FXH-eWenk/WVui1lnHx1I/AAAAAAABex4/SyHb29jrDosqraKjgzR5yXzAfFVlQ_SoACLcBGAs/s500/20170625_212407.jpg")
	

	.fleuron


	h3 2 July, Sunday (Week 22) - 5 Months
	h4 Monday - Hari Raya Puasa
	.photoset(data-layout="234")
		img(src="https://1.bp.blogspot.com/--lKNsIkpYS8/WVui2Dqx3QI/AAAAAAABeyA/oqntPxTD9qkzyP2oYPH6ngG1SgKuSpkJgCLcBGAs/s500/20170626_095839.jpg")
		//img(src="https://2.bp.blogspot.com/-J5P8YfXw5ZI/WVui1wu0gaI/AAAAAAABex8/vHHKwvhuYnkwaVRAV_AMdfyKmMqCdwQUACLcBGAs/s500/20170626_125802.jpg")
		img(src="https://4.bp.blogspot.com/-z0n6SMeHo1k/WVui2WWYx8I/AAAAAAABeyE/JNR1O0HokDIvTv495VYvvuLNMBp58SqNQCLcBGAs/s500/20170626_130204.jpg")
		img(src="https://3.bp.blogspot.com/-faT55hBfPuM/WVui2zpmlWI/AAAAAAABeyI/7IVT6_5g4rg4pHlBmREdN0ct4vuYNfczACLcBGAs/s500/20170626_133139.jpg")
		img(src="https://2.bp.blogspot.com/-T5EKhjQjfzM/WVui2_7G8NI/AAAAAAABeyM/h9JyIu7V9IMOW1SJhDwhCOFYWYAo8D8RwCLcBGAs/s500/20170626_135504.jpg")
		img(src="https://2.bp.blogspot.com/-6tvkL7eWXgE/WVui3H2XrNI/AAAAAAABeyQ/zNRfnH9PaVM6OFhE1ERvxaDbMP6aaMHlQCLcBGAs/s500/20170626_135523.jpg")
	.videoset(data="ONF5mf8dIes,SYg5hCNJOzs")

	.story #[.elvin] I put together the mini Poang armchair which should accomodate this growing girl for a long time. She was excited to sit on it on her own as she spent most of the time lying down or carried by us. Never has she got a chance to sit without assistance. After the armchair, I moved on to the Billy shelf which I have been procrastinating for weeks. With the shelf up, I packed all the books in. There are stories, informational and educational contents. They should keep Audrey accompany for many years.
	.videoset(data="WUMfO9LqWKo,x2WaPLPgqKI")
	.photoset(data-layout="5")
		img(src="https://3.bp.blogspot.com/-n7wpMZL6qvg/WVui3ho_XPI/AAAAAAABeyU/OrkoV_C4bvAVPGOd5Tn3JFkCVcgziqWjACLcBGAs/s500/20170626_164858.jpg")
		img(src="https://3.bp.blogspot.com/-T2HkMFzpXXQ/WVui3nhVEfI/AAAAAAABeyY/SVihksG8t0AlJLbAxQ2j2TKd9TrFfejtQCLcBGAs/s500/20170626_164859.jpg")
		img(src="https://4.bp.blogspot.com/-gONL7_p8qO0/WVui4F7wohI/AAAAAAABeyc/r2LwzrVySdEQWDgyYlqLB4UCNQwIvuoFgCLcBGAs/s500/20170626_164917.jpg")
		img(src="https://4.bp.blogspot.com/-R7VZ-ottWKI/WVui4f0uXAI/AAAAAAABeyg/-jYVX2o4hBwQkt86x3Lbudug4gXKyWLYgCLcBGAs/s500/20170626_164918.jpg")
		img(src="https://2.bp.blogspot.com/-SQFavDCclG4/WVui4lZay-I/AAAAAAABeyk/4DJgGiPhZ5gdvCSnMHmveVtDLFG7INuGACLcBGAs/s500/20170626_165459.jpg")
	.story The dinner menu is pan-seared salmon, baked potato and some greens. Audrey is invited too! She gets the honour sit in her new armchair and watch her eat.
	.photoset(data-layout="4")
		img(src="https://1.bp.blogspot.com/-yyq3T6XgTD8/WVui4yjJwQI/AAAAAAABeyo/GUMQb5hyO54MSiRYJcG9FxO9ghj3HELKACLcBGAs/s400/20170626_193359.jpg")
		img(src="https://2.bp.blogspot.com/-Ji0U9OsmUV0/WVui5qLwbaI/AAAAAAABeys/XLSzmKVvoaELJwAgdaWYn08azcbvgaSXwCLcBGAs/s400/20170626_194542%25280%2529.jpg")
		img(src="https://1.bp.blogspot.com/-ne1A44_lXJY/WVui5r7W9hI/AAAAAAABeyw/YzweBajoOz0UVegp9mhjRdxvMV8akQ4BwCLcBGAs/s400/20170626_194700.jpg")
		img(src="https://2.bp.blogspot.com/-b9JsNK6YIR8/WVui6G0GLZI/AAAAAAABey4/Famou-MNBFwjvDgjru7BhWOIhH8LPvmcgCLcBGAs/s400/20170626_194702.jpg")

	.photoset(data="BxU5zd6kJas,WWsuzfGBQBc")
	h4 Wednesday
	.story #[.elvin] Big golden kiwis. So yummy that even a five-month old instinctly smacks her lips and stares at it. Alas, Audrey is not ready yet. We will wean her onto solids next month. It is curious to watch her crave for food she has not tasted before. Ellis bought an ABC soft flashcard for Audrey to learn her alphabets. Look at that girl, she is learning with gusto!
	//.videoset(data="lZgy3Qxtg7o")
	.videoset(data="8Xv8DLHsXeE,m2Ht7GVVVp0,iNpMxXY93qs,vQr7U8PirXY")
	.photoset(data-layout="23")
		img(src="https://4.bp.blogspot.com/-McmR9KSD7dg/WVujnRDZ4oI/AAAAAAABe1E/WMx6s8MSgBIdpm5fm6gn9IydYct5NQ1tgCLcBGAs/s800/20170628_204953.jpg")
		img(src="https://2.bp.blogspot.com/-BIBO4mtMRGc/WVujnStwh8I/AAAAAAABe1M/3juxRw5GkckyDP7TeFFNDvxw_ZFlpw60gCLcBGAs/s800/20170628_205035.jpg")
		//img(src="https://3.bp.blogspot.com/-XLa_bO3HdmQ/WVujodlXsAI/AAAAAAABe1Y/pGmyFqthGcwG4r2-JtBefegHVz0snQUbgCLcBGAs/s500/20170628_205056.jpg")
		img(src="https://2.bp.blogspot.com/-7z6vjKxHg04/WVujnegQqfI/AAAAAAABe1I/qbyVpaGQCrMRTJwGI12Da70sUg0NTcLxQCLcBGAs/s500/20170628_204931.jpg")
		img(src="https://1.bp.blogspot.com/-ZRHs4-iuMmM/WVujobkRjUI/AAAAAAABe1U/wCajrA2C7AENk0_B6a53bLKwYrrX2ITpwCLcBGAs/s500/20170628_214909.jpg")
		img(src="https://2.bp.blogspot.com/-zKH4yHwQLUw/WVujofxG6eI/AAAAAAABe1Q/C5SDIG3nB6sFjJe_pGHk5U7QnAKjdmQWgCLcBGAs/s500/20170628_214911.jpg")

	h4 Saturday
	.story #[.elvin] It's a day to be lazy. But Audrey is awake at 7 a.m. and calling out to us. I was tired and sleepy and I slumped beside her. Maybe that will keep her quiet a bit.
	.videoset(data="XinQj3-SZJI,9_W81ncjEBE")
	.photoset(data-layout="1")
		//img(src="https://1.bp.blogspot.com/-8-eKTOoE0kQ/WVujpP7pL4I/AAAAAAABe1g/wWpRywZZEGA3Eb2F6gM-UM0v9-2UciWngCLcBGAs/s500/20170630_191140.jpg")
		img(src="https://1.bp.blogspot.com/-41qeQwhu5nQ/WVujpDZpwVI/AAAAAAABe1c/6yqw2FQJ5bA5TiSSlFg0GstPBvmRY_yGACLcBGAs/s1600/20170701_104707.jpg")
	.videoset(data="Jebp0qSl4oQ,leFwqZ2pivw,tFMhS6q_Ajo")
	.photoset(data-layout="3")
		img(src="https://4.bp.blogspot.com/-UboxFV4vDj4/WVujpSXrFiI/AAAAAAABe1k/WLxTmZwrFbY_SyCtxyUBuX97keeCxdMwgCLcBGAs/s500/20170701_154839.jpg")
		img(src="https://4.bp.blogspot.com/-Nbmw-7aeyg0/WVujqQglP8I/AAAAAAABe1s/0ZoVEptSXkslT13FyJxr8Hcuad1ncAbWACLcBGAs/s500/20170701_154928.jpg")
		img(src="https://4.bp.blogspot.com/-m9PHk4ERnlA/WVujqVDPSgI/AAAAAAABe1o/B_tyvGbjXYsgbQB6a1yvWvjThnP2RKL7QCLcBGAs/s500/20170701_212502.jpg")
	.videoset(data="c1ZOKhnVSJs,SnTNxqUdGT8,P-H9-gTFLNo")



	h4 Sunday
	.story #[.elvin] We are back from our morning walk around the estate. The sun was sorching this morning making us sweaty.
	.videoset(data="yTde5xzIAN0,UaEWJBy8N1I,S8gTSyDnJ1A,nGrswPBIxYI")
	.photoset(data-layout="2434123232")
		img(src="https://2.bp.blogspot.com/-arJ2vzgaYfY/WVujqaJieFI/AAAAAAABe1w/bZn3ohOZ4TU6z7muAyPBmOJPW6mNs_IbQCLcBGAs/s500/20170702_085550.jpg")
		img(src="https://2.bp.blogspot.com/-l269TobQaH8/WVujrLYCuZI/AAAAAAABe18/RzTg3ls_-D8H6M5ywMQBDc6rCWkcXWkBACLcBGAs/s500/20170702_085614.jpg")

		img(src="https://2.bp.blogspot.com/-LQ8jFudMsxs/WVujrC5ukoI/AAAAAAABe10/ejD6XZUkeIwxNWde07xDpreT1A3sz3fSACLcBGAs/s500/20170702_090857.jpg")
		img(src="https://1.bp.blogspot.com/-c1nc2laqP-Q/WVujrHswHcI/AAAAAAABe14/Fybx8Y2unlctLr_BWhPGtyA7Nap11jCeACLcBGAs/s500/20170702_090923.jpg")
		img(src="https://4.bp.blogspot.com/-Q7fyoxCTrv4/WVujrhNRQKI/AAAAAAABe2A/pJgJw5D8xcUOk0zV54lPgL5o8TL69TUMwCLcBGAs/s500/20170702_102452.jpg")
		img._(src="https://3.bp.blogspot.com/-AYbYEb9tJZ4/WVujr-VimJI/AAAAAAABe2E/AMfXdDo7dcEawW7JTNwVWfqWrUzg_te8wCLcBGAs/s500/20170702_120902.jpg")

		img(src="https://1.bp.blogspot.com/-VCPaWN0MnXE/WVujsDoGlPI/AAAAAAABe2I/9kD9GxNGcUErFzXOg0N-WOHgHw9WAk5BwCLcBGAs/s500/20170702_121055.jpg")
		img(src="https://4.bp.blogspot.com/-nJDIEOxsfW0/WVujss9jrmI/AAAAAAABe2M/Ekv2AjU1B6gHATEKeaRjS-MMi1_9AOOnQCLcBGAs/s500/20170702_121057.jpg")
		img(src="https://3.bp.blogspot.com/-70oSi0FJ11U/WVujsn1o71I/AAAAAAABe2Q/qzHfDhfvNzgc2_7C0MlvJlAPAtLxU5ETgCLcBGAs/s500/20170702_121125.jpg")
		img._(src="https://2.bp.blogspot.com/-neCCAaFHCxk/WVujs3-c_8I/AAAAAAABe2U/b9YJjjkSvKABEyLriwZxzDlPITJ1-gvRACLcBGAs/s500/20170702_121137.jpg")
		img(src="https://3.bp.blogspot.com/-tST-uxyhGmA/WVujuLe4COI/AAAAAAABe2Y/SlwPdpzf_egfo_wo-d3zbO26DULxKPJnwCLcBGAs/s500/20170702_121201.jpg")
		img(src="https://1.bp.blogspot.com/-pFMEO1Api7A/WVujuO_HwQI/AAAAAAABe2c/1zNshOrvw9QGwLt_bD0yZRyqxMkE_IEHwCLcBGAs/s500/20170702_121212.jpg")
		img(src="https://1.bp.blogspot.com/-KMhx6mJCJvI/WVujuUB2SfI/AAAAAAABe2g/rlyN1KzM7cgtvVvpDs-HhSSaq0lxBBjhQCLcBGAs/s500/20170702_122855.jpg")
		img(src="https://3.bp.blogspot.com/-7zmtBAFCytk/WVuju0vC6GI/AAAAAAABe2k/2Tc1-Tq1kAgf_c9icdch-FXPIWH-d75qwCLcBGAs/s500/20170702_122858.jpg")
		img(src="https://2.bp.blogspot.com/-BzZSJnF3PNM/WVujvAYUDYI/AAAAAAABe2o/mvi0mFcTplAEcPpvPGQ7fSNGzqk4LwA5gCLcBGAs/s500/20170702_153200.jpg")
		img(src="https://2.bp.blogspot.com/-_jjRrs5kINE/WVujvcXimEI/AAAAAAABe2s/8E6xSSfKu1ELvH4mtjO1lxWvvnkhtUGCgCLcBGAs/s500/20170702_153314%25280%2529.jpg")
		img(src="https://4.bp.blogspot.com/-nz95wclIGgk/WVujvtaijZI/AAAAAAABe2w/2LlUnVjJXjY4u09smiLnFJNXauhKtCh9gCLcBGAs/s500/20170702_153314.jpg")
		img(src="https://1.bp.blogspot.com/-93C9KR1sCnI/WVujv1_lUEI/AAAAAAABe20/uagEKwB8xoQOy-UKeXTFoppSq7yefSgdACLcBGAs/s500/20170702_153315.jpg")
		img(src="https://4.bp.blogspot.com/-m4WBlwB6RT4/WVujwRA7kwI/AAAAAAABe24/BLaw-5XhRek88BJKcmeDorzaj11NBGGDwCLcBGAs/s500/20170702_162207.jpg")
		img(src="https://3.bp.blogspot.com/-muAo5QAcdaE/WVujwpj5ZBI/AAAAAAABe28/5_H8r-jcge0gXdbjt6mXWTRbxJP0AfN-QCLcBGAs/s500/20170702_162740.jpg")
		img(src="https://2.bp.blogspot.com/-VLLYOzq9Vno/WVujwq-5e5I/AAAAAAABe3A/NRRv0Xd4tBUnZnxg6C4MRrBkbO1_CUwbgCLcBGAs/s500/20170702_162742.jpg")


	.fleuron


	h3 9 July, Sunday (Week 23) - Vaccination 3
	.subline Weight: 7.4 kg. Head Circumference: 41 cm. Body Length: 63 cm.
	.story Tuesday was part three of the 5-in-1 and the pneumococcal vaccination. This time Audrey cried louder than usual. She is more aware of what pain is now and is able express it better through crying. Ellis had to comfort and coax her with milk before she dift off to sleep. When we were back at home, she has forgotten about the morning event and was back to her cheerful self. In the evening, she developed a fever which persisted weakly until the next morning. We fed her paracetemol which reluctantly swallowed in many small mouths with a frown throughout. When it was over, she was elated. The frown broke into a grin and she wanted to play with the family members around. Audrey is ever the cheerful girl.




