---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-zgIHSXSmNPo/WJGcO_dfXPI/AAAAAAABdCs/MvCku6qmaaE_4YiHMHjuDzeUyI8Y8Qn-wCLcB/s1600/IMG_7773-2.jpg
title: Audrey Chua
excerpt: Daughter of Elvin and Ellis
author: Ellis and Elvin
date: 2017-01-28
permalink: /audrey
---

header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]udrey arrived on the night of the Chinese New Year. This is a diary of her growing up. Mommy and Daddy will write an entry for her every week. These will be our memories when we look back over the years.

	.fleuron

.group
	h2
	h3 4 February, Saturday (Week 1) - Welcome Home
	.story #[.ellis] It has been exactly a week since the D-Day. I am still looking at the photos of Audrey in her first hour of arrival. It seems like her face changes every day and I can't catch up. I must say the first week is horrible. I always know that when we introduce a new activity in our lifestyle, there bound to be time needed to settle down. I once experienced it when I first moved into Elvin's house after married. It took us a while to get the routine back and be able to do things in the most efficient way. 

	.photoset(data-layout="3")
		img(src="https://2.bp.blogspot.com/-7rztlYZ-VPM/WJwNRnHvreI/AAAAAAABdUQ/Z-x3tq95qGMOEHIsnaVBMrjtEm7BjogogCLcB/s500/IMG_7806.jpg")
		img._(src="https://1.bp.blogspot.com/-zgIHSXSmNPo/WJGcO_dfXPI/AAAAAAABdCs/MvCku6qmaaE_4YiHMHjuDzeUyI8Y8Qn-wCLcB/s500/IMG_7773-2.jpg")
		img(src="https://1.bp.blogspot.com/-ayk1JgMO5Uk/WJwNSG2PTbI/AAAAAAABdUU/-i44E_tTiAszsisx9IqwYw8xztBNfqyAQCLcB/s500/IMG_7999.jpg")
	.video.cont(data="p9uiZ0fR1Lo")

	.story And now, the new challenge is here. This time round seems harder because I have to deal with the pain in me on top of the new routine to set up. Throughout the first week, I think I was emotional. I can easily cry over little things. It must be the hormones!

	.story I had difficulty in getting Audrey to latch on and Audrey's suckle power is super strong. It hurts so much that I decided for Audrey to begin with formula milk after the first night. I felt depressed at times when I have a majority of the people asking me whether I breastfed Audrey. I am not a strong believer of breastmilk especially so when I need to eat the Chinese confinement food. I feel unhealthy and I do no wish to feed Audrey with this. I felt that my milk will only be good when I am back to my usual diet when I get to eat a variety of fruits, vegetables, meat and drink lots of plain water and fresh milk. With this and the sore nipples from the first night, I did not express the milk out. By day 5, I felt cold and shivering. I guess my breasts were engorged without me knowing. Well, it got everybody worked up and I got some scoldings here and there. I felt depressed but luckily, Elvin is always by my side and he was not giving me any pressure to breastfeed. I thank God for that. 

	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-x95l8Nzk4dc/WJwNV67faqI/AAAAAAABdUk/-ItVc2jTFuAqOknlI8ca693wLt-DbbyAwCLcB/s800/IMG_8061.jpg")
		img._(src="https://2.bp.blogspot.com/-C0PoiujLBZM/WJXvrp3poII/AAAAAAABdR0/BygQJSDwIHEhdoq6l8QVHgzeXSxnnM7xQCLcB/s800/IMG_7788.jpg")

	.story After all these pains, seeing Audrey breathing every second, moving her limbs and making different expressions, just warm me and make me feel happy. A dream come true. Audrey is now sleeping soundly on the cot. Elvin managed to capture many moments of Audrey. I love the smiley face on her! 

	.story I will still stroll through my photo album in the handphone for Audrey's photos. I can never get tired of seeing her. Haha! As for Elvin, I can tell he is purely excited being a daddy. Although we are sleep deprived, he still makes effort to read and sing to Audrey. And with each passing day, Audrey is growing up too quickly!

	.story #[.elvin] Audrey is the cutest baby ever. She looks intensely you with her big eyes without blinking, as if studying every detail of your face. When she is done with feeding, she just knocks out in your hands. Her arms will be dangling down, her eyes shut tight and her tiny mouth gap open. Give her a minute or two to recover her consciousness. During her deep slumber, she will smile once or twice as if she is enjoying her milk. She will then open her eyes sleepily. If you tilt her upright at this moment, she may give a loud and wet burp. At times, she just refuses to burp even after she downs 60 ml of milk in one sitting.

	//.photoset(data-layout="21")
		img(src="https://4.bp.blogspot.com/-SxkM_T05mnQ/WJwNYfnyOQI/AAAAAAABdU4/3YDXOf4b_r8DZH9gSbXi-j8339SSe1kqQCLcB/s1600/IMG_8141.jpg")
		img(src="https://1.bp.blogspot.com/-EzX_n6YwLJI/WJwNYtubsSI/AAAAAAABdU8/z6KlXwv5gkA8HfsGEhE0K6Eit0WZ6bPVwCLcB/s1600/IMG_8144.jpg")
	.video(data="8fjNXG0pjF4")

	.story She was afraid of the water when we bathed her the first time, letting out a wail. But she is getting better at the end of the week. At least, she is not crying now. When she yawns, she likes to end it off with a funny growl that goes "krrrack". I wonder where did she pick that up from. She sleeps in whatever ways she feels comfortable: both hands above head; both hands under cheek; one hand under cheek and the other hand extends out. She makes sounds when she sleeps. Sometimes a whimper or a short cry. The first few night, I thought she wanted attention but it was false alarms. Now, we wait awhile longer before checking on her.

	.photoset(data-layout="3")
		img._(src="https://2.bp.blogspot.com/-DUVdINab5Rg/WJXvre3Qc7I/AAAAAAABdRw/Ikx2vHNm4w0k9Z7CmZtQCjEdex5rJpnXACLcB/s500/IMG_7898.jpg")
		img(src="https://4.bp.blogspot.com/-UjV988KWnnI/WJwNWf-b3GI/AAAAAAABdUo/QkzvXuLQf8oZOjriqWvz1r7IUSMIEuBDgCLcB/s500/IMG_8085.jpg")
		img(src="https://2.bp.blogspot.com/-piGgkhu0V7s/WJwNWQ7HdKI/AAAAAAABdUs/dtv9_Pcof5QSyOICwfnsY4XIdGt_rYk0wCLcB/s500/IMG_8093.jpg")

	.story Alas, babies don't come with a manual so we are figuring out what works for her through trial and error. Our first visit to the pediatrician was a success. Dr. Eugene Han said she has maintained her weight which means she is feeding well. Most babies lose weight in the first week. The bilirubin level is 120 vs 105 umol/L when she was first tested. We did give her a little sun in the morning so she didn't suffer from jaundice. That was a great relief to us. She had acid reflux at first but it has improved too as we fed her upright and gave her a daily dose of probiotics.

	.story At home, her Ye Ye and Nai Nai is thrilled to see her. Babies have this magical aura of making grown-ups smile and want to do things for them. Ellis arranged for B&G Life Casting team to come down and do a cast of Audrey's hands and feets. We haven't got the final product yet but the nice lady, J.J., made footprints of Audrey onto a piece of paper. I scanned the footprints in, put in some texture and Ellis added the text. The end result is a nice wallpaper.
	.photoset(data-layout="1")
		img._(src="https://4.bp.blogspot.com/-Xi75elNCRBw/WJprUWG7-9I/AAAAAAABdTc/Jbjk5oACCR8kdyK1OL2EYK41PPRpe3oTACLcB/s1600/Audrey_Little_Footprints.jpg")

	.video(data="ywCmvUjrZCM")

	.fleuron



	h3 11 February, Saturday (Week 2) - Farts and Poops
	.story #[.elvin] Audrey farts and poops a lot. As her gastrointestinal tract is still developing, the gas in tummy gave her great discomfort. The first few nights were bad as she arched her back, flexed her limbs and cried out in pain. We were in pain too as we watched. All we could do was comfort her and rub her tummy gently. She is more accustomed to the tummy gas now. I watched her giving only a whimper as she arches her back and forced the fart out one by one. It is hilarious to hear them popping out loudly.  We switched her formula milk to NAN 1 with partially hydrolysed protein. Hopefully, this milk along with the breast milk will be easier for her tummy.

	//.video(data="qtO0oKhDA-A")

	.story A funny thing happened. Ellis and I were changing her diaper after she left a golden mess in it. We thought she was done but apparently, she was not. I stuck my hand in to clean her bum when a torrent of water gooey shit shot out. It hit my hand and the shit radiate outwards, splashing some on Ellis' arms, the bed and the floor. I jumped back from the shock. Within a second, all hell broke loose. I went to wash my hands and get reinforcement from my mom. I wasn't sure which was a better choice - to breathe through my nose or mouth. It took us a good half an hour to clean up Audrey and ourselves, and change the bed sheet. Throughout the shit storm, Audrey was oblivious to the smell that engulfed the room and looked calmly satisfied in letting it go.
	
	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-0GEKHvzV87U/WJwNRYklEqI/AAAAAAABdUM/pwO5qvct5XMxxqcVzX8o9qeeieCaf1OSACLcB/s800/IMG_7877.jpg")
		img(src="https://2.bp.blogspot.com/-royufBpoHnE/WJXvrewoKjI/AAAAAAABdRs/I2WWk9T06_wiCBzkTGo13-SLWgbhlC_AACLcB/s800/IMG_7821.jpg")

	.story This was the second week of my paternity leave and that gave me plenty of free time with Audrey. I watched her sleep more than half the time. She has many fine hairs covering her skin which are mesmerising to watch. When she is awake, we read to her "The Cat in the Hat" and "The Cat in the Hat Comes Back". They are funny stories. She may not understand them now but someday she will. Apart from reading, we sing songs to her too. My favourites are "Spring is Here", "In the City" and "Little Virus". I think she likes them too as she listens with a serious face. She likes her toes to be counted. When I pull on it one by one, she is figuring out what is happening. Her toes are so tiny, it is incredible to watch them.

	.photoset(data-layout="1")
		img._(src="https://1.bp.blogspot.com/-YZpwTm1JxhA/WJwNXNiqGiI/AAAAAAABdUw/bJc7zxp6HkQFsPEvaQYpirsHmIoEofDFQCLcB/s1600/IMG_8099.jpg")

	.story #[.ellis] The feeling of being a mother has still yet to settle on me. Really? Am I a mother now? Do I really have a daughter? These questions, I probably never thought they would be a 'yes'. It feels unreal. Will I be a good mother? Will I be able to take good care of Audrey? Even more questions for myself now... 

	.story Confining myself in the house for straight 3 weeks is a feat. Oh my... I feel so emo sometimes that I cannot even get out of the house. The only time I am out is when I dispose of rubbish. This is terrible and makes me so grumpy. That is why I am really counting down to the end of confinement. Although I think the daily routine will not change much after confinement, I still look forward to it, at least I can eat things I want to eat and go grocery shopping. 

	.photoset(data-layout="1")

		img._(src="https://4.bp.blogspot.com/-3K5XrYvpkRY/WJwNUOty0pI/AAAAAAABdUc/iBTgHa4XBMUggRrBkTnAb-Rcian8MOzeACLcB/s1600/IMG_8009.jpg")
	.story And when it gets really emo staying at home, I yearn for people to visit me. As I am still staying in my in law's place, it is not as convenient. Still, some of my friends and family came. This instantly lit up my spirit. I realise I miss them so much! 

	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-pynTyCpiSMQ/WJwNaVEDxwI/AAAAAAABdVM/VHhR1ucnuqEMYG9taeMNTH4FrfLVXXp9QCLcB/s800/IMG_8169.jpg")
		img(src="https://1.bp.blogspot.com/-MuEZGv43y8U/WJwNZnn2GPI/AAAAAAABdVE/L0raX3xN9tAG0q079Dpg8Dr7Hlk1BkZdACLcB/s800/IMG_8162.jpg")
		//img(src="https://2.bp.blogspot.com/-xpkuMp4OhdQ/WJwNX-hPrzI/AAAAAAABdU0/UYdpSaOIbqsLBjsDmAmoXIA_lOumwn4nACLcB/s1600/IMG_8117.jpg")
		//img(src="https://1.bp.blogspot.com/-6DoCDyfCwKs/WJwNZPTKU5I/AAAAAAABdVA/qFcVYXuktukxLaoFeUBI6xGBIpoIVMA0wCLcB/s1600/IMG_8152.jpg")
		//img(src="https://1.bp.blogspot.com/-YMZKBTB_PXY/WJwNaIyUg6I/AAAAAAABdVI/pB4b0fWlJ1wvmeh9x0MLr93-fQbBZb-XACLcB/s1600/IMG_8167.jpg")

	.story Every week is a challenge. Audrey has some difficulty drinking her milk and makes her drink very small amount in each feed. We ended up feeding her almost every hour. We thought of many causes such as the teat flow rate, reflux or blocked nose. We fed her with probiotics to tackle the reflux issue. We used saline drop to soften her mucous and dig them out. After these are done, her feeding got better. It was a relieved to be able to see her feed well. She is satisfied and we are happy too! 

	.story Much as I do not want her to grow up too fast, I am looking forward to the time she can feed on solids and I will be able to prepare many delicious purees for her.

	.fleuron



	h3 18 February, Saturday (Week 3) - Making Sounds and Flipping Tummies
	.subline Head circumference: 35 cm. Body Length: 48 cm.
	
	.story #[.ellis] It is the third week of my confinement. I am counting down to the end of it. There are simply too many 'rules' aka old wives' tales that are too hard to follow. For example, one of them is that the mother cannot the touch water. So how am I going to wash the bottles? And for the 'cannot shower' part, I totally ignored because my rash came back, big time. I need to keep clean, so I have to shower. If any of the tales came true, I shall update during my old age. Haha. 

	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-6XCecFVT-N0/WLg3i9rxR5I/AAAAAAABdcw/MRPr9xdDYcQ9c9bwk44Yn8UAPSWub3EMgCLcB/s800/20170213_114419.jpg")
		img(src="https://1.bp.blogspot.com/-67sUBlWt6Og/WLg3jHVRasI/AAAAAAABdc0/7ARX8VJeVpkKVFqm0bXJMwSdNOv1r28PwCLcB/s800/20170213_174318.jpg")

	.story Other than confinement, the time spent with Audrey is happiness... In the day. LOL. Because I am still getting into the routine of disrupted sleep at night. It is hard. Luckily, Elvin did the night shift even though he had to work the following day. This is no joke. It is tired until~ but I am sure we will get used to it in no time.

	.photoset(data-layout="21")
		img(src="https://3.bp.blogspot.com/-z9ihiUO556s/WJwNULv-ijI/AAAAAAABdUY/kZzNDrFxqAImZTpoKtYEGrDnLowXFBZaQCLcB/s800/IMG_8052.jpg")
		img(src="https://4.bp.blogspot.com/-5o4cSm8DcHY/WJb-igOY5BI/AAAAAAABdSY/8O2-FepuZ0ISeuGe1_NRWqGrpYzu_cEjACLcB/s800/IMG_8017.jpg")

	.story This week, Audrey made her first sound. She is usually very active in the morning. When Granny and Mummy keep talking and singing to her all day and all night, she is motivated to warm up her vocal cords. I recorded it in audio and video. This is happiness. She sounded so cute! That is a biased opinion but she is cute to begin with! Haha. 

	.videoset(data="KeMNb1DHEEY,DlNtX5m3UVA,OOXcEvgMA8c")

	.story #[.elvin] Audrey is three weeks old and I think her body is a little longer, her head is slightly bigger and she feels heavier in my arms. Fats have sprouted around her cheeks, elbows, and knees. I suspect they come from her constant gorging on milk. I think she looks a tad different from last week. Kids, they grow so fast. I'm back at work now so I can only see her when I get home. I heard she wants to be carried all day now. If she is left alone, she will make sounds to attract your attention. Ignore her long enough and it becomes a wail.

	.story I was at work when Ellis sent me audio clips of the sound Audrey is making. We think she is practicing her vocal cords as she makes many short grunts, shrieks, yelps and sighs. She is more aware of her surroundings now as she will look around, listen to our voice and try to respond. Occasionally, she will give us her golden smile. The smile that sets a thousand other faces smiling. 
	
	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-ZVl_mMTGeG4/WLg3h3hgFCI/AAAAAAABdco/LOpTw0VHOewIWxkExcdK-bQiLNT9dlsfACLcB/s800/20170202_161332.jpg")
		img(src="https://2.bp.blogspot.com/-EJ44vWQwwXE/WLg3h9QyYUI/AAAAAAABdck/KOvYw72b0RU2OC_INByaaJmFraHaLysdwCLcB/s800/20170209_075839.jpg")

	.story At night, we take turns to wake up to make milk for her. Sometimes I am so sleepy, I don't hear her crying for food. That poor little girl. She is so tired and yet her hunger wakes her into a wail. When I am making the milk, my sleepy eyes can hardly see the markings on the milk bottle as I try to pour 90 ml of water. Add three scoops of milk powder and milk is ready for Audrey. Thank god for formula milk.

	.story My favourite activity with Audrey this week is "Flipping Tummies". It is where I flip her on her tummy to rest on mine. I can feel her tiny heart beating rapidly against my chest. She squirms around as she tries to make sense of this new experience. After a while, she falls asleep. Other times, I flip her on a tummy and give her a back massage. Lying on her back the whole time mustn't be fun so this should give her some relief. Once she fell asleep during the massage.
	.photoset(data-layout="3")
		img(src="https://3.bp.blogspot.com/-RxPxgBemZwQ/WLg3jFTNozI/AAAAAAABdc4/hScNMB6PqNQ1JUi1OvNSjW3MiJlVC2AhwCLcB/s500/20170219_121438.jpg")
		img(src="https://3.bp.blogspot.com/-cC6bCnoAhRQ/WLg3jmwdNDI/AAAAAAABdc8/ZJSaUHG2Q28oDFCahRrpcnFWrX1fhhGIgCLcB/s500/20170220_225431.jpg")
		img(src="https://1.bp.blogspot.com/-GyP9FzuMVRw/WLg3iGE_39I/AAAAAAABdcs/kxTJM2pssUQRaI8I-oze95Prtz7oZ08pQCLcB/s500/20170209_170648.jpg")
	

	.fleuron



	h3 25 February, Sunday (Week 4) - Full Month
	.subline Head circumference: 35.5 cm. Body Length: 53 cm.

	.story #[.ellis] Today is the end of my 4 weeks of confinement. FINALLY! Although I did not adhere to most of the taboos, I still feel happy and I celebrated it with a can of cold sparkling ribena!! Whee... Happiness is a can of ribena. Lol. 
	
	.story We are also celebrating Audrey's full month today. Planning a full month celebration is quite challenging. You have got to get the orders done and things prepared within the month after birth. We decided to have two mini parties over the weekend, one at Granny's place and one at Grandma's place. Both Papa and Mummy are excited as it is the first ever party organised for our darling Audrey!

	.story #[.elvin] Audrey is one month old. It was a happy and busy weekend for the whole family. Audrey makes many facial expressions as I play with her. Ellis tried to take a photo of me and her and she burst out crying. Maybe my beard bristles felt uncomfortable. She enjoyed being hugged by Mommy more. Even I would. The bosoms are bigger and softer there.


	.photoset(data-layout="12321")
		//img(src="https://4.bp.blogspot.com/-0MWLsDCTjO8/WMTQphVv9II/AAAAAAABdiI/zUyKU8JEZw4I2fwymw09iwUi6r9pfOsqQCLcB/s1600/IMG_8459.jpg")
		img(src="https://3.bp.blogspot.com/-TtF4P3oUbIU/WMTQqmfjFCI/AAAAAAABdiU/fY_TA6yAgcQYH-mhZH8EuMn2Jn7VlmhXACLcB/s1600/IMG_8462.jpg")

		img._(src="https://4.bp.blogspot.com/-j-W65xdS5cs/WMSyiL5BwOI/AAAAAAABdfw/KOqyUP4pyKAEm6Q9oAGyeFvd1Rhg2_EDQCLcB/s800/IMG_8597.jpg")
		img(src="https://4.bp.blogspot.com/-L2q_PDflMrY/WMSysh8NohI/AAAAAAABdf4/3T4eBQLuBEQ-9sKU3U9o_y3tCOpSgnX4QCLcB/s800/IMG_8606.jpg")

		img(src="https://4.bp.blogspot.com/-b1QpjG3Kyug/WMSyY3mnojI/AAAAAAABdfs/02u0GgFvDasUQJDoo_mR3XMdM5YANOhUwCLcB/s500/IMG_8532.jpg")
		img(src="https://1.bp.blogspot.com/-EJw01k4vIqk/WMSyYoIPwSI/AAAAAAABdfo/47d0Npo1q7kZYn7AK3OnN5qn7bQ6gJWVwCLcB/s500/IMG_8534.jpg")
		img(src="https://4.bp.blogspot.com/-dTIAaXcTZtk/WMSylhZod8I/AAAAAAABdf0/q03WaPKDrAAzbM1IvLCQbIinOfMqeP7ywCLcB/s500/IMG_8536.jpg")


		img(src="https://2.bp.blogspot.com/-6-oIhKB6mx4/WMSyybQcE1I/AAAAAAABdgA/i-oPbCF4NtcRCgbwK79hEuT5pcz5bPGMACLcB/s800/IMG_8628.jpg")
		img(src="https://4.bp.blogspot.com/-BbnTGUqDuQ4/WMSy4kwUZYI/AAAAAAABdgI/r6UAQrYe7eo6k-W2_umAkXj2liGyM_6HACLcB/s800/IMG_8639.jpg")

	.story #[.ellis] We catered some dim sum and Granny cooked delicious chicken mee sua for the guests. Audrey donned in her cute and a little oversized dress that mummy bought online. It was a last minute purchase and I was glad it came on time for Audrey's party!

	.story Check out the little decorations we have got and the pretty cake from Prima Deli! I finally fulfilled my wish of getting an ombre cake! Today is also the birthday of Audrey's granny and we got a hazelnut chocolate cake to celebrate together. Double happiness occasion! I must say the cakes from Prima Deli are never a disappointment. Some guests thought the cakes were custom-made ones from the many expensive online bakeries.


	.photoset(data-layout="32")
		img(src="https://2.bp.blogspot.com/-1VBUnH_m24k/WMTQoCmN32I/AAAAAAABdiE/wKIlWhwquMA6KADfgkXUln3j0gOBZ2YiwCLcB/s500/IMG_8368.jpg")
		img(src="https://1.bp.blogspot.com/-tRkFts_b_aI/WMTQoNhzhsI/AAAAAAABdiA/jAZNLsEPkLAO9x8trju4rI2lfZtzlEOUQCLcB/s500/IMG_8411.jpg")
		img(src="https://2.bp.blogspot.com/-oyY-kosHokU/WMTcQ1MMJaI/AAAAAAABdis/O4kRDvFwLFQP_gSZKB_y7nAN9spFbt1dgCLcB/s500/IMG_8375.jpg")
		//img(src="https://4.bp.blogspot.com/-GwuLT_Nm4Yc/WMTQoM0YZwI/AAAAAAABdh8/1EBYPB_2DA8aC7HVQIEk3vJXnDkPRtCEACLcB/s500/IMG_8413.jpg")
		img(src="https://2.bp.blogspot.com/-MGIvfBkyE1Q/WMTcSdKbm-I/AAAAAAABdi0/n6JQZLsuQmwx9gAzQFGH8u9dVA0sTp3kwCLcB/s800/IMG_8382.jpg")
		img(src="https://4.bp.blogspot.com/-vF0gRZaZJNE/WMTcRA4SFrI/AAAAAAABdiw/bEvhFWyj-8EoiYMh6w-Rb4Gif3_sZk_HACLcB/s800/IMG_8376.jpg")
	
	.story #[.elvin] Mommy prepared for this day one week before. She got the shiny purple tinsel, cakes, tim sum, nonya kuehs and gifts. The day before, we set up the dining room, putting upthe "I am One" sign and tinsel. The Choz gift boxes and food were delivered in the afternoon. Inside the boxes were cute little cakes and Audrey's name card. 

	.photoset(data-layout="321")
		img(src="https://4.bp.blogspot.com/-8vWRPSlkpD8/WMTcQw3tFUI/AAAAAAABdio/3YCTTBfb5w4S4gyK1rp7c69I4i3NrMkdACLcB/s500/IMG_8381.jpg")
		img(src="https://1.bp.blogspot.com/-7obrzeyUmkA/WMTQqC8x1pI/AAAAAAABdiQ/hXMAidB7V30l3swfgonV6dXnx2lRtcAxgCLcB/s500/IMG_8418.jpg")
		img(src="https://4.bp.blogspot.com/-pNlB0moLTIQ/WMTQqErkXBI/AAAAAAABdiM/u4WBcrLBPRkEqRA5_djftTUrHN_AChptQCLcB/s500/IMG_8421.jpg")

		img(src="https://2.bp.blogspot.com/-wXHVIbz7F1M/WMSyv-F0bcI/AAAAAAABdf8/u5wHRMKPFdEaKhFsKFLohmuDAg4kjMcYwCLcB/s800/IMG_8541.jpg")
		img(src="https://2.bp.blogspot.com/-2OwCunq9CuY/WMTCECzdspI/AAAAAAABdho/5-9GQ-uzqV0EZhl8_BLK1jkmnOF3wABFQCLcB/s800/IMG_8545.jpg")

		img(src="https://1.bp.blogspot.com/-sZaA-I8bGzE/WMSy2HzY8CI/AAAAAAABdgE/Ffhhwmh4tF4UW_GyIlYLQSf-A9WKFj-aACLcB/s1600/P1070529.jpg")

	.story #[.elvin] The visitors began arriving in the afternoon. Xiao yi was the first and fed hungry Audrey. Baby Reuben's family was next and the house was getting crowded. Cousin Natalie and Olivia reached in the late afternoon. They brought a gift for Audrey and wrote their well-wishes on it. There were art and craft activities for the kids. Ellis bought keychain that can be painted on and foil art for scratching. Cousin Amelia, Sarah, and Hannah came over in the evening and they brought a Peppa Pig. Audrey will play with it when she is older.

	.photoset(data-layout="3123232")
		img(src="https://3.bp.blogspot.com/-d4PfwuwakFA/WMTAZtwBLpI/AAAAAAABdhI/sgUz1NXEslInHMevx8VidqQlHnhl2zSugCLcB/s500/P1070482.jpg")
		img(src="https://4.bp.blogspot.com/-Jd3WbJycNQM/WMTAZ-zyFXI/AAAAAAABdhQ/IvorfZHGZzI1ZckTLbbhs9oNc7Oi4cyHACLcB/s500/P1070510.jpg")
		img(src="https://1.bp.blogspot.com/-t_V_4VfdqKY/WMTAbOOAyiI/AAAAAAABdhU/FW1t64H9YmsIaP98HCw5Gka9_yswPPvpgCLcB/s500/P1070517.jpg")
		img._(src="https://1.bp.blogspot.com/--HAllP0C-g0/WMTAZxDV6vI/AAAAAAABdhM/bY3kf9OLJbcJ5HuLRqp5aT8quG8WYkbsQCLcB/s500/P1070501.jpg")

	.story #[.elvin] It is time for cake cutting! It's grandmother's birthday today too. We have two cakes of different flavours. One is yam and the other is hazelnut chocolate. Everyone gathered around the table to sing a birthday song for Audrey and Grandmother.
	.photoset(data-layout="212")
		img(src="https://2.bp.blogspot.com/-wjfoCdt7UwA/WMTCEE4FvSI/AAAAAAABdhk/U1NU_7_wZFYRorB18YKgYJuqDZN8SlXVQCLcB/s800/P1070469.jpg")
		img(src="https://1.bp.blogspot.com/-UWs4sFExI_8/WMTCD3KxmNI/AAAAAAABdhg/aspu8Gv80vkpPKL4nEL_P_gKUGu_lmRBACLcB/s800/P1070470.jpg")
		img(src="https://3.bp.blogspot.com/-0tMWMEHGMlw/WMSy-PRoAiI/AAAAAAABdgU/lvljIUDc8pY9S3cc3jzB1jkkdkrF60jsgCLcB/s1600/P1070535.jpg")
		img(src="https://2.bp.blogspot.com/-T_MtkaHp724/WMSy93G4AyI/AAAAAAABdgQ/7uSFJhUAi64eimEePOXDrA49y4ET6IkPgCLcB/s800/P1070547.jpg")
		img(src="https://3.bp.blogspot.com/-Ark3aLnlGnI/WMSy_ZshIjI/AAAAAAABdgY/aLQqMfFBs_0LcyLsv_dJ8LipDOpW5AT5ACLcB/s800/P1070565.jpg")
		//img(src="https://3.bp.blogspot.com/-u5lUtcSKmw0/WMSzEMo12UI/AAAAAAABdgc/Wbf15ZzsaF0hQv1cDics4KubeJ1UZnGqgCLcB/s500/P1070586.jpg")
	.story #[.ellis] Audrey slept throughout the cake-cutting session and she woke up the moment the guests left. This is hilarious! Papa said that he could not even ask Audrey how her party went. Luckily, we captured all these happy memories in photos and videos so that Audrey could see when she grows up. Happy First Month, Audrey! Papa and Mummy love you. May you grow up healthy and happy always! 

	.video(data="sSqES3uPHO8")


	.fleuron

	h3 5 March, Sunday (Week 5) - Seeing
	.subline Head circumference: 36 cm. Body Length: 53 cm.
	
	.video(data="AteIx8ozwic")

	.fleuron

	h3 12 March, Sunday (Week 6) - Life Casting Design
	.subline Head circumference: 36 cm. Body Length: 53 cm.
	.story #[.elvin] It has been so busy since Audrey came that we completely forgot to do the Life Casting background. It only popped into my mind this week. After brainstorming possible design idea throughout the week, Ellis said there is one photo that she found in lightroom that we could use. It was a photo that I took a few weeks back. It is a missed shot meaning I wanted to capture Audrey's face but she turned away. Ellis liked it because it will look like she is gently gazing at her hands when it is added to the frame. I set about working on the photo, applying the brush and masking to blend seamlessly with the pink background. Then Ellis added her name in purple and I added the words on what we hope she will be when she grows up - having wisdom, compassion, and courage. These values resonate with us on how one should live. With the design ready, Ellis dispatched it for creation. I can't wait to see the final product.
	.photoset(data-layout="2")
		img._(src="https://2.bp.blogspot.com/-f2Zw3AnOMBs/WMSyT8FFBhI/AAAAAAABdfk/ydQ2A8x5uFEqD1NrYt7g4aYvvIYiqBYPwCLcB/s800/IMG_8111.jpg")
		img(src="https://3.bp.blogspot.com/-kXs9gxygkfo/WMS6Xl0DyQI/AAAAAAABdg4/yvFolT_F-cYakJOl-gjBOgjmYu-_Ef0TgCLcB/s800/LifeCast_final.jpg")
	.story Audrey is storing up lots of fats this week. Her cheeks are chubby and her belly sticks out. Her shirt is straining under the pressure and the buttons are all that is keeping the potential energy in place. I suspect just one more bottle of milk will cause the thread to give way and the buttons to shoot out. Now, that has to be some superhero's ability.
	.photoset(data-layout="4")
		img(src="https://3.bp.blogspot.com/-xosE672FfDQ/WM0Doz934sI/AAAAAAABdjc/WeVrf8inAm4txri3-8ONFmN_9OV-TV9WACLcB/s400/20170308_103845.jpg")
		img(src="https://3.bp.blogspot.com/-21WWf7SBtbs/WM0DpF1y__I/AAAAAAABdjg/Fz7fdggLeI0XmTzVIPbgOFW4OhZ5-DqvgCLcB/s400/20170309_085051.jpg")
		img(src="https://1.bp.blogspot.com/-GIepKZqkQZ4/WM0DtqN7H-I/AAAAAAABdjo/tuVRpb4MjyccKEZIFXPNI_bVbJ4_zmI5QCLcB/s400/20170312_095854.jpg")
		img(src="https://1.bp.blogspot.com/-qZ6-m2lwFdc/WM0DpCzBWcI/AAAAAAABdjk/TlrA7MrKnCcynUiDeu2D5500Iz-w1lGtgCLcB/s400/20170303_121157.jpg")

	.fleuron
	h3 19 March, Sunday (Week 7) - Vaccination and First Trip to Park
	.subline Head circumference: 37 cm. Body Length: 54 cm. Weight: 4.5 kg.
	.story #[.elvin] Audrey had her Hep. B vaccination on Thursday morning and she took it like a boss. While waiting for our turn, we saw children coming out of the room with tears streaming down their cheeks and wailing away. So when the needle went into her left thigh, I was mentally prepared for the worst. Her face scrunched up and turned bright red. She gave a crying shout as if in shock, pain, and disbelief. Ellis rested her on her shoulder and comforted her. Within seconds, Audrey stopped crying and fell asleep. We stepped out of the room like champions, "Look, no tears!"

	.story Ellis and I had a guess on her weight before the doctor's consultation. Whoever gets the closest guess gets a treat from the other. After a few rounds of changing our guess, we locked down our numbers. Elvin: 4.2 kg, Ellis: 3.8 kg. Audrey's actual weight was 4.5 kg, jumping from 10th percentile to 50th percentile. This is a good weight gain. And I am in for a treat!
	.videoset(data="RrHj4qZEDnE,mNh0dVW_JNs")
	.photoset(data-layout="32")
		img(src="https://4.bp.blogspot.com/-nsq-b2RsPkE/WM0DuSDnxII/AAAAAAABdjs/_oONn4tbD2Aj3-z19eBpJ6oN0i48SqAXgCLcB/s500/20170313_080321.jpg")
		img(src="https://3.bp.blogspot.com/-PiBdO7E91GQ/WM0Dws34DJI/AAAAAAABdj8/CtJDg43mUSMBEfX8A0T5V_fmOBAqXR3KQCLcB/s500/20170314_151803.jpg")
		img(src="https://2.bp.blogspot.com/-mxNCRxFxVHw/WM0NQwZS13I/AAAAAAABdkc/fkyLPnomQocIIankY_t1rp86rTPB8O9mgCLcB/s500/20170317_095719.jpg")

		img(src="https://2.bp.blogspot.com/-SA6reCkZtZ8/WM0NR5afisI/AAAAAAABdkk/80SXX4k46ssnVjzeViiH67eiY03S3tqKACLcB/s800/20170317_200805.jpg")
		img(src="https://2.bp.blogspot.com/-AguKdf26OpA/WOn-vucdBsI/AAAAAAABd0Q/4D8zRp0CKosb0BkKEq-jSScJrbCoSIVrgCLcB/s800/20170319_105939.jpg")
		//img(src="https://3.bp.blogspot.com/-_nXKm5Et0NU/WOn-vDwClZI/AAAAAAABd0M/CoRSbfA5fJsA5aIroc8dPMYnoRTqNpuVQCLcB/s1600/20170319_105925.jpg")

		//img(src="https://3.bp.blogspot.com/-g81QU1UHE48/WM0DuZrStwI/AAAAAAABdjw/OrwR9os2ZUUe-TNy2O47OLM1mz-kv-GYgCLcB/s1600/20170313_081224.jpg")
		//img(src="https://1.bp.blogspot.com/-2ETQNI1u-ec/WM0Dv9LfKiI/AAAAAAABdj0/ciSLEh4EQGg5KqNOGOkB08pJO4tJa9VtgCLcB/s1600/20170313_091259.jpg")
		//img(src="https://4.bp.blogspot.com/-ZuP8g23l9nU/WM0NRBD9wCI/AAAAAAABdkg/BDOMDge_MJcTJ4IMeiiVKyqeQXErOWUFgCLcB/s1600/20170317_085451.jpg")
		//img(src="https://1.bp.blogspot.com/-Oo6uqL61ewQ/WM0DwhlbU1I/AAAAAAABdj4/x9KzdG_hb5gceBhUZkyg4MrH4xFjGSjkQCLcB/s1600/20170314_151800.jpg")
		//img(src="https://4.bp.blogspot.com/-rXioSffLg0I/WM0NQEx1jeI/AAAAAAABdkU/exRwrF2u8sEimzB220ERkUA-GqpoFkkzwCLcB/s1600/20170315_083106.jpg")
		//img(src="https://3.bp.blogspot.com/-FkWLPeJCox4/WM0NQOX2BEI/AAAAAAABdkQ/OH4edqPxLBkYybuma3vA6UuEOkAAhaIMgCLcB/s1600/20170315_083144.jpg")
		//img(src="https://4.bp.blogspot.com/-5DP3o8pADoo/WM0NQP40XBI/AAAAAAABdkM/II63jsesJ8IEM7eta3UX_HS_iYGXjTWiwCLcB/s1600/20170316_121329.jpg")
		//img(src="https://4.bp.blogspot.com/-Cicpvy64zyc/WM0NQ1r4D2I/AAAAAAABdkY/utBNCkiFCMgk3-Nb-81skmGJ3bvvEHWlQCLcB/s1600/20170317_085459.jpg")

	.photoset(data-layout="31")
		//img(src="https://4.bp.blogspot.com/-y-O-7AGpSKM/WOn-szQq7BI/AAAAAAABdz0/wr1rdwmGc-g8itcSlg1T6_aBMV9l8RuogCLcB/s1600/20170319_091020.jpg")
		img(src="https://4.bp.blogspot.com/-jQVqEa7vjW8/WOn-fZylEmI/AAAAAAABdzk/abADp5_x-msrA2AAkybIesXfX-19AfzRACLcB/s500/20170323_173947.jpg")
		img(src="https://4.bp.blogspot.com/-9OSL0BV55zo/WOn-fK-nRXI/AAAAAAABdzc/7DSAitEMNiQ4RofdAJBJrNNmz3lb3YVHQCLcB/s500/20170323_173956.jpg")
		img(src="https://1.bp.blogspot.com/-Gwgzvpn0yoI/WOn-gQdmc4I/AAAAAAABdzs/6z1XCOkqfDwRINm1H2ZcCd6DnfeQQUVjACLcB/s500/20170323_173958.jpg")

		img(src="https://1.bp.blogspot.com/-jxSrmyeJ_28/WOn-gGJh0OI/AAAAAAABdzo/EvsK_X5V32c3I_G6M6VtDZAzZnbHK2yBQCLcB/s1600/20170325_134252.jpg")
	.story We took Audrey to Pasir Ris Park on Sunday morning. The night before Ellis said she wants to go to the park. When I asked her at eight in the morning if we are going to the park, she sleepily replied no. I wasn't letting it slide this time and nagged her out of the bed. We changed ourselves and Audrey into covered gears and embarked on our first journey to Pasir Ris park. Audrey sat quietly in her pram and watched the sky and the trees rolled by. At the park, we spotted different types of birds. There was an owl, bee-eaters, common iora, collared kingfisher and plenty of black-naped orioles. The magpie robins were singing melodiously but we could not find them. It was not long before Audrey was hungry and she demanded to be fed. Ellis, always so prepared, has a bottle of milk ready for her. After feeding, we took turns to take photos with our baby girl. But all she wants was to sleep. That was fine with us. While she slept soundly in her pram, we took a relaxing stroll back home.

	.photoset(data-layout="A")
		img(src="https://1.bp.blogspot.com/-CRtyK83ZbYk/WOn-uvzebvI/AAAAAAABd0I/cGT4625Yh60gE5HeVL-2B2v8MrfF-Wy9ACLcB/s800/20170319_094402.jpg")
		img(src="https://3.bp.blogspot.com/-1vwZs-VDVf8/WOn-s6fOIfI/AAAAAAABdz4/gDQnGgdlGZg8GMU-ZWsuM3IfGXpMFynggCLcB/s800/20170319_090918.jpg")
		img(src="https://3.bp.blogspot.com/-tglfV8bmHu0/WOn-sVx6xGI/AAAAAAABdzw/b3iJBVH8Bro_KX8OZYdMefqVRT4-qojtQCLcB/s800/20170319_090932.jpg")
		img(src="https://2.bp.blogspot.com/-JOvyPVl8yLE/WOn-uGxzDoI/AAAAAAABd0A/yGPD6nWoXTcWJyA8JvQEuONoSE2YFFbLgCLcB/s800/20170319_091030.jpg")
		//img(src="https://4.bp.blogspot.com/-9nXgOGveZ8o/WOn-tRj2ycI/AAAAAAABdz8/e30_eM5NjrkDhhTrzm27yS7ZiJs__YZHQCLcB/s1600/20170319_091030%25280%2529.jpg")
		//img(src="https://4.bp.blogspot.com/-NvMwPr5k7Yo/WOn-ucfe5YI/AAAAAAABd0E/rrry5Ggq1sQDITuAwSDEK_W2qK490SvigCLcB/s1600/20170319_091033.jpg")


	.fleuron

	h3 26 March, Sunday (Week 8) - Blocked Nose
	.subline Head Circumference: 37.5 cm. Body Length: 55 cm. Weight: 4.7 kg.
	.story #[.elvin] Blocked nose is a pain for babies as they do not like breathing through their mouth. When it comes to feeding, having to suckle the milk and then breathe through the mouth is tiring for them. And there is a high chance for choking on the milk. This was the case with Audrey when her nose was blocked this week. She has difficulty sleeping through the night and that means we have difficulty sleeping well too. She snorted, cough and choked in her sleep. On Saturday morning, we took Audrey to the pediatrician for some ways to ease her discomfort. The solution was a salty one. A bottle of compressed salt water that shoots a burst of the saline solution up her nose. That flushes the dried snot and mucus down her throat. This is followed by a drop of medication to ease any nasal inflammation. The doctor made it looks all too easy in his demonstration. This was not the case when I tried back at home. Audrey would not keep her head still. If someone was trying to stuff things up my nose, I will flinch too. When I finally suceeded, her face turned bright red and wailed at the loudest I have ever heard her. The kind of sound like she suffered from a gross misdeed.
	.videoset(data="RKg19as5QJw,fHneW--jGLM,wz5e7LGAieY")

	.story The best times with Audrey has to be the morning. She rises when the sky becomes bright and the chirpings of the birds. She wants her breakfast served in a bottle - 60 ml of milk, no more and no less. When her tummy is satisfied, she is all smiles and wants to play now. 

	.videoset(data="_tqsRwv0tA4,1vFnM3ceNCA,HLzKqLiNQLE")
	.story On Sunday, we had our inaugural family theme wear. Today's theme is dark blue and polka dots. Audrey is wearing our favourite blue romper and I am wearing my favourite blue boxers. After much positioning, we got everyone into the wefie shot. I thought we looked really good. 
	.photoset(data-layout="2")
		img._(src="https://1.bp.blogspot.com/-WCeUb-c9QVQ/WNqS3L3UVAI/AAAAAAABdwQ/4I4v_Nu3DosyuXOWlPdI0E3KjdWjhh9_ACLcB/s800/20170326_115946.jpg")
		img(src="https://2.bp.blogspot.com/-xnZElftnyx4/WNqS77PZyZI/AAAAAAABdwU/NFXBQ1vGdkYegGhXcZl-pRy_FPwF2UOzACLcB/s800/20170326_120031.jpg")
		//img(src="https://1.bp.blogspot.com/-Se20pH_zqlQ/WNqS2yK__YI/AAAAAAABdwM/9w4LnmyW1sQJGjBx9sWoBVdggTL_7qN8QCLcB/s800/20170326_115953_001.jpg")

	.story Here, I am reading "The Cat in a Hat" in her. She is able to listen more attentively now. In the past, she will become agitated after a while. Mommy also said she listened to the entire story of "The Foxwood Robbery" when she read to her. As for me, Audrey fell asleep before I got to the end of the book.
	.video(data="W7E9aWD6Wkk")


	.fleuron

	h3 2 April, Sunday (Week 9) - Visiting Colleagues and Cafe Outing
	.subline Head Circumference: 38 cm. Body Length: 55 cm.
	.story #[.ellis] Audrey has just turned two months old 3 days ago. Time flies, soon I will have to return to work and leave Audrey with Granny. I wish time can tick off slowly, as slow as possible, please!!

	.story Today is an exciting day. Papa is on half day off and we are bringing Audrey to visit Mommy's office. Grandpa gave us a lift to Mommy's office. Audrey was welcomed with many enthusiastic aunties! 
	
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-7RpKAICWQiQ/WPA9IrN3y5I/AAAAAAABd0w/rye_GulN6xo09m-5kg_g7EPF7AfOM8HDQCLcB/s1600/20170331_140156.jpg")
		img(src="https://1.bp.blogspot.com/-ZyMv3DuQqSo/WPA9Hv_5IgI/AAAAAAABd0s/xmE81_gw1VAD6J8VImYAFdHYxjPs1iLaACLcB/s1600/20170331_140633%25280%2529.jpg")

	.story Judging from the many posts from Papa, you can tell how busy Mommy is for the past months. However, I have contributed to most of the videos on you! Good job, Mommy! Papa is the one always NATO - No Action, Talk Only. 

	.story Many Mommy's friends came to visit Audrey over the past weeks. It was always a merry afternoon of chatterings and laughters. Audrey had her fair share of fun meeting them. On top of that, Audrey received many blessings and presents too. The biggest present was the diaper cake, comprised of a package of diapers, a Carebear soft toy, swaddle, towel, rompers, napkins, socks and shoes, made into a 3 tiered tower like a cake! More importantly, it was in pink! Mommy's favourite colour. Haha. I bet Audrey likes it too! 


	.photoset(data-layout="2323232")
		img(src="https://1.bp.blogspot.com/-9LOlbMhMMkM/WPBHf0GIu7I/AAAAAAABd2E/5g-1PLQ1kDQHyuDmwGTuy6F9Grpt5j2CQCLcB/s1600/20170223_164424.jpg")
		img(src="https://3.bp.blogspot.com/-Har19CELG4o/WPBHf-SxZqI/AAAAAAABd2A/lUiHrXUWw-EdXmXEN_GB5-zywMnj5bXLACLcB/s1600/20170304_151948.jpg")
		img(src="https://3.bp.blogspot.com/-RtoSAeuNi0w/WPBHf-0XN8I/AAAAAAABd18/CCnGdwP4yiMccRIsS_ZpSru1XrpJKufGACLcB/s1600/20170304_164946.jpg")
		img(src="https://2.bp.blogspot.com/-JqbDdf7joEI/WPBHgWXuOnI/AAAAAAABd2M/Q1MQ5wlXL647dWAdXo4Xfehzvv6B8cxkQCLcB/s1600/IMG-20170312-WA0001.jpg")
		img(src="https://4.bp.blogspot.com/-hifQwKITRoM/WPBHgrnmOcI/AAAAAAABd2I/pCyOG3gQYW4flgb3UgrDjHnDPpKzVm1MACLcB/s1600/IMG-20170312-WA0007.jpg")
		img(src="https://1.bp.blogspot.com/-oGHw6rATOQA/WPBHgpQmomI/AAAAAAABd2Q/LWGzWKTkUVoi7GoRhoAC0TXKePlivxRQwCLcB/s1600/IMG-20170325-WA0008.jpg")
		img(src="https://4.bp.blogspot.com/-y6ku-z9bU4o/WPBHg6hhLNI/AAAAAAABd2U/YdUSXWupjZU7OeEQf_XnHumkXeYELBN6QCLcB/s1600/IMG-20170325-WA0009.jpg")
		img(src="https://3.bp.blogspot.com/-EEkScCQPQas/WPBHhGudK1I/AAAAAAABd2Y/7a6PE28M6G8WjQ595wL4SSpEqYCyG6uGgCLcB/s1600/IMG-20170325-WA0010.jpg")
		img(src="https://2.bp.blogspot.com/-SZVNpcb0leU/WPBHheMGOMI/AAAAAAABd2c/PtuI7mF7K7MNjyJiU5QxOxkF7vwOZUJzACLcB/s1600/IMG-20170331-WA0006.jpg")
		img(src="https://3.bp.blogspot.com/-s-CGdU84QFg/WPBHhdn4cOI/AAAAAAABd2g/_vkzeTL_q70FFwO0xg3OKsHJifER6XIpACLcB/s1600/IMG-20170401-WA0011.jpg")

	.story Audrey is growing up really fast. She reacts to sounds and conversation between people. She is attracted to more toys with her maturing vision. Nowadays, she is so chatty that Mommy is running out of topics to chat with her with. I can't wait for her to be able to converse with me so we can share every bits of our lives with each other!


	.story #[.elvin] Audrey's eyes are developing. She sees farther and with more clarity. She gazes at her surroundings as though she is seeing them the first time. When I walk past her, her iris tracks me. Looking at her closely, she has long eyelashes like me. Ellis says it's my fault she doesn't have a double eyelids. Guess what, double eyelids are overrated. You can get them later. But long natural eyelashes, they are gold. Right now, Audrey has mommy's nose and chin. Luckily, she doesn't get my nose because mine are really big. Her legs feel longer now and the kicks are strong.

	.videoset(data="m0uI_tRu-jw,64huGeswcqA,UK3Ei2T18VM,0_xK85Srm0g")

	.story In the programming world, there is a thing known as undefined behaviour. It means that the output of your program or its function is uncertain. For example, a program has a function call isGirl() that will either return a true or false depending on whether it is girl. If that function steps into "Undefined Behaviour" territory, it can be true this minute and false the next time you run it. Imagine how awkward that will be if it happens in real life.
	.story Audrey, at two month old, is like a program with many undefined behaviours. What works today might not work tomorrow. She doesn't like to burp. She likes to carried to sleep. Sleeping on her tummy allows her to sleep more peacefully. She drinks 90 ml of milk on the early morning feed. I only found that out this morning. She cried for more when she finished her usual 60 ml. I wonder how the rules will change next week.

	.photoset(data-layout="3")
		img(src="https://1.bp.blogspot.com/-AW-ttGQIh5E/WOhwQ15fo5I/AAAAAAABdx4/bJdxd-OUPBEIdaQgaw5Kc2RwyX_-KIKLgCLcB/s500/20170402_103930.jpg")
		img(src="https://3.bp.blogspot.com/-nX3RTYnDNsM/WOhwQ2eTh1I/AAAAAAABdx0/fwsr8ttMa8QhPOMDKL8tMrer60Li0GPgwCLcB/s500/20170402_103939.jpg")
		img(src="https://1.bp.blogspot.com/-E67zqjeL0tg/WOhwSPtFEJI/AAAAAAABdyE/fmm_kGYnX30bLhHr5m7YuQ3n-W_qksLFgCLcB/s500/20170402_104236.jpg")
		//img(src="https://4.bp.blogspot.com/-gXkJevNQhBM/WOhwQ9hbAPI/AAAAAAABdx8/drRLWugxz9UiZlcjuIwK3N5k2LJAk9kagCLcB/s1600/20170402_104130.jpg")

	.story This afternoon, we went to Suntec to collect Audrey's Life Casting portrait. The final product was beautiful. On right hand, her tiny and delicate fingers stretched open to make an okay sign. The outline of the fingernails were visible as were the creases of her palms and feets. The cast is plated in matte gold which accentuated the reliefs and texture.
	.photoset(data-layout="21")
		img(src="https://4.bp.blogspot.com/-5NZ8IQwH97E/WOhwSNe8BgI/AAAAAAABdyI/du2tT1pMVzQ63HItiIyjoNzxD0ozwoxpwCLcB/s1600/20170402_123304.jpg")
		img(src="https://3.bp.blogspot.com/-xiCcL5KajJ8/WOhwTdXU4KI/AAAAAAABdyU/ffaNHX0B-q0jEjwg9KdFSFWSVhVTmItXwCLcB/s1600/20170402_133421.jpg")
		img(src="https://4.bp.blogspot.com/-UPV9vJ6BQ9Y/WPA9BFMHShI/AAAAAAABd0k/TnKvT8kl5RgnkXBOCiWcKhjhSl8bUuMGgCLcB/s1600/20170411_181859.jpg")
	.story I carried Audrey around in the baby carrier. She curled herself into a ball and fell asleep. I was concerned that she will uncomfortable but watching her sleep soundly in her foetal position, my worry was unfounded. Ellis demanded for waffles like a child so we ended up in cafe that served waffles. Our main meal was burgers of course and then waffle. The waffle was topped with raspberries, vanilla ice cream, sliced bananas and peanut butter. We took turns to eat while the other took care of Audrey. We took plenty of photos with her too.
	.video(data="Wywsdikl57w")
	.photoset(data-layout="41")
		img(src="https://4.bp.blogspot.com/-lOjqM_Ly7ow/WOhwT-RsLTI/AAAAAAABdyY/JvJG4c1gXeMvHGJs5zz0lVfpdpDACD_iwCLcB/s400/20170402_140024.jpg")
		img(src="https://1.bp.blogspot.com/-gkcvhkQxIiQ/WOhwWMEZxiI/AAAAAAABdyw/zML_wXemeaMwxg9bhmMD_QoUmdXy_dHEwCLcB/s400/20170402_140915.jpg")
		img(src="https://4.bp.blogspot.com/-QPS9TpHRHSE/WOhwUTCTYmI/AAAAAAABdyg/g1sm2wd7ltkTnxidj7TUSQBIuYqhYk-ogCLcB/s400/20170402_140215.jpg")
		img(src="https://2.bp.blogspot.com/-7kmm7KODCoY/WOhwU9r8TFI/AAAAAAABdyk/ERFSIURrrFYU5sqrr5OqnshtjE07-01rwCLcB/s400/20170402_140220.jpg")
		img(src="https://4.bp.blogspot.com/-hCYJtZ4M7vU/WOhwWLnpV1I/AAAAAAABdy0/Aknf8OGo1iIvUb4JzPO_0wTGjAlptYh3gCLcB/s1600/20170402_144946.jpg")
		//img(src="https://3.bp.blogspot.com/-p6WBRc3AqO0/WOhwR9nIdRI/AAAAAAABdyA/wDihg6vWyi45rbmX_1gs_50Zq1t6sd-6wCLcB/s1600/20170402_123256.jpg")
		//img(src="https://3.bp.blogspot.com/-Bms5_afQqqQ/WOhwSz9hNbI/AAAAAAABdyM/zMA_WlRUHOcjhD2mXfttRfegrnluQP8gwCLcB/s1600/20170402_123531.jpg")
		//img(src="https://4.bp.blogspot.com/-d_F0dK7bIgM/WOhwTTEXDrI/AAAAAAABdyQ/KthFxviaf64q_ZzcclvUup7Tn0DDG9hZACLcB/s1600/20170402_135950.jpg")
		//img(src="https://4.bp.blogspot.com/-5jxOmnRJOj4/WOhwUaDJj6I/AAAAAAABdyc/dpXtMsnYwOwD8IkX88MJykoskWRj-QriwCLcB/s1600/20170402_140034.jpg")
		//img(src="https://3.bp.blogspot.com/-xE6XKph68E8/WOhwVFMoOTI/AAAAAAABdyo/Ku-Z4koU-_Yww_qZG5b8s6GAoAnayIHewCLcB/s1600/20170402_140237.jpg")
		//img(src="https://2.bp.blogspot.com/-bt61fwY3QXI/WOhwVnfS3mI/AAAAAAABdys/h-n0awd6W_UcppKbZOPnnr8bn85fSdpAwCLcB/s1600/20170402_140912.jpg")

	.story After lunch, we brought Audrey to visit her maternal grandparents. They haven't seen her for awhile and are absolutely happy to see her. A baby always bring so much joy to a family. When a baby smiles, you smile along too. They are surrounded by magical pixie dust that you inhale as you come near it and you become intoxicated. Audrey talked in her ooh and aah sounds to anyone who carried her whether or not you want to listen. After a long day, we went home and lie her down on her playmat. She continued talking to her cat, sheep and cows above her in short shouts and long coos. She has so much to tell them about the places she went to and the people she met. When she had let her heart out and there was nothing left to say, she cried for milk and went to bed after a sumptuous meal.
	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-K3GugbuHmjg/WMSzE-rV3VI/AAAAAAABdgg/e1WiVIr5v3U2LBxb38h4R60i77zoiQXxgCLcB/s800/P1070589.jpg")
		img(src="https://1.bp.blogspot.com/-vRebrdWYs1o/WOh4JK8pm3I/AAAAAAABdzM/i-F3oschjykeqlRmSy7DTIJPGWqexLqZACLcB/s800/20170402_161930.jpg")


	.fleuron

	h3 9 April, Sunday (Week 10) - Talking With Cows
	.subline Head Circumference: 38 cm. Body Length: 55.5 cm.
	.story #[.elvin] This week on Talking Point. Audrey Chua chats with White Cow and Yellow Cow on the importance of having chocolate milk in one's diet. It has been far too long since babies around the world get to drink chocolate milk despite its superior taste and top-notch yumminess. Audrey brought up the point that the cows should be able to produce chocolate milk naturally. They just need to eat cocoa beans for their meal instead of just grass. This way, all babies will natually get chocolate formula milk. White Cow disagrees as she finds cocoa beans too bitter and it gives her a sore throat. Yellow Cow is more worried that eating cocoa beans will turn her from yellow to brown. She turned yellow when she ate some soya beans when she was young. As the debate comes to impasse, stay tune to the next episode of Talking Point. 

	.videoset(data="kceFHHZpVDE,mjnr5It-NDQ,FPdakJHm1jQ")

	.photoset(data-layout="123232")
		img(src="https://1.bp.blogspot.com/--d67tUeJx54/WOhwXKPeveI/AAAAAAABdy4/wrAgt36fQT0D2I3AVOaP-RQS34-mkO5kgCLcB/s1600/20170403_080328.jpg")

	.story #[.ellis] I am amazed by the duration that Audrey spent chatting and practising her vocal cords. She wakes up in the morning at 7am for her breakfast milk and proceeded to chat with Papa. Papa loves to talk to her but he can only do so for a short time because he has to go to work. 

	.story After Papa left for work, we will change our venue to the living room where Audrey sits on the rocker and starts chatting with her toy cows. This is precious time for Granny and Mommy to settle their breakfast before she 

	.videoset(data="SZenAWXnNJQ,9LTSquxWCb0")
	
	.fleuron

	h3 16 April, Sunday (Week 11) - Xiao Mi Tu
	.subline Head Circumference: 38 cm. Body Length: 55.5 cm.
	.photoset(data-layout="123232")
		img(src="https://1.bp.blogspot.com/-OcSSF2sdboM/WPBEO9Y4WBI/AAAAAAABd1E/adoWjGohmfkDg-VWcJZpAzrh_v0ofPQbwCLcB/s1600/20170410_094950.jpg")
		img(src="https://1.bp.blogspot.com/-rKnbAaN6MJA/WPBEO148IoI/AAAAAAABd1A/iRXSbghfVuE4PrCYfATb92NI1YfpRtjnQCLcB/s1600/20170410_181624.jpg")
		img(src="https://3.bp.blogspot.com/-uUpdd35W3BI/WPBEOy18ZOI/AAAAAAABd1I/ge1c2a44gCM55hwKO9MVaFhp26N7JfuNACLcB/s1600/20170411_162305.jpg")
		img(src="https://4.bp.blogspot.com/-DUlN4h8mvw4/WPBEP_raw3I/AAAAAAABd1M/qTuRMLE4PiMZHvH9yT_jiFFiK8el5p7igCLcB/s1600/20170412_102028.jpg")
		img(src="https://2.bp.blogspot.com/-1ULG1xIUGDk/WPBEQa8uTxI/AAAAAAABd1U/AA9hE3OYTMYEOnSTba_6dZF6FmBKDUqEwCLcB/s1600/20170412_102452.jpg")
		img(src="https://3.bp.blogspot.com/-hn4Aw9tlg5s/WPBEQWrdscI/AAAAAAABd1Q/BX2Vhyvorc4XFbIrlAzRvM_eSf4StutaACLcB/s1600/20170412_152834.jpg")
		img(src="https://2.bp.blogspot.com/-Okx_a9x1FQ4/WPBEQ0N4UkI/AAAAAAABd1Y/9STBy-OxB7I7CLOzJ1UDEtQfnpkIIBCrQCLcB/s1600/20170412_183204.jpg")
		img(src="https://4.bp.blogspot.com/-T7V9yt0W3cE/WPBERl9XR7I/AAAAAAABd1c/1xBYwkLvRJQp1L_D7Trump3mF3s8_B66wCLcB/s1600/20170412_183211.jpg")
		img(src="https://3.bp.blogspot.com/-yO3AJvzTWBQ/WPBER_kKRXI/AAAAAAABd1g/tLX-fUEyMpcL7uZnDZUIj2wjBJXafY5DwCLcB/s1600/20170413_121126.jpg")
		img(src="https://3.bp.blogspot.com/-E0bmHlBZHCI/WPBESOm8VBI/AAAAAAABd1k/1pFCb9Cu2HMXeX8AQGuFDX_YGPV1ZqqhQCLcB/s1600/20170413_121208.jpg")
		img(src="https://1.bp.blogspot.com/-tqwnXbFPoag/WPBES3h_3uI/AAAAAAABd1o/v1g61c4gIeQMaGPxPuXE2E0lc6n-MT-dwCLcB/s1600/20170413_121220.jpg")
		img(src="https://4.bp.blogspot.com/-woEfJqoBLfA/WPBETMRNi8I/AAAAAAABd1s/LE5964DIsYsSYnsYJ2xtxvmjqmf8bwSBACLcB/s1600/20170410_164119.jpg")
	.fleuron
