---
layout: exposure
label: family
cover: https://2.bp.blogspot.com/-DUVdINab5Rg/WJXvre3Qc7I/AAAAAAABdRw/Ikx2vHNm4w0k9Z7CmZtQCjEdex5rJpnXACLcB/s1600/IMG_7898.jpg
title: Audrey Chua
excerpt: Daughter of Elvin and Ellis
author: Ellis and Elvin
date: 2017-01-28
permalink: /audrey
---

header
	ul#coverList(data="{{ page.cover | join: ',' }}")
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s90/A-2.jpg" align="left" alt="A")]udrey, our daughter. A great source of joy. Bold and determined. In years to come, she will look back on these memories she cannot remember but were clearly a huge part of our lives.

	.fleuron
.panel
{% assign items = site.audrey | sort: 'date' %}
{% for c in items reversed %}
	.square
		.bg(style="background-image:url({{ c.cover | replace: "s1600", "s600" }})")
			a(href="{{ c.permalink }}")
				.description
					h4 {{ c.title }}
					h5 {{ c.excerpt }}
					.date {{ c.date | date: "%B %Y" }}
{% endfor %}


	.clear
