---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-zgIHSXSmNPo/WJGcO_dfXPI/AAAAAAABdCs/MvCku6qmaaE_4YiHMHjuDzeUyI8Y8Qn-wCLcB/s1600/IMG_7773-2.jpg
title: Audrey Chua
excerpt: Daughter of Elvin and Ellis
author: Ellis and Elvin
date: 2017-01-28
permalink: /audrey
---

header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s80/A-2.jpg" align="left" alt="A")]udrey arrived on the night of the Chinese New Year.

	.fleuron

.group
	h2 Newborn
	.story 
	.story Skin to skin with mummy.
	.videoset(data="5wWhAczFOJM,bGLgJ3xPPJk")
	.videoset(data="p9uiZ0fR1Lo")

.group
	.story
	.photoset(data-layout="2323232")
		img._(src="https://1.bp.blogspot.com/-zgIHSXSmNPo/WJGcO_dfXPI/AAAAAAABdCs/MvCku6qmaaE_4YiHMHjuDzeUyI8Y8Qn-wCLcB/s1600/IMG_7773-2.jpg")
		img(src="https://2.bp.blogspot.com/-C0PoiujLBZM/WJXvrp3poII/AAAAAAABdR0/BygQJSDwIHEhdoq6l8QVHgzeXSxnnM7xQCLcB/s1600/IMG_7788.jpg")
		img(src="https://2.bp.blogspot.com/-royufBpoHnE/WJXvrewoKjI/AAAAAAABdRs/I2WWk9T06_wiCBzkTGo13-SLWgbhlC_AACLcB/s1600/IMG_7821.jpg")
		img(src="https://2.bp.blogspot.com/-DUVdINab5Rg/WJXvre3Qc7I/AAAAAAABdRw/Ikx2vHNm4w0k9Z7CmZtQCjEdex5rJpnXACLcB/s1600/IMG_7898.jpg")
		img(src="https://2.bp.blogspot.com/-To1JL7-Yps0/WJXvsHfGSPI/AAAAAAABdR4/WXhA2OjNBtUlW_DxxiH1_f8HbQuyA_NTgCLcB/s1600/P1070439.jpg")
		img(src="https://3.bp.blogspot.com/-BSjDE5-Q__0/WJXvsV3uXaI/AAAAAAABdR8/m098sMadnScUe8h26_NEMiwlF5cezJb0gCLcB/s1600/P1070444.jpg")
		img(src="https://2.bp.blogspot.com/-t_fvlGNmryM/WJXvsuLYtkI/AAAAAAABdSA/YjSd-8Z0UAEHizewYR2sqBYxP7wVBsfTgCLcB/s1600/P1070446.jpg")
		img(src="https://4.bp.blogspot.com/-5o4cSm8DcHY/WJb-igOY5BI/AAAAAAABdSY/8O2-FepuZ0ISeuGe1_NRWqGrpYzu_cEjACLcB/s1600/IMG_8017.jpg")

	
	.fleuron
