---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-zgIHSXSmNPo/WJGcO_dfXPI/AAAAAAABdCs/MvCku6qmaaE_4YiHMHjuDzeUyI8Y8Qn-wCLcB/s1600/IMG_7773-2.jpg
title: Audrey Chua
excerpt: Daughter of Elvin and Ellis
author: Ellis and Elvin
date: 2017-01-28
permalink: /audrey
---

header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://3.bp.blogspot.com/-5RmTWUPL_ak/V8iwFUL6OaI/AAAAAAABYzY/Ftmmu5ATU_grnpMI_KauanBIwHxhwGgWACLcB/s80/A-2.jpg" align="left" alt="A")]udrey arrived on the night of the Chinese New Year. This is a diary of her growing up. These will be our memories as we look back over the years.

	.fleuron


.group
	h2
	h3 4 February, Saturday (Week 1) - Welcome Home
	.story
	.story #[.elvin] Week one has passed. Audrey is the cutest baby ever. She looks intensely you with her big eyes without blinking, as if studying every detail of your face. When she is done with feeding, she just knocks out in your hands. Her arms will be dangling down, her eyes shut tight and her tiny mouth gap open. Give her a minute or two to recover her consciousness. During her deep slumber, she will smile once or twice as if she is enjoying her milk. She will then open her eyes sleepily. If you tilt her upright at this moment, she may give a loud and wet burp. At times, she just refuses to burp even after she downs 60 ml of milk in one sitting.

	.photoset(data-layout="21")
		img(src="https://4.bp.blogspot.com/-SxkM_T05mnQ/WJwNYfnyOQI/AAAAAAABdU4/3YDXOf4b_r8DZH9gSbXi-j8339SSe1kqQCLcB/s1600/IMG_8141.jpg")
		img(src="https://1.bp.blogspot.com/-EzX_n6YwLJI/WJwNYtubsSI/AAAAAAABdU8/z6KlXwv5gkA8HfsGEhE0K6Eit0WZ6bPVwCLcB/s1600/IMG_8144.jpg")
	.video.cont(data="8fjNXG0pjF4")

	.story She was afraid of the water when we bathed her the first time, letting off a wail. But she is getting better at the end of the week. At least, she is not crying now. When she yawns, she like to end it off with a funny growl that goes "krrrack". I wonder where did she pick that up from. She sleeps in whatever ways she feels comfortable: both hands above head; both hands under cheek; one hand under cheek and the other hand extends out. She makes sounds when she sleeps. Sometimes a whimper or a short cry. The first few night, I thought she wanted attention but it was false alarms. Now, we wait awhile longer before checking on her.

	.photoset(data-layout="31")
		img(src="https://2.bp.blogspot.com/-DUVdINab5Rg/WJXvre3Qc7I/AAAAAAABdRw/Ikx2vHNm4w0k9Z7CmZtQCjEdex5rJpnXACLcB/s1600/IMG_7898.jpg")
		img(src="https://4.bp.blogspot.com/-UjV988KWnnI/WJwNWf-b3GI/AAAAAAABdUo/QkzvXuLQf8oZOjriqWvz1r7IUSMIEuBDgCLcB/s1600/IMG_8085.jpg")
		img(src="https://2.bp.blogspot.com/-piGgkhu0V7s/WJwNWQ7HdKI/AAAAAAABdUs/dtv9_Pcof5QSyOICwfnsY4XIdGt_rYk0wCLcB/s1600/IMG_8093.jpg")

	.story Alas, babies don't come with a manual so we are figuring out what works for her through trial and error. Our first visit to the pedaetrician was a success. Dr. Eugene Han said she has maintained her weight which means she is feeding well. Most babies lose weight in the first week. The bilirubin level is 120 vs 105 umol/L when she was first tested. We did gave her a little sun in the morning so she didn't suffer from jaundice. That was a great relief to us. She had acid reflux at first but it has improved too as we fed her upright and gave her a daily dose of probiotics.

	.photoset(data-layout="31")
		img(src="https://2.bp.blogspot.com/-7rztlYZ-VPM/WJwNRnHvreI/AAAAAAABdUQ/Z-x3tq95qGMOEHIsnaVBMrjtEm7BjogogCLcB/s1600/IMG_7806.jpg")
		img._(src="https://1.bp.blogspot.com/-zgIHSXSmNPo/WJGcO_dfXPI/AAAAAAABdCs/MvCku6qmaaE_4YiHMHjuDzeUyI8Y8Qn-wCLcB/s1600/IMG_7773-2.jpg")
		img(src="https://1.bp.blogspot.com/-ayk1JgMO5Uk/WJwNSG2PTbI/AAAAAAABdUU/-i44E_tTiAszsisx9IqwYw8xztBNfqyAQCLcB/s1600/IMG_7999.jpg")
	.video.cont(data="p9uiZ0fR1Lo")

	.story At home, her Ye Ye and Nai Nai is thrilled to see her. Babies have this magical aura of making grown-ups smile.
	.photoset(data-layout="2323232")
		img._(src="https://4.bp.blogspot.com/-Xi75elNCRBw/WJprUWG7-9I/AAAAAAABdTc/Jbjk5oACCR8kdyK1OL2EYK41PPRpe3oTACLcB/s1600/Audrey_Little_Footprints.jpg")
		img(src="https://2.bp.blogspot.com/-C0PoiujLBZM/WJXvrp3poII/AAAAAAABdR0/BygQJSDwIHEhdoq6l8QVHgzeXSxnnM7xQCLcB/s1600/IMG_7788.jpg")
	.photoset(data-layout="2323232")
		img(src="https://4.bp.blogspot.com/-5o4cSm8DcHY/WJb-igOY5BI/AAAAAAABdSY/8O2-FepuZ0ISeuGe1_NRWqGrpYzu_cEjACLcB/s1600/IMG_8017.jpg")
		img(src="https://4.bp.blogspot.com/-3K5XrYvpkRY/WJwNUOty0pI/AAAAAAABdUc/iBTgHa4XBMUggRrBkTnAb-Rcian8MOzeACLcB/s1600/IMG_8009.jpg")
		img(src="https://2.bp.blogspot.com/-xpkuMp4OhdQ/WJwNX-hPrzI/AAAAAAABdU0/UYdpSaOIbqsLBjsDmAmoXIA_lOumwn4nACLcB/s1600/IMG_8117.jpg")
		img(src="https://1.bp.blogspot.com/-MuEZGv43y8U/WJwNZnn2GPI/AAAAAAABdVE/L0raX3xN9tAG0q079Dpg8Dr7Hlk1BkZdACLcB/s1600/IMG_8162.jpg")
	.story Feeding Time
	.photoset(data-layout="2323232")
		img(src="https://3.bp.blogspot.com/-z9ihiUO556s/WJwNULv-ijI/AAAAAAABdUY/kZzNDrFxqAImZTpoKtYEGrDnLowXFBZaQCLcB/s1600/IMG_8052.jpg")
		img(src="https://1.bp.blogspot.com/-x95l8Nzk4dc/WJwNV67faqI/AAAAAAABdUk/-ItVc2jTFuAqOknlI8ca693wLt-DbbyAwCLcB/s1600/IMG_8061.jpg")
	.story Sleeping Audrey
	.photoset(data-layout="2323232")
		img(src="https://1.bp.blogspot.com/-YZpwTm1JxhA/WJwNXNiqGiI/AAAAAAABdUw/bJc7zxp6HkQFsPEvaQYpirsHmIoEofDFQCLcB/s1600/IMG_8099.jpg")
		//img(src="https://1.bp.blogspot.com/-6DoCDyfCwKs/WJwNZPTKU5I/AAAAAAABdVA/qFcVYXuktukxLaoFeUBI6xGBIpoIVMA0wCLcB/s1600/IMG_8152.jpg")
		img(src="https://1.bp.blogspot.com/-YMZKBTB_PXY/WJwNaIyUg6I/AAAAAAABdVI/pB4b0fWlJ1wvmeh9x0MLr93-fQbBZb-XACLcB/s1600/IMG_8167.jpg")
		img(src="https://1.bp.blogspot.com/-pynTyCpiSMQ/WJwNaVEDxwI/AAAAAAABdVM/VHhR1ucnuqEMYG9taeMNTH4FrfLVXXp9QCLcB/s1600/IMG_8169.jpg")

	

	.fleuron

	h3 11 February (Week 2) - Farts and Poops
	.story Audrey farts and poops a lot. As her gastrointestinal tract is still developing, the gas in tummy gave her great discomfort. The first few nights were bad as she arched her back, flexed her limbs and cried out in pain. We were in pain too as we watched. All we could do was comfort her and rub her tummy gently. She is more accustomed to the tummy gas now. I watched her giving only a whimper as she arches her back and forced the fart out one by one. It is hilarious to hear them popping out loudly.  We switched her formula milk to NAN 1 with partially hydrolysed protein. Hopefully, this milk along with the breast milk will be easier for her tummy.

	.video(data="qtO0oKhDA-A")
	.story

	.story I had lots of free time with Audrey as this is my second week of paternity leave. I watched her sleep more than half the time. She has many fine hairs covering her skin which are mesmerising to watch. When she is awake, we read to her "The Cat in the Hat" and "The Cat in the Hat Comes Back". They are funny stories. She may not understand them now but she will someday. Apart from reading, we sing songs to her too. My favourites are "Spring is Here", "In the City" and "Little Virus". I think she likes them too as she listen with a serious face. She likes her toes to be counted. When I pull on it one by one, she is figuring out what is happening. Her toes are so tiny, it is incredible to watch them.

	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-0GEKHvzV87U/WJwNRYklEqI/AAAAAAABdUM/pwO5qvct5XMxxqcVzX8o9qeeieCaf1OSACLcB/s1600/IMG_7877.jpg")
		img(src="https://2.bp.blogspot.com/-royufBpoHnE/WJXvrewoKjI/AAAAAAABdRs/I2WWk9T06_wiCBzkTGo13-SLWgbhlC_AACLcB/s1600/IMG_7821.jpg")

	.story She is practising her vocal cords as she makes many short grunts, shrieks and yelps.

	.fleuron
	.videoset(data="ywCmvUjrZCM,U2jrxDvvhn8")
