---
layout: exposure
label: family
cover: https://2.bp.blogspot.com/-NHD-mNU5zEA/WHGO4cg2_7I/AAAAAAABcrw/aVjJsWlhrTUFaIoPCBsxtsKyT9bF4Vg-ACLcB/s1600/20170107-1.jpg
title: Third Trimester
excerpt: A kicking babe
author: Ellis and Elvin
date: 2016-11-30
permalink: /baby3
---

header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://2.bp.blogspot.com/-EjIhQtiOGK0/WHVtB1R4ImI/AAAAAAABct0/PlhZnySRQuk2Y4bXyQmY-7uuSwnfxvK8wCLcB/s95/T-2.jpg" align="left" alt="T")]hird trimester is a guessing game. If the estimated due date is the bullseye of a dart board, then the actual delivery date is anywhere on the board. As early as thirty-seven weeks or as late as forty-one weeks. As if that variance is not nerve-wrecking enough, we have to second-guess fake contractions and doubting if Mommy just peed or has the water bag burst. Amidst the waiting, we are palpably excited as first-timers. We can hardly hold ourselves back from buying "omg-it's-so-cute-I-wanna-die" clothes. As for Audrey, she is busy growing fat, kicking, pushing her tiny fists against womb and having hiccups.

	.fleuron
	.subline Read the diaries from #[a(href="baby") First Trimester] or #[a(href="baby2") Second Trimester]

.group
	h2#third 3rd Trimester

	h3 30 November, Wednesday  (Week 30) - Doctor's Talk at SCGS
	.subline Mommy's waist: 37.5", Mommy's weight: 65.3 kg
	.story SCGS 7.30pm.
	.story #[.elvin] We are back at SCGS for a second time and the seats at their hall still kills my back. These seats are made for a younger and smaller body. At least the content of the talk is interesting. The head of CordLife laboratory is giving a presentation on the science behind cord blood and cord lining banking. He is a total geek through and through. After thirty minutes of scientific jargons, technical procedures, miracle stories, he ended his talk with a video and left the stage. Woa. The marketing department sent him here to "educate" the public and he took it literally. What a guy. But I'm sold on this cord banking technology based on its life-changing properties. It sounds like the elixir of life and I am betting my money on it. For science! 

	.fleuron

	h3 3 December, Saturday (Week 31) - Audrey's Pillow
	.story #[.ellis] We are counting down to the arrival of Audrey! The past few weeks were really hectic. Other than the many matters of the new house, Papa and Mummy were busy settling some of Audrey's stuff. The insurance policy insuring Mummy during pregnancy and Audrey at birth has been submitted and is pending approval. We have also enrolled for the Cord Blood and Cord Lining Bank with Cord Life for 21 years after attending a talk.
	.story At the Baby Fair over the weekend, we bought Audrey's diaper, some cute Mittens and Booties, Baby detergent and bottle cleanser and Mummy's nursing bra. We are slowly ticking off the checklist of things to buy and it really feels real now! 
	.photoset(data-layout="12")
		img._(src="https://4.bp.blogspot.com/-mhjNpTbflzg/WE3qWcTwqxI/AAAAAAABcbQ/JtM24KBh-UMY1uiAro0RZYo5rBZdmgcqACLcB/s1600/20161204_183403.jpg")
		img(src="https://2.bp.blogspot.com/-dvzhlyBrjNo/WE3qWurQySI/AAAAAAABcbY/YAiT8gr8zZoo7lKhE24mY92PaTAApPWAgCLcB/s1600/20161204_183342.jpg")
		img(src="https://3.bp.blogspot.com/-SepeEdk5_Z4/WE3qWoC8gCI/AAAAAAABcbU/tkWorlPMIbwGuX6PpFfj8zTkPhagMSyGwCLcB/s1600/20161204_183337.jpg")
	.story Daddy tested the appliances we bought for Audrey such as bottle steriliser, breast pump and mattress to ensure it is usable when Audrey arrives. He secretly lied on the mattress and exclaimed how comfortable it is. Naughty Daddy. Daddy also tested the breast pump by putting it on his flat chest and he was shocked by how painful it was! Mummy, on the other hand, was busy picking the beansprout husks. It was really time consuming and energy draining but it was satisfying to complete bowls of husks. Soon, Daddy will sew the pillow case and we can fill it with the husks. Please wait for the one and only one Audrey's Husk Pillow made with love!
	.photoset(data-layout="1")
		img(src="https://4.bp.blogspot.com/-UtFzgM6V8QU/WJ1oaq7sEUI/AAAAAAABdWg/46R4HU_kYucXcVHtyDqC0qDWCwL1ipBLwCLcB/s1600/IMG_7496.jpg")
		//img(src="https://4.bp.blogspot.com/-3XZhe4aHvmo/WIQpK4PJbdI/AAAAAAABc6c/7XtIxT5BKskkYIDqvzvNRV3JOapS_VQDgCLcB/s1600/20161212_210455.jpg")

	.fleuron

	h3 * 10 December, Saturday (Week 32) - Baby Clothes
	.subline GA: 31 Weeks. EDD: 10-02-2017<br>
		| BPD: 77.65 mm. HC: 284.73 mm. AC: 274.16 mm. FL: 58.69 mm.<br>
		| EFW: 1712 g. Heart Rate 145 BPM.<br>
		| Mommy's weight: 65.6 kg
	.story #[.elvin] Audrey makes big wave-like movements now. I think she is dancing. It sure looks there is a party going on in there. After the party over, she sleeps a lot. She would not wake or kick even when I talk to her. Mommy's tummy is a huge bulge and it doesn't look like it is going to stop anytime soon. We are between four to eight weeks from delivery now. At the doctor's visit, Audrey was in a head down position. With a deft swipe of the scanner, Dr. Tseng found her face and took a snapshot. Audrey was winking and punching her hands to say "Hello"! 
	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-1oXGDgA3xlg/WEynz6FLQcI/AAAAAAABcX0/asLDQXg2OP0DhKIT2f5ZZ1kaYBehBhjgACLcB/s800/20161210-2.jpg")
		img(src="https://3.bp.blogspot.com/-IobXGW3oJbc/WEynz6RvsdI/AAAAAAABcXs/Pzlwn_Ucr9U2bkswVPwsDrS1xF6gN97aACLcB/s800/20161210-1.jpg")
		//img(src="https://1.bp.blogspot.com/-Rd7KJPlUEKc/WEynz462IsI/AAAAAAABcXw/ZlYO0nDJaaYjNRT9d2YB9SCFLircKae2gCLcB/s1600/20161210-3.jpg")
	.story Raising a child is serious business. We were given an estimation of the hospital: doctor's delivery fee - $3000, hospitalisation - $5000, daily doctor checkup - $300, daily PD checkup - $200. You need to build a small warchest before you start on this Adventure of Parenthood.
	.story Right now, our favourite activity is buying Audrey's clothes. These miniature and adorable clothes tugs at my heart string all the time. They are designed to lure parents into an impulsive frenzy to whip out their wallets and buy! So today, we came back with two more sets of clothes. I heard the stories of children outgrowing their clothes in matter of weeks but we can't help ourselves. Look at those cute mittens hanging up to dry. Soon, I will wear them on Audrey and satisfy my primal urge to create the cutest baby ever.
	.photoset(data-layout="A1243423")
		img(src="https://1.bp.blogspot.com/-VYLRvp3URSk/WE0QkrlZEQI/AAAAAAABcaI/nFirXMJvK6QEySochGErCznI9mGMsb_iwCLcB/s800/IMG_7378.jpg")
		img(src="https://2.bp.blogspot.com/-UK3NneBEfHo/WE0Qkj_-ZDI/AAAAAAABcaE/YVY2-7PXiMojbveTMOYpCkEcyY10-i_NACLcB/s800/IMG_7414.jpg")
		img(src="https://4.bp.blogspot.com/-Wh-6kYnrdc4/WE0QkV_em7I/AAAAAAABcaA/a2CX4-qBmKcRbjf2-Efo8SUnkB1-0P3CACLcB/s800/IMG_7424.jpg")
		img(src="https://4.bp.blogspot.com/-7mcH29ttJKI/WE0QnSBWkkI/AAAAAAABcac/BZ_czPCuKkIufy2LBzhHZYr5FVltDhGbwCLcB/s800/IMG_7443.jpg")
		//img(src="https://2.bp.blogspot.com/-thOzHVNFmu8/WE0QlyTc0sI/AAAAAAABcaM/MTp6pMHOo60TndAOhJe6hX3Z3bCjqsB4gCLcB/s1600/IMG_7430.jpg")
		//img(src="https://1.bp.blogspot.com/-MAgzf1EPH1A/WE0QmSgqWjI/AAAAAAABcaQ/bu7dAoUyQBEcFKjkr-SSC2640E3YtW54gCLcB/s1600/IMG_7433.jpg")
		//img(src="https://1.bp.blogspot.com/-8AV6R_nhqxg/WE0QmQ99zmI/AAAAAAABcaU/jFwJw8DbFIkGI10H61hku5LEgPitMEOHACLcB/s1600/IMG_7435.jpg")
		//img(src="https://1.bp.blogspot.com/-FBIOnFzn9_c/WE0Qm8TCu_I/AAAAAAABcaY/2fAygVIQDJA8_84rk1V4ZzaLMRDBb8OOwCLcB/s1600/IMG_7437.jpg")
	

	.fleuron

	h3 17 December, Saturday (Week 33) - Audrey's Biggest Kick
	.story #[.elvin] Mommy is playing with baby Audrey in this video. Audrey was doing her wave-like motion in her personal space and Mommy was tapping her tummy from the outside. At 00:40, Audrey responded with a biggest kick we have recorded on video.
	.video(data="QJxsunE945A")


	.fleuron

	h3 * 24 December, Saturday (Week 34) - Baby Cot
	.subline GA: 34 Weeks. EDD: 08-02-2017<br>
		| BPD: 84.95 mm. HC: 301.09 mm. AC: 283.81 mm. FL: 61.14 mm.<br>
		| EFW: 1980 g. Heart Rate 140 BPM.<br>
		| Mommy's Weight: 66.1 kg
	.photoset(data-layout="B")
		img._(src="https://2.bp.blogspot.com/-WP6qhbVcqZ4/WGoi2hbsjzI/AAAAAAABcqA/k0QcGORCYQkcjCukLDsJEcAuG-fqJpxJwCLcB/s1600/IMG_7464.jpg")
		img(src="https://3.bp.blogspot.com/-KzlkI2S1OKs/WGDAkoFhUsI/AAAAAAABcl4/ioaUvEqiKdArrEAGWqmvFQR72CIfIB0QQCLcB/s800/20161224-1.jpg")
		img(src="https://3.bp.blogspot.com/-GGwlmNCrvFI/WGDAkudmSxI/AAAAAAABcl8/ggHwteEoWM0E2-tT_y7PYpMy2uu11LgCACLcB/s800/20161224-2.jpg")
	.story #[.elvin] For the past few weeks, we were busy preparing Audrey's stuff. The baby cot is set up with the help of Ellis' brother. There is a reshuffling of furnitures in and out of the room for the cot to fit in there. I was definitely glad that we could fit all the things in our small and cozy room. There were plenty of clothes to wash. Both new and hand-me-downs. Grandmother (my mum) bought a cute set of clothes from Mother Care. Now that Audrey has so many clothes, Mommy and I went to buy drawers to store them. Mommy's siblings shared to buy a Combi stroller for Audrey. Even before she arrives, Audrey has so many gifts already. I'm envious.
	.photoset(data-layout="2")
		//img(src="https://1.bp.blogspot.com/-VOqTfDAX5VI/WIDXzM7kXEI/AAAAAAABc4k/OzuxVemjovM_3BsurKI8qVQBbbfIIErugCLcB/s800/20161229_111153.jpg")
		img(src="https://1.bp.blogspot.com/-c1emQFFrh_A/WIDXy9Jwv_I/AAAAAAABc4c/nOgohb1d8bkB_zLtuF18l9FOwDbuivvjQCLcB/s800/20161229_111224.jpg")
		img(src="https://3.bp.blogspot.com/-cjdVLmQ_61g/WIDXzM6eJCI/AAAAAAABc4g/UbvcMjg_WY4_xAPaPsmUGkGzRk1pE3n3ACLcB/s800/20161229_111327.jpg")

	.fleuron
	h3 1 January, Sunday (Week 35) - Rock-a-bye Audrey
	.story #[.ellis] Audrey's kicks are getting stronger each day. I feel happy whenever I feel them because I know she is doing well inside. Audrey! We are going 36 weeks! Keep up the good work and continue to absorb as much nutrients as possible! Mummy is getting more tired with each passing day... But I am looking forward to your arrival!
	.story I managed to record a few instance of Audrey's super active afternoons. It is as if my whole belly shifted as she kicks. I have no choice but to stop my work and feel her. Sometimes I can feel that small little foot of hers sticking out from my belly. Some other times I can feel her punch so close to my groin that I though she is already coming out. It is truly amazing!

	.video(data="9mE7fAAR3sE")

	.story Sometimes Daddy disturbs Audrey by placing his head so close to her and tickling her with his chin. And Daddy will get some reactions from her. These are the happy moments that make both Daddy and Mummy smile from ear to ear.
	.story It is the start of a new year. We were busy the past weekend attending gatherings with friends and families. Not sure when I will have the time to meet up with my friends so I think it is a good time to meet up during this festive season. Chinese new year is coming soon, in a month's time! And we are all excited whether Audrey will choose come out in the year of Monkey or Rooster. I shall update when I pop!
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-LWP0O1r35y4/WIDXz0Eqw5I/AAAAAAABc4o/gw1fCb_4VxYdrjsMBHm22vYCdc6oAKi4wCLcB/s800/20170101_082722.jpg")
		img(src="https://2.bp.blogspot.com/-grudy3T1kY0/WIDX0DNrQwI/AAAAAAABc4s/STfMxi5GCXcTgltASDRt2d_NZZEmwFZrwCLcB/s800/20170101_082750.jpg")
	.story Most of Audrey's stuff are ready. We are left with only the baby bath and lotion. My hospital bag is also almost done, pending some toiletries , clothes and the gadgets. Suddenly, the pregnancy journey is ending soon. Time flies. I am feeling excited for Audrey's arrival and also nervous about the labour. I can't seem to calm down now too. Audrey, when the time comes, let's work together for your arrival, okie!

	.fleuron
	h3 * 7 January, Saturday (Week 36) - No space!
	.subline GA: 36 Weeks. EDD: 30-01-2017<br>
		| BPD: 85.59 mm. HC: 297.41 mm (302 mm). AC: 300.27 mm. FL: 71.61 mm.<br>
		| EFW: 2488 g. Heart Rate 149 BPM.<br>
		| Mommy's Weight: 67.1 kg
	.story #[.elvin] There is hardly enough space in the womb for Audrey these days. She is so much stronger now. That means she gets to choose where to place her cute butt and stretch her legs. There will be a large hard lump on the left tummy where her backbone is and a smaller bump on the right where she rest her feets. It's like relaxing on a upside-down hammock as her head is locked downwards. Doesn't she get dizzy from being head down the whole time? She seems to be enjoying it though. There she is, peacefully sleeping in the ultrasound.
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-NHD-mNU5zEA/WHGO4cg2_7I/AAAAAAABcrw/aVjJsWlhrTUFaIoPCBsxtsKyT9bF4Vg-ACLcB/s800/20170107-1.jpg")
		//img(src="https://4.bp.blogspot.com/-st1dda1g1xs/WHGO4TdtCrI/AAAAAAABcrs/4IM4uQC-XrIVN5ZOypi45NO30xQJKW8uACLcB/s500/20170107-2.jpg")
		img(src="https://4.bp.blogspot.com/-vzky7XcCpr8/WHGO4TF0JsI/AAAAAAABcr0/jsWwh9hVX7kdn96fSe9_cY-bOBeuILVlgCLcB/s800/20170107-3.jpg")


	.fleuron

	h3 16 January, Monday (Week 37) - Pillow Case
	.subline GA: 37 Weeks. EDD: 08-02-2017<br>
		| Heart Rate 140 BPM. Mommy's Weight: 66.8 kg
	.story #[.elvin] Mommy wants a pillow case for Audrey's husk pillow so here I am making one. First, we drew out the design on paper and then measured the pillow's dimension. Next, Mommy measured 104cm x 22cm on the fabric. I double-checked the measurement and cut it out. As they say, measure twice, cut once. When the fabric is cut, the edges will unravel so I sew a hem. To get to the final shape, I folded the fabric in half with a flap at the opening. The hardest of sewing is the spatial visualisation of how to sew the fabric together inside out. After both edges were sewn down, I flipped the fabric the right side out and tada, we have a pillow case. After a quick steam iron to flatten the seams and corners, we put the pillow case on and congratulate ourselves on the nice work.
	.photoset(data-layout="3")
		img(src="https://3.bp.blogspot.com/-3G_wime_F18/WIDX1SBqoOI/AAAAAAABc48/h4k8Nu0DLfUS_OJB_hFEcf6WygCV3ZFQwCLcB/s500/20170116_212353.jpg")
		img(src="https://2.bp.blogspot.com/-jxMEr1MqRZs/WIDX1hEhpTI/AAAAAAABc5A/uoPzFURu818wa_0TQkn0dyee_VlRibybACLcB/s500/20170116_212625.jpg")
		//img(src="https://3.bp.blogspot.com/-0lDSvRulkVM/WIDX161i7SI/AAAAAAABc5E/Eid5YGdUvfEvt5DPbjG-blaYOJfXWbQNQCLcB/s500/20170116_213003.jpg")
		img(src="https://3.bp.blogspot.com/-KlRh5iHn8fo/WIDX2B6GX-I/AAAAAAABc5I/6UWD0xgDnGolIWQ3DMWAr6CzUQjqp9UUwCLcB/s500/20170116_213741.jpg")
	//.photoset(data-layout="1")
		img(src="https://4.bp.blogspot.com/-pMER0QSbgqU/WIDX2SRlz-I/AAAAAAABc5M/1pe99AtvLvER9x8hZkOr0xbViyQwTUCmQCLcB/s1600/20170116_214402.jpg")
	
	.story I took photos for Mommy in her pretty pink dress. She is heavily pregnant now and this is probably her last photoshoot before her tummy becomes flat again. She looks so pretty in this dress.
	.photoset(data-layout="3")
		img(src="https://4.bp.blogspot.com/-BkDCzIWWDC0/WJ1oaUh0RFI/AAAAAAABdWc/FkSRRsGP404FefX4ioun9NPJ_yVZPLG3wCLcB/s500/IMG_7513.jpg")
		img(src="https://4.bp.blogspot.com/-m4vAM1Pn89k/WJ1oaWK_soI/AAAAAAABdWY/eSdaQUBj3v8F013lzANDmw6BpBNrJe72gCLcB/s500/IMG_7524.jpg")
		img(src="https://1.bp.blogspot.com/-gtNFcvzCPF4/WJ1obZ1gHiI/AAAAAAABdWk/THoLC64qI4QlimSdjD4jXilEzonntF0yACLcB/s500/IMG_7526.jpg")
	.fleuron


	h3 19 January, Thursday (Week 37) - Mommy's Birthday
	.story #[.ellis] It's my birthday today! I secretly wish that Audrey will come out today so we will share the same birthday. Haha... But Audrey has her own plans. Now I'm still carrying the little bump (not so little anymore) to celebrate my birthday. Simple celebrations with a couple of close friends are good enough. I'm happy! 

	.story I thought of my mum today too. Now that I am going to be a mother soon, I come to realise how tough it is to carry a child and then support him/her for another 2 decades. Suddenly, all the past immature thinking disappeared. I will cherish my mum even more and provide her whatever she wants within my means. 

	.story Yesterday, Papa surprised me with a mega bombastic present. A present that will make me jump around when I received it. Of course, with Audrey inside me, I could only use my very flexible facial expression to show my joy! I present you... The legendary evolution of hair equipment - Dyson Supersonic Hairdryer. Jang Jang! Woohoo, it is super cool! It is equivalent to the iPhone for hairdryer products! 
	
	.photoset(data-layout="21")
		img(src="https://2.bp.blogspot.com/-pq_Xa8xOhLY/WIdGhRcylPI/AAAAAAABc9M/g4_0OAAUZxU8kHCCuJRO1d3Amjcz5cOxgCLcB/s800/20170118_202826.jpg")
		img(src="https://3.bp.blogspot.com/-SBQEdQNvJV4/WIdGj70jTWI/AAAAAAABc9s/M96nyizBJLUdKs4HQfUFv2Xdgncy4ZPOgCLcB/s800/20170118_203143.jpg")
		img(src="https://2.bp.blogspot.com/--pj2030oFBc/WIZ63HrxCsI/AAAAAAABc7I/YSJJnx8tBk0tcn4r7Xbpjncu6qVeTRmxQCLcB/s800/IMG_7663.jpg")

	.story And now, we even come out with a name for the hair drying time that is, Sensational Hairdryer Experience aka SHE! Now Papa will snatch to use the hairdryer and I thought it was my birthday present?!

	.fleuron



	h3 * 22 January, Sunday (Week 38) - Braxton Hicks
	.subline GA: 38 Weeks. EDD: 31-01-2017<br>
		| BPD: 85.46 mm. HC: 394.94 mm. AC: 346.00 mm. FL: 70.52 mm.<br>
		| EFW: 3072 g. Heart Rate 144 BPM.<br>
		| Mommy's Weight: 68.1 kg
	.story #[.ellis] Wow, we are approaching the final lap, baby! Mummy has been second guessing when you want to make your grand entrance. But as days go by, mummy finds that you are still comfortably growing inside me, like the best bed ever right?!

	.story You are 3.1 kg today. What a feat! Since the fetal assessment at 20 week to last few weeks ago, Dr. Tseng mentioned that you are a small baby. And now, you have worked hard gaining weight and your weight is in the 50th percentile! Good job, Audrey!

	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-5ootBW6yO68/WIQpRqzWD2I/AAAAAAABc6g/O5E5Jg_iL1U3s9vy_ibAJy-urUb8Z_ebwCLcB/s800/20170121-1.jpg")
		img(src="https://2.bp.blogspot.com/-ypnhvG70OU0/WIQpRnFPVrI/AAAAAAABc6k/rr8B7_3d704Pddm0Io0CsYBWRs3HFfKsgCLcB/s800/20170121-2.jpg")
		//img(src="https://4.bp.blogspot.com/-gaoTcRiuM34/WIQpRkc7ONI/AAAAAAABc6o/QNK5_ur07QIkcQlDdaW06JoyIO5_VYOBQCLcB/s1600/20170121-3.jpg")

	.story Mummy has been feeling the Braxton Hicks last week. It felt like a bad stomachache but no  bowel movement when I try in the toilet. It daunted me that I should be getting your things ready for your arrival anytime. I nagged Papa to put on your bedsheet and arrange your little cot. Tada! It is now ready! Each day when we get back home, we will admire the cute cot that waiting for your arrival. Hope you will like it, Audrey.

	.photoset(data-layout="2")
		img(src="https://4.bp.blogspot.com/-xAawYz0Hsko/WIDX0w2ZD2I/AAAAAAABc40/0KiQknbbD1IJO1hqSMNKEoxAbH-8VQsRgCLcB/s800/20170112_172312.jpg")
		img(src="https://2.bp.blogspot.com/--NDb4PI6fmM/WIDX0HC_iCI/AAAAAAABc4w/8RLxPNzp2XcGD3LBnCZPUaB3cINIFFeRgCLcB/s800/20170103_205056%25281%2529.jpg")
		//img(src="https://4.bp.blogspot.com/-1Bljn7MJg30/WIDX01ZeQBI/AAAAAAABc44/LneNkWhNyD04fuw2ZSxF_YUNRvPKj5zDQCLcB/s1600/20170114_204934.jpg")

	.story Audrey, Papa and Mummy are so envious of you! A number of Mummy and Papa's friends bought clothes for you. Now you have a range of clothes from newborn to 12m! 

	.story #[.elvin] The whole world is holding its breath for Audrey to arrive. I guess it will be the first of February. Mommy is guessing the fourth. With Chinese New Year next Saturday, it means that Audrey could be a Monkey or a Rooster baby. Arriving on Chinese New Year means we could be on TV. I'm packing my tuxedo into the pregnancy bag on the thought of that.

	.fleuron

	h3 27 January, Friday (Week 38) - Chinese New Year Eve
	h4 8 a.m.
	.story #[.ellis] Today is the eve of Chinese New Year and I am officially on leave until May 2017. 38 weeks and counting... Mummy and Papa are really getting excited. Will you come out in the year of monkey or rooster? 
	.story I had McDonald's breakfast with Papa and a friend and then I headed down for the gynae visit. This time round, we are visiting Dr. Pamela Tan as Dr. Tseng is away. She is a very gentle doctor with an elegant demeanour. She checked the amniotic fluid level, to ensure there is sufficient amount for Audrey, by measuring the distance between the baby and the walls of the womb. Everything seems fine! The visit was only few minutes. 

	.story As it was still early and I was feeling well, I headed to Metro at Centrepoint to buy a pair of shoes. I also bought some stuff for Papa. I got home by 12 noon for lunch and waited excitedly for the reunion dinner. I have been wondering whether Audrey will let me have my reunion dinner for quite some time. I think Audrey is really nice to me. Satisfying dinner and yusheng and for the rest of the night is enjoying the TV programmes. We counted down for Chinese New Year and confirmed that Audrey chose rooster!

	.story #[.elvin] Today is the eve of Chinese New Year. I am working while Ellis took leave to have her weekly gynae visit. Doctor Tseng is out of office this week so Doctor Pamela Tan did the check up. Baby is doing fine. Back at home, Mommy recorded a video showing Audrey making waves in the womb.

	.video(data="QCOAb6kz7vA")

	.story I always like the eve of Chinese New Year because most of the Singaporeans will be home early for reunion dinner. It is a day where the family makes time for each other to gather around a steaming pot of steamboat dinner. Xiaoyi is here to join us following the yearly tradition. Unfortunately, Xiao Yizhang cannot make it this year. Xiaoyi said he is out grabbing money. 
	.story Audrey's grandma has prepared a variety of food - Shabu shabu beef, pork meatballs, scallops, prawns, red grouper fish, squid, abalone, mushrooms, tofu, white rabbitfish with chinese leek. All of those are my favourite. We ate heartily and converse merrily that evening. Audrey's grandpa must have downed six cans of Carlsberg beer. It was a joyous occasion.


	.fleuron

	h3 ! 28 January, Saturday (Week 38) - Birth
	.story #[.ellis] A brand new Chinese New Year and we welcome the year of rooster! Little did we know...We are welcoming Audrey too!

	.story Okay... I let the cat out but I simply cannot contain it! 

	.story We woke up at 8am to greet Elvin's parents and gave our well wishes with angbaos. We decided not to make visits this time round because we were afraid it would be hard to get a cab during this festive season should I require to go hospital. Hence, Papa and Mummy stayed home enjoying the tangyuan and Chinese New Year goodies. I hardly managed to enjoy the breakfast before I felt something weird. 

	.story A strong gush of fluid flowed out from below that I cannot control. Oops. Did I have incontinence? Did my water bag break? Oh my... I quickly informed Papa and we decided to continue to monitor. A while later, another gush of liquid came flowing down. Alright... It must be my water bag. Wow, Audrey really wants to choose an auspicious date for her arrival! I showered while Papa packed the remaining things into the hospital bag and off we went to the hospital. 

	.story Papa saw a white-throated kingfisher when we were on the way to the hospital. Is it a kind of calling because Papa dreamt of this bird which gave him a pretty silver egg before Mummy got pregnant with you? 

	.story #[.elvin] Today is the day. Mommy's water bag broke at 9 am on Chinese New Year. Audrey is going to be a rooster baby. I am prepared and not prepared at the same time. I know the day will eventually come but I can't believe it is happening right now. My sister offered to give us a lift to Thomson Medical and we got there speedily.

	h4 10 a.m.

	.story #[.ellis] We got ourselves checked in and placed in an observation area where Mummy changed to the gown while Papa went to settle the administration of the hospital. We were then moved to the delivery suite shortly after. The suite has everything including a TV and a massage chair for Papa. Now I really wished I was the one sitting on the chair and not the bed. Haha. I am getting nervous. 

	.story I was already 4cm dilated and my contraction frequency is getting higher and more intensed. I decided to take epidural because I simply scared of the pain and due to the day being a public holiday, it might be difficult to get an anaesthetic doctor to administer. 

	.story However, my contraction spaced out and the intensity dropped the moment I took epidural. Oh great, Dr. Pamela Tan said she would come back again in the evening to see how the dilation and contraction progressed. 

	.story Long wait that did not seem very long as I was distracted by the programmes on TV. Meanwhile, I was given syntocinon to augment the dilation progress. At 6.30pm, I was fully dilated and each contraction was closer but not yet there. 

	.story #[.elvin] I settled the administrative work of filling in the details and signing many forms. Meanwhile, Mommy changed into the dressing gown and waited. Soon, I joined her in the wait. We were waiting for her contraction to become frequent and stronger. Dr. Tan came in her Cheongsam to check on the dilation. She estimated that it will be full dilation in the evening. That means a long wait. This photo sums up what Mommy did for the next nine hours.

	.photoset(data-layout="1")
		img(src="https://3.bp.blogspot.com/-BemWAgN7aYk/WJWBtTatPdI/AAAAAAABdQs/QWqnDcQLESsSQqkHgLuQGp5xZKSh8y1gwCLcB/s1600/20170128_153059.jpg")
	
	.story Of course, it's not all smiles. Mommy eventually felt enough pain and took the epidural drip to numb the lower half of the body. We were lucky that one of the anesthesists was kind enough to sacrifice some family time to do the procedure. I channel surfed on the comfy couch and played with my mobile phone. Then I was bored so I studied the foetal heartbeat chart and the contraction chart (tocodynamometer). If these charts are stock market charts, I will have made a killing. The Delifrance snacks I bought were digesting away in my tummy. I tried napping but it wasn't easy.


	h4 7 p.m.
	.story #[.ellis] Dr. Tan came at 7pm and we started the hard work of pushing. I could feel everybody asking me to push and I did but due to the epidural effect , I was not sure if I was pushing the right way. I was only given one hour to push and after which I needed to be assisted, according to the midwife. 

	.story #[.elvin] Finally, things are happening at 7 pm. Mommy started pushing with each contraction. Huff and puff, she pushed till her face flushed red, her hairs stood on her scalp and her lips are parched. An hour later, Mommy was tired but not giving up. Audrey has not descended far enough. 

	h4 8 p.m.
	.story #[.ellis] At 8pm, Dr. Tan decided that I needed some assistance. And here came Audrey! I cried the moment Dr. Tan put Audrey on me. Within seconds after the nurse helped Audrey to remove the fluid in her nose and throat, she cried for the first time of her life. Her cry was so bright and loud! 

	.story Seeing you lying on my tummy and Papa cutting the umbilical cord, it was a moment I dared not dream and it happened. Thank God for everything! Audrey was so alert during the first moments on Earth. She seemed to be listening to everything that was happening in the room and looking around so curiously. Papa was mesmerised. He was busy taking photos of Audrey using his camera! 

	.story #[.elvin] Doctor Tan came and assisted with the pushing. After ten more minutes of pushing, the doctor offered to assist the delivery via vacuum. She attached the Kiwi omni-pump on the crown of Audrey's head and created a suction. Mommy did one last massive push and the doctor pulled on the handle at the same time. Out came Audrey. It all happened so fast. She started crying as the nurse cleaned her and suctioned the remaining fluid in her nose. At the weighing station, Audrey tipped the scale at 2.69 kg.

	.story Here is Audrey. Staring at me with wide big eyes, curious with the world and what is happening. I sang her a lullaby that we always did when she was inside the womb. A happy feeling swept over me as I watched her kicking in the warmer. Mommy is exhausted on the bed so she can't get up to see Audrey. I was busy taking photos and videos, then ferrying it over for Mommy to see how cute our baby is. 

	.photoset(data-layout="1323232")
		img(src="https://2.bp.blogspot.com/-gO4r3CY3eOM/WJWBu3LlS5I/AAAAAAABdQ0/DVA9VBkYxyopEa5kSVqgst-qhUpKXHCXwCLcB/s1600/20170128_203141.jpg")
		//- img(src="https://3.bp.blogspot.com/-Mr6pwo6pNsQ/WJWBwO9P75I/AAAAAAABdRE/1V0AFqvBMJ8Y1UCVioOAIygpLkL7OwsJACLcB/s1600/20170128_203359.jpg")
		//- img(src="https://1.bp.blogspot.com/-k9plUiKSG3Q/WJWBwFI_-7I/AAAAAAABdQ8/SzLa75zkLgI1f7BUNgWMYKauemGLaMBfwCLcB/s1600/20170128_203625.jpg")
		//- img(src="https://4.bp.blogspot.com/-ZHcmfuMxAJE/WJWBwF6-MjI/AAAAAAABdRA/-dNbM5t8ziwB2eTDTF5KOfTt0ECL_8lqgCLcB/s1600/20170128_203903.jpg")
		//- img(src="https://4.bp.blogspot.com/-juOoX62_QY8/WJWBxaaq-5I/AAAAAAABdRI/z-3qIo3-hcUrQQ20Qzqo875aEoez4YtxgCLcB/s1600/20170128_203943.jpg")
		img(src="https://4.bp.blogspot.com/-b93ltkoYQ_A/WJWBxd3GeoI/AAAAAAABdRQ/UnKF4fkyEDQZNgIYu1zdu2pF_qlnqDVAgCLcB/s500/20170128_204100.jpg")
		img(src="https://1.bp.blogspot.com/-2PDel9v0TT4/WJwV7tLL1ZI/AAAAAAABdV8/nB17uXLs0IsXqcgeq8n1efGpBlrX792uwCLcB/s500/P2280244.jpg")
		img(src="https://2.bp.blogspot.com/-Yuf0TL3HiLM/WJwV8JQbSzI/AAAAAAABdWA/N2uhdAcQxRAZIBZ8O-vpu6sniGYeKJd5QCLcB/s500/P2280245.jpg")

	//.videoset(data="9hKH1CUCTaA,FnJGCBfLocY")
	.videoset(data="L-2O6aOlVew,qx2kh0B6VzQ,Y0xfJynMh3M,9hKH1CUCTaA,FnJGCBfLocY")

	h4 8.45 p.m.
	.story #[.ellis] As expected, Mummy cried too! It was a mixture of emotions for Mummy. I recalled the early days of this pregnancy that I had to call on Dr. Tseng because it was unstable. I recalled the many days that I prayed for Audrey's safety and good health in my womb. I recalled the days I could count down to safe periods in second and third trimester. I recalled how I discover shopping for mini-sized clothes can be so fascinating and addictive. I recalled how elated I was when I first felt Audrey's movement in my womb. I recalled how amazing it was when Audrey responded to Papa and Mummy's bonding session with her. So many, so many memories of happiness and worries... And we finally met today, tonight, Audrey! 

	.photoset(data-layout="1")
		img._(src="https://1.bp.blogspot.com/-duZXEOs51Z8/WJWBxXkZn2I/AAAAAAABdRM/2J4njyMzm8YXLnnrN0LanRAwu3Rs2Y7owCLcB/s1600/20170128_205641.jpg")
	.videoset(data="bTcHlHowrRs,c8mdhNjKCsk,O76BGJuOzd0")

	.story It was a relief that one of the biggest hurdle was over. I pray that Audrey will grow up to be a happy and healthy person. Welcome to our planet Earth and to Singapore, Audrey!! Papa and Mummy are looking forward to the future with you! 

	//.story #[.elvin] Exhausted and exhilarated, I lay on my makeshift bed thinking about today. When I look at Audrey, all I want to do is to care for her and protect her. That must be a father's instinct. This is a happy day and one of the best days of my life. 

	.fleuron

	h3 29 January, Sunday - Afterward

	.story #[.elvin] We spent the night without Audrey so we can get some rest. We were anxious to see her again in the morning. Finally, the nurse rolled her in our ward in a tiny plastic pram. Audrey was laying there, swaddled, alert and looking around. Mommy took Audrey into her bossom and they were reunited again. She looks calm as she listens to Mommy's heartbeat and voice. Although she can't see clearly, she knows Mommy is holding her.

	.photoset(data-layout="W3123232")
		img._(src="https://1.bp.blogspot.com/-MtlaCKWkL6w/WJwV5Pz8PpI/AAAAAAABdVs/2cZdVnWGeoUWEQBbpXfwFYS3ksMpkCJNgCLcB/s1600/P1070406.jpg")
		//img(src="https://2.bp.blogspot.com/-evAX5kul6xY/WJwV5A7D-GI/AAAAAAABdVo/fR4cUECXLFEpDSbkZY0V_6RAn_wYT6NdwCLcB/s1600/P1070409.jpg")
		img._(src="https://1.bp.blogspot.com/-I9U-xhXuFS0/WJwV60e6HeI/AAAAAAABdV4/1xF8I4Mr4lwgU_twe34snFCuXyU0hQqvACLcB/s1600/P1070417.jpg")
		img(src="https://4.bp.blogspot.com/-fzxmknHuRQk/WJwV6-qJzCI/AAAAAAABdVw/UJPAeOvMOTY3LJtheUH1NzUkT4SEE62jQCLcB/s1600/P1070423.jpg")
		img(src="https://4.bp.blogspot.com/-IQMbARWSgKs/WJwV5DPbD2I/AAAAAAABdVk/LxiAaql7XvcfeuQsLRRwArpLjvopjkd6QCLcB/s1600/P1070416.jpg")

	.story This is the first moment where the three of us are spending time alone as a family. The room was calm and cozy as we gaze at our daughter. Her skin was soft to touch and her hairs were fine. When I held her in my arms, it was with the utmost care. She looks so small and fragile.

	.photoset(data-layout="B")
		img(src="https://3.bp.blogspot.com/-QXK9GkF8G7E/WJWByIjpq6I/AAAAAAABdRU/IdSNeqPcPHMMztT8OCasflJvayRSsmaJgCLcB/s1600/20170129_102431.jpg")
		//img(src="https://4.bp.blogspot.com/-j7JW2qOJaMk/WJWByZx7ukI/AAAAAAABdRY/gBRR8rReYrAZM2-kzPL8bASoQieckE00QCLcB/s1600/20170129_102501.jpg")
		img._(src="https://4.bp.blogspot.com/-wdpYXjyED4Y/WJwV6xq20SI/AAAAAAABdV0/32buqiSsYzQD1_0IQDlRX9y2Rf9qEE17wCLcB/s1600/P1070427.jpg")
		//img._(src="https://4.bp.blogspot.com/-mIehThlljY8/WJctuBaZppI/AAAAAAABdSo/hnVO6VuXOvsDGELSfHV7Agw2kZkccDorgCLcB/s1600/P3010255.jpg")
		img._(src="https://3.bp.blogspot.com/-M0TBCwhLwS4/WJctuHM6hEI/AAAAAAABdSs/UfjfU-91u-YyPwuaMn6p1k99IpRxgPd0gCLcB/s1600/P3010259.jpg")

	.story Our family members came down to share in the joy. They gave Ang Baos to Audrey for blessings and also brought Essence of Chicken for Mommy.
	.photoset(data-layout="B")
		img(src="https://2.bp.blogspot.com/-t_fvlGNmryM/WJXvsuLYtkI/AAAAAAABdSA/YjSd-8Z0UAEHizewYR2sqBYxP7wVBsfTgCLcB/s1600/P1070446.jpg")
		img(src="https://2.bp.blogspot.com/-To1JL7-Yps0/WJXvsHfGSPI/AAAAAAABdR4/WXhA2OjNBtUlW_DxxiH1_f8HbQuyA_NTgCLcB/s1600/P1070439.jpg")
		img(src="https://3.bp.blogspot.com/-BSjDE5-Q__0/WJXvsV3uXaI/AAAAAAABdR8/m098sMadnScUe8h26_NEMiwlF5cezJb0gCLcB/s1600/P1070444.jpg")
	.fleuron

	.story The adventures of Audrey continues on at #[a(href="audrey") elvinellis.com/audrey].

	.fleuron
	.photoset(data-layout="W")
		img(src="https://2.bp.blogspot.com/-vTQVMKe5cpE/WJ2CC_buEcI/AAAAAAABdW4/BBh8rZ40LKweopwKOOTCxeGbtoAVO2ktACLcB/s1600/IMG_3911.jpg")
	h3 The Backstory of the White-throated Kingfisher and the Shimmering Silver Egg
	.story Before Ellis was pregnant, I had a perculiar dream. It came to me one night during the family trip to #[a(href="penang") Penang]. I usually do not remember my dreams when I awake. Yet, this dream burned vividly into my memory. It was perculiar because the dream felt like a message. In that dream, I found myself in a kampung village. I was the only inhabitant because I did not recall seeing another face. In the next scene, I was peering into a nest that had two eggs in it. The eggs were special. They were a size between a quail and a chicken egg. One egg was a glittering gold translucent and the other egg was a shimmering silvery translucent. Both were emitting a calm light from within. On the edge of the nest was a white-throated kingfisher. The bird was not afraid and watched me intently. I wanted the golden egg and snatched it. But the kingfisher stopped me with its beak. It then surprised me by picking up the silver egg and putting it into my palm. It looked at me as if to say this was a gift and then flew away in flash of red and blue. I looked at the silver egg with curiosity as it shimmered in my palm. 
	.story I woke up from the dream puzzled. The next month Ellis was pregnant. When I recounted my dream to Ellis later, both of us thought that the silver egg was probably a baby.
	.story Nine months later, we were on the way to Thomson Medical for the delivery of Audrey and I saw a lone white-throated kingfisher from the car. It was perching on a tree at the Tampines flyover. Although, this sounds far-fetched but I thought the white-throated kingfisher was the one from my dream. And it was there that day to send off the shimmering silver egg that is about to hatch.

	.fleuron
.group
	h2#appendix Appendix
	h3 Hadock Formula for estimating fetal weight
	.subline &#8258; Hadlock 4: Log10 (weight) = 1.3596 -0.00386 &times; AC &times; FL + 0.0064 &times; HC + 0.00061 &times; BPD &times; AC + 0.0424 &times; AC + 0.174 &times; FL
	.subline *: Indicates a scan was done.
	h3 Acronyms
	.subline AC: Adominal Circumference; BPD: Biparietal Diameter; CRL: Crown-Rump Length; EDD: Estimated Due Date; EFW: Estimated Fetal Weight, FHR: Fetal Heart Rate; FL: Femur Length; GA: Gestational Age; GS:Gestational Sac; HC: Head Circumference; NT: Nuchal Translucency

	h3 Growth Chart
	.story
		#figures(style='height: 60vh')

	h3 Weight Chart
	.story
		#weight(style='height: 60vh')

script(type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js")
script.
	$( document ).ready(function() {
	var figures = [
		{
		name: "CRL",
		x:[7,9,11,12,13],
		y:[6.27, 24.97, 45.98, 54.56,63.1]
		},
		{
		name: "HC",
		x:[12,14,20,22,24,28,32,34,36,38],
		y:[71.3, 90.89, 168, 193.24, 221.66, 270.22, 284.73, 301.09, 302, 304.94],
		},
		{
		name: "AC",
		x:[12,14,20,22,24,28,32,34,36,38],
		y:[58.1, 100, 140, 174.93, 200, 248.70, 274.16,283.81,300.27,346],
		},
		{
		name: "BPD",
		x:[12,14,20,22,24,28,32,34,36,38],
		y:[19.8, 26.27, 47, 50.27, 59.83, 71.84, 77.65, 84.95,85.59, 85.46],
		},
		{
		name: "FL",
			   x:[20,22,24,28,32,34,36,38],
			   y:[30, 38.75, 43, 49.22, 58.69, 61.14, 71.61,70.52],
		},
		];
	var weight =  [
		{
		name: "EFW",
			   x:[20,22,24,28,32,34,36,38],
			   y:[289, 491, 862, 1202, 1712, 1980, 2488, 3072],
			   line: {shape: 'spline'},
		}];

		layout = {
			//title: 'Baby Audrey Growth Chart',
			//legend: {"orientation": "h", },
			margin: {
			    l: 50,
				r: 0,
				b: 50 ,
				t: 0,
				pad: 4
			},
			xaxis: {
				title: 'Pregnancy Week (Gestational Age)',
				dtick: 2,
			},
			yaxis: {
				title: 'Measurement in Millimeters',
				dtick: '20',
			}
		}
		Plotly.newPlot('figures', figures, layout, {displayModeBar: false});

		//layout['title'] = 'Baby Audrey Weight';
		layout['yaxis']['title'] = 'Weight in Grams';
		layout['yaxis']['dtick'] = 100;
		Plotly.newPlot('weight', weight, layout, {displayModeBar: false});
	});


