---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-GZfqMMgq40M/V4DH9_1098I/AAAAAAABWzY/Nf5yFXQeYqIndzCOJmb96Vr14euVkNtjACLcB/s1600/Baby-20160709-2.jpg
title: Baby
excerpt: Our family
author: Elvin
date: 2015-06-01
permalink: /baby
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 A New Beginning
	.story 15 June
	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-1qUH5AnxKes/V4DH9L8-EBI/AAAAAAABWzM/deEbqpA5L1YwzIHX479aRgldJHZlk2tAACLcB/s1600/Baby-20160610-1.jpg")
		img(src="https://4.bp.blogspot.com/-DrEPiuSMf7M/V4DH9MG-SPI/AAAAAAABWzI/UXtsnBb8zEYpB2Eb6rokRJKAKivgcJTCgCLcB/s1600/Baby-20160615-1.jpg")
	.story 25 June
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-XyBuPQtcaTc/V4DH9AmbIBI/AAAAAAABWzE/LpQEn-AOX4QaRwcrsPsnILyyoXw49n5IwCLcB/s1600/Baby-20160625-1.jpg")
		img(src="https://2.bp.blogspot.com/-9QwB36nqpkk/V4DH9mkAozI/AAAAAAABWzQ/XFIwXOKCuRMSM7Yn2wsEub4en2jFmLngQCLcB/s1600/Baby-20160625-2.jpg")
	.story 9 July
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-Jt8lTgBDzbE/V4DH9nPAOlI/AAAAAAABWzU/TebcMLPVWk8TN3-0_TY3lMnmMX6MKtCIwCLcB/s1600/Baby-20160709-1.jpg")
		img(src="https://1.bp.blogspot.com/-GZfqMMgq40M/V4DH9_1098I/AAAAAAABWzY/Nf5yFXQeYqIndzCOJmb96Vr14euVkNtjACLcB/s1600/Baby-20160709-2.jpg")
	.story 22 July
	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-mwvQ7wuA0W4/V5K0VGMu1II/AAAAAAABXOY/9lMsal6dwosKacZ7fJkfdecJVytNJxADgCLcB/s1600/Baby-20160722-2.jpg")
		img(src="https://4.bp.blogspot.com/-pHhkvN68fqI/V5K0VEW4ukI/AAAAAAABXOU/8PMJa_mIL68gG35GMTMx1BmCh9GHti1mwCLcB/s1600/Baby-20160722-1.jpg")

