---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-GZfqMMgq40M/V4DH9_1098I/AAAAAAABWzY/Nf5yFXQeYqIndzCOJmb96Vr14euVkNtjACLcB/s1600/Baby-20160709-2.jpg
title: Baby
excerpt: A New Beginning
author: Ellis and Elvin
date: 2016-06-01
permalink: /baby
---

header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://4.bp.blogspot.com/-moLtu8cp36w/V9yP6jvL7PI/AAAAAAABZow/II2GqeallSATLF_trTTraFCB0ZrdCN8zQCLcB/s90/I-10.jpg" align="left" alt="I")]t is amazing to watch how life begins and unfolds before your eyes. Starting from a small dot, the cells multiply rapidly, then slow, then increase in pace again, and sometimes it pauses. Growth of a foetus is like making many small sprints on a long journey. The only record of our baby's progress is in the ultrasound snapshots from each doctor's visit. Every minute, we draw closer to the big day where we invite baby to the world and become parents.
	.fleuron

	#toc.subline 

.group
	h2 1st Trimester
	h3 * 10 June, Friday (Week 5) - Missed Period
	.subline GA (Gestational Age): 5w 5d +/- 10d. EDD (Est. Due Date): 05-02-2017.<br>
		| GS (Gestational Sac): 9.00 mm<br>
	.story #[.ellis] Our gynae confirmed my pregnancy after I missed my period. We were elated. A little baby growing inside me. It is so tiny, only a small black dot. Medical ultrasound is amazing.
	.photoset(data-layout="1")
		img(src="https://1.bp.blogspot.com/-1qUH5AnxKes/V4DH9L8-EBI/AAAAAAABWzM/deEbqpA5L1YwzIHX479aRgldJHZlk2tAACLcB/s1600/Baby-20160610-1.jpg")

	.fleuron
	h3 * 15 June, Wednesday (Week 6) - Hunger
	.subline GA: 6w 4d +/- 10d. EDD: 04-02-2017.<br>
		| GS: 16.86 mm<br>
	.story #[.ellis] I feel my body going through many changes at once. I become hyper-sensitive to smell, nauseated in front of some food and have higher body temperature. Every morning between to 2 am to 3 am, I have an urgent need to pee. And then I lay sleepily back on bed and now I feel hungry. I close my eyes hoping my weariness will overcome my hunger pangs. Nope, hunger wins so I sit up in the dark and munch through bread and biscuits. Ah, the woes of a pregnant mum.
	.photoset(data-layout="1")
		img(src="https://4.bp.blogspot.com/-DrEPiuSMf7M/V4DH9MG-SPI/AAAAAAABWzI/UXtsnBb8zEYpB2Eb6rokRJKAKivgcJTCgCLcB/s1600/Baby-20160615-1.jpg")

	.fleuron
	h3 * 25 June, Saturday (Week 7) - Bleeding
	.subline GA: 6w 4d +/- 6d. EDD: 14-02-2017.<br>
		| CRL (Crown-Rump Length): 6.27 mm<br>
	.story #[.ellis] I was bleeding and got really worried for little baby. Went to the clinic and I cried when I heard little baby's heartbeat! Thump, thump, thump, thump. This is first time I am hearing the heartbeat. I was ordered to walk less and rest more so I took some days off. Staying at home is boring but keeping baby safe is more important.
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-XyBuPQtcaTc/V4DH9AmbIBI/AAAAAAABWzE/LpQEn-AOX4QaRwcrsPsnILyyoXw49n5IwCLcB/s1600/Baby-20160625-1.jpg")
		img(src="https://2.bp.blogspot.com/-9QwB36nqpkk/V4DH9mkAozI/AAAAAAABWzQ/XFIwXOKCuRMSM7Yn2wsEub4en2jFmLngQCLcB/s1600/Baby-20160625-2.jpg")

	.fleuron
	h3 * 9 July, Saturday (Week 9) - Heartbeats
	.subline GA: 9w 0d +/- 6d. EDD: 11-02-2017.<br>
		| CRL: 24.97 mm<br>
	.story #[.ellis] Something is forming inside me! Nice to meet you, little baby! We heard your heartbeat once again! I'm so grateful! Stay strong and keep growing, baby!!
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-Jt8lTgBDzbE/V4DH9nPAOlI/AAAAAAABWzU/TebcMLPVWk8TN3-0_TY3lMnmMX6MKtCIwCLcB/s1600/Baby-20160709-1.jpg")
		img._(src="https://1.bp.blogspot.com/-GZfqMMgq40M/V4DH9_1098I/AAAAAAABWzY/Nf5yFXQeYqIndzCOJmb96Vr14euVkNtjACLcB/s1600/Baby-20160709-2.jpg")

	.fleuron
	h3 * 22 July, Friday (Week 11) - Cramps
	.subline GA: 11w 2d +/- 6d. EDD: 08-02-2017.<br>
		| CRL: 45.98 mm<br>
		| Fetal Heart Rate (FHR): 177 bpm
	.story #[.ellis] I felt a little cramping past few days and thought I should go for a check. Here, my little baby. I saw you moving around and I hear your heartbeat! Good job, baby! Keep it up!!
	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-mwvQ7wuA0W4/V5K0VGMu1II/AAAAAAABXOY/9lMsal6dwosKacZ7fJkfdecJVytNJxADgCLcB/s1600/Baby-20160722-2.jpg")
		img(src="https://4.bp.blogspot.com/-pHhkvN68fqI/V5K0VEW4ukI/AAAAAAABXOU/8PMJa_mIL68gG35GMTMx1BmCh9GHti1mwCLcB/s1600/Baby-20160722-1.jpg")

	.fleuron
	h3 * 26 July, Tuesday (Week 12) - Bedrest
	.subline GA: 12w +/- 6d. EDD: 07-02-2017.<br>
		| CRL: 54.56 mm. 
	.story #[.ellis] We rushed from work to the clinic to do a scan. Found out that there was a slight tear that caused the bleeding. The tear was probably from too much walking and exertion. Dr. Liauw advised for a full bed rest in a serious tone. And also no hanky panky.
	.photoset(data-layout="1")
		img(src="https://3.bp.blogspot.com/-z7lgrO0nVIU/V6VvLyjW--I/AAAAAAABYCU/zmPDR54nrUQGuA5-ZUVvYlxKk4EAmmNcACLcB/s1600/Baby-20160726-1.jpg")
	.fleuron

.group
	h2#second 2nd Trimester
	h3 * 30 July, Saturday (Week 12) - OSCAR
	.subline GA: 12w +/- 4d. EDD: 07-02-2017.<br>
		| CRL: 63.1 mm. Biparietal Diameter (BPD): 19.8 mm. Head Circumference (HC): 71.3 mm. <br>
		| Abdominal Circumference (AC): 58.1 mm<br>
		| FHR: 166 bpm. Nuchal Translucency (NT): 2.40 mm. Nasal Bone: 2.0 mm.
	.story #[.elvin] We did the OSCAR test today. The baby barrel-rolled to show her backbone when the sonologist did the scan. Each bone was so distinct on the screen. We saw the brain, tiny fingers and toes. At one point, it looked like the baby was crossing legs and raising its hands. It was touching to watch.
	.photoset(data-layout="1232123")
		img._(src="https://1.bp.blogspot.com/-O0KLolHhG54/V682IzfEMlI/AAAAAAABYFE/UyNDsNmp-lYmnbXonxrKtkJCksfObqVfQCLcB/s1600/00013.png")
		
		img(src="https://2.bp.blogspot.com/-MyzKzT3q1DE/V682J2ZEULI/AAAAAAABYFY/RsDNxbzsi8cCFkO4_wQ4zakoEcG-4uTwgCLcB/s1600/00035.png")
		img._(src="https://1.bp.blogspot.com/-jQU6X1AhWZc/V682KQPv48I/AAAAAAABYFc/lZlmfB2LMacgNSh4m4_ESsbQXHV_BvcGACLcB/s1600/00039.png")

		img(src="https://2.bp.blogspot.com/-UZdRP7nR7qU/V682_SgNipI/AAAAAAABYFg/U8HaLOypsn0cH7tsC2TdSnYzROlLzqphQCLcB/s1600/00002.png")
		img(src="https://1.bp.blogspot.com/-k_SQWSUO5XQ/V682IMl1D5I/AAAAAAABYFA/Tm5uWapDVaQmjHfWgUVzDeT4zIcbpzJPQCLcB/s1600/00007.png")
		img(src="https://4.bp.blogspot.com/-LKptjnVopbU/V682ILhw-uI/AAAAAAABYE8/xc_bRqzZw0Y8xF-ocGqXacKfSBWsl7GWwCLcB/s1600/00011.png")
		img._(src="https://1.bp.blogspot.com/-b_hbZjmcPN8/V682IHko_hI/AAAAAAABYE4/rbN04H5j_zQ_mE1H9oSliLwQZU6EP_61wCLcB/s1600/00012.png")
		img(src="https://2.bp.blogspot.com/-AUQifHTG-gg/V682I51ugPI/AAAAAAABYFM/59OoSMuEUAISFb82Tf1Owg4xpbzdSUfvACLcB/s1600/00014.png")
		img(src="https://3.bp.blogspot.com/-LPmaaO0210U/V682JFcsLGI/AAAAAAABYFI/LyuOtnObHakKleD4IEsIY_oD9hDFv15OwCLcB/s1600/00021.png")
		img(src="https://1.bp.blogspot.com/-bgAkrr2ZiMc/V682Jkt4xzI/AAAAAAABYFQ/qkOsrtjbDKcVCOYwwzOJ8mpXs7IkoJZtwCLcB/s1600/00022.png")
		img._(src="https://2.bp.blogspot.com/-y6xc0wnmQ_Y/V682Jjx6RXI/AAAAAAABYFU/J3XfLkReAWY9ubO6BjQjJs9WJezFEClbgCLcB/s1600/00023.png")

	.fleuron
	h3 * 13 August, Saturday (Week 14) - Olympic Gold Medal
	.subline CRL: 83.37 mm. <br>
		| Biparietal Diameter (BPD): 26.27 mm. GA: 14w 4d +/- 8d. EDD: 07-02-2017. <br>
		| Head Circumference (HC): 90.89 mm. GA: 14w 1d +/- 9d. EDD: 10-02-07.<br>
	.story #[.elvin] Dr Tseng briefed us on the OSCAR report. The stats are all good. Did a scan on the progress of the baby. It is 2cm bigger than before. The heartbeat is stronger. Finally, the doctor thinks we have a girl! Time to think of girls' names.<br>
	.story Getting out of the doctor's office, our eyes were glued to the television. It was the live broadcast of Joseph Schooling's match: the 100m butterfly final of Rio 2016. From the time Joe sprung off the board, the whole clinic was cheering for him. He was ahead of the pack. At the turn, he pulled ahead further and was a body length ahead when he touched the end of the pool. The crowd went wild. It was over in 50.39 second. An Olympic Record for the a 100m butterfly and finally a gold medal for Singapore. We were ecstatic to witness this historic moment together with baby.
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-4x1jDPaZ00w/V67HwobbkxI/AAAAAAABYEk/DTSgZUaf4cU0nF07mC-LOTbkrhQJBv2AQCLcB/s800/Baby-20160813-1.jpg")
		img(src="https://4.bp.blogspot.com/-wXZj5ZL8ciE/V67Hwi4k7wI/AAAAAAABYEo/ePvMIdfo4RAZGn2KOTk-wfdR1JXM-kwGACLcB/s800/Baby-20160813-2.jpg")

	.fleuron
	h3 29 August, Monday (Week 17) - Haze and Zika
	.story #[.elvin] It has been two weeks since we saw baby. The past few days were not good. First, the yearly haze has returned. The PSI went above 200. That left us scrambling for N95 masks and air purifier. In the last two days, the news broke that the Zika virus was detected on our shores. Forty-one infected cases have been found so far. As the Zika virus is harmful to pregnant mother, we are finding ways and means to keep Mommy and baby safe. That means closing the door, not letting the mosquito in, doing the five-steps mozzie wipe out and dousing Mommy with insect repellant. We hope to tide through this difficult time safe and sound.

	.fleuron
	h3 10 September, Saturday (Week 18) - Baby's Day Out
	.story #[.elvin] Today is baby's day out. It has been a while since we went on a date. We caught the movie - The Secret Life of Pets, at The Cathay. Then we had peanut butter and maple crepe, followed by shopping at Uniqlo flagship store. We had so much fun that we didn't realise how quickly the time has past. Mommy cut her hair short yesterday as it is so tiring to dry her hair every night now. Every now and then, Mommy feels the tiny kicks from baby. Baby is growing stronger day by day. We have came up with a few names to choose from and in order of preference: Audrey, Vera, Stella, Mabel, and Charlotte.
	.photoset(data-layout="B31")
		img(src="https://3.bp.blogspot.com/-iANC22j6pUc/V9vjM3i3bOI/AAAAAAABZnI/aS_PjCg7Ccw9MjCt-DxGDSbEvs69QDMKACLcB/s800/P1070196.jpg")
		img(src="https://2.bp.blogspot.com/-OcYplExAXwk/V9vjMJjzxbI/AAAAAAABZnA/jo2NP8NAmik7uGP5JwCv31Z4w63Gw7tTACLcB/s800/P1070190.jpg")
		img._(src="https://2.bp.blogspot.com/-xZoKgodu-Ns/V9vop6JB_WI/AAAAAAABZoA/dxU6WgJNQiszjgdqzkmXztMIOb6wSK6egCLcB/s800/P1070194.jpg")
		img(src="https://3.bp.blogspot.com/-XS6PJf4d2Lo/V9vjNksQvqI/AAAAAAABZnQ/AiBqD4VgS14x8TZd32RcfjVf-KX3WLOIQCLcB/s500/P1070203.jpg")
		img(src="https://3.bp.blogspot.com/-vvzzvH4gExo/V9vjRRmz1EI/AAAAAAABZnw/sdDBvNAQ_scGztYo2_x_JdG-ui4nl9VqQCLcB/s500/P1070233.jpg")
		img(src="https://3.bp.blogspot.com/-dsCs2XavvZI/V9vjQRzMtGI/AAAAAAABZno/HLAhduWpx3k9M-hDzryhGIsZAyJbz523wCLcB/s500/P1070225.jpg")
		img(src="https://2.bp.blogspot.com/-3xzX6L4ZRSk/V9vjPUjjj-I/AAAAAAABZng/x5xq0ah5pbk70mpm865F32PCDQgeNmQkwCLcB/s1600/P1070217.jpg")
		//img(src="https://3.bp.blogspot.com/-wam3lhtDrho/V9vjNLJ8WTI/AAAAAAABZnM/JiUZ-gQXuxgpl7f3gIpatKcnSoeWP21RgCLcB/s1600/P1070200.jpg")
		//img(src="https://2.bp.blogspot.com/-ucFXLzRa9gE/V9vjODJi0NI/AAAAAAABZnU/Y7Y5PTsB-W8Eu7FDHdW8Z_VTmLeqCt0cgCLcB/s1600/P1070210.jpg")
		//img(src="https://1.bp.blogspot.com/-l56ZOoB3d-M/V9vjOWAjw9I/AAAAAAABZnY/-vdU6mxcAXslTqTn2QZs4FXyI4PDCdg5ACLcB/s1600/P1070213.jpg")
		//img(src="https://3.bp.blogspot.com/-Jo-wWD0XUOM/V9vjOj6iVaI/AAAAAAABZnc/hnGBGWupEg0w2BOdbXlIyY7bMEgAvRaJgCLcB/s1600/P1070215.jpg")
		//img(src="https://2.bp.blogspot.com/-7sfpN6pl9Hc/V9vjQKg8CMI/AAAAAAABZnk/ZzmN9rx1WbsSuXAIWKDIVt0ZQaGDGL_zACLcB/s1600/P1070222.jpg")
		//img(src="https://1.bp.blogspot.com/-v1Ur0G6ZDBQ/V9vjQlClH-I/AAAAAAABZns/MB4XDPTxW2wr269jFFqFkStEQHGHGHplQCLcB/s1600/P1070227.jpg")

	.fleuron
	h3 17 September, Saturday (Week 19) - Pizzas
	.story #[.elvin] Baby is kicking a lot these day. If I put my head against Mommy's tummy, each kick feels liks a gentle flick. We get excited when baby does that. Mommy weighs 60 kg now. For three times a week after dinner, we will read to baby from books on general knowlege and bedtime stories. Most of the time, I am asleep after the story. On Saturday afternoon, we have English and Math lessons. Maybe it is because we forgot about today's lesson that baby is kicking so much. For dinner, we made two different type of pizzas: chicken with capsicum and portobello mushroom with cheddar cheese. It was so yummy that Mommy ate two large slices. We are waiting eagerly to see baby via the ultrasound next Saturday.
	.photoset(data-layout="B3")
		img(src="https://3.bp.blogspot.com/-qos4MFcVLis/V-889oGxgxI/AAAAAAABaCM/rYoc2eBQzFIr8yMJUnPWIgIdxOYMrYGOQCLcB/s800/20160917_185105.jpg")
		img(src="https://4.bp.blogspot.com/-kl_8TAE1LHY/V-888XuG92I/AAAAAAABaCA/jY4uTy4-QDEDkIzOnuwIUi6IsfxwL58dwCLcB/s800/20160917_183127.jpg")
		img(src="https://3.bp.blogspot.com/-wOjMQ7E6BqE/V-8898M3ZaI/AAAAAAABaCQ/I8n-evP4kUwi5fMgIx14yMTZi2EE6WJLwCLcB/s800/20160917_185109.jpg")
		img(src="https://4.bp.blogspot.com/-EFfxS1HWFLg/V-889zxDEVI/AAAAAAABaCU/5vHv-tEbndUOFm5uXYHR6FjdEDevJy_UQCLcB/s500/20160917_185114.jpg")
		img(src="https://3.bp.blogspot.com/-eoFoIobnMOg/V-88-VosjZI/AAAAAAABaCY/N2V63OdCZyAnTZYocCn0iwUTDcUvfeW2QCLcB/s500/20160917_190816.jpg")
		img(src="https://4.bp.blogspot.com/-u2rQnOpY55k/V-89ATSnjjI/AAAAAAABaCc/YkW0BWAwy5Q-v4bThurGDAy_IRs4_WvdgCLcB/s500/20160917_191249.jpg")
		//img(src="https://2.bp.blogspot.com/-dvHN1LUYZBU/V-888j40WeI/AAAAAAABaCI/KbATMkm7Qg4rpn6cKOU5CT1J3F5w-GeMwCLcB/s1600/20160917_183119.jpg")
		//img(src="https://3.bp.blogspot.com/-jT6Fr9s0JTc/V-888Z2whQI/AAAAAAABaCE/o5igFYHIOXQU7ifmOlrlc4M-4AT2ivYsgCLcB/s1600/20160917_183928.jpg")
		//img(src="https://2.bp.blogspot.com/-txWUJiuuE5k/V-89Ab-UdZI/AAAAAAABaCg/_-apgfEiieknC_pqV_m2Iq0C5lXpAjaLQCLcB/s1600/20160917_190821.jpg")

	.fleuron

	h3 * 24 September, Saturday (Week 20) - Fetal Assessment Scan
	.subline GA: 20 Weeks 4 Days. EDD: 07-02-2017<br>
		| BPD: 47 mm. HC: 168 mm. Transcerebellar Diameter (TCD): 19.3 mm.<br>
		| Cisterna Magna (CM): 5.2 mm. <br>
		| Anterior Ventricle (Va): 6.2 mm. Posterior Ventricle (Vp): 6.7 mm. <br>
		| Abdominal Circumference (AC): 140 mm. Nuchal Fold Thickness: 4.7 mm. Nasal Bone: 6.2 mm<br> 
		| Femur Length: 30 mm. Humerus Length: 30 mm.<br>
		| Est. fetal weight (Hadlock BPD-HC-AC-FL): 289 g.<br><br>
	.story #[.elvin] Yipee! Today is baby's Fetal Assessment scan. We've been counting down to this. She was comfortably sleeping head-down when we caught glimpse of her. In that position, the sonographer had a difficult measuring her heart. She told us to go take a five-minute walk to try and get baby to shift her position. As Ellis was pacing around, she encouraged baby in a motherly voice, "Baby, it's time to wake up..." 
	.photoset(data-layout="23213")
		img(src="https://2.bp.blogspot.com/-erfn4OHOfB0/V-Zqe_7TGhI/AAAAAAABZ6w/8i5qSwyYeXMfiDzGsQPSv6NXmpQ5o3nxwCLcB/s1600/FA00.jpg")
		img._(src="https://4.bp.blogspot.com/-hpEtNgDr6wY/V-Zqe8XQ52I/AAAAAAABZ64/tUe94v9kAYgzsnKmfseYI9VI99GTRbtSQCLcB/s1600/FA01.jpg")
		img(src="https://3.bp.blogspot.com/-rnUnT9Rmiok/V-Zqe0GzeXI/AAAAAAABZ60/zFjHepnJRXArCQi-Y-4ez00763YHhU0vgCLcB/s1600/FA02.jpg")
		img(src="https://4.bp.blogspot.com/-ej1moa6wXBE/V-Zqfv501jI/AAAAAAABZ7A/8FOMsKiXHMAsfxdHbVP4KRDa1DwFWfKmgCLcB/s1600/FA03.jpg")
		img._(src="https://4.bp.blogspot.com/-S58GteI5twg/V-ZqfoOKE5I/AAAAAAABZ68/LbLIvbZqBe4_rQb8HdhEK8wMgz3eILnuwCLcB/s1600/FA04.jpg")
		img._(src="https://3.bp.blogspot.com/-lrpatPXO4kk/V-ZqfvId0NI/AAAAAAABZ7E/6hSvdPXMwzcCmC_qwzB1w3cgscW-mjgUACLcB/s1600/FA05.jpg")
		img(src="https://1.bp.blogspot.com/-C8zv94aMJww/V-ZqgJNvSRI/AAAAAAABZ7I/MNyUvbbv2Rs-sbX8BUGMQS7aDadJE-sOwCLcB/s1600/FA06.jpg")
	.story We got back into the room again and baby has turned. We got a good look at her hands, feets and head. In one of the photos, we saw baby making a "chiak!" gesture with her hand. Another shot has her clenching her fist to make a &#x1F44D; sign. Finally, the sonographer measured the ventricles in her rapidly pumping heart. When it was over, we received a report stating that there are no anomalies. That's all that we wished for baby. &#x1F468;&zwj;&#x1F469;&zwj;&#x1F467;
	.photoset(data-layout="13")
		img._(src="https://3.bp.blogspot.com/-RdT1-Fgbji8/V-ZqgZEoqrI/AAAAAAABZ7M/rSyXMoU7UQM-Dnr_IWuPyPBSV0Atn6BiACLcB/s1600/FA08.jpg")
		img(src="https://4.bp.blogspot.com/-b-msih3Vof4/V-ZqgH9GkCI/AAAAAAABZ7Q/CGQFmJvVOEox1AFOFf1jiagIFaRjJt7jACLcB/s1600/FA07.jpg")
		img(src="https://3.bp.blogspot.com/-FjEHzipudTU/V-ZqgmfcdqI/AAAAAAABZ7U/GaSIvJOQJxwDif1G0bzqDs69a9io7lnswCLcB/s1600/FA09.jpg")
		img(src="https://2.bp.blogspot.com/-Lu6C2pbDKsY/V-Zqg_kgAFI/AAAAAAABZ7Y/3-RciVFU7HAP0ET4kN9gxU7oQ4gM5lskACLcB/s1600/FA10.jpg")
	.story In the afternoon, we took a guided tour of TMC (Thomson Medical Centre). There were the patient service center, delivery rooms, nursery room, and private rooms for resting after birth. Ellis and I were excited to see the babies in the nursery. Wrapped in a white bundle, only the head stuck out. After the tour, we rushed over to Suntec Convention for a talk titled #[i Smart Parents]. We learnt about the child's brain development, how pregnant moms can continue to look beautiful after birth and understanding common symptoms of a new-born baby. Ellis says she is going to write out notes for that. I'm looking forward to reading them.
	.fleuron

	h3 26 September, Monday (Week 20) - Five Months
	.subline Mommy's weight: 61 Kg
	.story #[.ellis] I took urgent leave today as I just don't have the energy. This is a privilege of a mother-to-be... Recently, I am bothered by two things. Discharge and constipation. I have weird discharge so I think my infection is back again... And as I hit the five-months mark, constipations set in. Oh gosh, the daily woes in the toilet. I was advised not to force the poo out but to eat more yogurt and drink prune juice. Subsequently, the constipated feeling subsided. Baby, Mommy is trying to poo so please don't misunderstand that your delivery time is due! Continue to stay inside and grow healthily in comfort, okie?
	.fleuron

	h3 5 October, Wednesday (Week 21) - A Kicking Babe
	.story #[.ellis] Daddy has to work late so I have my private time with Baby for our regular lessons. Today's topic is about things we can do with our children, learning about mixing colours using watercolours and painting and drawing. I am looking forward to doing such activities when Baby grows up.<br>
	.photoset(data-layout="B")
		img(src="https://1.bp.blogspot.com/-LX6hanbQgu8/V_nAVe-GGJI/AAAAAAABaKM/IuvAAc9JeoUCN81p2szq1I1OCjxh7rAbgCLcB/s800/P1070246.jpg")
		img._(src="https://3.bp.blogspot.com/-N0qrGWOAZq0/V_nAUfuRPuI/AAAAAAABaKA/_xevVao1Of0c622Mkg46t3KYIIBc6aD_wCLcB/s800/P1070243.jpg")
		img(src="https://3.bp.blogspot.com/-E6yWgfiFcbs/V_nAT3iOyCI/AAAAAAABaJ8/0DPaLyiF_bUHnq2viNiJvtqG9ZMKhKZpgCLcB/s800/P1070240.jpg")
	.story I always love to sing, oblivious to my audience and environment. Usually, I sing a few nursery rhymes and songs I learn from English Time on Saturdays, and Baby will kick as I sing! It felt like she is joining me in the singing. At least, that's what I want to think. Haha. I decided to sing some pop songs in my Spotify list! I started with a few English songs and there wasn't much reaction from my bump. Then, I proceeded to sing my favourite Chinese pop songs with passion. The amazing thing was I got multiple kicks from baby!! I stopped and continued a while later - just to check if I was imagining things... Seriously, I am not! The kicks were as if Baby was running inside! Well, I strongly believe she likes chinese songs more. When I told Daddy about it, his view was that baby did not like Chinese songs and was 'objecting' to it when I sang. Hmmm, I shall ask baby when she is out next year!
	.fleuron


	h3 * 8 October, Saturday (Week 22) - Regular Visit
	.subline GA: 21 weeks to 22 weeks. EDD: 08-02-2017<br>
		| BPD: 50.27 mm. HC: 193.24 mm. AC: 174.93 mm. Femur Length: 38.75 mm.<br>
		| Est. fetal weight (Hadlock BPD-HC-AC-FL): 491 g.<br>
		| Mommy's weight: 62.1 Kg
	.story #[.ellis] We woke up early in the morning to clear our housework - washing our weekly set of clothes before we set off for our monthly visit to the gynae. Although we slept late the night before, we were not a least bit tired waking up early and going through a mad rush to be in time for our appointment. All this for our dear little baby. Daddy prepared edamame and some nuts for our outing today. Shortly after reaching the clinic, I went through the usual urine test, weight and blood pressure measurement. In the Dr Tseng's office, he explained the fetal assessment and then measured the length between my groin and belly button. I guess he is measuring the uterus length to track the growth. 

	.photoset(data-layout="12")
		img._(src="https://2.bp.blogspot.com/-safpRu-otwM/V_mhfSHdvlI/AAAAAAABaIg/ZR_d1w-C1v8RGNC1TXHu9bpa9uhuzyIdACLcB/s1600/Baby-20161008-2.jpg")
		img(src="https://4.bp.blogspot.com/-wZn44lILqRE/V_mhfdgs6GI/AAAAAAABaIk/XNHv26SCiV4gmDOE9HPgkV8urhGSOm_7ACLcB/s1600/Baby-20161008-1.jpg")
		img(src="https://4.bp.blogspot.com/-C1-mCEKauV4/V_mhfYg0MUI/AAAAAAABaIo/8wMpQvNN5hEIsIFsWh0yc_cf3cny4-aLQCLcB/s1600/Baby-20161008-3.jpg")
	.story He then did a scan using a fetal doppler to listen to Baby's heartbeat. Daddy and Mommy are never tired of listening to the rhythmic and strong heartbeat of baby. The heartbeat always bring a blissful smile to us. Next, he used the ultrasound scan and swiftly found Baby's head, heart, stomach, arms and thigh. That is like more than half the time faster than the sonographer! My eyes and ears cannot keep track with his speed! 

	.story After that, the gynae did a swap test on Mommy due to potential infection in her vagina which may be dangerous at this stage. It was painful to Mommy and the pain lasted about a day. Mommy had difficulty peeing and teared. All Mommy wants is for baby to be safe and sound. Baby, Mommy love you!

	.story Daddy has been working hard for the baby too! Besides earning money to support us, he also researched on the camera lens and gadgets and get himself ready for Baby's photoshoot! Mommy, on the other hand, is in charge of getting the necessary props ready. We went to Spotlight to look for cloths that can be the backdrop for the photo. Eventually, we bought a pastel-printed cloth as one of Baby's outfits! 
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-KLXsk2XBygY/V_nAVlWAFXI/AAAAAAABaKQ/iNRD8vKy17olHeo7ZpuWEXrklNFixjOMACLcB/s800/P1070252.jpg")
		img(src="https://4.bp.blogspot.com/-0RoB8bOHSXA/V_nAUblx-AI/AAAAAAABaKE/t956G6JLFb0qK0oGn0vFC4lzBW_hg93BgCLcB/s800/IMG_6113.jpg")
	.story We also popped by our favourite money-spending shop - Uniqlo and got a set of newborn rompers for our baby! Our first little gift for baby! As Mommy feels tired more often nowadays, we wrapped up our shopping after a fulfilling lunch at Ichiban Sushi. 

	.fleuron

	h3 15 October, Saturday (Week 23) - Audrey
	.story #[.elvin] Audrey. That's the name we decided for Baby. It has a nice sweet ring to it and you get to curl your tongue over the "dr" part like "Auddrrey". It's neither short nor a mouthful to call. Together with her surname, "Audrey Chua" sounds perfect. According to wikipedia, the name Audrey is a combination of the old English words: Noble and Strength. Well, I like that. More importantly, it is a name that both Mommy and I like.
	.story Mommy has caught the insomnia bug recently - it means she wakes up at 3 a.m. and cannot sleep again until 5 a.m. During this period, Audrey is mostly awake which she knows from the kicking. The next morning, it takes Mommy a long time to wake up. I have to nudge and convince her to trudge to the toilet to wash up. After that, it's mostly fine. Now that I have a decent lens (24-105 mm), I am practicing to take good portraits of her in the morning. Mommy is looking beautiful in this dress. I expect the bulge of her tummy to increase quickly in the next few weeks.
	.photoset(data-layout="1")
		img._(src="https://1.bp.blogspot.com/-e3Kl50GQSbg/V_9eWysvdFI/AAAAAAABaLo/V4qPMDgJVCYW8i5QenGM_fav653-RggTQCLcB/s1600/Ellis%2BWeek%2B23.jpg")
	.story On other news, I'm back to army camp this week and for the next two weeks. It means that I have to wake up early and miss the train ride with Mommy to work. Hang in there, babe!
	.fleuron

	h3 16 October, Sunday (Week 24) - Baby Fair
	.story #[.ellis] There was a baby fair going on at Singapore Expo and we thought we should start getting Baby's stuff slowly before my tummy gets bigger. We had MacDonald's breakfast in the morning before setting off to see what there were at the fair.

	.story As usual, there were alot of marketing personnel trying to sell their products such as Insurance and cord preservation. We combed through the fair wanted to get a mattress but there wasn't any that fits the baby cot that my brother is giving us. We ended up looking at breastpumps and finding reviews online. Our shopping spree at the end of the day were breastpumps, milk bottle Steriliser and Warmer, and a special Warmer for breastmilk. Those stuff already kept our hands full. We had to call it a day. 

	.story We then passed by the adjacent hall selling electronic appliances and we bought a food processor after Daddy watched the demonstration the day before, totally convinced of the amazing function! And finally, we took a cab home with hands so full that we couldn't open the car boot!
	.fleuron


	h3 20 October, Thursday (Week 24) - Walking about Raffles Place
	.story #[.ellis] It is 24 weeks now, baby Audrey! Mommy is working hard and I know you are too! I took leave today to rest as I have been having my pregnancy insomnia. Occasionally, I also feel the round ligament pain. Nowadays, I don't really know how to differentiate the pains. It just worries me when I feel weird around my tummy. Audrey be safe okie!

	.photoset(data-layout="1")
		img(src="https://3.bp.blogspot.com/-cgy-lkOa8Bw/WAotBA7uQEI/AAAAAAABaOA/ecbRopKFTbYbiRiyd7I7MDfGw4uvODVKQCLcB/s1600/IMG_6472.jpg")

	.story Daddy didn't go for his reservice as he had a backache. When I woke up in the morning, Daddy is already busy removing the husks from the bowl of soaked green beans. Guess what? Daddy is going to make a husk pillow for Audrey from scratch. After soaking the beans for 2 days and using 3 hours of manpower, including grandparents help, Daddy sunned the husks for a day. It seems like the quantity of the husks shrunk after they dried. Daddy would most probably need to prepare another batch of beans for the husks. After this, he will be sewing the pillow case for you, Audrey!

	.story After lunch, Mommy and Daddy went to our lawyer's office to hand the two cheques for the TOP notice of our house. Daddy is getting excited! Finally, long awaited house is coming soon. For me, I think I'm only excited about my dressing table and Audrey's nursery! 
	.photoset(data-layout="12")
		img(src="https://4.bp.blogspot.com/-oOZ9w0whT_0/WAotBdJxZ0I/AAAAAAABaOI/etCMsBBrCl8pWy_5tF4nso2bJ59U5-VkACLcB/s1600/IMG_6496.jpg")
		img(src="https://2.bp.blogspot.com/-wIT38Jm7Xjc/WAotBVnXxAI/AAAAAAABaOE/RymNew9szzw3tRF8Zas6xMrZFPed0N1YQCLcB/s800/IMG_6485.jpg")
		img(src="https://3.bp.blogspot.com/-26DU5SF9C3M/WAotDAFx1rI/AAAAAAABaOQ/KIHMXA85dk0AeA0nxR6KBofu8dpbPp4lQCLcB/s800/IMG_6538.jpg")
		//img(src="https://3.bp.blogspot.com/-od4avRdXapM/WAotC49ZXaI/AAAAAAABaOM/kGbpsmPI8agRxZNBq_L8LTE95dGBDDjpgCLcB/s1600/IMG_6511.jpg")

	.story We then took a walk along Singapore River to Victoria Concert Hall. I saw the replanted giant raintrees. I sat there enjoying the breeze under the tree amidst the hot weather while Daddy went snapping photos. A short date for us on a weekday. The day just passed by so quickly.

	.fleuron

	h3 22 October, Saturday (Week 24) - Mung Beans Husks and Pre-natal Class
	.story #[.elvin] We are mung beans husk farmers this week. A batch of mung beans are soaked overnight and the excess water is drained in the morning. The swollen beans having absorbed all the water they can, begin sprouting and growing a long tail in two days. Now, it is time for us to harvest the husk. The green husk slipped out of the bean, revealing the pale yellow body. It looks like a mountain of wet moss after the harvest. After drying, it shrivels and becomes crispy. With all these dry husks, I intend to make a small pillow for Audrey. When the pillow is rested on the baby's tummy, the weight provides a secure feeling. The husks are light and airy, allowing heat and sweat to dissipate. After today's batch, we are one step closer to completing the pillow. What did we do with all that bean sprouts? I cooked them up with sesame oil and a dash of salt to create a yummy dish.
	.photoset(data-layout="31")
		img(src="https://2.bp.blogspot.com/-msxxN7uw6p8/WAyAv1_sZTI/AAAAAAABaPQ/J11ey9HdG_ogXoValXVkNTbtDes1id36QCLcB/s500/IMG_6609.jpg")
		img(src="https://2.bp.blogspot.com/-PSsm3ayU3q8/WAyAv4jEmdI/AAAAAAABaPU/kENrsBQKO2YS-b0gx9zM6weaexNIulOCQCLcB/s500/IMG_6630.jpg")
		img(src="https://3.bp.blogspot.com/-fAqeyvEsNFQ/WAyAw13sTJI/AAAAAAABaPY/-n9c5tH2acYj-9FtOWZCyJm51AOn55llwCLcB/s500/IMG_6637.jpg")
		img(src="https://2.bp.blogspot.com/-N5teGMEUplc/WAyAvnq-LsI/AAAAAAABaPM/8nRnTBylR-ow_BawMpZmy8hL599NY9tWQCLcB/s1600/IMG_6617.jpg")

	.story Today, we had pre-natal lesson with Doctor Wong Boh Boi at Ang Mo Kio eXplorerKid. Dr. Wong, she is mildly eccentric. During her class, she would go off-tangent with her anecdotes. Dabbling in a wide range of oriental mystic arts and western scientific pratices, she like the kung-fu master that descended from the snow-capped mountain after years of meditation.

	.story #[.ellis] Mommy has been feeling very grouchy. I easily cry over very minor things that I cannot even pinpoint. Daddy's birthday is around the corner and the only thing Mommy did was to order a cake. Mommy has no energy to scout for a present and a good place for a meal. Hope Daddy can understand. 

	.story I guess the pregnancy insomnia is really taking a toil on me, especially when I have to work on weekdays and I cannot take a nap anytime I want. I missed the lunch treat from your great aunt Karen. I just wanted to sleep in the whole day. Hope this insomnia will get away soon. The only pleasure I get is that I can feel Audrey's kicks in the middle of the night when I am awake as if she is accompanying me through the long sleepless nights!

	.story Today, Mommy and Daddy attended our first lesson with Dr Wong Boh Boi at AMK Hub. Time flew quickly in the two and a half hours weekly class. She shared her knowledge on childbirth, simple pregnancy stretching exercises and breathing. Her father is a TCM physician and she was educated in western medicine. Hence, she busted a number of pregnancy and confinement myths. They were really convincing because she clarified how some myths were derived and passed down. 

	.story After the class, we walked to Cheng San Market to collect Daddy's Pulut Hitam Cake and to have our dinner. A long day ended with two slices of cake from Pine Garden as desserts. Tomorrow, we shall sing Happy Birthday Song to Daddy and cut the yummy birthday cake! 
	.fleuron

	h3 * 24 October, Monday (Week 24) - Daddy's Birthday
	.subline GA: 24 Weeks. EDD: 10-02-2017<br>
		| BPD: 59.83 mm. HC: 221.66 mm. AC: 200.00 mm. Femur Length (FL): 52.99 mm.<br>
		| Est. fetal weight (Hadlock BPD-HC-AC-FL): 862 g.<br>
		| Mommy's weight: 63 Kg
	.story #[.elvin] Mommy went to the clinic today for a swab test and a scan. We suspect Gardnerella is back again. As I wasn't there, I only get a second-hand account of what Mommy saw. Audrey gave a punch with her fist during the scan and it was caught on screen. I wished I was around to see it. I guess I have to settle with having my birthday printed on the ultrasound printouts (See Mommy, I have~ You don't have~). And since, it is my birthday today, I get to make a real wish. I wish Audrey will come out a healthy baby. That would be the best gift for me. I noticed the Femur Length on the printout is at 52.99 mm which indicates a 28 weeks length. Either the measurement is off or Audrey is going to have really long legs. Maybe that explains all the strong kicks I have receiving from her recently.
	.story 
	.photoset(data-layout="21")
		img(src="https://2.bp.blogspot.com/-71BHZnRtX90/WA8Udct6fRI/AAAAAAABaP0/--eoje5enqsLFI41_GIWx6aZdVXa4TubACLcB/s800/20161024-1.jpg")
		img(src="https://3.bp.blogspot.com/-Fq9SYodB9ZA/WA8UdXFqWLI/AAAAAAABaP4/a5e_DTlWXQwPjbROcHoZUpv_ds1OBxewACLcB/s800/20161024-2.jpg")
		img(src="https://2.bp.blogspot.com/-MClVep8XD7I/WA8UdSaKhQI/AAAAAAABaPw/i6EFdwt5J-gqcICZCykkVteJzqI4zGSoACLcB/s1600/20161024-3.jpg")
	.fleuron

	h3 30 October, Sunday (Week 25) - Huiting's Housewarming, Pain Relief and Labour Class
	.subline Mommy's Weight: 63.8 Kg
	.story #[.elvin] Mommy's tummy looks bigger recently. She didn't take any waist measurement before so we can't be sure if we had parent's bias. Audrey likes to turn a lot. There's plenty of space at the moment allowing her to squeeze to a corner of the womb. On the outside, Mommy gets a bulge on her side and it is hilarious to watch. I like sleeping on the edge of the bed too. Wonder if Audrey will do that next time?
	.story At Huiting's housewarming party in the evening, there was great food, music and alcoholic drink. Mommy drinks only plain water. She has great taste, I tell you. Anyway, the sharp ones knows Mommy is pregnant after the group shot we took was posted on Facebook. 
	.story Today's pre-natal class (AMK eXplorerKid, 4 p.m.) was about pain relief and labour. There was a video on how the baby is delivered upon reaching full dilation. Nature amazes me. The baby inevitably goes into crowning position and pushes the head out face-down. Mommmy will do deep breathing during these contractions and push along with the baby. When the head is one-third, Mommy needs to stop pushing and start panting to slow down. If the baby comes out too quickly, it may tear the perineum. Once the head is out, the body turns sideways for one shoulder to be out following by the next shoulder. Now, the baby faces upwards and she is delivered.
	.photoset(data-layout="B")
		img(src="https://4.bp.blogspot.com/-S0mFPPhGmHs/WBV9-JV8O3I/AAAAAAABabc/JS9cxU2axtsTm2hPE7EXq_amnE0CfK3XwCLcB/s800/IMG_6729.jpg")
		img(src="https://4.bp.blogspot.com/-AF_kHo0YW0U/WBV9906IbuI/AAAAAAABabY/P9WVWqqlLKgSvMWlfMmGTOwgZKj79Fd7wCLcB/s800/20161029_120924.jpg")
		img(src="https://3.bp.blogspot.com/-ZO5rkapRxoM/WBfOWAuL7fI/AAAAAAABab8/1zbMQp62_ZIGDDlS58YnvNr9tjt5ps4ywCLcB/s800/Huiting%2BHouse%2BWarming.jpg")
	.fleuron
		
	

	h3 2 November, Wednesday (Week 26)
	.subline Mommy's weight: 64 Kg
	.story Feeding. SCGS. 7.30pm

	.fleuron

	h3 12 November, Saturday (Week 27) - Sea Horizon
	.subline Mommy's weight: 64 Kg
	.story #[.elvin] What a busy week. We finally got the key to Sea Horizon, our new house on Monday. The palpable excitement was in the air as the whole family including Mom and Dad marched towards the house. In the house, each of us was lost in our own world of checking out the kitchen, rooms, toilet and balcony. The balcony measured 8.5m in length was the highlight of the place. One can have a game of mini soccer there. Next, we have a good view of the forest, or what is remaining, beside our house. The apartment is on the 8th level which peeps over the canopy of the forest to reveal the a silver of the sea. I hope the forest remains there for a long time. For the remainder of the week, our time was spent measuring the length of walls, door, nooks and crevices. The size is according to the floor plan which we were gladful for. Then, the hunt for defects began in earnest.
	.story Practical Hands-on Baby Care. AMK eXplorerKid, 4pm.

	.fleuron

	h3 14 November, Monday (Week 27) - Practical Hands-on With Baby
	.story #[.ellis] It's been a while! Both Mummy and Daddy were busy with the new house that we had just gotten keys last week. We are both feeling ecstatic and looking forward to get the house ready for us and most importantly, for Audrey's arrival!!
	.story We had our practical hands-on session with Dr Wong on taking care of newborns. It was a fun session and Daddy was listening attentively and following instructions really carefully so that he will be about to take care of Audrey when she arrives. This class almost sums up the entire course. We are only left with one Doctor's Talk at the end of the month. 
	.story It should be 28 weeks now, counting down another 12 more weeks, baby! Please continue to grow well inside me. Mummy loves it when you punch, kick and somersault in my womb! It is an amazing feeling that I bet only mothers  would know. Sometimes Mummy wakes up in the middle of the night and gets frustrated for not able to fall back to sleep but Audrey will give me a few kicks to tell me she is with me. This makes me fall back to sleep with a big smile on my face. I love you, Audrey!

	.fleuron

	h3 * 19 November, Saturday (Week 28) - Flutters of Audrey
	.subline
		| GA: 28 Weeks. EDD: 05-02-2017 <br>
		| BPD: 71.84 mm, HC: 270.22 mm, AC: 248.70 mm, FL: 49.22 mm. <br>
		| EFW: 1202 g<br>
		| Mommy's weight: 64.8 Kg
	.story #[.ellis] Finally, it is our regular gynae visit. It is the 28th weeks and it has been a while since we last saw an image of Audrey. This morning, I talk to Audrey, asking her not to be shy so that Dr Tseng can confirm the gender. She was really cooperative and we were very happy to see her in the ultrasound scan. Dr. Tseng confirmed it's a girl by the "hamburger" pattern. Good job, Audrey! It is time for some online shopping to get the props for your photoshoot. We were done with check-up by 9.30am. Our next visit will be on the 32nd week. Wow, Mommy can't wait to 'see' you again and count down to your arrival. Please continue to grow well inside me and kick me often!
	.photoset(data-layout="A")
		img(src="https://2.bp.blogspot.com/-u2EIG8eNnew/WDAin58yK_I/AAAAAAABau8/g2o_InMK3EwfbijwBs7k54SOHXfuu6awwCLcB/s800/IMG_6818.jpg")
		img(src="https://4.bp.blogspot.com/-Ki5YFFmwqd4/WC_a9RadCEI/AAAAAAABauk/YLzcFa22TmYZmvuc7WIgn76ZQp9j_S2pgCLcB/s800/20161119-1.jpg")
		img(src="https://2.bp.blogspot.com/-9hqjevW8xHY/WC_a9dpaSoI/AAAAAAABauc/uCy7E5Dh9KgCzoJwUJin6Ar2EleE4vYWACLcB/s800/20161119-2.jpg")
		img(src="https://2.bp.blogspot.com/-1JinMixJAiI/WC_a9qe29qI/AAAAAAABaug/branTmAg80oRAPUwkqxwlI9Lhzaq6B8IQCLcB/s800/20161119-3.jpg")
	.story #[.elvin] As Mommy approaches the end of her second trimester, Audrey Baby is getting stronger and moving about a lot more. Her flips and turns stretches Mommy's belly at different points. At times, her movements are rhythmic. Other times, it is consistent pulse at a spot and we are quite sure it's not Mommy's heartbeat. I took a video of Mommy's tummy showing these movements which I call it "Flutters of Audrey". Occasionally, she gives a kick or a punch simply because it is fun for her to explore her new limbs. When Mommy sings, it becomes a rapid succession of kicks and punches. As for me, I like to lie on Mommy's tummy every night and talk to Audrey. She may not understand our words right now but she can definitely feel our love.
	.video(data="Sm4uRTf5V4g")
	.fleuron
.group
	h2#third 3rd Trimester

	h3 30 November, Wednesday  (Week 30)
	.subline Mommy's waist: 37.5", Mommy's weight: 65.3 Kg
	.story Doctor's Talk. SCGS 7.30pm

	.fleuron

	h3 3 December, Saturday (Week 31)
	.story #[.ellis] We are counting down to the arrival of Audrey! The past few weeks were really hectic. Other than the many matters of the new house, Papa and Mummy were also busy settling some of Audrey's stuff. Insurance policy insuring Mummy during pregnancy and Audrey at birth has been submitted and is pending approval. We have also enrolled for the Cord Blood and Cord Lining Bank with Cord Life for 21 years after attending a talk.
	.story At the Baby Fair over the weekend, we bought Audrey's diaper, some cute Mittens and Booties, Baby detergent and bottle cleanser and Mummy's nursing bra. We are slowly ticking off the checklist of things to buy and it really feels real now! 
	.photoset(data-layout="12")
		img(src="https://4.bp.blogspot.com/-mhjNpTbflzg/WE3qWcTwqxI/AAAAAAABcbQ/JtM24KBh-UMY1uiAro0RZYo5rBZdmgcqACLcB/s1600/20161204_183403.jpg")
		img(src="https://2.bp.blogspot.com/-dvzhlyBrjNo/WE3qWurQySI/AAAAAAABcbY/YAiT8gr8zZoo7lKhE24mY92PaTAApPWAgCLcB/s1600/20161204_183342.jpg")
		img(src="https://3.bp.blogspot.com/-SepeEdk5_Z4/WE3qWoC8gCI/AAAAAAABcbU/tkWorlPMIbwGuX6PpFfj8zTkPhagMSyGwCLcB/s1600/20161204_183337.jpg")
	.story Daddy tested the appliances we bought for Audrey such as bottle steriliser, breast pump and mattress to ensure it is usable when Audrey arrives. He secretly lied on the mattress and exclaimed how comfortable it is. Naughty Daddy. Daddy also tested the breast pump by putting it on his flat chest and he was shocked by how painful it was! Mummy, on the other hand, was busy picking the beansprout husks. It was really time consuming and energy draining but it was satisfying to complete bowls of husks. Soon, Daddy will sew the pillow case and we can fill it with the husks. Please wait for the one and only one Audrey's Husk Pillow made with love!

	.fleuron

	h3 10 December, Saturday (Week 32)
	.subline GA: 31 Weeks. EDD: 10-02-2017<br>
		| BPD: 77.65 mm. HC: 284.73 mm. AC: 274.16 mm. FL: 58.69 mm.<br>
		| EFW: 1712 g. Heart Rate 145 BPM.<br>
		| Mommy's weight: 65.6 Kg
	.story #[.elvin] Audrey makes big wave-like movements now. I think she is dancing. It sure looks there is a party going on in there. After the party over, she sleeps a lot. She would not wake or kick even when I talk to her. Mommy's tummy is a huge bulge now and it doesn't look like it is going to stop anytime soon. We are between four to eight weeks from delivery now. At the doctor's visit, Audrey was in a head down position. With a deft swipe of the scanner, Dr. Tseng found her face and took a snapshot. Audrey was winking and punching her hands to say "Hello"! 
	.photoset(data-layout="21")
		img(src="https://1.bp.blogspot.com/-1oXGDgA3xlg/WEynz6FLQcI/AAAAAAABcX0/asLDQXg2OP0DhKIT2f5ZZ1kaYBehBhjgACLcB/s800/20161210-2.jpg")
		img(src="https://3.bp.blogspot.com/-IobXGW3oJbc/WEynz6RvsdI/AAAAAAABcXs/Pzlwn_Ucr9U2bkswVPwsDrS1xF6gN97aACLcB/s800/20161210-1.jpg")
		img(src="https://1.bp.blogspot.com/-Rd7KJPlUEKc/WEynz462IsI/AAAAAAABcXw/ZlYO0nDJaaYjNRT9d2YB9SCFLircKae2gCLcB/s1600/20161210-3.jpg")
	.story On a serious note, raising a child is serious business. We were given an estimation of the hospital: doctor's delivery fee - $3000, hospitalisation - $5000, daily doctor checkup - $300, daily PD checkup - $200. You need to build a small warchest before you start on this Adventure of Parenthood. Running resources can ruin all the fun.
	.story Right now, my favourite activity is buying Audrey's clothes. These miniature and adorable clothes tugs at my heart string all the time. They are designed to lure parents into an impulsive frenzy to whip out their wallets and buy! So today, we came back with two more sets of clothes. I heard the stories of children outgrowing their clothes in matter of weeks but we can't help ourselves. Look at those cute mittens hanging up to dry. Soon, I will wear them on Audrey and satisfy my primal urge to create the cutest baby ever.
	.photoset(data-layout="A1243423")
		img(src="https://1.bp.blogspot.com/-VYLRvp3URSk/WE0QkrlZEQI/AAAAAAABcaI/nFirXMJvK6QEySochGErCznI9mGMsb_iwCLcB/s800/IMG_7378.jpg")
		img(src="https://2.bp.blogspot.com/-UK3NneBEfHo/WE0Qkj_-ZDI/AAAAAAABcaE/YVY2-7PXiMojbveTMOYpCkEcyY10-i_NACLcB/s800/IMG_7414.jpg")
		img(src="https://4.bp.blogspot.com/-Wh-6kYnrdc4/WE0QkV_em7I/AAAAAAABcaA/a2CX4-qBmKcRbjf2-Efo8SUnkB1-0P3CACLcB/s800/IMG_7424.jpg")
		img(src="https://4.bp.blogspot.com/-7mcH29ttJKI/WE0QnSBWkkI/AAAAAAABcac/BZ_czPCuKkIufy2LBzhHZYr5FVltDhGbwCLcB/s800/IMG_7443.jpg")
		//img(src="https://2.bp.blogspot.com/-thOzHVNFmu8/WE0QlyTc0sI/AAAAAAABcaM/MTp6pMHOo60TndAOhJe6hX3Z3bCjqsB4gCLcB/s1600/IMG_7430.jpg")
		//img(src="https://1.bp.blogspot.com/-MAgzf1EPH1A/WE0QmSgqWjI/AAAAAAABcaQ/bu7dAoUyQBEcFKjkr-SSC2640E3YtW54gCLcB/s1600/IMG_7433.jpg")
		//img(src="https://1.bp.blogspot.com/-8AV6R_nhqxg/WE0QmQ99zmI/AAAAAAABcaU/jFwJw8DbFIkGI10H61hku5LEgPitMEOHACLcB/s1600/IMG_7435.jpg")
		//img(src="https://1.bp.blogspot.com/-FBIOnFzn9_c/WE0Qm8TCu_I/AAAAAAABcaY/2fAygVIQDJA8_84rk1V4ZzaLMRDBb8OOwCLcB/s1600/IMG_7437.jpg")
	

	.fleuron

	h3 24 December, Saturday (Week 34)
	.story Pack baby and Mommy's bag.

	.fleuron

	h3 7 February, Tuesday (Week 40)
	.story Estimated Due Date

	.fleuron


.group
	h2#appendix Appendix
	h3 Hadock Formula for estimating fetal weight
	.subline &#8258; Hadlock 4: Log10 (weight) = 1.3596 -0.00386 &times; AC &times; FL + 0.0064 &times; HC + 0.00061 &times; BPD &times; AC + 0.0424 &times; AC + 0.174 &times; FL
	.subline *: Indicates a scan was done.
	h3 Acronyms
	.subline AC: Adominal Circumference; BPD: Biparietal Diameter; CRL: Crown-Rump Length; EDD: Estimated Due Date; EFW: Estimated Fetal Weight, FHR: Fetal Heart Rate; FL: Femur Length; GA: Gestational Age; GS:Gestational Sac; HC: Head Circumference; NT: Nuchal Translucency

	h3 Growth Chart
	.story
		#figures(style='height: 60vh')

	h3 Weight Chart
	.story
		#weight(style='height: 60vh')

script(type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js")
script.
	$( document ).ready(function() {
	var figures = [
		{
		name: "CRL",
		x:[7,9,11,12,13],
		y:[6.27, 24.97, 45.98, 54.56,63.1]
		},
		{
		name: "HC",
		x:[12,14,20,22,24,28,32],
		y:[71.3, 90.89, 168, 193.24, 221.66, 270.22, 284.73],
		},
		{
		name: "AC",
		x:[12,14,20,22,24,28,32],
		y:[58.1, 100, 140, 174.93, 200, 248.70, 274.16],
		},
		{
		name: "BPD",
		x:[12,14,20,22,24,28,32],
		y:[19.8, 26.27, 47, 50.27, 59.83, 71.84, 77.65],
		},
		{
		name: "FL",
			   x:[20,22,24,28,32],
			   y:[30, 38.75, 43, 49.22, 58.69],
		},
		];
	var weight =  [
		{
		name: "EFW",
			   x:[20,22,24,28],
			   y:[289, 491, 862, 1202],
			   line: {shape: 'spline'},
		}];

		layout = {
			//title: 'Baby Audrey Growth Chart',
			//legend: {"orientation": "h", },
			margin: {
			    l: 50,
				    r: 0,
					    b: 50 ,
						    t: 0,
							    pad: 4
								  },
			xaxis: {
				title: 'Pregnancy Week (Gestational Age)',
				dtick: 2,
			},
			yaxis: {
				title: 'Measurement in Millimeters',
				dtick: '20',
			}
		}
		Plotly.newPlot('figures', figures, layout, {displayModeBar: false});

		//layout['title'] = 'Baby Audrey Weight';
		layout['yaxis']['title'] = 'Weight in Grams';
		layout['yaxis']['dtick'] = 100;
		Plotly.newPlot('weight', weight, layout, {displayModeBar: false});
	});
