---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-GZfqMMgq40M/V4DH9_1098I/AAAAAAABWzY/Nf5yFXQeYqIndzCOJmb96Vr14euVkNtjACLcB/s1600/Baby-20160709-2.jpg
title: Baby
excerpt: Our family
author: Ellis
date: 2015-06-01
permalink: /baby
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 A New Beginning
	.story 10 June. GS  9.00 mm. GA 5w 5d +/- 10d. EDD 05-02-2017.<br>
		| 15 June. GS 16.86 mm. GA 6w 4d +/- 10d. EDD 04-02-2017.<br>
		| We got our gynae to confirm our pregnancy after my missed period. We were elated. A little baby growing inside me.
	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-1qUH5AnxKes/V4DH9L8-EBI/AAAAAAABWzM/deEbqpA5L1YwzIHX479aRgldJHZlk2tAACLcB/s1600/Baby-20160610-1.jpg")
		img(src="https://4.bp.blogspot.com/-DrEPiuSMf7M/V4DH9MG-SPI/AAAAAAABWzI/UXtsnBb8zEYpB2Eb6rokRJKAKivgcJTCgCLcB/s1600/Baby-20160615-1.jpg")
	.story 25 June. CRL 6.27 mm. GA 6w 4d +/- 6d. EDD 14-02-2017.<br>
		| I was bleeding and got really worried for little baby. Went to the clinic and I cried when I heard little baby's heartbeat! Thump, thump, thump, thump. What a relief!
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-XyBuPQtcaTc/V4DH9AmbIBI/AAAAAAABWzE/LpQEn-AOX4QaRwcrsPsnILyyoXw49n5IwCLcB/s1600/Baby-20160625-1.jpg")
		img(src="https://2.bp.blogspot.com/-9QwB36nqpkk/V4DH9mkAozI/AAAAAAABWzQ/XFIwXOKCuRMSM7Yn2wsEub4en2jFmLngQCLcB/s1600/Baby-20160625-2.jpg")
	.story 9 July. CRL 24.97 mm. GA 9w 0d +/- 6d. EDD 11-02-2017.<br>
		| Something is forming inside me! Nice to meet you, little baby! We heard your heartbeat once again! I'm so grateful ! Stay strong and keep growing, baby!!
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-Jt8lTgBDzbE/V4DH9nPAOlI/AAAAAAABWzU/TebcMLPVWk8TN3-0_TY3lMnmMX6MKtCIwCLcB/s1600/Baby-20160709-1.jpg")
		img(src="https://1.bp.blogspot.com/-GZfqMMgq40M/V4DH9_1098I/AAAAAAABWzY/Nf5yFXQeYqIndzCOJmb96Vr14euVkNtjACLcB/s1600/Baby-20160709-2.jpg")
	.story 22 July.	CRL 45.98 mm. GA 11w 2d +/- 6d. EDD 08-02-2017.<br>
		| I felt a little cramping past few days and thought I should go for a check. Here, my little baby. I saw you moving around and I hear your heartbeat! Good job, baby! Keep it up!!
	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-mwvQ7wuA0W4/V5K0VGMu1II/AAAAAAABXOY/9lMsal6dwosKacZ7fJkfdecJVytNJxADgCLcB/s1600/Baby-20160722-2.jpg")
		img(src="https://4.bp.blogspot.com/-pHhkvN68fqI/V5K0VEW4ukI/AAAAAAABXOU/8PMJa_mIL68gG35GMTMx1BmCh9GHti1mwCLcB/s1600/Baby-20160722-1.jpg")
	.story 26 July.	CRL 54.56 mm. GA 12w +/- 6d. EDD 07-02-2017.<br>
	.photoset(data-layout="1")
		img(src="https://3.bp.blogspot.com/-z7lgrO0nVIU/V6VvLyjW--I/AAAAAAABYCU/zmPDR54nrUQGuA5-ZUVvYlxKk4EAmmNcACLcB/s1600/Baby-20160726-1.jpg")

	.story 30 July.	CRL 63 mm. GA 12w +/- 6d. EDD 07-02-2017.<br>
	.photoset(data-layout="1232123")
		img(src="https://2.bp.blogspot.com/-MK27JxoBAeA/V67EBvt7MtI/AAAAAAABYEA/gEA9csIdgIIA9BEJk27ZPA4eSW09OPNigCLcB/s1600/00013.png")

		img(src="https://3.bp.blogspot.com/-uc3qtxsfEIo/V67ECZqtHFI/AAAAAAABYEU/lyMwf6Q3zoglKezucLZp5oARU99RdyxFwCLcB/s1600/00035.png")
		img(src="https://2.bp.blogspot.com/-ROEHtKr0wIU/V67ECyZ_3dI/AAAAAAABYEY/nv4momwh8qM__-Uyv6-Wcp3m77Lm8965QCLcB/s1600/00039.png")

		img(src="https://2.bp.blogspot.com/-PiB3w1CbQuU/V67EA_etTWI/AAAAAAABYD8/t5SahphnSekI7gYdD9e6J_UisJK-2NXkACLcB/s1600/00002.png")
		img(src="https://4.bp.blogspot.com/-MiG7qr7rNFw/V67EAze1HVI/AAAAAAABYD4/dD7sBsPENfkp3Jv6WHPB5AN9gY_CQarLQCLcB/s1600/00007.png")
		img(src="https://3.bp.blogspot.com/-qukvCLRxZs8/V67EA71OzKI/AAAAAAABYD0/_rFzQsL3kAoOt7Z7EpJEf4lynEQI7BiPwCLcB/s1600/00011.png")
		img(src="https://1.bp.blogspot.com/-IPr2FZoFxT8/V67EBpe1i3I/AAAAAAABYEI/T_pkn1p1bN0wnbypQ1Od2JN2tueegoBUwCLcB/s1600/00012.png")
		img(src="https://4.bp.blogspot.com/-gYiuXIYrdC4/V67EBs6ZOaI/AAAAAAABYEE/QGmuWUzBNIMVdZL8ultAcTw64uUh__gwQCLcB/s1600/00014.png")
		img(src="https://4.bp.blogspot.com/-0cPmcfl7PLg/V67ECOzIuZI/AAAAAAABYEM/pbieMBA9YBgIARNbrUCOoAhtjUBJM0fuACLcB/s1600/00021.png")
		img(src="https://3.bp.blogspot.com/-hdoNrzQNf9M/V67D8dFbZhI/AAAAAAABYDw/pwJe1i_PYBg4tz0wtOoI4Tinx6USFfEywCLcB/s1600/00022.png")
		img(src="https://2.bp.blogspot.com/-J8ltG_IAIPo/V67ECaeuC6I/AAAAAAABYEQ/8012O_JgWWEUlht-84wBry2sfMlOLKlPwCLcB/s1600/00023.png")

	.story 13 Aug.	CRL 83.37 mm. BPD 26.27 mm. GA 14w 4d +/- 8d. EDD 07-02-2017. <br>
		| HC 90.89 mm. GA 14w 1d +/1 9d. EDD 10-02-07.
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-4x1jDPaZ00w/V67HwobbkxI/AAAAAAABYEk/DTSgZUaf4cU0nF07mC-LOTbkrhQJBv2AQCLcB/s800/Baby-20160813-1.jpg")
		img(src="https://4.bp.blogspot.com/-wXZj5ZL8ciE/V67Hwi4k7wI/AAAAAAABYEo/ePvMIdfo4RAZGn2KOTk-wfdR1JXM-kwGACLcB/s800/Baby-20160813-2.jpg")
.group
	h2 Resource
	.story http://www.babymed.com/fetal-and-obstetric-ultrasound-measurements-pregnancy#<br>
