---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-GZfqMMgq40M/V4DH9_1098I/AAAAAAABWzY/Nf5yFXQeYqIndzCOJmb96Vr14euVkNtjACLcB/s1600/Baby-20160709-2.jpg
title: Baby
excerpt: Our family
author: Ellis
date: 2016-06-01
permalink: /baby
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}

.group
	h2 A New Beginning
	h3 10 June
	.story GS  9.00 mm. GA 5w 5d +/- 10d. EDD 05-02-2017.<br>
		| We got our gynae to confirm our pregnancy after my missed period. We were elated. A little baby growing inside me.
	.photoset(data-layout="1")
		img(src="https://1.bp.blogspot.com/-1qUH5AnxKes/V4DH9L8-EBI/AAAAAAABWzM/deEbqpA5L1YwzIHX479aRgldJHZlk2tAACLcB/s1600/Baby-20160610-1.jpg")

	h3 15 June
	.story GS 16.86 mm. GA 6w 4d +/- 10d. EDD 04-02-2017.<br>
	.photoset(data-layout="1")
		img(src="https://4.bp.blogspot.com/-DrEPiuSMf7M/V4DH9MG-SPI/AAAAAAABWzI/UXtsnBb8zEYpB2Eb6rokRJKAKivgcJTCgCLcB/s1600/Baby-20160615-1.jpg")

	h3 25 June
	.story CRL 6.27 mm. GA 6w 4d +/- 6d. EDD 14-02-2017.<br>
		| I was bleeding and got really worried for little baby. Went to the clinic and I cried when I heard little baby's heartbeat! Thump, thump, thump, thump. What a relief!
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-XyBuPQtcaTc/V4DH9AmbIBI/AAAAAAABWzE/LpQEn-AOX4QaRwcrsPsnILyyoXw49n5IwCLcB/s1600/Baby-20160625-1.jpg")
		img(src="https://2.bp.blogspot.com/-9QwB36nqpkk/V4DH9mkAozI/AAAAAAABWzQ/XFIwXOKCuRMSM7Yn2wsEub4en2jFmLngQCLcB/s1600/Baby-20160625-2.jpg")

	h3 9 July
	.story CRL 24.97 mm. GA 9w 0d +/- 6d. EDD 11-02-2017.<br>
		| Something is forming inside me! Nice to meet you, little baby! We heard your heartbeat once again! I'm so grateful ! Stay strong and keep growing, baby!!
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-Jt8lTgBDzbE/V4DH9nPAOlI/AAAAAAABWzU/TebcMLPVWk8TN3-0_TY3lMnmMX6MKtCIwCLcB/s1600/Baby-20160709-1.jpg")
		img(src="https://1.bp.blogspot.com/-GZfqMMgq40M/V4DH9_1098I/AAAAAAABWzY/Nf5yFXQeYqIndzCOJmb96Vr14euVkNtjACLcB/s1600/Baby-20160709-2.jpg")

	h3 22 July
	.story CRL 45.98 mm. GA 11w 2d +/- 6d. EDD 08-02-2017.<br>
		| I felt a little cramping past few days and thought I should go for a check. Here, my little baby. I saw you moving around and I hear your heartbeat! Good job, baby! Keep it up!!
	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-mwvQ7wuA0W4/V5K0VGMu1II/AAAAAAABXOY/9lMsal6dwosKacZ7fJkfdecJVytNJxADgCLcB/s1600/Baby-20160722-2.jpg")
		img(src="https://4.bp.blogspot.com/-pHhkvN68fqI/V5K0VEW4ukI/AAAAAAABXOU/8PMJa_mIL68gG35GMTMx1BmCh9GHti1mwCLcB/s1600/Baby-20160722-1.jpg")

	h3 26 July
	.story CRL 54.56 mm. GA 12w +/- 6d. EDD 07-02-2017.<br>
		| We rushed from work to the clinic to do a scan. Found out that there was a slight tear that caused the bleeding. The tear was probably from too much walking and exertion. Dr. Liauw advised for a full bed rest in a serious tone. And also no hanky panky.
	.photoset(data-layout="1")
		img(src="https://3.bp.blogspot.com/-z7lgrO0nVIU/V6VvLyjW--I/AAAAAAABYCU/zmPDR54nrUQGuA5-ZUVvYlxKk4EAmmNcACLcB/s1600/Baby-20160726-1.jpg")

	h3 30 July
	.story CRL 63 mm. GA 12w +/- 6d. EDD 07-02-2017.<br>
		| We did the OSCAR test today. The baby barrel-rolled to show her backbone when the sonologist did the scan. Each bone was so distinct on the screen. We saw the brain, tiny fingers and toes. At one point, it looked like the baby was crossing legs and raising its hands. It was touching to watch.
	.photoset(data-layout="1232123")
		img(src="https://1.bp.blogspot.com/-O0KLolHhG54/V682IzfEMlI/AAAAAAABYFE/UyNDsNmp-lYmnbXonxrKtkJCksfObqVfQCLcB/s1600/00013.png")
		
		img(src="https://2.bp.blogspot.com/-MyzKzT3q1DE/V682J2ZEULI/AAAAAAABYFY/RsDNxbzsi8cCFkO4_wQ4zakoEcG-4uTwgCLcB/s1600/00035.png")
		img(src="https://1.bp.blogspot.com/-jQU6X1AhWZc/V682KQPv48I/AAAAAAABYFc/lZlmfB2LMacgNSh4m4_ESsbQXHV_BvcGACLcB/s1600/00039.png")

		img(src="https://2.bp.blogspot.com/-UZdRP7nR7qU/V682_SgNipI/AAAAAAABYFg/U8HaLOypsn0cH7tsC2TdSnYzROlLzqphQCLcB/s1600/00002.png")
		img(src="https://1.bp.blogspot.com/-k_SQWSUO5XQ/V682IMl1D5I/AAAAAAABYFA/Tm5uWapDVaQmjHfWgUVzDeT4zIcbpzJPQCLcB/s1600/00007.png")
		img(src="https://4.bp.blogspot.com/-LKptjnVopbU/V682ILhw-uI/AAAAAAABYE8/xc_bRqzZw0Y8xF-ocGqXacKfSBWsl7GWwCLcB/s1600/00011.png")
		img(src="https://1.bp.blogspot.com/-b_hbZjmcPN8/V682IHko_hI/AAAAAAABYE4/rbN04H5j_zQ_mE1H9oSliLwQZU6EP_61wCLcB/s1600/00012.png")
		img(src="https://2.bp.blogspot.com/-AUQifHTG-gg/V682I51ugPI/AAAAAAABYFM/59OoSMuEUAISFb82Tf1Owg4xpbzdSUfvACLcB/s1600/00014.png")
		img(src="https://3.bp.blogspot.com/-LPmaaO0210U/V682JFcsLGI/AAAAAAABYFI/LyuOtnObHakKleD4IEsIY_oD9hDFv15OwCLcB/s1600/00021.png")
		img(src="https://1.bp.blogspot.com/-bgAkrr2ZiMc/V682Jkt4xzI/AAAAAAABYFQ/qkOsrtjbDKcVCOYwwzOJ8mpXs7IkoJZtwCLcB/s1600/00022.png")
		img(src="https://2.bp.blogspot.com/-y6xc0wnmQ_Y/V682Jjx6RXI/AAAAAAABYFU/J3XfLkReAWY9ubO6BjQjJs9WJezFEClbgCLcB/s1600/00023.png")

	h3 13 Aug
	.story CRL 83.37 mm. BPD 26.27 mm. GA 14w 4d +/- 8d. EDD 07-02-2017. <br>
		| HC 90.89 mm. GA 14w 1d +/1 9d. EDD 10-02-07.<br>
		| Dr Tseng briefed us on the OSCAR report. The stats are all good. Did a scan on the progress of the baby. It is 2cm bigger than before. The heartbeat is stronger. Finally, the doctor thinks we have a girl! Time to think of girls' names.<br>
	.story Getting out of the doctor's office, our eyes were glued to the television. It was the live broadcast of Joseph Schooling's match: the 100m butterfly final of Rio 2016. From the time Joe sprung off the board, the whole clinic was cheering for him. He was ahead of the pack. At the turn, he pulled ahead further and was a body length ahead when he touched the end of the pool. The crowd went wild. It was over in 50.39 second. An Olympic Record for the butterfly and finally a gold medal for Singapore. We were ecstatic to witness this historic moment together with baby.
	.photoset(data-layout="2")
		img(src="https://2.bp.blogspot.com/-4x1jDPaZ00w/V67HwobbkxI/AAAAAAABYEk/DTSgZUaf4cU0nF07mC-LOTbkrhQJBv2AQCLcB/s800/Baby-20160813-1.jpg")
		img(src="https://4.bp.blogspot.com/-wXZj5ZL8ciE/V67Hwi4k7wI/AAAAAAABYEo/ePvMIdfo4RAZGn2KOTk-wfdR1JXM-kwGACLcB/s800/Baby-20160813-2.jpg")

	h3 29 Aug
	.story It has been two weeks since we saw baby. The past few days were not good. First, the yearly haze has returned. The PSI went above 200. That left us scrambling for N95 masks and air purifier. In the last two days, the news broke on the Zika virus detected on our shores. Forty-one infected cases have been found so far. As the Zika virus is harmful to pregnant mother, we are finding ways and means to keep mummy and baby safe. That means closing the door, not letting the mosquito in, five-steps mozzie wipe out and dousing mummy with insect repellant. We hope to tide through this difficult time safe and sound.

	h3 24 Sep
	.story FA Scan. TMC tour.

	h3 Future
	.story pregnancy classes.
.group
	h2 Resource
	.story http://www.babymed.com/fetal-and-obstetric-ultrasound-measurements-pregnancy#<br>
