---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-a1jKXIFYyEM/V5adCOps03I/AAAAAAABXdk/5MX2KqmGNrIATPUw8pi4dt97ARFrYv1lQCLcB/s1600/Sea-Horizon-EC-Sea-View.jpg
title: Sea Horizon
excerpt: Our Love Nest
author: Elvin & Ellis
date: 2016-01-01
permalink: /lovenest
---
header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated 
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 Floor Plan
	.story
	.photoset(data-layout="1B132313231323132313231323132")
		img(src="https://1.bp.blogspot.com/-sr6EKyBmPzA/V5adCZSHivI/AAAAAAABXdo/9zc7k5JsXRcBWNHXqhQsxYvyNjNTYrT3gCLcB/s1600/SH-NEW-Siteplan-Revised.jpg")
		img(src="https://1.bp.blogspot.com/-myX_y4cap6o/V5adCXVRgaI/AAAAAAABXds/WaqyOPUqOtIaEGJ_ltet3DnG9I4e7jisACLcB/s800/Sea-Horizon-Site-Plan-Unit-Type-Distribution.jpg")
		//img(src="https://1.bp.blogspot.com/-a1jKXIFYyEM/V5adCOps03I/AAAAAAABXdk/5MX2KqmGNrIATPUw8pi4dt97ARFrYv1lQCLcB/s800/Sea-Horizon-EC-Sea-View.jpg")
		img(src="https://2.bp.blogspot.com/-Fp0jELKUXbs/V5adC5KqtJI/AAAAAAABXdw/Qi8zSLmZCaUq1rbABwy8aK1NUBGQBRFvwCLcB/s800/Sea-Horizon-floor-plan-C7.jpg")
		img(src="https://4.bp.blogspot.com/-nU4mcC7EIyA/V5adC2pjEiI/AAAAAAABXd0/Dhkzrj_aQRg8uw50bIDiZm5FCKnDiKRYwCLcB/s800/Sea-Horizon-floor-plan-C7p.jpg")

		img(src="http://4.bp.blogspot.com/-yR9W7jDt5Eo/V5abvTrytsI/AAAAAAABXdc/-BGmbgt93dc2Y2eqvO2-ekZWtyPRiJjTQCK4B/s1600/Floor_Measurement.png")
	

.group
	h2 Living Room
	.story
	.photoset(data-layout="3332313231323132313231323132")
		img(src="https://1.bp.blogspot.com/-IggGAJ4DHJk/V5anpR5oe9I/AAAAAAABXeg/HdLR_rUtaH8d3jaOiqE_rlQ4zHlM-ouPgCLcB/s500/FB_IMG_1428927464068.jpg")
		img(src="https://2.bp.blogspot.com/-qlSYw7UWtBc/V5anpQzSwgI/AAAAAAABXek/GRwQxPSfhjEYfCqywAFsM9QY0H5l9S9LgCLcB/s500/FB_IMG_1429157823537.jpg")
		img(src="https://1.bp.blogspot.com/-bPtjOHhZlZc/V5anpLp_vhI/AAAAAAABXec/p7aJv8zazokJuID1tYpZu0EDjxuOdTu7QCLcB/s500/FB_IMG_1429967298742.jpg")
		img(src="https://3.bp.blogspot.com/-Gmbz4VsgKCU/V5anplwj8OI/AAAAAAABXeo/nvzuNYNFAQYlvUIcs0qcXUIn8LoTN76qwCLcB/s500/FB_IMG_1430229085678.jpg")
		img(src="https://1.bp.blogspot.com/-XU0kbf-gHv4/V5anppMUSwI/AAAAAAABXes/cioFm6OxHIMWTyt7lJhQ4HlyIQC0fbwCQCLcB/s500/FB_IMG_1433772178778.jpg")
		img(src="https://2.bp.blogspot.com/-ch_V7_qDppk/V5anpxDrwzI/AAAAAAABXew/72KpXPHgtEoFT6NzqU-jVAQCT3IpmT8HACLcB/s500/FB_IMG_1433828415809.jpg")
		img(src="https://2.bp.blogspot.com/-flE5GCgj7xE/V5anqLXScyI/AAAAAAABXe0/jGxoNWq0AlU8m8dmiUe7SRdlV7SVxlvAwCLcB/s500/FB_IMG_1435736717393.jpg")
		img(src="https://4.bp.blogspot.com/-sjlGbZErCm0/V5anqTInMvI/AAAAAAABXe4/gm66YRTtQiIdmCZFw9WwqZ8m50A9_ZQzwCLcB/s500/FB_IMG_1436926600697.jpg")
		img(src="https://4.bp.blogspot.com/-bHaQ_D_4YRM/V5anqaF_BuI/AAAAAAABXe8/nDtZrqw-IgYTEjNurt8PJZyp9fmntrjHgCLcB/s500/FB_IMG_1437234920103.jpg")
		img(src="https://2.bp.blogspot.com/--Z4Fv4a3wWA/V5anqpHPyWI/AAAAAAABXfA/iKs29IIXkykd9VY5ds1VLyRlNyz3v-PagCLcB/s500/FB_IMG_1437441106010.jpg")
		img(src="https://4.bp.blogspot.com/-5E2muPkrJ6Q/V5anq60DiBI/AAAAAAABXfE/LwsL3kkZBx4Dz8S1hC12doF1C0hYfb_dQCLcB/s500/FB_IMG_1445523010038.jpg")

.group
	h2 Balcony
	.story
	.photoset(data-layout="1B132313231323132313231323132")

.group
	h2 Kitchen
	.story
	.photoset(data-layout="1B132313231323132313231323132")

.group
	h2 Laundry
	.story
	.photoset(data-layout="3332313231323132313231323132")
		img(src="https://1.bp.blogspot.com/-Bsu9g9ePh4E/V5ak1uUjBSI/AAAAAAABXeQ/ajiYVTgAco8Ghh4P9QTqXBkFjDptBYzngCLcB/s500/Screenshot_2015-05-29-08-42-59.png")
		img(src="https://3.bp.blogspot.com/-qhZlndt1Sng/V5ak08jd2GI/AAAAAAABXeE/ddJq5GNWmkQdWwWGru2JzyCIt-8klv60wCLcB/s500/FB_IMG_1430700787527.jpg")
		img(src="https://3.bp.blogspot.com/-kw2LDfnhSrY/V5ak1EYWn-I/AAAAAAABXeM/cXi_gJ_Ht48ha7eAMUy9eVXR0tVRH95zwCLcB/s500/Screenshot_2015-02-18-22-32-27.png")
		img(src="https://3.bp.blogspot.com/-RXPPVS0h-rQ/V5ak01XujaI/AAAAAAABXeI/Ty9PP5iAoNY19C2OwQLb0kODi97JRaayQCLcB/s500/Screenshot_2015-04-15-09-10-10.png")

.group 
	h2 Store
	.story
	.photoset(data-layout="1B132313231323132313231323132")

.group
	h2 Master Bedroom
	.story
	.photoset(data-layout="1B132313231323132313231323132")

.group
	h2 Child Room
	.story
	.photoset(data-layout="1B132313231323132313231323132")

.group
	h2 Study Room
	.story
	.photoset(data-layout="1B132313231323132313231323132")

