---
layout: exposure
label: family
cover: https://1.bp.blogspot.com/-GN---YDSw1E/V8LTAbr7HfI/AAAAAAABYxc/fraWqqxk2ncZwqO5WJkHzY1ndtxVg_C7ACLcB/s1600/88.jpg
title: Parenting
excerpt: Teaching the little ones
author: Elvin and Ellis
date: 2016-08-01
permalink: /parenting
---

header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 12 Keys to Effective Parenting
	.story
		ul
			li Providing love, affection and concern
			li Helping childen build self-esteem
			li Having respect for children
			li Accepting children and showing approval
			li Having a good understanding of discipline technique
			li Providing clear and reasonable expectations
			li Being consistent in handling children
			li Setting strict and firm limits
			li Having consistent parenting approaches among all the child-care figures in the home
			li Enforcing limits
			li Allowing dissent and expression of feelings within the limits
			li Being able to let go of our children

	h3 How Behavior Problems Develop
	.story Difficult temperament -> Negative feedback -> Misbehavior -> Parental stress, criticism, and attentionto misbehavior -> Negative self-image and self-fulfilling prophecy -> Punishment and continued negative feedback -> More consistent behavior problems

	h2 Self-esteem
	.story The child's single most important tools for successfully facing the problems, issues, and crises that the arise in day-to-day life is self-esteem. Self-esteem and self-image are the key factors in how your child learns, achieves, gets along with peers, and loves others. Criticism and negative comments to children and adolescents erode self-esteem and undermine the confidence children have in themselves.

	h3 Criticism
	.story
		ul
			li Criticism means censure and unfavourable comments either verbally or in writing.
			li When parents criticize a child, the child's self-esteem gradually erodes. If criticism and other negative ways of dealing with situations continue unabated over years, a child may develop precious little sense that he or she is a good and worthwhile person.
			li Focus on misbehavior and mistakes makes the kids feel discouraged. They know very well when they mess up or make mistakes. They don't need their parents rubbing it in.
			li When parents can accept their children, give them encouragement, and focus on what will help them feel good about themselves, kids have a chance to improve and to break out of their own "slumps".
			li "Children need models more than they critics." - Joseph Joubert
			li When is telling the truth criticism and when is it giving our kids important feedback about their behavior?
			li Telling a child that she is immature, irresponsible, or acting like a younger child is definitely a critical remark.
			li The more important and underlying question is: Can we enhance a child's feelings aoubt herself and help her to gain new knowledge, self-esteem, or self-control through such criticism?

	h3 Changing Critical Communication into Noncritical Comments
	.story
		table
			tr
				th Critical Statement
				th Noncritical Statement
			tr
				td "You're so stupid! Can you do anything right?"
				td "You seem to be having a tough time remembering the material you study for tests."
			tr
				td "Pay attention! No wonder you don't know anything - you never listen."
				td "It's hard for you to pay attention right now. Let's say we take a break and try again."
			tr
				td "Shut up! You are not making any sense - as usual."
				td "Can we go over this again? I don't think I follow what you're saying."
			tr
				td "I don't know why you're so lazy. You're just not putting forth any effort. How do you expect to make anything of yourself if you don't try?"
				td "Based on my conversation with you and your teacher, motivation seems to be a big problem for you. What do you think?"

	h3 Positive Traits to Look for in Your Child
	.story
		table
			tr
				td 
					ul Personality Traits and Characteristics
						li Persistence
						li Single-mindedness
						li Friendliness
						li Humor
						li Optimism
						li Honesty
						li Curiosity
					ul Peer Relationships
						li Plays well with friends
						li Is willing to share
						li Is considerate
						li Makes new friends easily
						li Is polite
						li Is compassionate
				td
					ul Interests and Hobbies
						li Diverse interests
						li Productive use of time alone
						li Healthy competitiveness
						li Constructive hobbies
						li Athletic skills

					ul Home and Family Behavior
						li Is obedient
						li Completes chores
						li Is respectful
						li Maintains orderly habits

					ul School and Work Habits
						li Dedication
						li Organized
						li Persistence
						li Neatness
						li Creativity


	h3 Giving Attention by Describing Behavior
	.story A behavior is reinforced when we pay attention to it.

	h3 Adding Praise to Descriptive Remarks
	.story Both attention and praise are discipline techniques that strengthen and increase desired and appropriate behaviors.



.group
	h2 Discipline

