---
layout: exposure
label: romance
cover: http://4.bp.blogspot.com/-wtP2Nx502OE/V5VU6gziSFI/AAAAAAABXWs/4hm1oAaz86URym5vbYzt7mA8y-9tF3pQwCK4B/s1600/P1030762.jpg 
title: 2016
excerpt: Finland, Goodbye Mercedes, Penang, Hello Baby
author: Elvin
date: 2016-01-01
permalink: /2016
---

header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}

.group
	.story #[img(src="https://1.bp.blogspot.com/-rYVKRmqGt_g/V8oRNJLfpVI/AAAAAAABY_4/O8JqxWY1vVsYH3nVkvkSKSQJA7MUMEIbwCLcB/s90/E-8.jpg" align="left" alt="E")]ventful. That's 2016 for us. First, we had an incredible honeymoon at Nellim. The place was like a scene out of a movie. Everywhere was covered with snow as we huddled in a glass igloo to catch the aurora borealis. In the middle of the year, Mom and Dad went to Penang with us. It was a relaxing and happy trip. On the job front, I switched company and joined a superb team. There are always much laughter in the office. Just when I thought things couldn't get any better, Ellis announced the good newsthat she is expecting.
.group
	h2 Ellis Birthday
		.date 17 January
	.story
	.photoset(data-layout="WA")
		img(src="https://3.bp.blogspot.com/-056PrzuV_yw/V5xtzyHrV8I/AAAAAAABXwY/TppEfeFZJ04dbY9c0T86b6nwa4vvn8whgCLcB/s1600/P1030778.jpg")

		img(src="https://2.bp.blogspot.com/-DVeA1imvddg/V5xtzzgqykI/AAAAAAABXwU/483YjKeCecwHOrJd8nT1q2tRt9RGr_WuQCLcB/s800/P1030788.jpg")

		img(src="https://1.bp.blogspot.com/-7G4qhVgsNYM/V5xtyswgYgI/AAAAAAABXwI/FTY316M_FVcYJXrqTTUn7VGI7MYCkQ_qgCLcB/s500/P1030773.jpg")
		img(src="https://1.bp.blogspot.com/-zYdkpnZ62SA/V5xtywRr9QI/AAAAAAABXwM/SG7RybMwwK4Kna2m23KdW7okbMGMchP0ACLcB/s500/P1030775.jpg")
		img(src="https://2.bp.blogspot.com/-j-7yHxZSLWM/V5xtzSwm8_I/AAAAAAABXwQ/UIsutlB28u4tOe_Touow20IX7zMSTv3TwCLcB/s500/P1030776.jpg")
		//img(src="https://3.bp.blogspot.com/-QsXYU8yEiX4/V5xt0BVhwqI/AAAAAAABXwc/znqeA3QKZGAM956LqqR_UpDkNPKcG0ZhACLcB/s800/P1030796.jpg")

	.photoset(data-layout="1232")
		img._(src="http://4.bp.blogspot.com/-wtP2Nx502OE/V5VU6gziSFI/AAAAAAABXWs/4hm1oAaz86URym5vbYzt7mA8y-9tF3pQwCK4B/s1600/P1030762.jpg")

		img(src="https://4.bp.blogspot.com/-JZF7Q5NkpC8/V5xtxkdPfUI/AAAAAAABXv8/9jzMMdiEiUANymlEu2bW1bpL1ynQlOBQgCLcB/s800/P1030744.jpg")
		img(src="https://1.bp.blogspot.com/-LZtp_ELld5s/V5xtx3rF6_I/AAAAAAABXwA/LDS2EnyevPQIVrJ5SdlqDSzF4mzLPu7zgCLcB/s800/P1030746.jpg")

		//img(src="https://1.bp.blogspot.com/-AbF1cjJWCc8/V5xt02FlwOI/AAAAAAABXwk/Ae1S-lgtDrUX8xyT1hJ_wZR6pVM0LZuOACLcB/s500/P1030835.jpg")
		img(src="https://2.bp.blogspot.com/-en_zRdBZ9dw/V5xt1Iah0MI/AAAAAAABXwo/GkH4qaoW0RggsQSW-xlzJ8jXCzYIzQr6gCLcB/s500/P1030846.jpg")
		img(src="https://2.bp.blogspot.com/-T3JwWkY__pE/V5xt2VA1IdI/AAAAAAABXww/qJlx07wMMQsbQBZChIdddP__NkP2tAT1QCLcB/s500/P1030865.jpg")

		img(src="https://4.bp.blogspot.com/-59gj5cPnhXg/V5xt2ifW7YI/AAAAAAABXw0/_oCgHZallQgBNBcVQ3Uc1ArG3w9fLDS0gCLcB/s1600/P1030870.jpg")

		img(src="https://2.bp.blogspot.com/-_vlG9DnOgkU/V5xt1g0vwSI/AAAAAAABXws/LEHACfLa5-Am6LySIFGFlH9MnIp9wBk9gCLcB/s500/P1030857-2.jpg")
		//img(src="https://4.bp.blogspot.com/-mhGjTeIK7yc/V5xt20Is3-I/AAAAAAABXw4/lx1jfzlmckgSQLM4XOQWpq0woPM9fLnZACLcB/s500/P1030875.jpg")
		img(src="https://1.bp.blogspot.com/-xO7etE6gd1Q/V5xt3Tia6nI/AAAAAAABXxA/LwKNTvhKoro7xdYKPCTYO_ixBWkfy81VgCLcB/s500/P1030910.jpg")

	.photoset(data-layout="3B")
		img(src="https://3.bp.blogspot.com/-udwlZ-Jei9w/V5xt4SVbWMI/AAAAAAABXxI/Em2KMb_e2tErFSZuhIilMT3tRnU7MLT1ACLcB/s800/P1030923.jpg")
		img._(src="https://2.bp.blogspot.com/-Ds2TXEHWNQo/V5xt6MoRPcI/AAAAAAABXxg/BPPVRsP3GBsfI0MMuHjLtzVja-n-2nrHgCLcB/s800/P1030964.jpg")
		img(src="https://1.bp.blogspot.com/-kifhoyoDuf0/V5xt3dQagPI/AAAAAAABXw8/R9MW_sm4i9Auk3k_l8tyoMkM0_ohDjaOgCLcB/s1600/P1030891.jpg")

		img(src="https://2.bp.blogspot.com/-K_BRED-CytA/V5xt5Qoel4I/AAAAAAABXxU/o9-3_-UB73gOUafmOedOa-MzBKx34WyzwCLcB/s800/P1030942.jpg")
		img(src="https://2.bp.blogspot.com/-3VrLjiTaQZ4/V5xt459j96I/AAAAAAABXxM/we3JBbelGLIsbmfGBW7CNdtqQTzGaKWeACLcB/s800/P1030933-2.jpg")
		img(src="https://1.bp.blogspot.com/-jG6BvFR3424/V5xt4vHXDcI/AAAAAAABXxQ/CqqYkp6Ra7o3IWjnWpNPNYOt0b6bFACSgCLcB/s800/P1030931.jpg")

	.photoset(data-layout="23")
		img(src="https://4.bp.blogspot.com/-bhhAM4bC4Dc/V5xt6-7nJZI/AAAAAAABXxk/ExWD-NOkgjE_3cF91c25sPDoRf3rieYUgCLcB/s800/P1030973.jpg")
		img(src="https://1.bp.blogspot.com/-9xhSTfiJ_Q0/V5xt7KC_C1I/AAAAAAABXxs/BxVHfnVSi_EiH44qJ4y0v7CtsnWOxP4aQCLcB/s800/P1030982.jpg")
		img(src="https://3.bp.blogspot.com/-m0O0EnOS_eQ/V5xt6-obdFI/AAAAAAABXxo/tMpLcU6CRwk67rBp1YlOt2MZ3BJK8okGQCLcB/s500/P1030977.jpg")
		img(src="https://1.bp.blogspot.com/-as-h7I-kOF8/V5xt7gd25eI/AAAAAAABXxw/vduwIeETtK8IFozuvhhw5azHpR8vtPP9QCLcB/s500/P1030985.jpg")
		img(src="https://4.bp.blogspot.com/-AvE7qVtVRps/V5xt7l5fT5I/AAAAAAABXx0/K9ZOhbtzxhY3XOy02LLG0r5UBH58M_c7ACLcB/s500/P1030989.jpg")
		//img(src="https://4.bp.blogspot.com/-dxkuV-pZsUU/V5xtyQb_HcI/AAAAAAABXwE/I1i3bSYhz3cZvgjs5CPdNIIcL9cjyMbrgCLcB/s1600/P1030770.jpg")
		//img(src="https://3.bp.blogspot.com/-eHqkEYoUV5c/V5xt0puK4HI/AAAAAAABXwg/DkheuY8R9WEQisSZL5lznm3jLiXTY0xvgCLcB/s1600/P1030818.jpg")
		//img(src="https://2.bp.blogspot.com/-M295XXuyryk/V5xtxV_PvmI/AAAAAAABXv4/l9eV-iqt1OoS29GyJmouptM9sDJ9RItlQCLcB/s1600/P1030767.jpg")
		//img(src="https://3.bp.blogspot.com/-fY3nhaS2fX4/V5xt3yeEGdI/AAAAAAABXxE/ZlXcqxGUDIUswBiRzS9ePZiYi0ttBi4xACLcB/s1600/P1030912.jpg")
		//img(src="https://4.bp.blogspot.com/-eRrz21WyL1Y/V5xt57_mfQI/AAAAAAABXxY/aA3dbNkz__IIsaVwmIzkjo2j3gB9WK99wCLcB/s1600/P1030959.jpg")
		//img(src="https://4.bp.blogspot.com/-aFwQip3uxys/V5xt53nIrUI/AAAAAAABXxc/f9EeyeiTnXcP4w9_nQoFekkGuRYMMsG8QCLcB/s1600/P1030963.jpg")
		
.group
	h2 Finland Honeymoon
		.date 27 January
	.story We planned this trip to #[a(href="finland") Finland] for months and it all worth it. The white snow and auroras is simply beautiful.  See the photo albums of #[a(href="finland") Finland], #[a(href="porvoo") Porvoo], and #[a(href="nellim") Nellim].
	.photoset(data-layout="2")
		img(src="https://1.bp.blogspot.com/-rcGWWZGrl_A/V1DHkRpky3I/AAAAAAABVzI/g_ZJonGZF5U7i4gg4-FBW1hOGSahsJ8nACLcB/s800/P1300497.jpg")
		img(src="https://2.bp.blogspot.com/-fbRqgFgeS2g/V0jeeFZZclI/AAAAAAABVq4/iOYTp2E8ASECuGyuFrMLThiK7AmVnYRigCLcB/s800/P2030038.jpg")
	
.group
	h2 Chinese New Year
		.date 8 February
	.story Ellis and I made it back in time from our honeymoon for CNY celebration. This year, we had our photos "professionally" taken as I have a tripod, a camera and a remote trigger. It also means I didn't have to hold up the video recording - goodbye shaky footages. I think both Ellis's family and mine look good in the photos. Ellis' side has so many family members that we can have soccer teams each aside.
	.photoset(data-layout="2")
		img._(src="https://1.bp.blogspot.com/-f1ldVD3X_Is/V9nUvBbj_uI/AAAAAAABZjs/UFHPqMwbd-I6I9AN6CZzkLSAqLUj85gBwCLcB/s1600/Family.jpg")
		img._(src="https://1.bp.blogspot.com/-wt7eyuEMlFk/V9qdX36YItI/AAAAAAABZlU/PL8TRFaZdvkNuJS-vt5BdmosPueXvPKTACLcB/s1600/P2090302-2.jpg")
		//img(src="https://2.bp.blogspot.com/-A1G94lh7y8I/V9nUxABIeaI/AAAAAAABZjw/3Zgcv3alYwQ84oeKehrx1cTglQKL1J4uQCLcB/s1600/P2080218.jpg")
	.video.cont(data="cHcUuu7F56s")

.group
	h2 Goodbye Mercedes
		.date 9 February
	.story This is my Dad's Mercedes which we use it like a family car. I've grown to embrace its quirks over the past three years. When you step on the foot brake after parking, it rocks back and forth. In full reverse and full steering lock, the engine power drops like ninety percent. At the end of its ten-years life, it is still looking good.
	.photoset(data-layout="132323232")
		img._(src="https://4.bp.blogspot.com/-wLpN_nUVAUw/V9nVQf-qsYI/AAAAAAABZj0/hqPU6uTnsgYkU4jc_6AkMdP2-Q6QRY_yACLcB/s1600/P2090248.jpg")
		img(src="https://1.bp.blogspot.com/-qkyHtrwuqEI/V9nVRGPkssI/AAAAAAABZkA/P0DfG-eJ_1AO-FdyaIZCzPJ8nurOjKqtgCLcB/s500/P2090249.jpg")
		img(src="https://2.bp.blogspot.com/-gdOh0cRm-yo/V9nVRsMezEI/AAAAAAABZkI/zhi6k1uTD-0vKqJjm_on13fG5Uc3gb7dgCLcB/s500/P2090251.jpg")
		img(src="https://3.bp.blogspot.com/-I-2EP91HEiM/V9nVTbDsWbI/AAAAAAABZkY/uLY8PyWwqTU8cKCsorm_fFaxpDdvskYQQCLcB/s500/P2090259.jpg")
		img(src="https://1.bp.blogspot.com/--ZAmJmd_RIk/V9nVRonZfYI/AAAAAAABZkE/gZD1mu1p_XQmgw0SHYYcUlA2KDEqmdoDgCLcB/s800/P2090254.jpg")
		img(src="https://2.bp.blogspot.com/-iOu1L-olJ9s/V9nVT4KTd6I/AAAAAAABZkc/cC6JaVcOHCgnbbvC71p2tay19tQ8VgSNgCLcB/s800/P2090260.jpg")
		img(src="https://4.bp.blogspot.com/-tCQAirCL_go/V9nVT0s8hkI/AAAAAAABZkg/J_D86ZioVLA3pR33n-xgrjY_Fa7TP3gnQCLcB/s500/P2090261.jpg")
		img(src="https://2.bp.blogspot.com/-Wsiijx-opRs/V9nVVtjH9GI/AAAAAAABZk0/Fqpxp_T5FcQJf4BAddpkSKhatHHSIEekACLcB/s500/P2090287.jpg")
		img(src="https://3.bp.blogspot.com/-gpCHePn6ajo/V9nVWaPIhSI/AAAAAAABZk8/FvP1ZS73UAIma9g43LIco_9b4JcaWJ6GACLcB/s500/P2090291.jpg")

		//img(src="https://2.bp.blogspot.com/-C8fUN4ArEjU/V9nVQSP4yWI/AAAAAAABZj4/sQ-LlB8aBZYw0baNIUTpW0ySBlrM7UEfQCLcB/s1600/P2090245.jpg")
		//img(src="https://2.bp.blogspot.com/-06IWQCUDiL0/V9nVQanLJdI/AAAAAAABZj8/HIgonmGcRJIc88s6s_PbdSTVnYDE-0kUQCLcB/s1600/P2090247.jpg")
		//img(src="https://2.bp.blogspot.com/-0-THNB_-N84/V9nVSRhkPzI/AAAAAAABZkM/h6CdT8jCYDwJQo7CFCu7LErosDx65fxsgCLcB/s1600/P2090256.jpg")
		//img(src="https://4.bp.blogspot.com/-A5kUsh_KNus/V9nVSnB_yAI/AAAAAAABZkU/zydaXQi7yNgsTmyT52Jqvv4eGc4_Ng_IwCLcB/s1600/P2090257.jpg")
		//img(src="https://3.bp.blogspot.com/-4qW5RT0A6E4/V9nVSX29AJI/AAAAAAABZkQ/6J-SqZlUFRMKTwblRRC_55CX1dFsdOhIQCLcB/s1600/P2090258.jpg")
		//img(src="https://4.bp.blogspot.com/-Jk1BpTbqerQ/V9nVUcLXYeI/AAAAAAABZkk/23OqIX-A8JIKMN-2JH3XVPQjqU_PNlNCgCLcB/s1600/P2090263.jpg")
		//img(src="https://3.bp.blogspot.com/-Wv7OpsRAU_4/V9nVUrV4aPI/AAAAAAABZks/YdDM2I-dgYotUYBS6PS5W_EJqndE5QijgCLcB/s1600/P2090268.jpg")
		//img(src="https://1.bp.blogspot.com/-6dTUmDxw67o/V9nVUgTsLlI/AAAAAAABZko/jyYaPGJFj-IqMrKQurtsGLXZ3D4us7bZgCLcB/s1600/P2090264.jpg")
		//img(src="https://1.bp.blogspot.com/-Y0h9uSswBgQ/V9nVVf1d5BI/AAAAAAABZkw/4b4tsExtDNIIOXhwv2mxu6u6YQ6AnD4YQCLcB/s1600/P2090286.jpg")
		//img(src="https://3.bp.blogspot.com/-UfW6CzOjKMc/V9nVVnzjU-I/AAAAAAABZk4/N0fmOQ0rSCA3txi4gGlaGSBpM3yZPYFPACLcB/s1600/P2090288.jpg")

.group
	h2 Valentine's Day
		.date 13 February
	.story For this year's valentine, we made our flowers instead of ordering a bouquet. At Far East Floral wholesale centre, there were endless rows of fresh flowers. Inside the cold room, the temperature is kept low so the flowers do not bloom or wilt. Ellis chose purple Eustomas and white hydrangeas. Back at home, we were busy cutting and arranging the flowers into our Alto vase. This is the final result. Happy valentine's day!
	.photoset(data-layout="21")
		img(src="https://2.bp.blogspot.com/-zLNUJG4P2xI/V-9ThNVsdPI/AAAAAAABaC0/kAPKOd8OeY00PnHOiyL9dxLSx4eA2QDxgCLcB/s800/P1050500.jpg")
		img(src="https://1.bp.blogspot.com/-YmmmXayXieU/V-9Thi7fXuI/AAAAAAABaC4/_gPBMOaE0bU5uGLV17QwaDMeGBbC7koVgCLcB/s800/P1050498.jpg")
		img._(src="https://3.bp.blogspot.com/-riIfWvHGr8Y/V-9TgBn2eiI/AAAAAAABaCw/hmZ0gkTk5Zkh2awZYFmtjH-OHTW3ML-bwCLcB/s1600/P2130321.jpg")
.group
	h2 Pulau Ubin
		.date 1 May
	.story 
	.photoset(data-layout="3232")
		img(src="https://1.bp.blogspot.com/-t_uGptQbCLM/V-9hLabC2eI/AAAAAAABaDM/mOZGYUW-k544cTdCzxzPvEFP_Eh-RHHowCLcB/s500/20160501_080442.jpg")
		img(src="https://3.bp.blogspot.com/-jRrkPOecEOE/V-9hMnmPBkI/AAAAAAABaDc/2IvojJJZ3dIhRyum_VJvnedq9zU1xg9zwCLcB/s500/20160501_101224.jpg")
		img(src="https://1.bp.blogspot.com/-8SScQt4Vk2M/V-9hM7Wg65I/AAAAAAABaDg/-dBMw38C6ykWR9S4Tcu45TiHgPO9-cY1gCLcB/s500/20160501_101241.jpg")
		img(src="https://2.bp.blogspot.com/-PNnDmm5aaig/V-9hLdvIAYI/AAAAAAABaDQ/C7jU0WwPIAElS7hFnN2OTrH3N5mCWBKTwCLcB/s800/20160501_085202.jpg")
		img(src="https://2.bp.blogspot.com/-Icax1LPHoOw/V-9hMcjRyQI/AAAAAAABaDY/0_IrkqY8MoY6VfZhwK51lJGD2ZygW3XgACLcB/s800/20160501_085224.jpg")

		img(src="https://3.bp.blogspot.com/-wacbxd8rDoI/V-9hNxxMG9I/AAAAAAABaDs/7EfkUqTpUIsiAQPAae5KxNV3rYxzGCkAwCLcB/s500/20160501_115022.jpg")
		img(src="https://3.bp.blogspot.com/-C6VhfDmi0Lc/V-9hN4WFJuI/AAAAAAABaDo/ahfZEPf2j2kxu47q0mbbcvJc8FlKP5eIACLcB/s500/20160501_115140.jpg")
		img(src="https://4.bp.blogspot.com/-qv8piSjRl8A/V-9hPekB8ZI/AAAAAAABaD8/3YAEOcsZj0UQby1a8BciPTGHRQKg7XytgCLcB/s500/20160501_115259.jpg")

		img(src="https://3.bp.blogspot.com/-RgRbSszpQkQ/V-9hOvmM1FI/AAAAAAABaDw/nXB0cM6pC5Mw2Cq1OyoKDBUTkuEkekFGACLcB/s800/20160501_115207.jpg")
		img(src="https://3.bp.blogspot.com/-DTZRdmQtTUo/V-9hO-XeR1I/AAAAAAABaD4/gzAglhPcyEkKkPWpydcuWxvyUJNkZVW_QCLcB/s800/20160501_115226.jpg")
		//img(src="https://1.bp.blogspot.com/-OR3AZ88JrIY/V-9hLJExl6I/AAAAAAABaDI/T_A-Ow6SPtkGZDixyEj0QCAXxFMXdSHPQCLcB/s1600/20160501_085158.jpg")
		//img(src="https://4.bp.blogspot.com/-lZP5TYrpVbo/V-9hL9ovrpI/AAAAAAABaDU/1Ks7pJMtUe0LaMQM_m6PnjYmwiMTI1OfQCLcB/s1600/20160501_085221.jpg")
		//img(src="https://4.bp.blogspot.com/-_-9JPSfKguA/V-9hO2kql1I/AAAAAAABaD0/UHLYIGriZlE3wleMXOCOF1CM6Y8dSvRBQCLcB/s1600/20160501_115235.jpg")
		//img(src="https://4.bp.blogspot.com/--Sv4IJGsoHk/V-9hN7MQ6rI/AAAAAAABaDk/atqzmad24d8k5g8WzqD-oLCrqK4ecwPpQCLcB/s1600/20160501_115059.jpg")
	
.group
	h2 Mother's Day
		.date 8 May
	.story
	.photoset(data-layout="3232")
		img(src="https://4.bp.blogspot.com/-8Pmpa4S2xug/V_O7a1osx1I/AAAAAAABaGI/0r4mmIvkWLY79ECiQDJEmY2NJQ_Jk77YACLcB/s1600/20160508_203537.jpg")
		img(src="https://1.bp.blogspot.com/-IOMXALLcA6A/V_O7a8kNsDI/AAAAAAABaGM/uWIJHsc4C9o4xRfj_gogh4EOWRgxqA9-QCLcB/s1600/20160508_203542.jpg")
		img(src="https://4.bp.blogspot.com/-DTvnesxazrs/V_O7atYNXgI/AAAAAAABaGE/y1rrU_DUWUQcwag2yLWmzvC7vf_Yj_QGACLcB/s1600/20160508_204404.jpg")

.group
	h2 Marmalade Pantry
		.date 8 May
	.story
	.photoset(data-layout="3232")
		img(src="https://2.bp.blogspot.com/-Tk_hFsOCOIg/V_myWr6EliI/AAAAAAABaI8/TgFFioGEBhsj3nwrWL9I0urEG3jbIIhoQCLcB/s1600/20160508_103157.jpg")
		img(src="https://4.bp.blogspot.com/-sXVFBA0WPxU/V_myWQq-vvI/AAAAAAABaJA/lnsQQxaDGkk04oBSppJkNlXxq1jqgX63ACLcB/s1600/20160508_103249.jpg")
		img(src="https://3.bp.blogspot.com/-KmoylzLGRb8/V_myWYgERVI/AAAAAAABaI4/opi4L2WVQwwARP4U3OEKIiWhaS90jF2PgCLcB/s1600/20160508_103356.jpg")
		img(src="https://4.bp.blogspot.com/-M1KZbrDTYkQ/V_myX6D3lEI/AAAAAAABaJI/IGqp0CDeOa85rMeWY5pWWtKyvkdoj5kfACLcB/s1600/20160508_112533.jpg")
		img(src="https://3.bp.blogspot.com/-tVeouLcC8-U/V_myYP8HCAI/AAAAAAABaJM/KPCxTJRIOcEOWtysUqYp4_gZEDRdDtn-ACLcB/s1600/20160508_112615.jpg")
		img(src="https://4.bp.blogspot.com/-ho5KiqZkM-Y/V_myXxWgoyI/AAAAAAABaJE/1xEFVMqUlA0NxCmajrBYBrFpN5MjKmaUwCLcB/s1600/20160508_112715.jpg")
		img(src="https://4.bp.blogspot.com/-1Y488X7HKnQ/V_myZNGfMxI/AAAAAAABaJQ/wim8Pv5NFGUA7dVKupKC1ZFCswAzNh8ngCLcB/s1600/20160508_112806.jpg")
		img(src="https://1.bp.blogspot.com/-M8B1knfUD7Q/V_myZnubuaI/AAAAAAABaJY/pR9l5jNmDJQYp8LDqq4BhSN9hzjOo7b5ACLcB/s1600/20160508_112818.jpg")
		img(src="https://4.bp.blogspot.com/-QYgouHy23RM/V_myZgoe9HI/AAAAAAABaJU/IU-1l_n5Khcl7kE8xxT4gYAMwChCww27gCLcB/s1600/20160508_115055.jpg")
		img(src="https://2.bp.blogspot.com/-zwnSilI9jvk/V_myaBljvPI/AAAAAAABaJc/69bZxlpo814QVc2kJxWoGgp82pA5v4xbgCLcB/s1600/20160508_115125.jpg")

.group
	h2 Penang
		.date 14 May
	.story I took a break from work and our family went on a trip to #[a(href="penang") Penang]. It's rare occasion that all of us could arrange a common time off. See the #[a(href="penang") photo album of Penang].
	.photoset(data-layout="3")
		img(src="https://2.bp.blogspot.com/-umTKdLI3tx8/V1led-CcqxI/AAAAAAABWCk/39ju2Fvu_UkuN-CUVKegPkce5kF2QmkggCLcB/s500/P1060468.jpg")
		img(src="https://4.bp.blogspot.com/-VvS7bZIfvVY/V1gsTAwePyI/AAAAAAABWBA/1PQzRSRtXwsrMAGUUSKqG5Puw0g-2mVSACLcB/s500/P1070004.jpg")
		img(src="https://1.bp.blogspot.com/--I_eY5xIyrc/V1YD5WhznII/AAAAAAABV8c/0FbnkauO5uwk-kPk06j6i1_k4ucG-5fuQCLcB/s500/P1060071.jpg")

.group
	h2 M Social
		.date 27 June
	.story 
	.photoset(data-layout="232323232332322323232")
		img(src="https://2.bp.blogspot.com/-Ca3hmcfOPtM/V9vjCCE7CuI/AAAAAAABZls/Wfq29DW32_IQOaKSfVoTyNBij0TbOHKPACLcB/s1600/P1070054-2.jpg")
		img(src="https://3.bp.blogspot.com/-7EVqxbULO-Y/V9vjBzgk8jI/AAAAAAABZlo/fcealTFhxhAIZQj22nfwE2p7fgSPgRl6QCLcB/s1600/P1070059.jpg")
		img(src="https://1.bp.blogspot.com/--HifIx0pPT4/V9vjCFdfmFI/AAAAAAABZlk/XrI_tZeMxNolssfTfLxzY7LDqAF39W-eQCLcB/s1600/P1070062.jpg")
		img(src="https://1.bp.blogspot.com/-1HbesfIUg3E/V9vjDQN1XTI/AAAAAAABZlw/lMaoB3MQ0lQ-Ea80x3WxOFNtHPxTO0cDACLcB/s1600/P1070064.jpg")
		img(src="https://1.bp.blogspot.com/-F37kRNSLWaE/V9vjD3S67OI/AAAAAAABZl4/Pz10D1knxlQ_yjOjDCuEt6n4elf01FsRgCLcB/s1600/P1070066.jpg")
		img(src="https://1.bp.blogspot.com/-fKqZ23FfD78/V9vjDxJ8FOI/AAAAAAABZl0/NJbKZhfa4f81CZIp4jNktnBwYMQm1DuyQCLcB/s1600/P1070067.jpg")
		img(src="https://4.bp.blogspot.com/-_UcCx1xjGT4/V9vjEr5CjFI/AAAAAAABZl8/D-hlBZMy0mc0DgeNulrgDcWfXubv7HQJgCLcB/s1600/P1070068.jpg")
		img(src="https://1.bp.blogspot.com/-DXeL7LIQcOo/V9vjFch3OeI/AAAAAAABZmE/qypLzBdeOM085i1bVjAGHnl-hLKRLn3JACLcB/s1600/P1070071.jpg")
		img(src="https://4.bp.blogspot.com/-oxamAnKDS50/V9vjFTZUk-I/AAAAAAABZmA/onU9zTyM6e83dsoiJ4PbtlOpNU_VwijTgCLcB/s1600/P1070073.jpg")
		img(src="https://4.bp.blogspot.com/-EVrVGOJfU0o/V9vjF3DjckI/AAAAAAABZmI/HhRcyjgq0GQO8RqhFxQ874BjreRb0SHvACLcB/s1600/P1070074.jpg")
		img._(src="https://2.bp.blogspot.com/-NDICp6vMm60/V9vjGoAbRUI/AAAAAAABZmM/ZvCPqxGOmoMuHp4xnKuS9dmYrNOhCj2_ACLcB/s1600/P1070077.jpg")
		img(src="https://4.bp.blogspot.com/-V43ir7-mZwM/V9vjG__u_8I/AAAAAAABZmQ/9fudNCen5Wouezx7sjQ9lvIiNeFx3NIQwCLcB/s1600/P1070080.jpg")
		img(src="https://4.bp.blogspot.com/-xhp2RemeG3g/V9vjHKRfz9I/AAAAAAABZmU/0YdhTjD9JWUXm8Y3KyWqbEHU25fclFwugCLcB/s1600/P1070082.jpg")
		img(src="https://1.bp.blogspot.com/-XW4oNILrI0I/V9vjI3TgIXI/AAAAAAABZmk/zfMBn6YHYjkraCoxrlVluJXGCbYGEwb4ACLcB/s1600/P1070090.jpg")

		img(src="https://1.bp.blogspot.com/-jepuID9iBsk/V9vjHuIetjI/AAAAAAABZmY/CM2BAtStqgIgPqkCIZW8bR4zqTD-bun5QCLcB/s1600/P1070085.jpg")
		img(src="https://4.bp.blogspot.com/-J0K_dj4GATM/V9vjIHYBGbI/AAAAAAABZmc/5ryET9bLjsoeDIkBAi8OFBETuwH8GafTwCLcB/s1600/P1070086.jpg")
		img(src="https://1.bp.blogspot.com/-LyGLlhlFJlI/V9vjIRXKbAI/AAAAAAABZmg/O7zy6qz2nZomH1HyDw7tNs5e4zw8Wjo0gCLcB/s1600/P1070088.jpg")
		img(src="https://2.bp.blogspot.com/-kPckk1bxy3U/V9vjKCMhECI/AAAAAAABZmo/_Rk3oXhI_dsxD8--n7yiFmSjq6Nm6haagCLcB/s1600/P1070091.jpg")
		img(src="https://4.bp.blogspot.com/-gqFIsAlHsiA/V9vjKcSuHMI/AAAAAAABZms/WeDxsiLtiqAPNxt9907FhRetUHMdnR3-gCLcB/s1600/P1070092.jpg")
		img(src="https://3.bp.blogspot.com/-asXIL3JUvP4/V9vjKTMWlWI/AAAAAAABZmw/dJGDPmMAVOwuPfbQBvqc5_Tnkr_TwI29wCLcB/s1600/P1070095.jpg")
		img(src="https://2.bp.blogspot.com/-pLALlXbg0jM/V9vjLBWVO6I/AAAAAAABZm0/2MM1OpAY9qwuEwR46uINdit4iQkvaVbwACLcB/s1600/P1070100.jpg")
		//img(src="https://2.bp.blogspot.com/-a4w7WQoitMc/V9vjL5ol12I/AAAAAAABZm4/yxlKca5jQLAp_tbmnIEpK_cZgGk33D8rQCLcB/s1600/P1070102.jpg")
		img(src="https://3.bp.blogspot.com/-jgKTVxyKEGA/V9vjL-TXkFI/AAAAAAABZm8/LbD1U0r4mZ8RfUraIqzrHYM4C1oBkhpIQCLcB/s1600/P1070103.jpg")




.group
	h2 Dad's 60th Birthday
		.date 4-5 September
	.story 
	.photoset(data-layout="232323232332322323232")
		img(src="https://1.bp.blogspot.com/-6jNLIPxFEYQ/V84FwY25aeI/AAAAAAABZPw/pBElE1_cAXAKBqP2nsUy5ecHposSs_F9ACLcB/s1600/P1070130.jpg")
		img(src="https://2.bp.blogspot.com/-lPdpJrCqSz0/V84FwLEmnKI/AAAAAAABZPo/3wVAdzykFjYgrmeSUwbjax9bZDOt-e2mQCLcB/s1600/P1070132.jpg")
		img(src="https://4.bp.blogspot.com/-jimAKYuf1E8/V84FwbTmhMI/AAAAAAABZPs/n1i_kw26th4FI_RR551umIc_vXO5RGE3ACLcB/s1600/P1070136.jpg")
		img(src="https://1.bp.blogspot.com/-vqFI2symSjI/V84FxG11JGI/AAAAAAABZP0/aJW2IggmEBg8qWU1Cw7MoFSx1Pht3t_XQCLcB/s1600/P1070137.jpg")
		img(src="https://2.bp.blogspot.com/-eP5hlK8tqok/V84FxyGNLFI/AAAAAAABZP4/IsFPaHOO3qsYoHGvOg1lB4f5SExWOxaJACLcB/s1600/P1070138.jpg")
		img(src="https://4.bp.blogspot.com/-7lSDAJsCg5Y/V84FyPHtGgI/AAAAAAABZP8/aIeCSvDkELk_aPaJ5lPh9i523GS8Ng9rwCLcB/s1600/P1070140.jpg")
		img(src="https://4.bp.blogspot.com/-Dw5rsbNPDgY/V84FyIzMh6I/AAAAAAABZQA/sEQNNRBwgjMxbk1gbEFQuoDOUDTjeLwMwCLcB/s1600/P1070143.jpg")
		img(src="https://4.bp.blogspot.com/-7enaviAi6CM/V84FzVFF-BI/AAAAAAABZQE/Ocd6u6n86Ggof1zG8Vx95D5sFzyPeNGkwCLcB/s1600/P1070146.jpg")
		img(src="https://1.bp.blogspot.com/-cAaUvIh3Cgg/V84FzSmLCqI/AAAAAAABZQI/HaCPDPNeU18WIcavUu-pS0W4bvO-Qu4twCLcB/s1600/P1070149.jpg")
		img(src="https://4.bp.blogspot.com/-3ub715OqYKs/V84FzbGuJOI/AAAAAAABZQM/zoEOLyrPlNgWu1OhzVMKoPJmf339nWAHwCLcB/s1600/P1070151.jpg")
		img(src="https://2.bp.blogspot.com/-zbZw7cR-RbE/V84F0Zo3ROI/AAAAAAABZQQ/VH46_rVqBlkcLixt-pzk3UhXrbSkgdK0QCLcB/s1600/P1070153.jpg")
		img(src="https://3.bp.blogspot.com/-Xo4INZ-SaEE/V84F0uQPfsI/AAAAAAABZQY/2L2xJDgcFOUx6_kleRjGu_9CKp6taTwVgCLcB/s1600/P1070154.jpg")
		img(src="https://1.bp.blogspot.com/-LXWvtgN1vQo/V84F0vDdsiI/AAAAAAABZQU/wFoyoook8dUyuvT7G9ff0Wu1CmyKkiMkQCLcB/s1600/P1070156.jpg")
		img(src="https://3.bp.blogspot.com/-3b932Kq_qv4/V84F1e7Rn7I/AAAAAAABZQc/fu8ovXKNf7c59J5zS_WEcoF-sOwm9Il4wCLcB/s1600/P1070164.jpg")
		img(src="https://3.bp.blogspot.com/-blbuWDMr_jc/V84F1bqeJ0I/AAAAAAABZQg/FO12AG_w2C8Lb3nuw4EFB-8z6SH5FkdaQCLcB/s1600/P1070168.jpg")
		img(src="https://2.bp.blogspot.com/-VR2kEROyOII/V84F1jfiWQI/AAAAAAABZQk/vdd0l5jQLfoK9xbCTdrO2mROBUjpmkjpACLcB/s1600/P1070171.jpg")
		img(src="https://2.bp.blogspot.com/-Y78Dv6Z24TI/V84F2Q4HlLI/AAAAAAABZQo/T_4EkqDjYvALaD7Ltt2pn8erbICueqxmwCLcB/s1600/P1070175.jpg")
		img(src="https://1.bp.blogspot.com/-K62pGFiKEks/V84F2gBMEKI/AAAAAAABZQs/XiYH3leucNcPWZMPyucKrpPWqqCF9a-JQCLcB/s1600/P1070176.jpg")
		img._(src="https://2.bp.blogspot.com/-4P6NNcQJWwU/V84F2gGGDZI/AAAAAAABZQw/r4yHbABaPPoTzI_aswN0VhNgoapFQyxpQCLcB/s1600/P1070178.jpg")
		img(src="https://1.bp.blogspot.com/-qk2R4O0aQc4/V84F3tllxsI/AAAAAAABZQ0/cW22eyJSlaMTo3oAkh8v1tulWOKvWCwCwCLcB/s1600/P1070179.jpg")
		img(src="https://1.bp.blogspot.com/-_uUPqLn8Obg/V84F3vbwtjI/AAAAAAABZQ4/elluT9XQfPoPHQis8qGnGuom2PiPF33uACLcB/s1600/P1070183.jpg")
		img(src="https://4.bp.blogspot.com/-Yu0kokttqPk/V84F368m4sI/AAAAAAABZQ8/CFJmV1cC0OAByoGqRO4VCj5pLRH_1eDuQCLcB/s1600/P1070184.jpg")
	.videoset(data="xUx3xzTjn3U,vy1IyWb8ERo")

.group
	h2 
		.date 
	.story 
	.photoset(data-layout="232323232332322323232")
