---
layout: exposure
label: romance
cover: http://4.bp.blogspot.com/-wtP2Nx502OE/V5VU6gziSFI/AAAAAAABXWs/4hm1oAaz86URym5vbYzt7mA8y-9tF3pQwCK4B/s1600/P1030762.jpg 
title: 2017
excerpt: Audrey
author: Elvin
date: 2017-01-01
permalink: /2017
---

header
	ul#coverList
	#overlay
		h1 {{ page.title }}
		.excerpt {{ page.excerpt }}
		.byline Narrated by {{ page.author }} &middot; {{ page.date | date: "%B %Y" }}


.group
	.story #[img(src="https://1.bp.blogspot.com/-rYVKRmqGt_g/V8oRNJLfpVI/AAAAAAABY_4/O8JqxWY1vVsYH3nVkvkSKSQJA7MUMEIbwCLcB/s90/E-8.jpg" align="left" alt="E")]
	
	#toc.subline 

.group
	h2 Ellis Birthday
		.date 19 January
	.story Watch the many expressions of Ellis as she is surprised with her birthday present, guessing what it is and finally ripping the wrappers away. A Dyson Supersonic is revealed and she is grinning from ear to ear. She said that it is a tradition to take a photo looking through the Supersonic so here's one for the crowd.
	.photoset(data-layout="23B321")
		img(src="https://4.bp.blogspot.com/-gat1a8T9tPI/WIdGgBV0O6I/AAAAAAABc9A/ccpAY06vH2MNw6s1tXE0Rl08ztaIFHUqwCLcB/s1600/20170118_202707.jpg")
		//img(src="https://3.bp.blogspot.com/-YsfBti-2dyg/WIdGf_ICtEI/AAAAAAABc80/0bwgllG7znIg80zS4SkS-6eQeWTL3KeDgCLcB/s1600/20170118_202817.jpg")
		img(src="https://4.bp.blogspot.com/-Acjn2clEoq8/WIdGg_tASTI/AAAAAAABc9E/AnevJUe2s8IhLsfa_Fs7NsYYSz-3VXyWgCLcB/s1600/20170118_202822.jpg")
		img(src="https://2.bp.blogspot.com/-pq_Xa8xOhLY/WIdGhRcylPI/AAAAAAABc9M/g4_0OAAUZxU8kHCCuJRO1d3Amjcz5cOxgCLcB/s1600/20170118_202826.jpg")
		img(src="https://2.bp.blogspot.com/-8s-irNVptOk/WIdGhIVdsMI/AAAAAAABc9I/_Hj0-T1-EWQxNW_kVYXVmYYvGUJlebSCwCLcB/s1600/20170118_202923.jpg")
		img(src="https://1.bp.blogspot.com/-yWqyWGF1tMo/WIdGh2Ybv8I/AAAAAAABc9Q/vKMAmvca8OkYw7b1AsARS90Y_JG6RJjzgCLcB/s1600/20170118_202925.jpg")

		img(src="https://1.bp.blogspot.com/-4NGuockGMG8/WIdGfyZ11pI/AAAAAAABc88/YH2_4sDjAvMIHO_yFbKUYglMWNzedZ1QQCLcB/s1600/20170118_202559.jpg")
		img(src="https://3.bp.blogspot.com/-2ZQ5kL_l_QA/WIdGiJHDq6I/AAAAAAABc9U/A3jlMYrvwSQWBJSkcrvmGH7BJU9yBYhOgCLcB/s1600/20170118_202947.jpg")
		img(src="https://3.bp.blogspot.com/-plg1TU-I7G4/WIdGid7_lQI/AAAAAAABc9Y/bUzShodCdrEh6EfM5NuBvVHb8qGwvJmtQCLcB/s1600/20170118_203001.jpg")
		img(src="https://1.bp.blogspot.com/-OkVFmkBFc8I/WIdGi0yPleI/AAAAAAABc9c/WpJpg8je28Elws5GQrI867faTyjsrMr-QCLcB/s1600/20170118_203040.jpg")
		img(src="https://2.bp.blogspot.com/-725xuYzXq2s/WIdGi1amfoI/AAAAAAABc9g/DThNacX8G-s1b0NTZcXnsC-T-e1SoD3fQCLcB/s1600/20170118_203041.jpg")
		img(src="https://4.bp.blogspot.com/-DGNWNNubjkI/WIdGjBqa-4I/AAAAAAABc9k/u35aF2ipjJgsfrKN2-W34ZblbbMyQiL4QCLcB/s1600/20170118_203106.jpg")
		//img(src="https://3.bp.blogspot.com/-wiEuTaIHIjo/WIdGjrwzehI/AAAAAAABc9o/eZu0v5Olb3UVJ9rc6wcWuXyAls7c4H5hgCLcB/s1600/20170118_203131.jpg")
		img(src="https://3.bp.blogspot.com/-SBQEdQNvJV4/WIdGj70jTWI/AAAAAAABc9s/M96nyizBJLUdKs4HQfUFv2Xdgncy4ZPOgCLcB/s1600/20170118_203143.jpg")
		//img(src="https://1.bp.blogspot.com/-mwMmz1x4kEM/WIdGkDq3TFI/AAAAAAABc9w/9tPWdzMzQVYXR87ZagS3bTLskiA_uUsAwCLcB/s1600/20170118_203324.jpg")
		img(src="https://3.bp.blogspot.com/-DQTQcx-IYaw/WIdGkuhXn_I/AAAAAAABc90/X_H9vFjAf1odfyG6Do7K9CdepLKU-a4FwCLcB/s1600/20170118_203329.jpg")
		img(src="https://4.bp.blogspot.com/-0F9kJIjEbn8/WIdGlOGJpjI/AAAAAAABc94/2-nST5hPuuU0EDN3io6H3CDw33sNfN-iQCLcB/s1600/20170118_203913.jpg")
		//img(src="https://4.bp.blogspot.com/-GoFTHZONUNg/WIdGlYuWP2I/AAAAAAABc98/cQ9sObZEdo0SyBPrdBsH4HEK49zUDS_jgCLcB/s1600/20170119_080845.jpg")

	.photoset(data-layout="2323232")
		img(src="https://1.bp.blogspot.com/-ptoMs0BE9CA/WIZ62mDJzXI/AAAAAAABc7E/NOHlkNDAEC89-EIPn4mZXN36pmlijIRYACLcB/s1600/IMG_7657.jpg")
		//img(src="https://1.bp.blogspot.com/-oJ8OAWISPlk/WIZ63X7exnI/AAAAAAABc7M/Et2EvTAl39ENIdleRKysp3YUs89mUr_rACLcB/s1600/IMG_7660.jpg")
		img(src="https://2.bp.blogspot.com/--pj2030oFBc/WIZ63HrxCsI/AAAAAAABc7I/YSJJnx8tBk0tcn4r7Xbpjncu6qVeTRmxQCLcB/s1600/IMG_7663.jpg")
		//img(src="https://1.bp.blogspot.com/-RYDasFu0lBU/WIaCuG9_vCI/AAAAAAABc7o/uK7RsNUI-xgtFlKjluuBw_BaAhMo0pG7gCLcB/s1600/IMG_7664.jpg")
		img(src="https://2.bp.blogspot.com/-A1g9obngJCw/WIZ64oOnqsI/AAAAAAABc7Q/7A333ETG6Fk7xdbAqkyEk6739rd1EryNwCLcB/s1600/IMG_7665.jpg")
		//img(src="https://4.bp.blogspot.com/-CtDkFpRkKms/WIZ648dSsgI/AAAAAAABc7U/MntQ3keFA6M3Nqb_p8_ieEHi51kTgIE5wCLcB/s1600/IMG_7669.jpg")
		img._(src="https://1.bp.blogspot.com/-k_i3Ty9r6ys/WIZ663r3x9I/AAAAAAABc7c/8fmFJveLF4gEHT2tNgCri91dV21P8-EgACLcB/s1600/IMG_7674.jpg")
		img(src="https://4.bp.blogspot.com/-G1FpIkt-YgI/WIZ66R6ze7I/AAAAAAABc7Y/4DzX4nudyfQ-5AywljO542Z0sgx6iEdXgCLcB/s1600/IMG_7675.jpg")
	.video(data="BQ96-GD4KKA")
