---
layout: exposure2
label: travel
cover: https://farm8.staticflickr.com/7419/27972964446_8fafff32e3_h.jpg
cover2: https://farm8.staticflickr.com/7419/27972964446_a261f7f777_b.jpg
title: Penang
excerpt: Family trip to an old town
author: Elvin
date: 2016-05-14
permalink: /penang2
---

//flickr
header
	#cover(style="background-image:url({{ page.cover }})")
		#title
			h1 {{ page.title }}
			h2 {{ page.excerpt }}
		#narrated Narrated by 
			span.author {{ page.author }}
			.date {{ page.date | date: "%B %Y" }}
.group
	h2 Life in George Town
	.story Life in George Town goes on at a slower pace than the city life in Singapore. People are not in a hurry to get anywhere. That was my first impression when my family took a short break at Penang. We put up at Cititel which was near to most places we want to go.

	.story We hit the streets to the nearby market for breakfast. Hawkers lined the streets selling meat, vegetables, clothes, houseware and toys next to one another in a boisterous atmosphere. All of the products were displayed at once. It was an organised mess of a thousand things to look at. The locals tittle-tattled and bargained with sellers. The colors, smell and noise surrounded us.

	.photoset(data-layout="321")
	27394237624
	27394237384
	27972956826
	27972960536
	27394236814
	28007546895
	.story We got to the eating area where tables were set up and pushcart hawkers were busy whipping up dishes for customers. It will look like a normal empty ground if you took all that away. You were free to sit anywhere and to order from any carts. It was like a mini impromptu hawker centre. Breakfast was a simple affair for us - fish ball kueh tiao soup paired with fragrant kopi.
	.story The next few days, we got around mainly on the free bus route for tourist, taxi and using our feets. George Town isn't that big so any bus ride will take less than half an hour. There was one mode of transport which we didn't try and that was the rickshaw.
	.photoset(data-layout="32")
	28007547725
	27394237124
	28007547245
	27929725961
	27972963076
.group
	h2 Architecture
	.story George Town has many old buildings. The roads and streets look worn but are generally well-maintained and clean. Temples had elaborate carvings and adornments of mythical creatures. One roof even had triangle spikes. Street arts are found where you least expect it, on walls of ordinary buildings but they give life and character to the humble street.
	.photoset(data-layout="131")
	27929701251
	27929700391
	27972980816
	27972964446
	27972963676
	.story There are shop houses everywhere. Most of them are run-down and look like they have seen better years. Over here, tall modern buildings are a minority. Each shop on the ground floor deals in a different business from the one next to it. As I walk down the road, it may well have been an outdoor shopping centre.
	.photoset(data-layout="231")
	27929700771
	27929698971
	27972961056
	27972958026
	27929699711
	27929699971

.group
	h2 Local Cuisine
	.story We tried many local dishes here: Chendol, Char Kueh Tiao, Char Kueh Kak, Duck Kueh Chup, Curry Mee, Bak Kut Teh. Many of them are available back home but they are rendered in a slightly different style. The egg tarts, tau sar piah and beh teh saw were delicious. We bought several boxes back to Singapore. The Char Kueh Tiao here has a duck egg rendition and it beats the common chicken egg version. It is more fragrant and taste like salted duck egg without the salt.
	.photoset(data-layout="231")
	27929699481
	27972955976
	27929698291
	27972955356
	27393751553
	27929698011

.group
	h2 Kek Lok Si
	.story Which means Temple of Supreme Bliss. What a name. We climbed up what feels like a hundred steps through dark alley flanked by shops and under-construction walkways to reach the temple. Our eyes are in for a treat. The white pagoda is made from three sections of distinct style starting from the top: Burmese, Thai, and Chinese. Walking through the temple feels like a maze where extensions of rooms and buildings were added as an afterthought. The smell of incense pervaded the air and chantings echoes out of rooms and along corridors. I always feel a sense of peace inside a temple and I got the same easy feeling here.
	.photoset(data-layout="1")
	27929723821
	.story The bronze statue of Guanyin was further up on the peak accessible by a diagonal lift. Construction was still ongoing to build a pavilion over the statue. At thirty metres tall, one feels puny looking up at the statue.
	.photoset(data-layout="23")
	28007542775
	27929722521
	28007542105
	27972991006
	27929721181

.group
	h2 Penang Hill
	.story Penang Hill, or Bukit Bendera, is a short 6 km bus ride from George Town. We reached the base of the hill early in the morning and were among the first to take a ride up on the Penang Hill Railway. When we reached the peak at about 700 metres, the air became cooler and misty. We were walking in the clouds. 
	.photoset(data-layout="231")
	27905283522
	27972977156
	27972976426
	27972976056
	27972974206
	27972975486
	.story There were amazing flowers grown at the peak. The flowers were glistening from the morning dew and the vibrant colors invited you to take a picture.
	.photoset(data-layout="31")
	27727463220
	27394287614
	27972975556
	27972978436
	.story It was now time to go down the way we came up. We took the front row seats on the train. Ellis took a hyper-lapse video of the journey. You get a sense of the steepness. The are two trains that acted as a counter balance for each other. As one train went up, the other descends on the same track. In the middle of the video at 0:08, you can see the track fork into two and quickly merge back into one. The trains passed each other at the switching lanes. It was an ingenious design to me.
	iframe.video(src="https://www.youtube.com/embed/vsOu0wohAPM?color=white&showinfo=0&rel=0" frameborder="0" allowfullscreen)

.group
	h2 Upside Down Museum
	.story In one of the shop houses along Kimberley Street, there is an Upside Down Museum. In a place where everything down is up, you can take photos that are out of this world. There were staffs, who looked like students, in every room that will take your camera, guide you on how best to pose and then take photos for you.
	.photoset(data-layout="31")
	27972985906
	27972986766
	27929719251
	27972987276
	.story I wonder if those massive objects, like a table hovering above my head, were screwed securely into the ceiling. The smaller objects and blanket on the bed were astonishing. Did someone apply super glue to the bottom and then held the objects down, I mean up, and waited for the glue to dry? I guess no one has been killed by that falling red rocking horse in the nursery room yet.
	.photoset(data-layout="33")
	27972986316
	27972986136
	27972984866
	27972984866
	27972984586
	27972982856
	.story Once you got past the hilarity of seeing things upside down, the rooms got a little repetitive. It took us forty-five minutes to try out all the rooms in the two levels.

.group
	h2 Camera Museum
	.story As both of us were mad over cameras at the moment, Ellis and I took a short walk from our hotel to visit the Camera Museum. We were not disappointed as the place has a collection of old cameras from various times. Some of them were out of the glass display and I had a great time looking through the lens of vintage cameras trying to frame the scene.
	.photoset(data-layout="31")
	27393671593
	27972965896
	27393668033
	27929702311
	.story The Mamiya RB67 (Rotating Back 6 x 7) was considered a workhorse of its time - 1970s. Built like a tank, you still can buy a used working copy online. Beside it was Mamiya 645 Gold Lizard special edition. Next, we have the Yashica-D, A and Mat lined up in a row. These were 6x6 TLR (Twin Lens Reflex) from an even earlier 1930s to 1950s. The top lens projected the scene onto the ground glass focusing screen, while the bottom lens took the picture. When you focused, both lenses were adjusted at the same time. Because we had TLR, we then had SLR which uses a mirror, prism, and a single lens. And today, we have the DSLR when film gave way to digital sensor.
	.photoset(data-layout="313")
	27393670753
	27393669233
	27394222194
	27929704161
	27972969246
	27394223084
	27929703591
	.story Before we have the Olympus OM-D MFT cameras, we had the Olympus OM series. Looking at the Olympus OM-10 on display, I could see how the design of the original OM series shaped the design of the OM-D digital cameras. The Leica R5 is a more modern looking design of the Leica series. We played with some box cameras that were so large, it had to be placed on a table. We used our digital camera to take a photo of the image projected through the imaging lens onto the fresnel focus screen. Now, that's a photo of a photo - trippy.
	.photoset(data-layout="13")
	27972967286
	27393669883
	27929703881
	27929703051

.group
	h2 Leaving Thoughts
	.story Some parts of Penang were well-preserved. It was like time travelling back and still having all your modern amenities and gadgets. Taller buildings have sprung up and may continue to replace the old shophouses. Visit them before they are gone.
	.photoset(data-layout="1")
	27929697781

