<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="theme-color" content="#000000">
		<meta content='{{ page.cover }}' property='og:image'/>
		<meta content='{{ page.excerpt | escape }}' property='og:description'/>
		<title>{% if page.title %}{{ page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Roboto+Condensed:700'>
		<link rel="stylesheet" href="/css/colorbox.css" />
		<link rel="stylesheet" href="/css/exposure.css" />
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
		<link rel="icon" type="image/png" href="https://1.bp.blogspot.com/-rYVKRmqGt_g/V8oRNJLfpVI/AAAAAAABY_4/O8JqxWY1vVsYH3nVkvkSKSQJA7MUMEIbwCLcB/s152/E-8.jpg" />
    <link rel="manifest" href="/manifest.json">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
		<script src="/js/exposure.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox-min.js"></script>
	</head>
	<style>
	</style>
	<body>
		<div class="wrapper">
			{{ content }}

			{% if page.collection == "travel" %}
				{% assign items = site.travel | sort: 'date' %}
				{% assign prev = 0 %}
				{% assign next = 0 %}
				{% for c in items %}
					{% if next == 1 %}
					{% assign next = c %}
					{% break %}
					{% endif %}
					{% if c.url == page.url %}
						{% if c != forloop.last %}
							{% assign next = 1 %}
						{% endif %}
						{% else %}
						{% assign prev = c %}
						{% endif %}
				{% endfor %}
			<div class="group">
				<p style="margin-bottom: 25px; text-align: center">&#8251;</p>
				<div style="width: 31%; margin-left: 2%; float: left;">
					<a href="{{ prev.url }}">{{ prev.title }} &nbsp;</a>
				</div>
				<div style="width: 34%; float: left; text-align: center">
					<a href="/">Home</a>
				</div>
				<div style="width: 31%; float: left; text-align: right">
					<a href="{{ next.url }}">{{ next.title }} &nbsp;</a>
				</div>
				<div style="clear: both" />
			</div>
			{% endif %}
		</div>
		<footer>
			<div id="copyright"><a href="http://elvinellis.com">&copy; Elvin &amp; Ellis </a>2013<img src="https://c.statcounter.com/10403974/0/54511e28/1/" /></div>
		</footer>
	</body>
</html>
